<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>新建地图</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form ref="form" :rules="rules" :model="form" label-width="140px">
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="名称（英文）" prop="name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="名称（中文）" prop="name_cn">
              <el-input v-model="form.name_cn" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="状态" prop="state">
              <el-select v-model="form.state" placeholder="请选择" style="width: 100%">
                <el-option label="正常" value="1" />
                <el-option label="移除" value="2" />
              </el-select>
            </el-form-item>
          </el-col>

        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="官方ID" prop="external_id">
              <el-input v-model="form.external_id	" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="官方名称" prop="external_name">
              <el-input v-model="form.external_name	" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="简称" prop="short_name">
              <el-input v-model="form.short_name" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8" :offset="0">
            <el-form-item label="地图类型" prop="map_type">
              <el-select v-model="form.map_type" placeholder="请选择" style="width: 100%">
                <el-option label="炸弹拆除" value="1" />
                <el-option label="人质解救" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="默认地图" prop="is_default">
              <el-select v-model="form.is_default" placeholder="请选择" style="width: 100%">
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="Slug" prop="slug">
              <el-input v-model="form.slug" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8" :offset="0">
            <el-row>
              <el-form-item label="方形图标" prop="square_image">
                <el-upload
                  class="avatar-uploader"
                  :action="getUploadUrl()"
                  :on-success="uploads_square"
                  :before-upload="beforeAvatarUpload"
                >
                  <img v-if="form.square_image" style="width: 168px;height: 84px" :src="form.square_image" class="avatar">
                  <i v-else class="el-icon-plus avatar-uploader-icon" />
                </el-upload>
              </el-form-item>
            </el-row>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-row>
              <el-form-item label="长方形图标" prop="rectangle_image">
                <el-upload
                  class="avatar-uploader"
                  :action="getUploadUrl()"
                  :on-success="uploads_rectangle"
                  :before-upload="beforeAvatarUpload"
                >
                  <img v-if="form.rectangle_image" style="width: 225px;height: 28px" :src="form.rectangle_image" class="avatar">
                  <i v-else class="el-icon-plus avatar-uploader-icon" />
                </el-upload>
              </el-form-item>
            </el-row>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-row>
              <el-form-item label="缩略图" prop="thumbnail">
                <el-upload
                  class="avatar-uploader"
                  :action="getUploadUrl()"
                  :on-success="uploads_thumbnail"
                  :before-upload="beforeAvatarUpload"
                >
                  <img v-if="form.thumbnail" style="width: 230px;height: 155px" :src="form.thumbnail" class="avatar">
                  <i v-else class="el-icon-plus avatar-uploader-icon" />
                </el-upload>
              </el-form-item>
            </el-row>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <div style="padding-top: 45px;text-align: center">
            <el-button type="primary" @click="onSubmit('form')">确认创建</el-button>
          </div>
        </el-row>
      </el-form>
    </el-card>
  </div>
</template>
<script>
import { getUploadBaseApi } from '@/api/file.js'
import { csgo_map_edit } from '@/api/metadata'
export default {
  name: 'Add',
  data() {
    const generateData = _ => {
      const data = []
      const cities = ['上海', '北京', '广州', '深圳', '南京', '西安', '成都']
      const pinyin = ['shanghai', 'beijing', 'guangzhou', 'shenzhen', 'nanjing', 'xian', 'chengdu']
      cities.forEach((city, index) => {
        data.push({
          label: city,
          key: index,
          pinyin: pinyin[index]
        })
      })
      return data
    }
    return {
      url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
      textarea: '',
      form: {
        name: '',
        name_cn: '',
        state: '',
        external_name: '',
        external_id: '',
        short_name: '',
        map_type: '',
        is_default: '',
        square_image: '',
        rectangle_image: '',
        thumbnail: '',
        slug: ''
      },
      data: generateData(),
      value: [],
      filterMethod(query, item) {
        return item.pinyin.indexOf(query) > -1
      },
      rules: {
        name: [
          { required: true, message: '请输入英文名称', trigger: 'change' }
        ],
        name_cn: [
          { required: true, message: '请输入中文名称', trigger: 'change' }
        ],
        state: [
          { required: true, message: '请选择状态', trigger: 'change' }
        ],
        external_name: [
          { required: true, message: '请输入官方名称', trigger: 'change' }
        ],
        short_name: [
          { required: true, message: '请输入简称', trigger: 'change' }
        ],
        map_type: [
          { required: true, message: '请选择地图类型', trigger: 'change' }
        ],
        is_default: [
          { required: true, message: '请选择默认地图', trigger: 'change' }
        ],
        square_image: [
          { required: true, message: '请上传方形图标', trigger: 'change' }
        ],
        rectangle_image: [
          { required: true, message: '请上传长方形图标', trigger: 'change' }
        ],
        thumbnail: [
          { required: true, message: '请上传缩略图', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入slug', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    'form.name': {
      handler: function() {
        this.form.slug = this.$yangJian.slug_rule(this.form.name)
      }
    }
  },
  methods: {
    beforeAvatarUpload(file) {
      console.log('file')
      console.log(file)
      // const isPNG = file.type === 'image/png || svg'
      const testmsg = file.type === 'image/png'
      const isLt1M = file.size / 1024 / 1024 < 1
      if (!testmsg) {
        this.$message.error('只能上传PNG格式!')
        return false
      }
      if (!isLt1M) {
        this.$message({
          message: '上传图标大小不能超过 1MB!',
          type: 'error'
        })
        return false
      }
      return testmsg || isLt1M
    },
    uploads_square(res, file) {
      this.form.square_image = res.data.url
    },
    uploads_rectangle(res, file) {
      this.form.rectangle_image = res.data.url
    },
    uploads_thumbnail(res, file) {
      this.form.thumbnail = res.data.url
    },
    getUploadUrl() {
      return getUploadBaseApi()
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          params['name'] = this.form.name
          params['name_cn'] = this.form.name_cn
          params['state'] = this.form.state
          params['external_name'] = this.form.external_name
          params['external_id'] = this.form.external_id
          params['map_type'] = this.form.map_type
          params['map_type_cn'] = this.form.map_type
          params['is_default'] = this.form.is_default
          params['slug'] = this.form.slug
          params['square_image'] = this.form.square_image
          params['rectangle_image'] = this.form.rectangle_image
          params['thumbnail'] = this.form.thumbnail
          params['short_name'] = this.form.short_name
          csgo_map_edit(params).then(req => {
            this.$message({
              type: 'success',
              message: '添加成功！'
            })
            this.$router.push('/gamecenter/dataManage/csgo/map/list')
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
