<template>
  <div>
    <!-- 实时数据量 -->
    <div class="d-flex" style="padding-bottom: 10px">
      <div v-for="(item,index) in sources" :key="index" class="d-flex visiteds" style="margin-left: 15px;margin-top: 4px;cursor: pointer; " @click="subInfo(item.name)">
        <div :style="{'background-color':item.color}" class="bg1" />
        <div style="margin-left: 4px">{{ item.name }}</div>
      </div>
    </div>
    <Echart
      v-if="options.series.length>0"
      id="dataSize"
      :options="options"
      height="5.55rem"
      width="100%"
    />
  </div>
</template>

<script>
  import { realTimeData } from '@/api/chart'
import Echart from '@/common/echart'
import * as echarts from 'echarts'
export default {
  components: {
    Echart
  },
  data() {
    return {
      sources: [],
      timer: '',
      data_list: [],
      options: {
        title: {
          // text: '实时数据量',
          // subtext: '纯属虚构'
        },
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          data:['意向','预购','成交']
        },
        toolbox: {
          show: true,
          feature: {
            // magicType: {show: true, type: ['stack', 'tiled']},
            // saveAsImage: {show: true}
          }
        },
        xAxis: {
          type: 'category',
          boundaryGap: false,
          data: ['周一','周二','周三','周四','周五','周六','周日']
        },
        yAxis: {
          type: 'value'
        },
        series: []
      }
    }
  },
  mounted() {
    this.getInfo()
    this.timer = setInterval(this.get, 60000)
  },
  beforeDestroy() {
    clearInterval(this.timer)
  },
  methods: {
    get() {
      this.getInfo()
    },
    subInfo(name) {
      this.options.series = []
      var game_colors = [
        { name: 'CSGO', color: '#F99D01' }, { name: 'LOL', color: '#2E76BD' }, { name: 'DOTA2', color: '#E9483B' }, { name: 'KOG', color: '#FACA88' },
        { name: 'OW', color: '#646872' }, { name: 'SC2', color: '#7494B2' }, { name: 'HS', color: '#66451B' }, { name: 'PUBG', color: '#C96400' },
        { name: 'R6', color: '#3A3A3A' }, { name: 'COD', color: '#e8e8e8' }, { name: 'RL', color: '#174570' }, { name: 'Valorant', color: '#D85361' },
        { name: 'WoW', color: '#FBD059' }, { name: 'SMITE', color: '#2B3956' }, { name: 'HotS', color: '#4D84BA' }, { name: 'Smash', color: '#D33424' },
        { name: 'SC', color: '#43505C' }, { name: 'Fortnite', color: '#624B90' }, { name: 'FIFA', color: '#79A872' }, { name: 'HoN', color: '#27889B' },
        { name: 'CF', color: '#316E55' }, { name: 'AOV', color: '#A7AFBE' }, { name: 'NBA', color: '#3D5CCA' }
      ]

      var list = this.data_list[name]
      list.forEach(item => {
        this.options.legend.data.push(item.game_name)
        var tmp = {
          name: '成交',
          type: 'line',
          smooth: true,
          data: [10, 12, 21, 54, 260, 830, 710],
          itemStyle: {
            color: "rgba(146, 79, 79, 1)"
          }
        }
        var err = Object.values(item)
        tmp.name = item.game_name
        tmp.data = err[1]
        game_colors.forEach(color => {
          if (color.name.toLocaleLowerCase() == item.game_name.toLocaleLowerCase()) {
            tmp.itemStyle.color = color.color
            this.options.series.push(tmp)
            console.log('dkvmkvmvf', tmp)
          }
        })
      })
    },
    getInfo() {
      var data = [
        { name: 'abios', value: 20, itemStyle: { color: '#DA3227' }},
        { name: 'pandascore', value: 20, itemStyle: { color: '#B201DE' }},
        { name: 'orange', value: 20, itemStyle: { color: '#F8AD33' }},
        { name: 'five', value: 20, itemStyle: { color: '#5BB1F3' }},
        { name: 'riotgames', value: 20, itemStyle: { color: '#FFFFFF' }},
        { name: 'hltv', value: 20, itemStyle: { color: '#3E6EA0' }},
        { name: 'valve', value: 20, itemStyle: { color: '#145285' }},
        { name: 'bayesplus', value: 20, itemStyle: { color: '#17BC91' }}
      ]
      this.sources = []
      const params = {}
      realTimeData(params).then(res => {
        this.data_list = res.data
        this.options.xAxis.data = this.data_list.date
        var name_list = Object.keys(this.data_list)
        name_list.forEach(item => {
          var tmp = { name: '', color: '' }
          tmp.name = item
          data.forEach(color => {
            if (item == color.name) {
              tmp.color = color.itemStyle.color
              this.sources.push(tmp)
            }
          })
        })
        this.subInfo(Object.keys(this.data_list)[0])
      })
    }
  }
}
</script>

<style scoped>
  .bg1 {
    width: 25px;
    height: 13px;
    border-radius: 3px;
    /*background-color: red;*/
  }
  .d-flex {
    display: flex;
    justify-content: center;
    font-size: 14px;
  }
  div:visited {
    color: #999; text-decoration: line-through;
  }
</style>
