<template>
  <div>
    <el-row>
      <el-col :span="10" :offset="1">
        <el-form-item label="比赛地图">
          <el-select v-model="form.map" placeholder="请选择" style="width: 100%">
            <el-option label="未开始" value="1" />
            <el-option label="进行中" value="2" />
            <el-option label="已结束" value="3" />
            <el-option label="已弃权" value="4" />
            <el-option label="已取消" value="5" />
            <el-option label="已推迟" value="6" />
            <el-option label="已删除" value="7" />
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="10" :offset="1" class="higths">
        <el-form-item label="实际开始时间">
          <el-date-picker
            v-model="form.match_begin_date"
            type="datetime"
            value-format="yyyy-MM-dd hh:mm:ss"
            style="width: 100%"
          />
        </el-form-item>
      </el-col>
      <el-col :span="10" :offset="0" class="higths">
        <el-form-item label="实际结束时间">
          <el-date-picker
            v-model="form.match_begin_date"
            type="datetime"
            value-format="yyyy-MM-dd hh:mm:ss"
            style="width: 100%"
          />
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="10" :offset="1">
        <el-form-item label="状态">
          <el-select v-model="form.match_status" placeholder="请选择" style="width: 100%">
            <el-option label="未开始" value="1" />
            <el-option label="进行中" value="2" />
            <el-option label="已结束" value="3" />
            <el-option label="已弃权" value="4" />
            <el-option label="已取消" value="5" />
            <el-option label="已推迟" value="6" />
            <el-option label="已删除" value="7" />
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="10" :offset="0">
        <el-form-item label="对局时长">
          <el-input v-model="form.duration" />
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="4">
        <el-form-item label="获胜方" />
      </el-col>
      <el-col :span="4" :offset="1" style="text-align: center">
        <el-input v-model="names" :disabled="true" placeholder="主队名称" />
        <el-input v-model="form.team_1_score" placeholder="主队比分" />
      </el-col>
      <el-col :span="4" :offset="0" style="text-align: center">
        <p style=" font-size: 15px; color: red">VS</p>
      </el-col>
      <el-col :span="4" :offset="0" style="text-align: center">
        <el-input v-model="names" :disabled="true" placeholder="主队名称" />
        <el-input v-model="form.team_2_score" placeholder="客队比分" />
      </el-col>
      <el-col :span="3" :offset="2">
        <el-button type="primary" size="small" @click="resteinfo">重置</el-button>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="4" :offset="5" style="padding-top: 15px; text-align: center">
        <el-radio v-model="form.status_type" label="1">获胜</el-radio>
      </el-col>
      <el-col :span="4" :offset="0" style="padding-top: 15px; text-align: center">
        <el-radio v-model="form.status_type" label="2">平局</el-radio>
      </el-col>
      <el-col :span="4" style="padding-top: 15px; text-align: center">
        <el-radio v-model="form.status_type" label="3">获胜</el-radio>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="13" style="padding-top: 30px; text-align: center">
        <el-radio v-model="form.status_type" label="4">单独弃权</el-radio>
      </el-col>
      <el-col :span="4" style="padding-top: 30px; text-align: center">
        <el-radio v-model="form.status_type" label="5">单独弃权</el-radio>
      </el-col>
    </el-row>
    <el-row style="padding-top: 30px">
      <el-col :span="10" :offset="2">
        <el-form-item label="默认领先战队">
          <el-select v-model="form.match_status" placeholder="请选择">
            <el-option label="未开始" value="1" />
            <el-option label="进行中" value="2" />
            <el-option label="已结束" value="3" />
            <el-option label="已弃权" value="4" />
            <el-option label="已取消" value="5" />
            <el-option label="已推迟" value="6" />
            <el-option label="已删除" value="7" />
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="10" :offset="1">
        <el-form-item label="是否有对局详情数据">
          <el-select v-model="form.match_status" placeholder="请选择">
            <el-option label="未开始" value="1" />
            <el-option label="进行中" value="2" />
            <el-option label="已结束" value="3" />
            <el-option label="已弃权" value="4" />
            <el-option label="已取消" value="5" />
            <el-option label="已推迟" value="6" />
            <el-option label="已删除" value="7" />
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  name: 'Yxinfo',
  props: ['value'],
  data() {
    return {
      names: '',
      form: {
        team_1_score: '',
        team_2_score: '',
        duration: '',
        map: '',
        status_type: '',
        confrontation_begin_date: ''
      }
    }
  },
  watch: {
    'form': {
      handler: function() {
        this.$emit('input', this.form)
      },
      deep: true
    }
  },
  mounted() {
    this.form = this.value
  },
  methods: {
    resteinfo() {
      this.form.status_type = ''
      this.form.confrontation_begin_date = ''
    }
  }
}
</script>

<style scoped>

</style>
