<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>新建比赛</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-tabs type="border-card" :before-leave="(item)=>{return beforeLeave(item, 'core_data')}">
        <el-tab-pane label="核心内容">
          <el-form ref="core_data" :rules="rules" :model="core_data" label-width="140px">
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="游戏项目" prop="game">
                  <el-select v-model="core_data.game" placeholder="请选择" style="width: 100%" @change="proving()">
                    <el-option
                      v-for="(item,index) in games"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="比赛规则" prop="game_rules">
                  <el-select v-model="core_data.game_rules" placeholder="请选择" style="width: 100%">
                    <el-option
                      v-for="(item,index) in game_rules_list"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="比赛类型" prop="match_type">
                  <el-select v-model="core_data.match_type" placeholder="请选择" style="width: 100%">
                    <el-option
                      v-for="(item,index) in game_match_type_list"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="8" :offset="0">
                <el-form-item label="赛制局数" prop="number_of_games">
                  <el-select v-model="core_data.number_of_games" placeholder="请选择" style="width: 100%">
                    <el-option label="1" value="1" />
                    <el-option label="2" value="2" />
                    <el-option label="3" value="3" />
                    <el-option label="4" value="4" />
                    <el-option label="5" value="5" />
                    <el-option label="6" value="6" />
                    <el-option label="7" value="7" />
                    <el-option label="8" value="8" />
                    <el-option label="9" value="9" />
                    <el-option label="10" value="10" />
                    <el-option label="11" value="11" />
                    <el-option label="12" value="12" />
                    <el-option label="13" value="13" />
                    <el-option label="14" value="14" />
                    <el-option label="15" value="15" />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="7" :offset="0">
                <el-form-item label="所属赛事" prop="tournament_id">
                  <el-select
                    v-model="core_data.tournament_id"
                    filterable
                    remote
                    placeholder="请选择(可搜索)"
                    :remote-method="remoteMethod"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="item in gameinfo"
                      :key="item.id"
                      :label="item.name+' ('+item.id+')'"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="1">
                <p
                  style="text-align: center;height:32px;margin:0px; display:table-cell;
  vertical-align:middle; "
                >
                  <el-button style="padding-left: 15px" type="text" @click="onSearchTeam">搜索</el-button>
                </p>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="所属分组">
                  <el-cascader
                    v-model="core_data.relation"
                    :options="options"
                    :show-all-levels="false"
                    style="width: 100%"
                    clearable
                  />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="8" :offset="0">
                <el-form-item label="计划开始时间" prop="scheduled_begin_at">
                  <el-date-picker
                    v-model="core_data.scheduled_begin_at"
                    type="datetime"
                    value-format="yyyy-MM-dd HH:mm:ss"
                    placeholder="选择日期时间"
                    style="width: 100%"
                  />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="原计划开始时间" prop="original_scheduled_begin_at">
                  <el-date-picker
                    v-model="core_data.original_scheduled_begin_at"
                    type="datetime"
                    value-format="yyyy-MM-dd HH:mm:ss"
                    placeholder="选择日期时间"
                    style="width: 100%"
                    disabled
                  />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="是否调整了时间表" prop="is_rescheduled">
                  <el-select v-model="core_data.is_rescheduled" placeholder="请选择" style="width: 100%" disabled>
                    <el-option label="是" value="1" />
                    <el-option label="否" value="2" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="主队" prop="team_1_id">
                  <el-select v-model="core_data.team_1_id" placeholder="请选择主队" style="width: 100%">
                    <el-option
                      v-for="item in get_search_teaminfo"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="客队" prop="team_2_id">
                  <el-select v-model="core_data.team_2_id" placeholder="请选择客队" style="width: 100%"><el-option
                    v-for="item in get_search_teaminfo"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="Slug" prop="slug">
                  <el-input v-model="core_data.slug" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit('core_data')">确认创建</el-button>
              </div>
            </el-row>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="基础内容">
          <el-form label-width="140px">
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="比赛地点（英文）">
                  <el-input v-model="base_data.location" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="比赛地点（中文）">
                  <el-input v-model="base_data.location_cn" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="轮次">
                  <el-input v-model="base_data.round_order" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">

              <el-col :span="8" :offset="0">
                <el-form-item label="轮次名称（英文）">
                  <el-input v-model="base_data.round_name" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="轮次名称（中文）">
                  <el-input v-model="base_data.round_name_cn" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="游戏版本">
                  <el-input v-model="base_data.game_version" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="描述(英文)">
                  <el-input
                    v-model="base_data.description"
                    type="textarea"
                    :rows="4"
                    maxlength="1000"
                    show-word-limit
                  />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="描述(中文)">
                  <el-input
                    v-model="base_data.description_cn"
                    type="textarea"
                    :rows="4"
                    maxlength="1000"
                    show-word-limit
                  />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="对阵表位置">
                  <el-input
                    v-model="base_data.bracket_pos"
                    type="textarea"
                    :rows="4"
                    maxlength="1000"
                    show-word-limit
                  />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit('core_data')">确认创建</el-button>
              </div>
            </el-row>
          </el-form>
        </el-tab-pane>
      </el-tabs>
    </el-card>
  </div>
</template>
<script>
import { tournamentTree, get_tournament_team } from '@/api/tournament'
import { get_match_edit, get_tournament, get_search_team } from '@/api/match'
import { mapGetters } from 'vuex'
import { get_enums } from '@/api/common'
export default {
  name: 'Add',
  data() {
    return {
      infos: false,
      search_info: '',
      game_match_type_list: [],
      all_game_match_type_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      game_rules_list: [],
      all_rules_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      'core_data': {
        'game': '',
        'tournament_id': '',
        'team_1_id': '',
        'team_2_id': '',
        'game_rules': '',
        'match_type': '',
        'number_of_games': '',
        'original_scheduled_begin_at': '',
        'scheduled_begin_at': '',
        'slug': '',
        'is_rescheduled': '2',
        'relation': ''
      },
      'base_data': {
        'location': '',
        'location_cn': '',
        'round_order': '',
        'game_version': '',
        'round_name': '',
        'round_name_cn': '',
        'bracket_pos': '',
        'description': '',
        'description_cn': ''
      },
      typeList: [{
        value: 'Best of',
        label: 'Best of'
      },
      {
        value: 'OW Best of',
        label: 'OW Best of'
      },
      {
        value: 'First to',
        label: 'First to'
      },
      {
        value: 'Best ranking',
        label: 'Best ranking'
      }],
      tournament_team_list: {},
      options: [
        { id: '',
          value: '空',
          type: '空',
          parent_id: '空',
          label: '空'
        }
      ],
      get_search_teaminfo: [],
      get_group_info: [],
      get_stage_info: [],
      game_son_info: [],
      gameinfo: [],
      textarea: '',
      form: {
        is_rescheduled: '2',
        game: '',
        slug: '2',
        bracket_pos: '',
        match_type: '',
        number_of_games: '',
        tournament_id: '',
        game_rules: '',
        son_tournament_id: '',
        stage_id: '',
        relation: '',
        team_1_id: '',
        team_2_id: '',
        scheduled_begin_at: '',
        original_scheduled_begin_at: '',
        location: '',
        location_cn: '',
        round_order: '',
        game_version: '',
        round_type: '',
        round_sort: '',
        round_name_cn: '',
        round_name: '',
        son_round_name: '',
        son_round_name_cn: '',
        description: '',
        description_cn: ''
      },
      rules: {
        match_type: [
          { required: true, message: '请选择比赛类型', trigger: 'change' }
        ],
        game: [
          { required: true, message: '请选择游戏项目', trigger: 'change' }
        ],
        number_of_games: [
          { required: true, message: '请选择赛制局数', trigger: 'change' }
        ],
        tournament_id: [
          { required: true, message: '请选择所属赛事', trigger: 'change' }
        ],
        team_1_id: [
          { required: true, message: '请选择主队', trigger: 'change' }
        ],
        team_2_id: [
          { required: true, message: '请选择客队', trigger: 'change' }
        ],
        scheduled_begin_at: [
          { required: true, message: '请选择计划开始时间', trigger: 'change' }
        ],
        original_scheduled_begin_at: [
          { required: true, message: '请选择原计划开始时间', trigger: 'change' }
        ],
        is_rescheduled: [
          { required: true, message: '请选择', trigger: 'change' }
        ],
        game_rules: [
          { required: true, message: '请选择', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    'core_data.team_1_id': {
      handler() {
        this.slug_info()
      }
    },
    'core_data.team_2_id': {
      handler() {
        this.slug_info()
      }
    },
    'core_data.game': {
      handler() {
        this.gamelist()
        this.core_data.tournament_id = ''
        this.core_data.relation = ''
        this.options = [
          { id: '',
            value: '空',
            type: '空',
            parent_id: '空',
            label: '空'
          }
        ]
      }
    },
    'core_data.tournament_id': {
      handler() {
        this.core_data.team_1_id = ''
        this.core_data.team_2_id = ''
        this.game_son_list()
        this.core_data.relation = ''
        this.get_tournament_team_list()
      }
    },
    'core_data.scheduled_begin_at': {
      handler: function() {
        this.core_data.original_scheduled_begin_at = this.core_data.scheduled_begin_at
        this.slug_info()
      }
    },
    'core_data.relation': {
      handler() {
        this.core_data.team_1_id = ''
        this.core_data.team_2_id = ''
        this.get_search_team_list()
        if (this.core_data.relation.length <= 1) {
          this.get_tournament_team_list()
        }
      }
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  mounted() {
    this.get_game_match_type_list()
    this.get_game_rules()
  },
  methods: {
    onSearchTeam() {
      this.infos = true
      const params = {}
      if (this.search_info) {
        params['search_type'] = 'name'
        params['search_value'] = this.search_info
      }
      params['game_id'] = this.core_data.game
      get_tournament(params).then(req => {
        this.gameinfo = req.data.list
        this.search_info = ''
      })
    },
    remoteMethod(query) {
      this.search_info = query
      if (this.search_info) {
        const params = {}
        params['search_value'] = this.search_info
        params['game_id'] = this.core_data.game
        get_tournament(params).then(req => {
          this.gameinfo = req.data.list
        })
      }
    },
    proving(id) {
      this.allgames.forEach(item => {
        if (this.core_data.game) {
          this.core_data.game_rules = '' + item.default_game_rule
          this.core_data.match_type = '' + item.default_match_type
        }
      })
    },
    get_game_rules() {
      const params = {}
      params['type'] = 'game_rules'
      get_enums(params).then(req => {
        this.game_rules_list = req.data
        // this.game_rules_list['0'] = this.all_rules_list
      })
    },
    get_game_match_type_list() {
      const params = {}
      params['type'] = 'game_match_type'
      get_enums(params).then(req => {
        this.game_match_type_list = req.data
        // this.game_match_type_list['0'] = this.all_game_match_type_list
      })
    },
    slug_info() {
      var name1 = ''
      var name2 = ''
      if (this.core_data.team_1_id) {
        this.get_search_teaminfo.forEach(item => {
          if (item.id === this.core_data.team_1_id) {
            name1 = item.name
          }
        })
        this.get_search_teaminfo.forEach(item => {
          if (item.id === this.core_data.team_2_id) {
            name2 = item.name
          }
        })
      }
      this.core_data.slug = this.$yangJian.slug_rule(name1) + '_vs_' + this.$yangJian.slug_rule(name2) + '_' + this.core_data.original_scheduled_begin_at.substr(0, 10).replace(/-/g, '_')
    },
    get_tournament_team_list() {
      const params = {}
      params['id'] = this.core_data.tournament_id
      params['type'] = 'son_tournament'
      get_tournament_team(params).then(req => {
        // this.tournament_team_list = req.data
        var tmp = req.data
        this.get_search_teaminfo = [{ name: 'TBD', id: '-1' }]
        this.get_search_teaminfo.push.apply(this.get_search_teaminfo, tmp)
      })
    },
    get_search_team_list() {
      const params = {}
      params['group_id'] = this.core_data.relation[this.core_data.relation.length - 1]
      get_search_team(params).then(req => {
        // this.get_search_teaminfo = req.data.list
        var tmp = req.data.list
        this.get_search_teaminfo = [{ name: 'TBD', id: '-1' }]
        this.get_search_teaminfo.push.apply(this.get_search_teaminfo, tmp)
      })
    },
    game_son_list() {
      const params = {}
      params['id'] = this.core_data.tournament_id
      params['type'] = 'only_group'
      tournamentTree(params).then(req => {
        this.options = [
          { id: '',
            value: '空',
            type: '空',
            parent_id: '空',
            label: '空'
          }
        ]
        if (req.data.length > 0) {
          var obj = req.data
          var m = {}
          for (var i in obj) {
            m = obj[i]
          }
          function conver(m) {
            const tmp = {
              id: m.id,
              value: m.primary_key,
              type: m.type,
              parent_id: m.parent_id,
              label: kk(m)
            }
            if (m.son) {
              tmp['children'] = []
              for (var i in m.son) {
                tmp.children.push(conver(m.son[i]))
              }
            }
            function kk(m) {
              if (m.type === '1') {
                return '赛事：' + m.tree_name
              }
              if (m.type === '2') {
                return '子赛事：' + m.tree_name
              }
              if (m.type === '3') {
                return '阶段：' + m.tree_name
              }
              if (m.type === '4') {
                return '分组：' + m.tree_name
              }
              if (m.type === '5') {
                return '目录：' + m.tree_name
              }
            }
            return tmp
          }
          var options = [conver(m)]
          this.options.push(options[0])
        }
      })
    },
    gamelist() {
      const params = {}
      params['game_id'] = this.core_data.game
      get_tournament(params).then(req => {
        this.gameinfo = req.data.list
      })
    },
    beforeLeave(item, formName) {
      console.log('old')
      console.log(formName)
      if (item === '0') {
        return true
      } else {
        let k = true
        this.$refs[formName].validate((valid) => {
          if (valid) {
            k = true
          } else {
            this.$message.error('请填写完整必填项')
            k = false
          }
        })
        return k
      }
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          var core_data_info = { ...this.core_data }
          if (core_data_info.relation.length > 1) {
            core_data_info.relation = JSON.stringify(this.core_data.relation)
            core_data_info.group_id = this.core_data.relation[this.core_data.relation.length - 1]
          } else {
            core_data_info.group_id = ''
            core_data_info.relation = JSON.stringify(this.core_data.relation)
          }
          params['core_data'] = core_data_info
          params['base_data'] = this.base_data
          get_match_edit(params).then(req => {
            this.$message({
              type: 'success',
              message: '添加成功！'
            })
            this.$router.push('/gamecenter/match/matchinfo/list')
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
