<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>编辑比赛</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-tabs v-model="activeName" type="border-card">
        <el-tab-pane label="核心内容">
          <el-form ref="core_data" :rules="rules" :model="core_data" label-width="140px">
            <el-row type="flex" class="row-bg">
              <el-col :span="8" ::offset="0">
                <el-form-item label="数据源">
                  <el-select v-if="form.data_config.config" v-model="form.data_config.config['match.update_data'].origin_id" style="width: 100%" disabled>
                    <el-option
                      v-for="(item,index) in $store.getters.enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" ::offset="0">
                <el-form-item label="更新方式">
                  <el-select v-if="form.data_config.config" v-model="form.data_config.config['match.update_data'].update_type" style="width: 100%" disabled>
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="游戏项目" prop="game">
                  <el-select v-model="core_data.game" placeholder="请选择" style="width: 100%" disabled>
                    <el-option
                      v-for="(item,index) in games"
                      :key="index"
                      :label="item.name"
                      :value="''+ item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="比赛规则" prop="game_rules">
                  <el-select v-model="core_data.game_rules" placeholder="请选择" style="width: 100%" disabled>
                    <el-option
                      v-for="(item,index) in game_rules_list"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    />
                  </el-select>
                  <div v-if="updateInfo.core_data.game_rules||updateInfo.core_data.game_rules==''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.game_rules?game_rules_list[updateInfo.core_data.game_rules].name:'' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="core_data.game_rules = updateInfo.core_data.game_rules">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="比赛类型" prop="match_type">
                  <el-select v-model="core_data.match_type" placeholder="请选择" style="width: 100%">
                    <el-option
                      v-for="(item,index) in game_match_type_list"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    />
                  </el-select>
                  <div v-if="updateInfo.core_data.match_type || updateInfo.core_data.match_type == ''">
                    <span class="upDate">变更为：<span style="color: red">
                      {{ updateInfo.core_data.match_type?game_match_type_list[updateInfo.core_data.match_type].name:'空' }}
                    </span></span>
                    <el-button type="primary" size="mini" plain @click="core_data.match_type = updateInfo.core_data.match_type">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="8" :offset="0">
                <el-form-item label="赛制局数" prop="number_of_games">
                  <el-select v-model="core_data.number_of_games" placeholder="请选择" style="width: 100%">
                    <el-option label="1" value="1" />
                    <el-option label="2" value="2" />
                    <el-option label="3" value="3" />
                    <el-option label="4" value="4" />
                    <el-option label="5" value="5" />
                    <el-option label="6" value="6" />
                    <el-option label="7" value="7" />
                    <el-option label="8" value="8" />
                    <el-option label="9" value="9" />
                    <el-option label="10" value="10" />
                    <el-option label="11" value="11" />
                    <el-option label="12" value="12" />
                    <el-option label="13" value="13" />
                    <el-option label="14" value="14" />
                    <el-option label="15" value="15" />
                  </el-select>
                  <div v-if="updateInfo.core_data.number_of_games || updateInfo.core_data.number_of_games == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.number_of_games?updateInfo.core_data.number_of_games:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="core_data.number_of_games = updateInfo.core_data.number_of_games">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="所属赛事" prop="tournament_id">
                  <el-select
                    v-model="core_data.tournament_id"
                    filterable
                    placeholder="请选择(可搜索)"
                    style="width: 100%"
                    disabled
                  >
                    <el-option
                      v-for="item in gameinfo"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="所属分组">
                  <el-cascader
                    v-model="core_data.relation"
                    :options="options"
                    :show-all-levels="false"
                    style="width: 100%"
                    clearable
                  />
                  <div v-if="updateInfo.core_data.relation || updateInfo.core_data.relation == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.relation?updateInfo.core_data.relation:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="core_data.relation = updateInfo.core_data.relation">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <!--            <el-row type="flex" class="row-bg">-->
            <!--              <el-col :span="8" :offset="0">-->
            <!--                <el-form-item label="子赛事">-->
            <!--                  <el-select v-model="form.son_tournament_id" placeholder="请选择子赛事">-->
            <!--                    <el-option-->
            <!--                      v-for="item in game_son_info"-->
            <!--                      :key="item.id"-->
            <!--                      :label="item.match_name"-->
            <!--                      :value="item.id"-->
            <!--                    />-->
            <!--                  </el-select>-->
            <!--                  <div>-->
            <!--                    <span>变更为：<span style="color: red">avd</span></span>-->
            <!--                    <el-button type="primary" size="mini" plain @click="1">应用</el-button>-->
            <!--                  </div>-->
            <!--                </el-form-item>-->
            <!--              </el-col>-->
            <!--              <el-col :span="8" :offset="0">-->
            <!--                <el-form-item label="阶段">-->
            <!--                  <el-select v-model="form.stage_id" placeholder="请选择阶段">-->
            <!--                    <el-option-->
            <!--                      v-for="item in get_stage_info"-->
            <!--                      :key="item.id"-->
            <!--                      :label="item.stage_name"-->
            <!--                      :value="item.id"-->
            <!--                    />-->
            <!--                  </el-select>-->
            <!--                  <div>-->
            <!--                    <span>变更为：<span style="color: red">avd</span></span>-->
            <!--                    <el-button type="primary" size="mini" plain @click="1">应用</el-button>-->
            <!--                  </div>-->
            <!--                </el-form-item>-->
            <!--              </el-col>-->
            <!--              -->
            <!--            </el-row>-->
            <el-row>
              <el-col :span="8" :offset="0">
                <el-form-item label="计划开始时间" prop="scheduled_begin_at">
                  <el-date-picker
                    v-model="core_data.scheduled_begin_at"
                    type="datetime"
                    value-format="yyyy-MM-dd HH:mm:ss"
                    placeholder="选择日期时间"
                    style="width: 100%"
                  />
                  <div v-if="updateInfo.core_data.scheduled_begin_at || updateInfo.core_data.scheduled_begin_at == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.scheduled_begin_at?updateInfo.core_data.scheduled_begin_at:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="core_data.scheduled_begin_at = updateInfo.core_data.scheduled_begin_at">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="原计划开始时间" prop="original_scheduled_begin_at">
                  <el-date-picker
                    v-model="core_data.original_scheduled_begin_at"
                    type="datetime"
                    value-format="yyyy-MM-dd HH:mm:ss"
                    placeholder="选择日期时间"
                    style="width: 100%"
                    disabled
                  />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="是否调整了时间表" prop="is_rescheduled">
                  <el-select v-model="core_data.is_rescheduled" placeholder="请选择" style="width: 100%" disabled>
                    <el-option label="是" value="1" />
                    <el-option label="否" value="2" />
                  </el-select>
                  <div v-if="updateInfo.core_data.is_rescheduled || updateInfo.core_data.is_rescheduled == ''">
                    <span class="upDate">变更为：<span style="color: red">
                      <span v-if="updateInfo.core_data.is_rescheduled==1">是</span>
                      <span v-if="updateInfo.core_data.is_rescheduled==2">否</span>
                    </span></span>
                    <el-button type="primary" size="mini" plain @click="core_data.is_rescheduled = updateInfo.core_data.is_rescheduled">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="主队" prop="team_1_id">
                  <el-select v-model="core_data.team_1_id" placeholder="请选择主队" style="width: 100%">
                    <el-option
                      v-for="(item,index) in get_search_teaminfo"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    />
                  </el-select>
                  <div v-if="updateInfo.core_data.team_1_id">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.team_1_name?updateInfo.core_data.team_1_name:updateInfo.core_data.team_1_id }}</span></span>
                    <el-button type="primary" size="mini" plain @click="core_data.team_1_id = updateInfo.core_data.team_1_id">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="客队" prop="team_2_id">
                  <el-select v-model="core_data.team_2_id" placeholder="请选择客队" style="width: 100%"><el-option
                    v-for="(item,index) in get_search_teaminfo"
                    :key="index"
                    :label="item.name"
                    :value="item.id"
                  />
                  </el-select>
                  <div v-if="updateInfo.core_data.team_2_id">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.team_2_name?updateInfo.core_data.team_2_name:updateInfo.core_data.team_2_id }}</span></span>
                    <el-button type="primary" size="mini" plain @click="core_data.team_2_id = updateInfo.core_data.team_2_id">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="Slug" prop="slug">
                  <el-input v-model="core_data.slug" />
                  <div v-if="updateInfo.core_data.slug">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.slug }}</span></span>
                    <el-button type="primary" size="mini" plain @click="core_data.slug = updateInfo.core_data.slug">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col v-if="updateInfo.core_data.deleted" :span="8" :offset="0">
                <el-form-item label="是否删除">
                  <el-select v-model="core_data.deleted" style="width: 100%" disabled>
                    <el-option label="是" value="1" />
                    <el-option label="否" value="2" />
                  </el-select>
                  <div v-if="updateInfo.core_data.deleted || updateInfo.core_data.deleted == ''">
                    <span class="upDate">变更为：<span style="color: red">
                      <span v-if="updateInfo.core_data.deleted == '1'">是</span>
                      <span v-if="updateInfo.core_data.deleted == '2'">否</span>
                    </span></span>
                    <el-button type="primary" size="mini" plain @click="core_data.deleted = updateInfo.core_data.deleted">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 15px;text-align: center">
                <el-button type="primary" @click="onSubmit('core_data')">确认修改</el-button>
              </div>
            </el-row>
            <div type="flex" class="row-bg" style="padding-top: 20px">
              <el-col v-for="(item,index) in binding_list" :key="index" :span="8">
                <el-col :span="20" ::offset="0">
                  <el-form-item :label="item.desc">
                    <el-input v-model="item.standard_id" disabled />
                  </el-form-item>
                </el-col>
                <el-col :span="4">
                  <el-form>
                    <el-form-item style="text-align: right">
                      <el-button type="text" @click="unbundle(item.id)">解绑</el-button>
                    </el-form-item>
                  </el-form>
                </el-col>
              </el-col>
            </div>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="基础内容">
          <el-form label-width="140px">
            <el-row type="flex" class="row-bg">
              <el-col :span="8" ::offset="0">
                <el-form-item label="数据源">
                  <el-select v-if="form.data_config.config" v-model="form.data_config.config['match.update_data'].origin_id" style="width: 100%" disabled>
                    <el-option
                      v-for="(item,index) in $store.getters.enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" ::offset="0">
                <el-form-item label="更新方式">
                  <el-select v-if="form.data_config.config" v-model="form.data_config.config['match.update_data'].update_type" style="width: 100%" disabled>
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="比赛地点（英文）">
                  <el-input v-model="base_data.location" />
                  <div v-if="updateInfo.base_data.location || updateInfo.base_data.location == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.location?updateInfo.base_data.location:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="base_data.location = updateInfo.base_data.location">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="比赛地点（中文）">
                  <el-input v-model="base_data.location_cn" />
                  <div v-if="updateInfo.base_data.location_cn || updateInfo.base_data.location_cn == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.location_cn?updateInfo.base_data.location_cn:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="base_data.location_cn = updateInfo.base_data.location_cn">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="轮次">
                  <el-input v-model="base_data.round_order" />
                  <div v-if="updateInfo.base_data.round_order || updateInfo.base_data.round_order == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.round_order?updateInfo.base_data.round_order:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="base_data.round_order = updateInfo.base_data.round_order">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">

              <el-col :span="8" :offset="0">
                <el-form-item label="轮次名称（英文）">
                  <el-input v-model="base_data.round_name" />
                  <div v-if="updateInfo.base_data.round_name || updateInfo.base_data.round_name == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.round_name?updateInfo.base_data.round_name:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="base_data.round_name = updateInfo.base_data.round_name">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="轮次名称（中文）">
                  <el-input v-model="base_data.round_name_cn" />
                  <div v-if="updateInfo.base_data.round_name_cn || updateInfo.base_data.round_name_cn == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.round_name_cn?updateInfo.base_data.round_name_cn:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="base_data.round_name_cn = updateInfo.base_data.round_name_cn">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="游戏版本">
                  <el-input v-model="base_data.game_version" />
                  <div v-if="updateInfo.base_data.game_version || updateInfo.base_data.game_version == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.game_version?updateInfo.base_data.game_version:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="base_data.game_version = updateInfo.base_data.game_version">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="描述（英文）">
                  <el-input
                    v-model="base_data.description"
                    type="textarea"
                    :rows="4"
                    maxlength="1000"
                    show-word-limit
                  />
                  <div v-if="updateInfo.base_data.description || updateInfo.base_data.description == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.description?updateInfo.base_data.description:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="base_data.description = updateInfo.base_data.description">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="描述（中文）">
                  <el-input
                    v-model="base_data.description_cn"
                    type="textarea"
                    :rows="4"
                    maxlength="1000"
                    show-word-limit
                  />
                  <div v-if="updateInfo.base_data.description_cn || updateInfo.base_data.description_cn == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.description_cn?updateInfo.base_data.description_cn:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="base_data.description_cn = updateInfo.base_data.description_cn">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="对阵表位置">
                  <el-input
                    v-model="base_data.bracket_pos"
                    type="textarea"
                    :rows="4"
                    maxlength="1000"
                    show-word-limit
                  />
                  <div v-if="updateInfo.base_data.bracket_pos || updateInfo.base_data.bracket_pos == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.bracket_pos?updateInfo.base_data.bracket_pos:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="base_data.bracket_pos = updateInfo.base_data.bracket_pos">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit('core_data')">确认修改</el-button>
              </div>
            </el-row>
          </el-form>
        </el-tab-pane>
      </el-tabs>
    </el-card>
  </div>
</template>
<script>
import { get_tournament, get_stage, get_group, get_search_team, get_match_detail, get_match_edit } from '@/api/match'
import { tournamentTree, get_tournament_team } from '@/api/tournament'
import { get_binding_info } from '@/api/binding'
import { close_bing, get_enums } from '@/api/common'
import { mapGetters } from 'vuex'
import { data_change_detail } from '@/api/data'
export default {
  name: 'Edit',
  data() {
    return {
      binding_list: [],
      game_match_type_list: [],
      all_game_match_type_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      game_rules_list: [],
      all_rules_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      activeName: '0',
      updateInfo: {
        core_data: {},
        base_data: {},
        team_player_relation: {}
      },
      'core_data': {
        'game': '',
        'tournament_id': '',
        'match_rule_id': '',
        'son_tournament_id': '',
        'stage_id': '',
        'group_id': '',
        'team_1_id': '',
        'team_2_id': '',
        'game_rules': '',
        'match_type': '',
        'number_of_games': '',
        'original_scheduled_begin_at': '',
        'scheduled_begin_at': '',
        'slug': '',
        'is_rescheduled': '',
        'relation': '',
        'deleted': '',
        'cuser': '',
        'created_at': '',
        'modified_at': '',
        'deleted_at': ''
      },
      'base_data': {
        'match_id': '',
        'location': '',
        'location_cn': '',
        'round_order': '',
        'game_version': '',
        'round_name': '',
        'round_name_cn': '',
        'bracket_pos': '',
        'description': '',
        'description_cn': ''
      },
      isSlug1: 0,
      isSlug2: 0,
      isSlug3: 0,
      typeList: [{
        value: 'Best of',
        label: 'Best of'
      },
      {
        value: 'OW Best of',
        label: 'OW Best of'
      },
      {
        value: 'First to',
        label: 'First to'
      },
      {
        value: 'Best ranking',
        label: 'Best ranking'
      }],
      isInt: 1,
      options: [
        { id: '',
          value: '空',
          type: '空',
          parent_id: '空',
          label: '空'
        }
      ],
      req: {},
      get_search_teaminfo: [],
      get_group_info: [],
      get_stage_info: [],
      game_son_info: [],
      gameinfo: [],
      textarea: '',
      form: {
        slug: '',
        game: '',
        tournament_id: '',
        number_of_games: '',
        match_type: '',
        game_rules: '',
        son_tournament_id: '',
        stage_id: '',
        relation: '',
        team_1_id: '',
        team_2_id: '',
        is_rescheduled: '',
        scheduled_begin_at: '',
        original_scheduled_begin_at: '',
        location: '',
        location_cn: '',
        round_order: '',
        game_version: '',
        round_type: '',
        round_sort: '',
        round_name_cn: '',
        round_name: '',
        bracket_pos: '',
        description: '',
        description_cn: '',
        data_config: []
      },
      rules: {
        match_type: [
          { required: true, message: '请选择比赛类型', trigger: 'change' }
        ],
        game: [
          { required: true, message: '请选择游戏项目', trigger: 'change' }
        ],
        number_of_games: [
          { required: true, message: '请选择赛制局数', trigger: 'change' }
        ],
        tournament_id: [
          { required: true, message: '请选择所属赛事', trigger: 'change' }
        ],
        team_1_id: [
          { required: true, message: '请选择主队', trigger: 'change' }
        ],
        team_2_id: [
          { required: true, message: '请选择客队', trigger: 'change' }
        ],
        scheduled_begin_at: [
          { required: true, message: '请选择计划开始时间', trigger: 'change' }
        ],
        original_scheduled_begin_at: [
          { required: true, message: '请选择原计划开始时间', trigger: 'change' }
        ],
        is_rescheduled: [
          { required: true, message: '请选择', trigger: 'change' }
        ],
        game_rules: [
          { required: true, message: '请选择', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入', trigger: 'change' }
        ]
      }
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  watch: {
    'core_data.team_1_id': {
      handler() {
        if (this.isSlug1 === 1) {
          this.isSlug1 = 0
        } else {
          this.slug_info()
        }
      }
    },
    'core_data.team_2_id': {
      handler() {
        if (this.isSlug2 === 1) {
          this.isSlug2 = 0
        } else {
          this.slug_info()
        }
      }
    },
    'core_data.relation': {
      handler() {
        if (this.isInt) {
          this.core_data.team_1_id = ''
          this.core_data.team_2_id = ''
        }
        if (this.core_data.relation) {
          if (this.core_data.relation.length <= 1) {
            this.get_tournament_team_list()
          } else {
            this.get_search_team_list()
          }
        }
      }
    },
    'core_data.game': {
      handler() {
        this.gamelist()
        if (this.isInt) {
          this.core_data.tournament_id = ''
          this.core_data.relation = ''
          this.options = [
            { id: '',
              value: '空',
              type: '空',
              parent_id: '空',
              label: '空'
            }
          ]
        }
      }
    },
    'core_data.tournament_id': {
      handler() {
        this.game_son_list()
        if (this.isInt) {
          this.core_data.relation = ''
        }
        this.isInt = 1
        if (!this.core_data.relation) {
          this.get_tournament_team_list()
        }
      }
    },
    'core_data.scheduled_begin_at': {
      handler: function() {
        if (this.isSlug3 === 1) {
          this.isSlug3 = 0
        } else {
          this.slug_info()
        }
        if (this.core_data.original_scheduled_begin_at === this.core_data.scheduled_begin_at) {
          this.core_data.is_rescheduled = '2'
        } else {
          this.core_data.is_rescheduled = '1'
        }
      }
    }
  },
  mounted() {
    if (this.$route.query.upId) {
      setTimeout(() => {
        this.get_game_match_type_list()
        this.get_game_rules()
        this.getinfo()
        this.upInfo()
        this.getBindingInfo()
      }, 500)
    } else {
      this.get_game_match_type_list()
      this.get_game_rules()
      this.getinfo()
      this.upInfo()
      this.getBindingInfo()
    }
  },
  methods: {
    // 规则
    get_game_rules() {
      const params = {}
      params['type'] = 'game_rules'
      get_enums(params).then(req => {
        this.game_rules_list = req.data
        // this.game_rules_list['0'] = this.all_rules_list
      })
    },
    // 比赛类型
    get_game_match_type_list() {
      const params = {}
      params['type'] = 'game_match_type'
      get_enums(params).then(req => {
        this.game_match_type_list = req.data
        // this.game_match_type_list['0'] = this.all_game_match_type_list
      })
    },
    upInfo() {
      if (this.$route.query.tag_type) {
        this.tag_type = this.$route.query.tag_type
        this.beforeLeave()
        const params = {}
        params['id'] = this.$route.query.upId
        data_change_detail(params).then(req => {
          var infoList = req.data.change_info
          this.update(infoList, req.data.tag_type)
        })
      }
    },
    update(data, type) {
      var infos = {}
      switch (type) {
        case 'core_data':
          for (var i in data) {
            var k_name = data[i].key
            if (k_name == 'team_1_id') {
              infos[k_name] = '' + data[i].after
              infos.team_1_name = data[i].team_name
            } else if (k_name == 'team_2_id') {
              infos[k_name] = '' + data[i].after
              infos.team_2_name = data[i].team_name
            } else {
              infos[k_name] = data[i].after
            }
          }
          this.updateInfo.core_data = infos
          break
        case 'base_data':
          for (var k in data) {
            k_name = data[k].key
            infos[k_name] = data[k].after
          }
          this.updateInfo.base_data = infos
          break
      }
    },
    beforeLeave() {
      if (this.tag_type === 'core_data') {
        this.activeName = '0'
      }
      if (this.tag_type === 'base_data') {
        this.activeName = '1'
      }
    },
    slug_info() {
      var name1 = ''
      var name2 = ''
      if (this.core_data.team_1_id) {
        this.get_search_teaminfo.forEach(item => {
          if (item.id === this.core_data.team_1_id) {
            name1 = item.name
          }
        })
        this.get_search_teaminfo.forEach(item => {
          if (item.id === this.core_data.team_2_id) {
            name2 = item.name
          }
        })
        this.core_data.slug = this.$yangJian.slug_rule(name1) + '_vs_' + this.$yangJian.slug_rule(name2) + '_' + this.core_data.original_scheduled_begin_at.substr(0, 10).replace(/-/g, '_')
      } else {
        this.core_data.slug = ''
      }
    },
    get_tournament_team_list() {
      const params = {}
      params['id'] = this.core_data.tournament_id
      params['type'] = 'son_tournament'
      get_tournament_team(params).then(req => {
        // this.tournament_team_list = req.data
        // this.get_search_teaminfo = req.data
        var tmp = req.data
        this.get_search_teaminfo = [{ name: 'TBD', id: '-1' }]
        this.get_search_teaminfo.push.apply(this.get_search_teaminfo, tmp)
        if (this.isSlug4 === 1) {
          this.isSlug4 = 0
        } else {
          this.slug_info()
        }
      })
    },
    get_search_team_list() {
      const params = {}
      params['group_id'] = this.core_data.relation[this.core_data.relation.length - 1]
      get_search_team(params).then(req => {
        // this.get_search_teaminfo = req.data.list
        var tmp = req.data.list
        this.get_search_teaminfo = [{ name: 'TBD', id: '-1' }]
        this.get_search_teaminfo.push.apply(this.get_search_teaminfo, tmp)
        if (this.isSlug5 === 1) {
          this.isSlug5 = 0
        } else {
          this.slug_info()
        }
      })
    },
    getBindingInfo() {
      const params = {}
      params['master_id'] = this.$route.query.id
      params['type'] = 'match'
      get_binding_info(params).then(req => {
        this.binding_list = req.data
      })
    },
    unbundle(id) {
      if (id) {
        this.$confirm('确认解绑？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const params = {}
          params['standard_id'] = id
          params['type'] = 'match'
          close_bing(params).then(req => {
            this.$message({
              type: 'success',
              message: '解绑成功！'
            })
            this.getBindingInfo()
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          })
        })
      } else {
        this.$message({
          type: 'info',
          message: '没有绑定关系'
        })
      }
    },
    getinfo() {
      const params = {}
      // params['id'] = this.$route.query.id
      params['id'] = this.$route.query.id
      get_match_detail(params).then(req => {
        this.core_data = req.data.core_data
        if (req.data.base_data) {
          this.base_data = req.data.base_data
        }
        // this.form = req.data[0]
        if (req.data.core_data.relation) {
          this.core_data.relation = JSON.parse(req.data.core_data.relation)
        }
        this.form.data_config = req.data.data_config
        this.isInt = 0
        // this.core_data.match_type = req.data.core_data.match_type.split('_')[0]
        this.isSlug1 = 1
        this.isSlug2 = 1
        this.isSlug3 = 1
        this.isSlug4 = 1
        this.isSlug5 = 1
      })
    },
    game_group_list() {
      const params = {}
      params['tournament_id'] = this.form.tournament_id
      get_group(params).then(req => {
        this.get_group_info = req.data.list
      })
    },
    game_stage_list() {
      const params = {}
      params['tournament_id'] = this.form.tournament_id
      get_stage(params).then(req => {
        this.get_stage_info = req.data.list
      })
    },
    game_son_list() {
      const params = {}
      params['id'] = this.core_data.tournament_id
      params['type'] = 'only_group'
      tournamentTree(params).then(req => {
        if (req.data.length > 0) {
          var obj = req.data
          var m = {}
          for (var i in obj) {
            m = obj[i]
          }
          function conver(m) {
            const tmp = {
              id: m.id,
              value: m.primary_key,
              type: m.type,
              parent_id: m.parent_id,
              label: kk(m)
            }
            if (m.son) {
              tmp.children = []
              for (var i in m.son) {
                tmp.children.push(conver(m.son[i]))
              }
            }
            function kk(m) {
              if (m.type === '1') {
                return '赛事：' + m.tree_name
              }
              if (m.type === '2') {
                return '子赛事：' + m.tree_name
              }
              if (m.type === '3') {
                return '阶段：' + m.tree_name
              }
              if (m.type === '4') {
                return '分组：' + m.tree_name
              }
              if (m.type === '5') {
                return '目录：' + m.tree_name
              }
            }
            return tmp
          }
          var options = [conver(m)]
          this.options.push(options[0])
        }
      })
    },
    gamelist() {
      const params = {}
      params['search_type'] = 'id'
      params['search_value'] = this.core_data.tournament_id
      params['game_id'] = this.core_data.game
      get_tournament(params).then(req => {
        this.gameinfo = req.data.list
      })
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          if (this.$route.query.upId) {
            params['todo_id'] = this.$route.query.upId
          }
          params['id'] = this.$route.query.id
          var core_data_info = { ...this.core_data }
          if (core_data_info.relation) {
            if (core_data_info.relation.length > 1) {
              core_data_info.relation = JSON.stringify(this.core_data.relation)
              core_data_info.group_id = this.core_data.relation[this.core_data.relation.length - 1]
            } else {
              core_data_info.group_id = ''
              core_data_info.relation = JSON.stringify(this.core_data.relation)
            }
          }
          params['core_data'] = core_data_info
          params['base_data'] = this.base_data
          get_match_edit(params).then(req => {
            this.$message({
              type: 'success',
              message: '编辑成功！'
            })
            if (this.$route.query.upId) {
              this.$router.push('/gamecenter/update/updateinfo/list')
            } else {
              this.$router.push('/gamecenter/match/matchinfo/list')
            }
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
  .upDate{
    font-weight: bold;
    color:#606266;
    font-size: 14px
  }
</style>
