<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>比赛管理</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="req" :inline="true" label-width="100px" size="mini">
        <el-row>
          <el-col :span="6">
            <el-form-item label="游戏项目:">
              <el-select v-model="req.game_id" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in allgames"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="状态:">
              <el-select v-model="req.status" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in match_state_list"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="比赛规则:">
              <el-select v-model="req.game_rules" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in game_rules_list"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="比赛类型:">
              <el-select v-model="req.match_type" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in game_match_type_list"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="计划时间:">
              <el-date-picker
                v-model="req.timeAreaBegin"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="赛事名称:">
              <el-input v-model="req.name" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="分组名称:">
              <el-input v-model="req.group_name" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="4" :offset="2">
            <el-form-item>
              <el-button type="primary" @click="getupdate">各游戏项目整体更新设置</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="变更时间:">
              <el-date-picker
                v-model="req.timeAreaEnd"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="参赛战队:">
              <el-input v-model="req.team_name" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="ELS ID:">
              <el-input v-model="req.id" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="4" :offset="2">
            <el-form-item>
              <el-button type="primary" @click="findInfo">搜索</el-button>
              <el-button type="primary" style="margin-left: 50px" @click="getadd">新建</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-dialog
          v-if="dialogVisible"
          title="更新设置"
          :visible.sync="dialogVisible"
          width="50%"
        >
          <div>
            <el-form>
              <el-row type="flex" class="row-bg" align="middle">
                <el-col :span="2">
                  <img :src="allgames[matchInfo.game].logo" style="width: 44px; height: 44px">
                </el-col>
                <el-col :span="20">
                  {{ matchInfo.name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  {{ matchInfo.main_team_name }}&nbsp;&nbsp;&nbsp;VS&nbsp;&nbsp;&nbsp;{{ matchInfo.other_team_name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  ELS ID: {{ matchInfo.match_id }}
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="4" :offset="0">
                  <el-form-item>赛程更新：</el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="使用数据源">
                    <el-select v-model="config_info.config['match.update_data'].origin_id" placeholder="请选择">
                      <el-option
                        v-for="(item,index) in enum_origin_list"
                        :key="index"
                        :label="item.desc"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="操作方式">
                    <el-select v-model="config_info.config['match.update_data'].update_type" placeholder="请选择">
                      <el-option label="不更新" value="1" />
                      <el-option label="手动" value="2" />
                      <el-option label="自动" value="3" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="4" :offset="0">
                  <el-form-item>实时比分录入：</el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="使用数据源">
                    <el-select v-model="config_info.config['match.score_data'].origin_id" placeholder="请选择">
                      <el-option
                        v-for="(item,index) in enum_origin_list"
                        :key="index"
                        :label="item.desc"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="操作方式">
                    <el-select v-model="config_info.config['match.score_data'].update_type" placeholder="请选择">
                      <el-option label="手动" value="2" />
                      <el-option label="自动" value="3" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg" justify="space-around" />
            </el-form>
          </div>
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="onSubmit">确认修改</el-button>
          </span>
        </el-dialog>
      </el-form>
      <el-table
        :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'14px',height:'40px',textAlign:'center'}"
        :cell-style="{textAlign:'center',padding:'3px'}"
        :data="tableData"
        :cell-class-name="delLine"
        :row-class-name="tableRowClassName"
        :style="{'width':'100%'}"
      >
        <el-table-column prop="id" :label="'ELS\n比赛ID'" />
        <el-table-column prop="logo" :label="'游戏\n项目'">
          <template slot-scope="scope">
            <img :src="scope.row.logo" style="width: 20px;height: 20px">
          </template>
        </el-table-column>
        <el-table-column prop="name" label="赛事名称" />
        <el-table-column prop="group_name" label="分组名称">
          <template slot-scope="scope">
            <p>{{ scope.row.group_name?scope.row.group_name:'空' }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="game_rules" label="比赛规则">
          <template slot-scope="scope">
            <p>{{ scope.row.game_rules? game_rules_list[scope.row.game_rules].name?game_rules_list[scope.row.game_rules].name:'' : '' }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="match_type" label="比赛类型">
          <template slot-scope="scope">
            <p>{{ scope.row.match_type? game_match_type_list[scope.row.match_type].name?game_match_type_list[scope.row.match_type].name:'' : '' }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="number_of_games" label="赛制局数" />
        <el-table-column prop="main_logo" label="主队图标">
          <template slot-scope="scope">
            <img v-if="scope.row.main_logo" :src="scope.row.main_logo" style="width: 66px;height: 66px">
            <img v-else src="../../../../assets/img/WechatIMG31.png" style="width: 66px;height: 66px">
          </template>
        </el-table-column>
        <el-table-column prop="main_team_name" label="主队">
          <template slot-scope="scope">
            <p>{{ scope.row.team_1_id == -1? 'TBD' : scope.row.main_team_name }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="other_logo" label="客队图标">
          <template slot-scope="scope">
            <img v-if="scope.row.other_logo" :src="scope.row.other_logo" style="width: 66px;height: 66px">
            <img v-else src="../../../../assets/img/WechatIMG31.png" style="width: 66px;height: 66px">
          </template>
        </el-table-column>
        <el-table-column prop="other_team_name" label="客队">
          <template slot-scope="scope">
            <p>{{ scope.row.team_2_id == -1? 'TBD' : scope.row.other_team_name }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="scheduled_begin_at" :label="'计划\n开始日期'" width="100px" />
        <el-table-column prop="status" label="比赛状态">
          <template slot-scope="scope">
            <p v-if="scope.row.status&&match_state_list[scope.row.status]">{{ scope.row.status? match_state_list[scope.row.status].name : '' }}</p>
            <div v-if="scope.row.team_1_score">
              <span v-if="1*scope.row.team_1_score > 1*scope.row.team_2_score" style="color: #50BB3E">{{ scope.row.team_1_score }} </span>
              <span v-if="1*scope.row.team_1_score == 1*scope.row.team_2_score" style="color: #50BB3E">{{ scope.row.team_1_score }} </span>
              <span v-if="1*scope.row.team_1_score < 1*scope.row.team_2_score" style="color: red">{{ scope.row.team_1_score }} </span>
              <span>VS</span>
              <span v-if="1*scope.row.team_1_score < 1*scope.row.team_2_score" style="color: #50BB3E"> {{ scope.row.team_2_score }}</span>
              <span v-if="1*scope.row.team_1_score ==1*scope.row.team_2_score" style="color: #50BB3E"> {{ scope.row.team_2_score }}</span>
              <span v-if="1*scope.row.team_1_score > 1*scope.row.team_2_score" style="color: red"> {{ scope.row.team_2_score }}</span>
            </div>
          </template>
        </el-table-column>
        <el-table-column :label="'已绑定\n数据源'" width="100px">
          <template slot-scope="scope">
            <div v-for="(item,index) in scope.row.binding_info" :key="index">
              <el-popover
                placement="top-start"
                width="400"
                trigger="hover"
              >
                <span v-for="(item1,index1) in item" :key="index1">{{ item1.standard_id }}<span v-if="item.length !== index1+1">,</span></span>
                <el-button slot="reference" type="text">
                  <div style="display: flex;align-items: center;justify-content: center">
                    <img :src="item[0].enum_origin_image" style="height: 20px;width: 20px;margin-right: 3px"><span> ({{ item.length }})</span>
                  </div>
                </el-button>
              </el-popover>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="days" :label="'数据源\n/更新方式'" width="110px">
          <template slot-scope="scope">
            <!--            <div v-if="scope.row.update_config.config">-->
            <!--              <span v-if="scope.row.update_config.config['match.create_data'].update_type === '1'" class="status-align">创建：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['match.create_data'].origin_id)"></img>  <div class="status-point" style=" background-color:red" /></span>-->
            <!--              <span v-if="scope.row.update_config.config['match.create_data'].update_type === '2'" class="status-align">创建：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['match.create_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#E6A23C" /></span>-->
            <!--              <span v-if="scope.row.update_config.config['match.create_data'].update_type === '3'" class="status-align">创建：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['match.create_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#67C23A" /></span>-->
            <!--            </div>-->
            <!--            <div v-if="scope.row.update_config.config">-->
            <!--              <span v-if="scope.row.update_config.config['match.binding_data'].update_type === '1'" class="status-align">绑定：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['match.binding_data'].origin_id)"></img>  <div class="status-point" style=" background-color:red" /></span>-->
            <!--              <span v-if="scope.row.update_config.config['match.binding_data'].update_type === '2'" class="status-align">绑定：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['match.binding_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#E6A23C" /></span>-->
            <!--              <span v-if="scope.row.update_config.config['match.binding_data'].update_type === '3'" class="status-align">绑定：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['match.binding_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#67C23A" /></span>-->
            <!--            </div>-->
            <div v-if="scope.row.update_config.config">
              <span v-if="scope.row.update_config.config['match.update_data'].update_type === '1'" class="status-align">赛程：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['match.update_data'].origin_id)"></img>  <div class="status-point" style=" background-color:red" /></span>
              <span v-if="scope.row.update_config.config['match.update_data'].update_type === '2'" class="status-align">赛程：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['match.update_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#E6A23C" /></span>
              <span v-if="scope.row.update_config.config['match.update_data'].update_type === '3'" class="status-align">赛程：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['match.update_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#67C23A" /></span>
            </div>
            <div v-if="scope.row.update_config.config">
              <span v-if="scope.row.update_config.config['match.score_data'].update_type === '1'" class="status-align">录入：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['match.score_data'].origin_id)"></img>  <div class="status-point" style=" background-color:red" /></span>
              <span v-if="scope.row.update_config.config['match.score_data'].update_type === '2'" class="status-align">录入：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['match.score_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#E6A23C" /></span>
              <span v-if="scope.row.update_config.config['match.score_data'].update_type === '3'" class="status-align">录入：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['match.score_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#67C23A" /></span>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="rel_identity_id" :label="'比分录入数据源\n比赛ID'">
          <template slot-scope="scope">
            <div v-if="scope.row.update_config.config">
              <div v-if="scope.row.update_config.config['match.score_data']&&scope.row.update_config.config['match.score_data'].origin_id == '5'">
                <p style="color: #50BB3E">{{ scope.row.rel_identity_id }}</p>
              </div>
              <div v-if="scope.row.update_config.config['match.score_data']&&scope.row.update_config.config['match.score_data'].origin_id != '5'">
                <p v-if="scope.row.is_battle_detailed=='1'" style="color: #50BB3E">{{ scope.row.rel_identity_id }}</p>
                <p v-if="!scope.row.is_battle_detailed || scope.row.is_battle_detailed=='2'" style="color: red">{{ scope.row.rel_identity_id }}</p>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="auto_status" :label="'比分录入\n状态'">
          <template slot-scope="scope">
            <div v-if="scope.row.update_config.config">
              <div v-if="scope.row.update_config.config['match.score_data']&&scope.row.update_config.config['match.score_data'].origin_id == '5'">
                <span v-if="scope.row.is_pbpdata_supported=='1'" style="color: #50BB3E;margin: 5px;cursor: pointer" @click="subReceive(scope.row.rel_identity_id,scope.row.update_config.config['match.score_data'].origin_id)">自动</span>
                <span v-if="scope.row.is_pbpdata_supported=='2'" style="color: #50BB3E;margin: 5px;cursor: pointer" @click="subReceive(scope.row.rel_identity_id,scope.row.update_config.config['match.score_data'].origin_id)">自动</span>
                <span v-if="!scope.row.is_pbpdata_supported" style="color: #50BB3E;margin: 5px;cursor: pointer" @click="subReceive(scope.row.rel_identity_id,scope.row.update_config.config['match.score_data'].origin_id)">自动</span>
                <span v-if="scope.row.update_type == 2" style=";margin: 5px">手动</span>
                <span v-if="scope.row.auto_status==1" class="status-point" style=" background-color:#67C23A" />
                <span v-if="scope.row.auto_status==2" class="status-point" style=" background-color:red" />
              </div>
              <div v-if="scope.row.update_config.config['match.score_data']&&scope.row.update_config.config['match.score_data'].origin_id != '5'">
                <span v-if="scope.row.update_type == 3">
                  <span v-if="scope.row.is_pbpdata_supported=='1'" style="color: #50BB3E;margin: 5px;cursor: pointer" @click="subReceive(scope.row.rel_identity_id,scope.row.update_config.config['match.score_data'].origin_id)">自动</span>
                  <span v-if="scope.row.is_pbpdata_supported=='2'" style="color: red;margin: 5px">自动</span>
                  <span v-if="!scope.row.is_pbpdata_supported" style="color: red;margin: 5px">自动</span>
                </span>
                <span v-if="scope.row.update_type == 2" style=";margin: 5px">手动</span>
                <span v-if="scope.row.auto_status==2" class="status-point" style=" background-color:red" />
                <span v-if="scope.row.auto_status==1" class="status-point" style=" background-color:#67C23A" />
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column :label="'已绑定\n视频源'" width="100px">
          <template slot-scope="scope">
            <div v-for="(item,index) in scope.row.stream_url_info" :key="index">
              <div style="display: flex;align-items: center;justify-content: center">
                <img :src="item.image" style="height: 20px;width: 20px;margin-right: 3px"><span> ({{ item.countNum }})</span>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="created_at" label="创建时间" width="100px" />
        <el-table-column prop="modified_at" label="变更时间" width="100px" />
        <el-table-column label="操作" fixed="right">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="getedit(scope.row.id)">编辑</el-button>
            <el-button type="text" size="small" @click="getwrite(scope.row)">录入</el-button>
            <template v-if="scope.row.deleted == 2">
              <el-button type="text" size="small" style="color: coral" @click="getDel(scope.row.id)">删除</el-button>
            </template>
            <template v-if="scope.row.deleted == 1">
              <el-button type="text" size="small" style="color: green" @click="getReset(scope.row.id)">恢复</el-button>
            </template>
            <el-button type="text" size="small" @click="getUp(scope.row)">更新设置</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="job_status_name" label="操作记录">
          <template slot-scope="scope">
            <span v-if="scope.row.operation">({{ scope.row.operation.count }})</span>
            <span v-if="!scope.row.operation">(0)</span>
            <el-button v-if="scope.row.operation" type="text" size="small" @click="getHistory(scope.row.operation.resource_id,scope.row.operation.resource_type )">操作记录</el-button>
            <el-button v-if="!scope.row.operation" type="text" size="small">操作记录</el-button>
          </template>
        </el-table-column>
      </el-table>

      <div class="over">
        <el-pagination
          class="pager"
          background
          layout="prev, pager, next, jumper"
          :total="total"
          :current-page="req.page"
          :page-size="req.per_page"
          @current-change="changePager"
        />
      </div>
    </el-card>
  </div>
</template>
<script>
import { get_match_list, get_match_del } from '@/api/match'
import { mapGetters } from 'vuex'
import { resource_config_detail, resource_config_edit } from '@/api/data'
import { get_enums } from '@/api/common'
export default {
  name: 'List',
  data() {
    return {
      isWin: false,
      isLose: false,
      match_state_list: [],
      all_match_state_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      game_match_type_list: [],
      all_game_match_type_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      game_rules_list: [],
      all_rules_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      typeList: [
        {
          value: '0',
          label: '全部'
        },
        {
          value: 'Best of',
          label: 'Best of'
        },
        {
          value: 'OW Best of',
          label: 'OW Best of'
        },
        {
          value: 'First to',
          label: 'First to'
        },
        {
          value: 'Best ranking',
          label: 'Best ranking'
        }],
      config_info: {
        config: {
          'match.score_data': {
            origin_id: '',
            update_type: ''
          },
          'match.update_data': {
            origin_id: '',
            update_type: ''
          }
        },
        game: {}
      },
      matchInfo: {
        name: ''
      },
      dialogVisible: false,
      total: 20,
      tableData: [],
      form: {},
      req: {
        match_type: '',
        game_rules: '',
        id: '',
        game_id: '',
        timeAreaBegin: [],
        timeAreaEnd: [],
        status: '',
        team_name: '',
        name: '',
        group_name: '',
        page: 1,
        per_page: 10
      },
      options: [],
      value: ''
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  mounted() {
    this.get_game_rules()
    this.get_match_state()
    this.get_game_match_type_list()
  },
  methods: {
    subReceive(rel_match_id,origin_id) {
      this.$router.push({ path: '/gamecenter/match/matchinfo/receive_list', query: { rel_match_id: rel_match_id, origin_id: origin_id }})
    },
    // 比赛状态
    get_match_state() {
      const params = {}
      params['type'] = 'match_state'
      get_enums(params).then(req => {
        this.match_state_list = req.data
        this.match_state_list['0'] = this.all_match_state_list
      })
    },
    // 规则
    get_game_rules() {
      const params = {}
      params['type'] = 'game_rules'
      get_enums(params).then(req => {
        this.game_rules_list = req.data
        this.game_rules_list['0'] = this.all_rules_list
      })
    },
    // 比赛类型
    get_game_match_type_list() {
      const params = {}
      params['type'] = 'game_match_type'
      get_enums(params).then(req => {
        this.game_match_type_list = req.data
        this.game_match_type_list['0'] = this.all_game_match_type_list
        this.finddata()
      })
    },
    tableRowClassName({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'success-row'
      }
    },
    onSubmit() {
      const params = {}
      params['resource_type'] = 'match'
      params['resource_id'] = this.matchInfo.id
      params['config'] = this.config_info
      resource_config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
      })
      this.dialogVisible = false
    },
    getUp(info) {
      this.dialogVisible = true
      this.matchInfo = info
      const params = {}
      params['resource_type'] = 'match'
      params['resource_id'] = info.id
      resource_config_detail(params).then(req => {
        if (req.data.config) {
          this.config_info = req.data
        }
      })
    },
    delLine({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'del_line'
      }
    },
    getHistory(id, type) {
      this.$router.push({ path: '/gamecenter/update/updateTemplate/operation', query: { id: id, type: type }})
    },
    getedit(id) {
      this.$router.push({ path: '/gamecenter/match/matchinfo/edit', query: { id: id }})
    },
    getwrite(data) {
      switch (data.game) {
        case '1':
          this.$router.push({ path: '/gamecenter/match/matchinfo/write/fkinfo', query: { game_id: data.game_id, match_id: data.match_id }})
          break
        case '2':
          this.$router.push({ path: '/gamecenter/match/matchinfo/write/yxinfo', query: { game_id: data.game_id, match_id: data.match_id }})
          break
        case '3':
          this.$router.push({ path: '/gamecenter/match/matchinfo/write/dota2', query: { game_id: data.game_id, match_id: data.match_id }})
          break
        default:
          this.$router.push({ path: '/gamecenter/match/matchinfo/write/info', query: { game_id: data.game_id, match_id: data.match_id }})
          break
      }
    },
    getReset(id) {
      this.$confirm('确认恢复？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        params['status'] = 2
        get_match_del(params).then(req => {
          this.finddata()
          this.$message({
            type: 'success',
            message: '恢复成功！'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    getDel(id) {
      this.$confirm('确认删除？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        params['status'] = 1
        get_match_del(params).then(req => {
          this.finddata()
          this.$message({
            type: 'success',
            message: '删除成功！'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    getadd() {
      this.$router.push({ path: '/gamecenter/match/matchinfo/add' })
    },
    findInfo() {
      this.req.page = 1
      this.finddata()
    },
    finddata() {
      const params = {}
      params['match_type'] = this.req.match_type
      params['id'] = this.req.id
      params['game_id'] = this.req.game_id
      params['game_rules'] = this.req.game_rules
      params['group_name'] = this.req.group_name
      if (this.req.timeAreaBegin) {
        params['scheduled_begin_at'] = this.req.timeAreaBegin[0]
        params['scheduled_end_at'] = this.req.timeAreaBegin[1]
      }
      if (this.req.timeAreaEnd) {
        params['date_begin'] = this.req.timeAreaEnd[0]
        params['date_end'] = this.req.timeAreaEnd[1]
      }
      params['team_name'] = this.req.team_name
      params['name'] = this.req.name
      params['status'] = this.req.status
      params['page'] = this.req.page
      params['per_page'] = this.req.per_page
      get_match_list(params).then(req => {
        this.tableData = req.data.list
        this.total = 1 * req.data.total
        this.tableData.forEach(item => {
          var tmp = {}
          if (item.binding_info.length > 0) {
            item.binding_info.forEach(info => {
              tmp[info.origin_id] = tmp[info.origin_id] || []
              tmp[info.origin_id].push(info)
            })
            item.binding_info = Object.values(tmp)
          }
        })
      })
    },
    getupdate() {
      this.$router.push({ path: '/gamecenter/match/matchinfo/update' })
    },
    changePager(pageId) {
      this.req.page = pageId
      this.finddata()
    }
  }
}
</script>

<style scoped>
  .reds {
    color: red;
  }
  .greens {
    color: #3a835d;
  }
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
  .status-point {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .status-a {
    vertical-align:middle;
    width: 20px;height: 20px
  }
</style>
