<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>数据列表</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="req" :inline="true" label-width="100px" size="mini">
        <el-row>
          <el-col :span="6">
            <el-form-item label="关键字:">
              <el-input v-model="req.search_data" style="width:220px"/>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="ID:">
              <el-input v-model="req.search_id" style="width:220px"/>
            </el-form-item>
          </el-col>
          <el-col :span="3" :offset="3">
            <el-form-item>
              <el-button type="primary" @click="findInfo">搜 索</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-table
        :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'14spx',height:'40px',textAlign:'center'}"
        :cell-style="{textAlign:'center',padding:'3px'}"
        :data="tableData"
        :style="{'width':'100%'}"
      >
        <el-table-column prop="id" label="ID" width="100px"/>
        <el-table-column prop="game_id" label="game_id" width="90px"/>
        <el-table-column prop="match_id" label="match_id" width="100px">
        </el-table-column>
        <el-table-column prop="origin_id" label="origin_id" width="90px"/>
        <el-table-column prop="round" label="round" width="90px"/>
        <el-table-column prop="type" label="type" width="90px"/>
        <el-table-column prop="match_data" label="match_data" />
        <el-table-column prop="socket_time" label="socket_time" width="110px"/>
        <el-table-column prop="created_at" label="created_at" width="110px"/>
        <el-table-column prop="updated_at" label="updated_at" width="110px"/>
        <el-table-column prop="updated_at" label="操作" width="110px">
          <template slot-scope="scope">
            <el-button type="text" size="small" style="color: coral" @click="getDel(scope.row.id)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>

      <div class="over">
        <el-pagination
          class="pager"
          background
          layout="prev, pager, next"
          :total="total"
          :current-page="req.page"
          :page-size="req.per_page"
          @current-change="changePager"
        />
      </div>
    </el-card>
  </div>
</template>
<script>
import { receive_list, lived_list } from '@/api/match'
  export default {
    data() {
      return {
        allgame: [{ 'id': '0', 'name': '全部', 'e_name': 'all' }],
        all: [{ 'id': '0', 'name': '全部', 'e_name': 'all' }],
        total: 0,
        tableData: [],
        req: {
          search_id: '',
          search_data: '',
          page: 1,
          per_page: 10
        },
        options: [],
        value: ''
      }
    },
    mounted() {
      this.finddata()
    },
    methods: {
      getDel(id) {
        this.$confirm('删除该条记录, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const patams = {}
          patams['lived_id'] = id
          lived_list(patams).then(res => {
            this.$message({
              type: 'success',
              message: '删除成功!'
            })
            this.finddata()
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          });
        });
      },
      changePager(newPage) {
        this.req.page = newPage
        this.finddata()
      },
      findInfo() {
        this.req.page = 1
        this.finddata()
      },
      finddata() {
        const params = {}
        params['rel_match_id'] = this.$route.query.rel_match_id
        params['origin_id'] = this.$route.query.origin_id
        params['search_data'] = this.req.search_data
        params['search_id'] = this.req.search_id
        params['page'] = this.req.page
        params['per_page'] = this.req.per_page
        receive_list(params).then(req => {
          this.tableData = req.data.list
          this.total = 1 * req.data.total
        })
      }
    }
  }
</script>

<style scoped>
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
  .el-input__inner{
    width: 40px;
  }
</style>
