<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>相似绑定</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="form" :inline="true" label-width="100px" size="mini">
        <el-row>
          <el-col :span="1">
            <el-image
              style="width: 50px; height: 50px"
              :src="form.binding_expect_info[0].game_logo"
            />
          </el-col>
          <el-col :span="6">
            <el-form-item label="数据源">
              <el-input v-model="enum_origin_list[form.base.origin_id].desc" :disabled="true" />
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-card>
              <el-row>
                <el-col :span="10" style="margin-top: 30px; margin-right: 30px">
                  <el-image
                    style="width: 150px; height: 100px; padding-left: 50px"
                    :src="form.base.logo"
                  />
                </el-col>
                <el-col :span="12">
                  <p>数据源 ID: {{ form.base.rel_identity_id }}</p>
                  <p>名称: {{ form.base.name }}</p>
                  <p>国家地区: {{ $store.getters.getCountryById(form.base.country) }}</p>
                  <p>别名: {{ form.base.alias }}</p>
                </el-col>
              </el-row>
              <el-row>
                <p>战队选手：</p>
                <el-col v-for="(items,index) in form.base.players" :key="index" :span="4" :offset="0" style="overflow:hidden;white-space: nowrap;margin: 0 4px;text-align: center">
                  <el-image
                    style="width: 50px; height: 50px;text-align: center"
                    :src="items.image"
                  />
                  <el-tooltip :content="items.nick_name" placement="bottom" effect="light">
                    <p style="margin: 0;font-size: 3px;text-align: center;overflow:hidden">{{ items.nick_name?items.nick_name : '&#12288' }}</p>
                  </el-tooltip>
                </el-col>
              </el-row>
            </el-card>
          </el-col>
          <el-col :span="6" align="center">
            <el-form-item>
              <el-button type="primary" size="mini" @click="getAdd()">新增</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-divider />
        <el-row>
          <el-col v-for="(item,index) in form.binding_expect_info" :key="index" :span="8">
            <el-card>
              <el-row>
                <el-col :span="8" style="margin-top: 10px; margin-right: 10px">
                  <el-image
                    style="width: 100px; height: 100px; padding-left: 0px"
                    :src="item.image"
                  />
                </el-col>
                <el-col :span="10">
                  <p>ELS ID: {{ item.id }}</p>
                  <p>名称: {{ item.name? item.name : '' }}</p>
                  <p>国家地区: {{ $store.getters.getCountryById(item.country) }}</p>
                  <p>别名: {{ item.alias }}</p>
                </el-col>
              </el-row>
              <el-row>
                <p>战队选手：</p>
                <div v-if="item.players.length > 0">
                  <el-col v-for="(item1,index) in item.players" :key="index" :span="4" :offset="0" style="overflow:hidden;white-space: nowrap;margin: 0 4px;text-align: center">
                    <el-image
                      style="width: 50px; height: 50px;text-align: center"
                      :src="item1.image"
                    />
                    <el-tooltip :content="item1.nick_name" placement="bottom" effect="light">
                      <p style="margin: 0;font-size: 3px;text-align: center;overflow:hidden">{{ item1.nick_name?item1.nick_name : '&#12288' }}</p>
                    </el-tooltip>
                  </el-col>
                </div>
              </el-row>
              <el-row style="text-align: center;margin-top: 20px">
                <el-form-item>
                  <el-button type="primary" @click="getBind(item.id)">绑定</el-button>
                </el-form-item>
              </el-row>
            </el-card>
          </el-col>
        </el-row>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { binding_team_detail, binding_team_binding, binding_team_add } from '@/api/binding'
import { mapGetters } from 'vuex'
export default {
  name: 'Batchadd',
  data() {
    return {
      name: '',
      playerInfo: [],
      url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
      form: {
        base: {
          logo: '',
          name: ''
        }
      },
      tupian: [
        { url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg', name: 'wang' },
        { url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg', name: 'wang1' },
        { url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg', name: 'wang2' },
        { url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg', name: 'wang3' },
        { url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg', name: 'wang4' },
        { url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg', name: 'wang5' }
      ],
      teamsame: [
        { id: '123', name: 'keyd1', state: '中国1', names: 'name1' },
        { id: '1234', name: 'keyd2', state: '中国2', names: 'name2' },
        { id: '1235', name: 'keyd3', state: '中国3', names: 'name3' }
      ]
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  mounted() {
    this.getInfo()
  },
  methods: {
    getAdd() {
      const params = {}
      params['standard_id'] = this.$route.query.id
      binding_team_add(params).then(req => {
        this.$message({
          type: 'success',
          message: '添加成功！'
        })
        this.$router.push('/gamecenter/team/binding/list')
      })
    },
    getInfo() {
      const params = {}
      params['id'] = this.$route.query.id
      binding_team_detail(params).then(req => {
        this.form = req.data
      })
    },
    getBind(id) {
      const params = {}
      params['standard_id'] = this.$route.query.id
      params['master_id'] = id
      binding_team_binding(params).then(req => {
        // this.playerInfo = req.data
        this.$message({
          type: 'success',
          message: '绑定成功！'
        })
        this.$router.push('/gamecenter/team/binding/list')
      })
    }
  }
}
</script>

<style scoped>

</style>
