<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>战队绑定</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="req" :inline="true" label-width="110px" size="mini">
        <el-row>
          <el-col :span="6">
            <el-form-item label="数据源:">
              <el-select v-model="req.origin_id" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="游戏项目:">
              <el-select v-model="req.game_id" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in allgames"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="处理状态:">
              <el-select v-model="req.deal_status" placeholder="请选择" style="width: 220px">
                <el-option label="全部" value="0" />
                <el-option label="待添加" value="1" />
                <el-option label="待绑定" value="2" />
                <el-option label="待绑定（多个）" value="3" />
                <el-option label="已绑定" value="4" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="ELS国家地区:">
              <el-select v-model="req.country" filterable placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in allcountry"
                  :key="index"
                  :label="item.e_name + ' '+'('+item.name+')'"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="ELS ID:">
              <el-input v-model="req.id" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="数据源ID:">
              <el-input v-model="req.rel_team_id" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="数据源原始ID:">
              <el-input v-model="req.rel_rel_identity_id" style="width: 220px" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="变更时间:">
              <el-date-picker
                v-model="req.timeArea"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="名称:">
              <el-input v-model="req.team_name" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="创建方式:">
              <el-select v-model="req.change_type" clearable placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in change_type_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.desc"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="2" :offset="4">
            <el-form-item>
              <el-button type="primary" @click="findInfo">搜索</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-table
        :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'14px',height:'40px',textAlign:'center'}"
        :cell-style="{textAlign:'center',padding:'3px'}"
        :data="tableData"
        :cell-class-name="delLine"
        :row-class-name="tableRowClassName"
        :style="{'width':'100%'}"
      >
        <el-table-column :label="'处理\n状态'" width="80px">
          <template slot-scope="scope">
            <p v-if="scope.row.deal_status == 1" style="color: green">待添加</p>
            <p v-if="scope.row.deal_status == 3" style="color: red">待绑定(多个)</p>
            <p v-if="scope.row.deal_status == 4">已绑定</p>
            <el-popover
              v-if="scope.row.deal_status == 2"
              placement="top-start"
              title="绑定信息"
              width="400"
              trigger="hover"
            >
              <el-button v-if="scope.row.deal_status == 2" slot="reference" type="text" style="color: red">待绑定</el-button>
              <div>
                <el-row>
                  <el-col :span="12">
                    <p>数据源名称</p>
                    {{ scope.row.name }}
                  </el-col>
                  <el-col :span="12">
                    <p>相关匹配名称</p>
                    <div v-if="scope.row.binding_expect_info[0]">
                      <p>名称：{{ scope.row.binding_expect_info[0].name? scope.row.binding_expect_info[0].name : '' }}</p>
                      <p>全称：{{ scope.row.binding_expect_info[0].full_name?scope.row.binding_expect_info[0].full_name:'' }}</p>
                      <p>简称：{{ scope.row.binding_expect_info[0].short_name?scope.row.binding_expect_info[0].short_name:'' }}</p>
                      <p>别名：{{ scope.row.binding_expect_info[0].alias?scope.row.binding_expect_info[0].alias:'' }}</p>
                    </div>
                  </el-col>
                </el-row>
              </div>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column prop="game_id" :label="'游戏\n项目'">
          <template slot-scope="scope">
            <img v-if="scope.row.game_id" :src="allgames[scope.row.game_id].logo" style="width: 20px;height: 20px">
          </template>
        </el-table-column>
        <el-table-column prop="rel_identity_id" :label="'数据源\n战队ID'" />
        <el-table-column prop="binding_info.id" :label="'ELS\n战队ID'">
          <template slot-scope="scope">
            <p v-if="scope.row.deal_status == 2">{{ scope.row.binding_expect_info?scope.row.binding_expect_info[0].id: '' }}</p>
            <p v-if="scope.row.deal_status !== 2">{{ scope.row.binding_info.id?scope.row.binding_info.id: '' }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="name" :label="'数据源\n名称'">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{scope.row.name}}</p>
          </template>
        </el-table-column>
        <el-table-column prop="logo" :label="'数据源\n图标'">
          <template slot-scope="scope">
            <img v-if="scope.row.logo" :src="scope.row.logo" style="width: 66px;height: 66px">
          </template>
        </el-table-column>
        <el-table-column prop="binding_info.name" :label="'ELS\n名称'">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;" v-if="scope.row.deal_status == 2">{{ scope.row.binding_expect_info?scope.row.binding_expect_info[0].name : '' }}</p>
            <p style="white-space: pre-wrap;" v-if="scope.row.deal_status !== 2">{{ scope.row.binding_info.name }}</p>
          </template>
        </el-table-column>
        <el-table-column :label="'ELS\n图标'">
          <template slot-scope="scope">
            <p v-if="scope.row.deal_status == 2"><img v-if="scope.row.binding_expect_info" :src="scope.row.binding_expect_info[0].image" style="width: 66px;height: 66px"></p>
            <p v-if="scope.row.deal_status !== 2"><img v-if="scope.row.binding_info.image" :src="scope.row.binding_info.image" style="width: 66px;height: 66px"></p>
          </template>
        </el-table-column>
        <el-table-column prop="country_name" :label="'数据源\n国家地区'" />
        <el-table-column prop="els_country_name" :label="'ELS\n国家地区'">
          <template slot-scope="scope">
            <p v-if="scope.row.deal_status == 2">{{ scope.row.binding_expect_info?scope.row.binding_expect_info[0].country_name : '' }}</p>
            <p v-if="scope.row.deal_status !== 2">{{ scope.row.els_country_name }}</p>
          </template>
        </el-table-column>
        <el-table-column label="创建时间" prop="created_at" width="100px" />
        <el-table-column prop="modified_at" label="变更时间" width="100px" />
        <el-table-column prop="change_type" label="创建方式" />
        <el-table-column v-if="$hasAuth('platform|partTimeJob|write')" fixed="right" label="操作">
          <template slot-scope="scope">
            <el-button v-if="scope.row.deal_status == 1" type="text" size="small" :loading="scope.row.fullscreenLoading" @click="getAdd(scope.row.id,scope.row)">新增</el-button>
            <el-button v-if="scope.row.deal_status == 2" type="text" size="small" :loading="scope.row.fullscreenLoading" @click="getAdd(scope.row.id,scope.row)">新增</el-button>
            <el-button v-if="scope.row.deal_status == 3" type="text" size="small" :loading="scope.row.fullscreenLoading" @click="getAdd(scope.row.id,scope.row)">新增</el-button>
            <el-button v-if="scope.row.deal_status == 2" type="text" size="small" @click="getBinding(scope.row.id, scope.row.binding_expect_info[0].id)">绑定</el-button>
            <el-button v-if="scope.row.deal_status == 3" type="text" size="small" @click="getBindingInfo(scope.row.id)">多个相似</el-button>
            <el-button type="text" size="small" @click="getManual(scope.row.id)">手动绑定</el-button>
            <el-button type="text" size="small" @click="getInfo(scope.row.rel_identity_id,scope.row.origin_id,scope.row.game_id)">查看详情</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="job_status_name" label="操作记录">
          <template slot-scope="scope">
            <span v-if="scope.row.operation">({{ scope.row.operation.count }})</span>
            <span v-if="!scope.row.operation">(0)</span>
            <el-button v-if="scope.row.operation" type="text" size="small" @click="getHistory(scope.row.operation.resource_id,scope.row.operation.resource_type )">操作记录</el-button>
            <el-button v-if="!scope.row.operation" type="text" size="small">操作记录</el-button>
          </template>
        </el-table-column>
      </el-table>

      <div class="over">
        <el-pagination
          class="pager"
          background
          layout="prev, pager, next, jumper"
          :total="total"
          :current-page="req.page"
          :page-size="req.per_page"
          @current-change="changePager"
        />
      </div>
    </el-card>
  </div>
</template>
<script>
import { binding_team_list, binding_team_binding, binding_team_add } from '@/api/binding'
import { mapGetters } from 'vuex'
export default {
  name: 'List',
  data() {
    return {
      change_type_list: {},
      total: 20,
      tableData: [],
      req: {
        id: '',
        game_id: '',
        origin_id: '3',
        rel_rel_identity_id: '',
        deal_status: '0',
        country: '',
        team_name: '',
        change_type: '全部',
        rel_team_id: '',
        page: 1,
        per_page: 20
      },
      options: [],
      value: ''
    }
  },
  mounted() {
    this.finddata()
    this.get_change_type()
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  methods: {
    tableRowClassName({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'success-row'
      }
    },
    delLine({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'del_line'
      }
    },
    get_change_type() {
      var tmp = { ...this.enum_origin_list }
      var tmp1 = { desc: '人工' }
      var tmp2 = { desc: '全部' }
      tmp['0'] = tmp2
      tmp['-1'] = tmp1
      this.change_type_list = tmp
    },
    getInfo(rel_identity_id, origin_id, game_id) {
      this.$router.push({ path: '/gamecenter/update/bindingInfo', query: { rel_identity_id: rel_identity_id, origin_id: origin_id, game_id: game_id, resource_type: 'team' }})
    },
    getHistory(id, type) {
      this.$router.push({ path: '/gamecenter/update/updateTemplate/operation', query: { id: id, type: type }})
    },
    getAdd(id, row) {
      row.fullscreenLoading = true
      console.log('row')
      console.log(row)
      const params = {}
      params['standard_id'] = id
      binding_team_add(params).then(req => {
        this.$message({
          type: 'success',
          message: '添加成功！'
        })
        // row.fullscreenLoading = false
        this.finddata()
      }).catch(() => {
        row.fullscreenLoading = false
      })
    },
    getBindingInfo(id) {
      this.$router.push({ path: '/gamecenter/team/binding/batchadd', query: { id: id }})
    },
    getBinding(id, master_id) {
      const params = {}
      params['standard_id'] = id
      params['master_id'] = master_id
      binding_team_binding(params).then(req => {
        this.$message({
          type: 'success',
          message: '绑定成功！'
        })
        this.finddata()
      })
    },
    getManual(id) {
      this.$prompt('请输入绑定ID:', '手动绑定', {
        confirmButtonText: '确认绑定',
        cancelButtonText: '取消',
        inputPattern: /^[0-9]*$/,
        inputErrorMessage: '请输入数字'
      }).then(({ value }) => {
        const params = {}
        params['standard_id'] = id
        params['master_id'] = value
        binding_team_binding(params).then(req => {
          this.$message({
            type: 'success',
            message: '绑定成功！'
          })
          this.finddata()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消绑定'
        })
      })
    },
    findInfo() {
      this.req.page = 1
      this.finddata()
    },
    finddata() {
      const params = {}
      params['id'] = this.req.id
      params['game_id'] = this.req.game_id
      params['origin_id'] = this.req.origin_id
      params['rel_team_id'] = this.req.rel_team_id
      params['rel_rel_identity_id'] = this.req.rel_rel_identity_id
      params['deal_status'] = this.req.deal_status
      params['country'] = this.req.country
      params['team_name'] = this.req.team_name
      params['change_type'] = this.req.change_type
      if (this.req.timeArea) {
        params['date_begin'] = this.req.timeArea[0]
        params['date_end'] = this.req.timeArea[1]
      }
      params['page'] = this.req.page
      params['per_page'] = this.req.per_page
      binding_team_list(params).then(req => {
        this.tableData = req.data.list
        if (this.tableData.length) {
          this.tableData.map(item => {
            this.$set(item, 'fullscreenLoading', false)
            return item
          })
        }
        this.total = 1 * req.data.total
      })
    },
    changePager(pageId) {
      this.req.page = pageId
      this.finddata()
    }
  }
}
</script>

<style scoped>
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
</style>
