<template>
  <!--  添加子赛事-->
  <el-tabs type="border-card">
    <el-tab-pane label="核心内容">
      <el-form ref="core_data" :rules="rules" :model="core_data" label-width="140px" :inline="true">
        <el-row type="flex" class="row-bg">
          <el-col :span="6" :offset="0">
            <el-form-item label="名称（英文）" prop="name">
              <el-input v-model="core_data.name" style="width:250px" />
              <div v-if="updateInfo.core_data.name||updateInfo.core_data.name==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.name?updateInfo.core_data.name:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="core_data.name = updateInfo.core_data.name">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="名称（中文）">
              <el-input v-model="core_data.name_cn" style="width:250px" />
              <div v-if="updateInfo.core_data.name||updateInfo.core_data.name==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.name?updateInfo.core_data.name:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="core_data.name = updateInfo.core_data.name">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="状态" prop="status">
              <el-select v-model="core_data.status" placeholder="请选择" style="width: 250px">
                <el-option
                  v-for="(item,index) in state"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
                <div v-if="updateInfo.core_data.name||updateInfo.core_data.name==''">
                  <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.name?updateInfo.core_data.name:'空' }}</span></span>
                  <el-button type="primary" size="mini" plain @click="core_data.name = updateInfo.core_data.name">应用</el-button>
                </div>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="子项排序">
              <el-input v-model="core_data.son_match_sort" style="width:250px" />
              <div v-if="updateInfo.core_data.name||updateInfo.core_data.name==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.name?updateInfo.core_data.name:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="core_data.name = updateInfo.core_data.name">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6" :offset="0">
            <el-form-item label="计划开始日期">
              <el-date-picker
                v-if="core_data.status == '4'"
                v-model="core_data.scheduled_begin_at"
                placeholder="请选择计划开始日期"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 220px;"
                disabled
              />
              <el-date-picker
                v-if="core_data.status != '4'"
                v-model="core_data.scheduled_begin_at"
                placeholder="请选择计划开始日期"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 220px;"
              />
              <div v-if="updateInfo.core_data.scheduled_begin_at||updateInfo.core_data.scheduled_begin_at==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.scheduled_begin_at?updateInfo.core_data.scheduled_begin_at:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="core_data.scheduled_begin_at = updateInfo.core_data.scheduled_begin_at">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="计划结束日期">
              <el-date-picker
                v-if="core_data.status == '4'"
                v-model="core_data.scheduled_end_at"
                placeholder="请选择计划结束日期"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 220px;"
                disabled
              />
              <el-date-picker
                v-if="core_data.status != '4'"
                v-model="core_data.scheduled_end_at"
                placeholder="请选择计划结束日期"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 220px;"
              />
              <div v-if="updateInfo.core_data.scheduled_end_at||updateInfo.core_data.scheduled_end_at==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.scheduled_end_at?updateInfo.core_data.scheduled_end_at:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="core_data.scheduled_end_at = updateInfo.core_data.scheduled_end_at">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <!--          <el-col :span="6" :offset="0">-->
          <!--            <el-form-item label="计划日期">-->
          <!--              <el-date-picker-->
          <!--                v-if="form.status == '4'"-->
          <!--                v-model="scheduled_timeArea"-->
          <!--                type="daterange"-->
          <!--                value-format="yyyy-MM-dd"-->
          <!--                range-separator="至"-->
          <!--                start-placeholder="开始日期"-->
          <!--                end-placeholder="结束日期"-->
          <!--                style="width:250px"-->
          <!--                disabled-->
          <!--              />-->
          <!--              <el-date-picker-->
          <!--                v-if="form.status != '4'"-->
          <!--                v-model="scheduled_timeArea"-->
          <!--                type="daterange"-->
          <!--                value-format="yyyy-MM-dd"-->
          <!--                range-separator="至"-->
          <!--                start-placeholder="开始日期"-->
          <!--                end-placeholder="结束日期"-->
          <!--                style="width:250px"-->
          <!--              />-->
          <!--              <div v-if="updateInfo.core_data.name||updateInfo.core_data.name==''">-->
          <!--                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.name?updateInfo.core_data.name:'空' }}</span></span>-->
          <!--                <el-button type="primary" size="mini" plain @click="core_data.name = updateInfo.core_data.name">应用</el-button>-->
          <!--              </div>-->
          <!--            </el-form-item>-->
          <!--          </el-col>-->
          <el-col :span="6" :offset="0">
            <el-form-item label="Slug" prop="slug">
              <el-input v-model="core_data.slug" style="width:250px" />
              <div v-if="updateInfo.core_data.name||updateInfo.core_data.name==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.name?updateInfo.core_data.name:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="core_data.name = updateInfo.core_data.name">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <!--          <el-col :span="6" :offset="0">-->
          <!--            <el-form-item label="实际日期">-->
          <!--              <el-date-picker-->
          <!--                v-model="timeArea"-->
          <!--                type="daterange"-->
          <!--                value-format="yyyy-MM-dd"-->
          <!--                range-separator="至"-->
          <!--                start-placeholder="开始日期"-->
          <!--                end-placeholder="结束日期"-->
          <!--                style="width:250px"-->
          <!--              />-->
          <!--            </el-form-item>-->
          <!--          </el-col>-->
          <!--          <el-col :span="6" :offset="0">-->
          <!--            <el-form-item label="原计划日期">-->
          <!--              <el-date-picker-->
          <!--                v-model="original_scheduled_timeArea"-->
          <!--                type="daterange"-->
          <!--                value-format="yyyy-MM-dd"-->
          <!--                range-separator="至"-->
          <!--                start-placeholder="开始日期"-->
          <!--                end-placeholder="结束日期"-->
          <!--                style="width:250px"-->
          <!--                disabled-->
          <!--              />-->
          <!--            </el-form-item>-->
          <!--          </el-col>-->
          <!--          <el-col :span="6" :offset="0">-->
          <!--            <el-form-item label="是否调整了时间表" prop="is_rescheduled">-->
          <!--              <el-select v-model="core_data.is_rescheduled" placeholder="请选择" disabled style="width:250px">-->
          <!--                <el-option label="是" value="1" />-->
          <!--                <el-option label="否" value="2" />-->
          <!--              </el-select>-->
          <!--            </el-form-item>-->
          <!--          </el-col>-->
        </el-row>
        <el-row />
        <el-row type="flex" class="row-bg" justify="space-around">
          <div style="padding-top: 45px;text-align: center">
            <el-button type="primary" @click="onSubmit('core_data')">确认{{ adds ==1?'修改':'创建' }}</el-button>
          </div>
        </el-row>
      </el-form>
    </el-tab-pane>
    <el-tab-pane label="基础内容">
      <el-form :model="form" label-width="130px">
        <el-row type="flex" class="row-bg">
          <el-col :span="6" :offset="0">
            <el-form-item label="子赛事级别">
              <el-input v-model="base_data.tier" />
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="队伍数量">
              <el-input v-model="base_data.number_of_teams" />
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="赛区">
              <el-select v-model="base_data.region" filterable placeholder="请选择" style="width: 100%">
                <el-option
                  v-for="(item,index) in all"
                  :key="index"
                  :label="item.e_name + ' '+'('+item.name+')'"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="举办国家地区">
              <el-select v-model="base_data.country" filterable placeholder="请选择" style="width: 100%">
                <el-option
                  v-for="(item,index) in all"
                  :key="index"
                  :label="item.e_name + ' '+'('+item.name+')'"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="6" :offset="0">
            <el-form-item label="举办地（英文）">
              <el-input v-model="base_data.location" />
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="举办地（中文）">
              <el-input v-model="base_data.location_cn" />
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="游戏版本">
              <el-input v-model="base_data.version" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="6" :offset="0">
            <el-form-item label="奖金">
              <el-input v-model="base_data.prize_bonus" />
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="积分">
              <el-input v-model="base_data.prize_points" />
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="名额">
              <el-input v-model="base_data.prize_seed" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="6" :offset="0">
            <el-form-item label="地图池">
              <el-input
                v-model="base_data.map_pool"
                type="textarea"
                :rows="3"
                maxlength="1000"
                show-word-limit
              />
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="赛制介绍（英文）">
              <el-input
                v-model="base_data.format"
                type="textarea"
                :rows="3"
                maxlength="1000"
                show-word-limit
              />
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="赛制介绍（中文）">
              <el-input
                v-model="base_data.format_cn"
                type="textarea"
                :rows="3"
                maxlength="1000"
                show-word-limit
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <div style="padding-top: 45px;text-align: center">
            <el-button type="primary" @click="onSubmit('core_data')">确认{{ adds ==1?'修改':'创建' }}</el-button>
          </div>
        </el-row>
      </el-form>
    </el-tab-pane>
    <el-tab-pane label="奖池分配">
      <!--      <el-form ref="form" :rules="rules" :model="form" :inline="true" label-width="70px" size="mini">-->
      <!--        <el-row type="flex" class="row-bg">-->
      <!--          <el-col :span="8" :offset="0">-->
      <!--            <el-form-item label="队伍数量">-->
      <!--              <el-input v-model="team_nmb" />-->
      <!--            </el-form-item>-->
      <!--          </el-col>-->
      <!--        </el-row>-->
      <!--      </el-form>-->
      <el-form :model="form" :inline="true" label-width="50px" size="mini">
        <div v-for="(item, index) in team_list" :key="index" style="padding-bottom: 15px">
          <el-row type="flex" class="row-bg">
            <el-col :span="4" :offset="1">
              <el-form-item label="排名">
                <el-input v-model="item.rank" />
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0">
              <el-form-item label="奖金">
                <el-input v-model="item.price" />
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0">
              <el-form-item label="积分">
                <el-input v-model="item.score" />
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0">
              <el-form-item label="名额">
                <el-input v-model="item.num" />
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0">
              <el-form-item label="战队">
                <el-select v-model="item.team_id" placeholder="请选择" style="width: 100%">
                  <el-option
                    v-for="(item,index) in all_get_teams"
                    :key="index"
                    :label="item.pinyin"
                    :value="item.key"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="2">
              <el-form-item>
                <el-button type="text" size="small" @click="onSubAdd(index)">添加</el-button>
                <el-button v-if="team_list.length !== 1+index" type="text" size="small" @click="onSubDel(index)">删除</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
        <el-row type="flex" class="row-bg" justify="space-around">
          <div style="padding-top: 45px;text-align: center">
            <el-button type="primary" @click="onSubmit('core_data')">确认{{ adds ==1?'修改':'创建' }}</el-button>
          </div>
        </el-row>
      </el-form>
    </el-tab-pane>
    <el-tab-pane label="参赛战队" class="transfer_info">
      <el-form :model="form" label-width="100px">
        <el-row type="flex" class="row-bg">
          <el-col :span="4" :offset="4">
            <el-input
              v-model="input_lift"
              placeholder="请输入内容"
              prefix-icon="el-icon-search"
              style="width: 300px"
            />
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="18" :offset="4">
            <el-transfer
              v-model="tournament_team_ids"
              :titles="['战队列表', '参赛战队列表']"
              :data="data"
              @change="handleChange"
            >
              <div slot-scope="{ option }">
                <el-avatar :size="30" :src="option.image" shape="square" style="vertical-align:middle;text-align: center;background-color: white" />
                <span> {{ option.label }}</span>
              </div>
              <el-button slot="left-footer" class="transfer-footer" size="small" @click="upPage">上页</el-button>
              <el-button slot="left-footer" class="transfer-footer" size="small">第{{ page }}页</el-button>
              <el-button slot="left-footer" class="transfer-footer" size="small" @click="downPage">下页</el-button>
            </el-transfer>
          </el-col>
          <el-col :span="2">
            <el-button type="primary" size="mini" @click="update">更新战队快照</el-button>
          </el-col>
          <el-col :span="2">
            <el-button type="primary" size="mini" @click="getMap">查看战队快照</el-button>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <div style="padding-top: 35px;text-align: center">
            <el-button type="primary" @click="onSubmit('core_data')">确认{{ adds ==1?'修改':'创建' }}</el-button>
          </div>
        </el-row>
      </el-form>
    </el-tab-pane>
    <el-tab-pane label="参赛条件">
      <el-form :model="form" label-width="160px">
        <el-row v-for="(item,index) in newteam" :key="index" type="flex" class="row-bg">
          <el-col :span="6" :offset="0">
            <el-form-item label="参赛战队">
              <el-input v-model="item.name" disabled />
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="参赛条件（英文）">
              <el-input v-model="item.match_condition" />
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="参赛条件（中文）">
              <el-input v-model="item.match_condition_cn" />
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="队伍排序">
              <el-input v-model="item.team_sort" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <div style="padding-top: 45px;text-align: center">
            <el-button type="primary" @click="onSubmit('core_data')">{{ adds ==1?'修改':'创建' }}</el-button>
          </div>
        </el-row>
      </el-form>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
import { get_tournament_state } from '@/api/common'
import { get_country } from '@/api/clan'
// import { search_team } from '@/api/team'
import {
  // tournamentAdd,
  tournamentTree,
  tournamentDetail,
  get_tournament_team,
  update_team_snapshot,
  tournamentEdit
} from '@/api/tournament'
import { data_change_detail } from '@/api/data'
export default {
  name: 'Add1',
  props: ['adds', 'queryId', 'treeid', 'primarykey'],
  data() {
    return {
      activeName: '0',
      updateInfo: {
        core_data: {},
        base_data: {},
        team_player_relation: {}
      },
      'core_data': {
        'id': '',
        'name': '',
        'name_cn': '',
        'game': '',
        'status': '',
        'begin_at': '',
        'end_at': '',
        'scheduled_begin_at': '',
        'scheduled_end_at': '',
        'original_scheduled_begin_at': '',
        'original_scheduled_end_at': '',
        'slug': '',
        'is_rescheduled': '',
        'short_name': '',
        'short_name_cn': '',
        'son_match_sort': '',
        'image': '',
        'type': '',
        'tree_id': '',
        'cuser': '',
        'deleted': '',
        'created_at': '',
        'modified_at': '',
        'deleted_at': ''
      },
      'base_data': {
        'id': '',
        'tournament_id': '',
        'steam_id': '',
        'series_match': '',
        'number_of_teams': '',
        'tier': '',
        'country': '',
        'location': '',
        'location_cn': '',
        'match_range': '',
        'organizer': '',
        'organizer_cn': '',
        'version': '',
        'prize_bonus': '',
        'prize_points': '',
        'map_pool': '',
        'top_reward': '',
        'introduction': '',
        'introduction_cn': '',
        'format': '',
        'format_cn': '',
        'region': '',
        'prize_seed': ''
      },
      'tournament_team_relation': [],
      get_teams: [],
      all_get_teams: [{ 'id': '', 'name': '空', 'e_name': 'null' }],
      judge_stutas: 0,
      search_old_list: [],
      slug_stutas: '',
      update_team_old: '',
      tournament_info: {},
      page: 1,
      per_page: 40,
      total: 20,
      input_lift: '',
      team_nmb: '',
      team_list: [{ rank: '', price: '', score: '', num: '', team_id: '' }],
      id: '',
      infolists: {},
      treeinfo: {},
      newteam: [],
      team: [],
      searchTeam: [],
      all: [{ 'id': '', 'name': '空', 'e_name': 'null' }],
      country: [],
      tournament_state: [],
      state: [],
      textarea: '',
      tournament_team_ids: [],
      timeArea: [],
      // scheduled_timeArea: [],
      // original_scheduled_timeArea: [],
      form: {
        prize_seed: '',
        prize_points: '',
        prize_bonus: '',
        is_rescheduled: '2',
        slug: '',
        tournament_state: '',
        country: '',
        son_match_sort: '',
        name: '',
        name_cn: '',
        game_id: '',
        status: '',
        number_of_teams: '',
        tier: '',
        region: '',
        location: '',
        location_cn: '',
        version: '',
        jackpot: '',
        top_reward: '',
        map_pool: '',
        format_cn: '',
        format: ''
      },
      data: [],
      value: [],
      filterMethod(query, item) {
        return item.pinyin.indexOf(query) > -1
      },
      rules: {
        name: [
          { required: true, message: '请输入名称', trigger: 'change' }
        ],
        status: [
          { required: true, message: '请选择', trigger: 'change' }
        ],
        is_rescheduled: [
          { required: true, message: '请选择', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    input_lift() {
      this.page = 1
      this.info_search_team(this.input_lift)
    },
    page() {
      this.info_search_team(this.input_lift)
    },
    'core_data.name': {
      handler: function() {
        if (this.slug_stutas === 1) {
          this.slug_stutas = 0
        } else {
          this.core_data.slug = this.$yangJian.slug_rule(this.core_data.name)
        }
      }
    },
    'core_data.status': {
      handler: function() {
        if (this.core_data.status === 4) {
          this.core_data.scheduled_begin_at = ''
          this.core_data.scheduled_end_at = ''
        }
      }
    },
    tournament_team_ids() {
      this.get_teams_list()
    }
    // scheduled_timeArea() {
    //   if (this.adds === '1') {
    //     if (this.original_scheduled_timeArea.length === 0) {
    //       this.original_scheduled_timeArea = this.scheduled_timeArea
    //     } else {
    //       if (this.scheduled_timeArea == null) {
    //         this.form.is_rescheduled = '1'
    //       }
    //       if (this.scheduled_timeArea[0] === this.original_scheduled_timeArea[0] && this.scheduled_timeArea[1] === this.original_scheduled_timeArea[1]) {
    //         this.form.is_rescheduled = '2'
    //       } else {
    //         this.form.is_rescheduled = '1'
    //       }
    //     }
    //   } else {
    //     this.original_scheduled_timeArea = this.scheduled_timeArea
    //   }
    // }
  },
  mounted() {
    this.infoList()
    this.infostate()
    this.infoCountry()
    this.getTournamentTree()
    this.info_search_team()
    this.upInfo()
    // this.getTournamentInfo()
  },
  methods: {
    upInfo() {
      if (this.$route.query.tag_type) {
        this.tag_type = this.$route.query.tag_type
        this.beforeLeave()
        const params = {}
        params['id'] = this.$route.query.upId
        data_change_detail(params).then(req => {
          var infoList = req.data.change_info
          this.update1(infoList, req.data.tag_type)
        })
      }
    },
    update1(data, type) {
      var infos = {}
      switch (type) {
        case 'core_data':
          for (var i in data) {
            var k_name = data[i].key
            infos[k_name] = data[i].after
          }
          this.updateInfo.core_data = infos
          if (data.begin_at) {
            this.updateInfo.core_data.timeArea.push(data.begin_at)
            this.updateInfo.core_data.timeArea.push(data.end_at)
          }
          break
        case 'base_data':
          for (var k in data) {
            k_name = data[k].key
            infos[k_name] = data[k].after
          }
          this.updateInfo.base_data = infos
          break
      }
    },
    beforeLeave() {
      if (this.tag_type === 'core_data') {
        this.activeName = '0'
      }
      if (this.tag_type === 'base_data') {
        this.activeName = '1'
      }
    },
    // getTournamentInfo() {
    //   const params = {}
    //   params['id'] = this.queryId
    //   tournamentInfo(params).then(req => {
    //     this.tournament_info = req.data
    //     this.info_search_team()
    //   })
    // },
    getMap() {
      this.$router.push({ path: '/gamecenter/tournament/tournamentInfo/photo', query: { id: this.update_team_old, type: 'son-tournament', resource_id: this.primarykey }})
    },
    get_teams_list() {
      this.get_teams = []
      this.all_get_teams = [{ 'key': '', 'pinyin': '空', 'e_name': 'null' }]
      this.tournament_team_ids.forEach(id => {
        this.data.forEach(item => {
          if (id === item.key) {
            this.get_teams.push(item)
          }
        })
      })
      this.all_get_teams.push.apply(this.all_get_teams, this.get_teams)
    },
    update() {
      const params = {}
      params['new_team_ids'] = ''
      params['old_team_ids'] = this.update_team_old
      params['is_update'] = '1'
      params['relation_id'] = this.primarykey
      params['type'] = 'son-tournament'
      update_team_snapshot(params).then(req => {
        this.$message({
          type: 'success',
          message: '更新成功！'
        })
      })
    },
    upPage() {
      if (this.page > 1) {
        this.page -= 1
      }
    },
    downPage() {
      if (parseInt(this.total / this.per_page) >= this.page) {
        this.page += 1
      }
    },
    onSubAdd(id) {
      var tmp = { rank: '', price: '', score: '', num: '', team_id: '' }
      this.team_list.splice(id + 1, 0, tmp)
    },
    onSubDel(id) {
      for (var i = 0; i < this.team_list.length - 1; i++) {
        if (i === id) {
          this.team_list.splice(i, 1)
        }
      }
    },
    infoList() {
      console.log('this.adds')
      console.log(this.adds)
      if (this.adds === '1') {
        const params = {}
        params['id'] = this.treeid
        tournamentDetail(params).then(req => {
          this.core_data = req.data.core_data
          this.base_data = req.data.base_data
          this.form = req.data
          if (req.data.core_data.slug) {
            this.slug_stutas = 1
            this.core_data.slug = this.$yangJian.slug_rule(req.data.core_data.slug)
          }
          this.id = req.data.core_data.id
          this.core_data.status = this.$shaoXia.tmp_nmber(req.data.core_data.status)
          if (req.data.core_data.begin_at) {
            this.timeArea.push(req.data.core_data.begin_at)
            this.timeArea.push(req.data.core_data.end_at)
          }
          // if (req.data.core_data.scheduled_begin_at) {
          //   this.scheduled_timeArea.push(req.data.core_data.scheduled_begin_at.substr(0, 10))
          //   this.scheduled_timeArea.push(req.data.core_data.scheduled_end_at.substr(0, 10))
          // }
          // if (req.data.core_data.original_scheduled_begin_at) {
          //   this.original_scheduled_timeArea.push(req.data.core_data.original_scheduled_begin_at.substr(0, 10))
          //   this.original_scheduled_timeArea.push(req.data.core_data.original_scheduled_end_at.substr(0, 10))
          // }
          var k = req.data.tournament_team_relation
          for (var i in k) {
            this.tournament_team_ids.push(k[i].team_id)
            this.update_team_old += k[i].team_id + ','
          }
          this.update_team_old = this.update_team_old.substr(0, this.update_team_old.length - 1)
          this.newteam = req.data.tournament_team_relation
          this.team_list = req.data.tournament_price_distribute
          this.judge_stutas = 1
          this.newteam.forEach((city, index) => {
            this.search_old_list.push({
              label: city.name + ' ' + '(' + city.team_id + ')' + ' ' + city.country_name,
              key: city.team_id,
              pinyin: city.name,
              image: city.image
            })
          })
          this.info_search_team()
        })
      }
    },
    getTournamentTree() {
      const params = {}
      params['id'] = this.queryId
      tournamentTree(params).then(req => {
        this.treeinfo = req.data
        for (var i in this.treeinfo) {
          this.treeinfo = this.treeinfo[i]['id']
        }
        console.log('parent_id')
        console.log(this.treeinfo)
      })
    },
    handleChange(value, direction, movedKeys) {
      var teamid = this.tournament_team_ids
      var teams = this.data
      var n = 0
      teams.forEach(k => {
        for (var i in teamid) {
          var team = { team_id: '', name: '', match_condition: '', match_condition_cn: '', team_name: '' }
          if (teamid[i] === k.key) {
            team['team_id'] = k.key
            team['name'] = k.pinyin
            team['team_name'] = k.label
            // n.push(team)
            for (var z in this.newteam) {
              n = 0
              if (k.key === this.newteam[z].team_id) {
                n = 1
                break
              }
            }
            if (n === 0) {
              this.newteam.push(team)
            }
          }
        }
      })
      if (teamid.length !== this.newteam.length) {
        var list = []
        for (var q in this.newteam) {
          for (var m in teamid) {
            if (this.newteam[q].team_id === teamid[m]) {
              list.push(this.newteam[q])
              break
            }
          }
        }
        this.newteam = list
      }
    },
    info_search_team(info) {
      const params = {}
      params['id'] = this.$route.query.id
      params['type'] = 'son_tournament'
      params['name'] = info
      params['page'] = this.page
      params['per_page'] = this.per_page
      get_tournament_team(params).then(req => {
        this.searchTeam = req.data
        this.total = req.data.total
        const data = []
        const cities = req.data
        // this.get_teams_list()
        cities.forEach((city, index) => {
          data.push({
            label: city.name + ' ' + '(' + city.id + ')' + ' ' + city.country,
            key: city.id,
            pinyin: city.name,
            image: city.image
          })
        })
        if (this.judge_stutas === 1) {
          this.search_old_list.forEach(item => {
            var n = 0
            data.forEach(k => {
              if (item.key === k.key) {
                n = 1
              }
            })
            if (n === 0) {
              data.push(item)
            }
          })
          this.judge_stutas = 0
        } else {
          this.tournament_team_ids.forEach(item => {
            this.data.forEach(info => {
              if (item === info.key) {
                var m = 0
                data.forEach(k => {
                  if (item === k.key) {
                    m = 1
                  }
                })
                if (m === 0) {
                  data.push(info)
                }
              }
            })
          })
        }
        this.data = data
        this.get_teams_list()
      })
    },
    infoCountry() {
      const params = {}
      get_country(params).then(req => {
        this.country = req.data
        this.all.push.apply(this.all, this.country)
      })
    },
    infostate() {
      const params = {}
      get_tournament_state(params).then(req => {
        this.tournament_state = req.data
        this.state.push.apply(this.state, this.tournament_state)
      })
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          params['type'] = 2
          if (this.adds === '1') {
            params['id'] = this.id
          }
          var core_info = { ...this.core_data }
          core_info.type = 2
          // params['tournament_id'] = this.queryId
          params['parent_tree_id'] = this.treeid
          // params['name'] = this.form.name
          // params['name_cn'] = this.form.name_cn
          // params['slug'] = this.form.slug
          // params['prize_seed'] = this.form.prize_seed
          // params['prize_points'] = this.form.prize_points
          // params['prize_bonus'] = this.form.prize_bonus
          // params['country'] = this.form.country
          // params['is_rescheduled'] = this.form.is_rescheduled
          // params['son_match_sort'] = this.form.son_match_sort
          // params['status'] = this.form.status
          // if (this.scheduled_timeArea) {
          //   core_info.scheduled_begin_at = this.scheduled_timeArea[0]
          //   core_info.scheduled_end_at = this.scheduled_timeArea[1]
          // } else {
          //   core_info.scheduled_begin_at = ''
          //   core_info.scheduled_end_at = ''
          // }
          // if (this.timeArea) {
          //   core_info.begin_at = this.timeArea[0]
          //   core_info.end_at = this.timeArea[1]
          // } else {
          //   core_info.begin_at = ''
          //   core_info.end_at = ''
          // }
          // if (this.original_scheduled_timeArea) {
          //   core_info.original_scheduled_begin_at = this.original_scheduled_timeArea[0]
          //   core_info.original_scheduled_end_at = this.original_scheduled_timeArea[1]
          // }
          params['core_data'] = core_info
          params['base_data'] = this.base_data
          // params['match_short_name'] = this.form.match_short_name
          // params['match_short_name_cn'] = this.form.match_short_name_cn
          // params['steam_id'] = this.form.steam_id
          // params['series_match'] = this.form.series_match
          // params['number_of_teams'] = this.form.number_of_teams
          // params['tier'] = this.form.tier
          // params['region'] = this.form.region
          // params['location'] = this.form.location
          // params['location_cn'] = this.form.location_cn
          // params['match_range'] = this.form.match_range
          // params['host_name'] = this.form.host_name
          // params['host_name_cn'] = this.form.host_name_cn
          // params['version'] = this.form.version
          // params['jackpot'] = this.form.jackpot
          // params['top_reward'] = this.form.top_reward
          // params['map_pool'] = this.form.map_pool
          // params['introduction'] = this.form.introduction
          // params['introduction_cn'] = this.form.introduction_cn
          // params['format_cn'] = this.form.format_cn
          // params['format'] = this.form.format
          params['tournament_team_relation'] = JSON.stringify(this.newteam)
          if (this.team_list) {
            params['tournament_price_distribute'] = JSON.stringify(this.team_list)
          }
          tournamentEdit(params).then(req => {
            if (this.adds === '1') {
              const params = {}
              params['new_team_ids'] = this.tournament_team_ids.toString()
              params['old_team_ids'] = this.update_team_old
              params['is_update'] = '2'
              params['relation_id'] = this.primarykey
              params['type'] = 'son-tournament'
              update_team_snapshot(params).then(req => {
                this.$message({
                  type: 'success',
                  message: '修改成功！'
                })
                this.$emit('onadd1')
              })
            } else {
              const params = {}
              params['new_team_ids'] = this.tournament_team_ids.toString()
              params['old_team_ids'] = this.update_team_old
              params['is_update'] = '2'
              params['relation_id'] = req.data.id
              params['type'] = 'son-tournament'
              update_team_snapshot(params).then(req => {
                this.$message({
                  type: 'success',
                  message: '添加成功！'
                })
                this.$emit('onadd1')
              })
            }
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
  .transfer-footer {
    margin-left: 23px;
    /*padding: 6px 5px;*/
  }
</style>
