<template>
  <!--添加阶段-->
  <div>
    <el-form ref="form" :rules="rules" :model="form" label-width="140px" :inline="true">
      <el-tabs type="border-card">
        <el-tab-pane label="核心内容">
          <el-row type="flex" class="row-bg">
            <el-col :span="6" :offset="0">
              <el-form-item label="名称（英文）" prop="name">
                <el-input v-model="form.name" style="width:250px" />
              </el-form-item>
            </el-col>
            <el-col :span="6" :offset="0">
              <el-form-item label="名称（中文）">
                <el-input v-model="form.name_cn" style="width:250px" />
              </el-form-item>
            </el-col>
            <el-col :span="6" :offset="0">
              <el-form-item label="状态" prop="status">
                <el-select v-model="form.status" placeholder="请选择" style="width:250px">
                  <el-option
                    v-for="(item,index) in state"
                    :key="index"
                    :label="item.name"
                    :value="'' + item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6" :offset="0">
              <el-form-item label="子项排序">
                <el-input v-model="form.stage_sort" style="width:250px" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg">
            <el-col :span="6" :offset="0">
              <el-form-item label="计划开始日期">
                <el-date-picker
                  v-if="form.status == '4'"
                  v-model="form.scheduled_begin_at"
                  placeholder="请选择计划开始日期"
                  type="datetime"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  style="width: 250px;"
                  disabled
                />
                <el-date-picker
                  v-if="form.status != '4'"
                  v-model="form.scheduled_begin_at"
                  placeholder="请选择计划开始日期"
                  type="datetime"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  style="width: 250px;"
                />
                <!--                <div v-if="updateInfo.core_data.scheduled_begin_at||updateInfo.core_data.scheduled_begin_at==''">-->
                <!--                  <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.scheduled_begin_at?updateInfo.core_data.scheduled_begin_at:'空' }}</span></span>-->
                <!--                  <el-button type="primary" size="mini" plain @click="core_data.scheduled_begin_at = updateInfo.core_data.scheduled_begin_at">应用</el-button>-->
                <!--                </div>-->
              </el-form-item>
            </el-col>
            <el-col :span="6" :offset="0">
              <el-form-item label="计划结束日期">
                <el-date-picker
                  v-if="form.status == '4'"
                  v-model="form.scheduled_end_at"
                  placeholder="请选择计划结束日期"
                  type="datetime"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  style="width: 250px;"
                  disabled
                />
                <el-date-picker
                  v-if="form.status != '4'"
                  v-model="form.scheduled_end_at"
                  placeholder="请选择计划结束日期"
                  type="datetime"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  style="width: 250px;"
                />
                <!--                <div v-if="updateInfo.core_data.scheduled_end_at||updateInfo.core_data.scheduled_end_at==''">-->
                <!--                  <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.scheduled_end_at?updateInfo.core_data.scheduled_end_at:'空' }}</span></span>-->
                <!--                  <el-button type="primary" size="mini" plain @click="core_data.scheduled_end_at = updateInfo.core_data.scheduled_end_at">应用</el-button>-->
                <!--                </div>-->
              </el-form-item>
            </el-col>
            <!--            <el-col :span="6" :offset="0">-->
            <!--              <el-form-item label="计划日期">-->
            <!--                <el-date-picker-->
            <!--                  v-if="form.status == '4'"-->
            <!--                  v-model="scheduled_timeArea"-->
            <!--                  type="daterange"-->
            <!--                  value-format="yyyy-MM-dd"-->
            <!--                  range-separator="至"-->
            <!--                  start-placeholder="开始日期"-->
            <!--                  end-placeholder="结束日期"-->
            <!--                  style="width:250px"-->
            <!--                  disabled-->
            <!--                />-->
            <!--                <el-date-picker-->
            <!--                  v-if="form.status != '4'"-->
            <!--                  v-model="scheduled_timeArea"-->
            <!--                  type="daterange"-->
            <!--                  value-format="yyyy-MM-dd"-->
            <!--                  range-separator="至"-->
            <!--                  start-placeholder="开始日期"-->
            <!--                  end-placeholder="结束日期"-->
            <!--                  style="width:250px"-->
            <!--                />-->
            <!--              </el-form-item>-->
            <!--            </el-col>-->
            <el-col :span="6" :offset="0">
              <el-form-item label="阶段类型" prop="stage_type">
                <el-select v-model="form.stage_type" placeholder="请选择" style="width:250px">
                  <el-option label="小组赛" value="1" />
                  <el-option label="淘汰赛" value="2" />
                  <el-option label="联赛" value="3" />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6" :offset="0">
              <el-form-item label="阶段赛制">
                <el-select v-model="form.stage_format" placeholder="请选择" style="width: 250px">
                  <el-option
                    v-for="(item,index) in allruleList"
                    :key="index"
                    :label="item.name"
                    :value="''+item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>

            <!--            <el-col :span="6" :offset="0">-->
            <!--              <el-form-item label="实际日期">-->
            <!--                <el-date-picker-->
            <!--                  v-model="timeArea"-->
            <!--                  type="daterange"-->
            <!--                  value-format="yyyy-MM-dd"-->
            <!--                  range-separator="至"-->
            <!--                  start-placeholder="开始日期"-->
            <!--                  end-placeholder="结束日期"-->
            <!--                  style="width:250px"-->
            <!--                />-->
            <!--              </el-form-item>-->
            <!--            </el-col>-->
            <!--            <el-col :span="6" :offset="0">-->
            <!--              <el-form-item label="原计划日期">-->
            <!--                <el-date-picker-->
            <!--                  v-model="original_scheduled_timeArea"-->
            <!--                  type="daterange"-->
            <!--                  value-format="yyyy-MM-dd"-->
            <!--                  range-separator="至"-->
            <!--                  start-placeholder="开始日期"-->
            <!--                  end-placeholder="结束日期"-->
            <!--                  style="width:250px"-->
            <!--                  disabled-->
            <!--                />-->
            <!--              </el-form-item>-->
            <!--            </el-col>-->
            <!--            <el-col :span="6" :offset="0">-->
            <!--              <el-form-item label="是否调整了时间表" prop="is_rescheduled">-->
            <!--                <el-select v-model="form.is_rescheduled" placeholder="请选择" disabled style="width:250px">-->
            <!--                  <el-option label="是" value="1" />-->
            <!--                  <el-option label="否" value="2" />-->
            <!--                </el-select>-->
            <!--              </el-form-item>-->
            <!--            </el-col>-->
          </el-row>
          <el-row>
            <el-col :span="6" :offset="0">
              <el-form-item label="赛制补充">
                <el-input v-model="form.stage_format_extra" style="width:250px" />
              </el-form-item>
            </el-col>
            <el-col :span="6" :offset="0">
              <el-form-item label="Slug" prop="slug">
                <el-input v-model="form.slug" style="width:250px" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg" justify="space-around">
            <div style="padding-top: 45px;text-align: center">
              <el-button type="primary" @click="onSubmit('form')">确认{{ adds ==1?'修改':'创建' }}</el-button>
            </div>
          </el-row>
        </el-tab-pane>
      </el-tabs>
    </el-form>
  </div>
</template>

<script>
import { tournamentDetail, tournamentEdit } from '@/api/tournament'
import { get_match_rule, get_tournament_state } from '@/api/common'
export default {
  name: 'Add2',
  props: ['adds', 'queryId', 'treeid'],
  data() {
    return {
      tournament_state: [],
      state: [],
      slug_stutas: '',
      ruleList: [
      ],
      allruleList: [{ 'id': '', 'name': '空', 'mane_cn': 'null' }],
      id: '',
      timeArea: [],
      // scheduled_timeArea: [],
      // original_scheduled_timeArea: [],
      form: {
        stage_type: '',
        is_rescheduled: '2',
        slug: '',
        tournament_id: '',
        name: '',
        name_cn: '',
        stage_sort: '',
        status: '',
        stage_format: '',
        stage_format_extra: '',
        tree_parent_id: ''
      },
      rules: {
        name: [
          { required: true, message: '请输入阶段名称', trigger: 'change' }
        ],
        status: [
          { required: true, message: '请选择', trigger: 'change' }
        ],
        is_rescheduled: [
          { required: true, message: '请选择', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入', trigger: 'change' }
        ],
        stage_type: [
          { required: true, message: '请选择', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    'form.name': {
      handler: function() {
        if (this.slug_stutas === 1) {
          return
        } else {
          this.form.slug = this.$yangJian.slug_rule(this.form.name)
        }
      }
    },
    'form.stage_type': {
      handler: function() {
        this.getRule()
        if (this.slug_stutas === 1) {
          this.slug_stutas = 0
        } else {
          this.form.stage_format = ''
        }
      }
    },
    'form.status': {
      handler: function() {
        if (this.form.status === '4') {
          this.form.scheduled_begin_at = ''
          this.form.scheduled_end_at = ''
        }
      }
    }
    // scheduled_timeArea() {
    //   if (this.adds === '1') {
    //     if (this.original_scheduled_timeArea.length === 0) {
    //       this.original_scheduled_timeArea = this.scheduled_timeArea
    //     } else {
    //       if (this.scheduled_timeArea == null) {
    //         this.form.is_rescheduled = '1'
    //       }
    //       if (this.scheduled_timeArea[0] === this.original_scheduled_timeArea[0] && this.scheduled_timeArea[1] === this.original_scheduled_timeArea[1]) {
    //         this.form.is_rescheduled = '2'
    //       } else {
    //         this.form.is_rescheduled = '1'
    //       }
    //     }
    //   } else {
    //     this.original_scheduled_timeArea = this.scheduled_timeArea
    //   }
    // }
  },
  mounted() {
    this.infostate()
    this.infoList()
  },
  methods: {
    infostate() {
      const params = {}
      get_tournament_state(params).then(req => {
        this.tournament_state = req.data
        this.state.push.apply(this.state, this.tournament_state)
      })
    },
    getRule() {
      const params = {}
      params['stage_type'] = this.form.stage_type
      get_match_rule(params).then(req => {
        this.allruleList = [{ 'id': '', 'name': '空', 'mane_cn': 'null' }]
        this.ruleList = req.data
        this.allruleList.push.apply(this.allruleList, this.ruleList)
      })
    },
    infoList() {
      if (this.adds === '1') {
        const params = {}
        params['id'] = this.treeid
        tournamentDetail(params).then(req => {
          this.form = req.data.core_data
          if (req.data.core_data.slug) {
            this.slug_stutas = 1
            this.form.slug = this.$yangJian.slug_rule(req.data.core_data.slug)
          }
          this.id = req.data.core_data.id
          this.form.status = this.$shaoXia.tmp_toString(req.data.core_data.status)
          this.form.is_rescheduled = this.$shaoXia.tmp_toString(req.data.core_data.is_rescheduled)
          this.form.stage_type = this.$shaoXia.tmp_toString(req.data.core_data.stage_type)
          this.form.stage_format = this.$shaoXia.tmp_toString(req.data.core_data.stage_format)
          // if (req.data.core_data.begin_at) {
          //   this.timeArea.push(req.data.begin_at)
          //   this.timeArea.push(req.data.end_at)
          // }
          // if (req.data.core_data.scheduled_begin_at) {
          //   this.scheduled_timeArea.push(req.data.core_data.scheduled_begin_at.substr(0, 10))
          //   this.scheduled_timeArea.push(req.data.core_data.scheduled_end_at.substr(0, 10))
          // }
          // if (req.data.core_data.original_scheduled_begin_at) {
          //   this.original_scheduled_timeArea.push(req.data.original_scheduled_begin_at.substr(0, 10))
          //   this.original_scheduled_timeArea.push(req.data.original_scheduled_end_at.substr(0, 10))
          // }
        })
      }
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          if (this.adds === '1') {
            params['id'] = this.id
          }
          params['type'] = 3
          var core_info = { ...this.form }
          core_info.type = 3
          // params['name'] = this.form.name
          // params['name_cn'] = this.form.name_cn
          // params['stage_sort'] = this.form.stage_sort
          // params['status'] = this.form.status
          // params['slug'] = this.form.slug
          // params['stage_type'] = this.form.stage_type
          // params['is_rescheduled'] = this.form.is_rescheduled
          // params['stage_format'] = '' + this.form.stage_format
          // params['stage_format_extra'] = this.form.stage_format_extra
          // if (this.scheduled_timeArea) {
          //   params['scheduled_begin_at'] = this.scheduled_timeArea[0]
          //   params['scheduled_end_at'] = this.scheduled_timeArea[1]
          // } else {
          //   params['scheduled_begin_at'] = ''
          //   params['scheduled_end_at'] = ''
          // }
          // if (this.timeArea) {
          //   params['begin_at'] = this.timeArea[0]
          //   params['end_at'] = this.timeArea[1]
          // } else {
          //   params['begin_at'] = ''
          //   params['end_at'] = ''
          // }
          // if (this.original_scheduled_timeArea) {
          //   params['original_scheduled_begin_at'] = this.original_scheduled_timeArea[0]
          //   params['original_scheduled_end_at'] = this.original_scheduled_timeArea[1]
          // }
          // if (this.scheduled_timeArea) {
          //   core_info.scheduled_begin_at = this.scheduled_timeArea[0]
          //   core_info.scheduled_end_at = this.scheduled_timeArea[1]
          // } else {
          //   core_info.scheduled_begin_at = ''
          //   core_info.scheduled_end_at = ''
          // }
          // if (this.timeArea) {
          //   core_info.begin_at = this.timeArea[0]
          //   core_info.end_at = this.timeArea[1]
          // } else {
          //   core_info.begin_at = ''
          //   core_info.end_at = ''
          // }
          // if (this.original_scheduled_timeArea) {
          //   core_info.original_scheduled_begin_at = this.original_scheduled_timeArea[0]
          //   core_info.original_scheduled_end_at = this.original_scheduled_timeArea[1]
          // }
          params['core_data'] = core_info
          // params['tournament_id'] = this.queryId
          params['parent_tree_id'] = this.treeid
          tournamentEdit(params).then(req => {
            if (this.adds === '1') {
              this.$message({
                type: 'success',
                message: '编辑成功！'
              })
              this.$emit('onadd2')
            } else {
              this.$message({
                type: 'success',
                message: '添加成功！'
              })
              this.$emit('onadd2')
            }
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
