<template>
  <el-tabs type="border-card">
    <el-tab-pane label="核心内容">
      <el-form ref="core_data" :rules="rules" :model="core_data" label-width="140px" :inline="true">
        <el-row v-if="this.adds === '1'">
          <el-col :span="8" :offset="0">
            <el-form-item label="阶段类型" prop="stage_type">
              <el-select v-model="stage_info.stage_type" style="width:250px" placeholder="请选择" disabled>
                <el-option label="小组赛" value="1" />
                <el-option label="淘汰赛" value="2" />
                <el-option label="联赛" value="3" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="阶段赛制">
              <el-select v-model="stage_info.stage_format" placeholder="请选择" disabled style="width: 250px">
                <el-option
                  v-for="(item,index) in allruleList"
                  :key="index"
                  :label="item.name"
                  :value="item.id + ''"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="赛制补充">
              <el-input v-model="stage_info.stage_format_extra" disabled style="width:250px" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="名称（英文）" prop="name">
              <el-input v-model="core_data.name" style="width:250px" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="名称（中文）">
              <el-input v-model="core_data.name_cn" style="width:250px" />
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="计划开始日期">
              <el-date-picker
                v-if="core_data.status == '4'"
                v-model="core_data.scheduled_begin_at"
                placeholder="请选择计划开始日期"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 220px;"
                disabled
              />
              <el-date-picker
                v-if="core_data.status != '4'"
                v-model="core_data.scheduled_begin_at"
                placeholder="请选择计划开始日期"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 220px;"
              />
              <!--              <div v-if="updateInfo.core_data.scheduled_begin_at||updateInfo.core_data.scheduled_begin_at==''">-->
              <!--                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.scheduled_begin_at?updateInfo.core_data.scheduled_begin_at:'空' }}</span></span>-->
              <!--                <el-button type="primary" size="mini" plain @click="core_data.scheduled_begin_at = updateInfo.core_data.scheduled_begin_at">应用</el-button>-->
              <!--              </div>-->
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="计划结束日期">
              <el-date-picker
                v-if="core_data.status == '4'"
                v-model="core_data.scheduled_end_at"
                placeholder="请选择计划结束日期"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 220px;"
                disabled
              />
              <el-date-picker
                v-if="core_data.status != '4'"
                v-model="core_data.scheduled_end_at"
                placeholder="请选择计划结束日期"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 220px;"
              />
              <!--              <div v-if="updateInfo.core_data.scheduled_end_at||updateInfo.core_data.scheduled_end_at==''">-->
              <!--                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.scheduled_end_at?updateInfo.core_data.scheduled_end_at:'空' }}</span></span>-->
              <!--                <el-button type="primary" size="mini" plain @click="core_data.scheduled_end_at = updateInfo.core_data.scheduled_end_at">应用</el-button>-->
              <!--              </div>-->
            </el-form-item>
          </el-col>
          <!--          <el-col :span="8" :offset="0">-->
          <!--            <el-form-item label="计划日期">-->
          <!--              <el-date-picker-->
          <!--                v-model="timeArea"-->
          <!--                type="daterange"-->
          <!--                value-format="yyyy-MM-dd"-->
          <!--                range-separator="至"-->
          <!--                start-placeholder="开始日期"-->
          <!--                end-placeholder="结束日期"-->
          <!--                style="width:250px"-->
          <!--              />-->
          <!--            </el-form-item>-->
          <!--          </el-col>-->
        </el-row>
        <el-row>
          <el-col :span="8" :offset="0">
            <el-form-item label="子项排序">
              <el-input v-model="core_data.order" style="width:250px" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <div style="padding-top: 45px;text-align: center">
            <el-button type="primary" @click="onSubmit('core_data')">确认{{ adds ==1?'修改':'创建' }}</el-button>
          </div>
        </el-row>
      </el-form>
    </el-tab-pane>
    <el-tab-pane label="参赛战队" class="transfer_info">
      <el-form :model="form" label-width="100px">
        <el-row type="flex" class="row-bg">
          <el-col :span="4" :offset="4">
            <el-input
              v-model="input_lift"
              placeholder="请输入内容"
              prefix-icon="el-icon-search"
              style="width: 300px"
            />
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="18" :offset="4">
            <el-transfer
              v-model="tournament_team_ids"
              :titles="['战队列表', '参赛战队列表']"
              filter-placeholder="请输入战队名称"
              :data="data"
              @change="handleChange"
            >
              <div slot-scope="{ option }">
                <el-avatar :size="30" :src="option.image" shape="square" style="vertical-align:middle;text-align: center;background-color: white" />
                <span> {{ option.label }}</span>
              </div>
              <el-button slot="left-footer" class="transfer-footer" size="small" @click="upPage">上页</el-button>
              <el-button slot="left-footer" class="transfer-footer" size="small">第{{ page }}页</el-button>
              <el-button slot="left-footer" class="transfer-footer" size="small" @click="downPage">下页</el-button>
            </el-transfer>
          </el-col>
          <el-col :span="3">
            <el-button type="primary" size="mini" @click="update">更新战队快照</el-button>
          </el-col>
          <el-col :span="2">
            <el-button type="primary" size="mini" @click="getMap">查看战队快照</el-button>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <el-col :span="6" style="padding-top: 35px">
            <el-form :model="form" label-width="100px">
              <el-form-item>
                <el-button type="primary" @click="onSubmit('core_data')">确认{{ adds ==1?'修改':'创建' }}</el-button>
              </el-form-item>
            </el-form>
          </el-col>
        </el-row>
      </el-form>
    </el-tab-pane>
    <el-tab-pane label="模版设置">
      <el-form :model="form" label-width="140px">
        <el-row type="flex" class="row-bg">
          <el-col :span="6" :offset="1">
            <el-form-item label="队伍数量">
              <el-input v-model="form.number_of_teams" />
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="晋级队伍数量">
              <el-input v-model="form.advance" />
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="淘汰队伍数量">
              <el-input v-model="form.eliminate" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="6" :offset="1">
            <el-form-item label="获胜积分">
              <el-input v-model="form.win_points" />
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="平局积分">
              <el-input v-model="form.draw_ponits" />
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="失败积分">
              <el-input v-model="form.lose_points" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-checkbox-group v-model="checkList">
          <el-row type="flex" class="row-bg">
            <el-col :span="6" :offset="1">
              <el-checkbox label="显示比赛场次" />
            </el-col>
            <el-col :span="6" :offset="0">
              <el-checkbox label="显示获胜场次" />
            </el-col>
            <el-col :span="6" :offset="0">
              <el-checkbox label="显示平局场次" />
            </el-col>
            <el-col :span="6" :offset="0">
              <el-checkbox label="显示失败场次" />
            </el-col>
          </el-row>
          <el-row style="padding-top: 30px" type="flex" class="row-bg">
            <el-col :span="6" :offset="1">
              <el-checkbox label="显示获胜小局" />
            </el-col>
            <el-col :span="6" :offset="0">
              <el-checkbox label="显示平局小局" />
            </el-col>
            <el-col :span="6" :offset="0">
              <el-checkbox label="显示失败小局" />
            </el-col>
            <el-col :span="6" :offset="0">
              <el-checkbox label="显示小局净胜分" />
            </el-col>
          </el-row>
          <el-row style="padding-top: 30px" type="flex" class="row-bg">
            <el-col :span="6" :offset="1">
              <el-checkbox label="显示获胜回合" />
            </el-col>
            <el-col :span="6" :offset="0">
              <el-checkbox label="显示失败回合" />
            </el-col>
            <el-col :span="6" :offset="0">
              <el-checkbox label="显示回合净胜分" />
            </el-col>
            <el-col :span="6" :offset="0">
              <el-checkbox label="显示积分" />
            </el-col>
          </el-row>
        </el-checkbox-group>
        <el-row type="flex" class="row-bg" justify="space-around">
          <el-col :span="6" style="padding-top: 45px">
            <el-form-item>
              <el-button type="primary" @click="onSubmit('core_data')">确认{{ adds ==1?'修改':'创建' }}</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
import {
  // tournamentGroup,
  // get_group,
  // get_stage,
  get_son_tournament,
  get_tournament_team,
  update_team_snapshot,
  tournamentEdit,
  tournamentDetail
} from '@/api/tournament'
// import { search_team } from '@/api/team'
import { get_match_rule } from '@/api/common'
export default {
  name: 'Add3',
  props: ['adds', 'queryId', 'treeid', 'primarykey', 'stage', 'parentId'],
  data() {
    return {
      'core_data': {
        'id': '',
        'tournament_id': '',
        'tree_id': '',
        'name': '',
        'name_cn': '',
        'game': null,
        'scheduled_begin_at': null,
        'scheduled_end_at': null,
        'number_of_teams': '',
        'advance': '',
        'eliminate': '',
        'win_points': '',
        'draw_ponits': '',
        'lose_points': '',
        'order': '',
        'deleted': '0',
        'modified_at': '',
        'created_at': '',
        'deleted_at': null
      },
      'group_team_relation': [],
      ruleList: [
      ],
      allruleList: [{ 'id': '', 'name': '空', 'mane_cn': 'null' }],
      judge_stutas: 0,
      search_old_list: [],
      update_team_old: '',
      sonTournamentInfo: {},
      stage_info: {},
      page: 1,
      per_page: 40,
      total: 20,
      input_lift: '',
      newteam: [],
      searchTeam: [],
      id: '',
      tournament_team_ids: [],
      // timeArea: [],
      form: {
        tournament_id: '',
        name: '',
        name_cn: '',
        group_sort: '',
        out_group_id: '',
        stage_type: '',
        number_of_teams: '',
        eliminate: '',
        advance: '',
        win_points: '',
        draw_ponits: '',
        lose_points: '',
        out_match_id: '',
        son_match_sort: '',
        tree_parent_id: ''
      },
      checkList: [],
      data: [],
      value: [],
      filterMethod(query, item) {
        return item.pinyin.indexOf(query) > -1
      },
      rules: {
        name: [
          { required: true, message: '请输入分组名称', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    input_lift() {
      this.page = 1
      this.info_search_team(this.input_lift)
    },
    page() {
      this.info_search_team(this.input_lift)
    }
  },
  mounted() {
    this.infoList()
    this.stageInfo()
    this.son_tournament_info()
    this.info_search_team()
  },
  methods: {
    getRule() {
      const params = {}
      params['stage_type'] = this.stage_info.stage_type
      get_match_rule(params).then(req => {
        this.allruleList = [{ 'id': '', 'name': '空', 'mane_cn': 'null' }]
        this.ruleList = req.data
        this.allruleList.push.apply(this.allruleList, this.ruleList)
      })
    },
    getMap() {
      this.$router.push({ path: '/gamecenter/tournament/tournamentInfo/photo', query: { id: this.update_team_old, type: 'group', resource_id: this.primarykey }})
    },
    update() {
      const params = {}
      params['new_team_ids'] = ''
      params['old_team_ids'] = this.update_team_old
      params['is_update'] = '1'
      params['relation_id'] = this.primarykey
      params['type'] = 'group'
      update_team_snapshot(params).then(req => {
        this.$message({
          type: 'success',
          message: '更新成功！'
        })
      })
    },
    son_tournament_info() {
      const params = {}
      params['tree_id'] = this.primarykey
      get_son_tournament(params).then(req => {
        this.sonTournamentInfo = req.data
      })
    },
    stageInfo() {
      if (this.adds === '1') {
        const params = {}
        params['id'] = this.parentId
        tournamentDetail(params).then(req => {
          this.stage_info = req.data.core_data
          this.stage_info.stage_type = '' + req.data.core_data.stage_type
          this.getRule()
        })
      }
    },
    upPage() {
      if (this.page > 1) {
        this.page -= 1
      }
    },
    downPage() {
      if (parseInt(this.total / this.per_page) >= this.page) {
        this.page += 1
      }
    },
    handleChange(value, direction, movedKeys) {
      var teamid = this.tournament_team_ids
      var teams = this.data
      var n = 0
      teams.forEach(k => {
        for (var i in teamid) {
          var team = { team_id: '', name: '', match_condition: '', match_condition_cn: '', team_sort: '' }
          if (teamid[i] === k.key) {
            team['team_id'] = k.key
            team['name'] = k.label
            // n.push(team)
            for (var z in this.newteam) {
              n = 0
              if (k.key === this.newteam[z].team_id) {
                n = 1
                break
              }
            }
            if (n === 0) {
              this.newteam.push(team)
            }
          }
        }
      })
      if (teamid.length !== this.newteam.length) {
        var list = []
        for (var q in this.newteam) {
          for (var m in teamid) {
            if (this.newteam[q].team_id === teamid[m]) {
              list.push(this.newteam[q])
              break
            }
          }
        }
        this.newteam = list
      }
      // var teamid = this.tournament_team_ids
      // var teams = this.data
      // this.newteam = []
      // teams.forEach(k => {
      //   for (var i in teamid) {
      //     var team = { team_id: '', tournament_id: '' }
      //     if (teamid[i] === k.key) {
      //       team['team_id'] = k.key
      //       team['tournament_id'] = this.queryId
      //       this.newteam.push(team)
      //     }
      //   }
      // })
      // this.newteam = team
    },
    infoList() {
      if (this.adds === '1') {
        const params = {}
        params['id'] = this.treeid
        tournamentDetail(params).then(req => {
          this.form = req.data
          this.core_data = req.data.core_data
          this.newteam = req.data.group_team_relation
          // this.timeArea.push(req.data.core_data.scheduled_begin_at)
          // this.timeArea.push(req.data.core_data.scheduled_end_at)
          this.id = req.data.core_data.id
          if (req.data.group_team_relation) {
            var k = req.data.group_team_relation
            for (var i in k) {
              this.tournament_team_ids.push(k[i].team_id)
              this.update_team_old += k[i].team_id + ','
            }
            this.update_team_old = this.update_team_old.substr(0, this.update_team_old.length - 1)
          }
          this.judge_stutas = 1
          this.newteam.forEach((city, index) => {
            this.search_old_list.push({
              label: city.name + ' ' + '(' + city.team_id + ')' + ' ' + city.country_name,
              key: city.team_id,
              pinyin: city.name,
              image: city.image
            })
          })
          this.info_search_team()
        })
      }
    },
    info_search_team(info) {
      const params = {}
      if (this.stage) {
        params['stage'] = this.stage
      }
      params['id'] = this.primarykey
      params['type'] = 'group'
      params['name'] = info
      params['page'] = this.page
      params['per_page'] = this.per_page
      get_tournament_team(params).then(req => {
        this.searchTeam = req.data
        this.team = req.data
        this.total = req.data.total
        const data = []
        const cities = req.data
        cities.forEach((city, index) => {
          data.push({
            label: city.name + ' ' + '(' + city.id + ')' + ' ' + city.country,
            key: city.id,
            pinyin: city.name,
            image: city.image
          })
        })
        if (this.judge_stutas === 1) {
          this.search_old_list.forEach(item => {
            var n = 0
            data.forEach(k => {
              if (item.key === k.key) {
                n = 1
              }
            })
            if (n === 0) {
              data.push(item)
            }
          })
          this.judge_stutas = 0
        } else {
          if (this.tournament_team_ids.length > 0) {
            this.tournament_team_ids.forEach(item => {
              this.data.forEach(info => {
                if (item === info.key) {
                  var m = 0
                  data.forEach(k => {
                    if (item === k.key) {
                      m = 1
                    }
                  })
                  if (m === 0) {
                    data.push(info)
                  }
                }
              })
            })
          }
        }
        this.data = data
      })
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          if (this.adds === '1') {
            params['id'] = this.id
          }
          // params['tournament_id'] = this.queryId
          var core_info = { ...this.core_data }
          core_info.type = 4
          // params['name'] = this.form.name
          // params['name_cn'] = this.form.name_cn
          // params['group_sort'] = this.form.group_sort
          // params['out_group_id'] = this.form.out_group_id
          // params['stage_type'] = this.form.stage_type
          // params['number_of_teams'] = this.form.number_of_teams
          // params['eliminate'] = this.form.eliminate
          // params['advance'] = this.form.advance
          // params['win_points'] = this.form.win_points
          // params['draw_ponits'] = this.form.draw_ponits
          // params['lose_points'] = this.form.lose_points
          // params['out_match_id'] = this.form.out_match_id
          // params['son_match_sort'] = this.form.son_match_sort
          params['parent_tree_id'] = this.treeid
          // if (this.timeArea) {
          //   core_info.scheduled_begin_at = this.timeArea[0]
          //   core_info.scheduled_end_at = this.timeArea[1]
          // } else {
          //   core_info.scheduled_begin_at = ''
          //   core_info.scheduled_end_at = ''
          // }
          // if (this.timeArea) {
          //   params['begin_at'] = this.timeArea[0]
          //   params['end_at'] = this.timeArea[1]
          // } else {
          //   params['begin_at'] = ''
          //   params['end_at'] = ''
          // }
          params['type'] = 4
          params['core_data'] = core_info
          params['group_team_ids'] = JSON.stringify(this.newteam)
          tournamentEdit(params).then(req => {
            if (this.adds === '1') {
              const params = {}
              params['new_team_ids'] = this.tournament_team_ids.toString()
              params['old_team_ids'] = this.update_team_old
              params['is_update'] = '2'
              params['relation_id'] = this.primarykey
              params['type'] = 'group'
              update_team_snapshot(params).then(req => {
                this.$message({
                  type: 'success',
                  message: '修改成功！'
                })
                this.$emit('onadd3')
              })
            } else {
              const params = {}
              params['new_team_ids'] = this.tournament_team_ids.toString()
              params['old_team_ids'] = this.update_team_old
              params['is_update'] = '2'
              params['relation_id'] = req.data.id
              params['type'] = 'group'
              update_team_snapshot(params).then(req => {
                this.$message({
                  type: 'success',
                  message: '修改成功！'
                })
                this.$emit('onadd3')
              })
            }
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
  .transfer-footer {
    margin-left: 23px;
    /*padding: 6px 5px;*/
  }
</style>
