<template>
  <el-card>
    <div>
      <el-row>
        <el-col :span="4">
          <el-form-item label="获胜方" />
        </el-col>
        <el-col :span="4" :offset="1" style="text-align: center">
          <el-input v-model="names" :disabled="true" placeholder="主队名称" />
        </el-col>
        <el-col :span="4" :offset="0" style="text-align: center">
          <p style=" font-size: 15px; color: red">VS</p>
        </el-col>
        <el-col :span="4" :offset="0" style="text-align: center">
          <el-input v-model="names" :disabled="true" placeholder="客队名称" />
        </el-col>
        <el-col :span="3" :offset="2">
          <el-button type="primary" size="small" @click="resteinfo">重置</el-button>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="4" :offset="5" style="padding-top: 15px; text-align: center">
          <el-radio v-model="form.status_type" label="1">获胜</el-radio>
        </el-col>
        <el-col :span="4" :offset="0" style="padding-top: 15px; text-align: center">
          <el-radio v-model="form.status_type" label="2">平局</el-radio>
        </el-col>
        <el-col :span="4" style="padding-top: 15px; text-align: center">
          <el-radio v-model="form.status_type" label="3">获胜</el-radio>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="13" style="padding-top: 30px; padding-bottom: 30px; text-align: center">
          <el-radio v-model="form.status_type" label="4">单独弃权</el-radio>
        </el-col>
        <el-col :span="4" style="padding-top: 30px; padding-bottom: 30px; text-align: center">
          <el-radio v-model="form.status_type" label="5">单独弃权</el-radio>
        </el-col>
      </el-row>
      <div class="contents">
        <el-row class="background-colors">
          <el-col :span="20" :offset="0" class="higths">
            <el-form-item label="阵容Ban/Pick" />
          </el-col>
        </el-row>
        <el-row>
          <el-row>
            <el-col :span="5" :offset="3" style="color: red">Ban</el-col>
            <el-col :span="5" style="color: green">Pick</el-col>
            <el-col :span="5" style="color: red">Ban</el-col>
            <el-col :span="5" style="color: green">Pick</el-col>
          </el-row>
          <el-row style="text-align: center">
            <el-col :span="5">
              <el-row>
                <el-form-item>
                  <el-select v-model="form.ban[0]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
              <el-row>
                <el-form-item>
                  <el-select v-model="form.ban[1]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
              <el-row>
                <el-form-item>
                  <el-select v-model="form.ban[2]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
              <el-row>
                <el-form-item>
                  <el-select v-model="form.ban[3]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
              <el-row>
                <el-form-item>
                  <el-select v-model="form.ban[4]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
              <el-row>
                <el-form-item>
                  <el-select v-model="form.ban[5]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
            </el-col>
            <el-col :span="5">
              <el-row>
                <el-form-item>
                  <el-select v-model="form.pick[0]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
              <el-row>
                <el-form-item>
                  <el-select v-model="form.pick[1]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
              <el-row>
                <el-form-item>
                  <el-select v-model="form.pick[2]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
              <el-row>
                <el-form-item>
                  <el-select v-model="form.pick[3]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
              <el-row>
                <el-form-item>
                  <el-select v-model="form.pick[4]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
            </el-col>
            <el-col :span="5">
              <el-row>
                <el-form-item>
                  <el-select v-model="form.ban[6]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
              <el-row>
                <el-form-item>
                  <el-select v-model="form.ban[7]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
              <el-row>
                <el-form-item>
                  <el-select v-model="form.ban[8]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
              <el-row>
                <el-form-item>
                  <el-select v-model="form.ban[9]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
              <el-row>
                <el-form-item>
                  <el-select v-model="form.ban[10]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
              <el-row>
                <el-form-item>
                  <el-select v-model="form.ban[11]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
            </el-col>
            <el-col :span="5">
              <el-row>
                <el-form-item>
                  <el-select v-model="form.pick[5]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
              <el-row>
                <el-form-item>
                  <el-select v-model="form.pick[6]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
              <el-row>
                <el-form-item>
                  <el-select v-model="form.pick[7]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
              <el-row>
                <el-form-item>
                  <el-select v-model="form.pick[8]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
              <el-row>
                <el-form-item>
                  <el-select v-model="form.pick[9]" placeholder="选择英雄">
                    <el-option
                      v-for="(item,index) in heroist"
                      :key="index"
                      :label="item.hero_name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-row>
            </el-col>
          </el-row>
        </el-row>
        <el-row class="widths">
          <el-col :span="4" :offset="2" class="higths">
            <el-form-item label="阵营" />
          </el-col>
          <el-col :span="2" class="higths">
            <el-form-item>
              <el-radio v-model="form.camp" label="2">天辉（R）</el-radio>
            </el-form-item>
          </el-col>
          <el-col :span="3" class="higths">
            <el-form-item>
              <el-radio v-model="form.camp" label="1">夜魇（D）</el-radio>
            </el-form-item>
          </el-col>
          <el-col :span="5" :offset="1" class="higths">
            <el-form-item>
              <el-radio v-model="form.camp" label="1">夜魇（）</el-radio>
            </el-form-item>
          </el-col>
          <el-col :span="5" :offset="1" class="higths">
            <el-form-item>
              <el-button type="text" @click="form.camp = 0">重置</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row class="background-colors">
          <el-col :span="4" :offset="2" class="higths">
            <el-form-item label="一血" />
          </el-col>
          <el-col :span="5" class="higths">
            <el-form-item>
              <el-radio v-model="form.first_blood" label="1">一血</el-radio>
            </el-form-item>
          </el-col>
          <el-col :span="5" :offset="1" class="higths">
            <el-form-item>
              <el-radio v-model="form.first_blood" label="2">一血</el-radio>
            </el-form-item>
          </el-col>
          <el-col :span="5" :offset="1" class="higths">
            <el-form-item>
              <el-button type="text" @click="form.first_blood = 0">重置</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row class="widths">
          <el-col :span="4" :offset="2" class="higths">
            <el-form-item label="十杀" />
          </el-col>
          <el-col :span="5" class="higths">
            <el-form-item>
              <el-radio v-model="form.ten_kills" label="1">一血</el-radio>
            </el-form-item>
          </el-col>
          <el-col :span="5" :offset="1" class="higths">
            <el-form-item>
              <el-radio v-model="form.ten_kills" label="2">十杀</el-radio>
            </el-form-item>
          </el-col>
          <el-col :span="5" :offset="1" class="higths">
            <el-form-item>
              <el-button type="text" @click="form.ten_kills = 0">重置</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row class="background-colors">
          <el-col :span="4" :offset="2" class="higths">
            <el-form-item label="一血塔" />
          </el-col>
          <el-col :span="5" class="higths">
            <el-form-item>
              <el-radio v-model="form.first_blood_tower" label="1">一血塔</el-radio>
            </el-form-item>
          </el-col>
          <el-col :span="5" :offset="1" class="higths">
            <el-form-item>
              <el-radio v-model="form.first_blood_tower" label="2">一血塔</el-radio>
            </el-form-item>
          </el-col>
          <el-col :span="5" :offset="1" class="higths">
            <el-form-item>
              <el-button type="text" @click="form.first_blood_tower = 0">重置</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row class="widths">
          <el-col :span="4" :offset="7" class="higths">
            <p style="text-align: center;font-size:15px">【主队名称】</p>
          </el-col>
          <el-col :span="4" class="higths">
            <p style="text-align: center">VS</p>
          </el-col>
          <el-col :span="6" :offset="1" class="higths">
            <p>【客队名称】</p>
          </el-col>
        </el-row>
        <el-row class="background-colors">
          <el-col :span="2" :offset="2" class="higths">
            <el-form-item label="击杀" />
          </el-col>
          <el-col :span="7" :offset="0" class="higths">
            <el-form-item>
              <el-input v-model="form.kill" />
            </el-form-item>
          </el-col>
          <el-col :span="7" :offset="1" class="higths">
            <el-form-item>
              <el-input v-model="form.other_kill" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row class="widths">
          <el-col :span="2" :offset="2" class="higths">
            <el-form-item label="经济" />
          </el-col>
          <el-col :span="7" :offset="0" class="higths">
            <el-form-item>
              <el-input v-model="form.economics" />
            </el-form-item>
          </el-col>
          <el-col :span="7" :offset="1" class="higths">
            <el-form-item>
              <el-input v-model="form.other_economics" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row class="background-colors">
          <el-col :span="2" :offset="2" class="higths">
            <el-form-item label="经验" />
          </el-col>
          <el-col :span="7" :offset="0" class="higths">
            <el-form-item>
              <el-input v-model="form.experience" />
            </el-form-item>
          </el-col>
          <el-col :span="7" :offset="1" class="higths">
            <el-form-item>
              <el-input v-model="form.experience" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row class="widths">
          <el-col :span="2" :offset="2" class="higths">
            <el-form-item label="推塔" />
          </el-col>
          <el-col :span="7" :offset="0" class="higths">
            <el-form-item>
              <el-input v-model="form.small_dragons" />
            </el-form-item>
          </el-col>
          <el-col :span="7" :offset="1" class="higths">
            <el-form-item>
              <el-input v-model="form.other_small_dragons" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row class="background-colors">
          <el-col :span="2" :offset="2" class="higths">
            <el-form-item label="摧毁近战兵营" />
          </el-col>
          <el-col :span="7" :offset="0" class="higths">
            <el-form-item>
              <el-input v-model="form.destroy_near_barrack" />
            </el-form-item>
          </el-col>
          <el-col :span="7" :offset="1" class="higths">
            <el-form-item>
              <el-input v-model="form.other_destroy_near_barrack" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row class="widths">
          <el-col :span="2" :offset="2" class="higths">
            <el-form-item label="摧毁远战兵营" />
          </el-col>
          <el-col :span="7" :offset="0" class="higths">
            <el-form-item>
              <el-input v-model="form.destroy_far_barrack" />
            </el-form-item>
          </el-col>
          <el-col :span="7" :offset="1" class="higths">
            <el-form-item>
              <el-input v-model="form.other_destroy_far_barrack" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row class="background-colors">
          <el-col :span="2" :offset="2" class="higths">
            <el-form-item label="比赛时长" />
          </el-col>
          <el-col :span="7" :offset="0" class="higths">
            <el-form-item>
              <el-input v-model="form.match_duration" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row class="widths">
          <el-col :span="2" :offset="2">
            <el-form-item label="对局正式开始时间" />
          </el-col>
          <el-col :span="7" :offset="0">
            <el-form-item>
              <el-date-picker
                v-model="form.match_begin_date"
                type="datetime"
                value-format="yyyy-MM-dd yy:mm:dd"
                placeholder="选择日期时间"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </div>
    </div>
  </el-card>
</template>

<script>
import { get_hero_list } from '@/api/match'
export default {
  name: 'DtInput',
  props: ['value'],
  data() {
    return {
      heroist: [],
      names: '',
      req: {

      },
      form: {
        type: 2,
        id: '',
        status_type: '',
        confrontation_begin_date: '',
        camp: '',
        five_kills: '',
        ten_kills: '',
        first_blood_tower: '',
        first_canyon_pioneer: '',
        first_small_dragons: '',
        first_big_dragons: '',
        first_crystal: '',
        kill: '',
        economics: '',
        push_tower: '',
        small_dragons: '',
        baron: '',
        crystal: '',
        match_duration: '',
        match_begin_date: '',
        experience: '',
        destroy_near_barrack: '',
        destroy_far_barrack: '',
        other_destroy_far_barrack: '',
        other_destroy_near_barrack: '',
        other_economics: '',
        other_kill: '',
        other_push_tower: '',
        other_small_dragons: '',
        other_baron: '',
        other_crystal: '',
        ban: ['', '', '', '', '', '', '', '', '', '', '', ''],
        pick: ['', '', '', '', '', '', '', '', '', '']
      }
    }
  },
  watch: {
    'form': {
      handler: function() {
        this.$emit('input', this.form)
      },
      deep: true
    }
  },
  mounted() {
    this.form = this.value
    this.hero_list_info()
  },
  methods: {
    hero_list_info() {
      const params = {}
      params['type'] = 2
      get_hero_list(params).then(req => {
        this.heroist = req.data.list
      })
    },
    resteinfo() {
      this.form.status_type = ''
    }
  }
}
</script>

<style scoped>
  .higths {
    height: 35px;
  }
  .background-colors {
    background-color: #e7ecf4;
    width: 90%
  }
  .widths {
    width: 90%;
  }
</style>
