<template>
  <el-tabs v-model="activeName" type="border-card">
    <el-tab-pane label="核心内容">
      <el-form ref="core_data" :rules="rules" :model="core_data" label-width="140px" :inline="true">
        <el-row type="flex" class="row-bg">
          <el-col :span="6" ::offset="0">
            <el-form-item label="数据源">
              <el-select v-if="form.data_config.config" v-model="form.data_config.config['tournament.core_data'].origin_id" style="width: 250px" disabled>
                <el-option
                  v-for="(item,index) in $store.getters.enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" ::offset="0">
            <el-form-item label="更新方式">
              <el-select v-if="form.data_config.config" v-model="form.data_config.config['tournament.core_data'].update_type" style="width: 250px" disabled>
                <el-option label="不更新" value="1" />
                <el-option label="手动" value="2" />
                <el-option label="自动" value="3" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="6" :offset="0">
            <el-form-item label="名称（英文）" prop="name">
              <el-input v-model="core_data.name" style="width: 250px" />
              <div v-if="updateInfo.core_data.name||updateInfo.core_data.name==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.name?updateInfo.core_data.name:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="core_data.name = updateInfo.core_data.name">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="名称（中文）">
              <el-input v-model="core_data.name_cn" style="width: 250px" />
              <div v-if="updateInfo.core_data.name_cn||updateInfo.core_data.name_cn==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.name_cn?updateInfo.core_data.name_cn:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="core_data.name_cn = updateInfo.core_data.name_cn">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="游戏项目" prop="game">
              <el-select v-model="core_data.game" placeholder="请选择" :disabled="true" style="width: 250px">
                <el-option
                  v-for="(item,index) in allgame"
                  :key="index"
                  :label="item.name"
                  :value="''+item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="状态" prop="status">
              <el-select v-model="core_data.status" placeholder="请选择" style="width: 250px">
                <el-option
                  v-for="(item,index) in state"
                  :key="index"
                  :label="item.name"
                  :value="''+item.id"
                />
              </el-select>
              <div v-if="updateInfo.core_data.status||updateInfo.core_data.status==''">
                <span class="upDate">变更为：
                  <div v-if="updateInfo.core_data.status!=''">
                    <span v-for="(item1,index) in state" :key="index" style="color: red">{{ item1.id == updateInfo.core_data.status?item1.name:'' }}</span>
                  </div>
                  <span v-if="updateInfo.core_data.status==''" style="color: red">空</span>
                </span>
                <el-button type="primary" size="mini" plain @click="core_data.status = updateInfo.core_data.status">应用</el-button>
              </div>
            </el-form-item>
          </el-col>

        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="6" :offset="0">
            <el-form-item label="计划开始日期">
              <el-date-picker
                v-if="core_data.status == '4'"
                v-model="core_data.scheduled_begin_at"
                placeholder="请选择计划开始日期"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 250px;"
                disabled
              />
              <el-date-picker
                v-if="core_data.status != '4'"
                v-model="core_data.scheduled_begin_at"
                placeholder="请选择计划开始日期"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 250px;"
              />
              <div v-if="updateInfo.core_data.scheduled_begin_at||updateInfo.core_data.scheduled_begin_at==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.scheduled_begin_at?updateInfo.core_data.scheduled_begin_at:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="core_data.scheduled_begin_at = updateInfo.core_data.scheduled_begin_at">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="计划结束日期">
              <el-date-picker
                v-if="core_data.status == '4'"
                v-model="core_data.scheduled_end_at"
                placeholder="请选择计划结束日期"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 250px;"
                disabled
              />
              <el-date-picker
                v-if="core_data.status != '4'"
                v-model="core_data.scheduled_end_at"
                placeholder="请选择计划结束日期"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 250px;"
              />
              <div v-if="updateInfo.core_data.scheduled_end_at||updateInfo.core_data.scheduled_end_at==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.scheduled_end_at?updateInfo.core_data.scheduled_end_at:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="core_data.scheduled_end_at = updateInfo.core_data.scheduled_end_at">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="简称（英文）">
              <el-input v-model="core_data.short_name" style="width: 250px" />
              <div v-if="updateInfo.core_data.short_name||updateInfo.core_data.short_name==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.short_name?updateInfo.core_data.short_name:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="core_data.short_name = updateInfo.core_data.short_name">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="简称（中文）">
              <el-input v-model="core_data.short_name_cn" style="width: 250px" />
              <div v-if="updateInfo.core_data.short_name_cn||updateInfo.core_data.short_name_cn==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.short_name_cn?updateInfo.core_data.short_name_cn:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="core_data.short_name_cn = updateInfo.core_data.short_name_cn">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row />
        <el-row type="flex" class="row-bg">
          <el-col :span="6" :offset="0">
            <el-form-item label="图标" prop="image">
              <el-upload
                class="avatar-uploader"
                :action="getUploadUrl()"
                :on-success="uploads"
                :before-upload="beforeAvatarUpload"
              >
                <img v-if="core_data.image" style="width: 200px;height: 200px" :src="core_data.image" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon" />
              </el-upload>
            </el-form-item>
          </el-col>
          <el-col v-if="updateInfo.core_data.image" :span="6">
            <div>
              <span class="upDate">变更为：<span style="color: red">
                <img v-if="core_data.image" style="width: 200px;height: 200px" :src="updateInfo.core_data.image" class="avatar">
              </span></span>
              <el-button type="primary" size="mini" plain @click="core_data.image = updateInfo.core_data.image">应用</el-button>
            </div>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="Slug" prop="slug">
              <el-input v-model="core_data.slug" style="width: 250px" />
              <div v-if="updateInfo.core_data.slug||updateInfo.core_data.slug==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.slug?updateInfo.core_data.slug:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="core_data.slug = updateInfo.core_data.slug">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col v-if="updateInfo.core_data.deleted" :span="6" :offset="0">
            <el-form-item label="是否删除">
              <el-select v-model="core_data.deleted" style="width: 100%" disabled>
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
              <div v-if="updateInfo.core_data.deleted || updateInfo.core_data.deleted == ''">
                <span class="upDate">变更为：<span style="color: red">
                  <span v-if="updateInfo.core_data.deleted == '1'">是</span>
                  <span v-if="updateInfo.core_data.deleted == '2'">否</span>
                </span></span>
                <el-button type="primary" size="mini" plain @click="core_data.deleted = updateInfo.core_data.deleted">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <div :span="6" style="padding-top: 15px;text-align: center">
            <el-button type="primary" @click="onSubmit('core_data')">确认修改</el-button>
          </div>
        </el-row>
        <el-row type="flex" class="row-bg" style="padding-top: 20px">
          <el-col v-for="(item,index) in binding_list" :key="index" :span="8">
            <el-row>
              <el-col :span="20" :offset="0">
                <el-form-item :label="item.desc">
                  <el-input v-model="item.standard_id" disabled />
                </el-form-item>
              </el-col>
              <el-col :span="1">
                <el-form>
                  <el-form-item style="text-align: right">
                    <el-button type="text" @click="unbundle(item.id)">解绑</el-button>
                  </el-form-item>
                </el-form>
              </el-col>
            </el-row>
          </el-col>
        </el-row>
      </el-form>
    </el-tab-pane>
    <el-tab-pane label="基础内容">
      <el-form :model="form" label-width="140px">
        <el-row type="flex" class="row-bg">
          <el-col :span="6" ::offset="0">
            <el-form-item label="数据源">
              <el-select v-if="form.data_config.config" v-model="form.data_config.config['tournament.base_data'].origin_id" style="width: 100%" disabled>
                <el-option
                  v-for="(item,index) in $store.getters.enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" ::offset="0">
            <el-form-item label="更新方式">
              <el-select v-if="form.data_config.config" v-model="form.data_config.config['tournament.base_data'].update_type" style="width: 100%" disabled>
                <el-option label="不更新" value="1" />
                <el-option label="手动" value="2" />
                <el-option label="自动" value="3" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <!--          <el-col :span="6" :offset="0">-->
          <!--            <el-form-item label="Steam ID">-->
          <!--              <el-input v-model="form.steam_id" />-->
          <!--              <div>-->
          <!--                <span>变更为：<span style="color: red">avd</span></span>-->
          <!--                <el-button type="primary" size="mini" plain @click="1">应用</el-button>-->
          <!--              </div>-->
          <!--            </el-form-item>-->
          <!--          </el-col>-->
          <!--          <el-col :span="6" :offset="0">-->
          <!--            <el-form-item label="系列赛">-->
          <!--              <el-input v-model="form.series_match" />-->
          <!--              <div>-->
          <!--                <span>变更为：<span style="color: red">avd</span></span>-->
          <!--                <el-button type="primary" size="mini" plain @click="1">应用</el-button>-->
          <!--              </div>-->
          <!--            </el-form-item>-->
          <!--          </el-col>-->
          <el-col :span="6" :offset="0">
            <el-form-item label="队伍数量">
              <el-input v-model="base_data.number_of_teams" @keyup.native="base_data.number_of_teams = proving(base_data.number_of_teams)" />
              <div v-if="updateInfo.base_data.number_of_teams||updateInfo.base_data.number_of_teams==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.number_of_teams?updateInfo.base_data.number_of_teams:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="base_data.number_of_teams = updateInfo.base_data.number_of_teams">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="赛事级别">
              <el-input v-model="base_data.tier" />
              <div v-if="updateInfo.base_data.tier||updateInfo.base_data.tier==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.tier?updateInfo.base_data.tier:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="base_data.tier = updateInfo.base_data.tier">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="赛区">
              <el-select v-model="base_data.region" filterable placeholder="请选择" style="width: 100%">
                <el-option
                  v-for="(item,index) in all"
                  :key="index"
                  :label="item.e_name + ' '+'('+item.name+')'"
                  :value="item.id"
                />
              </el-select>
              <div v-if="updateInfo.base_data.region||updateInfo.base_data.region==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.region?$store.getters.getCountryById('' + updateInfo.base_data.region):'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="base_data.region = updateInfo.base_data.region">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="举办国家地区">
              <el-select v-model="base_data.country" filterable placeholder="请选择" style="width: 100%">
                <el-option
                  v-for="(item,index) in all"
                  :key="index"
                  :label="item.e_name + ' '+'('+item.name+')'"
                  :value="item.id"
                />
              </el-select>
              <div v-if="updateInfo.base_data.country||updateInfo.base_data.country==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.country?$store.getters.getCountryById('' + updateInfo.base_data.country):'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="base_data.country = updateInfo.base_data.country">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="6" :offset="0">
            <el-form-item label="举办地（英文）">
              <el-input v-model="base_data.location" />
              <div v-if="updateInfo.base_data.location||updateInfo.base_data.location==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.location?updateInfo.base_data.location:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="base_data.location = updateInfo.base_data.location">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="举办地（中文）">
              <el-input v-model="base_data.location_cn" />
              <div v-if="updateInfo.base_data.location_cn||updateInfo.base_data.location_cn==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.location_cn?updateInfo.base_data.location_cn:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="base_data.location_cn = updateInfo.base_data.location_cn">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="主办方（英文）">
              <el-input v-model="base_data.organizer" />
              <div v-if="updateInfo.base_data.organizer||updateInfo.base_data.organizer==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.organizer?updateInfo.base_data.organizer:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="base_data.organizer = updateInfo.base_data.organizer">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="主办方（中文）">
              <el-input v-model="base_data.organizer_cn" />
              <div v-if="updateInfo.base_data.organizer_cn||updateInfo.base_data.organizer_cn==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.organizer_cn?updateInfo.base_data.organizer_cn:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="base_data.organizer_cn = updateInfo.base_data.organizer_cn">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="6" :offset="0">
            <el-form-item label="游戏版本">
              <el-input v-model="base_data.version" />
              <div v-if="updateInfo.base_data.version||updateInfo.base_data.version==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.version?updateInfo.base_data.version:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="base_data.version = updateInfo.base_data.version">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="奖金">
              <el-input v-model="base_data.prize_bonus" />
              <div v-if="updateInfo.base_data.prize_bonus||updateInfo.base_data.prize_bonus==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.prize_bonus?updateInfo.base_data.prize_bonus:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="base_data.prize_bonus = updateInfo.base_data.prize_bonus">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="积分">
              <el-input v-model="base_data.prize_points" />
              <div v-if="updateInfo.base_data.prize_points||updateInfo.base_data.prize_points==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.prize_points?updateInfo.base_data.prize_points:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="base_data.prize_points = updateInfo.base_data.prize_points">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="名额">
              <el-input v-model="base_data.prize_seed" />
              <div v-if="updateInfo.base_data.prize_seed||updateInfo.base_data.prize_seed==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.prize_seed?updateInfo.base_data.prize_seed:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="base_data.prize_seed = updateInfo.base_data.prize_seed">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="6" :offset="0">
            <el-form-item label="地图池">
              <el-input
                v-model="base_data.map_pool"
                type="textarea"
                :rows="4"
                maxlength="1000"
                show-word-limit
              />
              <div v-if="updateInfo.base_data.map_pool||updateInfo.base_data.map_pool==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.map_pool?updateInfo.base_data.map_pool:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="base_data.map_pool = updateInfo.base_data.map_pool">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="赛制介绍（英文）">
              <el-input
                v-model="base_data.format"
                type="textarea"
                :rows="4"
                maxlength="1000"
                show-word-limit
              />
              <div v-if="updateInfo.base_data.format||updateInfo.base_data.format==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.format?updateInfo.base_data.format:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="base_data.format = updateInfo.base_data.format">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="赛制介绍（中文）">
              <el-input
                v-model="base_data.format_cn"
                type="textarea"
                :rows="4"
                maxlength="1000"
                show-word-limit
              />
              <div v-if="updateInfo.base_data.format_cn||updateInfo.base_data.format_cn==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.format_cn?updateInfo.base_data.format_cn:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="base_data.format_cn = updateInfo.base_data.format_cn">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6" :offset="0">
            <el-form-item label="赛事介绍（英文）">
              <el-input
                v-model="base_data.introduction"
                type="textarea"
                :rows="4"
                maxlength="1000"
                show-word-limit
              />
              <div v-if="updateInfo.base_data.introduction||updateInfo.base_data.introduction==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.introduction?updateInfo.base_data.introduction:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="base_data.introduction = updateInfo.base_data.introduction">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="赛事介绍（中文）">
              <el-input
                v-model="base_data.introduction_cn"
                type="textarea"
                :rows="4"
                maxlength="1000"
                show-word-limit
              />
              <div v-if="updateInfo.base_data.introduction_cn||updateInfo.base_data.introduction_cn==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.introduction_cn?updateInfo.base_data.introduction_cn:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="base_data.introduction_cn = updateInfo.base_data.introduction_cn">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <el-col :span="6" style="padding-top: 45px">
            <el-form-item>
              <el-button type="primary" @click="onSubmit('core_data')">确认修改</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-tab-pane>
    <el-tab-pane label="奖池分配">
      <el-form :model="form" :inline="true" label-width="100px" size="mini">
        <el-row type="flex" class="row-bg">
          <el-col :span="4" :offset="1">
            <el-form-item label="数据源">
              <el-select v-if="form.data_config.config" v-model="form.data_config.config['tournament.base_data'].origin_id" disabled>
                <el-option
                  v-for="(item,index) in $store.getters.enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="4" :offset="0">
            <el-form-item label="更新方式">
              <el-select v-if="form.data_config.config" v-model="form.data_config.config['tournament.base_data'].update_type" disabled>
                <el-option label="不更新" value="1" />
                <el-option label="手动" value="2" />
                <el-option label="自动" value="3" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <div v-if="!team_list.length" style="text-align: center">
          <el-button type="primary" @click="onSubAdd(0)">添加</el-button>
        </div>
        <div v-for="(item, index) in team_list" :key="index" style="padding-bottom: 15px">
          <el-row type="flex" class="row-bg" align="top">
            <el-col :span="4" :offset="1">
              <el-form-item label="排名">
                <el-input v-model="item.rank" />
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0">
              <el-form-item label="奖金">
                <el-input v-model="item.price" />
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0">
              <el-form-item label="积分">
                <el-input v-model="item.score" />
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0">
              <el-form-item label="名额">
                <el-input v-model="item.num" />
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0">
              <el-form-item label="战队">
                <el-select v-model="item.team_id" placeholder="请选择" filterable style="width: 100%">
                  <el-option
                    v-for="(item1,index) in all_get_teams"
                    :key="index"
                    :label="item1.pinyin"
                    :value="item1.key"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="2">
              <el-form-item>
                <el-button type="text" size="small" @click="onSubAdd(index)">添加</el-button>
                <el-button type="text" size="small" @click="onSubDel(index)">删除</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
        <div v-if="updateInfo.tournament_price_distribute.prize_distribution||updateInfo.tournament_price_distribute.prize_distribution == ''" class="upDate">
          <span>变更为：</span>
          <span v-if="updateInfo.tournament_price_distribute.prize_distribution==''||updateInfo.tournament_price_distribute.prize_distribution==null" style="color: red">空</span>
          <el-button v-if="updateInfo.tournament_price_distribute.prize_distribution==''||updateInfo.tournament_price_distribute.prize_distribution==null" type="primary" size="mini" plain @click="team_list = ''">应用</el-button>
          <div v-for="(item, index) in updateInfo.tournament_price_distribute.prize_distribution" :key="index" style="padding-bottom: 15px;color: red">
            <el-row type="flex" class="row-bg" align="top">
              <el-col :span="4" :offset="1">
                <el-form-item label="排名">
                  <el-input v-model="item.rank" disabled />
                </el-form-item>
              </el-col>
              <el-col :span="4" :offset="0">
                <el-form-item label="奖金">
                  <el-input v-model="item.price" disabled />
                </el-form-item>
              </el-col>
              <el-col :span="4" :offset="0">
                <el-form-item label="积分">
                  <el-input v-model="item.score" disabled />
                </el-form-item>
              </el-col>
              <el-col :span="4" :offset="0">
                <el-form-item label="名额">
                  <el-input v-model="item.num" disabled />
                </el-form-item>
              </el-col>
              <el-col :span="4" :offset="0">
                <el-form-item label="战队">
                  <el-select v-model="item.team_id" placeholder="请选择" filterable disabled style="width: 100%">
                    <el-option
                      v-for="(item1,index) in all_get_teams"
                      :key="index"
                      :label="item1.pinyin"
                      :value="item1.key"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
          <el-row>
            <el-col v-if="updateInfo.tournament_price_distribute.prize_distribution" :offset="21">
              <el-button type="primary" size="mini" plain @click="team_list = updateInfo.tournament_price_distribute.prize_distribution">应用</el-button>
            </el-col>
          </el-row>
        </div>
        <el-row type="flex" class="row-bg" justify="space-around">
          <el-col :span="6" style="padding-top: 45px">
            <el-form-item>
              <el-button type="primary" @click="onSubmit('core_data')">确认修改</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-tab-pane>
    <el-tab-pane label="参赛战队" class="transfer_info">
      <el-form :model="form" label-width="100px">
        <el-row type="flex" class="row-bg">
          <el-col :span="8" ::offset="0">
            <el-form-item label="数据源">
              <el-select v-if="form.data_config.config" v-model="form.data_config.config['tournament.attend_team'].origin_id" style="width: 100%" disabled>
                <el-option
                  v-for="(item,index) in $store.getters.enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" ::offset="0">
            <el-form-item label="更新方式">
              <el-select v-if="form.data_config.config" v-model="form.data_config.config['tournament.attend_team'].update_type" style="width: 100%" disabled>
                <el-option label="不更新" value="1" />
                <el-option label="手动" value="2" />
                <el-option label="自动" value="3" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="3">
            <el-form-item>
              <el-button type="primary" size="mini" @click="update">更新战队快照</el-button>
            </el-form-item>
          </el-col>
          <el-col :span="4">
            <el-form-item>
              <el-button type="primary" size="mini" @click="getMap">查看战队快照</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="4" :offset="1">
            <el-input
              v-model="input_lift"
              placeholder="请输入内容"
              prefix-icon="el-icon-search"
              style="width: 300px"
            />
          </el-col>
        </el-row>
        <el-row class="row-bg" justify="space-around">
          <el-col :span="16" :offset="1">
            <el-transfer
              v-model="player_config"
              :titles="['战队列表', '参赛战队列表']"
              filter-placeholder="请输入战队名称"
              :data="data"
              @change="handleChange"
            >
              <div slot-scope="{ option }">
                <el-avatar :size="30" :src="option.image" shape="square" style="vertical-align:middle;text-align: center;background-color: white" />
                <span> {{ option.label }}</span>
              </div>
              <el-button slot="left-footer" class="transfer-footer" size="small" @click="upPage">上页</el-button>
              <el-button slot="left-footer" class="transfer-footer" size="small">第{{ page }}页</el-button>
              <el-button slot="left-footer" class="transfer-footer" size="small" @click="downPage">下页</el-button>
            </el-transfer>
          </el-col>
          <el-col v-if="attend_team_status" :span="5" :offset="0">
            <div class="upDate">
              <div style="margin: 10px 0">更新为：</div>
              <span v-if="updateInfo_team_info.length=='0'" style="color: red">空</span>
              <div v-if="updateInfo_team_info.length>'0'">
                <div v-for="(item, index) in updateInfo_team_info" :key="index" class="upDate" style="color: #2D7CFD">
                  <el-avatar :size="30" :src="item.image" shape="square" style="vertical-align:middle;text-align: center;background-color: white" />
                  {{ item.name+' ('+item.id+') '+item.country_cn }}</div>
              </div>
            </div>
            <el-button type="primary" size="mini" plain style="margin-top: 10px" @click="getUpdate">应用</el-button>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <el-col :span="6" style="padding-top: 35px">
            <el-form :model="form" label-width="100px">
              <el-form-item>
                <el-button type="primary" @click="onSubmit('core_data')">确认修改</el-button>
              </el-form-item>
            </el-form>
          </el-col>
        </el-row>
      </el-form>
    </el-tab-pane>
    <el-tab-pane label="参赛条件">
      <el-form :model="form" :inline="true" label-width="140px" size="mini">
        <el-row type="flex" class="row-bg">
          <el-col :span="6" ::offset="0">
            <el-form-item label="数据源">
              <el-select v-if="form.data_config.config" v-model="form.data_config.config['tournament.attend_team'].origin_id" disabled>
                <el-option
                  v-for="(item,index) in $store.getters.enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" ::offset="0">
            <el-form-item label="更新方式">
              <el-select v-if="form.data_config.config" v-model="form.data_config.config['tournament.attend_team'].update_type" disabled>
                <el-option label="不更新" value="1" />
                <el-option label="手动" value="2" />
                <el-option label="自动" value="3" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <div v-if="!team_num_list.length" style="text-align: center">
          <el-button type="primary" @click="onSubAddRelation(0)">添加</el-button>
        </div>
        <el-row v-for="(item,index) in team_num_list" :key="index" type="flex" class="row-bg" style="padding-bottom: 15px">
          <!--          <el-col :span="6" :offset="0">-->
          <!--            <el-form-item label="参赛战队">-->
          <!--              <el-input v-model="item.name" disabled />-->
          <!--            </el-form-item>-->
          <!--          </el-col>-->
          <el-col :span="5" :offset="1">
            <el-form-item label="参赛战队">
              <el-select v-model="item.team_id" placeholder="请选择" filterable style="width: 100%">
                <el-option
                  v-for="(item1,index) in all_get_teams"
                  :key="index"
                  :label="item1.pinyin"
                  :value="item1.key"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="5" :offset="0">
            <el-form-item label="参赛条件（英文）">
              <el-input v-model="item.match_condition" />
            </el-form-item>
          </el-col>
          <el-col :span="5" :offset="0">
            <el-form-item label="参赛条件（中文）">
              <el-input v-model="item.match_condition_cn" />
            </el-form-item>
          </el-col>
          <el-col :span="5" :offset="0">
            <el-form-item label="队伍排序">
              <el-input v-model="item.team_sort" @keyup.native="item.team_sort = proving(item.team_sort)" />
            </el-form-item>
          </el-col>
          <el-col :span="2">
            <el-form-item>
              <el-button type="text" size="small" @click="onSubAddRelation(index)">添加</el-button>
              <el-button type="text" size="small" @click="onSubDelRelation(index)">删除</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <div v-if="teams_condition_status">
          <span class="upDate">变更为：<span style="color: red">
            <span v-if="updateInfo.tournament_team_relation.teams_condition ==''">空</span>
            <span><el-button v-if="updateInfo.tournament_team_relation.teams_condition ==''" type="primary" size="mini" plain @click="team_num_list = ''">应用</el-button></span>
            <div v-if="teams_condition_status">
              <el-row v-for="(item,index) in updateInfo.tournament_team_relation.teams_condition" :key="index" type="flex" class="row-bg">
                <el-col :span="6" :offset="0">
                  <el-form-item label="参赛战队">
                    <el-select v-model="item.team_id" placeholder="请选择" disabled filterable style="width: 100%">
                      <el-option
                        v-for="(item1,index) in all_get_teams"
                        :key="index"
                        :label="item1.pinyin"
                        :value="item1.key"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="6" :offset="0">
                  <el-form-item label="参赛条件（英文）">
                    <el-input v-model="item.match_condition" disabled />
                  </el-form-item>
                </el-col>
                <el-col :span="6" :offset="0">
                  <el-form-item label="参赛条件（中文）">
                    <el-input v-model="item.match_condition_cn" disabled />
                  </el-form-item>
                </el-col>
                <el-col :span="6" :offset="0">
                  <el-form-item label="队伍排序">
                    <el-input v-model="item.team_sort" disabled @keyup.native="item.team_sort = proving(item.team_sort)" />
                  </el-form-item>
                </el-col>
              </el-row>
            </div>
          </span></span>
          <el-row v-if="updateInfo.tournament_team_relation.teams_condition && updateInfo.tournament_team_relation.teams_condition.length">
            <el-col :offset="22">
              <el-button type="primary" size="mini" plain @click="team_num_list = updateInfo.tournament_team_relation.teams_condition">应用</el-button>
            </el-col>
          </el-row>
        </div>
        <el-row type="flex" class="row-bg" justify="space-around">
          <el-col :span="6" style="padding-top: 45px">
            <el-form-item>
              <el-button type="primary" @click="onSubmit('core_data')">确认修改</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
import { tournamentEdit, tournamentDetail, update_team_snapshot } from '@/api/tournament'
import { getUploadBaseApi } from '@/api/file.js'
import { get_tournament_state, get_games, close_bing } from '@/api/common'
import { get_country } from '@/api/clan'
import { get_binding_info } from '@/api/binding'
import { search_team, get_teams_info } from '@/api/team'
import { data_change_detail } from '@/api/data'
export default {
  name: 'Edit',
  props: ['queryId', 'treeid'],
  data() {
    return {
      team_num_list: [],
      teams_condition_status: false,
      attend_team_status: false,
      updateInfo_team_ids: [],
      updateInfo_team_info: [],
      updateInfo_team_info1: [],
      updateInfo_team_info2: {},
      activeName: '0',
      updateInfo: {
        core_data: {},
        base_data: {},
        tournament_price_distribute: {},
        tournament_team_relation: {}
      },
      'core_data': {
        'id': '',
        'name': '',
        'name_cn': '',
        'game': '',
        'status': '',
        'slug': '',
        'is_rescheduled': '',
        'short_name': '',
        'short_name_cn': '',
        'son_match_sort': '',
        'image': '',
        'type': '',
        'cuser': '',
        'deleted': '',
        'scheduled_begin_at': '',
        'scheduled_end_at': ''
      },
      'base_data': {
        'tournament_id': '',
        'steam_id': '',
        'series_match': '',
        'number_of_teams': '',
        'tier': '',
        'country': '',
        'location': '',
        'location_cn': '',
        'match_range': null,
        'organizer': '',
        'organizer_cn': '',
        'version': '',
        'prize_bonus': '',
        'prize_points': '',
        'map_pool': '',
        'top_reward': '',
        'introduction': '',
        'introduction_cn': '',
        'format': '',
        'format_cn': '',
        'region': '',
        'prize_seed': ''
      },
      tournament_team_relation: [],
      judge_stutas: 0,
      search_old_list: [],
      slug_stutas: 0,
      binding_list: [],
      update_team_del_list: [],
      update_team_add_list: [],
      update_team_old_list: [],
      update_team_old: '',
      get_teams: [],
      all_get_teams: [{ 'id': '', 'name': '空', 'e_name': 'null' }],
      page: 1,
      per_page: 40,
      total: 40,
      input_lift: '',
      newteam: [],
      team_nmb: '',
      team_list: [],
      update_player_add: [],
      update_player_del: ['13', '23', '27'],
      allgame: [{ 'id': '', 'name': '全部', 'e_name': 'all' }],
      games: [],
      searchTeam: [],
      all: [{ 'id': '', 'name': '空', 'e_name': 'null' }],
      country: [],
      tournament_state: [],
      state: [],
      infoList: [],
      player_config: [],
      scheduled_timeArea: [],
      timeArea: [],
      // original_scheduled_timeArea: [],
      form: {
        'data_config': {
          'config': {
            'tournament.attend_team': {
              'id': '17115',
              'game_id': '2',
              'resource_type': 'tournament',
              'resource_id': '287',
              'tag_type': 'attend_team',
              'slug': 'tournament.attend_team',
              'origin_id': '3',
              'update_type': '3',
              'created_time': '2020-09-14 09:23:14',
              'modify_at': '2020-09-14 22:00:19'
            },
            'tournament.base_data': {
              'id': '17116',
              'game_id': '2',
              'resource_type': 'tournament',
              'resource_id': '287',
              'tag_type': 'base_data',
              'slug': 'tournament.base_data',
              'origin_id': '3',
              'update_type': '3',
              'created_time': '2020-09-14 09:23:14',
              'modify_at': '2020-09-14 22:00:19'
            },
            'tournament.core_data': {
              'id': '17117',
              'game_id': '2',
              'resource_type': 'tournament',
              'resource_id': '287',
              'tag_type': 'core_data',
              'slug': 'tournament.core_data',
              'origin_id': '3',
              'update_type': '3',
              'created_time': '2020-09-14 09:23:14',
              'modify_at': '2020-09-14 22:00:19'
            }
          }
        }
      },
      data: [],
      value: [],
      filterMethod(query, item) {
        return item.pinyin.indexOf(query) > -1
      },
      rules: {
        name: [
          { required: true, message: '请输入赛事名称', trigger: 'change' }
        ],
        game: [
          { required: true, message: '请选择游戏项目', trigger: 'change' }
        ],
        status: [
          { required: true, message: '请选择赛事状态', trigger: 'change' }
        ],
        image: [
          { required: true, message: '请上传图标', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入', trigger: 'change' }
        ],
        is_rescheduled: [
          { required: true, message: '请选择', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    input_lift() {
      this.page = 1
      this.info_search_team(this.input_lift)
    },
    page() {
      this.info_search_team(this.input_lift)
    },
    player_config() {
      this.get_teams_list()
    },
    'core_data.name': {
      handler: function() {
        if (this.slug_stutas === 1) {
          this.slug_stutas = 0
        } else {
          this.core_data.slug = this.$yangJian.slug_rule(this.core_data.name)
        }
      }
    },
    'core_data.status': {
      handler: function() {
        if (this.core_data.status === '4') {
          this.core_data.scheduled_begin_at = ''
          this.core_data.scheduled_end_at = ''
        }
      }
    }
  },
  mounted() {
    this.infostate()
    this.infoCountry()
    this.infoGames()
    this.getTournamentInfo()
    this.getBindingInfo()
  },
  methods: {
    // getUpCondition() {
    //   if (this.updateInfo.tournament_team_relation.teams_condition) {
    //     this.team_num_list = this.updateInfo.tournament_team_relation.teams_condition
    //   } else {
    //     this.team_num_list = []
    //   }
    // },
    onSubAddRelation(id) {
      if (this.team_num_list === '') {
        this.team_num_list = []
      }
      var tmp = { team_id: '', match_condition: '', match_condition_cn: '', team_sort: '' }
      this.team_num_list.splice(id + 1, 0, tmp)
    },
    onSubDelRelation(id) {
      for (var i = 0; i < this.team_num_list.length + 1; i++) {
        if (id === i) {
          this.team_num_list.splice(i, 1)
        }
      }
    },
    beforeAvatarUpload(file) {
      console.log('file')
      console.log(file)
      // const isPNG = file.type === 'image/png || svg'
      const testmsg = file.type === 'image/png'
      const isLt1M = file.size / 1024 / 1024 < 1
      if (!testmsg) {
        this.$message.error('只能上传PNG格式!')
        return false
      }
      if (!isLt1M) {
        this.$message({
          message: '上传图标大小不能超过 1MB!',
          type: 'error'
        })
        return false
      }
      return testmsg || isLt1M
    },
    proving(data) {
      return this.$yangJian.integer_proving(data)
    },
    upInfo() {
      if (this.$route.query.tag_type) {
        this.tag_type = this.$route.query.tag_type
        this.beforeLeave()
        const params = {}
        params['id'] = this.$route.query.upId
        data_change_detail(params).then(req => {
          var infoList = req.data.change_info
          this.update1(infoList, req.data.tag_type)
        })
      }
    },
    update1(data, type) {
      var infos = {}
      switch (type) {
        case 'core_data':
          for (var i in data) {
            var k_name = data[i].key
            infos[k_name] = data[i].after
          }
          this.updateInfo.core_data = infos
          if (infos.status) {
            this.updateInfo.core_data.status = this.$yangJian.tmp_toString(infos.status)
          }
          break
        case 'base_data':
          for (var k in data) {
            k_name = data[k].key
            infos[k_name] = data[k].after
          }
          this.updateInfo.base_data = infos
          break
        case 'tournament_price_distribute':
          for (var g in data) {
            k_name = data[g].key
            if (k_name == 'prize_distribution') {
              if (data[g].after) {
                var tmp = eval(data[g].after)
                infos[k_name] = tmp
              } else {
                infos[k_name] = this.$yangJian.tmp_toString(data[g].after)
              }
            } else {
              infos[k_name] = data[g].after
            }
          }
          this.updateInfo.tournament_price_distribute = infos
          break
        case 'attend_team':
          this.attend_team_status = true
          for (var f in data) {
            k_name = data[f].key
            if (k_name == 'team_relation') {
              if (data[f].after) {
                var tmp = eval(data[f].after)
                infos[k_name] = tmp
              } else {
                infos[k_name] = this.$yangJian.tmp_toString(data[f].after)
              }
            } else {
              infos[k_name] = data[f].after
            }
          }
          this.updateInfo.tournament_team_relation = infos
          if (infos.team_relation) {
            infos.team_relation.forEach(item => {
              this.updateInfo_team_ids.push(item)
            })
            const params = {}
            params['team_ids'] = this.updateInfo_team_ids.toString()
            params['game_id'] = this.core_data.game
            get_teams_info(params).then(req => {
              this.updateInfo_team_info = req.data
            })
          }
          break
        case 'tournament_team_relation':
          this.teams_condition_status = true
          for (var l in data) {
            k_name = data[l].key
            if (k_name == 'teams_condition') {
              if (data[l].after) {
                var tmp = eval(data[l].after)
                infos[k_name] = tmp
              } else {
                infos[k_name] = this.$yangJian.tmp_toString(data[l].after)
              }
            } else {
              infos[k_name] = data[l].after
            }
          }
          this.updateInfo.tournament_team_relation = infos
          if (infos.teams_condition) {
            infos.teams_condition.forEach(item => {
              this.updateInfo_team_ids.push(item.team_id)
            })
            const params1 = {}
            params1['team_ids'] = this.updateInfo_team_ids.toString()
            params1['game_id'] = this.core_data.game
            get_teams_info(params1).then(req => {
              this.updateInfo_team_info1 = req.data
              var tmp = {}
              this.updateInfo_team_info1.forEach(item => {
                tmp[item.id] = item
              })
              this.updateInfo_team_info2 = tmp
            })
          }
          break
      }
    },
    beforeLeave() {
      if (this.tag_type === 'core_data') {
        this.activeName = '0'
      }
      if (this.tag_type === 'base_data') {
        this.activeName = '1'
      }
      if (this.tag_type === 'tournament_price_distribute') {
        this.activeName = '2'
      }
      if (this.tag_type === 'attend_team') {
        this.activeName = '3'
      }
      if (this.tag_type === 'tournament_team_relation') {
        this.activeName = '4'
      }
    },
    getBindingInfo() {
      const params = {}
      params['master_id'] = this.$route.query.id
      params['type'] = 'tournament'
      get_binding_info(params).then(req => {
        this.binding_list = req.data
      })
    },
    unbundle(id) {
      if (id) {
        this.$confirm('确认解绑？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const params = {}
          params['standard_id'] = id
          params['type'] = 'tournament'
          close_bing(params).then(req => {
            this.$message({
              type: 'success',
              message: '解绑成功！'
            })
            this.getBindingInfo()
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          })
        })
      } else {
        this.$message({
          type: 'info',
          message: '没有绑定关系'
        })
      }
    },
    getMap() {
      this.$router.push({ path: '/gamecenter/tournament/tournamentInfo/photo', query: { id: this.update_team_old, type: 'tournament', resource_id: this.queryId }})
    },
    update() {
      this.$confirm('更新战队快照, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['new_team_ids'] = ''
        params['old_team_ids'] = this.update_team_old
        params['is_update'] = '1'
        params['relation_id'] = this.queryId
        params['type'] = 'tournament'
        update_team_snapshot(params).then(req => {
          this.$message({
            type: 'success',
            message: '更新成功！'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    get_teams_list() {
      this.get_teams = []
      this.all_get_teams = [{ 'key': '', 'pinyin': '空', 'e_name': 'null' }]
      this.player_config.forEach(id => {
        this.data.forEach(item => {
          if (id === item.key) {
            this.get_teams.push(item)
          }
        })
      })
      this.all_get_teams.push.apply(this.all_get_teams, this.get_teams)
    },
    upPage() {
      if (this.page > 1) {
        this.page -= 1
      }
    },
    downPage() {
      if (parseInt(this.total / this.per_page) >= this.page) {
        this.page += 1
      }
    },
    handleChange(value, direction, movedKeys) {
      console.log('value')
      console.log(movedKeys)
      var teamid = this.player_config
      var teams = this.data
      // this.newteam = []
      var n = 0
      teams.forEach(k => {
        for (var i in teamid) {
          var team = { team_id: '', name: '', match_condition: '', match_condition_cn: '', team_sort: '' }
          if (teamid[i] === k.key) {
            team['team_id'] = k.key
            team['name'] = k.label
            // n.push(team)
            for (var z in this.newteam) {
              n = 0
              if (k.key === this.newteam[z].team_id) {
                n = 1
                break
              }
            }
            if (n === 0) {
              this.newteam.push(team)
            }
          }
        }
      })
      if (teamid.length !== this.newteam.length) {
        var list = []
        for (var q in this.newteam) {
          for (var m in teamid) {
            if (this.newteam[q].team_id === teamid[m]) {
              list.push(this.newteam[q])
              break
            }
          }
        }
        this.newteam = list
      }
      // let key = []
      // // 新增战队
      // if (direction === 'right') {
      //   key = this.getArrDifference(this.player_config, this.update_team_old_list)
      //   this.update_team_add_list = this.MergeArray(this.update_team_add_list,key)
      // } else {
      //   // 移除战队
      //   key = this.getArrEqual(movedKeys, this.update_team_old_list)
      //   if (key && key !== []) {
      //     this.update_team_del_list = this.MergeArray(this.update_team_del_list,key)
      //   }
      // }
    },
    // 取数组相同
    getArrEqual(arr1, arr2) {
      var newArr = []
      for (let i = 0; i < arr2.length; i++) {
        for (let j = 0; j < arr1.length; j++) {
          if (arr1[j] === arr2[i]) {
            newArr.push(arr1[j])
          } else {
            for (let k = 0; k < this.update_team_add_list.length; k++) {
              if (this.update_team_add_list[k] === arr1[j]) {
                this.update_team_add_list.splice(k, 1)
              }
            }
          }
        }
      }
      return newArr
    },
    // 取数组不同
    getArrDifference(arr1, arr2) {
      return arr1.concat(arr2).filter(function(v, i, arr) {
        return arr.indexOf(v) === arr.lastIndexOf(v)
      })
    },
    onSubAdd(id) {
      if (this.team_list === '') {
        this.team_list = []
      }
      var tmp = { rank: '', price: '', score: '', num: '', team_id: '' }
      this.team_list.splice(id + 1, 0, tmp)
    },
    onSubDel(id) {
      for (var i = 0; i < this.team_list.length; i++) {
        if (id === i) {
          this.team_list.splice(i, 1)
        }
      }
    },
    getUpdate() {
      if (this.updateInfo_team_info.length == 0) {
        this.player_config = ''
      } else {
        // this.player_config = []
        // this.get_teams = []
        this.player_config = this.updateInfo_team_ids
      }
      const cities = this.updateInfo_team_info
      const newArr = cities.filter((item) => {
        console.log('item', item)
        return this.data.every((item1) => {
          console.log('item1', item1)
          return item.id != item1.key
        })
      })
      console.log('数组', newArr)
      if (newArr) {
        newArr.forEach((city, index) => {
          this.data.push({
            label: city.name + ' ' + '(' + city.id + ')' + ' ' + city.country_cn,
            key: city.id,
            pinyin: city.name,
            image: city.image
          })
        })
      }
      this.handleChange()
    },
    infoGames() {
      const params = {}
      get_games(params).then(req => {
        this.games = req.data
        this.allgame.push.apply(this.allgame, this.games)
      })
    },
    info_search_team(info) {
      const params = {}
      params['game_id'] = this.core_data.game
      params['keyword'] = info
      params['page'] = this.page
      params['per_page'] = this.per_page
      search_team(params).then(req => {
        this.searchTeam = req.data.list
        this.total = req.data.total
        const data = []
        const cities = req.data.list
        cities.forEach((city, index) => {
          data.push({
            label: city.name + ' ' + '(' + city.id + ')' + ' ' + city.country_name,
            key: city.id,
            pinyin: city.name,
            image: city.image
          })
        })
        if (this.judge_stutas === 1) {
          this.search_old_list.forEach(item => {
            var n = 0
            data.forEach(k => {
              if (item.key === k.key) {
                n = 1
              }
            })
            if (n === 0) {
              data.push(item)
            }
          })
          this.judge_stutas = 0
        } else {
          this.player_config.forEach(item => {
            this.data.forEach(info => {
              if (item === info.key) {
                var m = 0
                data.forEach(k => {
                  if (item === k.key) {
                    m = 1
                  }
                })
                if (m === 0) {
                  data.push(info)
                }
              }
            })
          })
        }
        this.data = data
        this.get_teams_list()
      })
    },
    infoCountry() {
      const params = {}
      get_country(params).then(req => {
        this.country = req.data
        this.all.push.apply(this.all, this.country)
      })
    },
    infostate() {
      const params = {}
      get_tournament_state(params).then(req => {
        this.tournament_state = req.data
        this.state.push.apply(this.state, this.tournament_state)
      })
    },
    uploads(res, file) {
      this.core_data.image = res.data.url
      console.log(res)
      // console.log(file)
    },
    getUploadUrl() {
      return getUploadBaseApi()
    },
    getTournamentInfo() {
      const params = {}
      params['id'] = this.treeid
      tournamentDetail(params).then(req => {
        this.core_data = Object.assign(this.core_data, req.data.core_data)
        this.base_data = Object.assign(this.base_data, req.data.base_data)
        if (req.data.tournament_team_relation) {
          this.tournament_team_relation = JSON.parse(req.data.tournament_team_relation)
        }
        if (!req.data.base_data.country) {
          this.base_data.country = ''
        }
        if (!req.data.base_data.region) {
          this.base_data.region = ''
        }
        this.upInfo()
        this.form = req.data
        this.getTeamInfo()
        this.slug_stutas = 1
        this.core_data.slug = this.$yangJian.slug_rule(req.data.core_data.slug)
        this.info_search_team()
      })
    },
    getTeamInfo() {
      if (this.form.attend_team) {
        for (var i in this.form.attend_team) {
          this.player_config.push(this.form.attend_team[i].team_id)
          this.update_team_old += this.form.attend_team[i].team_id + ','
        }
        this.update_team_old_list = this.player_config
        this.update_team_old = this.update_team_old.substr(0, this.update_team_old.length - 1)
      }
      if (this.form.tournament_team_relation) {
        this.team_num_list = JSON.parse(this.form.tournament_team_relation)
      }
      if (this.form.tournament_price_distribute) {
        this.team_list = this.form.tournament_price_distribute
      }
      this.judge_stutas = 1
      var team_old_list = this.form.attend_team
      team_old_list.forEach((city, index) => {
        this.search_old_list.push({
          label: city.name + ' ' + '(' + city.team_id + ')' + ' ' + city.country_name,
          key: city.team_id,
          pinyin: city.name,
          image: city.image
        })
      })
      this.info_search_team()
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          if (this.$route.query.upId) {
            params['todo_id'] = this.$route.query.upId
          }
          params['type'] = 1
          params['id'] = this.$route.query.id
          var core_info = { ...this.core_data }
          core_info.type = 1
          params['core_data'] = core_info
          params['base_data'] = this.base_data
          if (this.team_num_list) {
            params['tournament_team_relation'] = JSON.stringify(this.team_num_list)
          } else {
            params['tournament_team_relation'] = ''
          }
          if (this.player_config.length > 0) {
            params['attend_team'] = JSON.stringify(this.player_config)
          } else {
            params['attend_team'] = ''
          }
          if (this.team_list) {
            console.log('this.team_list')
            console.log(this.team_list)
            console.log(JSON.stringify(this.team_list))
            params['tournament_price_distribute'] = JSON.stringify(this.team_list)
          } else {
            params['tournament_price_distribute'] = ''
          }
          tournamentEdit(params).then(req => {
            const params = {}
            params['new_team_ids'] = this.player_config.toString()
            params['old_team_ids'] = this.update_team_old
            params['is_update'] = '2'
            params['relation_id'] = this.queryId
            params['type'] = 'tournament'
            update_team_snapshot(params).then(req => {
              this.$message({
                type: 'success',
                message: '修改成功！'
              })
              this.$emit('onedit1')
              if (this.$route.query.upId) {
                this.$router.push('/gamecenter/update/updateinfo/list')
              }
            })
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
  .transfer-footer {
    margin-left: 30px;
    /*padding: 6px 5px;*/
  }
  .upDate{
    font-weight: bold;
    color:#606266;
    font-size: 14px
  }
</style>
