<template>
  <el-card>
    <div v-if="form.base.deleted === '1'">
      <el-button type="primary" size="small" style="margin-bottom: 20px" @click="onRecovery">恢复battle</el-button>
    </div>
    <div v-loading="loading1" element-loading-spinner="el-icon-delete-solid" element-loading-background="rgba(0, 0, 0, 0.1)">
      <el-form ref="form" :model="form" label-width="140px">
        <el-row>
          <el-col :span="12" :offset="0" class="higths">
            <el-form-item label="比赛地图">
              <el-select v-model="form.base.map" placeholder="请选择" style="width: 100%">
                <el-option
                  v-for="(item,index) in form.csgo_map_list"
                  :key="index"
                  :label="item.name+' ('+item.name_cn +')'"
                  :value="''+ item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12" :offset="0" class="higths">
            <el-form-item label="实际开始时间">
              <el-date-picker
                v-model="form.base.begin_at"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 100%"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12" :offset="0" class="higths">
            <el-form-item label="实际结束时间">
              <el-date-picker
                v-model="form.base.end_at"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 100%"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12" :offset="0">
            <el-form-item label="状态">
              <el-select v-model="form.base.status" placeholder="请选择" style="width: 100%">
                <el-option
                  v-for="(item,index) in match_state_list"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12" :offset="0">
            <el-form-item label="对局时长">
              <el-time-picker
                v-model="form.base.duration"
                placeholder="选择时间"
                :picker-options="{
                  selectableRange: '00:00:00 - 23:59:59'
                }"
                value-format="HH:mm:ss"
                style="width: 100%;"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="5" :offset="4" style="text-align: center">
            <el-select v-model="form.team_1_id" :disabled="true" style="width: 100%">
              <el-option
                v-for="item in form.get_search_teaminfo"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
            <el-input v-model="team_1_score" placeholder="主队比分" />
          </el-col>
          <el-col :span="6" :offset="0" style="text-align: center">
            <p style=" font-size: 15px; color: red">VS</p>
          </el-col>
          <el-col :span="5" :offset="0" style="text-align: center">
            <el-select v-model="form.team_2_id" :disabled="true" style="width: 100%">
              <el-option
                v-for="item in form.get_search_teaminfo"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
            <el-input v-model="team_2_score" placeholder="客队比分" />
          </el-col>

        </el-row>
        <el-row>
          <!--        <el-col :span="3" :offset="2" class="higths">-->
          <!--          <el-form-item label="获胜方" />-->
          <!--        </el-col>-->
          <el-col :span="4" :offset="5" style="padding-top: 15px; text-align: center">
            <el-radio v-model="form.base.winner" label="1" @change="form.base.is_draw = '2'">获胜</el-radio>
          </el-col>
          <el-col :span="6" :offset="0" style="padding-top: 15px; text-align: center">
            <el-radio v-model="form.base.is_draw" label="1" @change="form.base.winner = '0'">平局</el-radio>
          </el-col>
          <el-col :span="6" style="padding-top: 15px; text-align: center">
            <el-radio v-model="form.base.winner" label="2" @change="form.base.is_draw = '2'">获胜</el-radio>
          </el-col>
          <el-col :span="2" :offset="0">
            <el-button type="primary" size="small" @click="resteinfo">重置</el-button>
          </el-col>
        </el-row>
        <!--      <el-row>-->
        <!--        <el-col :span="4" :offset="5" style="padding-top: 30px; text-align: center">-->
        <!--          <el-radio v-model="form.base.if_forfeit" label="1">单图弃权</el-radio>-->
        <!--        </el-col>-->
        <!--        <el-col :span="4" :offset="7" style="padding-top: 30px; text-align: center">-->
        <!--          <el-radio v-model="form.base.if_forfeit" label="2">单图弃权</el-radio>-->
        <!--        </el-col>-->
        <!--      </el-row>-->
        <el-row style="padding-top: 30px">
          <el-col :span="6" :offset="1">
            <el-form-item label="默认领先获胜">
              <el-select v-model="form.base.is_default_advantage" placeholder="请选择">
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="1">
            <el-form-item label="是否弃权">
              <el-select v-model="form.base.is_forfeit" placeholder="请选择">
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="2">
            <el-form-item label="是否有对局详情数据">
              <el-select v-model="form.base.is_battle_detailed" placeholder="请选择">
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <p style="padding-bottom: 15px;text-align: center">
            <el-button type="primary" plain @click="save10">保存</el-button>
            <span style="text-align: right;margin-left: 40px">
              <el-button type="primary" plain @click="onUp">更新</el-button>
            </span>
          </p>
        </el-row>
      </el-form>
      <div class="contents">
        <el-form label-width="110px">
          <el-row class="background-colors">
            <el-col :span="24" :offset="0" class="higths">
              <el-form-item label="对局详情" />
            </el-col>
          </el-row>
        </el-form>
        <el-form label-width="150px">
          <el-row>
            <el-col :span="15" :offset="0">
              <el-form-item label="是否为官方完整数据">
                <el-select v-model="form.details.is_confirmed" placeholder="请选择">
                  <el-option label="是" value="1" />
                  <el-option label="否" value="2" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
        <el-form label-width="110px">
          <el-row class="widths" style="margin-bottom: 5px">
            <el-col :span="5" :offset="5" class="higths">
              <el-select v-model="form.team_1_id" :disabled="true" style="width: 100%;padding-left: 50px">
                <el-option
                  v-for="item in form.get_search_teaminfo"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-col>
            <el-col :span="3" class="higths">
              <p style="text-align: center;padding-left: 50px">VS</p>
            </el-col>
            <el-col :span="5" :offset="0" class="higths">
              <el-select v-model="form.team_2_id" :disabled="true" style="width: 100%;padding-left: 50px">
                <el-option
                  v-for="item in form.get_search_teaminfo"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-col>
          </el-row>
          <el-row v-if="form.statics[0]" class="background-colors" align="middle">
            <el-col :span="4" :offset="0" class="higths">
              <el-form-item label="初始阵营" />
            </el-col>
            <el-col :span="3" class="higths">
              <el-form-item>
                <el-radio v-model="form.statics[0].starting_faction_side" label="ct" @change="form.statics[1].starting_faction_side='terrorist'">反恐精英(CT)</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="6" class="higths">
              <el-form-item style="margin-left: 0px">
                <el-radio v-model="form.statics[0].starting_faction_side" label="terrorist" @change="form.statics[1].starting_faction_side='ct'">恐怖分子(T)</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="5" :offset="0" class="higths">
              <el-form-item>
                <el-radio v-if="form.statics[0].starting_faction_side == 'ct'">恐怖分子(T)</el-radio>
                <el-radio v-if="form.statics[0].starting_faction_side == 'terrorist'">反恐精英(CT)</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0" class="higths">
              <el-form-item>
                <el-button type="text" @click="form.statics[0].starting_faction_side = ''">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="widths">
            <el-col :span="5" :offset="0" class="higths">
              <el-form-item label="第1回合获胜" />
            </el-col>
            <el-col :span="7" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.win_round_1_team" :label="form.team_1_id">第1回合获胜</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="5" :offset="1" class="higths">
              <el-form-item style="margin-left: 0px">
                <el-radio v-model="form.details.win_round_1_team" :label="form.team_2_id">第1回合获胜</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0" class="higths">
              <el-form-item>
                <el-button type="text" @click="form.details.win_round_1_team = ''">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="background-colors">
            <el-col :span="5" :offset="0" class="higths">
              <el-form-item label="第16回合获胜" />
            </el-col>
            <el-col :span="7" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.win_round_16_team" :label="form.team_1_id">第16回合获胜</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="5" :offset="1" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.win_round_16_team" :label="form.team_2_id">第16回合获胜</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0" class="higths">
              <el-form-item>
                <el-button type="text" @click="form.details.win_round_16_team = ''">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="widths">
            <el-col :span="5" :offset="0" class="higths">
              <el-form-item label="先获胜5回合" />
            </el-col>
            <el-col :span="7" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.first_to_5_rounds_wins_team" :label="form.team_1_id">先获胜5回合</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="5" :offset="1" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.first_to_5_rounds_wins_team" :label="form.team_2_id">先获胜5回合</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0" class="higths">
              <el-form-item>
                <el-button type="text" @click="form.details.first_to_5_rounds_wins_team = ''">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <p style="padding-bottom: 15px; padding-top: 5px;text-align: center">
              <el-button type="primary" plain @click="save10">保存</el-button>
            </p>
          </el-row>
        </el-form>
        <el-form label-width="110px">
          <el-row class="widths" style="margin-bottom: 5px">
            <el-col :span="5" :offset="5" class="higths">
              <el-select v-model="form.team_1_id" :disabled="true" style="width: 100%;padding-left: 50px">
                <el-option
                  v-for="item in form.get_search_teaminfo"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-col>
            <el-col :span="3" class="higths">
              <p style="text-align: center;padding-left: 50px">VS</p>
            </el-col>
            <el-col :span="5" :offset="0" class="higths">
              <el-select v-model="form.team_2_id" :disabled="true" style="width: 100%;padding-left: 50px">
                <el-option
                  v-for="item in form.get_search_teaminfo"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-col>
          </el-row>
          <el-row>
            <p style="padding-bottom: 15px; padding-top: 5px;text-align: center">
              上半场
            </p>
          </el-row>
          <div v-if="form.statics[0]">
            <div v-if="form.statics[0].starting_faction_side == 'ct'">
              <el-row v-for="(item,index) in form.rounds.slice(0,15)" :key="index" :class="{background_colors: index%2 == 0 }" style="height: 40px">
                <el-col :span="2" :offset="1" class="higths">
                  <p style="margin:0;height: 40px;line-height: 40px">第{{ item.round_ordinal }}回合</p>
                </el-col>
                <el-col :span="15" class="higths">
                  <el-radio-group v-model="item.winner_end_type" fill="#87C843" text-color="black" @change="item.winner_team_id=getJudge(item.winner_end_type,3,'ct')">
                    <el-col :span="3" class="higths">
                      <el-form-item>
                        <el-radio-button label="2">歼灭敌人</el-radio-button>
                      </el-form-item>
                    </el-col>
                    <el-col :span="3" :offset="0" class="higths">
                      <el-form-item>
                        <el-radio-button label="1">拆除炸弹</el-radio-button>
                      </el-form-item>
                    </el-col>
                    <el-col :span="3" :offset="0" class="higths">
                      <el-form-item>
                        <el-radio-button label="3">时间耗尽</el-radio-button>
                      </el-form-item>
                    </el-col>
                    <el-col :span="3" :offset="6" class="higths">
                      <el-form-item>
                        <el-radio-button label="5">歼灭敌人</el-radio-button>
                      </el-form-item>
                    </el-col>
                    <el-col :span="3" :offset="0" class="higths">
                      <el-form-item>
                        <el-radio-button label="4">炸弹爆炸</el-radio-button>
                      </el-form-item>
                    </el-col>
                  </el-radio-group>
                </el-col>
                <el-col :span="3" :offset="0" class="higths">
                  <el-form-item>
                    <el-button type="text" @click="item.winner_end_type = ''">重置</el-button>
                  </el-form-item>
                </el-col>
                <span>
                  <el-button v-if="form.rounds.length==index+1" type="success" icon="el-icon-plus" :loading="loadingAdd" circle @click="onSubAdd1()" />
                </span>
                <span>
                  <el-button v-if="form.rounds.length==index+1" type="danger" icon="el-icon-minus" :loading="loadingDel" circle @click="onSubDel1(item.id)" />
                </span>
              </el-row>
              <div style="text-align: center">
                <el-button v-if="form.rounds.length==0" type="success" icon="el-icon-plus" :loading="loadingAdd" circle @click="onSubAdd1(index)" />
              </div>
            </div>
            <div v-if="form.statics[0].starting_faction_side == 'terrorist'">
              <el-row v-for="(item,index) in form.rounds.slice(0,15)" :key="index" :class="{background_colors: index%2 == 0 }" style="height: 40px">
                <el-col :span="2" :offset="1" class="higths">
                  <p style="margin:0;height: 40px;line-height: 40px">第{{ item.round_ordinal }}回合</p>
                </el-col>
                <el-col :span="15" class="higths">
                  <el-radio-group v-model="item.winner_end_type" fill="#87C843" text-color="black" @change="item.winner_team_id=getJudge(item.winner_end_type,3,'terrorist')">
                    <el-col :span="3" :offset="3" class="higths">
                      <el-form-item style="margin-left: 0px">
                        <el-radio-button label="5">歼灭敌人</el-radio-button>
                      </el-form-item>
                    </el-col>
                    <el-col :span="3" :offset="0" class="higths">
                      <el-form-item style="margin-left: 0px">
                        <el-radio-button label="4">炸弹爆炸</el-radio-button>
                      </el-form-item>
                    </el-col>
                    <el-col :span="3" :offset="6" class="higths">
                      <el-form-item>
                        <el-radio-button label="2">歼灭敌人</el-radio-button>
                      </el-form-item>
                    </el-col>
                    <el-col :span="3" :offset="0" class="higths">
                      <el-form-item style="margin-left: 0px">
                        <el-radio-button label="1">拆除炸弹</el-radio-button>
                      </el-form-item>
                    </el-col>
                    <el-col :span="3" :offset="0" class="higths">
                      <el-form-item style="margin-left: 0px">
                        <el-radio-button label="3">时间耗尽</el-radio-button>
                      </el-form-item>
                    </el-col>
                  </el-radio-group>
                </el-col>
                <el-col :span="3" :offset="0" class="higths">
                  <el-form-item>
                    <el-button type="text" @click="item.winner_end_type = ''">重置</el-button>
                  </el-form-item>
                </el-col>
                <span>
                  <el-button v-if="form.rounds.length==index+1" type="success" icon="el-icon-plus" :loading="loadingAdd" circle @click="onSubAdd1()" />
                </span>
                <span>
                  <el-button v-if="form.rounds.length==index+1" type="danger" icon="el-icon-minus" :loading="loadingDel" circle @click="onSubDel1(item.id)" />
                </span>
              </el-row>
              <div style="text-align: center">
                <el-button v-if="form.rounds.length==0" type="success" icon="el-icon-plus" :loading="loadingAdd" circle @click="onSubAdd1(index)" />
              </div>
            </div>
          </div>
          <el-row>
            <el-col :span="5" :offset="5" style="text-align: center">
              <el-input v-model="form.statics[0]['1st_half_score']" />
            </el-col>
            <el-col :span="4" :offset="0" style="text-align: center">
              <p style=" font-size: 15px;">上半场比分</p>
            </el-col>
            <el-col :span="5" :offset="0" style="text-align: center">
              <el-input v-model="form.statics[1]['1st_half_score']" />
            </el-col>
          </el-row>
          <el-row>
            <p style="text-align: center">
              <el-button type="primary" plain @click="save10">保存</el-button>
            </p>
          </el-row>
          <el-row>
            <p style="padding-bottom: 15px; padding-top: 5px;text-align: center">
              下半场
            </p>
          </el-row>
          <div v-if="form.statics[0]">
            <div v-if="form.statics[0].starting_faction_side == 'ct'">
              <el-row v-for="(item,index) in form.rounds.slice(15,30)" :key="index" :class="{background_colors: index%2 == 0 }" style="height: 40px">
                <el-col :span="2" :offset="1" class="higths">
                  <p style="margin:0;height: 40px;line-height: 40px">第{{ item.round_ordinal }}回合</p>
                </el-col>
                <el-col :span="15" class="higths">
                  <el-radio-group v-model="item.winner_end_type" fill="#87C843" text-color="black" @change="item.winner_team_id=getJudge(item.winner_end_type,3,'terrorist')">
                    <el-col :span="3" :offset="3" class="higths">
                      <el-form-item style="margin-left: 0px">
                        <el-radio-button label="5">歼灭敌人</el-radio-button>
                      </el-form-item>
                    </el-col>
                    <el-col :span="3" :offset="0" class="higths">
                      <el-form-item style="margin-left: 0px">
                        <el-radio-button label="4">炸弹爆炸</el-radio-button>
                      </el-form-item>
                    </el-col>
                    <el-col :span="3" :offset="6" class="higths">
                      <el-form-item>
                        <el-radio-button label="2">歼灭敌人</el-radio-button>
                      </el-form-item>
                    </el-col>
                    <el-col :span="3" :offset="0" class="higths">
                      <el-form-item style="margin-left: 0px">
                        <el-radio-button label="1">拆除炸弹</el-radio-button>
                      </el-form-item>
                    </el-col>
                    <el-col :span="3" :offset="0" class="higths">
                      <el-form-item style="margin-left: 0px">
                        <el-radio-button label="3">时间耗尽</el-radio-button>
                      </el-form-item>
                    </el-col>
                  </el-radio-group>
                </el-col>
                <el-col :span="3" :offset="0" class="higths">
                  <el-form-item>
                    <el-button type="text" @click="item.winner_end_type = ''">重置</el-button>
                  </el-form-item>
                </el-col>
                <span>
                  <el-button v-if="form.rounds.length==index+16" type="success" icon="el-icon-plus" :loading="loadingAdd" circle @click="onSubAdd1()" />
                </span>
                <span v-if="form.rounds.length!=1">
                  <el-button v-if="form.rounds.length==index+16" type="danger" icon="el-icon-minus" :loading="loadingDel" circle @click="onSubDel1(item.id)" />
                </span>
              </el-row>
            </div>
            <div v-if="form.statics[0].starting_faction_side == 'terrorist'">
              <el-row v-for="(item,index) in form.rounds.slice(15,30)" :key="index" :class="{background_colors: index%2 == 0 }" style="height: 40px">
                <el-col :span="2" :offset="1" class="higths">
                  <p style="margin:0;height: 40px;line-height: 40px">第{{ item.round_ordinal }}回合</p>
                </el-col>
                <el-col :span="15" class="higths">
                  <el-radio-group v-model="item.winner_end_type" fill="#87C843" text-color="black" @change="item.winner_team_id=getJudge(item.winner_end_type,3,'ct')">
                    <el-col :span="3" class="higths">
                      <el-form-item>
                        <el-radio-button label="2">歼灭敌人</el-radio-button>
                      </el-form-item>
                    </el-col>
                    <el-col :span="3" :offset="0" class="higths">
                      <el-form-item>
                        <el-radio-button label="1">拆除炸弹</el-radio-button>
                      </el-form-item>
                    </el-col>
                    <el-col :span="3" :offset="0" class="higths">
                      <el-form-item>
                        <el-radio-button label="3">时间耗尽</el-radio-button>
                      </el-form-item>
                    </el-col>
                    <el-col :span="3" :offset="6" class="higths">
                      <el-form-item>
                        <el-radio-button label="5">歼灭敌人</el-radio-button>
                      </el-form-item>
                    </el-col>
                    <el-col :span="3" :offset="0" class="higths">
                      <el-form-item>
                        <el-radio-button label="4">炸弹爆炸</el-radio-button>
                      </el-form-item>
                    </el-col>
                  </el-radio-group>
                </el-col>
                <el-col :span="3" :offset="0" class="higths">
                  <el-form-item>
                    <el-button type="text" @click="item.winner_end_type = ''">重置</el-button>
                  </el-form-item>
                </el-col>
                <span>
                  <el-button v-if="form.rounds.length==index+16" type="success" icon="el-icon-plus" :loading="loadingAdd" circle @click="onSubAdd1()" />
                </span>
                <span v-if="form.rounds.length!=1">
                  <el-button v-if="form.rounds.length==index+16" type="danger" icon="el-icon-minus" :loading="loadingDel" circle @click="onSubDel1(item.id)" />
                </span>
              </el-row>
            </div>
          </div>
          <el-row>
            <el-col :span="5" :offset="5" style="text-align: center">
              <el-input v-model="form.statics[0]['2nd_half_score']" />
            </el-col>
            <el-col :span="4" :offset="0" style="text-align: center">
              <p style=" font-size: 15px;">下半场比分</p>
            </el-col>
            <el-col :span="5" :offset="0" style="text-align: center">
              <el-input v-model="form.statics[1]['2nd_half_score']" />
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="5" :offset="5" style="text-align: center">
              <el-input v-model="form.statics[0]['ot_score']" />
            </el-col>
            <el-col :span="4" :offset="0" style="text-align: center">
              <p style=" font-size: 15px;">OT比分</p>
            </el-col>
            <el-col :span="5" :offset="0" style="text-align: center">
              <el-input v-model="form.statics[1]['ot_score']" />
            </el-col>
          </el-row>
          <el-row>
            <p style="text-align: center">
              <el-button type="primary" plain @click="save10">保存</el-button>
            </p>
          </el-row>
        </el-form>
      </div>
    </div>
  </el-card>
</template>

<script>
  import {battle_recovery, get_battle_edit, get_round_add, get_round_del, refresh_battle} from '@/api/match'
import { getHeroList } from '@/api/metadata'
import { get_enums } from '@/api/common'
export default {
  name: 'FkBattle',
  props: ['value'],
  data() {
    return {
      loading1: false,
      state: false,
      del_id: '',
      loadingAdd: false,
      loadingDel: false,
      childValue: 0,
      match_state_list: [],
      all_match_state_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      team_1_score: '',
      team_2_score: '',
      tmpInfo: 0,
      tmpInfo1: 0,
      loongList: [
        { id: '1', name: 'Infernal Drake', name_cn: '炼狱亚龙' },
        { id: '2', name: 'Mountain Drake', name_cn: '山脉亚龙' },
        { id: '3', name: 'Ocean Drake', name_cn: '海洋亚龙' },
        { id: '4', name: 'Cloud Drake', name_cn: '云端亚龙' },
        { id: '5', name: 'Elder Dragon', name_cn: '远古巨龙' }
      ],
      drakeList: [{ date: '', drake: '' }],
      drakeList1: [{ date: '', drake: '' }],
      value1: new Date(2016, 9, 10, 18, 40),
      teamBP: [{ team: '', type: '', hero: '' }],
      heroist: [],
      names: '',
      req: {},
      drake: '',
      drake1: '',
      rounds: [
        // { battle_id: '', round_ordinal: '1', winner_end_type: '', winner_team_id: '' }
      ],
      form: {
        base: {
          map: ''
        },
        rounds: [
          { round_ordinal: '1', winner_end_type: '' },
          { round_ordinal: '2', winner_end_type: '' },
          { round_ordinal: '3', winner_end_type: '' },
          { round_ordinal: '4', winner_end_type: '' },
          { round_ordinal: '5', winner_end_type: '' },
          { round_ordinal: '6', winner_end_type: '' }
        ],
        statics: [
          { starting_faction_side: '', order: '', experience: '', turret_kills: '', baron_nashor_kills: '', gold: '', inhibitor_kills: '', dragon_kills: '', dragon_kills_detail: '' },
          { starting_faction_side: '', order: '', experience: '', turret_kills: '', baron_nashor_kills: '', gold: '', inhibitor_kills: '', dragon_kills: '', dragon_kills_detail: '' }
        ],
        details: {
          first_blood_p_tid: '',
          first_blood_time: '',
          first_baron_nashor_p_tid: '',
          first_baron_nashor_time: '',
          first_dragon_p_tid: '',
          first_dragon_time: '',
          first_elder_dragon_p_tid: '',
          first_elder_dragon_time: '',
          first_to_5_kills_p_tid: '',
          first_to_5_kills_time: '',
          first_to_10_kills_p_tid: '',
          first_to_10_kills_time: '',
          first_turret_p_tid: '',
          first_turret_time: '',
          first_rift_herald_p_tid: '',
          first_rift_herald_time: '',
          first_inhibitor_p_tid: '',
          first_inhibitor_time: '',
          win_round_1_side: '',
          is_confirmed: ''
        },
        type: 1,
        id: '',
        status_type: '',
        confrontation_begin_date: '',
        five_kills: '',
        ten_kills: '',
        first_blood_tower: '',
        first_canyon_pioneer: '',
        first_small_dragons: '',
        first_big_dragons: '',
        first_crystal: '',
        kill: '',
        economics: '',
        push_tower: '',
        small_dragons: '',
        crystal: '',
        match_duration: '',
        match_begin_date: '',
        experience: '',
        destroy_near_barrack: '',
        destroy_far_barrack: '',
        other_destroy_far_barrack: '',
        other_destroy_near_barrack: '',
        other_economics: '',
        other_kill: '',
        other_push_tower: '',
        other_small_dragons: '',
        other_baron: '',
        other_crystal: '',
        ban: ['', '', '', '', '', '', '', '', '', ''],
        pick: ['', '', '', '', '', '', '', '', '', '']
      }
    }
  },
  // filters: {
  //   filterAdd1(item) {
  //     return item+10;
  //   },
  //   filterAdd2(item) {
  //     return '$'+item;
  //   }
  // },
  watch: {
    'form.base.deleted': {
      handler() {
        if (this.form.base.deleted === '2') {
          this.loading1 = false
        }
        if (this.form.base.deleted === '1') {
          this.loading1 = true
        }
      }
    },
    'form': {
      handler: function() {
        this.$emit('input', this.form)
      },
      deep: true
    },
    'drake': {
      handler: function() {
        if (this.tmpInfo === 1) {
          this.tmpInfo = 0
        } else {
          this.drakeInfo()
        }
      }
    },
    'drake1': {
      handler: function() {
        if (this.tmpInfo1 === 1) {
          this.tmpInfo1 = 0
        } else {
          this.drakeInfo1()
        }
      }
    }
  },
  mounted() {
    this.form = this.value
    this.getInfo()
    this.get_match_state()
    this.hero_list_info()
    this.timer1 = setInterval(this.outoInfo, 5000)
  },
  beforeDestroy() {
    clearInterval(this.timer1)
  },
  methods: {
    onUp() {
      const params = {}
      params['match_id'] = this.$route.query.match_id
      params['battle_id'] = this.form.base.id
      refresh_battle(params).then(res => {
        this.$message({
          type: 'success',
          message: '提交成功！'
        })
      })
    },
    onRecovery() {
      this.$confirm('恢复battle, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['battle_id'] = this.form.base.id
        params['game_type'] = 'csgo'
        battle_recovery(params).then(res => {
          this.$emit('fromChild')
          this.$message({
            type: 'success',
            message: '恢复成功！'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    onSubAdd1() {
      this.save10()
      const params = {}
      params['battle_id'] = this.form.base.id
      get_round_add(params).then(req => {
        this.loadingAdd = true
        this.childValue = 1
        this.$emit('childByValue', this.childValue)
      }).catch(() => {
        this.loadingAdd = false
      })
    },
    onSubDel1(id) {
      this.$confirm('是否删除?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.del_id = id
        this.loadingDel = true
        this.save10()
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    getDel() {
      const params = {}
      params['battle_id'] = this.form.base.id
      params['round_id'] = this.del_id
      get_round_del(params).then(req => {
        this.del_id = ''
        this.childValue = 1
        this.$emit('childByValue', this.childValue)
      }).catch(() => {
        this.del_id = ''
        this.loadingDel = false
      })
    },
    getJudge(id, num, type) {
      if (type === 'ct' && id <= num) {
        return '1'
      } else if (type === 'ct' && id >= num) {
        return '2'
      }
      if (type === 'terrorist' && id <= num) {
        return '2'
      } else if (type === 'terrorist' && id >= num) {
        return '1'
      }
    },
    // 比赛状态
    get_match_state() {
      const params = {}
      params['type'] = 'match_state'
      get_enums(params).then(req => {
        this.match_state_list = req.data
        // this.match_state_list['0'] = this.all_match_state_list
      })
    },
    resteinfo() {
      this.form.base.is_draw = '2'
      this.form.base.winner = '0'
    },
    outoInfo() {
      if (this.value.auto_status === true) {
        this.state = true
        this.form = this.value
        this.getInfo()
      } else if (this.state) {
        this.form = this.value
        this.getInfo()
        this.state = false
      }
      if (this.childValue === 1) {
        this.form = this.value
        this.getInfo()
        this.childValue = 0
        this.loadingAdd = false
        this.loadingDel = false
      }
    },
    getInfo() {
      if (this.form.rounds.length === 0) {
        this.rounds.forEach(item => {
          item.battle_id = this.form.base.id
        })
        this.form.rounds = this.rounds
      }
      this.form.details.win_round_1_team = this.$yangJian.tmp_toString(this.value.details.win_round_1_team)
      this.form.details.win_round_16_team = this.$yangJian.tmp_toString(this.value.details.win_round_16_team)
      this.form.details.first_to_5_rounds_wins_team = this.$yangJian.tmp_toString(this.value.details.first_to_5_rounds_wins_team)
      var tmp = []
      if (this.form.statics[0] && this.form.statics[0].order === '2') {
        tmp[0] = this.form.statics[1]
        tmp[1] = this.form.statics[0]
      } else {
        tmp = this.form.statics
      }
      this.form.statics = tmp
      if (!this.form.base.duration) {
        this.form.base.duration = '00:00:00'
      }
      if (this.form.base) {
        var k = this.$yangJian.sec_format_tiem(this.value.base.duration)
        this.form.base.duration = k
        this.form.base.status = this.$yangJian.tmp_toString(this.form.base.status)
      }
      if (this.form.statics[0] && this.form.statics[0].order === '1') {
        this.team_1_score = this.form.statics[0].score
      } else {
        this.team_2_score = this.form.statics[0].score
      }
      if (this.form.statics[1] && this.form.statics[1].order === '2') {
        this.team_2_score = this.form.statics[1].score
      } else {
        this.team_1_score = this.form.statics[1].score
      }
    },
    save10() {
      const params = {}
      var base = { ...this.form.base }
      base.team_1_score = this.team_1_score
      base.team_2_score = this.team_2_score
      var duration = this.$yangJian.time_format_sec(this.form.base.duration)
      base.duration = this.$yangJian.tmp_toString(duration)
      params['battle_id'] = this.form.base.id
      params['game_type'] = 'csgo'
      params['data_type'] = 'base'
      params['data'] = base
      get_battle_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '保存成功！'
        })
      })
      this.save11()
    },
    save11() {
      const params = {}
      params['battle_id'] = this.form.base.id
      params['game_type'] = 'csgo'
      params['data_type'] = 'rounds'
      params['data'] = this.form.rounds
      get_battle_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '保存成功！'
        })
        if (this.del_id) {
          this.getDel()
          console.log('1111')
        }
      })
      this.save12()
    },
    save12() {
      const params = {}
      var tmp = { ...this.form.details }
      console.log(tmp)
      console.log(this.team_1_id)
      if (tmp.win_round_1_team == this.form.team_1_id) {
        tmp.win_round_1_side = this.form.statics[0].starting_faction_side
        tmp.win_round_1_team = '1'
      }
      if (tmp.win_round_1_team == this.form.team_2_id) {
        tmp.win_round_1_side = this.form.statics[1].starting_faction_side
        tmp.win_round_1_team = '2'
      }
      if (tmp.win_round_16_team == this.form.team_1_id) {
        tmp.win_round_16_side = this.form.statics[0].starting_faction_side
        tmp.win_round_16_team = '1'
      }
      if (tmp.win_round_16_team == this.form.team_2_id) {
        tmp.win_round_16_side = this.form.statics[1].starting_faction_side
        tmp.win_round_16_team = '2'
      }
      if (tmp.first_to_5_rounds_wins_team == this.form.team_1_id) {
        tmp.first_to_5_rounds_wins_side = this.form.statics[0].starting_faction_side
        tmp.first_to_5_rounds_wins_team = '1'
      }
      if (tmp.first_to_5_rounds_wins_team == this.form.team_2_id) {
        tmp.first_to_5_rounds_wins_side = this.form.statics[1].starting_faction_side
        tmp.first_to_5_rounds_wins_team = '2'
      }
      params['battle_id'] = this.form.base.id
      params['game_type'] = 'csgo'
      params['data_type'] = 'details'
      params['data'] = tmp
      get_battle_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '保存成功！'
        })
      })
      this.save13()
    },
    save13() {
      const params = {}
      params['battle_id'] = this.form.base.id
      params['game_type'] = 'csgo'
      params['data_type'] = 'statics'
      params['data'] = this.form.statics
      get_battle_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '保存成功！'
        })
      })
    },
    drakeInfo() {
      if (this.drake !== '') {
        if (this.drake > this.drakeList.length) {
          var n = this.drake - this.drakeList.length
          for (var k = 0; k < n; k++) {
            this.drakeList.push({ date: '', drake: '' })
          }
        }
        if (this.drake < this.drakeList.length) {
          n = this.drakeList.length - this.drake
          for (var i = 0; i < n; i++) {
            this.drakeList.length = this.drakeList.length - 1
          }
        }
      }
    },
    drakeInfo1() {
      if (this.drake1 !== '') {
        if (this.drake1 > this.drakeList1.length) {
          var n = this.drake1 - this.drakeList1.length
          for (var k = 0; k < n; k++) {
            this.drakeList1.push({ date: '', drake: '' })
          }
        }
        if (this.drake1 < this.drakeList1.length) {
          n = this.drakeList1.length - this.drake1
          for (var i = 0; i < n; i++) {
            this.drakeList1.length = this.drakeList1.length - 1
          }
        }
      }
    },
    onSubAdd(id) {
      var tmp = { team: '', type: '', hero: '' }
      this.teamBP.splice(id + 1, 0, tmp)
    },
    onSubDel(id) {
      for (var i = 0; i < this.teamBP.length - 1; i++) {
        if (i === id) {
          this.teamBP.splice(i, 1)
        }
      }
    },
    hero_list_info() {
      const params = {}
      // params['type'] = 1
      getHeroList(params).then(req => {
        this.heroist = req.data
      })
    }
    // resteinfo() {
    //   this.form.status_type = ''
    //   this.form.confrontation_begin_date = ''
    // }
  }
}
</script>

<style scoped>
  .higths {
    height: 35px;
  }
  .background-colors {
    background-color: #e7ecf4;
    width: 100%
  }
  .background_colors {
    height: 35px;
    background-color: #e7ecf4;
    width: 100%
  }
  .widths {
    width: 100%;
  }
</style>
