<template>
  <el-card>
    <div v-if="form.base.deleted === '1'">
      <el-button type="primary" size="small" style="margin-bottom: 20px" @click="onRecovery">恢复battle</el-button>
    </div>
    <div v-loading="loading" element-loading-spinner="el-icon-delete-solid" element-loading-background="rgba(0, 0, 0, 0.1)">
      <el-form ref="form" :model="form" label-width="140px">
        <el-row>
          <el-col :span="12" :offset="0" class="higths">
            <el-form-item label="比赛地图">
              <el-select v-model="form.base.map" placeholder="请选择" style="width: 100%">
                <el-option
                  v-for="(item,index) in form.lol_map_list"
                  :key="index"
                  :label="item.name+' ('+item.name_cn +')'"
                  :value="''+ item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="3" :offset="9">
            <!--                  <el-button type="primary" size="small">查看对局详情完整数据</el-button>-->
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12" :offset="0" class="higths">
            <el-form-item label="实际开始时间">
              <el-date-picker
                v-model="form.base.begin_at"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 100%"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12" :offset="0" class="higths">
            <el-form-item label="实际结束时间">
              <el-date-picker
                v-model="form.base.end_at"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 100%"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12" :offset="0">
            <el-form-item label="状态">
              <el-select v-model="form.base.status" placeholder="请选择" style="width: 100%">
                <el-option
                  v-for="(item,index) in match_state_list"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="4" />
          <el-col :span="5" :offset="4" style="text-align: center">
            <el-select v-model="form.team_1_id" :disabled="true" style="width: 100%">
              <el-option
                v-for="item in form.get_search_teaminfo"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
            <el-input v-model="team_1_score" placeholder="主队比分" />
          </el-col>
          <el-col :span="6" :offset="0" style="text-align: center">
            <p style=" font-size: 15px; color: red">VS</p>
          </el-col>
          <el-col :span="5" :offset="0" style="text-align: center">
            <el-select v-model="form.team_2_id" :disabled="true" style="width: 100%">
              <el-option
                v-for="item in form.get_search_teaminfo"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
            <el-input v-model="team_2_score" placeholder="客队比分" />
          </el-col>

        </el-row>
        <el-row type="flex" align="middle">
          <!--        <el-col :span="2" :offset="2">-->
          <!--          <el-form-item label="获胜方" />-->
          <!--        </el-col>-->
          <el-col :span="4" :offset="5" style="padding-top: 15px; text-align: center">
            <el-radio v-model="form.base.winner" label="1" @change="form.base.is_draw = '2'">获胜</el-radio>
          </el-col>
          <el-col :span="6" :offset="0" style="padding-top: 15px; text-align: center">
            <el-radio v-model="form.base.is_draw" label="1" @change="form.base.winner = ''">平局</el-radio>
          </el-col>
          <el-col :span="6" style="padding-top: 15px; text-align: center">
            <el-radio v-model="form.base.winner" label="2" @change="form.base.is_draw = '2'">获胜</el-radio>
          </el-col>
          <el-col :span="2" :offset="0">
            <el-button type="primary" size="small" @click="resteinfo">重置</el-button>
          </el-col>
        </el-row>
        <!--      <el-row>-->
        <!--        <el-col :span="4" :offset="5" style="padding-top: 30px; text-align: center">-->
        <!--          <el-radio v-model="form.base.if_forfeit" label="1">单图弃权</el-radio>-->
        <!--        </el-col>-->
        <!--        <el-col :span="4" :offset="7" style="padding-top: 30px; text-align: center">-->
        <!--          <el-radio v-model="form.base.if_forfeit" label="2">单图弃权</el-radio>-->
        <!--        </el-col>-->
        <!--      </el-row>-->
        <el-row style="padding-top: 30px">
          <el-col :span="6" :offset="1">
            <el-form-item label="默认领先获胜">
              <el-select v-model="form.base.is_default_advantage" placeholder="请选择">
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="1">
            <el-form-item label="是否弃权">
              <el-select v-model="form.base.is_forfeit" placeholder="请选择">
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="2">
            <el-form-item label="是否有对局详情数据">
              <el-select v-model="form.base.is_battle_detailed" placeholder="请选择">
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <p style="padding-bottom: 15px;text-align: center">
            <el-button type="primary" plain @click="save10">保存</el-button>
            <span style="text-align: right;margin-left: 40px">
              <el-button type="primary" plain @click="onUp">更新</el-button>
            </span>
          </p>
        </el-row>
      </el-form>
      <div class="contents">
        <el-form label-width="110px">
          <el-row class="background-colors">
            <el-col :span="24" :offset="0" class="higths">
              <el-form-item label="阵容Ban/Pick" />
            </el-col>
          </el-row>
        </el-form>
        <el-form label-width="100px">
          <el-row type="flex" class="row-bg" :gutter="40" style="text-align: center; padding-bottom: 15px; padding-top: 5px">
            <el-col :span="4" :offset="0">
              <div>操作排序</div>
            </el-col>
            <el-col :span="5" :offset="0">
              <div>战队</div>
            </el-col>
            <el-col :span="5" :offset="0">
              <div>操作类型</div>
            </el-col>
            <el-col :span="5" :offset="0">
              <div>英雄</div>
            </el-col>
            <el-col :span="4" :offset="0">
              <div>操作</div>
            </el-col>
          </el-row>
          <el-row v-for="(item, index) in teamBP" :key="index" type="flex" :gutter="40" class="row-bg" align="middle" style="text-align: center;padding-bottom: 5px">
            <el-col :span="4" :offset="0">
              <span>{{ index + 1 }}</span>
            </el-col>
            <el-col :span="5" :offset="0">
              <el-select v-model="item.team" clearable placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in form.get_search_teaminfo"
                  :key="index"
                  :label="item.name"
                  :value="''+ item.id"
                />
              </el-select>
            </el-col>
            <el-col :span="5" :offset="0">
              <el-select v-model="item.type" clearable placeholder="请选择" style="width: 220px">
                <el-option label="Ban" value="1" />
                <el-option label="Pick" value="2" />
              </el-select>
            </el-col>
            <el-col :span="5" :offset="0">
              <el-select v-model="item.hero" clearable filterable placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in heroist"
                  :key="index"
                  :label="item.title +' · '+item.name+' ('+item.title_cn+' · '+item.name_cn+')'+ '('+ item.id + ')'"
                  :value="''+ item.id"
                />
              </el-select>
            </el-col>
            <el-col :span="4" :offset="0">
              <el-button type="text" size="small" @click="onSubAdd(index)">添加</el-button>
              <el-button type="text" size="small" @click="onSubDel(index)">删除</el-button>
            </el-col>
          </el-row>
          <el-row>
            <p style="padding-bottom: 15px;text-align: center">
              <el-button type="primary" plain @click="save10">保存</el-button>
            </p>
          </el-row>
          <el-row class="background-colors">
            <el-col :span="24" :offset="0" class="higths">
              <el-form-item label="对局详情" />
            </el-col>
          </el-row>
        </el-form>
        <el-form label-width="150px">
          <el-row>
            <el-col :span="15" :offset="0">
              <el-form-item label="是否为官方完整数据">
                <el-select v-model="form.details.is_confirmed" placeholder="请选择">
                  <el-option label="是" value="1" />
                  <el-option label="否" value="2" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
        <el-form label-width="110px">
          <el-row class="widths" style="margin-bottom: 5px">
            <el-col :span="5" :offset="5" class="higths">
              <el-select v-model="form.team_1_id" :disabled="true" style="width: 100%;padding-left: 50px">
                <el-option
                  v-for="(item,index) in form.get_search_teaminfo"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-col>
            <el-col :span="3" class="higths">
              <p style="text-align: center;padding-left: 50px">VS</p>
            </el-col>
            <el-col :span="5" :offset="0" class="higths">
              <el-select v-model="form.team_2_id" :disabled="true" style="width: 100%;padding-left: 50px">
                <el-option
                  v-for="(item,index) in form.get_search_teaminfo"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-col>
          </el-row>
          <el-row class="background-colors" align="middle">
            <el-col :span="4" :offset="0" class="higths">
              <el-form-item label="阵营" />
            </el-col>
            <el-col :span="3" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.faction" label="2">蓝方（B）</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="6" class="higths">
              <el-form-item style="margin-left: 0px">
                <el-radio v-model="form.details.faction" label="1">红方（R）</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="5" :offset="0" class="higths">
              <el-form-item>
                <el-radio v-if="form.details.faction == 2">红方</el-radio>
                <el-radio v-if="form.details.faction == 1">蓝方</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0" class="higths">
              <el-form-item>
                <el-button type="text" @click="form.details.faction = 0">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="widths">
            <el-col :span="6" :offset="0" class="higths">
              <el-form-item label="一血">
                <el-time-picker v-model="form.details.first_blood_time" :default-value="new Date(defaultTiming)" placeholder="选择时间" value-format="HH:mm:ss" style="width: 100%;" />
              </el-form-item>
            </el-col>
            <el-col :span="7" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.first_blood_p_tid" label="1">一血</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="5" :offset="0" class="higths">
              <el-form-item style="margin-left: 0px">
                <el-radio v-model="form.details.first_blood_p_tid" label="2">一血</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0" class="higths">
              <el-form-item>
                <el-button type="text" @click="form.details.first_blood_p_tid = 0">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="background-colors">
            <el-col :span="6" :offset="0" class="higths">
              <el-form-item label="五杀">
                <el-time-picker v-model="form.details.first_to_5_kills_time" :default-value="new Date(defaultTiming)" placeholder="选择时间" value-format="HH:mm:ss" style="width: 100%;" />
              </el-form-item>
            </el-col>
            <el-col :span="7" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.first_to_5_kills_p_tid" label="1">五杀</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="5" :offset="0" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.first_to_5_kills_p_tid" label="2">五杀</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0" class="higths">
              <el-form-item>
                <el-button type="text" @click="form.details.first_to_5_kills_p_tid = 0">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="widths">
            <el-col :span="6" :offset="0" class="higths">
              <el-form-item label="十杀">
                <el-time-picker v-model="form.details.first_to_10_kills_time" :default-value="new Date(defaultTiming)" placeholder="选择时间" value-format="HH:mm:ss" style="width: 100%;" />
              </el-form-item>
            </el-col>
            <el-col :span="7" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.first_to_10_kills_p_tid" label="1">十杀</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="5" :offset="0" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.first_to_10_kills_p_tid" label="2">十杀</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0" class="higths">
              <el-form-item>
                <el-button type="text" @click="form.details.first_to_10_kills_p_tid = 0">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="background-colors">
            <el-col :span="6" :offset="0" class="higths">
              <el-form-item label="首塔">
                <el-time-picker v-model="form.details.first_turret_time" :default-value="new Date(defaultTiming)" placeholder="选择时间" value-format="HH:mm:ss" style="width: 100%;" />
              </el-form-item>
            </el-col>
            <el-col :span="7" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.first_turret_p_tid" label="1">首塔</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="5" :offset="0" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.first_turret_p_tid" label="2">首塔</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0" class="higths">
              <el-form-item>
                <el-button type="text" @click="form.details.first_turret_p_tid = 0">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="widths">
            <el-col :span="6" :offset="0" class="higths">
              <el-form-item label="首峡谷先锋">
                <el-time-picker v-model="form.details.first_rift_herald_time" :default-value="new Date(defaultTiming)" placeholder="选择时间" value-format="HH:mm:ss" style="width: 100%;" />
              </el-form-item>
            </el-col>
            <el-col :span="7" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.first_rift_herald_p_tid" label="1">首峡谷先锋</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="5" :offset="0" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.first_rift_herald_p_tid" label="2">首峡谷先锋</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0" class="higths">
              <el-form-item>
                <el-button type="text" @click="form.details.first_rift_herald_p_tid = 0">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="background-colors">
            <el-col :span="6" :offset="0" class="higths">
              <el-form-item label="首元素巨龙">
                <el-time-picker v-model="form.details.first_dragon_time" :default-value="new Date(defaultTiming)" placeholder="选择时间" value-format="HH:mm:ss" style="width: 100%;" />
              </el-form-item>
            </el-col>
            <el-col :span="7" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.first_dragon_p_tid" label="1">首元素巨龙</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="5" :offset="0" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.first_dragon_p_tid" label="2">首元素巨龙</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0" class="higths">
              <el-form-item>
                <el-button type="text" @click="form.details.first_dragon_p_tid = 0">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="widths">
            <el-col :span="6" :offset="0" class="higths">
              <el-form-item label="首纳什男爵">
                <el-time-picker v-model="form.details.first_baron_nashor_time" :default-value="new Date(defaultTiming)" placeholder="选择时间" value-format="HH:mm:ss" style="width: 100%;" />
              </el-form-item>
            </el-col>
            <el-col :span="7" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.first_baron_nashor_p_tid" label="1">首纳什男爵</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="5" :offset="0" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.first_baron_nashor_p_tid" label="2">首纳什男爵</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0" class="higths">
              <el-form-item>
                <el-button type="text" @click="form.details.first_baron_nashor_p_tid = 0">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="background-colors">
            <el-col :span="6" :offset="0" class="higths">
              <el-form-item label="首远古巨龙">
                <el-time-picker v-model="form.details.first_elder_dragon_time" :default-value="new Date(defaultTiming)" placeholder="选择时间" value-format="HH:mm:ss" style="width: 100%;" />
              </el-form-item>
            </el-col>
            <el-col :span="7" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.first_elder_dragon_p_tid" label="1">首远古巨龙</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="5" :offset="0" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.first_elder_dragon_p_tid" label="2">首远古巨龙</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0" class="higths">
              <el-form-item>
                <el-button type="text" @click="form.details.first_elder_dragon_p_tid = 0">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="widths">
            <el-col :span="6" :offset="0" class="higths">
              <el-form-item label="首水晶">
                <el-time-picker v-model="form.details.first_inhibitor_time" :default-value="new Date(defaultTiming)" placeholder="选择时间" value-format="HH:mm:ss" style="width: 100%;" />
              </el-form-item>
            </el-col>
            <el-col :span="7" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.first_inhibitor_p_tid" label="1">首水晶</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="5" :offset="0" class="higths">
              <el-form-item>
                <el-radio v-model="form.details.first_inhibitor_p_tid" label="2">首水晶</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="4" :offset="0" class="higths">
              <el-form-item>
                <el-button type="text" @click="form.details.first_inhibitor_p_tid = 0">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <p style="padding-bottom: 15px; padding-top: 5px;text-align: center">
              <el-button type="primary" plain @click="save10">保存</el-button>
            </p>
          </el-row>
        </el-form>
        <el-form label-width="110px">
          <el-row class="widths" style="margin-bottom: 5px;margin-left: 50px;text-align: center">
            <el-col :span="7" :offset="4" class="higths">
              <el-select v-model="form.team_1_id" :disabled="true">
                <el-option
                  v-for="item in form.get_search_teaminfo"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-col>
            <el-col :span="1" class="higths">
              <p style="text-align: center">VS</p>
            </el-col>
            <el-col :span="7" :offset="0" class="higths">
              <el-select v-model="form.team_2_id" :disabled="true">
                <el-option
                  v-for="item in form.get_search_teaminfo"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-col>
          </el-row>
          <el-row class="background-colors">
            <el-col :span="2" :offset="2" class="higths">
              <el-form-item label="击杀" />
            </el-col>
            <el-col :span="7" :offset="0" class="higths">
              <el-form-item>
                <el-input v-model="form.statics[0].kills" />
              </el-form-item>
            </el-col>
            <el-col :span="7" :offset="1" class="higths">
              <el-form-item>
                <el-input v-model="form.statics[1].kills" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class=" widths">
            <el-col :span="2" :offset="2" class="higths">
              <el-form-item label="死亡" />
            </el-col>
            <el-col :span="7" :offset="0" class="higths">
              <el-form-item>
                <el-input v-model="form.statics[0].deaths" />
              </el-form-item>
            </el-col>
            <el-col :span="7" :offset="1" class="higths">
              <el-form-item>
                <el-input v-model="form.statics[1].deaths" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="background-colors">
            <el-col :span="2" :offset="2" class="higths">
              <el-form-item label="助攻" />
            </el-col>
            <el-col :span="7" :offset="0" class="higths">
              <el-form-item>
                <el-input v-model="form.statics[0].assists" />
              </el-form-item>
            </el-col>
            <el-col :span="7" :offset="1" class="higths">
              <el-form-item>
                <el-input v-model="form.statics[1].assists" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="widths">
            <el-col :span="2" :offset="2" class="higths">
              <el-form-item label="经济" />
            </el-col>
            <el-col :span="7" :offset="0" class="higths">
              <el-form-item>
                <el-input v-model="form.statics[0].gold" />
              </el-form-item>
            </el-col>
            <el-col :span="7" :offset="1" class="higths">
              <el-form-item>
                <el-input v-model="form.statics[1].gold" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="background-colors">
            <el-col :span="2" :offset="2" class="higths">
              <el-form-item label="经验" />
            </el-col>
            <el-col :span="7" :offset="0" class="higths">
              <el-form-item>
                <el-input v-model="form.statics[0].experience" />
              </el-form-item>
            </el-col>
            <el-col :span="7" :offset="1" class="higths">
              <el-form-item>
                <el-input v-model="form.statics[1].experience" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="widths">
            <el-col :span="2" :offset="2" class="higths">
              <el-form-item label="摧毁防御塔" />
            </el-col>
            <el-col :span="7" :offset="0" class="higths">
              <el-form-item>
                <el-input v-model="form.statics[0].turret_kills" />
              </el-form-item>
            </el-col>
            <el-col :span="7" :offset="1" class="higths">
              <el-form-item>
                <el-input v-model="form.statics[1].turret_kills" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="background-colors">
            <el-col :span="2" :offset="2" class="higths">
              <el-form-item label="摧毁水晶" />
            </el-col>
            <el-col :span="7" :offset="0" class="higths">
              <el-form-item>
                <el-input v-model="form.statics[0].inhibitor_kills" />
              </el-form-item>
            </el-col>
            <el-col :span="7" :offset="1" class="higths">
              <el-form-item>
                <el-input v-model="form.statics[1].inhibitor_kills" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="widths">
            <el-col :span="2" :offset="2" class="higths">
              <el-form-item label="击杀峡谷先锋" />
            </el-col>
            <el-col :span="7" :offset="0" class="higths">
              <el-form-item>
                <el-input v-model="form.statics[0].rift_herald_kills" />
              </el-form-item>
            </el-col>
            <el-col :span="7" :offset="1" class="higths">
              <el-form-item>
                <el-input v-model="form.statics[1].rift_herald_kills" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="background-colors">
            <el-col :span="2" :offset="2" class="higths">
              <el-form-item label="击杀元素巨龙" />
            </el-col>
            <el-col :span="7" :offset="0" class="higths">
              <el-form-item>
                <el-input v-model="drake" />
              </el-form-item>
            </el-col>
            <el-col :span="7" :offset="1" class="higths">
              <el-form-item>
                <el-input v-model="drake1" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-row v-for="(item,index) in drakeList" :key="index">
                <el-col :span="2" :offset="9" style="vertical-align: middle; text-align: center;padding-top: 8px">
                  {{ index + 1 }}
                </el-col>
                <el-col :span="6" class="higths">
                  <el-time-picker v-model="item.date" placeholder="选择时间" :default-value="new Date(defaultTiming)" value-format="HH:mm:ss" style="width: 100%;" />
                </el-col>
                <el-col :span="6" :offset="0">
                  <el-select v-model="item.drake" placeholder="请选择" class="higths">
                    <el-option
                      v-for="(item,index) in loongList"
                      :key="index"
                      :label="item.name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-col>
              </el-row>
            </el-col>
            <el-col :span="12">
              <el-row v-for="(item,index) in drakeList1" :key="index">
                <el-col :span="2" :offset="1" style="vertical-align: middle; text-align: center;padding-top: 8px">
                  {{ index + 1 }}
                </el-col>
                <el-col :span="6" class="higths">
                  <el-time-picker v-model="item.date" placeholder="选择时间" :default-value="new Date(defaultTiming)" value-format="HH:mm:ss" style="width: 100%;" />
                </el-col>
                <el-col :span="6" :offset="0">
                  <el-select v-model="item.drake" placeholder="请选择">
                    <el-option
                      v-for="(item,index) in loongList"
                      :key="index"
                      :label="item.name_cn"
                      :value="item.id"
                    />
                  </el-select>
                </el-col>
              </el-row>
            </el-col>
            <!--          <el-col :span="12">-->
            <!--            <div v-for="(item,index) in drakeList1" :key="index">-->
            <!--              <el-col :span="2" :offset="0" style="vertical-align: middle; text-align: center;padding-top: 8px">-->
            <!--                {{ index + 1 }}-->
            <!--              </el-col>-->
            <!--              <el-col :span="6" class="higths">-->
            <!--                <el-time-picker v-model="item.date" placeholder="选择时间" value-format="HH:mm:ss" style="width: 100%;" />-->
            <!--              </el-col>-->
            <!--              <el-col :span="6" :offset="0">-->
            <!--                <el-select v-model="item.drake" placeholder="请选择" style="margin-left: 2px">-->
            <!--                  <el-option-->
            <!--                    v-for="(item,index) in loongList"-->
            <!--                    :key="index"-->
            <!--                    :label="item.name_cn"-->
            <!--                    :value="item.id"-->
            <!--                  />-->
            <!--                </el-select>-->
            <!--              </el-col>-->
            <!--              <el-col :offset="9" />-->
            <!--            </div>-->
            <!--          </el-col>-->
          </el-row>
          <el-row class="background-colors">
            <el-col :span="2" :offset="2" class="higths">
              <el-form-item label="击杀纳什男爵" />
            </el-col>
            <el-col :span="7" :offset="0" class="higths">
              <el-form-item>
                <el-input v-model="form.statics[0].baron_nashor_kills" />
              </el-form-item>
            </el-col>
            <el-col :span="7" :offset="1" class="higths">
              <el-form-item>
                <el-input v-model="form.statics[1].baron_nashor_kills" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="widths">
            <el-col :span="2" :offset="2">
              <el-form-item label="对局时长" />
            </el-col>
            <el-col :span="7" :offset="0">
              <el-form-item>
                <el-time-picker
                  v-model="form.base.duration"
                  placeholder="选择时间"
                  :picker-options="{
                    selectableRange: '00:00:00 - 23:59:59'
                  }"
                  value-format="HH:mm:ss"
                  style="width: 100%;"
                />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <p style="text-align: center">
              <el-button type="primary" plain @click="save10">保存</el-button>
            </p>
            <!--          <el-col :span="3">-->
            <!--            <el-button type="danger" plain @click="restdata">清除数据</el-button>-->
            <!--          </el-col>-->
          </el-row>
        </el-form>
      </div>
    </div>
  </el-card>
</template>

<script>
import { get_battle_edit, battle_recovery, refresh_battle } from '@/api/match'
import { getHeroList } from '@/api/metadata'
import { get_enums } from '@/api/common'
export default {
  name: 'GameInput',
  props: ['value'],
  data() {
    return {
      loading: true,
      state: false,
      defaultTiming: '2020-10-1 00:00:00',
      match_state_list: [],
      all_match_state_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      team_1_score: '',
      team_2_score: '',
      tmpInfo: 0,
      tmpInfo1: 0,
      loongList: [
        { id: '2', name: 'Infernal Drake', name_cn: '炼狱亚龙' },
        { id: '3', name: 'Mountain Drake', name_cn: '山脉亚龙' },
        { id: '4', name: 'Ocean Drake', name_cn: '海洋亚龙' },
        { id: '5', name: 'Cloud Drake', name_cn: '云端亚龙' },
        { id: '6', name: 'Elder Dragon', name_cn: '远古巨龙' }
      ],
      drakeList: [{ date: '', drake: '' }],
      drakeList1: [{ date: '', drake: '' }],
      value1: new Date(2016, 9, 10, 18, 40),
      teamBP: [{ team: '', type: '', hero: '' }],
      heroist: [],
      names: '',
      req: {},
      drake: '0',
      drake1: '0',
      form: {
        base: {
          map: ''
        },
        statics: [
          { kills: '', rift_herald_kills: '', experience: '', turret_kills: '', baron_nashor_kills: '', gold: '', inhibitor_kills: '', dragon_kills: '', dragon_kills_detail: '' },
          { kills: '', rift_herald_kills: '', experience: '', turret_kills: '', baron_nashor_kills: '', gold: '', inhibitor_kills: '', dragon_kills: '', dragon_kills_detail: '' }
        ],
        details: {
          first_blood_p_tid: '',
          first_blood_time: '00:00:00',
          first_baron_nashor_p_tid: '',
          first_baron_nashor_time: '00:00:00',
          first_dragon_p_tid: '',
          first_dragon_time: '00:00:00',
          first_elder_dragon_p_tid: '',
          first_elder_dragon_time: '00:00:00',
          first_to_5_kills_p_tid: '',
          first_to_5_kills_time: '00:00:00',
          first_to_10_kills_p_tid: '',
          first_to_10_kills_time: '00:00:00',
          first_turret_p_tid: '',
          first_turret_time: '00:00:00',
          first_rift_herald_p_tid: '',
          first_rift_herald_time: '00:00:00',
          first_inhibitor_p_tid: '',
          first_inhibitor_time: '00:00:00',
          faction: '',
          is_confirmed: ''
        },
        type: 1,
        id: '',
        status_type: '',
        confrontation_begin_date: '',
        five_kills: '',
        ten_kills: '',
        first_blood_tower: '',
        first_canyon_pioneer: '',
        first_small_dragons: '',
        first_big_dragons: '',
        first_crystal: '',
        kill: '',
        economics: '',
        push_tower: '',
        small_dragons: '',
        crystal: '',
        match_duration: '',
        match_begin_date: '',
        experience: '',
        destroy_near_barrack: '',
        destroy_far_barrack: '',
        other_destroy_far_barrack: '',
        other_destroy_near_barrack: '',
        other_economics: '',
        other_kill: '',
        other_push_tower: '',
        other_small_dragons: '',
        other_baron: '',
        other_crystal: '',
        ban: ['', '', '', '', '', '', '', '', '', ''],
        pick: ['', '', '', '', '', '', '', '', '', '']
      }
    }
  },
  // filters: {
  //   filterAdd1(item) {
  //     return item+10;
  //   },
  //   filterAdd2(item) {
  //     return '$'+item;
  //   }
  // },
  watch: {
    'form.base.deleted': {
      handler() {
        if (this.form.base.deleted === '2') {
          this.loading = false
        }
        if (this.form.base.deleted === '1') {
          this.loading = true
        }
      }
    },
    'form': {
      handler: function() {
        this.$emit('input', this.form)
      },
      deep: true
    },
    'drake': {
      handler: function() {
        if (this.tmpInfo === 1) {
          this.tmpInfo = 0
        } else {
          this.drakeInfo()
        }
      }
    },
    'drake1': {
      handler: function() {
        if (this.tmpInfo1 === 1) {
          this.tmpInfo1 = 0
        } else {
          this.drakeInfo1()
        }
      }
    }
  },
  mounted() {
    this.form = this.value
    this.get_match_state()
    this.hero_list_info()
    this.getInfo()
    this.timer1 = setInterval(this.outoInfo, 5000)
  },
  beforeDestroy() {
    clearInterval(this.timer1)
  },
  methods: {
    onUp() {
      const params = {}
      params['match_id'] = this.$route.query.match_id
      params['battle_id'] = this.form.base.id
      refresh_battle(params).then(res => {
        this.$message({
          type: 'success',
          message: '提交成功！'
        })
      })
    },
    onRecovery() {
      this.$confirm('恢复battle, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['battle_id'] = this.form.base.id
        params['game_type'] = 'lol'
        battle_recovery(params).then(res => {
          this.$emit('fromChild')
          this.$message({
            type: 'success',
            message: '恢复成功！'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    // 比赛状态
    get_match_state() {
      const params = {}
      params['type'] = 'match_state'
      get_enums(params).then(req => {
        this.match_state_list = req.data
        // this.match_state_list['0'] = this.all_match_state_list
      })
    },
    resteinfo() {
      this.form.base.is_draw = '2'
      this.form.base.winner = ''
      // this.form.base.if_forfeit = '0'
    },
    outoInfo() {
      if (this.value.auto_status === true) {
        this.state = true
        this.form = this.value
        this.getInfo()
      } else if (this.state) {
        this.form = this.value
        this.getInfo()
        this.state = false
      }
    },
    getInfo() {
      // if (!this.form.base.duration) {
      //   this.form.base.duration = '00:00:00'
      // }
      if (this.form.ban_pick) {
        // this.teamBP = JSON.parse(this.form.ban_pick)
        this.teamBP = this.$yangJian.all_change_string(this.form.ban_pick)
      }
      var statics = { ...this.form.statics }
      if (this.form.statics[0].order === '1') {
        this.team_1_score = this.form.statics[0].score
        this.team_2_score = this.form.statics[1].score
        switch (this.form.statics[0].faction) {
          case 'red':
            this.form.details.faction = '1'
            break
          case 'blue':
            this.form.details.faction = '2'
            break
          default:
            this.form.details.faction = ''
        }
      } else {
        this.form.statics[0] = statics[1]
        this.form.statics[1] = statics[0]
        this.team_1_score = this.form.statics[0].score
        this.team_2_score = this.form.statics[1].score
        switch (this.form.statics[0].faction) {
          case 'red':
            this.form.details.faction = '1'
            break
          case 'blue':
            this.form.details.faction = '2'
            break
          default:
            this.form.details.faction = ''
        }
      }
      if (this.form.statics[0].dragon_kills_detail) {
        this.tmpInfo = 1
        this.drake = this.form.statics[0].dragon_kills
        var drakeList = JSON.parse(this.form.statics[0].dragon_kills_detail)
        for (var i = 0; i < drakeList.length; i++) {
          drakeList[i].date = this.$yangJian.sec_format_tiem(drakeList[i].date)
        }
        this.drakeList = drakeList
      }
      if (this.form.statics[1].dragon_kills_detail) {
        this.tmpInfo1 = 1
        this.drake1 = this.form.statics[1].dragon_kills
        var drakeList1 = JSON.parse(this.form.statics[1].dragon_kills_detail)
        for (var i = 0; i < drakeList1.length; i++) {
          drakeList1[i].date = this.$yangJian.sec_format_tiem(drakeList1[i].date)
        }
        this.drakeList1 = drakeList1
      }
      if (this.form.base) {
        var k = this.$yangJian.sec_format_tiem(this.value.base.duration)
        this.form.base.duration = k
      }
      if (!this.form.base.map) {
        this.form.base.map = '1'
      }
      this.form.details.first_blood_time = this.$yangJian.sec_format_tiem(this.form.details.first_blood_time)
      this.form.details.first_baron_nashor_time = this.$yangJian.sec_format_tiem(this.form.details.first_baron_nashor_time)
      this.form.details.first_dragon_time = this.$yangJian.sec_format_tiem(this.form.details.first_dragon_time)
      this.form.details.first_elder_dragon_time = this.$yangJian.sec_format_tiem(this.form.details.first_elder_dragon_time)
      this.form.details.first_to_5_kills_time = this.$yangJian.sec_format_tiem(this.form.details.first_to_5_kills_time)
      this.form.details.first_to_10_kills_time = this.$yangJian.sec_format_tiem(this.form.details.first_to_10_kills_time)
      this.form.details.first_turret_time = this.$yangJian.sec_format_tiem(this.form.details.first_turret_time)
      this.form.details.first_rift_herald_time = this.$yangJian.sec_format_tiem(this.form.details.first_rift_herald_time)
      this.form.details.first_inhibitor_time = this.$yangJian.sec_format_tiem(this.form.details.first_inhibitor_time)
    },
    save10() {
      const params = {}
      var base = { ...this.form.base }
      base.team_1_score = this.team_1_score
      base.team_2_score = this.team_2_score
      var duration = this.$yangJian.time_format_sec(this.form.base.duration)
      base.duration = this.$yangJian.tmp_toString(duration)
      params['battle_id'] = this.form.base.id
      params['game_type'] = 'lol'
      params['data_type'] = 'base'
      params['data'] = base
      get_battle_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '保存成功！'
        })
      })
      this.save11()
    },
    save11() {
      const params = {}
      params['battle_id'] = this.form.base.id
      params['game_type'] = 'lol'
      params['data_type'] = 'ban_pick'
      params['data'] = this.teamBP
      get_battle_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '保存成功！'
        })
      })
      this.save12()
    },
    save12() {
      const params = {}
      params['battle_id'] = this.form.base.id
      params['game_type'] = 'lol'
      params['data_type'] = 'details'
      var details = { ...this.form.details }
      delete details['ban_pick']
      details.first_blood_time = '' + this.$yangJian.time_format_sec(details.first_blood_time)
      details.first_baron_nashor_time = '' + this.$yangJian.time_format_sec(details.first_baron_nashor_time)
      details.first_dragon_time = '' + this.$yangJian.time_format_sec(details.first_dragon_time)
      details.first_elder_dragon_time = '' + this.$yangJian.time_format_sec(details.first_elder_dragon_time)
      details.first_to_5_kills_time = '' + this.$yangJian.time_format_sec(details.first_to_5_kills_time)
      details.first_to_10_kills_time = '' + this.$yangJian.time_format_sec(details.first_to_10_kills_time)
      details.first_turret_time = '' + this.$yangJian.time_format_sec(details.first_turret_time)
      details.first_rift_herald_time = '' + this.$yangJian.time_format_sec(details.first_rift_herald_time)
      details.first_inhibitor_time = '' + this.$yangJian.time_format_sec(details.first_inhibitor_time)
      params['data'] = details
      get_battle_edit(params).then(req => {
        switch (this.form.details.faction) {
          case '1':
            this.form.statics[0].faction = 'red'
            this.form.statics[1].faction = 'blue'
            break
          case '2':
            this.form.statics[0].faction = 'blue'
            this.form.statics[1].faction = 'red'
            break
          default:
            this.form.statics[0].faction = ''
            this.form.statics[1].faction = ''
        }
        this.form.statics[0].dragon_kills = this.drake
        var drakeList = this.drakeList
        for (var i = 0; i < drakeList.length; i++) {
          console.log('item')
          console.log(drakeList[i].date)
          drakeList[i].date = this.$yangJian.time_format_sec(drakeList[i].date)
        }
        this.form.statics[0].dragon_kills_detail = JSON.stringify(drakeList)
        this.form.statics[1].dragon_kills = this.drake1
        var drakeList1 = this.drakeList1
        for (var i = 0; i < drakeList.length; i++) {
          drakeList1[i].date = this.$yangJian.time_format_sec(drakeList1[i].date)
        }
        this.form.statics[1].dragon_kills_detail = JSON.stringify(drakeList1)
        const params = {}
        params['battle_id'] = this.form.base.id
        params['game_type'] = 'lol'
        params['data_type'] = 'statics'
        params['data'] = this.form.statics
        get_battle_edit(params).then(req => {
          this.$message({
            type: 'success',
            message: '保存成功！'
          })
        })
      })
    },
    drakeInfo() {
      if (this.drake !== '') {
        if (this.drake > this.drakeList.length) {
          var n = this.drake - this.drakeList.length
          for (var k = 0; k < n; k++) {
            this.drakeList.push({ date: '', drake: '' })
          }
        }
        if (this.drake < this.drakeList.length) {
          n = this.drakeList.length - this.drake
          for (var i = 0; i < n; i++) {
            this.drakeList.length = this.drakeList.length - 1
          }
        }
      }
    },
    drakeInfo1() {
      if (this.drake1 !== '') {
        if (this.drake1 > this.drakeList1.length) {
          var n = this.drake1 - this.drakeList1.length
          for (var k = 0; k < n; k++) {
            this.drakeList1.push({ date: '', drake: '' })
          }
        }
        if (this.drake1 < this.drakeList1.length) {
          n = this.drakeList1.length - this.drake1
          for (var i = 0; i < n; i++) {
            this.drakeList1.length = this.drakeList1.length - 1
          }
        }
      }
    },
    onSubAdd(id) {
      var tmp = { team: '', type: '', hero: '' }
      this.teamBP.splice(id + 1, 0, tmp)
    },
    onSubDel(id) {
      for (var i = 0; i < this.teamBP.length - 1; i++) {
        if (i === id) {
          this.teamBP.splice(i, 1)
        }
      }
    },
    hero_list_info() {
      const params = {}
      // params['type'] = 1
      getHeroList(params).then(req => {
        this.heroist = req.data
      })
    }
    // resteinfo() {
    //   this.form.status_type = ''
    //   this.form.confrontation_begin_date = ''
    // }
  }
}
</script>

<style scoped>
  .higths {
    height: 35px;
  }
  .background-colors {
    background-color: #e7ecf4;
    width: 100%
  }
  .widths {
    width: 100%;
  }
</style>
