<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>编辑英雄天赋</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form ref="form" :rules="rules" :model="form" label-width="130px">
        <el-row type="flex" class="row-bg">
          <el-col :span="8" ::offset="0">
            <el-form-item label="数据源">
              <el-select v-model="data_config.config['dota2_talent.core_data'].origin_id" style="width: 100%" disabled>
                <el-option
                  v-for="(item,index) in $store.getters.enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" ::offset="0">
            <el-form-item label="更新方式">
              <el-select v-model="data_config.config['dota2_talent.core_data'].update_type" style="width: 100%" disabled>
                <el-option label="不更新" value="1" />
                <el-option label="手动" value="2" />
                <el-option label="自动" value="3" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8">
            <el-form-item label="官方ID:">
              <el-input v-model="form.external_id" style="width: 100%" />
              <div v-if="updateInfo.core_data.external_id || updateInfo.core_data.external_id == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.external_id?updateInfo.core_data.external_id:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.external_id = updateInfo.core_data.external_id">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="官方名称:" prop="external_name">
              <el-input v-model="form.external_name" style="width: 100%" />
              <div v-if="updateInfo.core_data.external_name || updateInfo.core_data.external_name == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.external_name?updateInfo.core_data.external_name:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.external_name = updateInfo.core_data.external_name">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="16" :offset="0">
            <el-form-item label="天赋（英文）" prop="talent">
              <el-input v-model="form.talent" />
              <div v-if="updateInfo.core_data.talent || updateInfo.core_data.talent == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.talent?updateInfo.core_data.talent:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.talent = updateInfo.core_data.talent">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="16" :offset="0">
            <el-form-item label="天赋（中文）">
              <el-input v-model="form.talent_cn" />
              <div v-if="updateInfo.core_data.talent_cn || updateInfo.core_data.talent_cn == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.talent_cn?updateInfo.core_data.talent_cn:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.talent_cn = updateInfo.core_data.talent_cn">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8" :offset="0">
            <el-form-item label="Slug" prop="slug">
              <el-input v-model="form.slug" />
              <div v-if="updateInfo.core_data.slug || updateInfo.core_data.slug == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.slug?updateInfo.core_data.slug:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.slug = updateInfo.core_data.slug">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col v-if="updateInfo.core_data.deleted" :span="8" :offset="0">
            <el-form-item label="是否删除">
              <el-select v-model="form.deleted" style="width: 100%" disabled>
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
              <div v-if="updateInfo.core_data.deleted || updateInfo.core_data.deleted == ''">
                <span class="upDate">变更为：<span style="color: red">
                  <span v-if="updateInfo.core_data.deleted == '1'">是</span>
                  <span v-if="updateInfo.core_data.deleted == '2'">否</span>
                </span></span>
                <el-button type="primary" size="mini" plain @click="form.deleted =updateInfo.core_data.deleted">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <div style="padding-top: 45px;text-align: center">
            <el-button type="primary" @click="onSubmit('form')">确认修改</el-button>
          </div>
        </el-row>
        <div type="flex" class="row-bg" style="padding-top: 20px">
          <el-col v-for="(item,index) in binding_list" :key="index" :span="8">
            <el-col :span="20" ::offset="0">
              <el-form-item :label="item.desc">
                <el-input v-model="item.standard_id" disabled />
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form>
                <el-form-item style="text-align: right">
                  <el-button type="text" @click="unbundle(item.id)">解绑</el-button>
                </el-form-item>
              </el-form>
            </el-col>
          </el-col>
        </div>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { dota_get_info, dota_talent_add, dotagetHeroList } from '@/api/metadata'
import { get_binding_info } from '@/api/binding'
import { close_bing } from '@/api/common'
import { data_change_detail } from '@/api/data'
export default {
  name: 'TalentEdit',
  data() {
    return {
      updateInfo: {
        core_data: {},
        base_data: {}
      },
      binding_list: [],
      hero_list: [],
      slug_stutas: 0,
      form: {
        deleted: '',
        external_name: '',
        external_id: '',
        talent: '',
        talent_cn: '',
        slug: ''
      },
      data_config: {
        config: {
          'dota2_talent.base_data': {
            'id': '',
            'game_id': '',
            'resource_type': '',
            'resource_id': '',
            'tag_type': 'base_data',
            'slug': 'team.base_data',
            'origin_id': '',
            'update_type': ''
          },
          'dota2_talent.core_data': {
            'id': '',
            'game_id': '',
            'resource_type': 'team',
            'resource_id': '',
            'tag_type': 'core_data',
            'slug': 'team.core_data',
            'origin_id': '',
            'update_type': ''
          },
          'dota2_talent.team_player': {
            'id': '',
            'game_id': '',
            'resource_type': 'team',
            'resource_id': '',
            'tag_type': 'team_player',
            'slug': 'team.team_player',
            'origin_id': '',
            'update_type': ''
          }
        }
      },
      rules: {
        external_name: [
          { required: true, message: '请输入官方名称', trigger: 'change' }
        ],
        // level: [
        //   { required: true, message: '请输入等级', trigger: 'change' }
        // ],
        // left_right: [
        //   { required: true, message: '请选择', trigger: 'change' }
        // ],
        talent: [
          { required: true, message: '请输入', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    'form.external_name': {
      handler: function() {
        if (this.slug_stutas === 1) {
          this.slug_stutas = 0
        } else {
          this.form.slug = this.$yangJian.slug_rule(this.form.external_name)
        }
      }
    }
  },
  mounted() {
    if (this.$route.query.upId) {
      setTimeout(() => {
        this.getInfo()
        this.heroInfo()
        this.getBindingInfo()
        this.upInfo()
      }, 500)
    } else {
      this.getInfo()
      this.heroInfo()
      this.getBindingInfo()
      this.upInfo()
    }
  },
  methods: {
    upInfo() {
      if (this.$route.query.tag_type) {
        this.tag_type = this.$route.query.tag_type
        const params = {}
        params['id'] = this.$route.query.upId
        data_change_detail(params).then(req => {
          var infoList = req.data.change_info
          this.update(infoList, req.data.tag_type)
        })
      }
    },
    update(data, type) {
      var infos = {}
      switch (type) {
        case 'core_data':
          for (var i in data) {
            var k_name = data[i].key
            infos[k_name] = data[i].after
          }
          this.updateInfo.core_data = infos
          if (infos.deleted) {
            this.updateInfo.core_data.deleted = this.$yangJian.tmp_toString(infos.deleted)
          }
          break
        case 'base_data':
          for (var k in data) {
            k_name = data[k].key
            infos[k_name] = data[k].after
          }
          this.updateInfo.base_data = infos
          break
      }
    },
    getBindingInfo() {
      const params = {}
      params['master_id'] = this.$route.query.id
      params['type'] = 'dota2_talent'
      get_binding_info(params).then(req => {
        this.binding_list = req.data
      })
    },
    unbundle(id) {
      if (id) {
        this.$confirm('确认解绑？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const params = {}
          params['standard_id'] = id
          params['type'] = 'dota2_talent'
          close_bing(params).then(req => {
            this.$message({
              type: 'success',
              message: '解绑成功！'
            })
            this.getBindingInfo()
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          })
        })
      } else {
        this.$message({
          type: 'info',
          message: '没有绑定关系'
        })
      }
    },
    heroInfo() {
      const params = {}
      dotagetHeroList(params).then(req => {
        this.hero_list = req.data
      })
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          if (this.$route.query.upId) {
            params['todo_id'] = this.$route.query.upId
          }
          params['id'] = this.$route.query.id
          params['external_name'] = this.form.external_name
          params['external_id'] = this.form.external_id
          params['talent'] = this.form.talent
          params['talent_cn'] = this.form.talent_cn
          params['slug'] = this.form.slug
          if (this.updateInfo.core_data.deleted && this.updateInfo.core_data.deleted === this.form.deleted) {
            params['deleted'] = this.form.deleted
            params['deleted_at'] = this.updateInfo.core_data.deleted_at
          }
          dota_talent_add(params).then(req => {
            this.$message({
              type: 'success',
              message: '修改成功！'
            })
            if (this.$route.query.upId) {
              this.$router.push('/gamecenter/update/updateinfo/list')
            } else {
              this.$router.push('/gamecenter/dataManage/dota2/talent/talent_list')
            }
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    },
    getInfo() {
      const params = {}
      params['metadata-type'] = 'dota2_talent'
      params['id'] = this.$route.query.id
      dota_get_info(params).then(req => {
        this.slug_stutas = 1
        var obj1 = req.data
        this.form = Object.assign(this.form, obj1)
        if (req.data.data_config.config) {
          this.data_config = req.data.data_config
        }
        this.form.slug = this.$yangJian.slug_rule(req.data.slug)
        this.form.deleted = this.$yangJian.tmp_toString(req.data.deleted)
      })
    }
  }
}
</script>

<style scoped>

</style>
