<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>新建英雄天赋</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form ref="form" :rules="rules" :model="form" label-width="130px">
        <!--        <el-row type="flex" class="row-bg">-->
        <!--          <el-col :span="8" :offset="0">-->
        <!--            <el-form-item label="所属英雄" prop="hero_id">-->
        <!--              <el-select v-model="form.hero_id" placeholder="请选择" style="width: 100%">-->
        <!--                <el-option-->
        <!--                  v-for="(item,index) in hero_list"-->
        <!--                  :key="index"-->
        <!--                  :label="item.title +' · '+item.name+' ('+item.title_cn+' · '+item.name_cn+')'"-->
        <!--                  :value="item.id"-->
        <!--                />-->
        <!--              </el-select>-->
        <!--            </el-form-item>-->
        <!--          </el-col>-->
        <!--        </el-row>-->
        <!--        <el-row type="flex" class="row-bg">-->
        <!--          <el-col :span="8" :offset="0">-->
        <!--            <el-form-item label="等级" prop="level">-->
        <!--              <el-input v-model="form.level" />-->
        <!--            </el-form-item>-->
        <!--          </el-col>-->
        <!--          <el-col :span="8" :offset="0">-->
        <!--            <el-form-item label="左侧右侧" prop="left_right">-->
        <!--              <el-select v-model="form.left_right" placeholder="请选择" style="width: 100%">-->
        <!--                <el-option label="左侧" value="1" />-->
        <!--                <el-option label="右侧" value="2" />-->
        <!--              </el-select>-->
        <!--            </el-form-item>-->
        <!--          </el-col>-->
        <!--        </el-row>-->
        <el-row>
          <el-col :span="8">
            <el-form-item label="官方ID:">
              <el-input v-model="form.external_id" style="width: 100%" />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="官方名称:" prop="external_name">
              <el-input v-model="form.external_name" style="width: 100%" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="16" :offset="0">
            <el-form-item label="天赋（英文）" prop="talent">
              <el-input v-model="form.talent" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="16" :offset="0">
            <el-form-item label="天赋（中文）">
              <el-input v-model="form.talent_cn" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8" :offset="0">
            <el-form-item label="Slug" prop="slug">
              <el-input v-model="form.slug" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <div style="padding-top: 45px;text-align: center">
            <el-button type="primary" @click="onSubmit('form')">确认创建</el-button>
          </div>
        </el-row>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { dota_talent_add, dotagetHeroList } from '@/api/metadata'
export default {
  name: 'TalentAdd',
  data() {
    return {
      hero_list: [],
      form: {
        external_name: '',
        external_id: '',
        talent: '',
        talent_cn: '',
        slug: ''
      },
      rules: {
        external_name: [
          { required: true, message: '请输入官方名称', trigger: 'change' }
        ],
        // level: [
        //   { required: true, message: '请输入等级', trigger: 'change' }
        // ],
        // left_right: [
        //   { required: true, message: '请选择', trigger: 'change' }
        // ],
        talent: [
          { required: true, message: '请输入', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    'form.external_name': {
      handler: function() {
        this.form.slug = this.$yangJian.slug_rule(this.form.external_name)
      }
    }
  },
  mounted() {
    this.heroInfo()
  },
  methods: {
    heroInfo() {
      const params = {}
      dotagetHeroList(params).then(req => {
        this.hero_list = req.data
      })
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          params['external_name'] = this.form.external_name
          params['external_id'] = this.form.external_id
          params['talent'] = this.form.talent
          params['talent_cn'] = this.form.talent_cn
          params['slug'] = this.form.slug
          dota_talent_add(params).then(req => {
            this.$message({
              type: 'success',
              message: '添加成功！'
            })
            this.$router.push('/gamecenter/dataManage/dota2/talent/talent_list')
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
