<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>编辑</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-tabs type="border-card">
        <el-tab-pane label="核心内容">
          <el-form ref="form" :model="form" label-width="120px">
            <el-row type="flex" class="row-bg">
              <el-col :span="6" ::offset="1">
                <el-form-item label="数据源">
                  <el-input v-model="form.name" :disabled="true" />
                </el-form-item>
              </el-col>
              <el-col :span="6" ::offset="1">
                <el-form-item label="更新方式">
                  <el-input v-model="form.name" :disabled="true" />
                </el-form-item>
              </el-col>
              <el-col :span="6" ::offset="1">
                <el-form-item>
                  <el-button type="primary" @click="dialogVisible = true">转移战斗记录</el-button>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="6" ::offset="1">
                <el-form-item label="战队名称">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
              <el-col :span="6" ::offset="1">
                <el-form-item label="游戏项目">
                  <el-input v-model="form.name" :disabled="true" />
                </el-form-item>
              </el-col>
              <el-col :span="6" ::offset="1">
                <el-form-item label="战队所属地">
                  <el-select v-model="form.region" placeholder="请选择游戏项目">
                    <el-option label="区域一" value="shanghai" />
                    <el-option label="区域二" value="beijing" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="6" ::offset="1">
                <el-form-item label="全称">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
              <el-col :span="6" ::offset="1">
                <el-form-item label="简称">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
              <el-col :span="6" ::offset="1">
                <el-form-item label="别名">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
            </el-row>

            <el-row type="flex" class="row-bg">
              <el-col :span="6" ::offset="1">
                <el-form-item label="LOGO">
                  <el-upload
                    class="upload-demo"
                    action="https://jsonplaceholder.typicode.com/posts/"
                    multiple
                  >
                    <el-button size="small" type="primary">选择图片</el-button>
                  </el-upload>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="6" ::offset="1">
                <el-image
                  style="width: 200px; height: 100px; padding-left: 100px"
                  :src="url"
                />
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" style="padding-top: 20px">
              <el-col :span="6" ::offset="1">
                <el-form-item label="飞鲸 ID">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
              <el-col :span="6" ::offset="1">
                <el-form-item label="HLTV ID">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
              <el-col :span="6" ::offset="1">
                <el-form-item label="Esoport007 ID">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <el-col :span="6" style="padding-top: 50px">
                <el-form-item>
                  <el-button type="primary" @click="onSubmit">确认修改</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="基础内容">
          <el-form ref="form" :model="form" label-width="100px">
            <el-row type="flex" class="row-bg">
              <el-col :span="6" :offset="1">
                <el-form-item label="数据源">
                  <el-input v-model="form.name" :disabled="true" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="1">
                <el-form-item label="更新方式">
                  <el-input v-model="form.name" :disabled="true" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="6" :offset="1">
                <el-form-item label="所属俱乐部">
                  <el-select v-model="form.region" placeholder="请选择游戏项目">
                    <el-option label="区域一" value="shanghai" />
                    <el-option label="区域二" value="beijing" />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="1">
                <el-form-item label="Steam ID">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="1">
                <el-form-item label="所属赛区">
                  <el-select v-model="form.region" placeholder="请选择赛区">
                    <el-option label="区域一" value="shanghai" />
                    <el-option label="区域二" value="beijing" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="6" :offset="1">
                <el-form-item label="世界排名">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="1">
                <el-form-item label="世界前30周数">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="1">
                <el-form-item label="获得奖金">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="6" :offset="1">
                <el-form-item label="平均年龄">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="1">
                <el-form-item label="历史选手">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="6" :offset="1">
                <el-form-item label="战队创建日期">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="1">
                <el-form-item label="战队解散日期">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="1">
                <el-form-item label="简介（英文）">
                  <el-input
                    v-model="textarea"
                    type="textarea"
                    :rows="4"
                  />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="3">
                <el-form-item label="简介（中文）">
                  <el-input
                    v-model="textarea"
                    type="textarea"
                    :rows="4"
                  />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <el-col :span="6" style="padding-top: 45px">
                <el-form-item>
                  <el-button type="primary" @click="onSubmit">确认修改</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="战队选手">
          <el-form ref="form" :model="form" label-width="100px">
            <el-row type="flex" class="row-bg">
              <el-col :span="6" :offset="4">
                <el-form-item label="数据源">
                  <el-input v-model="form.name" :disabled="true" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="1">
                <el-form-item label="更新方式">
                  <el-input v-model="form.name" :disabled="true" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <el-col :span="14" :offset="2">
                <el-transfer
                  v-model="value"
                  filterable
                  :filter-method="filterMethod"
                  :titles="['当前项目选手列表', '本战队选手列表']"
                  filter-placeholder="请输入城市拼音"
                  :data="data"
                />
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <el-col :span="6" style="padding-top: 20px">
                <el-form ref="form" :model="form" label-width="100px">
                  <el-form-item>
                    <el-button type="primary" @click="onSubmit">确认修改</el-button>
                  </el-form-item>
                </el-form>
              </el-col>
            </el-row>
          </el-form>
        </el-tab-pane>
      </el-tabs>
      <el-dialog
        title="转移战斗"
        :visible.sync="dialogVisible"
        width="60%"
        :before-close="handleClose"
      >
        <div>
          <el-table
            ref="multipleTable"
            :data="tableData"
            tooltip-effect="dark"
            style="width: 100%"
            @selection-change="handleSelectionChange"
          >
            <el-table-column
              type="selection"
              width="80"
            />
            <el-table-column
              label="队伍1"
              width="120"
            >
              <template slot-scope="scope">{{ scope.row.date }}</template>
            </el-table-column>
            <el-table-column
              prop="name"
              label="队伍2"
              width="120"
            />
            <el-table-column
              prop="address"
              label="赛事"
              show-overflow-tooltip
            />
            <el-table-column
              prop="address"
              label="比分"
              width="80"
            />
          </el-table>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-form ref="form" :model="form" label-width="100px">
            <el-row>
              <el-col :span="8">
                <el-form-item label="战队ID">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
              <el-col :span="13">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
              </el-col>
            </el-row>
          </el-form>
        </span>
      </el-dialog>
    </el-card>
  </div>
</template>
<script>
export default {
  name: 'Incfo',
  data() {
    const generateData = _ => {
      const data = []
      const cities = ['上海', '北京', '广州', '深圳', '南京', '西安', '成都']
      const pinyin = ['shanghai', 'beijing', 'guangzhou', 'shenzhen', 'nanjing', 'xian', 'chengdu']
      cities.forEach((city, index) => {
        data.push({
          label: city,
          key: index,
          pinyin: pinyin[index]
        })
      })
      return data
    }
    return {
      tableData: [{
        date: '2016',
        name: '王小虎',
        address: '1518 '
      }, {
        date: '2016',
        name: '王小虎',
        address: '弄'
      }, {
        date: '2016',
        name: '王小虎',
        address: '弄'
      }, {
        date: '2016',
        name: '王小虎',
        address: '弄'
      }],
      multipleSelection: [],
      dialogVisible: false,
      url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
      textarea: '',
      form: {
        name: '飞鲸'
      },
      data: generateData(),
      value: [],
      filterMethod(query, item) {
        return item.pinyin.indexOf(query) > -1
      }
    }
  },
  methods: {
    handleClose(done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done()
        })
        .catch(_ => {})
    },
    onSubmit() {
      console.log('submit!')
    },
    toggleSelection(rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange(val) {
      this.multipleSelection = val
    }
  }
}
</script>

<style scoped>

</style>
