<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>数据更新</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="req" :inline="true" label-width="100px" size="mini">
        <el-row>
          <el-col :span="6">
            <el-form-item label="游戏项目:">
              <el-select v-model="req.game_id" placeholder="请选择" style="width:220px">
                <el-option
                  v-for="(item,index) in allgame"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="处理状态:">
              <el-select v-model="req.status" placeholder="请选择" style="width:220px">
                <el-option label="全部" value="0" />
                <el-option label="待更新" value="1" />
                <!--                <el-option label="处理中" value="2" />-->
                <el-option label="已更新" value="3" />
                <el-option label="不更新" value="4" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="类别:">
              <el-select v-model="req.resource_type" placeholder="请选择" style="width:220px">
                <el-option label="全部" value="0" />
                <el-option label="战队" value="team" />
                <el-option label="选手" value="player" />
                <el-option label="赛事" value="tournament" />
                <el-option label="比赛" value="match" />
                <el-option label="元数据" value="metadata" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="发生时间:">
              <el-date-picker
                v-model="req.timeArea"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="名称:">
              <el-input v-model="req.resource_name" style="width:220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="消息ID:">
              <el-input v-model="req.id" style="width:220px" />
            </el-form-item>
          </el-col>
          <el-col :span="2" :offset="4">
            <el-form-item>
              <el-button type="primary" @click="findInfo">搜 索</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-table
        :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'8px',height:'40px',textAlign:'center'}"
        :cell-style="{textAlign:'center',padding:'3px'}"
        :data="tableData"
        :style="{'width':'100%'}"
      >
        <el-table-column prop="resource_id" label="消息ID" />
        <el-table-column prop="status" label="处理状态">
          <template slot-scope="scope">
            <p v-if="scope.row.status == 1" style="color: red">待更新</p>
            <!--            <p v-if="scope.row.status == 2">处理中</p>-->
            <p v-if="scope.row.status == 3">已更新</p>
            <p v-if="scope.row.status == 4" style="color: coral">不更新</p>
          </template>
        </el-table-column>
        <el-table-column prop="game_id" label="游戏项目">
          <template slot-scope="scope">
            <p>{{ scope.row.game_id?allgame[scope.row.game_id].name : '' }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="resource_type" label="类别">
          <template slot-scope="scope">
            <p v-if="scope.row.resource_type == 'team'">战队</p>
            <p v-if="scope.row.resource_type == 'player'">选手</p>
            <p v-if="scope.row.resource_type == 'tournament'">赛事</p>
            <div v-if="scope.row.tag_type !== 'real_time'">
              <p v-if="scope.row.resource_type == 'match'">比赛</p>
            </div>
            <p v-if="scope.row.tag_type == 'real_time'">比赛录入</p>
            <p v-if="scope.row.resource_type == 'lol_ability'">技能</p>
            <p v-if="scope.row.resource_type == 'lol_champion'">英雄</p>
            <p v-if="scope.row.resource_type == 'lol_item'">道具</p>
            <p v-if="scope.row.resource_type == 'lol_rune'">符文</p>
            <p v-if="scope.row.resource_type == 'lol_summoner_spell'">召唤师技能</p>
            <p v-if="scope.row.resource_type == 'dota2_hero'">英雄</p>
            <p v-if="scope.row.resource_type == 'dota2_item'">道具</p>
            <p v-if="scope.row.resource_type == 'dota2_ability'">技能</p>
            <p v-if="scope.row.resource_type == 'dota2_talent'">天赋</p>
            <p v-if="scope.row.resource_type == 'csgo_map'">地图</p>
            <p v-if="scope.row.resource_type == 'csgo_weapon'">武器</p>

          </template>
        </el-table-column>
        <el-table-column prop="resource_name" label="名称" />
        <el-table-column prop="resource_logo" label="ICON">
          <template slot-scope="scope">
            <img v-if="scope.row.resource_logo" :src="scope.row.resource_logo" style="width: 66px; height: 66px">
          </template>
        </el-table-column>
        <el-table-column prop="created_time" label="发生时间" width="100px" />
        <el-table-column prop="modify_at" label="处理时间" width="100px" />
        <el-table-column fixed="right" label="操作">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="getInfoJob(scope.row)">查看更新</el-button>
            <el-button v-if="scope.row.status == 1" type="text" size="small" @click="operateJob(scope.row.id, '1')">标为已处理</el-button>
            <el-button v-if="scope.row.status == 3" type="text" size="small" @click="operateJob(scope.row.id, '2')">标为未处理</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="job_status_name" label="操作记录" />
      </el-table>

      <div class="over">
        <el-pagination
          class="pager"
          background
          layout="prev, pager, next, jumper"
          :total="total"
          :current-page="req.page"
          :page-size="req.per_page"
          @current-change="changePager"
        />
      </div>
    </el-card>
  </div>
</template>
<script>
import { data_change_list, to_do_detail } from '@/api/data'
import { get_games } from '@/api/common'
export default {
  name: 'List',
  data() {
    return {
      allgame: [{ 'id': '0', 'name': '全部', 'e_name': 'all' }],
      games: [],
      total: 20,
      tableData: [],
      req: {
        id: '',
        game_id: '0',
        status: '0',
        resource_type: '0',
        resource_name: '',
        timeArea: [],
        page: 1,
        per_page: 10
      },
      options: [],
      value: ''
    }
  },
  mounted() {
    this.finddata()
    this.infoGames()
  },
  methods: {
    operateJob(id, type) {
      const params = {}
      params['sign'] = type
      params['id'] = id
      to_do_detail(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
        this.finddata()
      })
    },
    getInfoJob(data) {
      if (data.resource_type === 'player') {
        // this.$router.push({ path: '/gamecenter/player/playerinfo/edit', query: { id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
        var routeData1 = this.$router.resolve({ path: '/gamecenter/player/playerinfo/edit', query: { id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
        window.open(routeData1.href, '_blank')
      }
      if (data.resource_type === 'team') {
        // this.$router.push({ path: '/gamecenter/team/teaminfo/edit', query: { id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
        var routeData2 = this.$router.resolve({ path: '/gamecenter/team/teaminfo/edit', query: { id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
        window.open(routeData2.href, '_blank')
      }
      if (data.resource_type === 'tournament') {
        // this.$router.push({ path: '/gamecenter/tournament/tournamentInfo/edit', query: { id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
        var routeData3 = this.$router.resolve({ path: '/gamecenter/tournament/tournamentInfo/edit', query: { id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
        window.open(routeData3.href, '_blank')
      }
      if (data.resource_type === 'match' && data.tag_type !== 'real_time') {
        // this.$router.push({ path: '/gamecenter/match/matchInfo/edit', query: { id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
        var routeData4 = this.$router.resolve({ path: '/gamecenter/match/matchInfo/edit', query: { id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
        window.open(routeData4.href, '_blank')
      }
      if (data.tag_type === 'real_time') {
        if (data.game_id === '1') {
          // this.$router.push({ path: '/gamecenter/match/matchinfo/write/fkinfo', query: { id: data.resource_id, match_id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
          var routeData5 = this.$router.resolve({ path: '/gamecenter/match/matchinfo/write/fkinfo', query: { id: data.resource_id, match_id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
          window.open(routeData5.href, '_blank')
        }
        if (data.game_id === '2') {
          // this.$router.push({ path: '/gamecenter/match/matchinfo/write/yxinfo', query: { id: data.resource_id, match_id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
          var routeData6 = this.$router.resolve({ path: '/gamecenter/match/matchinfo/write/yxinfo', query: { id: data.resource_id, match_id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
          window.open(routeData6.href, '_blank')
        }
      }
      if (data.resource_type === 'lol_item') {
        var routeData20 = this.$router.resolve({ path: '/gamecenter/dataManage/heroLeague/prop/edit', query: { id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
        window.open(routeData20.href, '_blank')
      }
      if (data.resource_type === 'lol_ability') {
        var routeData21 = this.$router.resolve({ path: '/gamecenter/dataManage/heroLeague/ability/ability_edit', query: { id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
        window.open(routeData21.href, '_blank')
      }
      if (data.resource_type === 'lol_champion') {
        var routeData22 = this.$router.resolve({ path: '/gamecenter/dataManage/heroLeague/herolmanage/edit', query: { id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
        window.open(routeData22.href, '_blank')
      }
      if (data.resource_type === 'lol_summoner_spell') {
        var routeData23 = this.$router.resolve({ path: '/gamecenter/dataManage/heroLeague/summoner/edit', query: { id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
        window.open(routeData23.href, '_blank')
      }
      if (data.resource_type === 'lol_rune') {
        var routeData24 = this.$router.resolve({ path: '/gamecenter/dataManage/heroLeague/symbol/edit', query: { id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
        window.open(routeData24.href, '_blank')
      }

      if (data.resource_type === 'dota2_hero') {
        var routeData25 = this.$router.resolve({ path: '/gamecenter/dataManage/dota2/herolmanage/edit', query: { id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
        window.open(routeData25.href, '_blank')
      }
      if (data.resource_type === 'dota2_item') {
        var routeData26 = this.$router.resolve({ path: '/gamecenter/dataManage/dota2/prop/edit', query: { id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
        window.open(routeData26.href, '_blank')
      }
      if (data.resource_type === 'dota2_ability') {
        var routeData27 = this.$router.resolve({ path: '/gamecenter/dataManage/dota2/ability/ability_edit', query: { id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
        window.open(routeData27.href, '_blank')
      }
      if (data.resource_type === 'dota2_talent') {
        var routeData28 = this.$router.resolve({ path: '/gamecenter/dataManage/dota2/talent/talent_edit', query: { id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
        window.open(routeData28.href, '_blank')
      }
      if (data.resource_type === 'csgo_map') {
        var routeData29 = this.$router.resolve({ path: '/gamecenter/dataManage/csgo/map/edit', query: { id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
        window.open(routeData29.href, '_blank')
      }
      if (data.resource_type === 'csgo_weapon') {
        var routeData30 = this.$router.resolve({ path: '/gamecenter/dataManage/csgo/weapon/edit', query: { id: data.resource_id, tag_type: data.tag_type, upId: data.id }})
        window.open(routeData30.href, '_blank')
      }
    },
    infoGames() {
      const params = {}
      get_games(params).then(req => {
        this.games = req.data
        this.allgame.push.apply(this.allgame, this.games)
      })
    },
    changePager(pageId) {
      this.req.page = pageId
      this.finddata()
    },
    findInfo() {
      this.req.page = 1
      this.finddata()
    },
    finddata() {
      const params = {}
      params['resource_name'] = this.req.resource_name
      params['resource_type'] = this.req.resource_type
      params['status'] = this.req.status
      params['game_id'] = this.req.game_id
      params['id'] = this.req.id
      if (this.req.timeArea) {
        params['date_begin'] = this.req.timeArea[0]
        params['date_end'] = this.req.timeArea[1]
      }
      params['page'] = this.req.page
      params['per_page'] = this.req.per_page
      data_change_list(params).then(req => {
        this.tableData = req.data.list
        this.total = 1 * req.data.count
      })
    }
  }
}
</script>

<style scoped>
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
</style>
