<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>相似绑定</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="form" :inline="true" label-width="100px" size="mini">
        <el-row>
          <el-col :span="1">
            <el-image
              v-if="form.base.game_id"
              style="width: 50px; height: 50px"
              :src="allgames[form.base.game_id].logo"
            />
          </el-col>
          <el-col :span="5">
            <el-form-item label="数据源">
              <el-input v-if="form.base.origin_id" v-model="enum_origin_list[form.base.origin_id].desc" :disabled="true" />
            </el-form-item>
          </el-col>
          <el-col :span="14">
            <el-card>
              <el-row>
                <p>所属赛事: {{ form.base.tournament_info.name }}</p>
              </el-row>
              <el-row>
                <el-col :span="12">
                  <el-card shadow="never">
                    <el-row>
                      <el-col>
                        <el-image
                          style="width: 100px; height: 100px;"
                          :src="form.base.team_1_info.logo"
                        />
                      </el-col>
                    </el-row>
                    <el-row>
                      <el-col>
                        <el-col>
                          <p>数据源 ID: {{ form.base.team_1_info.rel_identity_id }}</p>
                          <p>主队名称: {{ form.base.team_1_info.name }}</p>
                          <p>比赛 ID: {{ form.base.rel_identity_id }}</p>
                          <p>比赛时间: {{ form.base.scheduled_begin_at }}</p>
                        </el-col>
                      </el-col>
                    </el-row>
                  </el-card>
                </el-col>
                <el-col :span="12">
                  <el-card shadow="never">
                    <el-row>
                      <el-col>
                        <el-image
                          style="width: 100px; height: 100px;"
                          :src="form.base.team_2_info.logo"
                        />
                      </el-col>
                    </el-row>
                    <el-row>
                      <el-col>
                        <el-col>
                          <p>数据源 ID: {{ form.base.team_2_info.rel_identity_id }}</p>
                          <p>客队名称: {{ form.base.team_2_info.name }}</p>
                          <p>比赛 ID: {{ form.base.rel_identity_id }}</p>
                          <p>比赛时间: {{ form.base.scheduled_begin_at }}</p>
                        </el-col>
                      </el-col>
                    </el-row>
                  </el-card>
                </el-col>
              </el-row>
            </el-card>
          </el-col>
          <el-col :span="2" align="center">
            <el-form-item>
              <el-button type="primary" size="mini" @click="getAdd()">新增</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-divider />
        <el-row>
          <el-col v-for="(item,index) in form.binding_expect_info" :key="index" :span="12">
            <el-card>
              <el-row>
                <p>所属赛事: {{ item.tournament_info.name }}</p>
              </el-row>
              <el-row>
                <el-col :span="12">
                  <el-card shadow="never">
                    <el-row>
                      <el-col>
                        <el-image
                          style="width: 100px; height: 100px;"
                          :src="item.team_1_info_els.image"
                        />
                      </el-col>
                    </el-row>
                    <el-row>
                      <el-col>
                        <el-col>
                          <p>ELS ID: {{ item.team_1_id }}</p>
                          <p>主队名称: {{ item.team_1_info_els.name }}</p>
                          <p>比赛 ID: {{ item.id }}</p>
                          <p>比赛时间: {{ item.scheduled_begin_at }}</p>
                        </el-col>
                      </el-col>
                    </el-row>
                  </el-card>
                </el-col>
                <el-col :span="12">
                  <el-card shadow="never">
                    <el-row>
                      <el-col>
                        <el-image
                          style="width: 100px; height: 100px;"
                          :src="item.team_2_info_els.image"
                        />
                      </el-col>
                    </el-row>
                    <el-row>
                      <el-col>
                        <el-col>
                          <p>ELS ID: {{ item.team_2_id }}</p>
                          <p>客队名称: {{ item.team_2_info_els.name }}</p>
                          <p>比赛 ID: {{ item.id }}</p>
                          <p>比赛时间: {{ item.scheduled_begin_at }}</p>
                        </el-col>
                      </el-col>
                    </el-row>
                  </el-card>
                </el-col>
              </el-row>
              <el-row style="text-align: center;margin-top: 20px">
                <el-form-item>
                  <el-button type="primary" @click="getBind(item.id)">绑定</el-button>
                </el-form-item>
              </el-row>
            </el-card>
          </el-col>
        </el-row>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { binding_match_detail, binding_match_binding, binding_match_add } from '@/api/binding'
import { mapGetters } from 'vuex'
export default {
  name: 'Batchadd',
  data() {
    return {
      name: '',
      playerInfo: [],
      url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
      form: {
        base: {
          logo: '',
          name: ''
        }
      },
      tupian: [
        { url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg', name: 'wang' },
        { url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg', name: 'wang1' },
        { url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg', name: 'wang2' },
        { url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg', name: 'wang3' },
        { url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg', name: 'wang4' },
        { url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg', name: 'wang5' }
      ],
      teamsame: [
        { id: '123', name: 'keyd1', state: '中国1', names: 'name1' },
        { id: '1234', name: 'keyd2', state: '中国2', names: 'name2' },
        { id: '1235', name: 'keyd3', state: '中国3', names: 'name3' }
      ]
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  mounted() {
    this.getInfo()
  },
  methods: {
    getAdd() {
      const params = {}
      params['standard_id'] = this.$route.query.id
      binding_match_add(params).then(req => {
        this.$message({
          type: 'success',
          message: '添加成功！'
        })
        this.$router.push('/gamecenter/match/matchinfo/binding/list')
      })
    },
    getInfo() {
      const params = {}
      params['id'] = this.$route.query.id
      binding_match_detail(params).then(req => {
        this.form = req.data
      })
    },
    getBind(id) {
      const params = {}
      params['standard_id'] = this.$route.query.id
      params['master_id'] = id
      binding_match_binding(params).then(req => {
        // this.playerInfo = req.data
        this.$message({
          type: 'success',
          message: '绑定成功！'
        })
        this.$router.push('/gamecenter/match/matchinfo/binding/list')
      })
    }
  }
}
</script>

<style scoped>

</style>
