<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>比赛绑定</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="req" :inline="true" label-width="130px" size="mini">
        <el-row>
          <el-col :span="6">
            <el-form-item label="数据源:">
              <el-select v-model="req.origin_id" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="游戏项目:">
              <el-select v-model="req.game_id" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in allgame"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="处理状态:">
              <el-select v-model="req.deal_status" placeholder="请选择" style="width: 220px">
                <el-option label="全部" value="" />
                <el-option label="待添加" value="1" />
                <el-option label="待绑定" value="2" />
                <el-option label="待绑定（多个）" value="3" />
                <el-option label="已绑定" value="4" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="比赛状态:">
              <el-select v-model="req.status" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in match_state_list"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="计划开始时间:">
              <el-date-picker
                v-model="req.scheduled_timeArea"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>

          <el-col :span="6">
            <el-form-item label="ELS ID:">
              <el-input v-model="req.els_id" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="数据源ID:">
              <el-input v-model="req.rel_identity_id" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="创建方式:">
              <el-select v-model="req.change_type" clearable placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in change_type_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.desc"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="变更时间:">
              <el-date-picker
                v-model="req.timeArea"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="赛事名称:">
              <el-input v-model="req.tournament_name" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="参赛战队:">
              <el-input v-model="req.team_name" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="2" :offset="4">
            <el-form-item>
              <!--              <el-button type="primary" style="margin-right: 50px" @click="getupdate"> 整体更新设置 </el-button>-->
              <el-button type="primary" style="margin-left: 20px" @click="findInfo">搜 索</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div>
        <el-table
          :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'14px',height:'40px',textAlign:'center'}"
          :cell-style="{textAlign:'center',padding:'3px'}"
          :data="tableData"
          :cell-class-name="delLine"
          :row-class-name="tableRowClassName"
          :style="{'width':'100%'}"
        >
          <el-table-column prop="id" :label="'处理\n状态'">
            <template slot-scope="scope">
              <p v-if="scope.row.deal_status == 1" style="color: green">待添加</p>
              <p v-if="scope.row.deal_status == 3" style="color: red">待绑定(多个)</p>
              <p v-if="scope.row.deal_status == 4">已绑定</p>
              <el-popover
                v-if="scope.row.deal_status == 2"
                placement="top-start"
                title="绑定信息"
                width="400"
                trigger="hover"
              >
                <el-button v-if="scope.row.deal_status == 2" slot="reference" type="text" style="color: red">待绑定</el-button>
                <div>
                  <el-row>
                    <el-col :span="12">
                      <p>数据源名称</p>
                      <p>赛事名称：{{ scope.row.standard_tournament_name?scope.row.standard_tournament_name:'' }}</p>
                      <p>主队：{{ scope.row.team_1_name }}</p>
                      <p>客队：{{ scope.row.team_2_name }}</p>
                      <p>计划开始时间：{{ scope.row.scheduled_begin_at }}</p>
                    </el-col>
                    <el-col :span="12">
                      <p>相关匹配名称</p>
                      <div v-if="scope.row.binding_expect_info[0]">
                        <p>赛事名称：{{ scope.row.binding_expect_info.length>0?scope.row.binding_expect_info[0].tournament_name:'' }}</p>
                        <p>主队：{{ scope.row.binding_expect_info.length>0?scope.row.binding_expect_info[0].team_1_name:'' }}</p>
                        <p>客队：{{ scope.row.binding_expect_info.length>0?scope.row.binding_expect_info[0].team_2_name:'' }}</p>
                        <p>计划开始时间：{{ scope.row.binding_expect_info.length?scope.row.binding_expect_info[0].scheduled_begin_at: '' }}</p>
                      </div>
                    </el-col>
                  </el-row>
                </div>
              </el-popover>
            </template>
          </el-table-column>
          <el-table-column prop="nickname" :label="'游戏\n项目'">
            <template slot-scope="scope">
              <img v-if="scope.row.game_id" :src="allgame[scope.row.game_id].logo" style="width: 20px;height: 20px">
            </template>
          </el-table-column>
          <el-table-column prop="rel_identity_id" :label="'数据源\n比赛ID'" />
          <el-table-column prop="binding_info.id" :label="'ELS\n比赛ID'">
            <template slot-scope="scope">
              <p v-if="scope.row.deal_status == 2">{{ scope.row.binding_expect_info.length?scope.row.binding_expect_info[0].id: '' }}</p>
              <p v-if="scope.row.deal_status !== 2">{{ scope.row.binding_info.id?scope.row.binding_info.id: '' }}</p>
            </template>
          </el-table-column>
          <el-table-column prop="standard_tournament_name" :label="'数据源\n赛事名称'">
            <template slot-scope="scope">
              <p style="white-space: pre-wrap;" :style="{'color':reds(scope.row)}">{{ scope.row.standard_tournament_name }}</p>
            </template>
          </el-table-column>
          <el-table-column prop="els_tournament_name" :label="'ELS\n赛事名称'">
            <template slot-scope="scope">
              <p style="white-space: pre-wrap;" v-if="scope.row.deal_status == 2">{{ scope.row.binding_expect_info.length>0?scope.row.binding_expect_info[0].tournament_name:'' }}</p>
              <p style="white-space: pre-wrap;" v-if="scope.row.tournament_name">{{ scope.row.tournament_name }}</p>
            </template>
          </el-table-column>
          <el-table-column prop="game_rules" :label="'数据源\n比赛规则'">
            <template slot-scope="scope">
              <p v-if="scope.row.game_rules">{{ game_rules_list[scope.row.game_rules]?game_rules_list[scope.row.game_rules].name:'' }}</p>
            </template>
          </el-table-column>
          <el-table-column prop="match_type" :label="'数据源\n比赛类型'">
            <template slot-scope="scope">
              <p v-if="scope.row.match_type">{{ enums_list[scope.row.match_type]?enums_list[scope.row.match_type].name:scope.row.match_type }}</p>
            </template>
          </el-table-column>
          <el-table-column prop="number_of_games" :label="'数据源\n赛制局数'" />
          <el-table-column prop="els_game_rules" :label="'ELS\n比赛规则'">
            <template slot-scope="scope">
              <p v-if="scope.row.deal_status == 2&&scope.row.binding_expect_info.length>0">{{ game_rules_list[scope.row.binding_expect_info[0].game_rules]?game_rules_list[scope.row.binding_expect_info[0].game_rules].name:'' }}</p>
              <p v-if="scope.row.els_game_rules">{{ game_rules_list[scope.row.els_game_rules]?game_rules_list[scope.row.els_game_rules].name:scope.row.els_game_rules }}</p>
            </template>
          </el-table-column>
          <el-table-column prop="els_match_type" :label="'ELS\n比赛类型'">
            <template slot-scope="scope">
              <p v-if="scope.row.deal_status == 2&&scope.row.binding_expect_info.length>0">{{ game_rules_list[scope.row.binding_expect_info[0].match_type]?game_rules_list[scope.row.binding_expect_info[0].match_type].name:'' }}</p>
              <p v-if="scope.row.binding_info.match_type">{{ enums_list[scope.row.binding_info.match_type]?enums_list[scope.row.binding_info.match_type].name:scope.row.binding_info.match_type }}</p>
            </template>
          </el-table-column>
          <el-table-column prop="els_number_of_games" :label="'ELS\n赛制局数'">
            <template slot-scope="scope">
              <p v-if="scope.row.deal_status == 2">{{ scope.row.binding_expect_info.length>0?scope.row.binding_expect_info[0].number_of_games:'' }}</p>
              <p v-if="scope.row.els_number_of_games">{{ scope.row.els_number_of_games }}</p>
            </template>
          </el-table-column>
          <el-table-column prop="team_1_name" :label="'数据源\n主队名称'">
            <template slot-scope="scope">
              <p style="white-space: pre-wrap;" :style="{'color':reds1(scope.row)}">{{ scope.row.team_1_name }}</p>
            </template>
          </el-table-column>
          <el-table-column prop="els_team_1_name" :label="'ELS\n主队名称'">
            <template slot-scope="scope">
              <p style="white-space: pre-wrap;" v-if="scope.row.deal_status == 2">{{ scope.row.binding_expect_info.length>0?scope.row.binding_expect_info[0].team_1_name:'' }}</p>
              <p style="white-space: pre-wrap;" v-if="scope.row.els_team_1_name">{{ scope.row.els_team_1_name }}</p>
            </template>
          </el-table-column>
          <el-table-column prop="team_2_name" :label="'数据源\n客队名称'">
            <template slot-scope="scope">
              <p style="white-space: pre-wrap;" :style="{'color':reds2(scope.row)}">{{ scope.row.team_2_name }}</p>
            </template>
          </el-table-column>
          <el-table-column prop="els_team_2_name" :label="'ELS\n客队名称'">
            <template slot-scope="scope">
              <p style="white-space: pre-wrap;" v-if="scope.row.deal_status == 2">{{ scope.row.binding_expect_info.length>0?scope.row.binding_expect_info[0].team_2_name:'' }}</p>
              <p style="white-space: pre-wrap;" v-if="scope.row.els_team_2_name">{{ scope.row.els_team_2_name }}</p>
            </template>
          </el-table-column>
          <el-table-column prop="scheduled_begin_at" :label="'数据源比赛\n计划开始时间'" width="100px" />
          <el-table-column prop="els_scheduled_begin_at" :label="'ESL比赛\n计划开始时间'" width="100px">
            <template slot-scope="scope">
              <p v-if="scope.row.deal_status == 2">{{ scope.row.binding_expect_info.length?scope.row.binding_expect_info[0].scheduled_begin_at: '' }}</p>
              <p v-if="scope.row.deal_status !== 2">{{ scope.row.binding_info.scheduled_begin_at?scope.row.binding_info.scheduled_begin_at: '' }}</p>
            </template>
          </el-table-column>
          <el-table-column prop="created_at" label="创建时间" width="100px" />
          <el-table-column prop="modified_at" label="变更时间" width="100px" />
          <el-table-column prop="change_type" label="创建方式" />
          <el-table-column fixed="right" label="操作">
            <template slot-scope="scope">
              <el-button v-if="scope.row.deal_status == 1" type="text" size="small" :loading="scope.row.fullscreenLoading" @click="getAdd(scope.row.id,scope.row)">新增</el-button>
              <el-button v-if="scope.row.deal_status == 2" type="text" size="small" :loading="scope.row.fullscreenLoading" @click="getAdd(scope.row.id,scope.row)">新增</el-button>
              <el-button v-if="scope.row.deal_status == 3" type="text" size="small" :loading="scope.row.fullscreenLoading" @click="getAdd(scope.row.id,scope.row)">新增</el-button>
              <el-button v-if="scope.row.deal_status == 2" type="text" size="small" @click="getBinding(scope.row.id, scope.row.binding_expect_info[0].id)">绑定</el-button>
              <el-button v-if="scope.row.deal_status == 3" type="text" size="small" @click="getBindingInfo(scope.row.id)">多个相似</el-button>
              <el-button type="text" size="small" @click="getManual(scope.row.id)">手动绑定</el-button>
              <el-button type="text" size="small" @click="getInfo(scope.row.rel_identity_id,scope.row.origin_id,scope.row.game_id)">查看详情</el-button>
            </template>
          </el-table-column>
          <el-table-column prop="job_status_name" label="操作记录">
            <template slot-scope="scope">
              <span v-if="scope.row.operation">({{ scope.row.operation.count }})</span>
              <span v-if="!scope.row.operation">(0)</span>
              <el-button v-if="scope.row.operation" type="text" size="small" @click="getHistory(scope.row.operation.resource_id,scope.row.operation.resource_type )">操作记录</el-button>
              <el-button v-if="!scope.row.operation" type="text" size="small">操作记录</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="over">
        <el-pagination
          class="pager"
          background
          layout="prev, pager, next, jumper"
          :total="total"
          :current-page="req.page"
          :page-size="req.per_page"
          @current-change="changePager"
        />
      </div>
    </el-card>
  </div>
</template>
<script>
// import { enum_origin } from '@/api/enum'
import { mapGetters } from 'vuex'
import { get_games, get_enums } from '@/api/common'
import { binding_match_list, binding_match_add, binding_match_binding } from '@/api/binding'
export default {
  name: 'List',
  data() {
    return {
      change_type_list: {},
      game_rules_list: [],
      all_rules_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      match_state_list: [],
      all_match_state_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      enums_list: {},
      allgame: [{ 'id': '', 'name': '全部', 'e_name': 'all' }],
      games: [],
      all_origin: [{ 'id': '', 'desc': '全部' }],
      total: 20,
      tableData: [],
      req: {
        origin_id: '3',
        deal_status: '',
        status: '',
        rel_identity_id: '',
        tournament_name: '',
        team_name: '',
        change_type: '全部',
        els_id: '',
        game_id: '',
        timeArea: [],
        scheduled_timeArea: [],
        page: 1,
        per_page: 10
      },
      options: [],
      value: ''
    }
  },
  computed: {
    ...mapGetters([
      'enum_origin_list'
    ])
  },
  mounted() {
    this.get_game_rules()
    this.get_match_state()
    this.get_enums_list()
    this.infoGames()
    this.finddata()
    this.get_change_type()
  },
  methods: {
    tableRowClassName({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'success-row'
      }
    },
    delLine({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'del_line'
      }
    },
    get_change_type() {
      var tmp = { ...this.enum_origin_list }
      var tmp1 = { desc: '人工' }
      var tmp2 = { desc: '全部' }
      tmp['0'] = tmp2
      tmp['-1'] = tmp1
      this.change_type_list = tmp
    },
    getBindingInfo(id) {
      this.$router.push({ path: '/gamecenter/match/matchinfo/binding/batchadd', query: { id: id }})
    },
    reds(info) {
      if (info.deal_status != 4) {
        if (info.missing_field_for_binding) {
          var info1 = eval(info.missing_field_for_binding)
          let color = ''
          info1.forEach(item => {
            if (item === 'trmt_master_id') {
              color = '#FF1D13'
            }
          })
          return color
        }
      }
    },
    reds1(info) {
      if (info.deal_status != 4) {
        if (info.missing_field_for_binding) {
          var info1 = eval(info.missing_field_for_binding)
          let color = ''
          info1.forEach(item => {
            if (item === 'tm1_master_id') {
              color = '#FF1D13'
            }
          })
          return color
        }
      }
    },
    reds2(info) {
      if (info.deal_status != 4) {
        if (info.missing_field_for_binding) {
          var info1 = eval(info.missing_field_for_binding)
          let color = ''
          info1.forEach(item => {
            if (item === 'tm2_master_id') {
              color = '#FF1D13'
            }
          })
          return color
        }
      }
    },
    getInfo(rel_identity_id, origin_id, game_id) {
      this.$router.push({ path: '/gamecenter/update/bindingInfo', query: { rel_identity_id: rel_identity_id, origin_id: origin_id, game_id: game_id, resource_type: 'match' }})
    },
    get_game_rules() {
      const params = {}
      params['type'] = 'game_rules'
      get_enums(params).then(req => {
        this.game_rules_list = req.data
        this.game_rules_list['0'] = this.all_rules_list
      })
    },
    get_match_state() {
      const params = {}
      params['type'] = 'match_state'
      get_enums(params).then(req => {
        this.match_state_list = req.data
        this.match_state_list['0'] = this.all_match_state_list
      })
    },
    get_enums_list() {
      const params = {}
      params['type'] = 'game_match_type'
      get_enums(params).then(req => {
        this.enums_list = req.data
      })
    },
    getAdd(id, row) {
      row.fullscreenLoading = true
      const params = {}
      params['standard_id'] = id
      binding_match_add(params).then(req => {
        this.$message({
          type: 'success',
          message: '添加成功！'
        })
        // row.fullscreenLoading = false
        this.finddata()
      }).catch(() => {
        row.fullscreenLoading = false
      })
    },
    getBinding(id, master_id) {
      const params = {}
      params['standard_id'] = id
      params['master_id'] = master_id
      binding_match_binding(params).then(req => {
        this.$message({
          type: 'success',
          message: '绑定成功！'
        })
        this.finddata()
      })
    },
    getManual(id) {
      this.$prompt('请输入要绑定的ID:', '手动绑定', {
        confirmButtonText: '确认绑定',
        cancelButtonText: '取消',
        inputPattern: /\S/,
        inputErrorMessage: '请输入数字'
      }).then(({ value }) => {
        const params = {}
        params['standard_id'] = id
        params['master_id'] = value
        binding_match_binding(params).then(req => {
          this.$message({
            type: 'success',
            message: '绑定成功！'
          })
          this.finddata()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消绑定'
        })
      })
    },
    getHistory(id, type) {
      this.$router.push({ path: '/gamecenter/update/updateTemplate/operation', query: { id: id, type: type }})
    },
    infoGames() {
      const params = {}
      get_games(params).then(req => {
        this.games = req.data
        this.allgame.push.apply(this.allgame, this.games)
      })
    },
    // enum_origin_info() {
    //   const params = {}
    //   enum_origin(params).then(req => {
    //     this.enum_origin_list = req.data
    //     this.all_origin.push.apply(this.all_origin, this.enum_origin_list)
    //   })
    // },
    changePager(pageId) {
      this.req.page = pageId
      this.finddata()
    },
    findInfo() {
      this.req.page = 1
      this.finddata()
    },
    finddata() {
      const params = {}
      params['origin_id'] = this.req.origin_id
      params['deal_status'] = this.req.deal_status
      params['status'] = this.req.status
      params['rel_identity_id'] = this.req.rel_identity_id
      params['tournament_name'] = this.req.tournament_name
      params['team_name'] = this.req.team_name
      params['els_id'] = this.req.els_id
      params['game_id'] = this.req.game_id
      params['change_type'] = this.req.change_type
      if (this.req.timeArea) {
        params['date_begin'] = this.req.timeArea[0]
        params['date_end'] = this.req.timeArea[1]
      }
      if (this.req.scheduled_timeArea) {
        params['scheduled_begin_at'] = this.req.scheduled_timeArea[0]
        params['scheduled_end_at'] = this.req.scheduled_timeArea[1]
      }
      params['page'] = this.req.page
      params['per_page'] = this.req.per_page
      binding_match_list(params).then(req => {
        this.tableData = req.data.list
        if (this.tableData.length) {
          this.tableData.map(item => {
            this.$set(item, 'fullscreenLoading', false)
            return item
          })
        }
        this.total = 1 * req.data.total
      })
    },
    getupdate() {
      this.$router.push({ path: '/gamecenter/match/matchinfo/binding/update' })
    }
  }
}
</script>

<style scoped>
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
  .infos {
    color: red;
  }
</style>
