<template>
  <div id="matchEvents">
    <div class="bg-color-black">
      <div class="d-flex pt-2 pl-2">
        <span style="color:#5cd9e8">
          <!--          <icon name="chart-line" />-->
        </span>
        <div class="d-flex">
          <span class="fs-xl text mx-2">待处理绑定</span>
          <!--          <span style="color:#409DFD;font-weight: bold">{{to_do_list.count}}</span> 个-->
        </div>
      </div>
      <div v-if="to_do_list" class="d-flex jc-center body-box">
        <!--        <dv-scroll-board :config="config" style="height:2.28rem" />-->
        <dv-scroll-ranking-board :config="config" style="height:2.78rem" />
      </div>
    </div>

  </div>
</template>

<script>
import { toDoBinding } from '@/api/chart'
import { mapGetters } from 'vuex'
export default {
  components: {},
  data() {
    return {
      timer: '',
      to_do_list: '',
      config: {
        data: [],
        rowNum: 4, // 表格行数
        sort: false,
        unit: '条'
      }
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  mounted() {
    this.getInfo()
    this.timer = setInterval(this.get, 60000)
  },
  beforeDestroy() {
    clearInterval(this.timer)
  },
  methods: {
    get() {
      this.getInfo()
    },
    getInfo() {
      const params = {}
      params['status'] = '1'
      params['page'] = 1
      params['per_page'] = 40
      toDoBinding(params).then(res => {
        this.to_do_list = res.data
        var data = this.to_do_list.count
        var arr = []
        var origin_name = Object.keys(data)
        origin_name.forEach((item, key) => {
          var game_name = Object.keys(data[item])
          game_name.forEach(info => {
            var tmp = { name: '', value: '' }
            tmp.name = item + '-' + info
            tmp.value = data[item][info].not_relation
            if (tmp.value && tmp.value > 0) {
              arr.push(tmp)
            }
          })
        })
        this.config.data = arr
      })
    },
    getImage(info) {
      return (`<img src=${info} style="width: 20px; height: 20px">`)
    }
  }
}
</script>
<style scoped>
</style>

<style lang="scss" scoped>
  #matchEvents {
    padding: 0.2rem;
    /*height: 2.785rem;*/
    min-width: 3.75rem;
    border-radius: 0.0625rem;
    .bg-color-black {
      /*height: 4.8125rem;*/
      border-radius: 0.125rem;
    }
    .text {
      color: #c3cbde;
    }
    .body-box {
      border-radius: 0.125rem;
      overflow: hidden;
    }
  }
</style>
