<template>
  <div id="bottomLeft">
    <div class="bg-color-black">
      <div class="d-flex">
        <span style="color:#5cd9e8">
          <!--          <icon name="chart-bar" />-->
        </span>
        <div class="d-flex">
          <span class="fs-xl text mx-2">数据源绑定概况</span>
        </div>
      </div>
      <div>
        <BottomLeftChart />
      </div>
    </div>
  </div>
</template>

<script>
import BottomLeftChart from '@/views/comopnent/echart/bottom/bottomLeftChart'
export default {
  components: {
    BottomLeftChart
  },
  data() {
    return {}
  },
  mounted() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
  #bottomLeft {
    padding: 0.3rem 0.2rem;
    /*height: 6.0rem;*/
    min-width: 3.75rem;
    border-radius: 0.0625rem;
    .bg-color-black {
      height: 6.0625rem;
      border-radius: 0.125rem;
    }
    .text {
      color: #c3cbde;
    }
    .chart-box {
      /*margin-top: 0.2rem;*/
      width: 2.125rem;
      height: 2.125rem;
      .active-ring-name {
        /*padding-top: 0.125rem;*/
      }
    }
  }
</style>
