<template>
  <div id="center">
    <div class="up">
      <div v-for="item in dayList" :key="item.title" class="bg-color-black bg-color-black1 item">
        <div v-if="item.title != '进行中'">
          <p class=" colorBlue fw-b">{{ item.title }}</p>
          <div>
            <p class="bg-color-black1" style=";height:.525rem;font-size: 24px;color:#3EE7C9;">
              {{ item.number }}<span style="font-size: 18px">场</span>
            </p>
          </div>
        </div>
        <div v-else>
          <dv-border-box-8>
            <div>
              <p class=" colorBlue fw-b" style="margin-top: 0px;padding-top: 12px">{{ item.title }}</p>
              <div>
                <p class="bg-color-black1" style="height:.525rem;font-size: 24px;color:#3EE7C9;">
                  {{ item.number }}<span style="font-size: 18px">场</span>
                </p>
              </div>
            </div>
          </dv-border-box-8>
        </div>
      </div>
      <div class="bg-color-black bg-color-black1 week">
        <div class="bg-color-black bg-color-black1 week1">
          <div v-for="item in weekList" :key="item.title">
            <p class=" colorBlue fw-b">{{ item.title }}</p>
            <div>
              <p class="bg-color-black1" style="width:2.5rem;height:.525rem;font-size: 24px;color:#3EE7C9;">
                {{ item.number }}<span style="font-size: 18px">场</span>
              </p>
            </div>
          </div>
        </div>
        <div class="bg-color-black bg-color-black1 week1">
          <div v-for="item in monthList" :key="item.title">
            <p class=" colorBlue fw-b">{{ item.title }}</p>
            <div>
              <p class="bg-color-black1" style="width:2.5rem;height:.525rem;font-size: 24px;color:#3EE7C9;">
                {{ item.number }}<span style="font-size: 18px">场</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <errTeam/>
    </div>
  </div>
</template>

<script>
import { countData } from '@/api/chart'
import errTeam from "@/views/gamecenter/tableau/errTeam";
export default {
  components: {
    errTeam
  },
  data() {
    return {
      timer: '',
      dayList: [
        { title: '昨日', number: 120 },
        { title: '今日', number: 18 },
        { title: '明日', number: 2 },
        { title: '进行中', number: 14 }
      ],
      weekList: [
        { title: '上周', number: 120 },
        { title: '本周', number: 18 },
        { title: '下周', number: 2 }
      ],
      monthList: [
        { title: '上月', number: 120 },
        { title: '本月', number: 18 },
        { title: '下月', number: 2 }
      ]
    }
  },
  mounted() {
    this.getInfo()
    this.timer = setInterval(this.get, 60000)
  },
  beforeDestroy() {
    clearInterval(this.timer)
  },
  methods: {
    get() {
      this.getInfo()
    },
    getInfo() {
      const params = {}
      countData(params).then(res => {
        var data = res.data
        this.dayList[0].number = data.yesterday
        this.dayList[1].number = data.today
        this.dayList[2].number = data.tomorrow
        this.dayList[3].number = data.ongoing
        this.weekList[0].number = data.last_week
        this.weekList[1].number = data.this_week
        this.weekList[2].number = data.next_week
        this.monthList[0].number = data.last_month
        this.monthList[1].number = data.this_month
        this.monthList[2].number = data.next_month
      })
    }
  }
}
</script>

<style scoped>
  .bg-color-black {
    border-radius: 0.0625rem;
  }
  .colorBlue {
    color: #257dff !important;
  }
  .fw-b {
    font-weight: bold;
  }
  .bg-color-black1 {
    background-color: rgba(19, 25, 47, 0.6) !important;
  }
  .ml-3 {
    margin-left: 0.2rem;
  }
</style>
<style lang="scss" scoped>
  #center {
    display: flex;
    flex-direction: column;

    .up {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      text-align: center;
      .item {
        border-radius: 0.0625rem;
        /*padding-top: 0.2rem;*/
        margin-top: 0.1rem;
        width: 24%;
        height: 1.275rem;
      }
      .week {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /*border-radius: 0.0625rem;*/
        /*padding-top: 0.2rem;*/
        margin-top: 0.1rem;
        width: 98%;
        /*height: 1.275rem;*/
        .week1 {
          display: flex;
          justify-content: space-around;
          border-radius: 0.0625rem;
          /*padding-top: 0.2rem;*/
          /*margin-top: 0.1rem;*/
          /*width: 33%;*/
          height: 1.275rem;
        }
      }
    }

    .down {
      padding: 0.07rem 0.05rem;
      padding-bottom: 0;
      width: 100%;
      display: flex;
      height: 3.1875rem;
      justify-content: space-between;

      .bg-color-black {
        border-radius: 0.0625rem;
      }

      .ranking {
        padding: 0.125rem;
        width: 59%;
      }

      .percent {
        width: 40%;
        display: flex;
        flex-wrap: wrap;

        .item {
          width: 50%;
          height: 1.5rem;

          span {
            margin-top: 0.0875rem;
            display: flex;
            justify-content: center;
          }
        }

        .water {
          width: 100%;
        }
      }
    }
  }
</style>
