<template>
  <div id="bottomLeft">
    <div class="bg-color-black">
      <div class="d-flex">
        <span style="color:#5cd9e8">
          <!--          <icon name="chart-bar" />-->
        </span>
      </div>

      <div>
        <dataSize />
      </div>
    </div>
  </div>
</template>

<script>
  import dataSize from '@/views/comopnent/echart/bottom/centerChart'
  import {realTimeData} from "@/api/chart";
  export default {
    components: {
      dataSize
    },
    data() {
      return {
        data_list: '',
        sources: []
      }
    },
    mounted() {
      // this.getInfo()
      // this.timer = setInterval(this.get, 60000)
    },
    beforeDestroy() {
      clearInterval(this.timer)
    },
    methods: {
      get() {
        this.getInfo()
      },
      getInfo() {
        var data = [
          { name: 'abios', value: 20, itemStyle: { color: '#DA3227' }},
          { name: 'pandascore', value: 20, itemStyle: { color: '#B201DE' }},
          { name: 'orange', value: 20, itemStyle: { color: '#F8AD33' }},
          { name: 'five', value: 20, itemStyle: { color: '#5BB1F3' }},
          { name: 'riotgames', value: 20, itemStyle: { color: '#FFFFFF' }},
          { name: 'hltv', value: 20, itemStyle: { color: '#3E6EA0' }},
          { name: 'valve', value: 20, itemStyle: { color: '#145285' }},
          { name: 'bayesplus', value: 20, itemStyle: { color: '#17BC91' }}
        ]
        this.sources = []
        const params = {}
        realTimeData(params).then(res => {
          this.data_list = res.data
          var name_list = Object.keys(this.data_list)
          name_list.forEach(item => {
            var tmp = { name: '', color: '' }
            tmp.name = item
            data.forEach(color => {
              if (item == color.name) {
                tmp.color = color.itemStyle.color
                this.sources.push(tmp)
              }
            })
          })
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  #bottomLeft {
    padding: 0.3rem 0.2rem;
    /*height: 6.0rem;*/
    min-width: 3.75rem;
    border-radius: 0.0625rem;
    .bg-color-black {
      height: 6.0625rem;
      border-radius: 0.125rem;
    }
    .text {
      color: #c3cbde;
    }
    .chart-box {
      /*margin-top: 0.2rem;*/
      width: 2.125rem;
      height: 2.125rem;
      .active-ring-name {
        /*padding-top: 0.125rem;*/
      }
    }
  }
</style>
