<template>
  <div>
    <dv-scroll-board v-if="config.data.length>0" :config="config" style="width:7.5rem;height:1.5rem;margin-top: 0.1rem;font-size: 40px; !important;" @click="subInfo" />
  </div>
</template>

<script>
import { errData, edit_errData } from '@/api/chart'
export default {
  name: 'ErrTeam',
  data() {
    return {
      rowInfo: [],
      data_list: [],
      config: {
        header: ['比赛ID', '游戏', '计划开始时间', '状态'],
        data: [
        ],
        rowNum: 2,
        index: true,
        columnWidth: [50, 100, 100],
        align: 'center',
        headerBGC: '#0095d9'
      }
    }
  },
  mounted() {
    this.getInfo()
    this.timer = setInterval(this.get, 60000)
  },
  beforeDestroy() {
    clearInterval(this.timer)
  },
  methods: {
    subInfo() {
      var data = this.$router.resolve('/gamecenter/team/teaminfo/edit_err')
      window.open(data.href, '_blank')
    },
    get() {
      this.getInfo()
    },
    getInfo() {
      const params = {}
      errData(params).then(res => {
        var data = []
        this.data_list = res.data.list
        this.data_list.forEach(item => {
          var begin_at = item.scheduled_begin_at.substring(5)
          var tmp = []
          tmp[0] = item.match_id
          tmp[1] = `<div style="display: flex;align-items: center;justify-content: center;height: 100%"><img src=${item.game_image} style="width: 20px; height: 20px"></div>`
          // tmp[4] = item.tems_name
          tmp[2] = item.scheduled_begin_at
          // tmp[3] = item.tems_id
          // tmp[2] = `<div style="display: flex;align-items: center;justify-content: center;height: 100%"><img src=${item.tems_image} style="width: 20px; height: 20px;"></div>`
          if (item.operation_status == '1') {
            tmp[3] = `<span style="color: red">待处理</span>`
          } else {
            tmp[3] = `<span>已处理</span>`
          }
          data.push(tmp)
        })
        this.config.data = data
      })
    }
  }
}
</script>

<style scoped>

</style>
