<template>
  <div id="index1">
    <dv-full-screen-container class="bg box1">
      <dv-loading v-if="loading">loading...</dv-loading>
      <div v-else class="host-body">

        <div>
          <!-- 第一行 -->
          <div class="d-flex jc-center">
            <dv-decoration-10 style="width:33.3%;height:.0625rem;" />
            <div class="d-flex jc-center">
              <dv-decoration-8 :color="['#568aea', '#000000']" style="width:2.5rem;height:.625rem;" />
              <div class="title">
                <span class="title-text">电竞大数据可视化平台</span>
                <dv-decoration-6
                  class="title-bototm"
                  :reverse="true"
                  :color="['#50e3c2', '#67a1e5']"
                  style="width:3.125rem;height:.1rem;"
                />
              </div>
              <dv-decoration-8
                :reverse="true"
                :color="['#568aea', '#000000']"
                style="width:2.5rem;height:.625rem;"
              />
            </div>
            <dv-decoration-10 style="width:33.3%;height:.0625rem; transform: rotateY(180deg);" />
          </div>
          <!-- 第二行 -->
          <div class="d-flex jc-between px-2">
            <div class="d-flex" style="width: 40%">
              <div
                class="react-right ml-4"
                style="width: 6.25rem; text-align: left;background-color: #0f1325;"
              >
                <span class="react-before" />
                <img src="../../../../images/logo.png" height="44" width="262" class="text">
                <!--              <span class="text">数据分析1</span>-->
              </div>
              <!--            <div class="react-right ml-3" style="background-color: #0f1325;margin-left: 10px">-->
              <!--              <span class="text colorBlue">数据分析2</span>-->
              <!--            </div>-->
            </div>
            <div style="width: 40%" class="d-flex">
              <div class="react-left bg-color-blue mr-3">
                <!--              <span class="text fw-b">vue-big-screen</span>-->
              </div>
              <div
                class="react-left mr-4"
                style="width: 6.25rem; background-color: #0f1325; text-align: right;"
              >
                <!--                <span class="react-after" />-->
                <span class="text">{{ dateYear }} {{ dateWeek }} {{ dateDay }}</span>
              </div>
            </div>
          </div>
          <p class="text" style="font-size: 8px;margin: 0;padding: 0;margin-top:10px;text-align: end">
            <el-button type="text" style="color: #3DE8C9" @click="dialogVisible = true">本周值班：{{ nowWeek }}；</el-button>下周值班：{{ nextWeek }}
          </p>
          <!-- 第三行数据 -->
          <div class="body-box">
            <div class="content-box">
              <div>
                <dv-border-box-12>
                  <weekData />
                </dv-border-box-12>
              </div>
              <div>
                <center />
              </div>
              <div>
                <dv-border-box-13>
                  <matchEvents />
                </dv-border-box-13>
              </div>
            </div>
          </div>

          <!-- 第四行数据 -->
          <div class="bototm-box">
            <div class="bototm-content-box">
              <div class="y-h">
                <bottomLeft />
              </div>
              <div class="y-h">
                <div style="display: flex;justify-content: space-between;padding-top: 0.3rem">
                  <div style="padding-left: 0.5rem">实时数据量</div>
                  <div style="padding-right: 1rem;margin: 0;text-align: end">
                    <el-button type="text" @click="isShow = !isShow">切换</el-button>
                  </div>
                </div>
                <dataSize v-if="isShow" />
                <realData v-else />
              </div>
              <div class="y-h">
                <upData />
                <bindingData />
              </div>
            </div>
          </div>
        </div>
        <el-dialog
          title="联系电话"
          :visible.sync="dialogVisible"
          width="30%"
        >
          <h2 style="color: red">本周值班人员: {{ nowWeek.substr(0,2) }}</h2>
          <el-row>
            <el-col :span="12">
              <h3>虎组:</h3>
              <h4>高宇 电话:13141236484</h4>
              <h4>赵恒 电话:15030001195</h4>
              <h4>组长:  王金龙 电话:15827453059</h4>
            </el-col>
            <el-col :span="12">
              <h3>龙组:</h3>
              <h4>尹超 电话:15710099947</h4>
              <h4>杨剑 电话:13719350866</h4>
              <h4>组长 高建歧 电话:18515860205</h4>
            </el-col>
          </el-row>
          <h3>注:值班人员需24小时手机保持畅通,随时待命处理突发问题.客服发现问题优先联系值班人员,由值班人员跟进协调处理,直到系统运行正常为止.</h3>
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
          </span>
        </el-dialog>

      </div>
    </dv-full-screen-container>
  </div>
</template>

<script>
import bottomLeft from '@/views/gamecenter/tableau/bottomLeft'
import center from '@/views/gamecenter/tableau/center'
import weekData from '@/views/gamecenter/tableau/weekData'
import matchEvents from '@/views/gamecenter/tableau/matchEvents'
import upData from '@/views/gamecenter/tableau/upData'
import bindingData from '@/views/gamecenter/tableau/bindingData'
import dataSize from '@/views/gamecenter/tableau/dataSize'
import realData from '@/views/gamecenter/tableau/realData'
import { mapGetters } from 'vuex'
export default {
  components: {
    bottomLeft,
    center,
    weekData,
    matchEvents,
    upData,
    bindingData,
    dataSize,
    realData
  },
  data() {
    return {
      dialogVisible: false,
      on_duty: '',
      nowWeek: '',
      nextWeek: '',
      isShow: false,
      loading: true,
      dateDay: null,
      dateYear: null,
      dateWeek: null,
      weekday: ['周日', '周一', '周二', '周三', '周四', '周五', '周六']
    }
  },
  computed: {
    ...mapGetters([
      'sidebar',
      'avatar',
      'device'
    ])
  },
  mounted() {
    this.timeFn()
    this.cancelLoading()
    this.toggleSideBar()
    this.getOnDuty()
    // this.getYearWeek(new Date())
  },
  methods: {
    // getYearWeek(date){
    //   var date2=new Date(date.getFullYear(), 0, 1);
    //   var day1=date.getDay();
    //   console.log('date2', date2)
    //   console.log('day1', day1)
    //   if(day1==0) day1=7;
    //   var day2=date2.getDay();
    //   if(day2==0) day2=7;
    //   var d = Math.round((date.getTime() - date2.getTime()+(day2-day1)*(24*60*60*1000)) / 86400000);
    //   console.log('周', Math.ceil(d /7)+1)
    //   return Math.ceil(d /7)+1;
    // },
    getWeekOfYear() {
      var today = new Date()
      var firstDay = new Date(today.getFullYear(), 0, 1)
      var dayOfWeek = firstDay.getDay()
      var spendDay = 1
      if (dayOfWeek != 0) {
        spendDay = 7 - dayOfWeek + 1
      }
      firstDay = new Date(today.getFullYear(), 0, 1 + spendDay)
      var d = Math.ceil((today.valueOf() - firstDay.valueOf()) / 86400000)
      var result = Math.ceil(d / 7)
      return result + 1
    },
    getOnDuty() {
      var src = '高宇（组长：王金龙),赵恒（组长：王金龙),杨剑（组长：高建歧),尹超（组长：高建歧)'
      var srcArray = src.split(',')
      // var week = this.getYearWeek(new Date())
      var week = this.getWeekOfYear()
      // 轮回
      console.log('周', week)
      const m = week % 4
      this.nowWeek = srcArray[(m + 1) % 4]
      this.nextWeek = srcArray[(m + 2) % 4]
    },
    toggleSideBar() {
      if (this.sidebar.opened) {
        this.$store.dispatch('app/toggleSideBar')
      }
    },
    timeFn() {
      setInterval(() => {
        this.dateDay = this.$yangJian.formatTime(new Date(), 'HH: mm: ss')
        this.dateYear = this.$yangJian.formatTime(new Date(), 'yyyy-MM-dd')
        this.dateWeek = this.weekday[new Date().getDay()]
      }, 1000)
    },
    cancelLoading() {
      setTimeout(() => {
        this.loading = false
      }, 500)
    }
  }
}
</script>

<style scoped>
  .box1 {
    overflow: auto !important;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
  }
  .d-flex {
    display: flex;
  }
  .jc-between {
    justify-content: space-between;
  }
</style>

<style lang="scss">
  #index1 {
    color: #d3d6dd;
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 100%;

    .bg {
      padding: 0.2rem 0.2rem 0 68px;
      background-image: url("../../../assets/pageBg.png");
      background-size: cover;
      background-position: center center;
    }

    .host-body {
      .title {
        position: relative;
        width: 6.25rem;
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;

        .title-text {
          font-size: 0.3rem;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%);
        }

        .title-bototm {
          position: absolute;
          bottom: -0.375rem;
          left: 50%;
          transform: translate(-50%);
        }
      }

      // 平行四边形
      .react-left {
        cursor: pointer;
        font-size: 0.225rem;
        width: 3.75rem;
        height: 0.625rem;
        line-height: 0.625rem;
        text-align: center;
        transform: skewX(-45deg);

        .react-after {
          position: absolute;
          right: -0.3125rem;
          top: 0;
          height: 0.625rem;
          width: 0.625rem;
          background-color: #0f1325;
          transform: skewX(45deg);
        }

        .text {
          display: inline-block;
          transform: skewX(45deg);
        }
      }

      .react-right {
        cursor: pointer;
        font-size: 0.225rem;
        width: 3.75rem;
        height: 0.625rem;
        line-height: 0.625rem;
        text-align: center;
        transform: skewX(45deg);

        .react-before {
          position: absolute;
          left: -0.3125rem;
          top: 0;
          height: 0.625rem;
          width: 0.625rem;
          background-color: #0f1325;
          transform: skewX(-45deg);
        }

        .text {
          display: inline-block;
          transform: skewX(-45deg);
        }
      }

      .body-box {
        /*height: 5.43rem;*/
        min-width: 3.75rem;
        /*margin-top: 0.2rem;*/
        display: flex;
        flex-direction: column;

        //下方区域的布局
        .content-box {
          display: grid;
          grid-template-columns: 3fr 2fr 3fr;
        }
      }

      // 底部数据
      .bototm-box {
        /*height: 7.84rem;*/
        min-width: 3.75rem;
        margin-top: 0.4rem;
        display: flex;
        flex-direction: column;
        //下方区域的布局
        .bototm-content-box {
          display: grid;
          grid-template-columns: 3fr 3fr 3fr;
          .y-h {
            /*height: 7rem;*/
          }
        }
      }
    }
  }
</style>
