<template>
  <div id="matchEvents">
    <div class="bg-color-black ">
      <div class="d-flex pt-2 pl-2 flex-between" style="margin: 10px 0 5px 0">
        <div>比赛重要事件</div>
        <div>
          <el-button v-if="is_change == 2" size="mini" type="text" @click="sub_change('1')">国内版</el-button>
          <el-button v-if="is_change == 1" size="mini" type="text" @click="sub_change('2')">海外版</el-button>
        </div>
      </div>
    </div>
    <div class="ovow">
      <div v-for="(item, index) in events_info" :key="index">
        <div v-if="item.event_type == 'match_creation'||item.event_type == 'match_update'||item.event_type == 'match_deletion'||item.event_type == 'match_recovery'||item.event_type == 'match_fixture_change'||item.event_type == 'match_fixture_teamchange'" class="bg-color m-5 p-5" style="font-size: 13px">
          <div class="d-flex flex-between">
            <div class="d-flex h-30">
              <img class="h-30" :src="$yangJian.safeProps(()=>item.game.image,'')">
              <div class="l-h-30 m-l-8">比赛ID: {{ item.match_id }}<span v-if="$yangJian.safeProps(()=>item.battles.id,'')">({{ $yangJian.safeProps(()=>item.battles.id,'') }})</span></div>
              <div v-if="item.event_type == 'match_creation'" class="l-h-30 m-l-8" style="color: #c7ecee">比赛创建</div>
              <div v-if="item.event_type == 'match_update'" class="l-h-30 m-l-8" style="color: #dff9fb">比赛更新</div>
              <div v-if="item.event_type == 'match_deletion'" class="l-h-30 m-l-8" style="color: #ffa502">比赛删除</div>
              <div v-if="item.event_type == 'match_recovery'" class="l-h-30 m-l-8" style="color: #7bed9f">比赛恢复</div>
              <div v-if="item.event_type == 'match_fixture_change'" class="l-h-30 m-l-8" style="color: #7bed9f">赛程修改</div>
              <div v-if="item.event_type == 'match_fixture_teamchange'" class="l-h-30 m-l-8" style="color: #7bed9f">战队变更</div>
              <div v-if="$yangJian.safeProps(()=>item.scheduled_begin_at,'')" class="l-h-30 m-l-8">计划开始: {{ $yangJian.dateFormat(item.scheduled_begin_at) }}</div>

            </div>
            <div v-if="item.status == 'ongoing'" style="line-height: 20px;color: #2ed573">进行中</div>
            <div v-if="item.status == 'upcoming'" style="line-height: 20px;color: #1e90ff">未开始</div>
            <div v-if="item.status == 'completed'" style="line-height: 20px;color: #747d8c">已结束</div>
            <div v-if="item.status == 'canceled'" style="line-height: 20px;color: #f1f2f6">已取消</div>
            <div v-if="item.status == 'postponed'" style="line-height: 20px;color: #ced6e0">已延期</div>
          </div>
          <div class="d-flex" style="margin-top: 3px">
            <div class="l-h-30">{{ $yangJian.safeProps(()=>item.teams[0].team_snapshot.name,'') }}</div>
            <img class="h-30 m-l-8" :src="$yangJian.safeProps(()=>item.teams[0].team_snapshot.image,'')">
            <div class="l-h-30 m-l-8 color-1">{{ $yangJian.safeProps(()=>item.scores[0].score,'') }}</div>
            <div class="l-h-30 m-l-8">:</div>
            <div class="l-h-30 m-l-8 color-1">{{ $yangJian.safeProps(()=>item.scores[1].score,'') }}</div>
            <img class="h-30 m-l-8" :src="$yangJian.safeProps(()=>item.teams[1].team_snapshot.image,'')">
            <div class="l-h-30 m-l-8">{{ $yangJian.safeProps(()=>item.teams[1].team_snapshot.name,'') }}</div>
          </div>
          <div class="d-flex" style="margin-top: 3px">
            <div v-if="$yangJian.safeProps(()=>item.begin_at,'')" class="l-h-30">实际开始: {{ $yangJian.dateFormat(item.begin_at) }}</div>
            <div v-if="$yangJian.safeProps(()=>item.end_at,'')" class="l-h-30 m-l-8">实际结束: {{ $yangJian.dateFormat(item.end_at) }}</div>
          </div>
        </div>
        <div v-if="item.event_type == 'battle_creation'||item.event_type == 'battle_update'||item.event_type == 'battle_deletion'||item.event_type == 'battle_recovery'" class="bg-color1 m-5 p-5" style="font-size: 13px">
          <div class="d-flex flex-between">
            <div class="d-flex h-30">
              <img class="h-30" :src="$yangJian.safeProps(()=>item.game.image,'')">
              <div class="l-h-30 m-l-8">比赛ID: {{ item.match_id }}<span v-if="$yangJian.safeProps(()=>item.battles.id,'')">({{ $yangJian.safeProps(()=>item.battles.id,'') }})</span></div>
              <div v-if="item.event_type == 'battle_creation'" class="l-h-30 m-l-8" style="color: #c7ecee">对局创建</div>
              <div v-if="item.event_type == 'battle_update'" class="l-h-30 m-l-8" style="color: #dff9fb">对局更新</div>
              <div v-if="item.event_type == 'battle_deletion'" class="l-h-30 m-l-8" style="color: #ffa502">对局删除</div>
              <div v-if="item.event_type == 'battle_recovery'" class="l-h-30 m-l-8" style="color: #7bed9f">对局恢复</div>
              <div class="l-h-30 m-l-8">第{{ item.order }}局<span v-if="$yangJian.safeProps(()=>item.duration,'')">时长: {{ $yangJian.sec_format_tiem(item.duration) }}</span></div>
            </div>
            <div v-if="item.status == 'ongoing'" style="line-height: 20px;color: #2ed573">进行中</div>
            <div v-if="item.status == 'upcoming'" style="line-height: 20px;color: #1e90ff">未开始</div>
            <div v-if="item.status == 'completed'" style="line-height: 20px;color: #747d8c">已结束</div>
            <div v-if="item.status == 'canceled'" style="line-height: 20px;color: #f1f2f6">已取消</div>
            <div v-if="item.status == 'postponed'" style="line-height: 20px;color: #ced6e0">已延期</div>
          </div>
          <div class="d-flex" style="margin-top: 3px">
            <div class="l-h-30">{{ $yangJian.safeProps(()=>item.teams[0].team_snapshot.name,'') }}</div>
            <img class="h-30 m-l-8" :src="$yangJian.safeProps(()=>item.teams[0].team_snapshot.image,'')">
            <div class="l-h-30 m-l-8 color-1">{{ $yangJian.safeProps(()=>item.scores[0].score,'') }}</div>
            <div class="l-h-30 m-l-8">:</div>
            <div class="l-h-30 m-l-8 color-1">{{ $yangJian.safeProps(()=>item.scores[1].score,'') }}</div>
            <img class="h-30 m-l-8" :src="$yangJian.safeProps(()=>item.teams[1].team_snapshot.image,'')">
            <div class="l-h-30 m-l-8">{{ $yangJian.safeProps(()=>item.teams[1].team_snapshot.name,'') }}</div>
          </div>
          <div class="d-flex" style="margin-top: 3px">
            <div v-if="$yangJian.safeProps(()=>item.begin_at,'')" class="l-h-30 ">对局开始: {{ $yangJian.dateFormat(item.begin_at) }}</div>
            <div v-if="$yangJian.safeProps(()=>item.end_at,'')" class="l-h-30 m-l-8">对局结束: {{ $yangJian.dateFormat(item.end_at) }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { get_socket } from '@/api/socket2'
import { get_socket_home } from '@/api/socket1'
export default {
  components: {},
  data() {
    return {
      is_change: true,
      socketEvent: '',
      events_list: [],
      events_info: [],
      wsPath: 'ws://39.105.105.57:9995/v1/pbpdata/matchincidents'
    }
  },
  mounted() {
    this.wsPath = get_socket()
    console.log(this.wsPath)
    this.init()
  },
  destroyed() {
    // 销毁监听
    this.socketEvent.onclose = this.close()
  },
  methods: {
    sub_change(id) {
      this.events_list = []
      this.events_info = []
      this.socketEvent.onclose = this.close()
      console.log('状态', this.socketEvent.readyState)

      this.is_change = id
      if (id == '1') {
        console.log('国内')
        this.wsPath = get_socket()
        this.init()
      } else {
        console.log('海外')
        this.wsPath = get_socket_home()
        this.init()
      }
    },
    tableRowClassName({ row, rowIndex }) {
      if (rowIndex === 1) {
        return 'warning-row'
      } else if (rowIndex === 3) {
        return 'success-row'
      }
      return ''
    },
    getToken() {
      return 'HCI0p9JsDmUZEc5ueFitw5emDfKQdanvsxf2C9RjzRM5K1gwPdQ' // 内部版
    },
    init: function() {
      if (typeof (WebSocket) === 'undefined') {
        alert('您的浏览器不支持socket')
      } else {
        // 实例化socket
        this.socketEvent = new WebSocket(this.wsPath + '?token=' + this.getToken())
        // 监听socket连接
        this.socketEvent.onopen = this.open
        // 监听socket错误信息
        this.socketEvent.onerror = this.error
        // 监听socket消息
        this.socketEvent.onmessage = this.getMessageEvent
      }
    },
    getMessageEvent: function(msg) {
      const jsonInfo = this.jsonParse(msg.data)
      if (jsonInfo) {
        this.events_list.unshift(jsonInfo)
        this.events_info = this.events_list.slice(0, 50)
        this.events_list = this.events_info
      }
    },
    jsonParse(str) {
      let json = null
      try {
        json = JSON.parse(str)
      } catch (e) {
        console.log(e)
      }
      return json
    },
    open: function() {
      console.log('socket连接成功')
    },
    error: function() {
      console.log('连接错误')
    },
    send: function() {
      this.socket.send('params')
    },
    close: function() {
      this.socketEvent.close()
      console.log('socket已经关闭')
    }
  }
}
</script>
<style scoped>
  .d-flex {
    display: flex;
  }
  .flex-between {
    justify-content: space-between;
  }
  .bg-color {
    background-color: #1B4923;
  }
  .bg-color1 {
    background-color: #313A57;
  }
  .m-5 {
    margin: 3px;
  }
  .p-5 {
    padding: 2px 10px;
  }
  .h-30 {
    height: 20px;
  }
  .l-h-30 {
    line-height: 20px;
  }
  .m-l-8 {
    margin-left: 8px;
  }
  .color-1 {
    color: #398CD5;
  }
  .ovow {
    overflow: auto;
    height: 4.855rem;
    display: flex;
    flex-direction: column-reverse;
  }
</style>

<style lang="scss" scoped>
  #matchEvents {
    padding: 0.2rem;
    height: 5.505rem;
    min-width: 3.75rem;
    border-radius: 0.0625rem;
    .bg-color-black {
      /*height: 4.8125rem;*/
      border-radius: 0.125rem;
    }
    .text {
      color: #c3cbde;
    }
    .body-box {
      border-radius: 0.125rem;
      overflow: hidden;
    }
  }
</style>
