<template>
  <div>
    <!-- 实时数据量 -->
    <Echart
      id="dataSize"
      :options="options"
      height="5.55rem"
      width="100%"
    />
  </div>
</template>

<script>
  import { realTimeData } from '@/api/chart'
  import Echart from '@/common/echart/index'
  import * as echarts from 'echarts'
  export default {
    components: {
      Echart
    },
    data() {
      return {
        timer: '',
        data_list: [],
        options: {
          color: ['#80FFA5','#FF0087', '#00DDFF', '#37A2FF', '#FFBF00'],
          title: {
            // text: '渐变堆叠面积图'
          },
          tooltip: {
            trigger: 'axis',
            axisPointer: {
              type: 'cross',
              label: {
                backgroundColor: '#6a7985'
              }
            }
          },
          legend: {
            data: ['实时流出', '实时流入']
          },
          // toolbox: {
          //   feature: {
          //     saveAsImage: {}
          //   }
          // },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          xAxis: [
            {
              type: 'category',
              boundaryGap: false,
              data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
            }
          ],
          yAxis: [
            {
              type: 'value'
            }
          ],
          series: [
            {
              name: '实时流出',
              type: 'line',
              stack: '总量',
              smooth: true,
              lineStyle: {
                width: 0
              },
              showSymbol: false,
              areaStyle: {
                opacity: 0.8,
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                  offset: 0,
                  color: 'rgba(128, 255, 165)'
                }, {
                  offset: 1,
                  color: 'rgba(1, 191, 236)'
                }])
              },
              emphasis: {
                focus: 'series'
              },
              data: [140, 232, 101, 264, 90, 340, 250]
            },
            {
              name: '实时流入',
              type: 'line',
              stack: '总量',
              smooth: true,
              lineStyle: {
                width: 0
              },
              showSymbol: false,
              areaStyle: {
                opacity: 0.8,
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                  offset: 0,
                  color: 'rgba(255, 0, 135)'
                }, {
                  offset: 1,
                  color: 'rgba(135, 0, 157)'
                }])
              },
              emphasis: {
                focus: 'series'
              },
              data: [220, 402, 231, 134, 190, 230, 120]
            }
          ]
        }
      }
    },
    mounted() {
      this.getInfo()
      this.timer = setInterval(this.get, 60000)
    },
    beforeDestroy() {
      clearInterval(this.timer)
    },
    methods: {
      get() {
        this.getInfo()
      },
      getInfo() {
        const params = {}
        params['type'] = 'total'
        realTimeData(params).then(res => {
          this.data_list = res.data
          var time = []
          var inData = []
          var outData = []
          this.data_list.forEach((item,key) => {
            time[key] = item.dt
            inData[key] = item.ori
            outData[key] = item.socket
          })
          this.options.xAxis[0].data = time
          this.options.series[0].data = outData
          this.options.series[1].data = inData
        })
      }
    }
  }
</script>

<style scoped>

</style>
