<template>
  <div id="matchEvents">
    <div class="bg-color-black">
      <div class="d-flex pt-2 pl-2">
        <span style="color:#5cd9e8">
          <!--          <icon name="chart-line" />-->
        </span>
        <div class="d-flex">
          <span class="fs-xl text mx-2">待处理更新</span>
          <span style="color:#409DFD;font-weight: bold">{{ to_do_list.count }}</span> 个
        </div>
      </div>
      <div v-if="to_do_list" class="d-flex jc-center body-box">
        <dv-scroll-board :config="config" style="height:2.28rem" />
      </div>
    </div>

  </div>
</template>

<script>
import { toDoList } from '@/api/chart'
import { mapGetters } from 'vuex'
export default {
  components: {},
  data() {
    return {
      timer: '',
      to_do_list: '',
      config: {
        header: ['游戏', 'ID', '类型', '图标', '名称', '发生时间'],
        data: [],
        rowNum: 4, // 表格行数
        headerHeight: 35,
        headerBGC: '#0f1325', // 表头
        oddRowBGC: '#0f1325', // 奇数行
        evenRowBGC: '#171c33', // 偶数行
        index: true,
        columnWidth: [45, 50, 80, 80, 50],
        align: ['1']
      }
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  mounted() {
    this.getInfo()
    this.timer = setInterval(this.get, 60000)
  },
  beforeDestroy() {
    clearInterval(this.timer)
  },
  methods: {
    get() {
      this.getInfo()
    },
    getInfo() {
      const params = {}
      params['status'] = '1'
      params['page'] = 1
      params['per_page'] = 40
      toDoList(params).then(res => {
        this.to_do_list = res.data
        console.log(this.to_do_list)
        var config = {
          header: ['游戏', 'ID', '类型', '图标', '名称', '发生时间'],
          data: [],
          rowNum: 4, // 表格行数
          headerHeight: 35,
          headerBGC: '#0f1325', // 表头
          oddRowBGC: '#0f1325', // 奇数行
          evenRowBGC: '#171c33', // 偶数行
          index: true,
          columnWidth: [45, 50, 80, 80, 50],
          align: ['1']
        }
          this.to_do_list.list.forEach(item => {
            var arr = []
            arr[0] = this.getImage(this.$yangJian.safeProps(() => this.allgames[item.game_id].logo, ''))
            arr[1] = item.resource_id
            arr[2] = item.resource_type
            arr[3] = this.getImage(this.$yangJian.safeProps(() => item.resource_logo, ''))
            arr[4] = item.resource_name
            arr[5] = item.created_time
            config.data.push(arr)
          })
        this.config = config
        console.log('config', config)
      })
    },
    getImage(info) {
      if (info) {
        return (`<div style="display: flex;align-items: center;justify-content: center;height: 100%"><img src=${info} style="width: 20px; height: 20px"></div>`)
      } else {
        return ''
      }
    }
  }
}
</script>
<style scoped>
</style>

<style lang="scss" scoped>
  #matchEvents {
    padding: 0.2rem;
    height: 2.785rem;
    min-width: 3.75rem;
    border-radius: 0.0625rem;
    .bg-color-black {
      height: 4.8125rem;
      border-radius: 0.125rem;
    }
    .text {
      color: #c3cbde;
    }
    .body-box {
      border-radius: 0.125rem;
      overflow: hidden;
    }
  }
</style>
