<template>
  <div id="weekData">
    <div class="bg-color-black">
      <div class="d-flex pt-2 pl-2">
        <span style="color:#5cd9e8">
          <!--          <icon name="chart-bar" />-->
        </span>
        <div class="d-flex">
          <span class="fs-xl text mx-2">比赛场次统计</span>
        </div>
      </div>
      <div>
        <WeekDataChart />
      </div>
    </div>
  </div>
</template>

<script>
import WeekDataChart from '@/views/comopnent/echart/games/WeekDataChart'
export default {
  name: 'WeekData',
  components: {
    WeekDataChart
  }
}
</script>

<style lang="scss" scoped>
#weekData {
  padding: 0.3rem 0.2rem;

  border-radius: 0.0625rem;
}
</style>
