<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>相似绑定</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="form" :inline="true" label-width="100px" size="mini">
        <el-row>
          <el-col :span="1">
            <el-image
              style="width: 50px; height: 50px"
              :src="allgames[form.base.game_id].logo"
            />
          </el-col>
          <el-col :span="6">
            <el-form-item label="数据源">
              <el-input v-model="enum_origin_list[form.base.origin_id].desc" :disabled="true" />
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-card>
              <el-row>
                <el-col :span="10" style="margin-top: 30px; margin-right: 30px">
                  <el-image
                    style="width: 150px; height: 100px; padding-left: 50px"
                    :src="form.base.image"
                  />
                </el-col>
                <el-col :span="12">
                  <p>数据源 ID: {{ form.base.rel_identity_id }}</p>
                  <p>名称: {{ form.base.name }}</p>
                  <p>举办国家地区: {{ $store.getters.getCountryById(form.base.country) }}</p>
                  <p>计划开始日期: {{ form.base.scheduled_begin_at }}</p>
                  <p>计划结束日期: {{ form.base.scheduled_end_at }}</p>
                </el-col>
              </el-row>
            </el-card>
          </el-col>
          <el-col :span="6" align="center">
            <el-form-item>
              <el-button type="primary" size="medium" @click="getAdd()">新增</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-divider />
        <el-row>
          <el-col v-for="(item,index) in form.binding_expect_info" :key="index" :span="8">
            <el-card>
              <el-row>
                <el-col :span="9" style="margin-top: 10px; margin-right: 0px">
                  <el-image
                    style="width: 100px; height: 100px; padding-left: 0px"
                    :src="item.image"
                  />
                </el-col>
                <el-col :span="12">
                  <p>ELS ID: {{ item.id }}</p>
                  <p>名称: {{ item.name }}</p>
                  <p>举办国家地区: {{ $store.getters.getCountryById(item.country) }}</p>
                  <p>计划开始日期: {{ item.scheduled_begin_at }}</p>
                  <p>计划结束日期: {{ item.scheduled_end_at }}</p>
                </el-col>
              </el-row>
              <el-row style="text-align: center">
                <el-form-item>
                  <el-button type="primary" @click="getBind(item.id)">绑定</el-button>
                </el-form-item>
              </el-row>
            </el-card>
          </el-col>
        </el-row>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { binding_tournament_detail, binding_tournament_binding, binding_tournament_add } from '@/api/binding'
import { mapGetters } from 'vuex'
export default {
  name: 'Batchadd',
  data() {
    return {
      form: {
        'base': {
          'id': '4449',
          'origin_id': '3',
          'rel_identity_id': '1306',
          'rel_league_id': '1003',
          'name': 'TCL Summer 2016',
          'name_cn': null,
          'game_id': '2',
          'slug': null,
          'status': null,
          'scheduled_begin_at': '2016-06-11 08:00:00',
          'scheduled_end_at': '2016-07-20 08:00:00',
          'short_name': null,
          'short_name_cn': null,
          'number_of_teams': null,
          'tier': null,
          'son_sort': '',
          'address': null,
          'address_cn': null,
          'country': null,
          'region': null,
          'organizer': null,
          'organizer_cn': null,
          'version': null,
          'introduction': '2016 ŞL Yaz Mevsimi',
          'introduction_cn': null,
          'prize_bonus': null,
          'prize_points': null,
          'prize_seed': null,
          'map_pool': null,
          'format': null,
          'format_cn': null
        }
      }
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  mounted() {
    this.getInfo()
  },
  methods: {
    getAdd(id) {
      const params = {}
      params['standard_id'] = this.$route.query.id
      binding_tournament_add(params).then(req => {
        this.$message({
          type: 'success',
          message: '添加成功！'
        })
        this.$router.push('/gamecenter/tournament/binding/list')
      })
    },
    getInfo() {
      const params = {}
      params['id'] = this.$route.query.id
      binding_tournament_detail(params).then(req => {
        this.form = req.data
      })
    },
    getBind(id) {
      const params = {}
      params['standard_id'] = this.$route.query.id
      params['master_id'] = id
      binding_tournament_binding(params).then(req => {
        this.$message({
          type: 'success',
          message: '绑定成功！'
        })
        this.$router.push('/gamecenter/tournament/binding/list')
      })
    }
  }
}
</script>

<style scoped>

</style>
