<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>赛事绑定</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form ref="form" :model="form" label-width="100px">
        <el-row type="flex" class="row-bg">
          <el-col :span="6" :offset="0">
            <el-form-item label="数据源">
              <el-input v-model="form.name" :disabled="true" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="11">
            <el-card>
              <el-tree
                :data="bindingList"
                :default-expand-all="true"
                :expand-on-click-node="false"
                :render-content="renderContent"
              >
                <span slot-scope="{ node }" class="custom-tree-node">
                  <span>{{ node.label }}</span>
                </span>
              </el-tree>
            </el-card>
          </el-col>
          <el-col :span="11" :offset="1">
            <el-card>
              <el-tree
                :data="data"
                :default-expand-all="true"
                :expand-on-click-node="false"
              >
                <span slot-scope="{ node }" class="custom-tree-node">
                  <span>{{ node.label }}</span>
                  <span>
                    <el-button
                      v-if="node.data.type !== '1' && !node.data.standard_id"
                      type="text"
                      size="mini"
                      style="color: coral"
                      @click="() => onBinding(node.data.primary_key, node.data.type)"
                    >绑定</el-button>
                    <el-button
                      v-if="node.data.type !== '1' && node.data.standard_id"
                      type="text"
                      size="mini"
                      @click="() => onCancel(node.data.primary_key)"
                    >解绑</el-button>
                  </span>
                </span>
              </el-tree>
            </el-card>
          </el-col>
        </el-row>
      </el-form>
    </el-card>
  </div>

</template>

<script>
import { tournamentTree } from '@/api/tournament'
import { binding_tournament_tree_list, binding_tournament_bind_son, binding_tournament_close_bind, binding_tournament_trees_list } from '@/api/binding'
export default {
  name: 'Bindingson',
  data() {
    return {
      rel_league_id: this.$route.query.rel_league_id,
      form: {},
      bindingList: [],
      data: [{
        label: '赛事',
        children: [{
          label: '子赛事',
          children: [{
            label: '阶段',
            children: [{
              label: '分组'
            }]
          }]
        }]
      }]
    }
  },
  mounted() {
    this.bindingInfo()
    this.getTournamentTree()
  },
  methods: {
    renderContent(h, { node, data, store }) {
      console.log('node.is_bind')
      console.log(data.is_bind)
      console.log(node)
      console.log(data)
      console.log(store)
      if (data.is_bind === false) {
        return (<span style='font-size:14px;cursor:pointer;color:red'>{node.label}</span>)
      }
      return (<span style='font-size:14px;cursor:pointer'>{node.label}</span>)
    },
    bindingInfo() {
      const params = {}
      // params['origin_id'] = this.$route.query.origin_id
      params['id'] = this.$route.query.id
      binding_tournament_tree_list(params).then(req => {
        var obj = req.data
        var m = obj
        // for (var i in obj) {
        //   m = obj[i]
        // }
        function conver(m) {
          const tmp = {
            id: m.id,
            tournamxent_id: m.tournament_id,
            type: m.type,
            parent_id: m.parent_id,
            label: kk(m),
            is_bind: m.is_bind,
            children: []
          }
          if (m.son) {
            for (var i in m.son) {
              tmp.children.push(conver(m.son[i]))
            }
          }
          function kk(m) {
            if (m.type === 1) {
              return '赛事：' + m.match_name + ' (' + ' ID:' + m.rel_identity_id + ' )'
            }
            if (m.type === 2) {
              return '子赛事：' + m.name + ' (' + ' ID:' + m.rel_identity_id + ' )'
            }
            if (m.type === 3) {
              return '阶段：' + m.name + ' (' + ' ID:' + m.rel_identity_id + ' )'
            }
            if (m.type === 4) {
              return '分组：' + m.name + ' (' + ' ID:' + m.rel_identity_id + ' )'
            }
          }
          return tmp
        }
        this.bindingList = [conver(m)]
      })
    },
    onCancel(id) {
      this.$confirm('是否解绑?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['master_id'] = id
        binding_tournament_close_bind(params).then(req => {
          this.bindingInfo()
          this.getTournamentTree()
          this.$message({
            type: 'success',
            message: '解绑成功!'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    onBinding(id, type) {
      this.$prompt('请输入要绑定的ID:', '绑定', {
        confirmButtonText: '确认绑定',
        cancelButtonText: '取消',
        inputPattern: /\S/,
        inputErrorMessage: '请输入数字'
      }).then(({ value }) => {
        const params = {}
        params['standard_id'] = value
        params['master_id'] = id
        if (type === '4') {
          params['type'] = 'group'
        }
        if (type === '3') {
          params['type'] = 'stage'
        }
        params['standard_tournament_id'] = this.$route.query.rel_league_id
        params['els_tournament_id'] = this.$route.query.els_id
        binding_tournament_bind_son(params).then(req => {
          this.$message({
            type: 'success',
            message: '绑定成功！'
          })
          this.getTournamentTree()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消绑定'
        })
      })
    },
    getTournamentTree() {
      const params = {}
      // params['id'] = this.$route.query.id
      params['id'] = this.$route.query.els_id
      tournamentTree(params).then(req => {
        var obj = req.data
        var m = {}
        for (var i in obj) {
          m = obj[i]
        }
        function conver(m, id) {
          const tmp = {
            id: m.id,
            primary_key: m.primary_key,
            type: m.type,
            parent_id: m.parent_id,
            label: kk(m),
            standard_id: m.standard_id,
            children: []
          }
          if (m.son) {
            for (var i in m.son) {
              tmp.children.push(conver(m.son[i]))
            }
          }
          function kk(m) {
            if (m.type === '1') {
              return '赛事：' + m.tree_name + ' (' + 'ELS ID:' + m.primary_key + ' )' + ' (' + 'ID:' + id + ' )'
            }
            if (m.type === '2') {
              return '子赛事：' + m.tree_name + ' (' + 'ELS ID:' + m.primary_key + ' )' + ' (' + 'ID:' + m.standard_id + ' )'
            }
            if (m.type === '3') {
              return '阶段：' + m.tree_name + ' (' + 'ELS ID:' + m.primary_key + ' )' + ' (' + 'ID:' + m.standard_id + ' )'
            }
            if (m.type === '4') {
              return '分组：' + m.tree_name + ' (' + 'ELS ID:' + m.primary_key + ' )' + ' (' + 'ID:' + m.standard_id + ' )'
            }
            if (m.type === '5') {
              return '目录：' + m.tree_name + ' (' + 'ELS ID:' + m.primary_key + ' )' + ' (' + 'ID:' + m.standard_id + ' )'
            }
          }
          return tmp
        }
        this.data = [conver(m, this.rel_league_id)]
      })
    }
  }
}
</script>

<style scoped>
  .custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
  }
  .son-style {
    font-size:14px;
    cursor:pointer;
    color:red
  }
  .common-category{
    font-size:14px;
    cursor:pointer;
    color:#FC5D5D
  }
</style>
