<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>赛事绑定</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="req" :inline="true" label-width="130px" size="mini">
        <el-row>
          <el-col :span="6">
            <el-form-item label="数据源:">
              <el-select v-model="req.origin" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="游戏项目:">
              <el-select v-model="req.games" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in allgames"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="处理状态:">
              <el-select v-model="req.status" placeholder="请选择" style="width: 220px">
                <el-option label="全部" value="" />
                <el-option label="待添加" value="1" />
                <el-option label="待绑定" value="2" />
                <el-option label="待绑定（多个）" value="3" />
                <el-option label="已绑定" value="4" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="创建方式:">
              <el-select v-model="req.change_type" clearable placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in change_type_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.desc"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="计划日期:">
              <el-date-picker
                v-model="req.times"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
              <!--              <el-switch-->
              <!--                v-model="is_null"-->
              <!--                active-color="#13ce66"-->
              <!--                inactive-color="#ff4949"-->
              <!--              style="margin-bottom: 4px">-->
              <!--              </el-switch>-->
              <el-tooltip v-if="is_null" content="不搜索null" placement="top">
                <el-checkbox v-model="is_null" />
              </el-tooltip>
              <el-tooltip v-else content="搜索null" placement="top">
                <el-checkbox v-model="is_null" />
              </el-tooltip>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="变更时间:">
              <el-date-picker
                v-model="req.timeArea"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="计划开始日期:">
              <el-date-picker
                v-model="req.begin_date"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="计划结束日期:">
              <el-date-picker
                v-model="req.end_date"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="ELS ID:">
              <el-input v-model="req.id" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="数据源ID:">
              <el-input v-model="req.rel_identity_id" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="名称:">
              <el-input v-model="req.name" style="width: 220px" />
            </el-form-item>
          </el-col>

          <el-col :span="2" :offset="4">
            <el-form-item>
              <el-button type="primary" @click="findInfo">搜索</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-table
        :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'14px',height:'40px',textAlign:'center'}"
        :cell-style="{textAlign:'center',padding:'3px'}"
        :data="tableData"
        :cell-class-name="delLine"
        :row-class-name="tableRowClassName"
        :style="{'width':'100%'}"
      >
        <el-table-column prop="deal_status" :label="'处理\n状态'">
          <template slot-scope="scope">
            <p v-if="scope.row.deal_status == 1" style="color: green">待添加</p>
            <!--            <p v-if="scope.row.deal_status == 2" style="color: red">待绑定</p>-->
            <p v-if="scope.row.deal_status == 3" style="color: red">待绑定(多个)</p>
            <p v-if="scope.row.deal_status == 4">已绑定</p>
            <el-popover
              v-if="scope.row.deal_status == 2"
              placement="top-start"
              title="绑定信息"
              width="400"
              trigger="hover"
            >
              <el-button v-if="scope.row.deal_status == 2" slot="reference" type="text" style="color: red">待绑定</el-button>
              <div>
                <el-row>
                  <el-col :span="12">
                    <p>数据源名称</p>
                    {{ scope.row.name }}
                  </el-col>
                  <el-col :span="12">
                    <p>相关匹配名称</p>
                    <div v-if="scope.row.binding_expect_info[0]">
                      <p>名称：{{ scope.row.binding_expect_info[0].name? scope.row.binding_expect_info[0].name : '' }}</p>
                    </div>
                  </el-col>
                </el-row>
              </div>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column :label="'游戏\n项目'">
          <template slot-scope="scope">
            <img v-if="scope.row.game_id" :src="allgames[scope.row.game_id].logo" style="width: 20px;height: 20px">
          </template>
        </el-table-column>
        <el-table-column prop="rel_identity_id" :label="'数据源\n赛事ID'" />
        <el-table-column prop="binding_info.id" :label="'ELS\n赛事ID'">
          <template slot-scope="scope">
            <p v-if="scope.row.deal_status == 2">{{ scope.row.binding_expect_info.length?scope.row.binding_expect_info[0].id: '' }}</p>
            <p v-if="scope.row.deal_status !== 2">{{ scope.row.binding_info.id?scope.row.binding_info.id: '' }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="name" :label="'数据源\n名称'">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.name }}</p>
          </template>
        </el-table-column>
        <el-table-column :label="'数据源\n图标'">
          <template slot-scope="scope">
            <p v-if="scope.row.image">
              <img :src="scope.row.image" style="width: 66px;height: 66px">
            </p>
          </template>
        </el-table-column>
        <el-table-column prop="binding_info.name" :label="'ELS\n名称'">
          <template slot-scope="scope">
            <p v-if="scope.row.deal_status == 2" style="white-space: pre-wrap;">{{ scope.row.binding_expect_info.length?scope.row.binding_expect_info[0].name: '' }}</p>
            <p v-if="scope.row.deal_status !== 2" style="white-space: pre-wrap;">{{ scope.row.binding_info.name?scope.row.binding_info.name: '' }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="nickname" :label="'ELS\n图标'">
          <template slot-scope="scope">
            <p v-if="scope.row.deal_status == 2"><img v-if="scope.row.binding_expect_info.length > 0" :src="scope.row.binding_expect_info[0].image" style="width: 66px;height: 66px"></p>
            <p v-if="scope.row.deal_status !== 2"><img v-if="scope.row.binding_info.image" :src="scope.row.binding_info.image" style="width: 66px;height: 66px"></p>
          </template>
        </el-table-column>
        <el-table-column prop="scheduled_begin_at" :label="'数据源\n计划开始时间'" width="110px" />
        <el-table-column prop="els_country_name" :label="'ELS\n计划开始时间'" width="110px">
          <template slot-scope="scope">
            <p v-if="scope.row.deal_status == 2">{{ scope.row.binding_expect_info.length>0?scope.row.binding_expect_info[0].scheduled_begin_at: '' }}</p>
            <p v-if="scope.row.deal_status !== 2">{{ scope.row.binding_info.scheduled_begin_at?scope.row.binding_info.scheduled_begin_at: '' }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="created_at" label="创建时间" width="100px" />
        <el-table-column prop="modified_at" label="变更时间" width="100px" />
        <el-table-column prop="change_type" label="创建方式" />
        <el-table-column fixed="right" label="操作">
          <template slot-scope="scope">
            <el-button v-if="scope.row.deal_status == 1" type="text" size="small" :loading="scope.row.fullscreenLoading" @click="getAdd(scope.row.id,scope.row)">新增</el-button>
            <el-button v-if="scope.row.deal_status == 2" type="text" size="small" :loading="scope.row.fullscreenLoading" @click="getAdd(scope.row.id,scope.row)">新增</el-button>
            <el-button v-if="scope.row.deal_status == 3" type="text" size="small" :loading="scope.row.fullscreenLoading" @click="getAdd(scope.row.id,scope.row)">新增</el-button>
            <el-button v-if="scope.row.deal_status == 2" type="text" size="small" @click="getBinding(scope.row.id, scope.row.binding_expect_info[0].id)">绑定</el-button>
            <el-button v-if="scope.row.deal_status == 3" type="text" size="small" @click="getBindingInfo(scope.row.id)">多个相似</el-button>
            <el-button type="text" size="small" @click="getManual(scope.row.id)">手动绑定</el-button>
            <el-button v-if="scope.row.deal_status == 4" type="text" size="small" @click="getManualSon(scope.row.id, scope.row.origin_id, scope.row.binding_info.id)">绑定子项</el-button>
            <el-button type="text" size="small" @click="getInfo(scope.row.rel_identity_id,scope.row.origin_id,scope.row.game_id)">查看详情</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="job_status_name" label="操作记录">
          <template slot-scope="scope">
            <span v-if="scope.row.operation">({{ scope.row.operation.count }})</span>
            <span v-if="!scope.row.operation">(0)</span>
            <el-button v-if="scope.row.operation" type="text" size="small" @click="getHistory(scope.row.operation.resource_id,scope.row.operation.resource_type )">操作记录</el-button>
            <el-button v-if="!scope.row.operation" type="text" size="small">操作记录</el-button>
          </template>
        </el-table-column>
      </el-table>

      <div class="over">
        <el-pagination
          class="pager"
          background
          layout="prev, pager, next, jumper"
          :total="total"
          :current-page="req.page"
          :page-size="req.per_page"
          @current-change="changePager"
        />
      </div>
    </el-card>
  </div>
</template>
<script>
import { binding_tournament_list, binding_tournament_add, binding_tournament_binding } from '@/api/binding'
import { mapGetters } from 'vuex'
export default {
  name: 'List',
  data() {
    return {
      is_null: false,
      change_type_list: {},
      total: 20,
      tableData: [],
      req: {
        begin_date: '',
        end_date: '',
        origin: '3',
        games: '',
        status: '',
        country: '',
        name: '',
        id: '',
        rel_identity_id: '',
        change_type: '全部',
        timeArea: '',
        times: '',
        per_page: 20,
        page: 1
      }
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  mounted() {
    this.finddata()
    this.get_change_type()
  },
  methods: {
    tableRowClassName({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'success-row'
      }
    },
    delLine({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'del_line'
      }
    },
    get_change_type() {
      var tmp = { ...this.enum_origin_list }
      var tmp1 = { desc: '人工' }
      var tmp2 = { desc: '全部' }
      tmp['0'] = tmp2
      tmp['-1'] = tmp1
      this.change_type_list = tmp
    },
    getInfo(rel_identity_id, origin_id, game_id) {
      this.$router.push({ path: '/gamecenter/update/bindingInfo', query: { rel_identity_id: rel_identity_id, origin_id: origin_id, game_id: game_id, resource_type: 'tournament' }})
    },
    getBindingInfo(id) {
      this.$router.push({ path: '/gamecenter/tournament/binding/batchadd', query: { id: id }})
    },
    getHistory(id, type) {
      this.$router.push({ path: '/gamecenter/update/updateTemplate/operation', query: { id: id, type: type }})
    },
    getManualSon(id, origin_id, els_id) {
      this.$router.push({ path: '/gamecenter/tournament/binding/bindingson', query: { id: id, origin_id: origin_id, els_id: els_id }})
    },
    getManual(id) {
      this.$prompt('请输入要绑定的ID:', '手动绑定', {
        confirmButtonText: '确认绑定',
        cancelButtonText: '取消',
        inputPattern: /\S/,
        inputErrorMessage: '请输入数字'
      }).then(({ value }) => {
        const params = {}
        params['standard_id'] = id
        params['master_id'] = value
        binding_tournament_binding(params).then(req => {
          this.$message({
            type: 'success',
            message: '绑定成功！'
          })
          this.findInfo()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消绑定'
        })
      })
    },
    getBinding(id, master_id) {
      const params = {}
      params['standard_id'] = id
      params['master_id'] = master_id
      binding_tournament_binding(params).then(req => {
        this.$message({
          type: 'success',
          message: '绑定成功！'
        })
        this.findInfo()
      })
    },
    getAdd(id, row) {
      row.fullscreenLoading = true
      const params = {}
      params['standard_id'] = id
      binding_tournament_add(params).then(req => {
        this.$message({
          type: 'success',
          message: '添加成功！'
        })
        // row.fullscreenLoading = false
        this.findInfo()
      }).catch(() => {
        row.fullscreenLoading = false
      })
    },
    findInfo() {
      this.req.page = 1
      this.finddata()
    },
    finddata() {
      const params = {}
      params['is_null'] = this.is_null
      params['games'] = this.req.games
      params['origin'] = this.req.origin
      params['status'] = this.req.status
      params['country'] = this.req.country
      params['name'] = this.req.name
      params['id'] = this.req.id
      params['rel_identity_id'] = this.req.rel_identity_id
      if (this.req.begin_date) {
        params['scheduled_begin_at_1'] = this.req.begin_date[0]
        params['scheduled_begin_at_2'] = this.req.begin_date[1]
      }
      if (this.req.end_date) {
        params['scheduled_end_at_1'] = this.req.end_date[0]
        params['scheduled_end_at_2'] = this.req.end_date[1]
      }
      if (this.req.timeArea) {
        params['date_begin'] = this.req.timeArea[0]
        params['date_end'] = this.req.timeArea[1]
      }
      if (this.req.times) {
        params['scheduled_begin_at'] = this.req.times[0]
        params['scheduled_end_at'] = this.req.times[1]
      }
      params['change_type'] = this.req.change_type
      params['page'] = this.req.page
      params['per_page'] = this.req.per_page
      binding_tournament_list(params).then(req => {
        this.tableData = req.data.list
        if (this.tableData.length) {
          this.tableData.map(item => {
            this.$set(item, 'fullscreenLoading', false)
            return item
          })
        }
        this.total = 1 * req.data.total
      })
    },
    changePager(pageId) {
      this.req.page = pageId
      this.finddata()
    }
  }
}
</script>

<style scoped>
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
</style>
