<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>英雄绑定</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="req" :inline="true" label-width="100px" size="mini">
        <el-row>
          <el-col :span="6">
            <el-form-item label="数据源:">
              <el-select v-model="req.origin" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in all_origin"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="处理状态:">
              <el-select v-model="req.deal_status" placeholder="请选择" style="width: 220px">
                <el-option label="全部" value="0" />
                <el-option label="待添加" value="1" />
                <el-option label="待绑定" value="2" />
                <el-option label="待绑定（多个）" value="3" />
                <el-option label="已绑定" value="4" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="状态:">
              <el-select v-model="req.state" placeholder="请选择" style="width: 220px">
                <el-option label="全部" value="0" />
                <el-option label="正常" value="1" />
                <el-option label="移除" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Slug:">
              <el-input v-model="req.slug" style="width: 220px" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="官方ID:">
              <el-input v-model="req.external_id" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="官方名称:">
              <el-input v-model="req.external_name" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="ELS ID:">
              <el-input v-model="req.id" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="数据源ID:">
              <el-input v-model="req.rel_identity_id" style="width: 220px" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="变更时间:">
              <el-date-picker
                v-model="req.timeArea"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="称号:">
              <el-input v-model="req.title" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="名称:">
              <el-input v-model="req.name" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="创建方式:">
              <el-select v-model="req.change_type" clearable placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in change_type_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.desc"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="2" :offset="22">
            <el-form-item>
              <el-button type="primary" @click="findInfo">搜索</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-table
        :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'14px',height:'40px',textAlign:'center'}"
        :cell-style="{textAlign:'center',padding:'3px'}"
        :data="tableData"
        :cell-class-name="delLine"
        :row-class-name="tableRowClassName"
        :style="{'width':'100%'}"
      >
        <el-table-column prop="id" :label="'处理\n状态'">
          <template slot-scope="scope">
            <p v-if="scope.row.deal_status == 1" style="color: green">待添加</p>
            <p v-if="scope.row.deal_status == 3" style="color: red">待绑定(多个)</p>
            <p v-if="scope.row.deal_status == 4">已绑定</p>
            <el-popover
              v-if="scope.row.deal_status == 2"
              placement="top-start"
              title="绑定信息"
              width="500"
              trigger="hover"
            >
              <el-button v-if="scope.row.deal_status == 2" slot="reference" type="text" style="color: red">待绑定</el-button>
              <div>
                <el-row>
                  <el-col :span="12">
                    <p>数据源名称</p>
                    <div>
                      <p>官方ID：{{ scope.row.external_id?scope.row.external_id:'' }}</p>
                      <p>官方名称：{{ scope.row.external_name?scope.row.external_name:'' }}</p>
                      <p>名称(英文)：{{ scope.row.name?scope.row.name:'' }}</p>
                      <p>名称(中文)：{{ scope.row.name_cn?scope.row.name_cn:'' }}</p>
                      <p>称号(英文)：{{ scope.row.title?scope.row.title:'' }}</p>
                      <p>称号(中文)：{{ scope.row.title_cn?scope.row.title_cn:'' }}</p>
                      <p>slug：{{ scope.row.slug?scope.row.slug:'' }}</p>
                    </div>
                  </el-col>
                  <el-col :span="12">
                    <p>相关匹配名称</p>
                    <div v-if="scope.row.binding_expect_info.length > 0">
                      <p>官方ID：{{ scope.row.binding_expect_info[0].external_id?scope.row.binding_expect_info[0].external_id:'' }}</p>
                      <p>官方名称：{{ scope.row.binding_expect_info[0].external_name?scope.row.binding_expect_info[0].external_name:'' }}</p>
                      <p>名称(英文)：{{ scope.row.binding_expect_info[0].name?scope.row.binding_expect_info[0].name:'' }}</p>
                      <p>名称(中文)：{{ scope.row.binding_expect_info[0].name_cn?scope.row.binding_expect_info[0].name_cn:'' }}</p>
                      <p>称号(英文)：{{ scope.row.binding_expect_info[0].title?scope.row.binding_expect_info[0].title:'' }}</p>
                      <p>称号(中文)：{{ scope.row.binding_expect_info[0].title_cn?scope.row.binding_expect_info[0].title_cn:'' }}</p>
                      <p>slug：{{ scope.row.binding_expect_info[0].slug?scope.row.binding_expect_info[0].slug:'' }}</p>
                    </div>
                  </el-col>
                </el-row>
              </div>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column prop="rel_identity_id" :label="'数据源\n英雄ID'" />
        <el-table-column prop="binding_info.id" :label="'ELS\n英雄ID'">
          <template slot-scope="scope">
            <p v-if="scope.row.deal_status == 2 || scope.row.deal_status == 3">{{ scope.row.binding_expect_info[0]? scope.row.binding_expect_info[0].id : '' }}</p>
            <p v-if="scope.row.deal_status !== 2 || scope.row.deal_status !== 3">{{ scope.row.binding_info? scope.row.binding_info.id : '' }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="external_id" :label="'数据源\n官方ID'">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.external_id }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="binding_info.external_id" :label="'ELS\n官方ID'">
          <template slot-scope="scope">
            <p v-if="scope.row.deal_status == 2 || scope.row.deal_status == 3" style="white-space: pre-wrap;">{{ scope.row.binding_expect_info[0]? scope.row.binding_expect_info[0].external_id : '' }}</p>
            <p v-if="scope.row.deal_status !== 2 || scope.row.deal_status !== 3" style="white-space: pre-wrap;">{{ scope.row.binding_info? scope.row.binding_info.external_id : '' }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="external_name" :label="'数据源\n官方名称'">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.external_name }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="binding_info.external_name" :label="'ELS\n官方名称'">
          <template slot-scope="scope">
            <p v-if="scope.row.deal_status == 2 || scope.row.deal_status == 3" style="white-space: pre-wrap;">{{ scope.row.binding_expect_info[0]? scope.row.binding_expect_info[0].external_name : '' }}</p>
            <p v-if="scope.row.deal_status !== 2 || scope.row.deal_status !== 3" style="white-space: pre-wrap;">{{ scope.row.binding_info? scope.row.binding_info.external_name : '' }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="title" :label="'数据源称号\n(英文)'" width="105px">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.title }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="name" :label="'数据源名称\n(英文)'" width="105px">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.name }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="binding_info.title" :label="'ELS称号\n(英文)'">
          <template slot-scope="scope">
            <p v-if="scope.row.deal_status == 2 || scope.row.deal_status == 3" style="white-space: pre-wrap;">{{ scope.row.binding_expect_info[0]? scope.row.binding_expect_info[0].title : '' }}</p>
            <p v-if="scope.row.deal_status !== 2 || scope.row.deal_status !== 3" style="white-space: pre-wrap;">{{ scope.row.binding_info? scope.row.binding_info.title : '' }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="binding_info.name" :label="'ELS名称\n(英文)'">
          <template slot-scope="scope">
            <p v-if="scope.row.deal_status == 2 || scope.row.deal_status == 3" style="white-space: pre-wrap;">{{ scope.row.binding_expect_info[0]? scope.row.binding_expect_info[0].name : '' }}</p>
            <p v-if="scope.row.deal_status !== 2 || scope.row.deal_status !== 3" style="white-space: pre-wrap;">{{ scope.row.binding_info? scope.row.binding_info.name : '' }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="title_cn" :label="'数据源称号\n(中文)'" width="105px">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.title_cn }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="name_cn" :label="'数据源名称\n(中文)'" width="105px">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.name_cn }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="binding_info.title_cn" :label="'ELS称号\n(中文)'">
          <template slot-scope="scope">
            <p v-if="scope.row.deal_status == 2 || scope.row.deal_status == 3" style="white-space: pre-wrap;">{{ scope.row.binding_expect_info[0]? scope.row.binding_expect_info[0].title_cn : '' }}</p>
            <p v-if="scope.row.deal_status !== 2 || scope.row.deal_status !== 3" style="white-space: pre-wrap;">{{ scope.row.binding_info? scope.row.binding_info.title_cn : '' }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="binding_info.name_cn" :label="'ELS名称\n(中文)'">
          <template slot-scope="scope">
            <p v-if="scope.row.deal_status == 2 || scope.row.deal_status == 3" style="white-space: pre-wrap;">{{ scope.row.binding_expect_info[0]? scope.row.binding_expect_info[0].name_cn : '' }}</p>
            <p v-if="scope.row.deal_status !== 2 || scope.row.deal_status !== 3" style="white-space: pre-wrap;">{{ scope.row.binding_info? scope.row.binding_info.name_cn : '' }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="slug" :label="'数据源\nSlug'">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.slug }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="binding_info.slug" :label="'ELS\nSlug'">
          <template slot-scope="scope">
            <p v-if="scope.row.deal_status == 2 || scope.row.deal_status == 3" style="white-space: pre-wrap;">{{ scope.row.binding_expect_info[0]? scope.row.binding_expect_info[0].slug : '' }}</p>
            <p v-if="scope.row.deal_status !== 2 || scope.row.deal_status !== 3" style="white-space: pre-wrap;">{{ scope.row.binding_info? scope.row.binding_info.slug : '' }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="image" :label="'数据源\n头像'">
          <template slot-scope="scope">
            <img v-if="scope.row.image" :src="scope.row.image" style="width: 76px;height: 46px">
          </template>
        </el-table-column>
        <el-table-column prop="image" :label="'ELS\n头像'">
          <template slot-scope="scope">
            <p v-if="scope.row.deal_status == 2 || scope.row.deal_status == 3"><img v-if="scope.row.binding_expect_info[0]" :src="scope.row.binding_expect_info[0].image" style="width: 76px;height: 46px"></p>
            <p v-if="scope.row.deal_status !== 2 || scope.row.deal_status !== 3"><img v-if="scope.row.binding_info" :src="scope.row.binding_info.image" style="width: 76px;height: 46px"></p>
          </template>
        </el-table-column>
        <el-table-column prop="state" label="状态">
          <template slot-scope="scope">
            <p v-if="scope.row.show_state == 1">正常</p>
            <p v-if="scope.row.show_state == 2">移除</p>
            <!--            <div v-if="scope.row.binding_info">-->
            <!--              <p v-if="scope.row.binding_info.state == 1">正常</p>-->
            <!--              <p v-if="scope.row.binding_info.state == 2">移除</p>-->
            <!--            </div>-->
            <!--            <div v-if="scope.row.binding_expect_info.length > 0">-->
            <!--              <p v-if="scope.row.binding_expect_info[0].state == 1">正常</p>-->
            <!--              <p v-if="scope.row.binding_expect_info[0].state == 2">删除</p>-->
            <!--            </div>-->
          </template>
        </el-table-column>
        <el-table-column prop="created_at" label="创建时间" width="100px" />
        <el-table-column prop="modified_at" label="变更时间" width="100px" />
        <el-table-column prop="change_type" label="创建方式" />
        <el-table-column fixed="right" label="操作">
          <template slot-scope="scope">
            <el-button v-if="scope.row.deal_status == 1" type="text" size="small" :loading="scope.row.fullscreenLoading" @click="getAdd(scope.row.id,scope.row)">新增</el-button>
            <el-button v-if="scope.row.deal_status == 2" type="text" size="small" :loading="scope.row.fullscreenLoading" @click="getAdd(scope.row.id,scope.row)">新增</el-button>
            <el-button v-if="scope.row.deal_status == 3" type="text" size="small" :loading="scope.row.fullscreenLoading" @click="getAdd(scope.row.id,scope.row)">新增</el-button>
            <el-button v-if="scope.row.deal_status == 2" type="text" size="small" @click="getBinding(scope.row.id, scope.row.binding_expect_info[0].id)">绑定</el-button>
            <el-button v-if="scope.row.deal_status == 3" type="text" size="small" @click="getBindingInfo(scope.row.id)">多个相似</el-button>
            <el-button type="text" size="small" @click="getManual(scope.row.id)">手动绑定</el-button>
            <el-button type="text" size="small" @click="getInfo(scope.row.rel_identity_id,scope.row.origin_id,scope.row.game_id)">查看详情</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="job_status_name" label="操作记录">
          <template slot-scope="scope">
            <span v-if="scope.row.operation">({{ scope.row.operation.count }})</span>
            <span v-if="!scope.row.operation">(0)</span>
            <el-button v-if="scope.row.operation" type="text" size="small" @click="getHistory(scope.row.operation.resource_id,scope.row.operation.resource_type )">操作记录</el-button>
            <el-button v-if="!scope.row.operation" type="text" size="small">操作记录</el-button>
          </template>
        </el-table-column>
      </el-table>

      <div class="over">
        <el-pagination
          class="pager"
          background
          layout="prev, pager, next"
          :total="total"
          :current-page="req.page"
          :page-size="req.per_page"
          @current-change="changePager"
        />
      </div>
    </el-card>
  </div>
</template>
<script>
import { enum_origin } from '@/api/enum'
import { binding_metadata_list, binding_metadata_add, binding_metadata_binding } from '@/api/binding'

export default {
  name: 'List',
  data() {
    return {
      change_type_list: {},
      enum_origin_list: '',
      all_origin: [],
      total: 20,
      tableData: [],
      req: {
        change_type: '全部',
        deal_status: '0',
        external_id: '',
        rel_identity_id: '',
        id: '',
        slug: '',
        external_name: '',
        title: '',
        name: '',
        state: '0',
        timeArea: '',
        origin: '3',
        page: 1,
        per_page: 20
      },
      options: [],
      value: ''
    }
  },
  mounted() {
    this.enum_origin_info()
    this.finddata()
  },
  methods: {
    tableRowClassName({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'success-row'
      }
    },
    delLine({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'del_line'
      }
    },
    getBindingInfo(id) {
      this.$router.push({ path: '/gamecenter/dataManage/dota2/herolmanage/banding/batchadd', query: { id: id }})
    },
    get_change_type() {
      var tmp = { ...this.enum_origin_list }
      var tmp1 = { desc: '人工' }
      var tmp2 = { desc: '全部' }
      tmp['-1'] = tmp1
      tmp['0'] = tmp2
      this.change_type_list = tmp
    },
    getInfo(rel_identity_id, origin_id, game_id) {
      this.$router.push({ path: '/gamecenter/update/bindingInfo', query: { rel_identity_id: rel_identity_id, origin_id: origin_id, game_id: game_id, resource_type: 'dota2_hero' }})
    },
    getHistory(id, type) {
      this.$router.push({ path: '/gamecenter/update/updateTemplate/operation', query: { id: id, type: type }})
    },
    getBinding(id, master_id) {
      const params = {}
      params['standard_id'] = id
      params['master_id'] = master_id
      params['metadata_type'] = 'dota2_hero'
      binding_metadata_binding(params).then(req => {
        this.$message({
          type: 'success',
          message: '绑定成功！'
        })
        this.finddata()
      })
    },
    getManual(id) {
      this.$prompt('请输入要绑定的ID:', '手动绑定', {
        confirmButtonText: '确认绑定',
        cancelButtonText: '取消',
        inputPattern: /\S/,
        inputErrorMessage: '请输入数字'
      }).then(({ value }) => {
        const params = {}
        params['standard_id'] = id
        params['master_id'] = value
        params['metadata_type'] = 'dota2_hero'
        binding_metadata_binding(params).then(req => {
          this.$message({
            type: 'success',
            message: '绑定成功！'
          })
          this.finddata()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消绑定'
        })
      })
    },
    findInfo() {
      this.req.page = 1
      this.finddata()
    },
    finddata() {
      const params = {}
      params['metadata_type'] = 'dota2_hero'
      params['deal_status'] = this.req.deal_status
      params['external_id'] = this.req.external_id
      params['rel_identity_id'] = this.req.rel_identity_id
      params['id'] = this.req.id
      params['slug'] = this.req.slug
      params['external_name'] = this.req.external_name
      params['title'] = this.req.title
      params['origin'] = this.req.origin
      params['name'] = this.req.name
      params['state'] = this.req.state
      params['change_type'] = this.req.change_type
      if (this.req.timeArea) {
        params['date_begin'] = this.req.timeArea[0]
        params['date_end'] = this.req.timeArea[1]
      }
      params['page'] = this.req.page
      params['per_page'] = this.req.per_page
      binding_metadata_list(params).then(req => {
        this.tableData = req.data.list
        if (this.tableData.length) {
          this.tableData.map(item => {
            this.$set(item, 'fullscreenLoading', false)
            return item
          })
        }
        this.total = 1 * req.data.total
      })
    },
    getAdd(id, row) {
      row.fullscreenLoading = true
      const params = {}
      params['metadata_type'] = 'dota2_hero'
      params['standard_id'] = id
      binding_metadata_add(params).then(req => {
        this.$message({
          type: 'success',
          message: '添加成功！'
        })
        // row.fullscreenLoading = false
        this.finddata()
      }).catch(() => {
        row.fullscreenLoading = false
      })
    },
    enum_origin_info() {
      const params = {}
      enum_origin(params).then(req => {
        this.enum_origin_list = req.data
        this.all_origin.push.apply(this.all_origin, this.enum_origin_list)
        this.get_change_type()
      })
    },
    changePager(pageId) {
      this.req.page = pageId
      this.finddata()
    }
  }
}
</script>

<style scoped>
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
</style>
