<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>scoket信息管理</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="req" :inline="true" label-width="100px" size="mini">
        <el-row>
          <el-col :span="6">
            <el-form-item label="数据源:">
              <el-select v-model="req.origin_id" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="游戏项目:">
              <el-select v-model="req.game_id" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in allgames"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="比赛ID:">
              <el-input v-model="req.match_id" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="比赛名称:">
              <el-input v-model="req.rel_match_title" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="状态:">
              <el-select v-model="req.status" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in match_state_list"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="计划时间:">
              <el-date-picker
                v-model="req.timeAreaBegin"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <!--          <el-col :span="6">-->
          <!--            <el-form-item label="开始时间:">-->
          <!--              <el-date-picker-->
          <!--                v-model="req.begin_at"-->
          <!--                type="datetime"-->
          <!--                value-format="yyyy-MM-dd HH:mm:ss"-->
          <!--                placeholder="选择日期时间"-->
          <!--              />-->
          <!--            </el-form-item>-->
          <!--          </el-col>-->
          <el-col :span="4" :offset="8">
            <el-form-item>
              <el-button type="primary" @click="findInfo">搜索</el-button>
              <el-button type="primary" style="margin-left: 50px" @click="dialogVisible = true">新建</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-dialog
          title="新建"
          :visible.sync="dialogVisible"
          width="60%"
        >
          <el-row>
            <el-col :span="12">
              <el-form-item label="数据源:">
                <el-select v-model="form.origin_id" placeholder="请选择" style="width: 220px">
                  <el-option
                    v-for="(item,index) in enum_origin_list"
                    :key="index"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="游戏项目:">
                <el-select v-model="form.game_id" placeholder="请选择" style="width: 220px">
                  <el-option
                    v-for="(item,index) in games"
                    :key="index"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="比赛ID:">
                <el-input v-model="form.match_id" style="width: 220px" />
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="开始时间:">
                <el-date-picker
                  v-model="form.begin_at"
                  type="datetime"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  placeholder="选择日期时间"
                />
              </el-form-item>
            </el-col>
          </el-row>
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="getadd">提 交</el-button>
          </span>
        </el-dialog>
        <el-dialog
          title="编辑"
          :visible.sync="dialogVisible1"
          width="60%"
        >
          <el-row>
            <el-col :span="12">
              <el-form-item label="数据源:">
                <el-select v-model="form1.origin_id" placeholder="请选择" style="width: 220px">
                  <el-option
                    v-for="(item,index) in enum_origin_list"
                    :key="index"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="游戏项目:">
                <el-select v-model="form1.game_id" placeholder="请选择" style="width: 220px">
                  <el-option
                    v-for="(item,index) in games"
                    :key="index"
                    :label="item.name"
                    :value="''+item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="比赛ID:">
                <el-input v-model="form1.match_id" style="width: 220px" />
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="开始时间:">
                <el-date-picker
                  v-model="form1.begin_at"
                  type="datetime"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  placeholder="选择日期时间"
                />
              </el-form-item>
            </el-col>
          </el-row>
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible1 = false">取 消</el-button>
            <el-button type="primary" @click="getadd1">确认编辑</el-button>
          </span>
        </el-dialog>
      </el-form>
      <el-table
        :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'14px',height:'40px',textAlign:'center'}"
        :cell-style="{textAlign:'center',padding:'3px'}"
        :data="tableData"
        :cell-class-name="delLine"
        :row-class-name="tableRowClassName"
        :style="{'width':'100%'}"
      >
        <el-table-column prop="origin_name" :label="'数据源'" />
        <el-table-column :label="'游戏项目'">
          <template slot-scope="scope">
            <img :src="scope.row.logo" style="width: 20px;height: 20px">
          </template>
        </el-table-column>
        <el-table-column prop="match_id" :label="'比赛ID'" />
        <el-table-column prop="rel_match_title" :label="'比赛名称'">
          <template slot-scope="scope">
            <div>{{ scope.row.t1_name+'VS'+scope.row.t2_name }}</div>
          </template>
        </el-table-column>
        <el-table-column prop="begin_at" :label="'开始时间'" width="110px" />
        <el-table-column prop="end_at" :label="'结束时间'" width="110px" />
        <el-table-column prop="status" :label="'比赛状态'">
          <template slot-scope="scope">
            <p>{{ scope.row.status? match_state_list[scope.row.status].name : '' }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="status1" :label="'服务器1状态'" />
        <el-table-column prop="status1_refresh" :label="'服务器1连接次数'" />
        <el-table-column prop="status2" :label="'服务器2状态'" />
        <el-table-column prop="status2_refresh" :label="'服务器2连接次数'" />
        <el-table-column prop="status3" :label="'服务器3状态'" />
        <el-table-column prop="status3_refresh" :label="'服务器3连接次数'" />
        <el-table-column prop="status4" :label="'服务器4状态'" />
        <el-table-column prop="status4_refresh" :label="'服务器4连接次数'" />
        <el-table-column prop="status5" :label="'服务器5状态'" />
        <el-table-column prop="status5_refresh" :label="'服务器5连接次数'" />
        <el-table-column prop="status6" :label="'服务器6状态'" />
        <el-table-column prop="status6_refresh" :label="'服务器6连接次数'" />
        <el-table-column fixed="right" label="操作">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="getedit(scope.row.id)">编辑</el-button>
            <template v-if="scope.row.flag === '1'">
              <el-button type="text" size="small" style="color: coral" @click="getDel(scope.row.id)">删除</el-button>
            </template>
            <template v-if="scope.row.flag === '2'">
              <el-button type="text" size="small" style="color: green" @click="getReset(scope.row.id)">恢复</el-button>
            </template>
          </template>
        </el-table-column>
        <el-table-column prop="job_status_name" label="操作记录">
          <template slot-scope="scope">
            <span v-if="scope.row.operation">({{ scope.row.operation.count }})</span>
            <span v-if="!scope.row.operation">(0)</span>
            <el-button v-if="scope.row.operation" type="text" size="small" @click="getHistory(scope.row.operation.resource_id,scope.row.operation.resource_type )">操作记录</el-button>
            <el-button v-if="!scope.row.operation" type="text" size="small">操作记录</el-button>
          </template>
        </el-table-column>
      </el-table>

      <div class="over">
        <el-pagination
          class="pager"
          background
          layout="prev, pager, next"
          :total="total"
          :current-page="req.page"
          :page-size="req.per_page"
          @current-change="changePager"
        />
      </div>
    </el-card>
  </div>
</template>
<script>
import { socket_list, socket_edit, socket_detail } from '@/api/match'
import { mapGetters } from 'vuex'
import { get_enums } from '@/api/common'
export default {
  name: 'List',
  data() {
    return {
      match_state_list: [],
      all_match_state_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      all_origin: { id: '', desc: '全部' },
      id: '',
      dialogVisible: false,
      dialogVisible1: false,
      total: 20,
      tableData: [],
      form: {
        origin_id: '',
        game_id: '',
        match_id: '',
        begin_at: ''
      },
      form1: {
        origin_id: '',
        game_id: '',
        match_id: '',
        begin_at: ''
      },
      req: {
        origin_id: '',
        game_id: '',
        match_id: '',
        timeAreaBegin: [],
        rel_match_title: '',
        status: '',
        page: 1,
        per_page: 10
      }
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  mounted() {
    this.get_match_state()
    this.finddata()
  },
  methods: {
    // 比赛状态
    get_match_state() {
      const params = {}
      params['type'] = 'match_state'
      get_enums(params).then(req => {
        this.match_state_list = req.data
        this.match_state_list['0'] = this.all_match_state_list
        this.enum_origin_info()
      })
    },
    enum_origin_info() {
      this.enum_origin_list['0'] = this.all_origin
      // this.all_origin.push.apply(this.all_origin, this.enum_origin_list)
    },
    tableRowClassName({ row, rowIndex }) {
      if (row.flag === '2') {
        return 'success-row'
      }
    },
    delLine({ row, rowIndex }) {
      if (row.flag === '2') {
        return 'del_line'
      }
    },
    getHistory(id, type) {
      this.$router.push({ path: '/gamecenter/update/updateTemplate/operation', query: { id: id, type: type }})
    },
    getedit(id) {
      this.id = id
      const params = {}
      params['id'] = id
      socket_detail(params).then(req => {
        this.form1 = req.data
        this.dialogVisible1 = true
      })
    },
    getadd1() {
      const params = {}
      params['id'] = this.id
      params['origin_id'] = this.form1.origin_id
      params['game_id'] = this.form1.game_id
      params['match_id'] = this.form1.match_id
      params['begin_at'] = this.form1.begin_at
      params['flag'] = '1'
      socket_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '编辑成功！'
        })
        this.dialogVisible1 = false
        this.finddata()
      })
    },
    getReset(id) {
      this.$confirm('确认恢复？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        params['flag'] = '1'
        socket_edit(params).then(req => {
          this.finddata()
          this.$message({
            type: 'success',
            message: '恢复成功！'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    getDel(id) {
      this.$confirm('确认删除？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        params['flag'] = '2'
        socket_edit(params).then(req => {
          this.finddata()
          this.$message({
            type: 'success',
            message: '删除成功！'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    getadd() {
      const params = {}
      params['origin_id'] = this.form.origin_id
      params['game_id'] = this.form.game_id
      params['match_id'] = this.form.match_id
      params['begin_at'] = this.form.begin_at
      params['flag'] = '2'
      socket_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '添加成功！'
        })
        this.dialogVisible = false
        this.finddata()
      })
    },
    findInfo() {
      this.req.page = 1
      this.finddata()
    },
    finddata() {
      const params = {}
      params['origin_id'] = this.req.origin_id
      params['game_id'] = this.req.game_id
      params['match_id'] = this.req.match_id
      params['rel_match_title'] = this.req.rel_match_title
      params['status'] = this.req.status
      if (this.req.timeAreaBegin) {
        params['date_begin'] = this.req.timeAreaBegin[0]
        params['date_end'] = this.req.timeAreaBegin[1]
      }
      params['page'] = this.req.page
      params['per_page'] = this.req.per_page
      socket_list(params).then(req => {
        this.tableData = req.data.list
        this.total = 1 * req.data.total
      })
    },
    changePager(pageId) {
      this.req.page = pageId
      this.finddata()
    }
  }
}
</script>

<style scoped>
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
</style>
