<template>
  <div>
    <div style="margin-top: 20px">
      <el-radio-group v-model="radio" size="small">
        <el-radio-button label="预览模式" />
        <el-radio-button label="编辑模式" />
      </el-radio-group>
    </div>
    <div id="myChart1" />
  </div>
</template>

<script>
var data = {
  label: {
    name: '综合授信额度',
    backgroundColor: '#F4F4F4',
    borderRadius: [0, 0, 5, 5],
    formatter: [
      '{first|综合授信额度}',
      '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
    ].join('\n'),
    rich: {
      first: {
        backgroundColor: '#078E34',
        color: '#fff',
        align: 'center',
        width: 135,
        height: 30,
        borderRadius: [5, 5, 0, 0]
      },
      second: {
        color: '#888',
        align: 'center',
        lineHeight: 17
      }
    }
  },
  children: [
    {
      label: {
        name: '渠道额度',
        id: 1,
        formatter: [
          '{first|渠道额度}'
        ].join('\n'),
        rich: {
          first: {
            backgroundColor: '#3AC082',
            color: '#fff',
            align: 'center',
            width: 135,
            height: 65,
            borderRadius: 5
          }
        }
      },
      children: [{
        label: {
          name: '保理额度',
          formatter: [
            '{first|保理额度}'
          ].join('\n'),
          rich: {
            first: {
              backgroundColor: '#3AC082',
              color: '#fff',
              align: 'center',
              width: 135,
              height: 65,
              borderRadius: 5
            }
          }
        },
        children: [{
          label: {
            name: '反向保理',
            backgroundColor: '#F4F4F4',
            borderRadius: [0, 0, 5, 5],
            formatter: [
              '{first|反向保理}',
              '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
            ].join('\n'),
            rich: {
              first: {
                backgroundColor: '#078E34',
                color: '#fff',
                align: 'center',
                width: 135,
                height: 30,
                borderRadius: [5, 5, 0, 0]
              },
              second: {
                color: '#888',
                align: 'center',
                lineHeight: 17
              }
            }
          }
        }, {
          label: {
            name: '反向保理',
            backgroundColor: '#F4F4F4',
            borderRadius: [0, 0, 5, 5],
            formatter: [
              '{first|反向保理}',
              '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
            ].join('\n'),
            rich: {
              first: {
                backgroundColor: '#078E34',
                color: '#fff',
                align: 'center',
                width: 135,
                height: 30,
                borderRadius: [5, 5, 0, 0]
              },
              second: {
                color: '#888',
                align: 'center',
                lineHeight: 17
              }
            }
          }
        }, {
          label: {
            name: '反向保理',
            backgroundColor: '#F4F4F4',
            borderRadius: [0, 0, 5, 5],
            formatter: [
              '{first|反向保理}',
              '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
            ].join('\n'),
            rich: {
              first: {
                backgroundColor: '#078E34',
                color: '#fff',
                align: 'center',
                width: 135,
                height: 30,
                borderRadius: [5, 5, 0, 0]
              },
              second: {
                color: '#888',
                align: 'center',
                lineHeight: 17
              }
            }
          }
        }, {
          label: {
            name: '反向保理',
            backgroundColor: '#F4F4F4',
            borderRadius: [0, 0, 5, 5],
            formatter: [
              '{first|反向保理}',
              '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
            ].join('\n'),
            rich: {
              first: {
                backgroundColor: '#078E34',
                color: '#fff',
                align: 'center',
                width: 135,
                height: 30,
                borderRadius: [5, 5, 0, 0]
              },
              second: {
                color: '#888',
                align: 'center',
                lineHeight: 17
              }
            }
          }
        }, {
          label: {
            name: '反向保理',
            backgroundColor: '#F4F4F4',
            borderRadius: [0, 0, 5, 5],
            formatter: [
              '{first|反向保理}',
              '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
            ].join('\n'),
            rich: {
              first: {
                backgroundColor: '#078E34',
                color: '#fff',
                align: 'center',
                width: 135,
                height: 30,
                borderRadius: [5, 5, 0, 0]
              },
              second: {
                color: '#888',
                align: 'center',
                lineHeight: 17
              }
            }
          }
        }]
      }]
    },
    {
      label: {
        name: '反向保理',
        formatter: [
          '{first|担保/(乐)集团/其他额度}'
        ].join('\n'),
        rich: {
          first: {
            backgroundColor: '#3AC082',
            color: '#fff',
            align: 'center',
            width: 135,
            height: 65,
            borderRadius: 5
          }
        }
      },
      children: [{
        label: {
          name: '反向保理',
          formatter: [
            '{first|保理额度}'
          ].join('\n'),
          rich: {
            first: {
              backgroundColor: '#3AC082',
              color: '#fff',
              align: 'center',
              width: 135,
              height: 65,
              borderRadius: 5
            }
          }
        },
        children: [{
          label: {
            name: '反向保理',
            backgroundColor: '#F4F4F4',
            borderRadius: [0, 0, 5, 5],
            formatter: [
              '{first|正向保理}',
              '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
            ].join('\n'),
            rich: {
              first: {
                backgroundColor: '#B8D87E',
                color: '#fff',
                align: 'center',
                width: 135,
                height: 30,
                borderRadius: [5, 5, 0, 0]
              },
              second: {
                color: '#888',
                align: 'center',
                lineHeight: 17
              }
            }
          }
        }, {
          label: {
            name: '反向保理',
            backgroundColor: '#F4F4F4',
            borderRadius: [0, 0, 5, 5],
            formatter: [
              '{first|正向保理}',
              '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
            ].join('\n'),
            rich: {
              first: {
                backgroundColor: '#B8D87E',
                color: '#fff',
                align: 'center',
                width: 135,
                height: 30,
                borderRadius: [5, 5, 0, 0]
              },
              second: {
                color: '#888',
                align: 'center',
                lineHeight: 17
              }
            }
          }
        }, {
          label: {
            name: '反向保理',
            backgroundColor: '#F4F4F4',
            borderRadius: [0, 0, 5, 5],
            formatter: [
              '{first|正向保理}',
              '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
            ].join('\n'),
            rich: {
              first: {
                backgroundColor: '#B8D87E',
                color: '#fff',
                align: 'center',
                width: 135,
                height: 30,
                borderRadius: [5, 5, 0, 0]
              },
              second: {
                color: '#888',
                align: 'center',
                lineHeight: 17
              }
            }
          }
        }, {
          label: {
            name: '反向保理',
            backgroundColor: '#F4F4F4',
            borderRadius: [0, 0, 5, 5],
            formatter: [
              '{first|正向保理}',
              '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
            ].join('\n'),
            rich: {
              first: {
                backgroundColor: '#B8D87E',
                color: '#fff',
                align: 'center',
                width: 135,
                height: 30,
                borderRadius: [5, 5, 0, 0]
              },
              second: {
                color: '#888',
                align: 'center',
                lineHeight: 17
              }
            }
          }
        }]
      },
      {
        label: {
          name: '反向保理',
          formatter: [
            '{first|租赁额度}'
          ].join('\n'),
          rich: {
            first: {
              backgroundColor: '#3AC082',
              color: '#fff',
              align: 'center',
              width: 135,
              height: 65,
              borderRadius: 5
            }
          }
        },
        children: [
          {
            label: {
              name: '反向保理',
              backgroundColor: '#F4F4F4',
              borderRadius: [0, 0, 5, 5],
              formatter: [
                '{first|车辆租赁}',
                '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
              ].join('\n'),
              rich: {
                first: {
                  backgroundColor: '#FF6C6A',
                  color: '#fff',
                  align: 'center',
                  width: 135,
                  height: 30,
                  borderRadius: [5, 5, 0, 0]
                },
                second: {
                  color: '#888',
                  align: 'center',
                  lineHeight: 17
                }
              }
            }
          }, {
            label: {
              name: '反向保理',
              backgroundColor: '#F4F4F4',
              borderRadius: [0, 0, 5, 5],
              formatter: [
                '{first|车辆租赁}',
                '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
              ].join('\n'),
              rich: {
                first: {
                  backgroundColor: '#FF6C6A',
                  color: '#fff',
                  align: 'center',
                  width: 135,
                  height: 30,
                  borderRadius: [5, 5, 0, 0]
                },
                second: {
                  color: '#888',
                  align: 'center',
                  lineHeight: 17
                }
              }
            }
          }, {
            label: {
              name: '反向保理',
              backgroundColor: '#F4F4F4',
              borderRadius: [0, 0, 5, 5],
              formatter: [
                '{first|车辆租赁}',
                '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
              ].join('\n'),
              rich: {
                first: {
                  backgroundColor: '#FF6C6A',
                  color: '#fff',
                  align: 'center',
                  width: 135,
                  height: 30,
                  borderRadius: [5, 5, 0, 0]
                },
                second: {
                  color: '#888',
                  align: 'center',
                  lineHeight: 17
                }
              }
            }
          }, {
            label: {
              name: '反向保理',
              backgroundColor: '#F4F4F4',
              borderRadius: [0, 0, 5, 5],
              formatter: [
                '{first|车辆租赁}',
                '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
              ].join('\n'),
              rich: {
                first: {
                  backgroundColor: '#FF6C6A',
                  color: '#fff',
                  align: 'center',
                  width: 135,
                  height: 30,
                  borderRadius: [5, 5, 0, 0]
                },
                second: {
                  color: '#888',
                  align: 'center',
                  lineHeight: 17
                }
              }
            }
          }, {
            label: {
              name: '反向保理',
              backgroundColor: '#F4F4F4',
              borderRadius: [0, 0, 5, 5],
              formatter: [
                '{first|车辆租赁}',
                '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
              ].join('\n'),
              rich: {
                first: {
                  backgroundColor: '#FF6C6A',
                  color: '#fff',
                  align: 'center',
                  width: 135,
                  height: 30,
                  borderRadius: [5, 5, 0, 0]
                },
                second: {
                  color: '#888',
                  align: 'center',
                  lineHeight: 17
                }
              }
            }
          }
        ]
      }]
    },
    {
      label: {
        name: '反向保理',
        formatter: [
          '{first|担保/(乐)集团/其他额度}'
        ].join('\n'),
        rich: {
          first: {
            backgroundColor: '#3AC082',
            color: '#fff',
            align: 'center',
            width: 135,
            height: 65,
            borderRadius: 5
          }
        }
      },
      children: [{
        label: {
          name: '反向保理',
          formatter: [
            '{first|保理额度}'
          ].join('\n'),
          rich: {
            first: {
              backgroundColor: '#3AC082',
              color: '#fff',
              align: 'center',
              width: 135,
              height: 65,
              borderRadius: 5
            }
          }
        },
        children: [{
          label: {
            name: '反向保理',
            backgroundColor: '#F4F4F4',
            borderRadius: [0, 0, 5, 5],
            formatter: [
              '{first|正向保理}',
              '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
            ].join('\n'),
            rich: {
              first: {
                backgroundColor: '#B8D87E',
                color: '#fff',
                align: 'center',
                width: 135,
                height: 30,
                borderRadius: [5, 5, 0, 0]
              },
              second: {
                color: '#888',
                align: 'center',
                lineHeight: 17
              }
            }
          }
        }, {
          label: {
            name: '反向保理',
            backgroundColor: '#F4F4F4',
            borderRadius: [0, 0, 5, 5],
            formatter: [
              '{first|正向保理}',
              '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
            ].join('\n'),
            rich: {
              first: {
                backgroundColor: '#B8D87E',
                color: '#fff',
                align: 'center',
                width: 135,
                height: 30,
                borderRadius: [5, 5, 0, 0]
              },
              second: {
                color: '#888',
                align: 'center',
                lineHeight: 17
              }
            }
          }
        }, {
          label: {
            name: '反向保理',
            backgroundColor: '#F4F4F4',
            borderRadius: [0, 0, 5, 5],
            formatter: [
              '{first|正向保理}',
              '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
            ].join('\n'),
            rich: {
              first: {
                backgroundColor: '#B8D87E',
                color: '#fff',
                align: 'center',
                width: 135,
                height: 30,
                borderRadius: [5, 5, 0, 0]
              },
              second: {
                color: '#888',
                align: 'center',
                lineHeight: 17
              }
            }
          }
        }, {
          label: {
            name: '反向保理',
            backgroundColor: '#F4F4F4',
            borderRadius: [0, 0, 5, 5],
            formatter: [
              '{first|正向保理}',
              '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
            ].join('\n'),
            rich: {
              first: {
                backgroundColor: '#B8D87E',
                color: '#fff',
                align: 'center',
                width: 135,
                height: 30,
                borderRadius: [5, 5, 0, 0]
              },
              second: {
                color: '#888',
                align: 'center',
                lineHeight: 17
              }
            }
          }
        }]
      },
      {
        label: {
          name: '反向保理',
          formatter: [
            '{first|租赁额度}'
          ].join('\n'),
          rich: {
            first: {
              backgroundColor: '#3AC082',
              color: '#fff',
              align: 'center',
              width: 135,
              height: 65,
              borderRadius: 5
            }
          }
        },
        children: [
          {
            label: {
              name: '反向保理',
              backgroundColor: '#F4F4F4',
              borderRadius: [0, 0, 5, 5],
              formatter: [
                '{first|车辆租赁}',
                '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
              ].join('\n'),
              rich: {
                first: {
                  backgroundColor: '#FF6C6A',
                  color: '#fff',
                  align: 'center',
                  width: 135,
                  height: 30,
                  borderRadius: [5, 5, 0, 0]
                },
                second: {
                  color: '#888',
                  align: 'center',
                  lineHeight: 17
                }
              }
            }
          }, {
            label: {
              name: '反向保理',
              backgroundColor: '#F4F4F4',
              borderRadius: [0, 0, 5, 5],
              formatter: [
                '{first|车辆租赁}',
                '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
              ].join('\n'),
              rich: {
                first: {
                  backgroundColor: '#FF6C6A',
                  color: '#fff',
                  align: 'center',
                  width: 135,
                  height: 30,
                  borderRadius: [5, 5, 0, 0]
                },
                second: {
                  color: '#888',
                  align: 'center',
                  lineHeight: 17
                }
              }
            }
          }, {
            label: {
              name: '反向保理',
              backgroundColor: '#F4F4F4',
              borderRadius: [0, 0, 5, 5],
              formatter: [
                '{first|车辆租赁}',
                '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
              ].join('\n'),
              rich: {
                first: {
                  backgroundColor: '#FF6C6A',
                  color: '#fff',
                  align: 'center',
                  width: 135,
                  height: 30,
                  borderRadius: [5, 5, 0, 0]
                },
                second: {
                  color: '#888',
                  align: 'center',
                  lineHeight: 17
                }
              }
            }
          }, {
            label: {
              name: '反向保理',
              backgroundColor: '#F4F4F4',
              borderRadius: [0, 0, 5, 5],
              formatter: [
                '{first|车辆租赁}',
                '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
              ].join('\n'),
              rich: {
                first: {
                  backgroundColor: '#FF6C6A',
                  color: '#fff',
                  align: 'center',
                  width: 135,
                  height: 30,
                  borderRadius: [5, 5, 0, 0]
                },
                second: {
                  color: '#888',
                  align: 'center',
                  lineHeight: 17
                }
              }
            }
          }, {
            label: {
              name: '反向保理',
              backgroundColor: '#F4F4F4',
              borderRadius: [0, 0, 5, 5],
              formatter: [
                '{first|车辆租赁}',
                '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
              ].join('\n'),
              rich: {
                first: {
                  backgroundColor: '#FF6C6A',
                  color: '#fff',
                  align: 'center',
                  width: 135,
                  height: 30,
                  borderRadius: [5, 5, 0, 0]
                },
                second: {
                  color: '#888',
                  align: 'center',
                  lineHeight: 17
                }
              }
            }
          }
        ]
      },
      {
        label: {
          name: '反向保理',
          formatter: [
            '{first|租赁额度}'
          ].join('\n'),
          rich: {
            first: {
              backgroundColor: '#3AC082',
              color: '#fff',
              align: 'center',
              width: 135,
              height: 65,
              borderRadius: 5
            }
          }
        },
        children: [
          {
            label: {
              name: '反向保理',
              backgroundColor: '#F4F4F4',
              borderRadius: [0, 0, 5, 5],
              formatter: [
                '{first|车辆租赁}',
                '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
              ].join('\n'),
              rich: {
                first: {
                  backgroundColor: '#FF6C6A',
                  color: '#fff',
                  align: 'center',
                  width: 135,
                  height: 30,
                  borderRadius: [5, 5, 0, 0]
                },
                second: {
                  color: '#888',
                  align: 'center',
                  lineHeight: 17
                }
              }
            }
          }, {
            label: {
              name: '反向保理',
              backgroundColor: '#F4F4F4',
              borderRadius: [0, 0, 5, 5],
              formatter: [
                '{first|车辆租赁}',
                '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
              ].join('\n'),
              rich: {
                first: {
                  backgroundColor: '#FF6C6A',
                  color: '#fff',
                  align: 'center',
                  width: 135,
                  height: 30,
                  borderRadius: [5, 5, 0, 0]
                },
                second: {
                  color: '#888',
                  align: 'center',
                  lineHeight: 17
                }
              }
            }
          }, {
            label: {
              name: '反向保理',
              backgroundColor: '#F4F4F4',
              borderRadius: [0, 0, 5, 5],
              formatter: [
                '{first|车辆租赁}',
                '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
              ].join('\n'),
              rich: {
                first: {
                  backgroundColor: '#FF6C6A',
                  color: '#fff',
                  align: 'center',
                  width: 135,
                  height: 30,
                  borderRadius: [5, 5, 0, 0]
                },
                second: {
                  color: '#888',
                  align: 'center',
                  lineHeight: 17
                }
              }
            }
          }, {
            label: {
              name: '反向保理',
              backgroundColor: '#F4F4F4',
              borderRadius: [0, 0, 5, 5],
              formatter: [
                '{first|车辆租赁}',
                '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
              ].join('\n'),
              rich: {
                first: {
                  backgroundColor: '#FF6C6A',
                  color: '#fff',
                  align: 'center',
                  width: 135,
                  height: 30,
                  borderRadius: [5, 5, 0, 0]
                },
                second: {
                  color: '#888',
                  align: 'center',
                  lineHeight: 17
                }
              }
            }
          }, {
            label: {
              name: '反向保理',
              backgroundColor: '#F4F4F4',
              borderRadius: [0, 0, 5, 5],
              formatter: [
                '{first|车辆租赁}',
                '{second|(CR20190912000013)\n获批金额：100\n币种：人民币}'
              ].join('\n'),
              rich: {
                first: {
                  backgroundColor: '#FF6C6A',
                  color: '#fff',
                  align: 'center',
                  width: 135,
                  height: 30,
                  borderRadius: [5, 5, 0, 0]
                },
                second: {
                  color: '#888',
                  align: 'center',
                  lineHeight: 17
                }
              }
            }
          }
        ]
      }
      ]
    }
  ]
}
export default {
  name: 'Chart',
  data() {
    return {
      radio: '预览模式',
      myChart: ''
    }
  },
  watch: {
    options: {
      handler(options) {
        // 设置true清空echart缓存
        this.chart.setOption(options, true)
        this.getAuto()
      },
      deep: true
    }
  },
  mounted() {
    this.drawLine()
    // 监听缩放
    window.addEventListener('resize', () => {
      this.getAuto()
    })
  },
  methods: {
    drawLine() {
      // 基于准备好的dom，初始化echarts实例
      this.myChart = this.$echarts.init(document.getElementById('myChart1'))
      // 事件监听 mousedown事件比其它任何事件都快所以编辑有这个事件，预览模式用这个事件自适应反应不过来，因此两个事件要切换使用
      this.myChart.on('click', this.getInfo)
      this.myChart.on('mousedown', this.getEdit)

      // 绘制图表
      this.myChart.setOption({
        tooltip: {
          // 回调函数显示
          formatter: function(params) {
            var str = params.data.label.name
            return str
          },
          backgroundColor: '#8CC7B5',
          padding: [5, 10, 5, 10],
          textStyle: {
            fontFamily: 'Courier New'
          }
        },
        series: [
          {
            type: 'tree',
            id: 0,
            name: 'tree1',
            data: [data],

            top: '2%',
            left: '8%',
            bottom: '5%',
            right: '20%',
            // symbol: "rect",//节点图标
            symbolSize: [10, 10], // 节点大小
            roam: 'move', // 允许平移或缩放
            edgeShape: 'polyline',
            edgeForkPosition: '63%',
            initialTreeDepth: 3,

            lineStyle: {
              width: 2
            },
            label: {// 每个节点所对应的标签的样式
              backgroundColor: '#fff',
              verticalAlign: 'middle',
              // overflow: 'break',//超出宽度换行
              // width: 250,
              align: 'right'
            },

            leaves: {// 叶子节点的特殊配置，如上面的树图示例中，叶子节点和非叶子节点的标签位置不同
              label: {
                position: 'right',
                verticalAlign: 'middle',
                // overflow: 'break',//超出宽度换行
                align: 'left'
              }
            },

            emphasis: {
              focus: 'descendant'
            },

            expandAndCollapse: true, // 子树折叠和展开的交互，默认打开
            animationDuration: 550, // 初始动画的时长，支持回调函数,默认1000
            animationDurationUpdate: 750// 数据更新动画的时长，默认300
          }
        ]
      })
      this.getAuto()
    },
    getEdit(params) {
      if (this.radio == '编辑模式') {
        const id = params.dataIndex
        // 通过_chartsViews[0]._data.tree._nodes可以拿到节点组信息
        const curNode = this.myChart._chartsViews[0]._data.tree._nodes.find(item => {
          return item.dataIndex === id
        })
        if (curNode) {
          curNode.isExpand = false
        }
      }
    },
    getInfo(params) {
      if (this.radio == '预览模式') {
        this.getAuto()
      }
      // 更换节点图标
      // params.data.symbol = 'circle'
    },
    getAuto() { // 自动改变树高度
      var container = document.getElementById('myChart1')
      var allNode = 0
      var nodes = this.myChart._chartsViews[0]._data._graphicEls

      for (var i = 0, count = nodes.length; i < count; i++) {
        var node = nodes[i]
        if (node === undefined) { continue }
        allNode++
      }
      console.log('allNode', allNode)

      var height = window.innerHeight
      var currentHeight = 90 * allNode
      var newWidth = Math.max(currentHeight, height / 4)
      container.style.width = window.innerWidth + 'px'
      container.style.height = newWidth + 'px'
      console.log('高度', newWidth)
      this.myChart.resize()
    }
  }
}
</script>

<style scoped>

</style>
