<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>新建道具</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form ref="form" :rules="rules" :model="form" label-width="140px">
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="名称（英文）" prop="name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="名称（中文）">
              <el-input v-model="form.name_cn" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="状态" prop="state">
              <el-select v-model="form.state" placeholder="请选择" style="width: 100%">
                <el-option label="正常" value="1" />
                <el-option label="移除" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="官方ID">
              <el-input v-model="form.external_id" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="官方名称">
              <el-input v-model="form.external_name" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="总费用">
              <el-input v-model="form.total_cost" @keyup.native="form.total_cost = proving(form.total_cost)" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="是否为卷轴" prop="is_recipe">
              <el-select v-model="form.is_recipe" placeholder="请选择" style="width: 100%">
                <el-option label="空" value="" />
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="神秘商店购买">
              <el-select v-model="form.is_secret_shop" placeholder="请选择" style="width: 100%">
                <el-option label="空" value="" />
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="家中商店购买">
              <el-select v-model="form.is_home_shop" placeholder="请选择" style="width: 100%">
                <el-option label="空" value="" />
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8" :offset="0">
            <el-form-item label="是否是野怪掉落">
              <el-select v-model="form.is_neutral_drop" placeholder="请选择" style="width: 100%">
                <el-option label="空" value="" />
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="Slug" prop="slug">
              <el-input v-model="form.slug" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="图标" prop="image">
              <el-upload
                class="avatar-uploader"
                :action="getUploadUrl()"
                :on-success="uploads"
                :before-upload="beforeAvatarUpload"
              >
                <img v-if="form.image" style="width: 88px;height: 64px" :src="form.image" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon" />
              </el-upload>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="描述（英文）">
              <el-input
                v-model="form.description"
                type="textarea"
                :rows="4"
                maxlength="1000"
                show-word-limit
              />
            </el-form-item>

          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="描述（中文）">
              <el-input
                v-model="form.description_cn"
                type="textarea"
                :rows="4"
                maxlength="1000"
                show-word-limit
              />
            </el-form-item>

          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <div style="padding-top: 45px;text-align: center">
            <el-button type="primary" @click="onSubmit('form')">确认创建</el-button>
          </div>
        </el-row>
      </el-form>
    </el-card>
  </div>
</template>
<script>
import { getUploadBaseApi } from '@/api/file.js'
import { dota_propAdd } from '@/api/metadata'
export default {
  name: 'Add',
  data() {
    const generateData = _ => {
      const data = []
      const cities = ['上海', '北京', '广州', '深圳', '南京', '西安', '成都']
      const pinyin = ['shanghai', 'beijing', 'guangzhou', 'shenzhen', 'nanjing', 'xian', 'chengdu']
      cities.forEach((city, index) => {
        data.push({
          label: city,
          key: index,
          pinyin: pinyin[index]
        })
      })
      return data
    }
    return {
      url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
      textarea: '',
      form: {
        name: '',
        name_cn: '',
        state: '',
        external_id: '',
        external_name: '',
        total_cost: '',
        is_recipe: '',
        is_secret_shop: '',
        is_home_shop: '',
        is_neutral_drop: '',
        slug: '',
        image: '',
        description: '',
        description_cn: ''
      },
      data: generateData(),
      value: [],
      filterMethod(query, item) {
        return item.pinyin.indexOf(query) > -1
      },
      rules: {
        name: [
          { required: true, message: '请输入名称', trigger: 'change' }
        ],
        state: [
          { required: true, message: '请选择状态', trigger: 'change' }
        ],
        image: [
          { required: true, message: '请上传图标', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    'form.name': {
      handler: function() {
        this.form.slug = this.$yangJian.slug_rule(this.form.name)
      }
    }
  },
  mounted() {
  },
  methods: {
    proving(data) {
      return this.$yangJian.integer_proving(data)
    },
    beforeAvatarUpload(file) {
      console.log('file')
      console.log(file)
      // const isPNG = file.type === 'image/png || svg'
      const testmsg = file.type === 'image/png'
      const isLt1M = file.size / 1024 / 1024 < 1
      if (!testmsg) {
        this.$message.error('只能上传PNG格式!')
        return false
      }
      if (!isLt1M) {
        this.$message({
          message: '上传图标大小不能超过 1MB!',
          type: 'error'
        })
        return false
      }
      return testmsg || isLt1M
    },
    uploads(res, file) {
      this.form.image = res.data.url
      console.log(res)
      // console.log(file)
    },
    getUploadUrl() {
      return getUploadBaseApi()
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          params['name'] = this.form.name
          params['name_cn'] = this.form.name_cn
          params['state'] = this.form.state
          params['external_id'] = this.form.external_id
          params['external_name'] = this.form.external_name
          params['total_cost'] = this.form.total_cost
          params['is_recipe'] = this.form.is_recipe
          params['is_secret_shop'] = this.form.is_secret_shop
          params['is_home_shop'] = this.form.is_home_shop
          params['is_neutral_drop'] = this.form.is_neutral_drop
          params['slug'] = this.form.slug
          params['image'] = this.form.image
          params['description'] = this.form.description
          params['description_cn'] = this.form.description_cn
          dota_propAdd(params).then(req => {
            this.$message({
              type: 'success',
              message: '添加成功！'
            })
            this.$router.push('/gamecenter/dataManage/dota2/prop/list')
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
