<template>
  <div id="myChart" style="width: 1500px;height: 500px;" />
</template>

<script>
export default {
  name: 'Index',
  props: {
    newList: {}
  },
  data() {
    return {
      ingame_timestamp: [],
      experience_diff: [],
      gold_diff: []
    }
  },
  mounted() {
    this.getInfo()
    this.drawLine()
  },
  methods: {
    getInfo() {
      if (this.newList.experience_diff_timeline) {
        this.newList.experience_diff_timeline.forEach(item => {
          this.ingame_timestamp.push(this.$yangJian.sec_format_tiem(item.ingame_timestamp))
          this.experience_diff.push(item.experience_diff)
        })
      }
      if (this.newList.net_worth_diff_timeline) {
        this.newList.net_worth_diff_timeline.forEach(item => {
          this.gold_diff.push(item.net_worth_diff)
        })
      }
      if (this.newList.gold_diff_timeline) {
        this.newList.gold_diff_timeline.forEach(item => {
          this.gold_diff.push(item.gold_diff)
        })
      }
    },
    drawLine() {
      // 基于准备好的dom，初始化echarts实例
      const myChart = this.$echarts.init(document.getElementById('myChart'))
      // 绘制图表
      myChart.setOption({
        title: {
          text: '经济/经验折线图'
        },
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          data: ['经济', '经验']
        },
        grid: { // 直角坐标系内绘图网格
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        toolbox: { // 工具箱
          feature: {
            saveAsImage: {}
          }
        },
        xAxis: { // 直角坐标系 grid 中的 x 轴
          type: 'category',
          boundaryGap: false,
          data: this.ingame_timestamp
        },
        yAxis: {
          type: 'value'
        },
        series: [
          {
            name: '经济',
            type: 'line',
            data: this.gold_diff
          },
          {
            name: '经验',
            type: 'line',
            data: this.experience_diff
          }
        ]
      })
    }
  }
}
</script>

<style scoped>

</style>
