<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>设置默认值</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form label-width="100px">
        <el-tabs v-model="activeName" type="card" :before-leave="(item)=>{return beforeLeave(item, 'form')}">
          <el-tab-pane label="战队">
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <p>核心内容：</p>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="使用数据源">
                  <el-select v-model="team['team.core_data'].origin_id" placeholder="ELS">
                    <el-option
                      v-for="(item,index) in enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="更新方式">
                  <el-select v-model="team['team.core_data'].update_type" placeholder="请选择">
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <p>基础内容：</p>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="使用数据源">
                  <el-select v-model="team['team.base_data'].origin_id" placeholder="飞鲸">
                    <el-option
                      v-for="(item,index) in enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="更新方式">
                  <el-select v-model="team['team.base_data'].update_type" placeholder="请选择">
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <p>战队选手：</p>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="使用数据源">
                  <el-select v-model="team['team.team_player'].origin_id" placeholder="HLTV">
                    <el-option
                      v-for="(item,index) in enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="更新方式">
                  <el-select v-model="team['team.team_player'].update_type" placeholder="请选择">
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit1">确认修改</el-button>
              </div>
            </el-row>
          </el-tab-pane>
          <el-tab-pane label="选手">
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <p>核心内容：</p>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="使用数据源">
                  <el-select v-model="player['player.core_data'].origin_id" placeholder="ELS">
                    <el-option
                      v-for="(item,index) in enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="更新方式">
                  <el-select v-model="player['player.core_data'].update_type" placeholder="请选择">
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <p>基础内容：</p>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="使用数据源">
                  <el-select v-model="player['player.base_data'].origin_id" placeholder="飞鲸">
                    <el-option
                      v-for="(item,index) in enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="更新方式">
                  <el-select v-model="player['player.base_data'].update_type" placeholder="请选择">
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit2">确认修改</el-button>
              </div>
            </el-row>
          </el-tab-pane>
          <el-tab-pane label="赛事" name="first">
            <!--            <el-tabs type="card">-->
            <!--              <el-tab-pane label="赛事" name="first" />-->
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <p>核心内容：</p>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="使用数据源">
                  <el-select v-model="tournament['tournament.core_data'].origin_id" placeholder="ELS">
                    <el-option
                      v-for="(item,index) in enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="更新方式">
                  <el-select v-model="tournament['tournament.core_data'].update_type" placeholder="请选择">
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <p>基础内容：</p>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="使用数据源">
                  <el-select v-model="tournament['tournament.base_data'].origin_id" placeholder="飞鲸">
                    <el-option
                      v-for="(item,index) in enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="更新方式">
                  <el-select v-model="tournament['tournament.base_data'].update_type" placeholder="请选择">
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <p>参赛战队：</p>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="使用数据源">
                  <el-select v-model="tournament['tournament.attend_team'].origin_id" placeholder="HLTV">
                    <el-option
                      v-for="(item,index) in enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="更新方式">
                  <el-select v-model="tournament['tournament.attend_team'].update_type" placeholder="请选择">
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit3">确认修改</el-button>
              </div>
            </el-row>
            <!--            </el-tabs>-->
            <!--            <el-tabs type="card">-->
            <!--              <el-tab-pane label="子赛事" name="first" />-->
            <!--              <el-row type="flex" class="row-bg">-->
            <!--                <el-col :span="6" :offset="4">-->
            <!--                  <p>核心内容：</p>-->
            <!--                </el-col>-->
            <!--              </el-row>-->
            <!--              <el-row type="flex" class="row-bg">-->
            <!--                <el-col :span="6" :offset="4">-->
            <!--                  <el-form-item label="使用数据源">-->
            <!--                    <el-select v-model="tournament.son_tournament.core_data_config" placeholder="ELS">-->
            <!--                      <el-option label="区域一" value="1" />-->
            <!--                      <el-option label="区域二" value="2" />-->
            <!--                    </el-select>-->
            <!--                  </el-form-item>-->
            <!--                </el-col>-->
            <!--                <el-col :span="6" :offset="3">-->
            <!--                  <el-form-item label="更新方式">-->
            <!--                    <el-select v-model="tournament.son_tournament.core_data_mode" placeholder="请选择">-->
            <!--                      <el-option label="不更新" value="1" />-->
            <!--                      <el-option label="手动" value="2" />-->
            <!--                      <el-option label="自动" value="3" />-->
            <!--                    </el-select>-->
            <!--                  </el-form-item>-->
            <!--                </el-col>-->
            <!--              </el-row>-->
            <!--              <el-row type="flex" class="row-bg">-->
            <!--                <el-col :span="6" :offset="4">-->
            <!--                  <p>基础内容：</p>-->
            <!--                </el-col>-->
            <!--              </el-row>-->
            <!--              <el-row type="flex" class="row-bg">-->
            <!--                <el-col :span="6" :offset="4">-->
            <!--                  <el-form-item label="使用数据源">-->
            <!--                    <el-select v-model="tournament.son_tournament.base_data_config" placeholder="飞鲸">-->
            <!--                      <el-option label="区域一" value="1" />-->
            <!--                      <el-option label="区域二" value="2" />-->
            <!--                    </el-select>-->
            <!--                  </el-form-item>-->
            <!--                </el-col>-->
            <!--                <el-col :span="6" :offset="3">-->
            <!--                  <el-form-item label="更新方式">-->
            <!--                    <el-select v-model="tournament.son_tournament.base_data_model" placeholder="请选择">-->
            <!--                      <el-option label="不更新" value="1" />-->
            <!--                      <el-option label="手动" value="2" />-->
            <!--                      <el-option label="自动" value="3" />-->
            <!--                    </el-select>-->
            <!--                  </el-form-item>-->
            <!--                </el-col>-->
            <!--              </el-row>-->
            <!--              <el-row type="flex" class="row-bg">-->
            <!--                <el-col :span="6" :offset="4">-->
            <!--                  <p>参赛战队：</p>-->
            <!--                </el-col>-->
            <!--              </el-row>-->
            <!--              <el-row type="flex" class="row-bg">-->
            <!--                <el-col :span="6" :offset="4">-->
            <!--                  <el-form-item label="使用数据源">-->
            <!--                    <el-select v-model="tournament.son_tournament.competition_team_config" placeholder="HLTV">-->
            <!--                      <el-option label="区域一" value="1" />-->
            <!--                      <el-option label="区域二" value="22" />-->
            <!--                    </el-select>-->
            <!--                  </el-form-item>-->
            <!--                </el-col>-->
            <!--                <el-col :span="6" :offset="3">-->
            <!--                  <el-form-item label="更新方式">-->
            <!--                    <el-select v-model="tournament.son_tournament.competition_team_model" placeholder="请选择">-->
            <!--                      <el-option label="不更新" value="1" />-->
            <!--                      <el-option label="手动" value="2" />-->
            <!--                      <el-option label="自动" value="3" />-->
            <!--                    </el-select>-->
            <!--                  </el-form-item>-->
            <!--                </el-col>-->
            <!--              </el-row>-->
            <!--            </el-tabs>-->

            <!--            <el-tabs type="card">-->
            <!--              <el-tab-pane label="阶段" name="first" />-->
            <!--              <el-row type="flex" class="row-bg">-->
            <!--                <el-col :span="6" :offset="4">-->
            <!--                  <p>核心内容：</p>-->
            <!--                </el-col>-->
            <!--              </el-row>-->
            <!--              <el-row type="flex" class="row-bg">-->
            <!--                <el-col :span="6" :offset="4">-->
            <!--                  <el-form-item label="使用数据源">-->
            <!--                    <el-select v-model="tournament.stage_tournament.core_data_config" placeholder="ELS">-->
            <!--                      <el-option label="区域一" value="1" />-->
            <!--                      <el-option label="区域二" value="2" />-->
            <!--                    </el-select>-->
            <!--                  </el-form-item>-->
            <!--                </el-col>-->
            <!--                <el-col :span="6" :offset="3">-->
            <!--                  <el-form-item label="更新方式">-->
            <!--                    <el-select v-model="tournament.stage_tournament.core_data_mode" placeholder="请选择">-->
            <!--                      <el-option label="不更新" value="1" />-->
            <!--                      <el-option label="手动" value="2" />-->
            <!--                      <el-option label="自动" value="3" />-->
            <!--                    </el-select>-->
            <!--                  </el-form-item>-->
            <!--                </el-col>-->
            <!--              </el-row>-->
            <!--            </el-tabs>-->
            <!--            <el-tabs type="card">-->
            <!--              <el-tab-pane label="分组" name="first" />-->
            <!--              <el-row type="flex" class="row-bg">-->
            <!--                <el-col :span="6" :offset="4">-->
            <!--                  <p>核心内容：</p>-->
            <!--                </el-col>-->
            <!--              </el-row>-->
            <!--              <el-row type="flex" class="row-bg">-->
            <!--                <el-col :span="6" :offset="4">-->
            <!--                  <el-form-item label="使用数据源">-->
            <!--                    <el-select v-model="tournament.group_tournament.core_data_config" placeholder="ELS">-->
            <!--                      <el-option label="区域一" value="1" />-->
            <!--                      <el-option label="区域二" value="2" />-->
            <!--                    </el-select>-->
            <!--                  </el-form-item>-->
            <!--                </el-col>-->
            <!--                <el-col :span="6" :offset="3">-->
            <!--                  <el-form-item label="更新方式">-->
            <!--                    <el-select v-model="tournament.group_tournament.core_data_mode" placeholder="请选择">-->
            <!--                      <el-option label="不更新" value="1" />-->
            <!--                      <el-option label="手动" value="2" />-->
            <!--                      <el-option label="自动" value="3" />-->
            <!--                    </el-select>-->
            <!--                  </el-form-item>-->
            <!--                </el-col>-->
            <!--              </el-row>-->
            <!--              <el-row type="flex" class="row-bg">-->
            <!--                <el-col :span="6" :offset="4">-->
            <!--                  <p>参赛战队：</p>-->
            <!--                </el-col>-->
            <!--              </el-row>-->
            <!--              <el-row type="flex" class="row-bg">-->
            <!--                <el-col :span="6" :offset="4">-->
            <!--                  <el-form-item label="使用数据源">-->
            <!--                    <el-select v-model="tournament.group_tournament.competition_team_config" placeholder="飞鲸">-->
            <!--                      <el-option label="区域一" value="1" />-->
            <!--                      <el-option label="区域二" value="2" />-->
            <!--                    </el-select>-->
            <!--                  </el-form-item>-->
            <!--                </el-col>-->
            <!--                <el-col :span="6" :offset="3">-->
            <!--                  <el-form-item label="更新方式">-->
            <!--                    <el-select v-model="tournament.group_tournament.competition_team_model" placeholder="请选择">-->
            <!--                      <el-option label="不更新" value="1" />-->
            <!--                      <el-option label="手动" value="2" />-->
            <!--                      <el-option label="自动" value="3" />-->
            <!--                    </el-select>-->
            <!--                  </el-form-item>-->
            <!--                </el-col>-->
            <!--              </el-row>-->
            <!--              <el-row type="flex" class="row-bg" justify="space-around">-->
            <!--                <el-col :span="6" style="padding-top: 45px">-->
            <!--                  <el-form-item>-->
            <!--                    <el-button type="primary" @click="onSubmit3">确认修改</el-button>-->
            <!--                  </el-form-item>-->
            <!--                </el-col>-->
            <!--              </el-row>-->
            <!--            </el-tabs>-->
          </el-tab-pane>
          <el-tab-pane label="比赛">
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <p>赛程创建：</p>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="使用数据源">
                  <el-select v-model="match['match.create_data'].origin_id" placeholder="ELS">
                    <el-option
                      v-for="(item,index) in enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="操作方式">
                  <el-select v-model="match['match.create_data'].update_type" placeholder="请选择">
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <p>赛程绑定：</p>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="操作方式">
                  <el-select v-model="match['match.binding_data'].update_type" placeholder="请选择">
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <p>赛程更新：</p>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="使用数据源">
                  <el-select v-model="match['match.update_data'].origin_id" placeholder="HLTV">
                    <el-option
                      v-for="(item,index) in enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="操作方式">
                  <el-select v-model="match['match.update_data'].update_type" placeholder="请选择">
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <p>实时比分录入：</p>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="使用数据源">
                  <el-select v-model="match['match.score_data'].origin_id" placeholder="HLTV">
                    <el-option
                      v-for="(item,index) in enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="操作方式">
                  <el-select v-model="match['match.score_data'].update_type" placeholder="请选择">
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit4">确认修改</el-button>
              </div>
            </el-row>
          </el-tab-pane>
          <el-tab-pane v-if="this.$route.query.id === '2'" label="lol元数据">
            <div>
              <el-row type="flex" class="row-bg">
                <el-col :span="8" :offset="0">
                  <p>英雄管理：</p>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="3" :offset="0">
                  <el-form-item>核心内容：</el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="使用数据源">
                    <el-select v-model="lol_data.lol_champion['lol_champion.core_data'].origin_id" placeholder="请选择">
                      <el-option
                        v-for="(item,index) in enum_origin_list"
                        :key="index"
                        :label="item.desc"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="更新方式">
                    <el-select v-model="lol_data.lol_champion['lol_champion.core_data'].update_type" placeholder="请选择">
                      <el-option label="不更新" value="1" />
                      <el-option label="手动" value="2" />
                      <el-option label="自动" value="3" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg" justify="space-around">
                <div style="padding-top: 45px;text-align: center">
                  <el-button type="primary" @click="on_lol_champion">确认修改</el-button>
                </div>
              </el-row>
            </div>
            <div>
              <el-row type="flex" class="row-bg">
                <el-col :span="8" :offset="0">
                  <p>技能管理：</p>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="3" :offset="0">
                  <el-form-item>核心内容：</el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="使用数据源">
                    <el-select v-model="lol_data.lol_ability['lol_ability.core_data'].origin_id" placeholder="请选择">
                      <el-option
                        v-for="(item,index) in enum_origin_list"
                        :key="index"
                        :label="item.desc"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="更新方式">
                    <el-select v-model="lol_data.lol_ability['lol_ability.core_data'].update_type" placeholder="请选择">
                      <el-option label="不更新" value="1" />
                      <el-option label="手动" value="2" />
                      <el-option label="自动" value="3" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg" justify="space-around">
                <div style="padding-top: 45px;text-align: center">
                  <el-button type="primary" @click="on_lol_ability">确认修改</el-button>
                </div>
              </el-row>
            </div>
            <div>
              <el-row type="flex" class="row-bg">
                <el-col :span="8" :offset="0">
                  <p>道具管理：</p>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="3" :offset="0">
                  <el-form-item>核心内容：</el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="使用数据源">
                    <el-select v-model="lol_data.lol_item['lol_item.core_data'].origin_id" placeholder="请选择">
                      <el-option
                        v-for="(item,index) in enum_origin_list"
                        :key="index"
                        :label="item.desc"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="更新方式">
                    <el-select v-model="lol_data.lol_item['lol_item.core_data'].update_type" placeholder="请选择">
                      <el-option label="不更新" value="1" />
                      <el-option label="手动" value="2" />
                      <el-option label="自动" value="3" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg" justify="space-around">
                <div style="padding-top: 45px;text-align: center">
                  <el-button type="primary" @click="on_lol_item">确认修改</el-button>
                </div>
              </el-row>
            </div>
            <div>
              <el-row type="flex" class="row-bg">
                <el-col :span="8" :offset="0">
                  <p>召唤师技能管理：</p>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="3" :offset="0">
                  <el-form-item>核心内容：</el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="使用数据源">
                    <el-select v-model="lol_data.lol_summoner_spell['lol_summoner_spell.core_data'].origin_id" placeholder="请选择">
                      <el-option
                        v-for="(item,index) in enum_origin_list"
                        :key="index"
                        :label="item.desc"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="更新方式">
                    <el-select v-model="lol_data.lol_summoner_spell['lol_summoner_spell.core_data'].update_type" placeholder="请选择">
                      <el-option label="不更新" value="1" />
                      <el-option label="手动" value="2" />
                      <el-option label="自动" value="3" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg" justify="space-around">
                <div style="padding-top: 45px;text-align: center">
                  <el-button type="primary" @click="on_lol_summoner_spell">确认修改</el-button>
                </div>
              </el-row>
            </div>
            <div>
              <el-row type="flex" class="row-bg">
                <el-col :span="8" :offset="0">
                  <p>符文管理：</p>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="3" :offset="0">
                  <el-form-item>核心内容：</el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="使用数据源">
                    <el-select v-model="lol_data.lol_rune['lol_rune.core_data'].origin_id" placeholder="请选择">
                      <el-option
                        v-for="(item,index) in enum_origin_list"
                        :key="index"
                        :label="item.desc"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="更新方式">
                    <el-select v-model="lol_data.lol_rune['lol_rune.core_data'].update_type" placeholder="请选择">
                      <el-option label="不更新" value="1" />
                      <el-option label="手动" value="2" />
                      <el-option label="自动" value="3" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg" justify="space-around">
                <div style="padding-top: 45px;text-align: center">
                  <el-button type="primary" @click="on_lol_rune">确认修改</el-button>
                </div>
              </el-row>
            </div>
          </el-tab-pane>
          <el-tab-pane v-if="this.$route.query.id === '3'" label="dota2元数据">
            <div>
              <el-row type="flex" class="row-bg">
                <el-col :span="8" :offset="0">
                  <p>英雄管理：</p>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="3" :offset="0">
                  <el-form-item>核心内容：</el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="使用数据源">
                    <el-select v-model="dota2_data.dota2_hero['dota2_hero.core_data'].origin_id" placeholder="请选择">
                      <el-option
                        v-for="(item,index) in enum_origin_list"
                        :key="index"
                        :label="item.desc"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="更新方式">
                    <el-select v-model="dota2_data.dota2_hero['dota2_hero.core_data'].update_type" placeholder="请选择">
                      <el-option label="不更新" value="1" />
                      <el-option label="手动" value="2" />
                      <el-option label="自动" value="3" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg" justify="space-around">
                <div style="padding-top: 45px;text-align: center">
                  <el-button type="primary" @click="on_dota2_hero">确认修改</el-button>
                </div>
              </el-row>
            </div>
            <div>
              <el-row type="flex" class="row-bg">
                <el-col :span="8" :offset="0">
                  <p>技能管理：</p>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="3" :offset="0">
                  <el-form-item>核心内容：</el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="使用数据源">
                    <el-select v-model="dota2_data.dota2_ability['dota2_ability.core_data'].origin_id" placeholder="请选择">
                      <el-option
                        v-for="(item,index) in enum_origin_list"
                        :key="index"
                        :label="item.desc"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="更新方式">
                    <el-select v-model="dota2_data.dota2_ability['dota2_ability.core_data'].update_type" placeholder="请选择">
                      <el-option label="不更新" value="1" />
                      <el-option label="手动" value="2" />
                      <el-option label="自动" value="3" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg" justify="space-around">
                <div style="padding-top: 45px;text-align: center">
                  <el-button type="primary" @click="on_dota2_ability">确认修改</el-button>
                </div>
              </el-row>
            </div>
            <div>
              <el-row type="flex" class="row-bg">
                <el-col :span="8" :offset="0">
                  <p>道具管理：</p>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="3" :offset="0">
                  <el-form-item>核心内容：</el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="使用数据源">
                    <el-select v-model="dota2_data.dota2_item['dota2_item.core_data'].origin_id" placeholder="请选择">
                      <el-option
                        v-for="(item,index) in enum_origin_list"
                        :key="index"
                        :label="item.desc"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="更新方式">
                    <el-select v-model="dota2_data.dota2_item['dota2_item.core_data'].update_type" placeholder="请选择">
                      <el-option label="不更新" value="1" />
                      <el-option label="手动" value="2" />
                      <el-option label="自动" value="3" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg" justify="space-around">
                <div style="padding-top: 45px;text-align: center">
                  <el-button type="primary" @click="on_dota2_item">确认修改</el-button>
                </div>
              </el-row>
            </div>
            <div>
              <el-row type="flex" class="row-bg">
                <el-col :span="8" :offset="0">
                  <p>天赋管理：</p>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="3" :offset="0">
                  <el-form-item>核心内容：</el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="使用数据源">
                    <el-select v-model="dota2_data.dota2_talent['dota2_talent.core_data'].origin_id" placeholder="请选择">
                      <el-option
                        v-for="(item,index) in enum_origin_list"
                        :key="index"
                        :label="item.desc"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="更新方式">
                    <el-select v-model="dota2_data.dota2_talent['dota2_talent.core_data'].update_type" placeholder="请选择">
                      <el-option label="不更新" value="1" />
                      <el-option label="手动" value="2" />
                      <el-option label="自动" value="3" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg" justify="space-around">
                <div style="padding-top: 45px;text-align: center">
                  <el-button type="primary" @click="on_dota2_talent">确认修改</el-button>
                </div>
              </el-row>
            </div>
          </el-tab-pane>
          <el-tab-pane v-if="this.$route.query.id === '1'" label="csgo元数据">
            <div>
              <el-row type="flex" class="row-bg">
                <el-col :span="8" :offset="0">
                  <p>地图管理：</p>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="3" :offset="0">
                  <el-form-item>核心内容：</el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="使用数据源">
                    <el-select v-model="csgo_data.csgo_map['csgo_map.core_data'].origin_id" placeholder="请选择">
                      <el-option
                        v-for="(item,index) in enum_origin_list"
                        :key="index"
                        :label="item.desc"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="更新方式">
                    <el-select v-model="csgo_data.csgo_map['csgo_map.core_data'].update_type" placeholder="请选择">
                      <el-option label="不更新" value="1" />
                      <el-option label="手动" value="2" />
                      <el-option label="自动" value="3" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg" justify="space-around">
                <div style="padding-top: 45px;text-align: center">
                  <el-button type="primary" @click="on_csgo_map">确认修改</el-button>
                </div>
              </el-row>
            </div>
            <div>
              <el-row type="flex" class="row-bg">
                <el-col :span="8" :offset="0">
                  <p>武器管理：</p>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="3" :offset="0">
                  <el-form-item>核心内容：</el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="使用数据源">
                    <el-select v-model="csgo_data.csgo_weapon['csgo_weapon.core_data'].origin_id" placeholder="请选择">
                      <el-option
                        v-for="(item,index) in enum_origin_list"
                        :key="index"
                        :label="item.desc"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8" :offset="0">
                  <el-form-item label="更新方式">
                    <el-select v-model="csgo_data.csgo_weapon['csgo_weapon.core_data'].update_type" placeholder="请选择">
                      <el-option label="不更新" value="1" />
                      <el-option label="手动" value="2" />
                      <el-option label="自动" value="3" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg" justify="space-around">
                <div style="padding-top: 45px;text-align: center">
                  <el-button type="primary" @click="on_csgo_weapon">确认修改</el-button>
                </div>
              </el-row>
            </div>
          </el-tab-pane>
        </el-tabs>
      </el-form>
    </el-card>
  </div>
</template>
<script>
import { get_config_detail, config_edit } from '@/api/data'
import { enum_origin } from '@/api/enum'
export default {
  name: 'Default',
  data() {
    return {
      enum_origin_list: '',
      activeName: '',
      textarea: '',
      team: {
        'team.base_data': {
          origin_id: '',
          update_type: ''
        },
        'team.core_data': {
          origin_id: '',
          update_type: ''
        },
        'team.team_player': {
          origin_id: '',
          update_type: ''
        }
      },
      player: {
        'player.base_data': {
          origin_id: '',
          update_type: ''
        },
        'player.core_data': {
          origin_id: '',
          update_type: ''
        }
      },
      tournament: {
        'tournament.attend_team': {
          origin_id: '',
          update_type: ''
        },
        'tournament.base_data': {
          origin_id: '',
          update_type: ''
        },
        'tournament.core_data': {
          origin_id: '',
          update_type: ''
        }
      },
      match: {
        'match.binding_data': {
          update_type: ''
        },
        'match.create_data': {
          origin_id: '',
          update_type: ''
        },
        'match.score_data': {
          origin_id: '',
          update_type: ''
        },
        'match.update_data': {
          origin_id: '',
          update_type: ''
        }
      },
      lol_data: {
        lol_champion: {
          'lol_champion.core_data': {
            origin_id: '',
            update_type: ''
          }
        },
        lol_ability: {
          'lol_ability.core_data': {
            origin_id: '',
            update_type: ''
          }
        },
        lol_item: {
          'lol_item.core_data': {
            origin_id: '',
            update_type: ''
          }
        },
        lol_rune: {
          'lol_rune.core_data': {
            origin_id: '',
            update_type: ''
          }
        },
        lol_summoner_spell: {
          'lol_summoner_spell.core_data': {
            origin_id: '',
            update_type: ''
          }
        }
      },
      dota2_data: {
        dota2_hero: {
          'dota2_hero.core_data': {
            origin_id: '',
            update_type: ''
          }
        },
        dota2_ability: {
          'dota2_ability.core_data': {
            origin_id: '',
            update_type: ''
          }
        },
        dota2_item: {
          'dota2_item.core_data': {
            origin_id: '',
            update_type: ''
          }
        },
        dota2_talent: {
          'dota2_talent.core_data': {
            origin_id: '',
            update_type: ''
          }
        }
      },
      csgo_data: {
        csgo_map: {
          'csgo_map.core_data': {
            origin_id: '',
            update_type: ''
          }
        },
        csgo_weapon: {
          'csgo_weapon.core_data': {
            origin_id: '',
            update_type: ''
          }
        }
      }
    }
  },
  mounted() {
    this.enum_origin_info()
  },
  methods: {
    enum_origin_info() {
      this.get_lol_info()
      this.get_dota2_info()
      this.get_csgo_info()
      const params = {}
      enum_origin(params).then(req => {
        this.enum_origin_list = req.data
      })
    },
    beforeLeave(item, formName) {
      this.getinfo(item)
      return true
    },
    getinfo(type) {
      if (type === '0') {
        var name = 'team'
      }
      if (type === '1') {
        name = 'player'
      }
      if (type === 'first') {
        name = 'tournament'
      }
      if (type === '3') {
        name = 'match'
      }

      // if (type === '4') {
      //   if (this.$route.query.id === '2') {
      //     this.get_lol_info()
      //   }
      //   if (this.$route.query.id === '3') {
      //     this.get_dota2_info()
      //   }
      //   if (this.$route.query.id === '1') {
      //     this.get_csgo_info()
      //   }
      // }
      if (type === '0' || type === '1' || type === 'first' || type === '3') {
        const params = {}
        params['game_id'] = this.$route.query.id
        params['resource_type'] = name
        get_config_detail(params).then(req => {
          if (name === 'team') {
            this.team = req.data.config
          }
          if (name === 'player') {
            this.player = req.data.config
          }
          if (name === 'match') {
            this.match = req.data.config
          }
          if (name === 'tournament') {
            this.tournament = req.data.config
          }
        })
      }
    },
    get_csgo_info() {
      var csgo_data = {}
      var tmp = ['csgo_map', 'csgo_weapon']
      tmp.forEach(item => {
        const params = {}
        params['game_id'] = this.$route.query.id
        params['resource_type'] = item
        get_config_detail(params).then(req => {
          console.log(item)
          csgo_data[item] = req.data.config
          if (item === 'csgo_weapon') {
            this.get_csgo_list(csgo_data)
          }
        })
      })
    },
    get_csgo_list(data) {
      this.csgo_data = data
    },
    on_csgo_map() {
      const params = {}
      params['game_id'] = this.$route.query.id
      params['config'] = this.csgo_data.csgo_map
      config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
      })
    },
    on_csgo_weapon() {
      const params = {}
      params['game_id'] = this.$route.query.id
      params['config'] = this.csgo_data.csgo_weapon
      config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
      })
    },

    get_dota2_info() {
      var dota2_data = {}
      var tmp = ['dota2_hero', 'dota2_ability', 'dota2_item', 'dota2_talent']
      tmp.forEach(item => {
        const params = {}
        params['game_id'] = this.$route.query.id
        params['resource_type'] = item
        get_config_detail(params).then(req => {
          console.log(item)
          dota2_data[item] = req.data.config
          if (item === 'dota2_talent') {
            this.get_dota2_list(dota2_data)
          }
        })
      })
    },
    get_dota2_list(data) {
      this.dota2_data = data
    },
    on_dota2_hero() {
      const params = {}
      params['game_id'] = this.$route.query.id
      params['config'] = this.dota2_data.dota2_hero
      config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
      })
    },
    on_dota2_ability() {
      const params = {}
      params['game_id'] = this.$route.query.id
      params['config'] = this.dota2_data.dota2_ability
      config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
      })
    },
    on_dota2_item() {
      const params = {}
      params['game_id'] = this.$route.query.id
      params['config'] = this.dota2_data.dota2_item
      config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
      })
    },
    on_dota2_talent() {
      const params = {}
      params['game_id'] = this.$route.query.id
      params['config'] = this.dota2_data.dota2_talent
      config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
      })
    },
    get_lol_info() {
      var lol_data = {}
      var tmp = ['lol_champion', 'lol_ability', 'lol_item', 'lol_rune', 'lol_summoner_spell']
      tmp.forEach(item => {
        const params = {}
        params['game_id'] = this.$route.query.id
        params['resource_type'] = item
        get_config_detail(params).then(req => {
          console.log(item)
          lol_data[item] = req.data.config
          if (item === 'lol_summoner_spell') {
            this.get_lol_list(lol_data)
          }
        })
      })
    },
    get_lol_list(data) {
      this.lol_data = data
    },
    on_lol_champion() {
      const params = {}
      params['game_id'] = this.$route.query.id
      params['config'] = this.lol_data.lol_champion
      config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
      })
    },
    on_lol_ability() {
      const params = {}
      params['game_id'] = this.$route.query.id
      params['config'] = this.lol_data.lol_ability
      config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
      })
    },
    on_lol_item() {
      const params = {}
      params['game_id'] = this.$route.query.id
      params['config'] = this.lol_data.lol_item
      config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
      })
    },
    on_lol_rune() {
      const params = {}
      params['game_id'] = this.$route.query.id
      params['config'] = this.lol_data.lol_rune
      config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
      })
    },
    on_lol_summoner_spell() {
      const params = {}
      params['game_id'] = this.$route.query.id
      params['config'] = this.lol_data.lol_summoner_spell
      config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
      })
    },
    onSubmit1() {
      const params = {}
      params['game_id'] = this.$route.query.id
      params['config'] = this.team
      config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
        // this.$router.push('/gamecenter/clan/clublist')
      })
    },
    onSubmit2() {
      const params = {}
      params['game_id'] = this.$route.query.id
      params['config'] = this.player
      config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
        // this.$router.push('/gamecenter/clan/clublist')
      })
    },
    onSubmit4() {
      const params = {}
      params['game_id'] = this.$route.query.id
      params['config'] = this.match
      config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
        // this.$router.push('/gamecenter/clan/clublist')
      })
    },
    onSubmit3() {
      const params = {}
      params['game_id'] = this.$route.query.id
      params['config'] = this.tournament
      config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
        // this.$router.push('/gamecenter/clan/clublist')
      })
    }
  }
}
</script>

<style scoped>

</style>
