<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>操作记录</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-table
        :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'8px',height:'40px',textAlign:'center'}"
        :cell-style="{textAlign:'center',padding:'3px'}"
        :data="historyList"
        style="width: 100%"
      >
        <el-table-column prop="id" label="ID" />
        <el-table-column prop="type" label="类型" />
        <el-table-column prop="admin_name" label="操作人" />
        <el-table-column prop="created_time" label="操作时间" width="100px" />
        <el-table-column prop="detail" label="操作内容" width="600px">
          <template slot-scope="scope">
            <p>{{ scope.row.detail }}</p>
          </template>
        </el-table-column>
        <span slot="footer" class="dialog-footer" />
      </el-table>
      <div class="over">
        <el-pagination
          class="pager"
          background
          layout="prev, pager, next"
          :total="history.total"
          :current-page="history.page"
          :page-size="history.per_page"
          @current-change="history_changePager"
        />
      </div>
    </el-card>
  </div>
</template>

<script>
import { operation_log_list } from '@/api/operation'
export default {
  name: 'Operation',
  data() {
    return {
      historyList: [],
      history: {
        total: 20,
        page: 1,
        per_page: 10
      }
    }
  },
  mounted() {
    this.log_info()
  },
  methods: {
    history_changePager(pageId) {
      this.history.page = pageId
      this.log_info()
    },
    log_info() {
      const params = {}
      params['resource_id'] = this.$route.query.id
      params['resource_type'] = this.$route.query.type
      params['page'] = this.history.page
      params['per_page'] = this.history.per_page
      operation_log_list(params).then(req => {
        this.historyList = req.data.list
        this.history.total = 1 * req.data.total
      })
    }
  }
}
</script>

<style scoped>
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
</style>
