<template>
  <el-form>
    <el-form-item label="输入josn格式">
      <el-input
        v-model="inputinfo"
        type="textarea"
        :rows="5"
      />
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="onSubmit">转换</el-button>
      <el-button type="primary" @click="getinfo">显示默认模版</el-button>
      <el-button type="primary" @click="getdata">显示data模版</el-button>
    </el-form-item>
    <el-form-item label="输入模版">
      <el-input
        v-model="tplIn"
        type="textarea"
        :rows="1"
      />
    </el-form-item>
    <pre>
      {{ textOut }}
    </pre>
  </el-form>
</template>

<script>
export default {
  name: 'TemplateStyle',
  data() {
    return {
      inputinfo: '',
      name: [],
      textOut: '',
      tplIn: '',
      tplstyle: 'params[\'%keyname%\'] = this.form.%keyname%',
      datastyle: '%keyname%: \'\','
    }
  },
  methods: {
    getdata() {
      this.tplIn = this.datastyle
    },
    getinfo() {
      this.tplIn = this.tplstyle
    },
    onSubmit() {
      const tmpStr = JSON.parse(this.inputinfo)
      const properties = tmpStr.properties
      const tpl = this.tplIn || 'params[\'%keyname%\'] = this.form.%keyname%'
      for (const key in properties) {
        const tmp = tpl.replace('%keyname%', key).replace('%keyname%', key)
        this.textOut = this.textOut + '\n' + tmp
      }
    }
  }
}
</script>

<style scoped>

</style>
