<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>数据更新默认设置</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-table
        :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'8px',height:'40px',textAlign:'center'}"
        :cell-style="{textAlign:'center',padding:'3px'}"
        :data="tableData"
        style="width: 100%"
      >
        <el-table-column prop="game.id" :label="'游戏项目\nID'" />
        <el-table-column prop="game.name" :label="'游戏项目\n名称'" />
        <el-table-column prop="game.modified_at" label="最后更新时间" />
        <el-table-column v-if="$hasAuth('platform|partTimeJob|write')" label="操作">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="getInfoJob(scope.row.game.id)">设置默认值</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="job_status_name" label="操作记录">
          <template slot-scope="scope">
            <span v-if="scope.row.operation">({{ scope.row.operation.count }})</span>
            <el-button type="text" size="small" @click="getHistory(scope.row.operation.resource_id,scope.row.operation.resource_type )">操作记录</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>
  </div>
</template>
<script>
import { get_config_list } from '@/api/data'
export default {
  name: 'TemplateInfo',
  data() {
    return {
      tableData: [],
      options: [],
      value: ''
    }
  },
  mounted() {
    this.infolist()
  },
  methods: {
    getHistory(id, type) {
      this.$router.push({ path: '/gamecenter/update/updateTemplate/operation', query: { id: id, type: type }})
    },
    getInfoJob(id) {
      this.$router.push({ path: '/gamecenter/update/updateTemplate/default', query: { id: id }})
    },
    infolist() {
      const params = {}
      get_config_list(params).then(req => {
        this.tableData = req.data
        console.log('tableData')
        console.log(this.tableData)
      })
    }
  }
}
</script>

<style scoped>
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
</style>
