<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>设置默认值</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-tabs type="border-card">
        <el-tab-pane label="小组赛">
          <el-form ref="form" :model="form" label-width="90px">
            <el-row type="flex" class="row-bg">
              <el-col :span="6" :offset="1">
                <el-form-item label="获胜积分">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="1">
                <el-form-item label="平局积分">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="1">
                <el-form-item label="失败积分">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="6">
                <el-form-item>
                  <el-checkbox v-model="checked">显示比赛场次</el-checkbox>
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item>
                  <el-checkbox v-model="checked">显示获胜场次</el-checkbox>
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item>
                  <el-checkbox v-model="checked">显示平局场次</el-checkbox>
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item>
                  <el-checkbox v-model="checked">显示失败场次</el-checkbox>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="6">
                <el-form-item>
                  <el-checkbox v-model="checked">显示获胜小局</el-checkbox>
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item>
                  <el-checkbox v-model="checked">显示平局小局</el-checkbox>
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item>
                  <el-checkbox v-model="checked">显示失败小局</el-checkbox>
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item>
                  <el-checkbox v-model="checked">显示小局净胜分</el-checkbox>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="6">
                <el-form-item>
                  <el-checkbox>显示获胜回合</el-checkbox>
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item>
                  <el-checkbox v-model="checked">显示失败回合</el-checkbox>
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item>
                  <el-checkbox v-model="checked">显示回合净胜分</el-checkbox>
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item>
                  <el-checkbox v-model="checked">显示积分</el-checkbox>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <el-col :span="6" style="padding-top: 100px">
                <el-form-item>
                  <el-button type="primary" @click="onSubmit">确认修改</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="联赛">
          <el-form ref="form" :model="form" label-width="100px">
            <el-form ref="form" :model="form" label-width="90px">
              <el-row type="flex" class="row-bg">
                <el-col :span="6" :offset="1">
                  <el-form-item label="获胜积分">
                    <el-input v-model="form.name" />
                  </el-form-item>
                </el-col>
                <el-col :span="6" :offset="1">
                  <el-form-item label="平局积分">
                    <el-input v-model="form.name" />
                  </el-form-item>
                </el-col>
                <el-col :span="6" :offset="1">
                  <el-form-item label="失败积分">
                    <el-input v-model="form.name" />
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="6">
                  <el-form-item>
                    <el-checkbox v-model="checked">显示比赛场次</el-checkbox>
                  </el-form-item>
                </el-col>
                <el-col :span="6">
                  <el-form-item>
                    <el-checkbox v-model="checked">显示获胜场次</el-checkbox>
                  </el-form-item>
                </el-col>
                <el-col :span="6">
                  <el-form-item>
                    <el-checkbox v-model="checked">显示平局场次</el-checkbox>
                  </el-form-item>
                </el-col>
                <el-col :span="6">
                  <el-form-item>
                    <el-checkbox v-model="checked">显示失败场次</el-checkbox>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="6">
                  <el-form-item>
                    <el-checkbox v-model="checked">显示获胜小局</el-checkbox>
                  </el-form-item>
                </el-col>
                <el-col :span="6">
                  <el-form-item>
                    <el-checkbox v-model="checked">显示平局小局</el-checkbox>
                  </el-form-item>
                </el-col>
                <el-col :span="6">
                  <el-form-item>
                    <el-checkbox v-model="checked">显示失败小局</el-checkbox>
                  </el-form-item>
                </el-col>
                <el-col :span="6">
                  <el-form-item>
                    <el-checkbox v-model="checked">显示小局净胜分</el-checkbox>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="6">
                  <el-form-item>
                    <el-checkbox>显示获胜回合</el-checkbox>
                  </el-form-item>
                </el-col>
                <el-col :span="6">
                  <el-form-item>
                    <el-checkbox v-model="checked">显示失败回合</el-checkbox>
                  </el-form-item>
                </el-col>
                <el-col :span="6">
                  <el-form-item>
                    <el-checkbox v-model="checked">显示回合净胜分</el-checkbox>
                  </el-form-item>
                </el-col>
                <el-col :span="6">
                  <el-form-item>
                    <el-checkbox v-model="checked">显示积分</el-checkbox>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg" justify="space-around">
                <el-col :span="6" style="padding-top: 100px">
                  <el-form-item>
                    <el-button type="primary" @click="onSubmit">确认修改</el-button>
                  </el-form-item>
                </el-col>
              </el-row>
            </el-form>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="淘汰赛">
          <el-form ref="form" :model="form" label-width="100px">
            <el-row type="flex" class="row-bg">
              <el-col :span="6">
                <el-form-item>
                  <el-checkbox v-model="checked">显示第三名争夺赛</el-checkbox>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <el-col :span="6" style="padding-top: 35px">
                <el-form-item>
                  <el-button type="primary" @click="onSubmit">确认修改</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </el-tab-pane>
      </el-tabs>
    </el-card>
  </div>
</template>
<script>
export default {
  name: 'Default',
  data() {
    const generateData = _ => {
      const data = []
      const cities = ['上海', '北京', '广州', '深圳', '南京', '西安', '成都']
      const pinyin = ['shanghai', 'beijing', 'guangzhou', 'shenzhen', 'nanjing', 'xian', 'chengdu']
      cities.forEach((city, index) => {
        data.push({
          label: city,
          key: index,
          pinyin: pinyin[index]
        })
      })
      return data
    }
    return {
      checked: false,
      url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
      textarea: '',
      form: {
        name: ''
      },
      data: generateData(),
      value: [],
      filterMethod(query, item) {
        return item.pinyin.indexOf(query) > -1
      }
    }
  },
  methods: {
    onSubmit() {
      console.log('submit!')
    }
  }
}
</script>

<style scoped>
.row-bg {
  padding-top: 10px;
}
</style>
