<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>分组模版默认设置</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-table
        :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'8px',height:'40px',textAlign:'center'}"
        :cell-style="{textAlign:'center',padding:'3px'}"
        :data="tableData"
        style="width: 100%"
      >
        <el-table-column prop="nickname" label="游戏项目ID" />
        <el-table-column prop="nickname" label="名称" />
        <el-table-column label="变更时间">
          <template slot-scope="scope">
            <span>{{ scope.row.date_begin_format }}</span>
            -
            <span>{{ scope.row.date_end_format }}</span>
          </template>
        </el-table-column>
        <el-table-column v-if="$hasAuth('platform|partTimeJob|write')" label="操作">
          <template slot-scope="scope">
            <template v-if="scope.row.status == '' ">
              <el-button type="text" size="small" @click="getInfoJob(scope.row.id)">查看</el-button>
              <el-button type="text" size="small" @click="operateJob(scope.row.id)">审核</el-button>
            </template>
          </template>
        </el-table-column>
        <el-table-column prop="job_status_name" label="操作记录" />
      </el-table>

      <div class="over">
        <el-pagination
          class="pager"
          background
          layout="prev, pager, next"
          :total="total"
          :current-page="req.page"
          :page-size="req.per_page"
          @current-change="changePager"
        />
      </div>
    </el-card>
  </div>
</template>
<script>
export default {
  data() {
    return {
      total: 20,
      tableData: [],
      req: {},
      options: [{
        value: '选项1',
        label: '黄金糕'
      }, {
        value: '选项2',
        label: '双皮奶'
      }, {
        value: '选项3',
        label: '蚵仔煎'
      }, {
        value: '选项4',
        label: '龙须面'
      }, {
        value: '选项5',
        label: '北京烤鸭'
      }],
      value: ''
    }
  },
  methods: {
    changePager(pageId) {
      this.page = pageId
      this.list()
    }
  }
}
</script>

<style scoped>
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
</style>
