@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  background: #f5f5f5;
  padding: 10px;
  //font-size: 8px;
}
.el-table{
  //font-size:8px;
}
.el-button--text{
  padding-top: 0;
  padding-bottom: 0;
}
.el-button+.el-button{
  margin-left: 0;
}

//el-form{
//  //font-size: 8px;
//}
.el-form .el-form-item__label{
  font-family:PingFangSC-Regular;
  font-weight:bold;
  //font-size:8px;
}
//
.el-form-item .el-input__inner {
  border-radius: 3px;
  height: 25px;
  //padding-left: 2px;
  padding-right: 2px;
  border-color: #CCCCCC;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}
.del_line::after {
  content: no-open-quote;
  position: absolute;
  top: 50%;
  //margin-top: 40px;
  left: 0;
  width: 100%;
  //height: 100%;
  border-bottom: 1px solid #000;
  //background: #eef1f6;
}
.el-table .success-row {
  background: #ECEFF5;
}
//修改穿梭狂宽高
.transfer_info .el-transfer-panel{
  width: 300px;
  height: 420px;
}
.transfer_info .el-transfer-panel__list{
  height: 350px;
}
.el-transfer .el-transfer-panel{
  width: 300px;
  height: 420px;
}
.el-transfer-panel__list{
  height: 350px;
}
//table表头换行
.el-table .cell {
  white-space:pre-line;
}
//图片上传去掉圆角
.avatar-uploader .el-upload{
  border-radius: 0px;
}
//改变select拖动条宽度
.el-scrollbar__bar.is-vertical{
  width: 20px;
}
//修改穿梭狂头像居中
.el-avatar>img{
  height: 100%;
  vertical-align:middle;
  display: inline-block;
}
//消除日期组件不垂直居中问题
.el-range-editor--medium .el-range__icon, .el-range-editor--medium .el-range__close-icon{line-height: 20px}
.el-range-editor--medium .el-range-separator{line-height: 20px}

//select选择器超宽出现横条
//.el-select-dropdown{
//  max-width: 243px;
//}
//.el-select-dropdown__item{
//  display: inline-block;
//}
//.el-select-dropdown__item span {
//  min-width: 205px;
//  display: inline-block;
//}
