// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;//菜单整体背景
$menuHover:#263445;//菜单悬浮变色

$subMenuBg:#1f2d3d;//子菜单背景
$subMenuHover:#001528;//子菜单悬浮背景

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
           :export {
               menuText: $menuText;
               menuActiveText: $menuActiveText;
               subMenuActiveText: $subMenuActiveText;
               menuBg: $menuBg;
               menuHover: $menuHover;
               subMenuBg: $subMenuBg;
               subMenuHover: $subMenuHover;
               sideBarWidth: $sideBarWidth;
           }
