<template>
  <div class="app-container">
    <el-card>
      <h4>基本信息</h4>
      <hr>
      <div class="center">
        <div class="img">
          <el-avatar :size="60" style="border:1px solid #aaa" />
        </div>
        <el-row class="margin">
          <el-col :span="6" :offset="2">登录账号</el-col>
          <el-col :span="6"><el-link type="primary">修改密码  >></el-link></el-col>
          <el-col :span="6"><el-link type="primary">查看认证信息 >></el-link></el-col>
        </el-row>
        <el-row class="margin">
          <el-col :span="6" :offset="2">余额<span style="color: red;margin-left: 10px">1500万</span></el-col>
          <el-col :span="6"> <el-button size="mini" type="primary">我要分销</el-button></el-col>
        </el-row>
      </div>
      <h4>签约管理</h4>
      <div class="centers">
        <el-row class="margin">
          <el-col :span="12">您还是未签约企业用户，在发布任务前先完成签约！</el-col>
          <el-link type="primary">下载签约合同 线上签约>></el-link>
          <el-link type="primary">联系客服咨询线下签约  >></el-link>
        </el-row>
        <el-row class="margin">
          <el-col :span="12">如果线下已是签约企业用户，请上传转账凭证！</el-col>
          <el-link type="primary">提交转账凭证  >></el-link>
        </el-row>
        <el-row class="margin">
          <el-col>您已是签约企业用户，可以直接发布任务!</el-col>
        </el-row>
      </div>
      <h4>开户信息</h4>
      <div class="center">
        <el-row class="margin">
          <el-col :span="12">恭喜，您申请 XXXX园区的开户已通过，下一步，完善开户信息!</el-col>
          <el-link type="primary">去完善信息  >></el-link>
        </el-row>
        <el-row class="margin">
          <el-col :span="12">提醒：每个个户限额<span style="color: red;margin-left: 10px">1500万！</span></el-col>
        </el-row>
      </div>
      <div class="centerfooter">
        <h4>功能</h4>
        <el-row>
          <el-col :span="5">
            <div>
              <img style="width:200px;height:150px;border:5px solid #ccc">
              我要开票
            </div>
          </el-col>
          <el-col :span="5">
            <div>
              <img style="width:200px;height:150px;border:5px solid #ccc">
              发布职位
            </div>
          </el-col>
          <el-col :span="5">
            <div>
              <img style="width:200px;height:150px;border:5px solid #ccc">
              职位管理
            </div>
          </el-col>
          <el-col :span="5">
            <div>
              <img style="width:200px;height:150px;border:5px solid #ccc">
              订单管理
            </div>
          </el-col>
        </el-row>
      </div>

    </el-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Dashboard',
  data() {
    return {
      currentRole: 'adminDashboard'
    }
  },
  computed: {
    ...mapGetters([
      'roles', 'name'
    ])
  },
  created() {
    if (!this.roles.includes('admin')) {
      this.currentRole = 'editorDashboard'
    }
  }
}
</script>
<style>
  /*。centerfooter{*/
  /*  width:100%;*/
  /*  height:180px;*/
  /*  background-color: #eee;*/
  /*}*/
  .center{
    position:relative;
    width:100%;
    height:80px;
    background-color: #eee;
  }
  .centers{
    width:100%;
    height:120px;
    background-color: #eee;
  }
  .img{
    position: absolute;
    top:5px;
    left:5px;
  }
  .margin{
    padding:10px
  }
</style>
