<template>
  <div class="dashboard-container">
    <el-row>
      <el-col :span="24" :offset="0">
        <Tool />
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
// import Shouye from './shouye'
import Tool from './tool'
export default {
  name: 'Dashboard',
  components: { Tool },
  data() {
    return {
      currentRole: 'CompanyDashboard',
      woxiang: [
        { label: '姓名',
          type: 'input',
          key: 'name',
          value: '',
          span: 8
        },
        { label: '登录名qqq',
          type: 'input',
          key: 'name',
          value: ''
        },
        { label: '密码',
          type: 'input',
          key: 'name',
          value: ''
        }, { label: '性别',
          type: 'select',
          key: 'name',
          value: '',
          items: ['男', '女']
        }, { label: '邮箱',
          type: 'input',
          key: 'name',
          value: ''
        }
      ]
    }
  },
  computed: {
    ...mapGetters([
      'name',
      'avatar',
      'email',
      'introduction',
      'roles'
    ])
  },
  created() {
    console.log(this.roles)
    // if (this.roles.indexOf('company') >= 0) {
    //   this.currentRole = 'CompanyDashboard'
    // }
    // if (this.roles.indexOf('employee') >= 0) {
    //   this.currentRole = 'EmployeeDashboard'
    // }
    // if (this.roles.indexOf('invoice') >= 0) {
    //   this.currentRole = 'InvoiceDashboard'
    // }
    // if (this.roles.indexOf('admin') >= 0) {
    //   this.currentRole = 'AdminDashboard'
    // }
    // 当前的role，加载不同的首页信息
  }
}
</script>
