<template>
  <div>
    子组件：<h1>{{ chuanzhi }}</h1>
    子组件：<input v-model="chuanzhi">
    <!--    <label><input name="Fruit" type="radio" value="" class="asaf">其它 </label>-->
    <!--    <div-->
    <!--      style="width: 500px; border: 1px solid red;height: 500px; position:relative"-->
    <!--      @keydown.left="move('left')"-->
    <!--      @keydown.right="move('right')"-->
    <!--      @keydown.up="move('up')"-->
    <!--      @keydown.down="move('down')"-->
    <!--    >-->
    <!--      <div :style="{top:top+'px',left:left+'px'}" style="width: 10px;height: 10px;position:absolute;background-color: blue;" />-->
    <!--      <input>-->
    <!--    </div>-->
  </div>
</template>

<script>
// import profile from '@/views/profile/index'
export default {
  name: 'Shouye',
  props: ['chuanzhi'],
  data() {
    return {
      width: '200px',
      top: 10,
      left: 10
    }
  },
  mounted() {
    // this.chuanzhi = 'asdfasdf'
  },
  methods: {
    move(direction) {
      console.log(direction)

      switch (direction) {
        case 'left':
          this.left = this.left - 10
          break
        case 'right':
          this.left = this.left + 10
          break
        case 'up':
          this.top = this.top - 10
          break
        case 'down':
          this.top = this.top + 10
          break
      }
    }
  }
}
</script>

<style scoped>
.asaf{
  font-size: 100px;
}
</style>
