<template>
  <div style="position: relative; height: 1500px;background: #F2F2F2">
    <el-row :gutter="20">
      <el-col :span="18">
        <div class="style1">
          <el-row type="flex" justify="end">
            <el-col :span="12"><div>欢迎，<span style="color: #3595FF">{{ name }}</span></div></el-col>
            <el-col :span="12" style="text-align: right"><div>{{ nowDate }}({{ nowWeek }})</div></el-col>
          </el-row>
          <el-row style="margin-top: 10px">
            <el-col :span="8" class="todayStyle" style="border-bottom-left-radius: 5px;border-top-left-radius: 5px;">
              <el-row>
                <el-col :span="22" :offset="1">
                  <div class="style12">昨天</div>
                  <el-row class="style14">
                    <el-col :span="12" class="style1234">{{ form.tournament_yesterday }}<span class="style13">/个</span></el-col>
                    <el-col :span="12" class="style1234">{{ form.match_yesterday }}<span class="style13">/场</span></el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="12" class="style123">赛事</el-col>
                    <el-col :span="12" class="style123">比赛</el-col>
                  </el-row>
                </el-col>
                <el-col :span="1">
                  <div class="verticalBar" />
                </el-col>
              </el-row>
            </el-col>
            <el-col :span="8" class="todayStyle">
              <el-row>
                <el-col :span="22" :offset="1">
                  <div class="style12">今天</div>
                  <el-row class="style14">
                    <el-col :span="12"><span style="color: #3392FF;font-size: 20px">{{ form.tournament_today }}</span><span class="style13">/个</span></el-col>
                    <el-col :span="12"><span style="color: #3392FF;font-size: 20px">{{ form.match_today }}</span><span class="style13">/场</span></el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="12" class="style123">赛事</el-col>
                    <el-col :span="12" class="style123">比赛</el-col>
                  </el-row>
                </el-col>
                <el-col :span="1">
                  <div class="verticalBar" />
                </el-col>
              </el-row>
            </el-col>
            <el-col :span="8" class="todayStyle" style="border-bottom-right-radius: 5px;border-top-right-radius: 5px;">
              <el-row>
                <el-col :span="22" :offset="1">
                  <div class="style12">明日</div>
                  <el-row class="style14">
                    <el-col :span="12" class="style1234">{{ form.tournament_tomorrow }}<span class="style13">/个</span></el-col>
                    <el-col :span="12" class="style1234">{{ form.match_tomorrow }}<span class="style13">/场</span></el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="12" class="style123">赛事</el-col>
                    <el-col :span="12" class="style123">比赛</el-col>
                  </el-row>
                </el-col>
                <el-col :span="1" />
              </el-row>
            </el-col>
          </el-row>
          <el-row class="style15" type="flex" align="middle">
            <el-col :span="3" class="style16">上周</el-col>
            <el-col :span="6" :offset="2" class="style111">累计赛事：{{ form.tournament_week }}/个</el-col>
            <el-col :span="6" class="style111">累计比赛：{{ form.match_week }}/场</el-col>
          </el-row>
          <el-row class="style151" type="flex" align="middle">
            <el-col :span="3" class="style16">本月</el-col>
            <el-col :span="6" :offset="2" class="style111">累计赛事：{{ form.tournament_moth }}/个</el-col>
            <el-col :span="6" class="style111">累计比赛：{{ form.match_moth }}/场</el-col>
          </el-row>
          <el-row :gutter="10" v-if="list.length>0">
            <el-col v-for="(item,index) in list" :key="index" :span="8" style="margin-top: 10px;">
              <el-col :span="8" style="background: white;border-radius: 5px">
                <img :src="games[index].logo" style="width: 66px;height: 66px;margin: 38px 10px">
              </el-col>
              <el-col :span="16" class="style17" style="border-radius: 5px">
                <p>{{ games[index].name }}</p>
                <p class="style18">昨日比赛：{{ item.yesterday }}/场</p>
                <p class="style18">今日比赛：{{ item.today }}/场</p>
                <p class="style18">明日比赛：{{ item.tomorrow }}/场</p>
              </el-col>
            </el-col>
          </el-row>
        </div>
      </el-col>
      <el-col :span="6">
        <div class="style2">
          <div class="grid-content bg-purple" style="margin: 0 15px;">
            <el-row style="padding-top: 20px">
              <el-col :span="18">
                待处理绑定<span style="color: #3794FF">{{ form.bind.num }}</span>个
              </el-col>
              <el-col :span="4" style="text-align: right">
                <el-button type="primary" size="mini" @click="getBind">去处理</el-button>
              </el-col>
              <div v-for="(item,index) in form.bind.meta_items" :key="index + 'a'">
                <el-link v-if="index < 10" :underline="false" style="font-size: 16px;margin-top: 4px" @click="getBindLol">有新的lol道具待处理，ID：{{ item.id }},前往绑定信息...</el-link>
              </div>
              <div v-for="(item,index) in form.bind.player" :key="index+'b'">
                <el-link v-if="index < 10" :underline="false" style="font-size: 16px;margin-top: 4px" @click="getBind">有新的选手待绑定，ID：{{ item.rel_identity_id }},前往绑定信息...</el-link>
              </div>
              <div v-for="(item,index) in form.bind.team" :key="index+'c'">
                <el-link v-if="index < 10" :underline="false" style="font-size: 16px;margin-top: 4px" @click="getBindTeam">有新的战队待绑定，ID：{{ item.id }},前往绑定信息...</el-link>
              </div>
            </el-row>
          </div>
        </div>
        <div class="style2">
          <div class="grid-content bg-purple" style="margin: 0 15px">
            <el-row style="padding-top: 20px">
              <el-col :span="18">
                待处理更新<span style="color: #3794FF" v-if="form.bind_update">{{ form.bind_update.num }}</span>个
              </el-col>
              <el-col :span="4" style="text-align: right">
                <el-button type="primary" size="mini" @click="getBindUp">去更新</el-button>
              </el-col>
              <div v-for="(item,index) in form.bind_update.list" :key="index">
                <el-link v-if="index < 30" :underline="false" style="font-size: 16px;margin-top: 4px" @click="getBindUp">有新的战队待更新，ID：{{ item.id }},前往更新信息...</el-link>
              </div>
            </el-row>
          </div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { get_data } from '@/api/common'
export default {
  name: 'Tool',
  data() {
    return {
      timer: null,
      nowWeek: '',
      nowDate: '',
      nowTime: '',
      form: {
        match_yesterday: '0',
        tournament_yesterday: '0',
        match_today: '0',
        tournament_today: '0',
        match_tomorrow: '0',
        tournament_tomorrow: '0',
        match_week: '0',
        tournament_week: '0',
        match_moth: '0',
        tournament_moth: '0',
        bind: {
          meta_items: [],
          team: [],
          player: [],
          num: '0'
        },
        bind_update: {
          num: ''
        },
        game_yesterday: {}
      },
      gettime: '',
      list: [
      ],
      url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg'
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list',
      'name'
    ])
  },
  // created() {
  //   this.currentTime()
  // },
  mounted() {
    this.getInfo()
    this.timer = setInterval(() => {
      this.setNowTimes()
    }, 1000)
  },
  methods: {
    setNowTimes() {
      const myDate = new Date()
      // console.log(myDate)
      const wk = myDate.getDay()
      const yy = String(myDate.getFullYear())
      const mm = myDate.getMonth() + 1
      const dd = String(myDate.getDate() < 10 ? '0' + myDate.getDate() : myDate.getDate())
      const hou = String(myDate.getHours() < 10 ? '0' + myDate.getHours() : myDate.getHours())
      const min = String(myDate.getMinutes() < 10 ? '0' + myDate.getMinutes() : myDate.getMinutes())
      const sec = String(myDate.getSeconds() < 10 ? '0' + myDate.getSeconds() : myDate.getSeconds())
      const weeks = ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六']
      const week = weeks[wk]
      this.nowDate = yy + '年' + mm + '月' + dd + '日'
      this.nowTime = hou + ':' + min + ':' + sec
      this.nowWeek = week
    },
    getBindLol() {
      this.$router.push('/gamecenter/dataManage/heroLeague/prop/list')
    },
    getBindUp() {
      this.$router.push('/gamecenter/update/updateinfo/list')
    },
    getBind() {
      this.$router.push('/gamecenter/player/binding/list')
    },
    getBindTeam() {
      this.$router.push('/gamecenter/team/binding/list')
    },
    getInfo() {
      const params = {}
      get_data(params).then(req => {
        this.form = req.data
        this.listInfo()
      })
    },
    listInfo() {
      var info = []
      for (var i in this.form.game_yesterday) {
        var tmp = {
          yesterday: '',
          tomorrow: '',
          today: ''
        }
        tmp.yesterday = this.form.game_yesterday[i]
        info.push(tmp)
      }
      for (var k in this.form.game_tomorrow) {
        info[k - 1]['tomorrow'] = this.form.game_tomorrow[k]
      }
      for (var n in this.form.game_today) {
        info[n - 1]['today'] = this.form.game_today[n]
      }
      this.list = info
      console.log(info)
    }
    // currentTime() {
    //   setInterval(this.getTime, 500)
    // },
    // getTime: function() {
    //   var _this = this
    //   const yy = new Date().getFullYear()
    //   const mm = new Date().getMonth() + 1
    //   const dd = new Date().getDate()
    //   // const hh = new Date().getHours()
    //   // const mf = new Date().getMinutes() < 10 ? '0' + new Date().getMinutes() : new Date().getMinutes()
    //   // const ss = new Date().getSeconds() < 10 ? '0' + new Date().getSeconds() : new Date().getSeconds()
    //   _this.gettime = yy + '年' + mm + '月' + dd + '日'
    // }
  }
}
</script>

<style scoped>
  .style1{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight:bold;
    color: rgb(96, 98, 102);
  }
  .style12{
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .style13{
    color: #919191;
    font-size: 12px;
  }
  .style14{
    margin-bottom: 20px;
  }
  .style15{
    background: white;
    margin-top: 10px;
    height: 50px;
    border-radius: 5px;
  }
  .style151{
    margin-top: 2px;
    background: white;
    margin-bottom: 5px;
    height: 50px;
    border-radius: 5px;
  }
  .style16{
    margin-left: 20px;
    text-align: center;
  }
  .style17{
    background: white;
    text-align: left;
  }
  .style18{
    font-size: 14px;
  }
  .style19{
    background: white;
    border-radius: 5px;
    margin-top: 10px;
  }
  .style111{
    font-size: 14px;
  }
  .style123{
    color: #919191;
  }
  .style1234{
    color: #161616;
    font-size: 20px;
  }
  .style1. style12. style3{
    /*margin-bottom: 10px;*/
  }
  .style2{
    margin-top: 10px;
    margin-right: 20px;
    background: white;
    height: 710px;
    border-radius: 5px;
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight:bold;
    color: rgb(96, 98, 102);
    overflow:hidden;
  }
.todayStyle{
  height: 180px;
  background: white;
  text-align: center;
}
  .verticalBar {
    width: 2px;
    height: 110px;
    background: #D4D4D4;
    display: inline-block;
    margin-top: 31px;
    vertical-align: top;
    margin-right: 29px;
    margin-left: 15px;
  }
</style>
