<template>
  <div>
    <!-- 数据源绑定概况 -->
    <div class="d-flex">
      <div v-for="(item,index) in sources" :key="index" class="d-flex visiteds" style="margin-left: 15px;margin-top: 4px;cursor: pointer; " @click="subInfo(item.name)">
        <div :style="{'background-color':item.color}" class="bg1" />
        <div style="margin-left: 4px">{{ item.name }}</div>
      </div>
    </div>
    <Echart
      id="bottomLeftChart"
      :options="options"
      height="7.05rem"
      width="100%"
    />
  </div>
</template>

<script>
import { bindingDada } from '@/api/chart'
import Echart from '@/common/echart'
export default {
  components: {
    Echart
  },
  data() {
    return {
      timer: '',
      sources: [],
      dataList: {},
      options: {
        title: {
          textStyle: {
            fontSize: 16,
            align: 'center'
          },
          subtextStyle: {
            align: 'center'
          }
        },
        series: {
          type: 'sunburst',
          data: [],
          radius: [0, '100%'],
          sort: null,

          emphasis: {
            focus: 'ancestor'
          },

          center: ['50%', '40%'],
          levels: [{}, {
            r0: '15%',
            r: '35%',
            itemStyle: {
              borderWidth: 2
            },
            label: {
              rotate: 'tangential',
              formatter: '{b}\n{c}'
            }
          }, {
            r0: '35%',
            r: '70%',
            label: {
              align: 'right',
              formatter: '{b}\n{c}'
            }
          }, {
            r0: '70%',
            r: '72%',
            label: {
              position: 'outside',
              padding: 3,
              silent: false
            },
            itemStyle: {
              borderWidth: 3
            }
          }]
        }
      }
    }
  },
  mounted() {
    this.getInfo()
    this.timer = setInterval(this.get, 60000)
  },
  beforeDestroy() {
    clearInterval(this.timer)
  },
  methods: {
    get() {
      this.getInfo()
    },
    subInfo(name) {
      var tmp = this.dataList[name]
      var origin_name = Object.keys(tmp)
      var arr = []
      var data = [
        { name: 'abios', value: 20, itemStyle: { color: '#DA3227' },
          children: [{ name: '已绑定', value: 16, itemStyle: { color: '#DA3227' }},
            { name: '待绑定', value: 3, itemStyle: { color: '#fb8c84' }}
          ]
        },
        { name: 'pandascore', value: 20, itemStyle: { color: '#B201DE' },
          children: [{ name: '已绑定', value: 10, itemStyle: { color: '#B201DE' }},
            { name: '待绑定', value: 3, itemStyle: { color: '#e594f9' }}
          ]
        },
        { name: 'orange', value: 20, itemStyle: { color: '#F8AD33' },
          children: [{ name: '已绑定', value: 10, itemStyle: { color: '#F8AD33' }},
            { name: '待绑定', value: 3, itemStyle: { color: '#fcd79c' }}
          ]
        },
        { name: 'five', value: 20, itemStyle: { color: '#5BB1F3' },
          children: [{ name: '已绑定', value: 10, itemStyle: { color: '#70a1ff' }},
            { name: '待绑定', value: 3, itemStyle: { color: '#1e90ff' }}
          ]
        },
        { name: 'riotgames', value: 20, itemStyle: { color: '#FFFFFF' },
          children: [{ name: '已绑定', value: 10, itemStyle: { color: '#FFFFFF' }},
            { name: '待绑定', value: 3, itemStyle: { color: '#d6d6d6' }}
          ]
        },
        { name: 'hltv', value: 20, itemStyle: { color: '#3E6EA0' },
          children: [{ name: '已绑定', value: 10, itemStyle: { color: '#3E6EA0' }},
            { name: '待绑定', value: 3, itemStyle: { color: '#c7d6e5' }}
          ]
        },
        { name: 'valve', value: 20, itemStyle: { color: '#145285' },
          children: [{ name: '已绑定', value: 10, itemStyle: { color: '#145285' }},
            { name: '待绑定', value: 3, itemStyle: { color: '#7bc1fb' }}
          ]
        },
        { name: 'bayesplus', value: 20, itemStyle: { color: '#17BC91' },
          children: [{ name: '已绑定', value: 10, itemStyle: { color: '#17BC91' }},
            { name: '待绑定', value: 3, itemStyle: { color: '#b8e994' }}
          ]
        }
      ]
      origin_name.forEach((item, key) => {
        data.forEach((origin, index) => {
          if (item == origin.name) {
            data[index].name = item
            data[index].value = 1 * tmp[item].total
            data[index].children[0].value = 1 * tmp[item].relation
            data[index].children[1].value = 1 * tmp[item].not_relation
            arr.push(data[index])
          }
        })
      })
      this.options.series.data = arr
    },
    getInfo() {
      const params = {}
      bindingDada(params).then(res => {
        this.dataList = res.data
        var sources = Object.keys(this.dataList)
        var colors = ['#5799F0',
          '#6EC17B', '#983680', '#f0a72e',
          '#D580C2', '#9A79E5',
          '#DA5725', '#61a0a8',
          '#d48265', '#91c7ae',
          '#749f83', '#ca8622',
          '#bda29a', '#6e7074',
          '#546570', '#c4ccd3',
          '#2f4554']
        this.sources = []
        sources.forEach((item, index) => {
          var tmp = { name: '', color: '' }
          tmp.name = item
          tmp.color = colors[index]
          this.sources.push(tmp)
        })
        this.subInfo(this.sources[0].name)
      })
    }
  }
}
</script>

<style scoped >
  .bg1 {
    width: 25px;
    height: 13px;
    border-radius: 3px;
    /*background-color: red;*/
  }
  .d-flex {
    display: flex;
    justify-content: center;
    font-size: 14px;
  }
  div:visited {
    color: #999; text-decoration: line-through;
  }
</style>
