<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>新建英雄</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-tabs type="border-card" :before-leave="(item)=>{return beforeLeave(item, 'form')}">
        <el-tab-pane label="核心内容">
          <el-form ref="form" :rules="rules" :model="form" label-width="140px">
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="名称（英文）" prop="name">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="名称（中文）">
                  <el-input v-model="form.name_cn" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="状态" prop="state">
                  <el-select v-model="form.state" placeholder="请选择" style="width: 100%">
                    <el-option label="正常" value="1" />
                    <el-option label="移除" value="2" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="官方ID">
                  <el-input v-model="form.external_id" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="官方名称">
                  <el-input v-model="form.external_name" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="称号(英文)" prop="title">
                  <el-input v-model="form.title" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="称号(中文)">
                  <el-input v-model="form.title_cn" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="主属性(英文)">
                  <el-input v-model="form.primary_attr" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="主属性(中文)">
                  <el-input v-model="form.primary_attr_cn" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="角色类型（英文）" prop="roles">
                  <el-input v-model="form.roles" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="角色类型（中文）">
                  <el-input v-model="form.roles_cn" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="Slug" prop="slug">
                  <el-input v-model="form.slug" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="头像" prop="image">
                  <el-upload
                    class="avatar-uploader"
                    :action="getUploadUrl()"
                    :on-success="uploads"
                    :before-upload="beforeAvatarUpload"
                  >
                    <img v-if="form.image" style="width: 256px;height: 144px" :src="form.image" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon" />
                  </el-upload>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="头像(小)" prop="small_image">
                  <el-upload
                    class="avatar-uploader"
                    :action="getUploadUrl()"
                    :on-success="upload1"
                    :before-upload="beforeAvatarUpload"
                  >
                    <img v-if="form.small_image" style="width: 32px;height: 32px" :src="form.small_image" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon" />
                  </el-upload>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 35px;text-align: center">
                <el-button type="primary" @click="onSubmit('form')">确认创建</el-button>
              </div>
            </el-row>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="天赋树">
          <el-form :model="form" label-width="130px">
            <div v-for="(item,index) in talentInfo" :key="index">
              <p>{{ item.id }}级天赋</p>
              <el-row type="flex" class="row-bg">
                <el-col :span="12" :offset="0">
                  <el-form-item label="左侧天赋">
                    <el-select v-model="item.left" placeholder="请选择" filterable style="width: 100%">
                      <el-option
                        v-for="(item,index) in allTalentList"
                        :key="index"
                        :label="item.id + ' ' + item.external_name +'(' +item.external_id+ ') ' + item.talent + '(' + item.talent_cn + ')'"
                        :value="''+item.id"
                        style="height: 100px;width: 600px;"
                      >
                        <p style="margin: 0;padding: 0">ELS ID：{{ item.id }}</p>
                        <p style="margin: 0;padding: 0">官方名称：{{ item.external_name +'(' +item.external_id+ ') ' }}</p>
                        <p style="margin: 0;padding: 0">天赋名称：{{ item.talent + '(' + item.talent_cn + ')' }}</p>
                      </el-option>
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="12" :offset="0">
                  <el-form-item label="右侧天赋">
                    <el-select v-model="item.right" placeholder="请选择" filterable style="width: 100%">
                      <el-option
                        v-for="(item,index) in allTalentList"
                        :key="index"
                        :label="item.id + ' ' + item.external_name +'(' +item.external_id+ ') ' + item.talent + '(' + item.talent_cn + ')'"
                        :value="''+item.id"
                        style="height: 100px;width: 600px;"
                      >
                        <p style="margin: 0;padding: 0">ELS ID：{{ item.id }}</p>
                        <p style="margin: 0;padding: 0">官方名称：{{ item.external_name +'(' +item.external_id+ ') ' }}</p>
                        <p style="margin: 0;padding: 0">天赋名称：{{ item.talent + '(' + item.talent_cn + ')' }}</p>
                      </el-option>
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
            </div>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 35px;text-align: center">
                <el-button type="primary" @click="onSubmit('form')">确认创建</el-button>
              </div>
            </el-row>
          </el-form>
        </el-tab-pane>
      </el-tabs>
    </el-card>
  </div>
</template>
<script>
import { dotaAdd, choose_talent } from '@/api/metadata'
import { getUploadBaseApi } from '@/api/file.js'

export default {
  name: 'Add',
  data() {
    const generateData = _ => {
      const data = []
      const cities = ['上海', '北京', '广州', '深圳', '南京', '西安', '成都']
      const pinyin = ['shanghai', 'beijing', 'guangzhou', 'shenzhen', 'nanjing', 'xian', 'chengdu']
      cities.forEach((city, index) => {
        data.push({
          label: city,
          key: index,
          pinyin: pinyin[index]
        })
      })
      return data
    }
    return {
      talentInfo: [
        { id: 10, left: '', right: '' },
        { id: 15, left: '', right: '' },
        { id: 20, left: '', right: '' },
        { id: 25, left: '', right: '' }
      ],
      talentList: {},
      allTalentList: [{ 'id': 0, 'external_name': '空', 'talent': '空', 'external_id': '空', 'talent_cn': '空' }],
      textarea: '',
      form: {
        name: '',
        name_cn: '',
        state: '',
        external_id: '',
        external_name: '',
        title: '',
        title_cn: '',
        primary_attr: '',
        primary_attr_cn: '',
        roles: '',
        roles_cn: '',
        slug: '',
        image: '',
        small_image: '',
        logo: '',
        official_name: '',
        main_attribute: '',
        attack_type: '',
        role_type: '',
        role_type_cn: '',
        leg_num: ''
      },
      data: generateData(),
      value: [],
      filterMethod(query, item) {
        return item.pinyin.indexOf(query) > -1
      },
      rules: {
        name: [
          { required: true, message: '请输入英雄名称', trigger: 'change' }
        ],
        state: [
          { required: true, message: '请选择状态', trigger: 'change' }
        ],
        title: [
          { required: true, message: '请输入称号', trigger: 'change' }
        ],
        image: [
          { required: true, message: '请上传头像', trigger: 'change' }
        ],
        small_image: [
          { required: true, message: '请上传头像', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    'form.name': {
      handler: function() {
        this.form.slug = this.$yangJian.slug_rule(this.form.name)
      }
    }
  },
  mounted() {
    this.get_talent()
  },
  methods: {
    get_talent() {
      const params = {}
      choose_talent(params).then(req => {
        this.talentList = req.data
        this.allTalentList.push.apply(this.allTalentList, this.talentList)
      })
    },
    beforeAvatarUpload(file) {
      console.log('file')
      console.log(file)
      // const isPNG = file.type === 'image/png || svg'
      const testmsg = file.type === 'image/png'
      const isLt1M = file.size / 1024 / 1024 < 1
      if (!testmsg) {
        this.$message.error('只能上传PNG格式!')
        return false
      }
      if (!isLt1M) {
        this.$message({
          message: '上传图标大小不能超过 1MB!',
          type: 'error'
        })
        return false
      }
      return testmsg || isLt1M
    },
    uploads(res, file) {
      this.form.image = res.data.url
      console.log(res)
      // console.log(file)
    },
    upload1(res, file) {
      this.form.small_image = res.data.url
      console.log(res)
      // console.log(file)
    },
    getUploadUrl() {
      return getUploadBaseApi()
    },
    beforeLeave(item, formName) {
      console.log('old')
      console.log(formName)
      if (item === '0') {
        return true
      } else {
        let k = true
        this.$refs[formName].validate((valid) => {
          if (valid) {
            k = true
          } else {
            this.$message.error('请填写完整必填项')
            k = false
          }
        })
        return k
      }
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          params['name'] = this.form.name
          params['name_cn'] = this.form.name_cn
          params['state'] = this.form.state
          params['external_id'] = this.form.external_id
          params['external_name'] = this.form.external_name
          params['title'] = this.form.title
          params['title_cn'] = this.form.title_cn
          params['primary_attr'] = this.form.primary_attr
          params['primary_attr_cn'] = this.form.primary_attr_cn
          params['roles'] = this.form.roles
          params['roles_cn'] = this.form.roles_cn
          params['slug'] = this.form.slug
          params['image'] = this.form.image
          params['small_image'] = this.form.small_image
          params['talents'] = JSON.stringify(this.talentInfo)
          // params['official_name'] = this.form.official_name
          // params['main_attribute'] = this.form.main_attribute
          // params['attack_type'] = this.form.attack_type
          // params['role_type'] = this.form.role_type
          // params['role_type_cn'] = this.form.role_type_cn
          // params['leg_num'] = this.form.leg_num
          // params['hero_talent_config'] = JSON.stringify(this.hero_talent_config)
          // params['hero_skill_config'] = JSON.stringify(this.hero_skill_config)
          dotaAdd(params).then(req => {
            this.$message({
              type: 'success',
              message: '添加成功！'
            })
            this.$router.push('/gamecenter/dataManage/dota2/herolmanage/list')
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
