<template>
  <div class="app-container ">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>编辑英雄</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-tabs v-model="activeName" type="border-card">
        <el-tab-pane label="核心内容">
          <el-form ref="form" :rules="rules" :model="form" label-width="130px">
            <el-row type="flex" class="row-bg">
              <el-col :span="8" ::offset="0">
                <el-form-item label="数据源">
                  <el-select v-model="data_config.config['dota2_hero.core_data'].origin_id" style="width: 100%" disabled>
                    <el-option
                      v-for="(item,index) in $store.getters.enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" ::offset="0">
                <el-form-item label="更新方式">
                  <el-select v-model="data_config.config['dota2_hero.core_data'].update_type" style="width: 100%" disabled>
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="名称（英文）" prop="name">
                  <el-input v-model="form.name" />
                  <div v-if="updateInfo.core_data.name || updateInfo.core_data.name == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.name?updateInfo.core_data.name:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.name = updateInfo.core_data.name">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="名称（中文）">
                  <el-input v-model="form.name_cn" />
                  <div v-if="updateInfo.core_data.name_cn || updateInfo.core_data.name_cn == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.name_cn?updateInfo.core_data.name_cn:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.name_cn = updateInfo.core_data.name_cn">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="状态" prop="state">
                  <el-select v-model="form.state" placeholder="请选择" style="width: 100%">
                    <el-option label="正常" value="1" />
                    <el-option label="移除" value="2" />
                  </el-select>
                  <div v-if="updateInfo.core_data.state || updateInfo.core_data.state == ''">
                    <span class="upDate">变更为：<span style="color: red">
                      <span v-if="updateInfo.core_data.state == '1'">正常</span>
                      <span v-if="updateInfo.core_data.state == '2'">移除</span>
                    </span></span>
                    <el-button type="primary" size="mini" plain @click="form.state = updateInfo.core_data.state">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="官方ID">
                  <el-input v-model="form.external_id" />
                  <div v-if="updateInfo.core_data.external_id || updateInfo.core_data.external_id == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.external_id?updateInfo.core_data.external_id:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.external_id = updateInfo.core_data.external_id">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="官方名称">
                  <el-input v-model="form.external_name" />
                  <div v-if="updateInfo.core_data.external_name || updateInfo.core_data.external_name == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.external_name?updateInfo.core_data.external_name:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.external_name = updateInfo.core_data.external_name">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="称号(英文)" prop="title">
                  <el-input v-model="form.title" />
                  <div v-if="updateInfo.core_data.title || updateInfo.core_data.title == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.title?updateInfo.core_data.title:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.title = updateInfo.core_data.title">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="称号(中文)">
                  <el-input v-model="form.title_cn" />
                  <div v-if="updateInfo.core_data.title_cn || updateInfo.core_data.title_cn == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.title_cn?updateInfo.core_data.title_cn:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.title_cn = updateInfo.core_data.title_cn">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="主属性(英文)">
                  <el-input v-model="form.primary_attr" />
                  <div v-if="updateInfo.core_data.primary_attr || updateInfo.core_data.primary_attr == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.primary_attr?updateInfo.core_data.primary_attr:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.primary_attr = updateInfo.core_data.primary_attr">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="主属性(中文)">
                  <el-input v-model="form.primary_attr_cn" />
                  <div v-if="updateInfo.core_data.primary_attr_cn || updateInfo.core_data.primary_attr_cn == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.primary_attr_cn?updateInfo.core_data.primary_attr_cn:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.primary_attr_cn = updateInfo.core_data.primary_attr_cn">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="角色类型（英文）" prop="roles">
                  <el-input v-model="form.roles" />
                  <div v-if="updateInfo.core_data.roles || updateInfo.core_data.roles == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.roles?updateInfo.core_data.roles:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.roles = updateInfo.core_data.roles">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="角色类型（中文）">
                  <el-input v-model="form.roles_cn" />
                  <div v-if="updateInfo.core_data.roles_cn || updateInfo.core_data.roles_cn == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.roles_cn?updateInfo.core_data.roles_cn:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.roles_cn = updateInfo.core_data.roles_cn">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="Slug" prop="slug">
                  <el-input v-model="form.slug" />
                  <div v-if="updateInfo.core_data.slug || updateInfo.core_data.slug == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.slug?updateInfo.core_data.slug:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.slug = updateInfo.core_data.slug">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="头像" prop="image">
                  <el-upload
                    class="avatar-uploader"
                    :action="getUploadUrl()"
                    :on-success="uploads"
                    :before-upload="beforeAvatarUpload"
                  >
                    <img v-if="form.image" style="width: 256px;height: 144px" :src="form.image" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon" />
                  </el-upload>
                  <div v-if="updateInfo.core_data.image||updateInfo.core_data.image == ''">
                    <p class="upDate">变更为:</p>
                    <div style="color: red;">
                      <img v-if="updateInfo.core_data.image" style="width: 50px;height: 50px" :src="updateInfo.core_data.image">
                      <p v-if="updateInfo.core_data.image == ''">空</p>
                      <span><el-button type="primary" size="mini" plain @click="form.image = updateInfo.core_data.image">应用</el-button></span>
                    </div>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="头像(小)" prop="small_image">
                  <el-upload
                    class="avatar-uploader"
                    :action="getUploadUrl()"
                    :on-success="upload1"
                    :before-upload="beforeAvatarUpload"
                  >
                    <img v-if="form.small_image" style="width: 32px;height: 32px" :src="form.small_image" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon" />
                  </el-upload>
                  <div v-if="updateInfo.core_data.small_image||updateInfo.core_data.small_image == ''">
                    <p class="upDate">变更为:</p>
                    <div style="color: red;">
                      <img v-if="updateInfo.core_data.small_image" style="width: 50px;height: 50px" :src="updateInfo.core_data.small_image">
                      <p v-if="updateInfo.core_data.image == ''">空</p>
                      <span><el-button type="primary" size="mini" plain @click="form.small_image = updateInfo.core_data.small_image">应用</el-button></span>
                    </div>
                  </div>
                </el-form-item>
              </el-col>
              <el-col v-if="updateInfo.core_data.deleted" :span="8" :offset="0">
                <el-form-item label="是否删除">
                  <el-select v-model="form.deleted" style="width: 100%" disabled>
                    <el-option label="是" value="1" />
                    <el-option label="否" value="2" />
                  </el-select>
                  <div v-if="updateInfo.core_data.deleted || updateInfo.core_data.deleted == ''">
                    <span class="upDate">变更为：<span style="color: red">
                      <span v-if="updateInfo.core_data.deleted == '1'">是</span>
                      <span v-if="updateInfo.core_data.deleted == '2'">否</span>
                    </span></span>
                    <el-button type="primary" size="mini" plain @click="form.deleted = updateInfo.core_data.deleted">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit('form')">确认修改</el-button>
              </div>
            </el-row>
            <div type="flex" class="row-bg" style="padding-top: 20px">
              <el-col v-for="(item,index) in binding_list" :key="index" :span="8">
                <el-col :span="20" ::offset="0">
                  <el-form-item :label="item.desc">
                    <el-input v-model="item.standard_id" disabled />
                  </el-form-item>
                </el-col>
                <el-col :span="4">
                  <el-form>
                    <el-form-item style="text-align: right">
                      <el-button type="text" @click="unbundle(item.id)">解绑</el-button>
                    </el-form-item>
                  </el-form>
                </el-col>
              </el-col>
            </div>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="天赋树" class="hero_telent">
          <el-form :model="form" label-width="130px">
            <el-row v-if="false" type="flex" class="row-bg">
              <el-col :span="6" :offset="0">
                <el-form-item label="数据源">
                  <el-input v-model="form.name" :disabled="true" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="更新方式">
                  <el-input v-model="form.name" :disabled="true" />
                </el-form-item>
              </el-col>
            </el-row>
            <div v-for="(item,index) in talentInfo" :key="index">
              <p>{{ item.id }}级天赋</p>
              <el-row type="flex" class="row-bg">
                <el-col :span="12" :offset="0">
                  <el-form-item label="左侧天赋">
                    <el-select v-model="item.left" placeholder="请选择" filterable style="width: 100%">
                      <el-option
                        v-for="(item,index) in allTalentList"
                        :key="index"
                        :label="item.id + ' ' + item.external_name +'(' +item.external_id+ ') ' + item.talent + '(' + item.talent_cn + ')'"
                        :value="''+item.id"
                        style="height: 100px;width: 600px;"
                      >
                        <p style="margin: 0;padding: 0">ELS ID：{{ item.id }}</p>
                        <p style="margin: 0;padding: 0">官方名称：{{ item.external_name +'(' +item.external_id+ ') ' }}</p>
                        <p style="margin: 0;padding: 0">天赋名称：{{ item.talent + '(' + item.talent_cn + ')' }}</p>
                      </el-option>
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="12" :offset="0">
                  <el-form-item label="右侧天赋">
                    <el-select v-model="item.right" placeholder="请选择" filterable style="width: 100%">
                      <el-option
                        v-for="(item,index) in allTalentList"
                        :key="index"
                        :label="item.id + ' ' + item.external_name +'(' +item.external_id+ ') ' + item.talent + '(' + item.talent_cn + ')'"
                        :value="''+item.id"
                        style="height: 100px;width: 600px;"
                      >
                        <p style="margin: 0;padding: 0">ELS ID：{{ item.id }}</p>
                        <p style="margin: 0;padding: 0">官方名称：{{ item.external_name +'(' +item.external_id+ ') ' }}</p>
                        <p style="margin: 0;padding: 0">天赋名称：{{ item.talent + '(' + item.talent_cn + ')' }}</p>
                      </el-option>
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
            </div>
            <div v-if="updateInfo.base_data.talents">
              <el-card>
                <span class="upDate" style="color: red">变更为:</span>
                <div v-for="(item,index) in updateInfo.base_data.talents" :key="index">
                  <p>{{ item.id }}级天赋</p>
                  <el-row type="flex" class="row-bg">
                    <el-col :span="12" :offset="0">
                      <el-form-item label="左侧天赋">
                        <el-select v-model="item.left" placeholder="请选择" filterable style="width: 100%">
                          <el-option
                            v-for="(item,index) in allTalentList"
                            :key="index"
                            :label="item.id + ' ' + item.external_name +'(' +item.external_id+ ') ' + item.talent + '(' + item.talent_cn + ')'"
                            :value="''+item.id"
                            style="height: 100px;width: 600px;"
                          >
                            <p style="margin: 0;padding: 0">ELS ID：{{ item.id }}</p>
                            <p style="margin: 0;padding: 0">官方名称：{{ item.external_name +'(' +item.external_id+ ') ' }}</p>
                            <p style="margin: 0;padding: 0">天赋名称：{{ item.talent + '(' + item.talent_cn + ')' }}</p>
                          </el-option>
                        </el-select>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12" :offset="0">
                      <el-form-item label="右侧天赋">
                        <el-select v-model="item.right" placeholder="请选择" filterable style="width: 100%">
                          <el-option
                            v-for="(item,index) in allTalentList"
                            :key="index"
                            :label="item.id + ' ' + item.external_name +'(' +item.external_id+ ') ' + item.talent + '(' + item.talent_cn + ')'"
                            :value="''+item.id"
                            style="height: 100px;width: 600px;"
                          >
                            <p style="margin: 0;padding: 0">ELS ID：{{ item.id }}</p>
                            <p style="margin: 0;padding: 0">官方名称：{{ item.external_name +'(' +item.external_id+ ') ' }}</p>
                            <p style="margin: 0;padding: 0">天赋名称：{{ item.talent + '(' + item.talent_cn + ')' }}</p>
                          </el-option>
                        </el-select>
                      </el-form-item>
                    </el-col>
                  </el-row>
                </div>
                <div style="text-align: center">
                  <el-button type="primary" size="mini" plain @click="talentInfo = updateInfo.base_data.talents">应用</el-button>
                </div>
              </el-card>
            </div>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit('form')">确认修改</el-button>
              </div>
            </el-row>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="技能">
          <el-form :model="form" label-width="110px">
            <el-row v-if="false" type="flex" class="row-bg">
              <el-col :span="6" :offset="0">
                <el-form-item label="数据源">
                  <el-input v-model="form.name" :disabled="true" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="更新方式">
                  <el-input v-model="form.name" :disabled="true" />
                </el-form-item>
              </el-col>
            </el-row>
            <div v-for="(item,index) in form.ability" :key="index">
              <el-card shadow="never">
                <el-row type="flex" class="row-bg">
                  <el-col :span="8" :offset="0">
                    <el-form-item label="名称（英文）">
                      <el-input v-model="item.name" disabled />
                    </el-form-item>
                  </el-col>
                  <el-col :span="8" :offset="0">
                    <el-form-item label="名称（中文）">
                      <el-input v-model="item.name_cn" disabled />
                    </el-form-item>
                  </el-col>
                  <el-col :span="8" :offset="0">
                    <el-form-item label="默认快捷键">
                      <el-input v-model="item.hotkey" disabled />
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="8" :offset="0">
                    <el-form-item label="官方ID" prop="external_id">
                      <el-input v-model="item.external_id" disabled />
                    </el-form-item>
                  </el-col>
                  <el-col :span="8" :offset="0">
                    <el-form-item label="官方名称" prop="external_id">
                      <el-input v-model="item.external_name" disabled />
                    </el-form-item>
                  </el-col>
                  <el-col :span="8" :offset="0">
                    <el-form-item label="Slug">
                      <el-input v-model="item.slug" disabled />
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row type="flex" class="row-bg">
                  <el-col :span="8" :offset="0">
                    <el-form-item label="图标" prop="image">
                      <el-upload
                        class="avatar-uploader"
                        :action="getUploadUrl()"
                        :on-success="upload"
                        :before-upload="beforeAvatarUpload"
                        disabled
                      >
                        <img v-if="item.image" style="width: 32px;height: 32px" :src="item.image" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon" />
                      </el-upload>
                    </el-form-item>
                  </el-col>
                  <el-col :span="8" :offset="0">
                    <el-form-item label="简介（英文）">
                      <el-input
                        v-model="item.description"
                        type="textarea"
                        :rows="4"
                        maxlength="1000"
                        show-word-limit
                        disabled
                      />
                    </el-form-item>
                  </el-col>
                  <el-col :span="8" :offset="0">
                    <el-form-item label="简介（中文）">
                      <el-input
                        v-model="item.description_cn"
                        type="textarea"
                        :rows="4"
                        maxlength="1000"
                        show-word-limit
                        disabled
                      />
                    </el-form-item>
                  </el-col>
                </el-row>
              </el-card>
              <div style="padding:10px 0;text-align: center">
                <el-button type="primary" text="mini" @click="getedit1(item.id)">编 辑</el-button>
              </div>
            </div>
          </el-form>
        </el-tab-pane>
      </el-tabs>
    </el-card>
  </div>
</template>
<script>
import { getUploadBaseApi } from '@/api/file.js'
import { heroInfo, dotaAdd, choose_talent } from '@/api/metadata'
import { get_binding_info } from '@/api/binding'
import { close_bing } from '@/api/common'
import { data_change_detail } from '@/api/data'
export default {
  name: 'Edit',
  data() {
    const generateData = _ => {
      const data = []
      const cities = ['上海', '北京', '广州', '深圳', '南京', '西安', '成都']
      const pinyin = ['shanghai', 'beijing', 'guangzhou', 'shenzhen', 'nanjing', 'xian', 'chengdu']
      cities.forEach((city, index) => {
        data.push({
          label: city,
          key: index,
          pinyin: pinyin[index]
        })
      })
      return data
    }
    return {
      activeName: '0',
      updateInfo: {
        core_data: {},
        base_data: {}
      },
      talentInfo: [
        { id: 10, left: '', right: '' },
        { id: 15, left: '', right: '' },
        { id: 20, left: '', right: '' },
        { id: 25, left: '', right: '' }
      ],
      talentList: {},
      allTalentList: [{ 'id': '', 'external_name': '空', 'talent': '空', 'external_id': '空', 'talent_cn': '空' }],
      binding_list: [],
      slug_stutas: 0,
      textarea: '',
      form: {
        deleted: '',
        name: '',
        name_cn: '',
        state: '',
        external_id: '',
        external_name: '',
        title: '',
        title_cn: '',
        primary_attr: '',
        primary_attr_cn: '',
        roles: '',
        roles_cn: '',
        slug: '',
        image: '',
        small_image: '',
        logo: '',
        official_name: '',
        main_attribute: '',
        attack_type: '',
        role_type: '',
        role_type_cn: '',
        leg_num: '',
        talent: {},
        ability: []
      },
      data: generateData(),
      value: [],
      filterMethod(query, item) {
        return item.pinyin.indexOf(query) > -1
      },
      data_config: {
        config: {
          'dota2_hero.base_data': {
            'id': '',
            'game_id': '',
            'resource_type': '',
            'resource_id': '',
            'tag_type': 'base_data',
            'slug': 'team.base_data',
            'origin_id': '',
            'update_type': ''
          },
          'dota2_hero.core_data': {
            'id': '',
            'game_id': '',
            'resource_type': 'team',
            'resource_id': '',
            'tag_type': 'core_data',
            'slug': 'team.core_data',
            'origin_id': '',
            'update_type': ''
          },
          'dota2_hero.team_player': {
            'id': '',
            'game_id': '',
            'resource_type': 'team',
            'resource_id': '',
            'tag_type': 'team_player',
            'slug': 'team.team_player',
            'origin_id': '',
            'update_type': ''
          }
        }
      },
      rules: {
        name: [
          { required: true, message: '请输入英雄名称', trigger: 'change' }
        ],
        state: [
          { required: true, message: '请选择状态', trigger: 'change' }
        ],
        title: [
          { required: true, message: '请输入称号', trigger: 'change' }
        ],
        image: [
          { required: true, message: '请上传头像', trigger: 'change' }
        ],
        small_image: [
          { required: true, message: '请上传头像', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    'form.name': {
      handler: function() {
        if (this.slug_stutas === 1) {
          this.slug_stutas = 0
        } else {
          this.form.slug = this.$yangJian.slug_rule(this.form.name)
        }
      }
    }
  },
  mounted() {
    if (this.$route.query.upId) {
      setTimeout(() => {
        this.get_talent()
        this.getBindingInfo()
        this.upInfo()
      }, 500)
    } else {
      this.get_talent()
      this.getBindingInfo()
      this.upInfo()
    }
  },
  methods: {
    upInfo() {
      if (this.$route.query.tag_type) {
        this.tag_type = this.$route.query.tag_type
        const params = {}
        params['id'] = this.$route.query.upId
        data_change_detail(params).then(req => {
          var infoList = req.data.change_info
          this.update(infoList, req.data.tag_type)
          this.beforeLeave1()
        })
      }
    },
    update(data, type) {
      var infos = {}
      switch (type) {
        case 'core_data':
          for (var i in data) {
            var k_name = data[i].key
            infos[k_name] = data[i].after
          }
          this.updateInfo.core_data = infos
          if (infos.state) {
            this.updateInfo.core_data.state = this.$yangJian.tmp_toString(infos.state)
          }
          if (infos.deleted) {
            this.updateInfo.core_data.deleted = this.$yangJian.tmp_toString(infos.deleted)
          }
          break
        case 'base_data':
          for (var k in data) {
            k_name = data[k].key
            infos[k_name] = data[k].after
          }
          this.updateInfo.base_data = infos
          if (infos.talents) {
            this.updateInfo.base_data.talents = JSON.parse(infos.talents)
          }
          break
      }
    },
    beforeLeave1() {
      if (this.tag_type === 'core_data') {
        this.activeName = '0'
      }
      if (this.tag_type === 'base_data') {
        this.activeName = '1'
      }
    },
    get_talent() {
      const params = {}
      choose_talent(params).then(req => {
        this.talentList = req.data
        this.allTalentList.push.apply(this.allTalentList, this.talentList)
        this.getheroInfo()
      })
    },
    getBindingInfo() {
      const params = {}
      params['master_id'] = this.$route.query.id
      params['type'] = 'dota2_hero'
      get_binding_info(params).then(req => {
        this.binding_list = req.data
      })
    },
    unbundle(id) {
      if (id) {
        this.$confirm('确认解绑？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const params = {}
          params['standard_id'] = id
          params['type'] = 'dota2_hero'
          close_bing(params).then(req => {
            this.$message({
              type: 'success',
              message: '解绑成功！'
            })
            this.getBindingInfo()
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          })
        })
      } else {
        this.$message({
          type: 'info',
          message: '没有绑定关系'
        })
      }
    },
    getedit1(id) {
      this.$router.push({ path: '/gamecenter/dataManage/dota2/ability/ability_edit', query: { id: id }})
    },
    getedit(id) {
      this.$router.push({ path: '/gamecenter/dataManage/dota2/talent/talent_edit', query: { id: id }})
    },
    beforeAvatarUpload(file) {
      console.log('file')
      console.log(file)
      // const isPNG = file.type === 'image/png || svg'
      const testmsg = file.type === 'image/png'
      const isLt1M = file.size / 1024 / 1024 < 1
      if (!testmsg) {
        this.$message.error('只能上传PNG格式!')
        return false
      }
      if (!isLt1M) {
        this.$message({
          message: '上传图标大小不能超过 1MB!',
          type: 'error'
        })
        return false
      }
      return testmsg || isLt1M
    },
    getheroInfo() {
      const params = {}
      params['id'] = this.$route.query.id
      heroInfo(params).then(req => {
        this.form = req.data.champion
        if (req.data.data_config.config) {
          this.data_config = req.data.data_config
        }
        if (req.data.champion.talents !== '' && req.data.champion.talents !== null) {
          console.log('55555')
          console.log(req.data.champion.talents)
          this.talentInfo = JSON.parse(req.data.champion.talents)
          var talentId = []
          this.talentList.forEach(item => {
            talentId.push(item.id)
          })
          this.talentInfo.forEach(item => {
            if (talentId.indexOf(item.right) === -1) {
              item.right = ''
            }
            if (talentId.indexOf(item.left) === -1) {
              item.left = ''
            }
          })
        }
        this.form.ability = req.data.ability
        this.form.state = this.$shaoXia.tmp_toString(req.data.champion.state)
        this.form.deleted = this.$yangJian.tmp_toString(req.data.champion.deleted)
        this.slug_stutas = 1
        this.form.slug = this.$yangJian.slug_rule(req.data.champion.slug)
      })
    },
    upload1(res, file) {
      this.form.small_image = res.data.url
      console.log(res)
      // console.log(file)
    },
    getUploadUrl1() {
      return getUploadBaseApi()
    },
    uploads(res, file) {
      this.form.image = res.data.url
      console.log(res)
      // console.log(file)
    },
    getUploadUrl() {
      return getUploadBaseApi()
    },
    // beforeLeave(item, formName) {
    //   console.log('old')
    //   console.log(formName)
    //   if (item === '0') {
    //     return true
    //   } else {
    //     let k = true
    //     this.$refs[formName].validate((valid) => {
    //       if (valid) {
    //         k = true
    //       } else {
    //         this.$message.error('请填写完整必填项')
    //         k = false
    //       }
    //     })
    //     return k
    //   }
    // },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          if (this.$route.query.upId) {
            params['todo_id'] = this.$route.query.upId
          }
          params['id'] = this.$route.query.id
          params['name'] = this.form.name
          params['name_cn'] = this.form.name_cn
          params['state'] = this.form.state
          params['external_id'] = this.form.external_id
          params['external_name'] = this.form.external_name
          params['title'] = this.form.title
          params['title_cn'] = this.form.title_cn
          params['primary_attr'] = this.form.primary_attr
          params['primary_attr_cn'] = this.form.primary_attr_cn
          params['roles'] = this.form.roles
          params['roles_cn'] = this.form.roles_cn
          params['slug'] = this.form.slug
          params['image'] = this.form.image
          params['small_image'] = this.form.small_image
          params['talents'] = JSON.stringify(this.talentInfo)
          if (this.updateInfo.core_data.deleted && this.updateInfo.core_data.deleted === this.form.deleted) {
            params['deleted'] = this.form.deleted
            params['deleted_at'] = this.updateInfo.core_data.deleted_at
          }
          dotaAdd(params).then(req => {
            this.$message({
              type: 'success',
              message: '编辑成功！'
            })
            if (this.$route.query.upId) {
              this.$router.push('/gamecenter/update/updateinfo/list')
            } else {
              this.$router.push('/gamecenter/dataManage/dota2/herolmanage/list')
            }
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
</style>
<style>
  /*.hero_telent .el-form-item .el-input__inner{*/
  /*  height: 100px;*/
  /*}*/
</style>
