<template>
  <div>
    <!-- 比赛数据统计图 -->
    <Echart
      id="weekData"
      :options="options"
      height="4.95rem"
      width="100%"
    />
  </div>
</template>

<script>
import Echart from '@/common/echart'
export default {
  name: 'Chart',
  components: {
    Echart
  },
  props: {
    cdata: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      options: {
        series: []
      }
    }
  },
  watch: {
    cdata: {
      handler(newData) {
        this.options = {
          tooltip: {
            trigger: 'axis',
            axisPointer: { // 坐标轴指示器，坐标轴触发有效
              type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
            }
          },
          legend: {
            data: newData.games
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          xAxis: [
            {
              type: 'value'
            }
          ],
          yAxis: [
            {
              type: 'category',
              data: newData.week
            }
          ],
          series: this.getInfo()
        }
      },
      immediate: true,
      deep: true
    }
  },
  mounted() {
    this.getInfo()
  },
  methods: {
    getInfo() {
      var list = []
      if (this.cdata.game_data) {
        this.cdata.game_data.forEach((item, index) => {
          var game_colors = [
            { name: 'CSGO', color: '#F99D01' }, { name: 'LOL', color: '#2E76BD' }, { name: 'DOTA2', color: '#E9483B' }, { name: 'KOG', color: '#FACA88' },
            { name: 'OW', color: '#646872' }, { name: 'SC2', color: '#7494B2' }, { name: 'HS', color: '#66451B' }, { name: 'PUBG', color: '#C96400' },
            { name: 'R6', color: '#3A3A3A' }, { name: 'COD', color: '#e8e8e8' }, { name: 'RL', color: '#174570' }, { name: 'Valorant', color: '#D85361' },
            { name: 'WoW', color: '#FBD059' }, { name: 'SMITE', color: '#2B3956' }, { name: 'HotS', color: '#4D84BA' }, { name: 'Smash', color: '#D33424' },
            { name: 'SC', color: '#43505C' }, { name: 'Fortnite', color: '#624B90' }, { name: 'FIFA', color: '#79A872' }, { name: 'HoN', color: '#27889B' },
            { name: 'CF', color: '#316E55' }, { name: 'AOV', color: '#A7AFBE' }, { name: 'NBA', color: '#3D5CCA' }
          ]
          var colors = ['#5799F0',
            '#6EC17B', '#f0a72e',
            '#D580C2', '#9A79E5',
            '#DA5725', '#61a0a8',
            '#d48265', '#91c7ae',
            '#749f83', '#ca8622',
            '#bda29a', '#6e7074',
            '#546570', '#c4ccd3',
            '#2f4554']
          var tmp = {
            name: '',
            type: 'bar',
            stack: 'total',
            label: {
              show: false
            },
            itemStyle: {
              color: '#6EC17B'
            },
            emphasis: {
              focus: 'series',
              blurScope: 'coordinateSystem'
            },
            data: []
          }
          tmp.name = Object.keys(item)[0]
          game_colors.forEach(game => {
            if (tmp.name == game.name) {
              tmp.itemStyle.color = game.color
            }
          })
          tmp.data = Object.values(item)[0]
          var is_show = false
          tmp.data.forEach(info => {
            if (info) {
              is_show = true
              return
            }
          })
          tmp.label.show = is_show
          list.push(tmp)
        })
      }
      return list
    }
  }
}
</script>

<style scoped>

</style>
