<template>
  <div>
    <Chart :cdata="cdata" />
  </div>
</template>

<script>
import { weekData } from '@/api/chart'
import Chart from './chart.vue'
export default {
  name: 'WeekDataChart',
  components: {
    Chart
  },
  data() {
    return {
      timer: '',
      cdata: {
        week: [],
        games: [],
        data_list: [],
        game_data: []
      }
    }
  },
  mounted() {
    this.getInfo()
    this.timer = setInterval(this.get, 60000)
  },
  beforeDestroy() {
    clearInterval(this.timer)
  },
  methods: {
    get() {
      this.getInfo()
    },
    getInfo() {
      const params = {}
      weekData(params).then(res => {
        this.cdata.week = res.data.count_time
        var games = res.data.count
        this.cdata.game_data = games
        games.forEach((item, key) => {
          var key = Object.keys(item)[0]
          var value = Object.values(item)[0]
          this.cdata.games.push(key)
          this.cdata.data_list.push(value)
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
