<template>
  <div style="padding: 10px">
    <el-card class="margin">
      <h4>管理员信息</h4>
      <el-form label-width="120px" style="width: 500px">
        <el-form-item label="管理员姓名： ">
          <el-input v-model="req.name" />
        </el-form-item>
        <el-form-item label="管理员电话">
          <el-input v-model="req.cell_phone" />
        </el-form-item>
        <el-form-item label="管理员登录名">
          <el-input v-model="req.username" />
        </el-form-item>
        <el-form-item label="管理员密码">
          <el-input v-model="req.password" />
        </el-form-item>
      </el-form>
    </el-card>
    <!--    <el-card>-->
    <!--      <h4>管理范围</h4>-->
    <!--      <el-checkbox-group v-model="req.permission.key">-->
    <!--        <el-checkbox v-for="(item) in permissionLists" :key="item.id" :label="item.id">{{ item.name }}</el-checkbox>-->
    <!--      </el-checkbox-group>-->

    <!--    </el-card>-->
    <div class="footer">
      <el-button type="primary" style="width:120px" @click="back">返回</el-button>
      <el-button type="primary" style="width:120px" @click="submitEdit">提交</el-button>
    </div>
  </div>
</template>

<script>
import { list, permession } from '../../../api/admin'
import { clientAdd } from '@/api/client_account'
export default {
  name: 'Edit',
  data() {
    return {
      req: {
        password: '',
        name: '',
        username: '',
        cell_phone: '',
        permission_list: [],
        permission: {
          key: []
        }
      },
      permissionLists: []
    }
  },
  mounted() {
    this.getInfo()
    this.permissionList()
  },
  methods: {
    back() {
      this.$router.push('/gamecenter/admin/index')
    },
    getInfo() {
      const id = this.$route.query.id
      if (id) {
        list().then(res => {
          console.log(res)
          this.info = res.data.list[0]
        })
      }
    },
    permissionList() {
      permession().then(res => {
        this.permissionLists = res.data
      })
    },
    submitEdit() {
      const params = {}
      params['name'] = this.req.name
      params['cell_phone'] = this.req.cell_phone
      params['client_id'] = this.req.username
      params['secret_key'] = this.req.password
      clientAdd(params).then(res => {
        this.$message({
          message: '添加成功',
          type: 'success'
        })
        this.$router.push('/gamecenter/admin/index')
      })
    }
  }
}
</script>

<style scoped>

  span{
    font-size: 10px;
  }
  .footer{
    width:100%;
    text-align: center;
    margin:40px auto;
  }
</style>

