<template>
  <div style="padding: 10px">
    <el-card class="margin">
      <h4>管理员信息</h4>
      <el-form label-width="120px" style="width: 500px">
        <el-form-item label="管理员ID： ">
          <el-input v-model="req.id" />
        </el-form-item>
        <el-form-item label="管理员姓名">
          <el-input v-model="req.username" />
        </el-form-item>
        <el-form-item label="管理员电话">
          <el-input v-model="req.cell_phone" />
        </el-form-item>
        <el-form-item label="管理员登录名">
          <el-input v-model="req.client_id" />
        </el-form-item>
      </el-form>
    </el-card>
    <div class="footer">
      <el-button type="primary" style="width:120px" @click="back">返回</el-button>
      <el-button type="primary" style="width:120px" @click="submitEdit">提交</el-button>
    </div>
  </div>
</template>

<script>
import { permession } from '../../../api/admin'
import { client_edit, client_detail } from '@/api/client_account'
export default {
  name: 'Edit',
  data() {
    return {
      req: {
        id: '',
        name: '',
        username: '',
        cell_phone: '',
        permission: {
          key: []
        },
        role_type: ''
      },
      permission_list: []
    }
  },
  mounted() {
    this.permissionList()
    this.getInfo()
  },
  methods: {
    back() {
      this.$router.push('/gamecenter/admin/index')
    },
    getInfo() {
      const id = this.$route.query.id
      client_detail({ id: id }).then(res => {
        console.log(res)
        this.req = res.data
      })
    },
    permissionList() {
      permession().then(res => {
        this.permission_list = res.data
        if (1 * this.req.role_type === 1) {
          this.refreshCheck()
        }
      })
    },
    refreshCheck() {
      this.req.permission.key = []
      if (this.permission_list.length > 0) {
        // 给账号账号权限赋值
        this.permission_list.forEach(item => {
          this.req.permission.key.push(item.id)
        })
      }
    },
    submitEdit() {
      const params = {}
      params['id'] = this.req.id
      params['name'] = this.req.name
      params['client_id'] = this.req.username
      params['cell_phone'] = this.req.cell_phone
      client_edit(params).then(res => {
        this.$message({
          message: '修改成功',
          type: 'success'
        })
        this.$router.push('/gamecenter/admin/index')
      })
      // console.log(params)
    }
  }
}
</script>

<style scoped>
  .margin{
    margin-bottom:20px
  }
  .header{
    margin-top:20px
  }
  span{
    font-size: 10px;
  }
  .footer{
    width:100%;
    text-align: center;
    margin:40px auto;
  }
</style>

