<template>
  <div style="padding: 10px">
    <el-card>
      <h4>管理员信息</h4>
      <el-row :gutter="20" class="margin">
        <el-col :span="6">管理员ID:{{ info.id }}</el-col>
      </el-row>
      <el-row :gutter="20" class="margin">
        <el-col :span="6">管理员姓名:{{ info.name }}</el-col>
      </el-row>
      <el-row :gutter="20" class="margin">
        <el-col :span="6">管理员电话:{{ info.cell_phone }}</el-col>
      </el-row>
      <el-row :gutter="20" class="margin">
        <el-col :span="6">管理员登录名:{{ info.client_id }}</el-col>
      </el-row>
    </el-card>
    <div class="footer">
      <el-button type="primary" style="width:120px" @click="clone">返回</el-button>
    </div>
  </div>
</template>

<script>
import { permession } from '../../../api/admin'
import { client_detail } from '@/api/client_account'
export default {
  name: 'Info',
  data() {
    return {
      info: {}
      // permissionLists:[],
    }
  },
  mounted() {
    this.getInfo()
    this.permissionList()
  },
  methods: {
    clone() {
      this.$router.push('/gamecenter/admin/index')
    },
    getInfo() {
      const id = this.$route.query.id
      client_detail({ id: id }).then(res => {
        console.log(res)
        this.info = res.data
      })
    },
    permissionList() {
      permession().then(res => {
        this.permissionLists = res.data
      })
    }
  }
}
</script>

<style scoped>
  .margin {
    padding: 20px
  }

  span {
    font-size: 10px;
  }

  .footer {
    width: 100%;
    text-align: center;
    margin: 40px auto;
  }
  .footers{
    margin-top:20px;
    margin-left:50px;
  }
</style>

