<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>编辑技能</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form ref="form" :rules="rules" :model="form" label-width="130px">
        <el-row type="flex" class="row-bg">
          <el-col :span="8" ::offset="0">
            <el-form-item label="数据源">
              <el-select v-model="data_config.config['lol_ability.core_data'].origin_id" style="width: 100%" disabled>
                <el-option
                  v-for="(item,index) in $store.getters.enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" ::offset="0">
            <el-form-item label="更新方式">
              <el-select v-model="data_config.config['lol_ability.core_data'].update_type" style="width: 100%" disabled>
                <el-option label="不更新" value="1" />
                <el-option label="手动" value="2" />
                <el-option label="自动" value="3" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8" :offset="0">
            <el-form-item label="所属英雄">
              <el-select v-model="form.champion_id" filterable placeholder="请选择" style="width: 100%">
                <el-option
                  v-for="(item,index) in hero_list"
                  :key="index"
                  :label="item.title +' · '+item.name+' ('+item.title_cn+' · '+item.name_cn+')'+ '('+ item.id + ')'"
                  :value="item.id"
                />
              </el-select>
              <div v-if="updateInfo.core_data.champion_id || updateInfo.core_data.champion_id == ''">
                <span class="upDate">变更为：
                  <span v-for="(item,index) in hero_list" :key="index" style="color: red">
                    <span v-if="item.id ==updateInfo.core_data.champion_id">{{ item.title +' · '+item.name+' ('+item.title_cn+' · '+item.name_cn+')'+ '('+ item.id + ')' }}</span>
                  </span>
                  <el-button type="primary" size="mini" plain @click="form.champion_id = updateInfo.core_data.champion_id">应用</el-button>
                </span>
              </div>
            </el-form-item>
          </el-col>
          <el-col v-if="updateInfo.core_data.deleted" :span="8" :offset="0">
            <el-form-item label="是否删除">
              <el-select v-model="form.deleted" style="width: 100%" disabled>
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
              <div v-if="updateInfo.core_data.deleted || updateInfo.core_data.deleted == ''">
                <span class="upDate">变更为：<span style="color: red">
                  <span v-if="updateInfo.core_data.deleted == '1'">是</span>
                  <span v-if="updateInfo.core_data.deleted == '2'">否</span>
                </span></span>
                <el-button type="primary" size="mini" plain @click="form.deleted = updateInfo.core_data.deleted">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8" :offset="0">
            <el-form-item label="名称（英文）" prop="name">
              <el-input v-model="form.name" />
              <div v-if="updateInfo.core_data.name || updateInfo.core_data.name == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.name?updateInfo.core_data.name:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.name = updateInfo.core_data.name">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="名称（中文）">
              <el-input v-model="form.name_cn" />
              <div v-if="updateInfo.core_data.name_cn || updateInfo.core_data.name_cn == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.name_cn?updateInfo.core_data.name_cn:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.name_cn = updateInfo.core_data.name_cn">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="默认快捷键" prop="hotkey">
              <el-input v-model="form.hotkey" @keyup.native="form.hotkey = proving(form.hotkey)" />
              <div v-if="updateInfo.core_data.hotkey || updateInfo.core_data.hotkey == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.hotkey?updateInfo.core_data.hotkey:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.hotkey = updateInfo.core_data.hotkey">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8">
            <el-form-item label="官方ID:">
              <el-input v-model="form.external_id" style="width: 100%" />
              <div v-if="updateInfo.core_data.external_id || updateInfo.core_data.external_id == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.external_id?updateInfo.core_data.external_id:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.external_id = updateInfo.core_data.external_id">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="官方名称:">
              <el-input v-model="form.external_name" style="width: 100%" />
              <div v-if="updateInfo.core_data.external_name || updateInfo.core_data.external_name == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.external_name?updateInfo.core_data.external_name:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.external_name = updateInfo.core_data.external_name">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="Slug" prop="slug">
              <el-input v-model="form.slug" />
              <div v-if="updateInfo.core_data.slug || updateInfo.core_data.slug == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.slug?updateInfo.core_data.slug:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.slug = updateInfo.core_data.slug">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="图标" prop="image">
                  <el-upload
                    class="avatar-uploader"
                    :action="getUploadUrl()"
                    :on-success="uploads"
                    :before-upload="beforeAvatarUpload"
                  >
                    <img v-if="form.image" style="width: 50px;height: 50px" :src="form.image" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon" />
                  </el-upload>
                  <div v-if="updateInfo.core_data.image||updateInfo.core_data.image == ''">
                    <p class="upDate">变更为:</p>
                    <div style="color: red;">
                      <img v-if="updateInfo.core_data.image" style="width: 50px;height: 50px" :src="updateInfo.core_data.image">
                      <p v-if="updateInfo.core_data.image == ''">空</p>
                      <span><el-button type="primary" size="mini" plain @click="form.image = updateInfo.core_data.image">应用</el-button></span>
                    </div>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="描述（英文）">
              <el-input
                v-model="form.description"
                type="textarea"
                :rows="4"
                maxlength="1000"
                show-word-limit
                style="width: 100%"
              />
              <div v-if="updateInfo.core_data.description||updateInfo.core_data.description==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.description?updateInfo.core_data.description:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.description = updateInfo.core_data.description">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="描述（中文）">
              <el-input
                v-model="form.description_cn"
                type="textarea"
                :rows="4"
                maxlength="1000"
                show-word-limit
                style="width: 100%"
              />
              <div v-if="updateInfo.core_data.description_cn||updateInfo.core_data.description_cn==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.description_cn?updateInfo.core_data.description_cn:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.description_cn = updateInfo.core_data.description_cn">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <div style="padding-top: 45px;text-align: center">
            <el-button type="primary" @click="onSubmit('form')">确认修改</el-button>
          </div>
        </el-row>
        <div type="flex" class="row-bg" style="padding-top: 20px">
          <el-col v-for="(item,index) in binding_list" :key="index" :span="8">
            <el-col :span="20" ::offset="0">
              <el-form-item :label="item.desc">
                <el-input v-model="item.standard_id" disabled />
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form>
                <el-form-item style="text-align: right">
                  <el-button type="text" @click="unbundle(item.id)">解绑</el-button>
                </el-form-item>
              </el-form>
            </el-col>
          </el-col>
        </div>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { getUploadBaseApi } from '@/api/file.js'
import { lol_ability_add, lol_ability_info, getHeroList } from '@/api/metadata'
import { close_bing } from '@/api/common'
import { get_binding_info } from '@/api/binding'
import { data_change_detail } from '@/api/data'
export default {
  name: 'AbilityList',
  data() {
    return {
      updateInfo: {
        core_data: {},
        base_data: {}
      },
      binding_list: [],
      slug_stutas: 0,
      hero_list: [],
      form: {
        deleted: '',
        name: '',
        champion_id: '',
        name_cn: '',
        hotkey: '',
        external_name: '',
        external_id: '',
        slug: '',
        image: '',
        description: '',
        description_cn: ''
      },
      data_config: {
        config: {
          'lol_ability.base_data': {
            'id': '',
            'game_id': '',
            'resource_type': '',
            'resource_id': '',
            'tag_type': 'base_data',
            'slug': 'team.base_data',
            'origin_id': '',
            'update_type': ''
          },
          'lol_ability.core_data': {
            'id': '',
            'game_id': '',
            'resource_type': 'team',
            'resource_id': '',
            'tag_type': 'core_data',
            'slug': 'team.core_data',
            'origin_id': '',
            'update_type': ''
          },
          'lol_ability.team_player': {
            'id': '',
            'game_id': '',
            'resource_type': 'team',
            'resource_id': '',
            'tag_type': 'team_player',
            'slug': 'team.team_player',
            'origin_id': '',
            'update_type': ''
          }
        }
      },
      rules: {
        champion_id: [
          { required: true, message: '请选择', trigger: 'change' }
        ],
        name: [
          { required: true, message: '请输入名称', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入Slug', trigger: 'change' }
        ],
        hotkey: [
          { required: true, message: '请输入', trigger: 'change' }
        ],
        image: [
          { required: true, message: '请上传头像', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    'form.name': {
      handler: function() {
        if (this.slug_stutas === 1) {
          this.slug_stutas = 0
        } else {
          this.form.slug = this.$yangJian.slug_rule(this.form.name)
        }
      }
    }
  },
  mounted() {
    if (this.$route.query.upId) {
      setTimeout(() => {
        this.getInfo()
        this.heroInfo()
        this.getBindingInfo()
        this.upInfo()
      }, 500)
    } else {
      this.getInfo()
      this.heroInfo()
      this.getBindingInfo()
      this.upInfo()
    }
  },
  methods: {
    updatehero(id) {
      this.hero_list.forEach(item => {
        if (item.id === id) {
          return item.title + ' · ' + item.name + ' (' + item.title_cn + ' · ' + item.name_cn + ')' + '(' + item.id + ')'
        }
      })
    },
    proving(data) {
      return this.$yangJian.num_letter(data)
    },
    upInfo() {
      if (this.$route.query.tag_type) {
        this.tag_type = this.$route.query.tag_type
        const params = {}
        params['id'] = this.$route.query.upId
        data_change_detail(params).then(req => {
          var infoList = req.data.change_info
          this.update(infoList, req.data.tag_type)
        })
      }
    },
    update(data, type) {
      var infos = {}
      switch (type) {
        case 'core_data':
          for (var i in data) {
            var k_name = data[i].key
            infos[k_name] = data[i].after
          }
          this.updateInfo.core_data = infos
          if (infos.deleted) {
            this.updateInfo.core_data.deleted = this.$yangJian.tmp_toString(infos.deleted)
          }
          if (infos.champion_id) {
            this.updateInfo.core_data.champion_id = this.$yangJian.tmp_toString(infos.champion_id)
          }
          break
        case 'base_data':
          for (var k in data) {
            k_name = data[k].key
            infos[k_name] = data[k].after
          }
          this.updateInfo.base_data = infos
          break
      }
    },
    unbundle(id) {
      if (id) {
        this.$confirm('确认解绑？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const params = {}
          params['standard_id'] = id
          params['type'] = 'lol_ability'
          close_bing(params).then(req => {
            this.$message({
              type: 'success',
              message: '解绑成功！'
            })
            this.getBindingInfo()
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          })
        })
      } else {
        this.$message({
          type: 'info',
          message: '没有绑定关系'
        })
      }
    },
    getBindingInfo() {
      const params = {}
      params['master_id'] = this.$route.query.id
      params['type'] = 'lol_ability'
      get_binding_info(params).then(req => {
        this.binding_list = req.data
      })
    },
    beforeAvatarUpload(file) {
      console.log('file')
      console.log(file)
      // const isPNG = file.type === 'image/png || svg'
      const testmsg = file.type === 'image/png'
      const isLt1M = file.size / 1024 / 1024 < 1
      if (!testmsg) {
        this.$message.error('只能上传PNG格式!')
        return false
      }
      if (!isLt1M) {
        this.$message({
          message: '上传图标大小不能超过 1MB!',
          type: 'error'
        })
        return false
      }
      return testmsg || isLt1M
    },
    heroInfo() {
      const params = {}
      getHeroList(params).then(req => {
        this.hero_list = req.data
        var tmp = { title: '空', name: '空', title_cn: '空', name_cn: '空', id: '' }
        this.hero_list.splice(0, 1, tmp)
      })
    },
    getInfo() {
      const params = {}
      params['id'] = this.$route.query.id
      lol_ability_info(params).then(req => {
        this.slug_stutas = 1
        var obj1 = req.data.ability
        this.form = Object.assign(this.form, obj1)
        if (req.data.data_config.config) {
          this.data_config = req.data.data_config
        }
        if (req.data.ability.deleted) {
          this.form.deleted = this.$yangJian.tmp_toString(req.data.ability.deleted)
        }
        this.form.slug = this.$yangJian.slug_rule(req.data.ability.slug)
        this.form.champion_id = this.$yangJian.tmp_toString(req.data.ability.champion_id)
      })
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          if (this.$route.query.upId) {
            params['todo_id'] = this.$route.query.upId
          }
          params['id'] = this.$route.query.id
          params['champion_id'] = this.form.champion_id
          params['name'] = this.form.name
          params['name_cn'] = this.form.name_cn
          params['hotkey'] = this.form.hotkey
          params['external_name'] = this.form.external_name
          params['external_id'] = this.form.external_id
          params['slug'] = this.form.slug
          params['image'] = this.form.image
          params['description'] = this.form.description
          params['description_cn'] = this.form.description_cn
          if (this.updateInfo.core_data.deleted && this.updateInfo.core_data.deleted === this.form.deleted) {
            params['deleted'] = this.form.deleted
            params['deleted_at'] = this.updateInfo.core_data.deleted_at
          }
          lol_ability_add(params).then(req => {
            this.$message({
              type: 'success',
              message: '修改成功！'
            })
            if (this.$route.query.upId) {
              this.$router.push('/gamecenter/update/updateinfo/list')
            } else {
              this.$router.push('/gamecenter/dataManage/heroLeague/ability/ability_list')
            }
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    },
    uploads(res, file) {
      this.form.image = res.data.url
    },
    getUploadUrl() {
      return getUploadBaseApi()
    }
  }
}
</script>

<style>

</style>
