<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>技能管理</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="req" :inline="true" label-width="105px" size="mini">
        <el-row>
          <el-col :span="6">
            <el-form-item label="官方ID:">
              <el-input v-model="req.external_id" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="官方名称:">
              <el-input v-model="req.external_name" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="ELS ID:">
              <el-input v-model="req.id" style="width:220px" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="所属英雄称号:">
              <el-input v-model="req.hero_title" style="width:220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="所属英雄名称:">
              <el-input v-model="req.hero_name" style="width:220px" />
            </el-form-item>
          </el-col>
          <el-col :span="4" :offset="8">
            <el-form-item>
              <el-button type="primary" style="padding-left: 50px;padding-right: 50px" @click="dialogVisible = true">整体更新设置</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="变更时间:">
              <el-date-picker
                v-model="req.timeArea"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="名称:">
              <el-input v-model="req.name" style="width:220px" />
            </el-form-item>
          </el-col>
          <el-col :span="4" :offset="8">
            <el-form-item>
              <el-button type="primary" @click="findInfo">搜 索</el-button>
              <el-button type="primary" style="margin-left: 50px" @click="getadd">新 建</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-dialog
          title="整体更新设置"
          :visible.sync="dialogVisible"
          width="50%"
        >
          <span>
            <el-form ref="req" :model="req">
              <el-row type="flex" class="row-bg">
                <el-col :span="14" :offset="5">
                  <h4 style="color: red; margin: 0px; padding-bottom: 50px">本操作会修改全部技能数据源设置，请谨慎操作！</h4>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg" style="margin-top: 20px">
                <el-col :span="10" :offset="1">
                  <el-form-item label="使用数据源">
                    <el-select v-model="config_info.config['lol_ability.core_data'].origin_id" placeholder="请选择">
                      <el-option
                        v-for="(item,index) in enum_origin_list"
                        :key="index"
                        :label="item.desc"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="10" :offset="0">
                  <el-form-item label="更新方式">
                    <el-select v-model="config_info.config['lol_ability.core_data'].update_type" placeholder="请选择">
                      <el-option label="不更新" value="1" />
                      <el-option label="手动" value="2" />
                      <el-option label="自动" value="3" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
            </el-form>
          </span>
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="onAllUp">提 交</el-button>
          </span>
        </el-dialog>
        <el-dialog
          v-if="dialogVisible1"
          title="更新设置"
          :visible.sync="dialogVisible1"
          width="50%"
        >
          <div>
            <el-form>
              <el-row type="flex" class="row-bg" style="padding-bottom: 50px" align="middle">
                <el-col :span="2" :offset="0">
                  <img :src="abilityInfo.image" style="width: 50px; height: 50px">
                </el-col>
                <el-col :span="20">
                  <span>{{ abilityInfo.name }}</span>
                  <span>({{ abilityInfo.name_cn }})&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <span>ELS ID：{{ abilityInfo.id }}</span>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="10" :offset="1">
                  <el-form-item label="使用数据源">
                    <el-select v-model="config_info.config['lol_ability.core_data'].origin_id" placeholder="请选择">
                      <el-option
                        v-for="(item,index) in enum_origin_list"
                        :key="index"
                        :label="item.desc"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="10" :offset="0">
                  <el-form-item label="更新方式">
                    <el-select v-model="config_info.config['lol_ability.core_data'].update_type" placeholder="请选择">
                      <el-option label="不更新" value="1" />
                      <el-option label="手动" value="2" />
                      <el-option label="自动" value="3" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
            </el-form>
          </div>
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible1 = false">取 消</el-button>
            <el-button type="primary" @click="onSubmit">确认修改</el-button>
          </span>
        </el-dialog>
      </el-form>
      <el-table
        :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'14px',height:'40px',textAlign:'center'}"
        :cell-style="{textAlign:'center',padding:'3px'}"
        :data="tableData"
        :cell-class-name="delLine"
        :row-class-name="tableRowClassName"
        :style="{'width':'100%'}"
      >
        <el-table-column prop="id" :label="'ELS\n技能ID'" />
        <el-table-column prop="external_id" label="官方ID">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.external_id }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="external_name" label="官方名称">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.external_name }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="hero_title" :label="'所属英雄称号\n(中文)'">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.hero_title }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="hero_name" :label="'所属英雄名称\n(中文)'">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.hero_name }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="name" :label="'名称\n(英文)'">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.name }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="name_cn" :label="'名称\n(中文)'">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.name_cn }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="image" label="图标">
          <template slot-scope="scope">
            <img v-if="scope.row.image" :src="scope.row.image" style="width: 32px;height: 32px; ">
          </template>
        </el-table-column>
        <el-table-column prop="created_at" label="创建时间" width="100px" />
        <el-table-column prop="modified_at" label="变更时间" width="100px" />
        <el-table-column :label="'已绑定\n数据源'" width="100px">
          <template slot-scope="scope">
            <div v-for="(item,index) in scope.row.binding_info" :key="index" >
              <el-popover
                placement="top-start"
                width="400"
                trigger="hover"
              >
                <span v-for="(item1,index1) in item" :key="index1">{{item1.standard_id}}<span v-if="item.length !== index1+1">,</span></span>
                <el-button slot="reference" type="text">
                  <div style="display: flex;align-items: center;justify-content: center">
                    <img :src="item[0].enum_origin_image" style="height: 20px;width: 20px;margin-right: 3px"><span> ({{item.length}})</span>
                  </div>
                </el-button>
              </el-popover>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="days" :label="'当前数据源\n/更新方式'">
          <template slot-scope="scope">
            <div v-if="scope.row.update_config.config">
              <span v-if="scope.row.update_config.config['lol_ability.core_data'].update_type === '1'" class="status-align">&nbsp;&nbsp;&nbsp;核：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['lol_ability.core_data'].origin_id)"></img>  <div class="status-point" style=" background-color:red" /></span>
              <span v-if="scope.row.update_config.config['lol_ability.core_data'].update_type === '2'" class="status-align">&nbsp;&nbsp;&nbsp;核：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['lol_ability.core_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#E6A23C" /></span>
              <span v-if="scope.row.update_config.config['lol_ability.core_data'].update_type === '3'" class="status-align">&nbsp;&nbsp;&nbsp;核：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['lol_ability.core_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#67C23A" /></span>
            </div>
          </template>
        </el-table-column>
        <el-table-column fixed="right" label="操作">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="getedit(scope.row.id)">编辑</el-button>
            <template v-if="scope.row.deleted == null">
              <el-button type="text" size="small" style="color: coral" @click="getDel(scope.row.id)">删除</el-button>
            </template>
            <template v-if="scope.row.deleted == 2">
              <el-button type="text" size="small" style="color: coral" @click="getDel(scope.row.id)">删除</el-button>
            </template>
            <template v-if="scope.row.deleted == 1">
              <el-button type="text" size="small" style="color: green" @click="getReset(scope.row.id)">恢复</el-button>
            </template>
            <el-button type="text" size="small" @click="getUp(scope.row)">更新设置</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="job_status_name" label="操作记录">
          <template slot-scope="scope">
            <span v-if="scope.row.operation">({{ scope.row.operation.count }})</span>
            <span v-if="!scope.row.operation">(0)</span>
            <el-button v-if="scope.row.operation" type="text" size="small" @click="getHistory(scope.row.operation.resource_id,scope.row.operation.resource_type )">操作记录</el-button>
            <el-button v-if="!scope.row.operation" type="text" size="small">操作记录</el-button>
          </template>
        </el-table-column>
      </el-table>

      <div class="over">
        <el-pagination
          class="pager"
          background
          layout="prev, pager, next"
          :total="total"
          :current-page="req.page"
          :page-size="req.per_page"
          @current-change="changePager"
        />
      </div>
    </el-card>
  </div>
</template>

<script>
import { lol_ability_list, lol_ability_del } from '@/api/metadata'
import { mapGetters } from 'vuex'
import { config_batch, resource_config_detail, resource_config_edit } from '@/api/data'
export default {
  name: 'AbilityList',
  data() {
    return {
      config_info: {
        config: {
          'lol_ability.core_data': {
            origin_id: '',
            update_type: ''
          }
        },
        game: {}
      },
      form: {},
      abilityInfo: {},
      dialogVisible: false,
      dialogVisible1: false,
      total: 20,
      tableData: [],
      req: {
        name: '',
        id: '',
        external_name: '',
        external_id: '',
        hero_title: '',
        hero_name: '',
        timeArea: [],
        page: 1,
        per_page: 20
      }
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  mounted() {
    this.finddata()
  },
  methods: {
    getHistory(id, type) {
      this.$router.push({ path: '/gamecenter/update/updateTemplate/operation', query: { id: id, type: type }})
    },
    getUp(info) {
      this.dialogVisible1 = true
      this.abilityInfo = info
      const params = {}
      params['resource_type'] = 'lol_ability'
      params['resource_id'] = info.id
      resource_config_detail(params).then(req => {
        if (req.data.config) {
          this.config_info = req.data
        }
      })
    },
    onAllUp() {
      this.$confirm('是否提交?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['game_id'] = '2'
        params['resource_type'] = 'lol_ability'
        params['config'] = this.config_info.config
        config_batch(params).then(req => {
          this.$message({
            type: 'success',
            message: '修改成功！'
          })
        })
        this.dialogVisible = false
        this.finddata()
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    onSubmit() {
      const params = {}
      params['resource_type'] = 'lol_ability'
      params['resource_id'] = this.abilityInfo.id
      params['config'] = this.config_info
      resource_config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
      })
      this.dialogVisible1 = false
      this.finddata()
    },
    getReset(id) {
      this.$confirm('确认恢复？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        params['deleted'] = '2'
        lol_ability_del(params).then(req => {
          this.findInfo()
          this.$message({
            type: 'success',
            message: '恢复成功！'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    getDel(id) {
      this.$confirm('确认删除？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        params['deleted'] = '1'
        lol_ability_del(params).then(req => {
          this.findInfo()
          this.$message({
            type: 'success',
            message: '删除成功！'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    getedit(id) {
      this.$router.push({ path: '/gamecenter/dataManage/heroLeague/ability/ability_edit', query: { id: id }})
    },
    getadd() {
      this.$router.push({ path: '/gamecenter/dataManage/heroLeague/ability/ability_add' })
    },
    changePager(newpage) {
      this.req.page = newpage
      this.finddata()
    },
    findInfo() {
      this.req.page = 1
      this.finddata()
    },
    finddata() {
      const params = {}
      params['name'] = this.req.name
      params['id'] = this.req.id
      params['external_name'] = this.req.external_name
      params['external_id'] = this.req.external_id
      params['hero_title'] = this.req.hero_title
      params['hero_name'] = this.req.hero_name
      if (this.req.timeArea) {
        params['date_begin'] = this.req.timeArea[0]
        params['date_end'] = this.req.timeArea[1]
      }
      params['page'] = this.req.page
      params['per_page'] = this.req.per_page
      lol_ability_list(params).then(req => {
        this.tableData = req.data.list
        this.total = 1 * req.data.total
        this.tableData.forEach(item => {
          var tmp = {}
          if (item.binding_info.length>0) {
            item.binding_info.forEach(info => {
              tmp[info.origin_id] = tmp[info.origin_id] || []
              tmp[info.origin_id].push(info)
            })
            item.binding_info = Object.values(tmp)
          }
        })
      })
    },
    tableRowClassName({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'success-row'
      }
    },
    delLine({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'del_line'
      }
    }
  }
}
</script>

<style scoped>
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
  .status-point {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .status-align {
    /*vertical-align:middle;*/
  }
  .status-a {
    vertical-align:middle;
    width: 20px;height: 20px
  }
</style>
