<template>
  <div class="app-container transfer_info">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>新建战队</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-tabs type="border-card" :before-leave="(item)=>{return beforeLeave(item, 'core_data')}">
        <el-tab-pane label="核心内容">
          <el-form ref="core_data" :rules="rules" :model="core_data" label-width="90px">
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="名称" prop="name">
                  <el-input v-model="core_data.name" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="游戏项目" prop="game">
                  <el-select v-model="core_data.game" filterable style="width: 100%" placeholder="请选择">
                    <el-option
                      v-for="(item,index) in games"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="俱乐部">
                  <el-select v-model="core_data.organization" filterable placeholder="请选择" style="width: 100%">
                    <el-option
                      v-for="(item,index) in allClanList"
                      :key="index"
                      :label="item.name + ' (' + item.id + ')'"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="国家地区">
                  <el-select v-model="core_data.country" filterable style="width: 100%" placeholder="请选择">
                    <el-option
                      v-for="(item,index) in all"
                      :key="index"
                      :label="item.e_name + ' '+'('+item.name+')'"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="全称">
                  <el-input v-model="core_data.full_name" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="简称">
                  <el-input v-model="core_data.short_name" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="8" :offset="0">
                <el-form-item label="别名">
                  <el-input v-model="core_data.alias" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="Slug" prop="slug">
                  <el-input v-model="core_data.slug" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="图标" prop="image">
                  <el-upload
                    class="avatar-uploader"
                    :action="getUploadUrl()"
                    :on-success="uploads"
                    :before-upload="beforeAvatarUpload"
                  >
                    <img v-if="core_data.image" style="width: 200px;height: 200px" :src="core_data.image" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon" />
                  </el-upload>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit('core_data')">确认创建</el-button>
              </div>
            </el-row>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="基础内容">
          <el-form label-width="100px">
            <el-row type="flex" class="row-bg">
              <!--              <el-col :span="6" :offset="1">-->
              <!--                <el-form-item label="Steam ID">-->
              <!--                  <el-input v-model="form.steam_id" />-->
              <!--                </el-form-item>-->
              <!--              </el-col>-->
              <el-col :span="8" :offset="0">
                <el-form-item label="赛区">
                  <el-select v-model="base_data.region" filterable placeholder="请选择赛区" style="width: 100%;">
                    <el-option
                      v-for="(item,index) in all"
                      :key="index"
                      :label="item.e_name + ' '+'('+item.name+')'"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="世界排名">
                  <el-input v-model="base_data.world_ranking" type="number" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="总奖金">
                  <el-input v-model="base_data.total_earnings" type="number" />
                </el-form-item>
              </el-col>
            </el-row>
            <!--            <el-row type="flex" class="row-bg">-->
            <!--              <el-col :span="6" :offset="1">-->
            <!--                <el-form-item label="世界前30周数">-->
            <!--                  <el-input v-model="form.ago_30" />-->
            <!--                </el-form-item>-->
            <!--              </el-col>-->
            <!--            </el-row>-->
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="选手平均年龄">
                  <el-input v-model="base_data.average_player_age" type="number" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="历史选手ID">
                  <el-input v-model="base_data.history_players" placeholder="请输入数组类型[1,2,3]" />
                </el-form-item>
              </el-col>
            </el-row>
            <!--            <el-row type="flex" class="row-bg">-->
            <!--              <el-col :span="6" :offset="1">-->
            <!--                <el-form-item label="战队创建日期">-->
            <!--                  <div class="block">-->
            <!--                    <el-date-picker-->
            <!--                      v-model="form.create_team_date"-->
            <!--                      type="date"-->
            <!--                      placeholder="选择日期"-->
            <!--                      style="width:185px"-->
            <!--                    />-->
            <!--                  </div>-->
            <!--                </el-form-item>-->
            <!--              </el-col>-->
            <!--              <el-col :span="6" :offset="1">-->
            <!--                <el-form-item label="战队解散日期">-->
            <!--                  <div class="block">-->
            <!--                    <el-date-picker-->
            <!--                      v-model="form.close_team_date"-->
            <!--                      type="date"-->
            <!--                      placeholder="选择日期"-->
            <!--                      style="width:185px"-->
            <!--                    />-->
            <!--                  </div>-->
            <!--                </el-form-item>-->
            <!--              </el-col>-->
            <!--            </el-row>-->
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="简介（英文）">
                  <el-input
                    v-model="base_data.introduction"
                    type="textarea"
                    :rows="4"
                    maxlength="1000"
                    show-word-limit
                  />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="简介（中文）">
                  <el-input
                    v-model="base_data.introduction_cn"
                    type="textarea"
                    :rows="4"
                    maxlength="1000"
                    show-word-limit
                  />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit('core_data')">确认创建</el-button>
              </div>
            </el-row>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="战队选手">
          <el-row type="flex" class="row-bg">
            <el-col :span="4" :offset="1">
              <el-input
                v-model="input_lift"
                placeholder="请输入内容"
                prefix-icon="el-icon-search"
                style="width: 300px"
              />
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg">
            <el-col :span="18" :offset="1">
              <el-transfer
                v-model="form.player_ids"
                :titles="['选手列表', '本战队选手列表']"
                :data="data"
              >
                <div slot-scope="{ option }">
                  <el-avatar :size="30" :src="option.image" shape="square" style="vertical-align:middle;text-align: center;background-color: white" />
                  <span> {{ option.label }}</span>
                </div>
                <el-button slot="left-footer" class="transfer-footer" size="small" @click="upPage">上页</el-button>
                <el-button slot="left-footer" class="transfer-footer" size="small">第{{ page }}页</el-button>
                <el-button slot="left-footer" class="transfer-footer" size="small" @click="downPage">下页</el-button>
              </el-transfer>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg" justify="space-around">
            <div style="padding-top: 35px;text-align: center">
              <el-button type="primary" @click="onSubmit('core_data')">确认创建</el-button>
            </div>
          </el-row>
        </el-tab-pane>
      </el-tabs>
    </el-card>
  </div>
</template>
<script>
import { teamEdit } from '@/api/team'
import { get_games } from '@/api/common'
import { getUploadBaseApi } from '@/api/file.js'
import { get_country, get_clan_list } from '@/api/clan'
import { search_player } from '@/api/player'
export default {
  name: 'Add',
  data() {
    return {
      'core_data': {
        'name': '',
        'organization': '',
        'game': '',
        'country': '',
        'full_name': '',
        'short_name': '',
        'alias': '',
        'slug': '',
        'image': ''
      },
      'base_data': {
        'region': '',
        'world_ranking': '',
        'total_earnings': '',
        'average_player_age': '',
        'history_players': '',
        'introduction': '',
        'introduction_cn': ''
      },
      'team_player': [],
      page: 1,
      per_page: 40,
      total: 30,
      input_lift: '',
      clanlist: [],
      allClanList: [{ 'id': '', 'name': '无', 'e_name': 'all' }],
      playerinfo: [],
      all: [{ 'id': '', 'name': '空', 'e_name': 'null' }],
      country: [],
      allgame: [{ 'id': '0', 'name': '全部', 'e_name': 'all' }],
      games: [],
      textarea: '',
      form: {
        organization: '',
        full_name: '',
        name: '',
        game: '',
        country: '',
        short_name: '',
        alias: '',
        steam_id: '',
        slug: '',
        region: '',
        world_ranking: '',
        ago_30: '',
        average_player_age: '',
        total_earnings: '',
        history_players: '',
        create_team_date: '',
        close_team_date: '',
        introduction: '',
        introduction_cn: '',
        player_ids: [],
        image: ''
      },
      data: [],
      value: [],
      rules: {
        name: [
          { required: true, message: '请输入战队名称', trigger: 'change' }
        ],
        game: [
          { required: true, message: '请选择游戏项目', trigger: 'change' }
        ],
        image: [
          { required: true, message: '请上传图标', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    input_lift() {
      this.page = 1
      this.searchPlayer(this.input_lift)
    },
    page() {
      this.searchPlayer(this.input_lift)
    },
    'core_data.name': {
      handler: function() {
        this.core_data.slug = this.$yangJian.slug_rule(this.core_data.name)
      }
    },
    'core_data.game': {
      handler() {
        this.searchPlayer()
      }
    }
  },
  mounted() {
    this.infoGames()
    this.infoCountry()
    this.info_clan_list()
  },
  methods: {
    beforeAvatarUpload(file) {
      console.log('file')
      console.log(file)
      // const isPNG = file.type === 'image/png || svg'
      const testmsg = file.type === 'image/png'
      const isLt1M = file.size / 1024 / 1024 < 1
      if (!testmsg) {
        this.$message.error('只能上传PNG格式!')
        return false
      }
      if (!isLt1M) {
        this.$message({
          message: '上传图标大小不能超过 1MB!',
          type: 'error'
        })
        return false
      }
      return testmsg || isLt1M
    },
    upPage() {
      if (this.page > 1) {
        this.page -= 1
      }
    },
    downPage() {
      if (parseInt(this.total / this.per_page) >= this.page) {
        this.page += 1
      }
    },
    info_clan_list() {
      const params = {}
      get_clan_list(params).then(req => {
        this.clanlist = req.data
        this.allClanList.push.apply(this.allClanList, this.clanlist)
      })
    },
    searchPlayer(info) {
      const params = {}
      params['game_id'] = this.core_data.game
      params['keyword'] = info
      params['page'] = this.page
      params['per_page'] = this.per_page
      search_player(params).then(req => {
        this.playerinfo = req.data.list
        this.total = req.data.total
        const data = []
        const cities = req.data.list
        cities.forEach((city, index) => {
          data.push({
            label: city.nick_name + ' ' + '(' + city.id + ')' + ' ' + city.country_name,
            key: city.id,
            pinyin: city.nick_name,
            image: city.image
          })
        })
        this.form.player_ids.forEach(item => {
          this.data.forEach(info => {
            if (item === info.key) {
              var m = 0
              data.forEach(k => {
                if (item === k.key) {
                  m = 1
                }
              })
              if (m === 0) {
                data.push(info)
              }
            }
          })
        })
        this.data = data
      })
    },
    infoCountry() {
      const params = {}
      get_country(params).then(req => {
        this.country = req.data
        this.all.push.apply(this.all, this.country)
      })
    },
    infoGames() {
      const params = {}
      get_games(params).then(req => {
        this.games = req.data
        this.allgame.push.apply(this.allgame, this.games)
      })
    },
    uploads(res, file) {
      this.core_data.image = res.data.url
      console.log(res)
      // console.log(file)
    },
    getUploadUrl() {
      return getUploadBaseApi()
    },
    beforeLeave(item, formName) {
      console.log('old')
      console.log(formName)
      if (item === '0') {
        return true
      } else {
        let k = true
        this.$refs[formName].validate((valid) => {
          if (valid) {
            k = true
          } else {
            this.$message.error('请填写完整必填项')
            k = false
          }
        })
        return k
      }
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          var tmp = /^\[[\d,]*\]$/g
          var arr = ''
          if (this.base_data.history_players) {
            arr = this.base_data.history_players
          } else {
            arr = '[]'
          }
          if (tmp.test(arr)) {
            const params = {}
            params['core_data'] = this.core_data
            params['base_data'] = this.base_data
            params['players'] = this.form.player_ids
            teamEdit(params).then(req => {
              this.$message({
                type: 'success',
                message: '添加成功！'
              })
              this.$router.push('/gamecenter/team/teaminfo/list')
            })
          } else {
            this.$message.error('历史选手不是数组类型')
            return false
          }
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
  .transfer-footer {
    margin-left: 23px;
    /*padding: 6px 5px;*/
  }
</style>
