<template>
  <div class="app-container transfer_info">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>编辑战队</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-tabs v-model="activeName" type="border-card">
        <el-tab-pane label="核心内容">
          <el-form ref="core_data" :rules="rules" :model="core_data" label-width="120px">
            <el-row type="flex" class="row-bg">
              <el-col :span="8" ::offset="0">
                <el-form-item label="数据源">
                  <el-select v-if="form.data_config.config" v-model="form.data_config.config['team.core_data'].origin_id" style="width: 100%" disabled>
                    <el-option
                      v-for="(item,index) in $store.getters.enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" ::offset="0">
                <el-form-item label="更新方式">
                  <el-select v-if="form.data_config.config" v-model="form.data_config.config['team.core_data'].update_type" style="width: 100%" disabled>
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" ::offset="0">
                <el-form-item>
                  <el-button type="primary" size="mini" @click="dialogVisible = true">转移战斗记录</el-button>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="名称" prop="name">
                  <el-input v-model="core_data.name" />
                  <div v-if="updateInfo.core_data.name || updateInfo.core_data.name == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.name? updateInfo.core_data.name : '空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="core_data.name = updateInfo.core_data.name">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="游戏项目" prop="game">
                  <el-select v-model="core_data.game" style="width: 100%" placeholder="请选择" :disabled="true">
                    <el-option
                      v-for="(item,index) in allgames"
                      :key="index"
                      :label="item.name"
                      :value="''+item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="俱乐部">
                  <el-select v-model="core_data.organization" filterable placeholder="请选择" style="width: 100%">
                    <el-option
                      v-for="(item,index) in allClanList"
                      :key="index"
                      :label="item.name + ' (' + item.id +')'"
                      :value="item.id"
                    />
                  </el-select>
                  <div v-if="updateInfo.core_data.organization||updateInfo.core_data.organization==''">
                    <span class="upDate">变更为：
                      <span v-for="(item,index) in allClanList" :key="index" style="color: red">{{ item.id == updateInfo.core_data.organization? item.name :'' }}</span>
                    </span>
                    <el-button type="primary" size="mini" plain @click="core_data.organization = updateInfo.core_data.organization">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="国家地区">
                  <el-select v-model="core_data.country" filterable style="width: 100%" placeholder="请选择">
                    <el-option
                      v-for="(item,index) in all"
                      :key="index"
                      :label="item.e_name + ' '+'('+item.name+')'"
                      :value="item.id"
                    />
                  </el-select>
                  <div v-if="updateInfo.core_data.country || updateInfo.core_data.country == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.country?$store.getters.getCountryById('' + updateInfo.core_data.country):'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="core_data.country = updateInfo.core_data.country">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" ::offset="0">
                <el-form-item label="全称">
                  <el-input v-model="core_data.full_name" />
                  <div v-if="updateInfo.core_data.full_name || updateInfo.core_data.full_name == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.full_name?updateInfo.core_data.full_name : '空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="core_data.full_name = updateInfo.core_data.full_name">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" ::offset="0">
                <el-form-item label="简称">
                  <el-input v-model="core_data.short_name" />
                  <div v-if="updateInfo.core_data.short_name || updateInfo.core_data.short_name == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.short_name?updateInfo.core_data.short_name: '空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="core_data.short_name = updateInfo.core_data.short_name">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="8" ::offset="0">
                <el-form-item label="别名">
                  <el-input v-model="core_data.alias" />
                  <div v-if="updateInfo.core_data.alias || updateInfo.core_data.alias == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.alias?updateInfo.core_data.alias: '空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="core_data.alias = updateInfo.core_data.alias">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="Slug" prop="slug">
                  <el-input v-model="core_data.slug" />
                  <div v-if="updateInfo.core_data.slug || updateInfo.core_data.slug == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.slug?updateInfo.core_data.slug:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="core_data.slug = updateInfo.core_data.slug">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col v-if="updateInfo.core_data.deleted" :span="8" :offset="0">
                <el-form-item label="是否删除">
                  <el-select v-model="core_data.deleted" style="width: 100%" disabled>
                    <el-option label="是" value="1" />
                    <el-option label="否" value="2" />
                  </el-select>
                  <div v-if="updateInfo.core_data.deleted || updateInfo.core_data.deleted == ''">
                    <span class="upDate">变更为：<span style="color: red">
                      <span v-if="updateInfo.core_data.deleted == '1'">是</span>
                      <span v-if="updateInfo.core_data.deleted == '2'">否</span>
                    </span></span>
                    <el-button type="primary" size="mini" plain @click="core_data.deleted = updateInfo.core_data.deleted">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" ::offset="0">
                <el-form-item label="图标" prop="image">
                  <el-upload
                    class="avatar-uploader"
                    :action="getUploadUrl()"
                    :on-success="uploads"
                    :before-upload="beforeAvatarUpload"
                  >
                    <img v-if="core_data.image" style="width: 200px;height: 200px" :src="core_data.image" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon" />
                  </el-upload>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item v-if="updateInfo.core_data.image||updateInfo.core_data.image == ''" label="变更为：" class="upDate">
                  <div style="color: red;">
                    <img v-if="updateInfo.core_data.image" style="width: 200px;height: 200px" :src="updateInfo.core_data.image">
                    <p v-if="updateInfo.core_data.image == ''">空</p>
                    <span><el-button type="primary" size="mini" plain @click="form.core_data.image = updateInfo.core_data.image">应用</el-button></span>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 15px;text-align: center">
                <el-button type="primary" @click="onSubmit('core_data')">确认修改</el-button>
              </div>
            </el-row>
            <div type="flex" class="row-bg" style="padding-top: 20px">
              <el-col v-for="(item,index) in binding_list" :key="index" :span="8">
                <el-col :span="20" ::offset="0">
                  <el-form-item :label="item.desc">
                    <el-input v-model="item.standard_id" disabled />
                  </el-form-item>
                </el-col>
                <el-col :span="4">
                  <el-form>
                    <el-form-item style="text-align: right">
                      <el-button type="text" @click="unbundle(item.id)">解绑</el-button>
                    </el-form-item>
                  </el-form>
                </el-col>
              </el-col>
            </div>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="基础内容">
          <el-form label-width="100px">
            <el-row type="flex" class="row-bg">
              <el-col :span="8" ::offset="0">
                <el-form-item label="数据源">
                  <el-select v-if="form.data_config.config" v-model="form.data_config.config['team.base_data'].origin_id" style="width: 100%" disabled>
                    <el-option
                      v-for="(item,index) in $store.getters.enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" ::offset="0">
                <el-form-item label="更新方式">
                  <el-select v-if="form.data_config.config" v-model="form.data_config.config['team.base_data'].update_type" style="width: 100%" disabled>
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <!--              <el-col :span="6" :offset="1">-->
              <!--                <el-form-item label="Steam ID">-->
              <!--                  <el-input v-model="form.steam_id" />-->
              <!--                  <span>变更为：<span style="color: red">avd</span></span>-->
              <!--                  <el-button type="primary" size="mini" plain @click="1">应用</el-button>-->
              <!--                </el-form-item>-->
              <!--              </el-col>-->
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="赛区">
                  <el-select v-model="base_data.region" filterable placeholder="请选择赛区" style="width: 100%">
                    <el-option
                      v-for="(item,index) in all"
                      :key="index"
                      :label="item.e_name + ' '+'('+item.name+')'"
                      :value="item.id"
                    />
                  </el-select>
                  <div v-if="updateInfo.base_data.region||updateInfo.base_data.region==''">
                    <span class="upDate">变更为：<span style="color: red">{{ $store.getters.getCountryById('' + updateInfo.base_data.region)?$store.getters.getCountryById('' + updateInfo.base_data.region):'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="base_data.region = updateInfo.base_data.region">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="世界排名">
                  <el-input v-model="base_data.world_ranking" type="number" />
                  <div v-if="updateInfo.base_data.world_ranking || updateInfo.base_data.world_ranking == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.world_ranking?updateInfo.base_data.world_ranking:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="base_data.world_ranking = updateInfo.base_data.world_ranking">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <!--              <el-col :span="6" :offset="1">-->
              <!--                <el-form-item label="世界前30周数">-->
              <!--                  <el-input v-model="form.ago_30" />-->
              <!--                  <span>变更为：<span style="color: red">avd</span></span>-->
              <!--                  <el-button type="primary" size="mini" plain @click="1">应用</el-button>-->
              <!--                </el-form-item>-->
              <!--              </el-col>-->
              <el-col :span="8" :offset="0">
                <el-form-item label="总奖金">
                  <el-input v-model="base_data.total_earnings" type="number" />
                  <div v-if="updateInfo.base_data.total_earnings || updateInfo.base_data.total_earnings == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.total_earnings?updateInfo.base_data.total_earnings:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="base_data.total_earnings = updateInfo.base_data.total_earnings">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="选手平均年龄">
                  <el-input v-model="base_data.average_player_age" type="number" />
                  <div v-if="updateInfo.base_data.average_player_age || updateInfo.base_data.average_player_age == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.average_player_age?updateInfo.base_data.average_player_age:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="base_data.average_player_age = updateInfo.base_data.average_player_age">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="历史选手ID">
                  <el-input v-model="base_data.history_players" placeholder="请输入数组类型[1,2,3]" />
                  <div v-if="updateInfo.base_data.history_players || updateInfo.base_data.history_players == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.history_players?updateInfo.base_data.history_players:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="base_data.history_players = updateInfo.base_data.history_players">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <!--            <el-row>-->
            <!--              <el-col :span="6" :offset="1">-->
            <!--                <el-form-item label="战队创建日期">-->
            <!--                  <div class="block">-->
            <!--                    <el-date-picker-->
            <!--                      v-model="form.created_at"-->
            <!--                      type="date"-->
            <!--                      placeholder="选择日期"-->
            <!--                      style="width: 100%"-->
            <!--                    />-->
            <!--                  </div>-->
            <!--                  <span>变更为：<span style="color: red">avd</span></span>-->
            <!--                  <el-button type="primary" size="mini" plain @click="1">应用</el-button>-->
            <!--                </el-form-item>-->
            <!--              </el-col>-->
            <!--              <el-col :span="6" :offset="1">-->
            <!--                <el-form-item label="战队解散日期">-->
            <!--                  <el-date-picker-->
            <!--                    v-model="form.modified_at"-->
            <!--                    type="date"-->
            <!--                    placeholder="选择日期"-->
            <!--                    style="width: 100%"-->
            <!--                    align="center"-->
            <!--                  />-->
            <!--                  <span>变更为：<span style="color: red">avd</span></span>-->
            <!--                  <el-button type="primary" size="mini" plain @click="1">应用</el-button>-->
            <!--                </el-form-item>-->
            <!--              </el-col>-->
            <!--            </el-row>-->
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="简介（英文）">
                  <el-input
                    v-model="base_data.introduction"
                    type="textarea"
                    :rows="4"
                    maxlength="1000"
                    show-word-limit
                  />
                  <div v-if="updateInfo.base_data.introduction || updateInfo.base_data.introduction == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.introduction?updateInfo.base_data.introduction:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="base_data.introduction = updateInfo.base_data.introduction">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="简介（中文）">
                  <el-input
                    v-model="base_data.introduction_cn"
                    type="textarea"
                    :rows="4"
                    maxlength="1000"
                    show-word-limit
                  />
                  <div v-if="updateInfo.base_data.introduction_cn || updateInfo.base_data.introduction_cn == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.introduction_cn?updateInfo.base_data.introduction_cn:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="base_data.introduction_cn = updateInfo.base_data.introduction_cn">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit('core_data')">确认修改</el-button>
              </div>
            </el-row>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="战队选手">
          <el-form :model="form" label-width="100px">
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="数据源">
                  <el-select v-if="form.data_config.config" v-model="form.data_config.config['team.team_player'].origin_id" style="width: 100%" disabled>
                    <el-option
                      v-for="(item,index) in $store.getters.enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="更新方式">
                  <el-select v-if="form.data_config.config" v-model="form.data_config.config['team.team_player'].update_type" style="width: 100%" disabled>
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="4" :offset="3">
                <el-input
                  v-model="input_lift"
                  placeholder="请输入内容"
                  prefix-icon="el-icon-search"
                  style="width: 300px"
                />
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="15" :offset="3">
                <el-transfer
                  v-model="player_ids"
                  :titles="['选手列表', '本战队选手列表']"
                  filter-placeholder="请输入"
                  :data="data"
                >
                  <div slot-scope="{ option }">
                    <el-avatar :size="30" :src="option.image" shape="square" style="vertical-align:middle;text-align: center;background-color: white" />
                    <span> {{ option.label }}</span>
                  </div>
                  <el-button slot="left-footer" class="transfer-footer" size="small" @click="upPage">上页</el-button>
                  <el-button slot="left-footer" class="transfer-footer" size="small">第{{ page }}页</el-button>
                  <el-button slot="left-footer" class="transfer-footer" size="small" @click="downPage">下页</el-button>
                </el-transfer>
              </el-col>
              <el-col v-if="updateInfo && updateInfo.team_player_relation.player_id" :span="8" :offset="0">
                <div class="upDate">
                  <div style="margin: 10px 0">更新为：</div>
                  <div>
                    <div v-for="(item, index) in updateInfo.team_player_relation.player_id" :key="index" class="upDate" style="color: #2D7CFD">
                      <el-avatar :size="30" :src="item.image" shape="square" style="vertical-align:middle;text-align: center;background-color: white" />
                      {{ item.player_country? item.nick_name+' ('+item.id+') '+$store.getters.getCountryById(item.player_country): item.nick_name+' ('+item.id+')' }}</div>
                  </div>
                </div>
                <el-button type="primary" size="mini" plain style="margin-top: 10px" @click="getUpdate">应用</el-button>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit('core_data')">确认修改</el-button>
              </div>
            </el-row>
          </el-form>
        </el-tab-pane>
      </el-tabs>
      <el-dialog
        title="转移战斗"
        :visible.sync="dialogVisible"
        width="60%"
        :before-close="handleClose"
      >
        <div>
          <el-table
            ref="multipleTable"
            :data="tableData"
            tooltip-effect="dark"
            style="width: 100%"
            @selection-change="handleSelectionChange"
          >
            <el-table-column
              type="selection"
              width="80"
            />
            <el-table-column
              label="队伍1"
              width="120"
            >
              <template slot-scope="scope">{{ scope.row.date }}</template>
            </el-table-column>
            <el-table-column
              prop="name"
              label="队伍2"
              width="120"
            />
            <el-table-column
              prop="address"
              label="赛事"
              show-overflow-tooltip
            />
            <el-table-column
              prop="address"
              label="比分"
              width="80"
            />
          </el-table>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-form :model="form" label-width="100px">
            <el-row>
              <el-col :span="8">
                <el-form-item label="战队ID">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
              <el-col :span="13">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
              </el-col>
            </el-row>
          </el-form>
        </span>
      </el-dialog>
    </el-card>
  </div>
</template>
<script>
import { teamInfo, teamEdit } from '@/api/team'
import { getUploadBaseApi } from '@/api/file.js'
// import { get_country, get_clan_list } from '@/api/clan'
import { close_bing } from '@/api/common'
import { search_player } from '@/api/player'
import { data_change_detail } from '@/api/data'
import { get_binding_info } from '@/api/binding'
import { mapGetters } from 'vuex'
import { get_clan_list } from '@/api/clan'
export default {
  name: 'Edit',
  data() {
    return {
      binding_list: [],
      updateInfo: {
        core_data: {},
        base_data: {},
        team_player_relation: []
      },
      'core_data': {
        'name': '',
        'organization': '',
        'game': '',
        'country': '',
        'full_name': '',
        'short_name': '',
        'alias': '',
        'slug': '',
        'image': '',
        'cuser': '',
        'deleted': ''
      },
      'base_data': {
        'team_id': '',
        'steam_id': '',
        'region': '',
        'world_ranking': '',
        'ago_30': '',
        'total_earnings': '',
        'average_player_age': '',
        'history_players': '',
        'create_team_date': '',
        'close_team_date': '',
        'introduction': '',
        'introduction_cn': ''
      },
      'team_player': [],
      players: [],
      slug_stutas: 0,
      page: 1,
      per_page: 40,
      total: 30,
      getPlayer: [],
      judge_stutas: 0,
      input_lift: '',
      input_right: '',
      activeName: '0',
      update_player_add: [],
      update_player_del: ['22', '23', '27'],
      // clanlist: [],
      allClanList: [{ 'id': '', 'name': '无', 'e_name': 'all' }],
      playerinfo: [],
      game: '',
      allgame: [{ 'id': '0', 'name': '全部', 'e_name': 'all' }],
      // games: [],
      all: [{ 'id': '', 'name': '空', 'e_name': 'null' }],
      // country: [],
      tableData: [],
      multipleSelection: [],
      dialogVisible: false,
      textarea: '',
      player_ids: [],
      form: {
        data_config: {
          config: {
            'team.base_data': {
              'id': '7',
              'game_id': '3',
              'resource_type': 'team',
              'resource_id': '6',
              'tag_type': 'base_data',
              'slug': 'team.base_data',
              'origin_id': '3',
              'update_type': '3',
              'created_time': '2020-06-29 15:11:49',
              'modify_at': '2020-06-30 02:42:20'
            },
            'team.core_data': {
              'id': '8',
              'game_id': '3',
              'resource_type': 'team',
              'resource_id': '6',
              'tag_type': 'core_data',
              'slug': 'team.core_data',
              'origin_id': '3',
              'update_type': '3',
              'created_time': '2020-06-29 15:11:49',
              'modify_at': '2020-06-30 02:42:20'
            },
            'team.team_player': {
              'id': '9',
              'game_id': '3',
              'resource_type': 'team',
              'resource_id': '6',
              'tag_type': 'team_player',
              'slug': 'team.team_player',
              'origin_id': '3',
              'update_type': '3',
              'created_time': '2020-06-29 15:11:49',
              'modify_at': '2020-06-30 02:42:20'
            }
          }
        },
        slug: '',
        organization: '',
        playerinfo: [],
        name: '',
        team_name: '',
        game: '',
        country: '',
        full_name: '',
        short_name: '',
        alias: '',
        steam_id: '',
        region: '',
        world_ranking: '',
        ago_30: '',
        average_player_age: '',
        total_earnings: '',
        history_players: '',
        created_at: '',
        modified_at: '',
        introduction: '',
        introduction_cn: '',
        image: '',
        player: []
      },
      data: [],
      value: [],

      rules: {
        name: [
          { required: true, message: '请输入战队名称', trigger: 'change' }
        ],
        games: [
          { required: true, message: '请选择游戏项目', trigger: 'change' }
        ],
        image: [
          { required: true, message: '请上传图标', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入', trigger: 'change' }
        ]
      }
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'enum_origin_list',
      'getCountryById'
    ])
  },
  watch: {
    input_lift() {
      this.searchPlayerLift(this.input_lift)
      this.page = 1
      // if (this.input_lift.length >= 2) {
      //   this.page = 1
      //   this.searchPlayerLift(this.input_lift)
      // }
      // if (this.input_lift.length === 0) {
      //   this.page = 1
      //   this.searchPlayerLift(this.input_lift)
      // }
    },
    page() {
      this.searchPlayerLift(this.input_lift)
    },
    'core_data.name': {
      handler: function() {
        if (this.slug_stutas === 1) {
          this.slug_stutas = 0
        } else {
          this.core_data.slug = this.$yangJian.slug_rule(this.core_data.name)
        }
      }
    },
    'core_data.game': {
      handler() {
        this.searchPlayerLift()
      }
    }
  },
  mounted() {
    if (this.$route.query.upId) {
      setTimeout(() => {
        this.getinfo()
        // this.infoGames()
        this.getBindingInfo()
        this.upInfo()
      }, 500)
    } else {
      this.getinfo()
      // this.infoGames()
      this.getBindingInfo()
      this.upInfo()
    }
  },
  methods: {
    getBindingInfo() {
      const params = {}
      params['master_id'] = this.$route.query.id
      params['type'] = 'team'
      get_binding_info(params).then(req => {
        this.binding_list = req.data
      })
    },
    unbundle(id) {
      if (id) {
        this.$confirm('确认解绑？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const params = {}
          params['standard_id'] = id
          params['type'] = 'team'
          close_bing(params).then(req => {
            this.$message({
              type: 'success',
              message: '解绑成功！'
            })
            this.getBindingInfo()
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          })
        })
      } else {
        this.$message({
          type: 'info',
          message: '没有绑定关系'
        })
      }
    },
    beforeAvatarUpload(file) {
      console.log('file')
      console.log(file)
      // const isPNG = file.type === 'image/png || svg'
      const testmsg = file.type === 'image/png'
      const isLt1M = file.size / 1024 / 1024 < 1
      if (!testmsg) {
        this.$message.error('只能上传PNG格式!')
        return false
      }
      if (!isLt1M) {
        this.$message({
          message: '上传图标大小不能超过 1MB!',
          type: 'error'
        })
        return false
      }
      return testmsg || isLt1M
    },
    upPage() {
      if (this.page > 1) {
        this.page -= 1
      }
    },
    downPage() {
      if (parseInt(this.total / this.per_page) >= this.page) {
        this.page += 1
      }
    },
    searchPlayerLift(info) {
      const params = {}
      params['game_id'] = this.core_data.game
      params['keyword'] = info
      params['page'] = this.page
      params['per_page'] = this.per_page
      search_player(params).then(req => {
        this.playerinfo = req.data.list
        this.total = req.data.total
        const data = []
        const cities = req.data.list
        cities.forEach((city, index) => {
          data.push({
            label: city.nick_name + ' ' + '(' + city.id + ')' + ' ' + city.country_name,
            key: city.id,
            pinyin: city.nick_name,
            image: city.image
          })
        })
        if (this.judge_stutas === 1) {
          this.players.forEach(item => {
            var n = 0
            data.forEach(k => {
              if (item.key === k.key) {
                n = 1
              }
            })
            if (n === 0) {
              data.push(item)
            }
          })
          this.judge_stutas = 0
        } else {
          this.player_ids.forEach(item => {
            this.data.forEach(info => {
              if (item === info.key) {
                var m = 0
                data.forEach(k => {
                  if (item === k.key) {
                    m = 1
                  }
                })
                if (m === 0) {
                  data.push(info)
                }
              }
            })
          })
        }
        this.data = data
      })
    },
    upInfo() {
      if (this.$route.query.tag_type) {
        this.tag_type = this.$route.query.tag_type
        this.beforeLeave()
        const params = {}
        params['id'] = this.$route.query.upId
        data_change_detail(params).then(req => {
          var infoList = req.data.change_info
          this.update(infoList, req.data.tag_type)
        })
      }
    },
    update(data, type) {
      var infos = {}
      console.log(data)
      console.log(type)
      switch (type) {
        case 'core_data':
          for (var i in data) {
            console.log(data[i])
            var k_name = data[i].key
            infos[k_name] = data[i].after
          }
          this.updateInfo.core_data = infos
          break
        case 'base_data':
          for (var k in data) {
            k_name = data[k].key
            infos[k_name] = data[k].after
          }
          this.updateInfo.base_data = infos
          break
        case 'team_player':
          for (var j in data) {
            k_name = data[j].key
            infos[k_name] = data[j].after
          }
          this.updateInfo.team_player_relation = infos
          break
      }
    },
    beforeLeave() {
      if (this.tag_type === 'core_data') {
        this.activeName = '0'
      }
      if (this.tag_type === 'base_data') {
        this.activeName = '1'
      }
      if (this.tag_type === 'team_player') {
        this.activeName = '2'
      }
    },
    getUpdate() {
      this.player_ids = []
      this.updateInfo.team_player_relation.player_id.forEach(item => {
        this.player_ids.push(item.id)
      })
      this.judge_stutas = 1
      var cities = this.updateInfo.team_player_relation.player_id
      cities.forEach((city, index) => {
        this.players.push({
          label: city.nick_name + ' ' + '(' + city.id + ')' + ' ' + this.getCountryName(city.player_country),
          key: city.id,
          pinyin: city.nick_name,
          image: city.image
        })
      })
      this.searchPlayerLift()
    },
    getCountryName(id) {
      if (id) {
        return this.getCountryById(id)
      } else {
        return ''
      }
    },
    info_clan_list() {
      const params = {}
      get_clan_list(params).then(req => {
        this.clanlist = req.data
        this.allClanList.push.apply(this.allClanList, this.clanlist)
      })
    },
    // infoGames() {
    //   const params = {}
    //   get_games(params).then(req => {
    //     this.games = req.data
    //     this.allgame.push.apply(this.allgame, this.games)
    //   })
    // },
    infoCountry() {
      this.all.push.apply(this.all, this.country)

      // const params = {}
      // get_country(params).then(req => {
      //   this.country = req.data
      // })
    },
    uploads(res, file) {
      this.core_data.image = res.data.url
      console.log(res)
      // console.log(file)
    },
    getUploadUrl() {
      return getUploadBaseApi()
    },
    getinfo() {
      const params = {}
      params['id'] = this.$route.query.id
      teamInfo(params).then(req => {
        this.infoCountry()
        this.info_clan_list()
        this.core_data = req.data.core_data
        if (req.data.base_data) {
          this.base_data = req.data.base_data
        }
        if (!this.core_data.organization) {
          this.core_data.organization = ''
        }
        if (!this.core_data.country) {
          this.core_data.country = ''
        }
        if (!this.base_data.region) {
          this.base_data.region = ''
        }
        this.form = req.data
        this.slug_stutas = 1
        if (req.data.core_data.slug) {
          this.core_data.slug = this.$yangJian.slug_rule(req.data.core_data.slug)
        }
        for (var i in req.data.team_player) {
          this.judge_stutas = 1
          this.player_ids.push(req.data.team_player[i].player_id)
          // this.team_player = req.data.player
        }
        const cities = req.data.team_player
        cities.forEach((city, index) => {
          this.players.push({
            label: city.nick_name + ' ' + '(' + city.id + ')' + ' ' + this.getCountryName(city.player_country),
            key: city.id,
            pinyin: city.nick_name,
            image: city.image
          })
        })
      })
      this.searchPlayerLift()
    },
    handleClose(done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done()
        })
        .catch(_ => {})
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          var tmp = /^\[[\d,]*\]$/g
          var arr = ''
          if (this.base_data.history_players) {
            arr = this.base_data.history_players
          } else {
            arr = '[]'
          }
          if (tmp.test(arr)) {
            const params = {}
            if (this.$route.query.upId) {
              params['todo_id'] = this.$route.query.upId
            }
            params['id'] = this.$route.query.id
            params['core_data'] = this.core_data
            params['base_data'] = this.base_data
            params['team_player'] = this.player_ids
            teamEdit(params).then(req => {
              this.$message({
                type: 'success',
                message: '编辑成功！'
              })
              if (this.$route.query.upId) {
                this.$router.push('/gamecenter/update/updateinfo/list')
              } else if (this.$route.query.clan_id) {
                this.$router.push({ path: '/gamecenter/clan/edit', query: { id: this.$route.query.clan_id }})
              } else {
                this.$router.push('/gamecenter/team/teaminfo/list')
              }
            })
          } else {
            this.$message.error('历史选手不是数组类型')
            return false
          }
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    },
    toggleSelection(rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange(val) {
      this.multipleSelection = val
    }
  }
}
</script>

<style scoped>
.el-input__icon el-icon-date{
  border: 5px;
}
.el-form-item .el-input__inner{
  padding-left: 0;
}
.transfer-footer {
  margin-left: 23px;
  /*padding: 6px 5px;*/
}
.upDate{
  font-weight: bold;
  color:#606266;
  font-size: 14px
}
</style>
