<template>
  <div class="app-container transfer_info">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>错误处理</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-table
        :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'14px',height:'40px',textAlign:'center'}"
        :cell-style="{textAlign:'center',padding:'3px'}"
        :data="tableData"
        :style="{'width':'100%'}"
      >
        <el-table-column prop="match_id" :label="'比赛ID'" />
        <el-table-column prop="status" :label="'比赛状态'">
          <template slot-scope="scope">
            <p v-if="scope.row.status == 1">未开始</p>
            <p v-if="scope.row.status == 2">进行中</p>
            <p v-if="scope.row.status == 3">已结束</p>
            <p v-if="scope.row.status == 4">已推迟</p>
            <p v-if="scope.row.status == 5">已取消</p>
          </template>
        </el-table-column>
        <el-table-column prop="id" label="游戏">
          <template slot-scope="scope">
            <img :src="scope.row.game_image" style="width: 20px;height: 20px">
          </template>
        </el-table-column>
        <el-table-column prop="id" label="数据源">
          <template slot-scope="scope">
            <p style="margin: 1px 0">
              <img src="../../../../../public/黑方.png" style="height: 20px" >
            </p>
            <p style="margin: 1px 0">
              <img src="../../../../../public/黑方.png" style="height: 20px">
            </p>
            <div v-for="(item,index) in JSON.parse(scope.row.tems_info)" :key="index">
              <p style="margin: 1px 0">
                <img :src="item.origin_image" style="height: 20px">
              </p>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="tems_id" :label="'战队ID'">
          <template slot-scope="scope">
            <p style="margin: 1px 0;height: 27px;">{{ scope.row.team_master.team_1_id }}</p>
            <p style="margin: 1px 0;height: 27px;">{{ scope.row.team_master.team_2_id }}</p>
            <div v-for="(item,index) in JSON.parse(scope.row.tems_info)" :key="index">
              <p style="margin: 1px 0;height: 27px">{{ item.tems_id }}</p>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="id" label="战队">
          <template slot-scope="scope">
            <p style="margin: 1px 0">
              <img :src="scope.row.team_master.team_1_image" style="height: 20px">
            </p>
            <p style="margin: 1px 0">
              <img :src="scope.row.team_master.team_2_image" style="height: 20px">
            </p>
            <div v-for="(item,index) in JSON.parse(scope.row.tems_info)" :key="index">
              <p style="margin: 1px 0">
                <img :src="item.tems_image" style="height: 20px">
              </p>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="tems_name" :label="'战队名称'">
          <template slot-scope="scope">
            <p style="margin: 1px 0;height: 27px;">{{ scope.row.team_master.team_1_name }}</p>
            <p style="margin: 1px 0;height: 27px;">{{ scope.row.team_master.team_2_name }}</p>
            <div v-for="(item,index) in JSON.parse(scope.row.tems_info)" :key="index">
              <p style="margin: 1px 0;height: 27px;">{{ item.tems_name }}</p>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="scheduled_begin_at" :label="'计划开始时间'" width="105"/>
        <el-table-column prop="operation_status" :label="'状态'">
          <template slot-scope="scope">
            <p v-if="scope.row.operation_status == '1'" style="color: red">未处理</p>
            <p v-if="scope.row.operation_status == '2'">已处理</p>
          </template>
        </el-table-column>
        <el-table-column prop="job_status_name" label="操作记录">
          <template slot-scope="scope">
            <span v-if="scope.row.operationInfo">({{ scope.row.operationInfo.count }})</span>
            <span v-if="!scope.row.operationInfo">(0)</span>
            <el-button v-if="scope.row.operationInfo" type="text" size="small" @click="getHistory(scope.row.operationInfo.resource_id,scope.row.operationInfo.resource_type )">操作记录</el-button>
            <el-button v-if="!scope.row.operationInfo" type="text" size="small">操作记录</el-button>
          </template>
        </el-table-column>
        <el-table-column fixed="right" label="操作">
          <template slot-scope="scope">
            <el-button v-if="scope.row.operation_status == 1" type="text" size="small" @click="getEdit(scope.row.id)">处理</el-button>
            <el-button v-if="scope.row.operation_status == 2" type="text" size="small" style="color: #9da408" @click="getBack(scope.row.id)">撤回</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="over">
        <el-pagination
          class="pager"
          background
          layout="prev, pager, next, jumper"
          :total="total"
          :current-page="req.page"
          :page-size="req.per_page"
          @current-change="changePager"
        />
      </div>
    </el-card>
  </div>
</template>

<script>
import { errData, edit_errData } from '@/api/chart'
export default {
  name: 'EditErr',
  data() {
    return {
      tableData: [],
      total: 20,
      req: {
        page: 1,
        per_page: 10
      }
    }
  },
  mounted() {
    this.getInfo()
  },
  methods: {
    getHistory(id, type) {
      this.$router.push({ path: '/gamecenter/update/updateTemplate/operation', query: { id: id, type: type }})
    },
    changePager(pageId) {
      this.req.page = pageId
      this.getInfo()
    },
    getBack(id) {
      this.$confirm('标记为未处理, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        params['operation_status'] = '1'
        edit_errData(params).then(res => {
          this.$message({
            type: 'success',
            message: '操作成功!'
          })
          this.getInfo()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    getEdit(id) {
      this.$confirm('标记为已处理, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        params['operation_status'] = '2'
        edit_errData(params).then(res => {
          this.$message({
            type: 'success',
            message: '操作成功!'
          })
          this.getInfo()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    getInfo() {
      const params = {}
      params['page'] = this.req.page
      params['pageSize'] = this.req.per_page
      errData(params).then(res => {
        var data = []
        this.total = 1 * res.data.total
        this.tableData = res.data.list
      }
      )
    }
  }
}
</script>

<style scoped>
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
</style>
