<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>战队管理</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="req" :inline="true" label-width="100px" size="mini">
        <el-row>
          <el-col :span="6">
            <el-form-item label="游戏项目:">
              <el-select v-model="req.games" style="width: 220px" placeholder="请选择">
                <el-option
                  v-for="(item,index) in allgames"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="国家地区:">
              <el-select v-model="req.country" filterable style="width: 220px" placeholder="请选择">
                <el-option
                  v-for="(item,index) in allcountry"
                  :key="index"
                  :label="item.e_name + ' '+'('+item.name+')'"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="俱乐部名称:">
              <el-input v-model="req.clan_name" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="4" :offset="2">
            <el-form-item>
              <el-button type="primary" @click="getupdate">各游戏项目整体更新设置</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="变更时间:">
              <el-date-picker
                v-model="req.timeArea"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="战队名称:">
              <el-input v-model="req.team_name" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="ELS战队ID:">
              <el-input v-model="req.id" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="4" :offset="2">
            <el-form-item>
              <el-button type="primary" @click="findInfo">搜索</el-button>
              <el-button type="primary" style="margin-left: 50px" @click="getteam">新建</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-dialog
          v-if="dialogVisible"
          title="更新设置"
          :visible.sync="dialogVisible"
          width="50%"
        >
          <div v-if="config_info.config">
            <el-form>
              <el-row type="flex" class="row-bg" align="middle">
                <el-col :span="2">
                  <img :src="allgames[team_info.game].logo" style="width: 44px; height: 44px">
                </el-col>
                <el-col :span="2" :offset="0">
                  <img :src="team_info.image" style="width: 44px; height: 44px">
                </el-col>
                <el-col :span="18">
                  <span>{{ team_info.name }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <span>ELS ID:&nbsp;&nbsp;{{ team_info.id }}</span>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="3" :offset="0">
                  <el-form-item>核心内容：</el-form-item>
                </el-col>
                <el-col :span="10" :offset="1">
                  <el-form-item label="使用数据源">
                    <el-select v-if="config_info.config" v-model="config_info.config['team.core_data'].origin_id" placeholder="请选择">
                      <el-option
                        v-for="(item,index) in enum_origin_list"
                        :key="index"
                        :label="item.desc"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="10" :offset="0">
                  <el-form-item label="更新方式">
                    <el-select v-if="config_info.config" v-model="config_info.config['team.core_data'].update_type" placeholder="不更新">
                      <el-option label="不更新" value="1" />
                      <el-option label="手动" value="2" />
                      <el-option label="自动" value="3" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="3" :offset="0">
                  <el-form-item>基础内容：</el-form-item>
                </el-col>
                <el-col :span="10" :offset="1">
                  <el-form-item label="使用数据源">
                    <el-select v-model="config_info.config['team.base_data'].origin_id" placeholder="请选择">
                      <el-option
                        v-for="(item,index) in enum_origin_list"
                        :key="index"
                        :label="item.desc"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="10" :offset="0">
                  <el-form-item label="更新方式">
                    <el-select v-model="config_info.config['team.base_data'].update_type" placeholder="手动">
                      <el-option label="不更新" value="1" />
                      <el-option label="手动" value="2" />
                      <el-option label="自动" value="3" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="3" :offset="0">
                  <el-form-item>战队选手：</el-form-item>
                </el-col>
                <el-col :span="10" :offset="1">
                  <el-form-item label="使用数据源">
                    <el-select v-model="config_info.config['team.team_player'].origin_id" placeholder="请选择">
                      <el-option
                        v-for="(item,index) in enum_origin_list"
                        :key="index"
                        :label="item.desc"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="10" :offset="0">
                  <el-form-item label="更新方式">
                    <el-select v-model="config_info.config['team.team_player'].update_type" placeholder="请选择">
                      <el-option label="不更新" value="1" />
                      <el-option label="手动" value="2" />
                      <el-option label="自动" value="3" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg" justify="space-around" />
            </el-form>
          </div>
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="onSubmit">确认修改</el-button>
          </span>
        </el-dialog>
      </el-form>
      <el-table
        :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'14px',height:'40px',textAlign:'center'}"
        :cell-style="{textAlign:'center',padding:'3px'}"
        :data="tableData"
        :cell-class-name="delLine"
        :row-class-name="tableRowClassName"
        :style="{'width':'100%'}"
      >
        <el-table-column prop="id" :label="'ELS\n战队ID'" />
        <el-table-column prop="name" label="名称">
          <template slot-scope="scope">
            <el-popover
              placement="top-start"
              trigger="hover"
            >
              <p slot="reference" style="white-space: pre-wrap;">{{ scope.row.name }}</p>
              <div>
                <p>全称：{{ scope.row.full_name }}</p>
                <p>简称：{{ scope.row.short_name }}</p>
                <p>别名：{{ scope.row.alias }}</p>
              </div>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column prop="id" label="图标">
          <template slot-scope="scope">
            <img :src="scope.row.image" style="width: 66px;height: 66px">
          </template>
        </el-table-column>
        <el-table-column prop="nickname" :label="'游戏\n项目'">
          <template slot-scope="scope">
            <img :src="scope.row.game_logo" style="width: 20px;height: 20px">
          </template>
        </el-table-column>
        <el-table-column prop="country_name" label="国家地区" />
        <el-table-column prop="clan_id" :label="'ELS\n俱乐部ID'" />
        <el-table-column prop="clan_name" :label="'俱乐部\n名称'">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.clan_name }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="created_at" label="创建时间" width="100px" />
        <el-table-column prop="modified_at" label="变更时间" width="100px" />
        <el-table-column prop="modified_at" :label="'已绑定\n数据源'" width="100px">
          <template slot-scope="scope">
            <div v-for="(item,index) in scope.row.binding_info" :key="index" >
              <el-popover
                placement="top-start"
                width="400"
                trigger="hover"
              >
                <span v-for="(item1,index1) in item" :key="index1">{{item1.standard_id}}<span v-if="item.length !== index1+1">,</span></span>
                <el-button slot="reference" type="text">
                  <div style="display: flex;align-items: center;justify-content: center">
                    <img :src="item[0].enum_origin_image" style="height: 20px;width: 20px;margin-right: 3px"><span> ({{item.length}})</span>
                  </div>
                </el-button>
              </el-popover>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="days" :label="'数据源\n/更新方式'">
          <template slot-scope="scope">
            <div v-if="scope.row.update_config.config">
              <span v-if="scope.row.update_config.config['team.core_data'].update_type === '1'" class="status-align">&nbsp;&nbsp;&nbsp;核：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['team.core_data'].origin_id)"></img>  <div class="status-point" style=" background-color:red" /></span>
              <span v-if="scope.row.update_config.config['team.core_data'].update_type === '2'" class="status-align">&nbsp;&nbsp;&nbsp;核：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['team.core_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#E6A23C" /></span>
              <span v-if="scope.row.update_config.config['team.core_data'].update_type === '3'" class="status-align">&nbsp;&nbsp;&nbsp;核：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['team.core_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#67C23A" /></span>
            </div>
            <div v-if="scope.row.update_config.config">
              <span v-if="scope.row.update_config.config['team.base_data'].update_type === '1'" class="status-align">&nbsp;&nbsp;&nbsp;基：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['team.base_data'].origin_id)"></img>  <div class="status-point" style=" background-color:red" /></span>
              <span v-if="scope.row.update_config.config['team.base_data'].update_type === '2'" class="status-align">&nbsp;&nbsp;&nbsp;基：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['team.base_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#E6A23C" /></span>
              <span v-if="scope.row.update_config.config['team.base_data'].update_type === '3'" class="status-align">&nbsp;&nbsp;&nbsp;基：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['team.base_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#67C23A" /></span>
            </div>
            <div v-if="scope.row.update_config.config">
              <span v-if="scope.row.update_config.config['team.team_player'].update_type === '1'" class="status-align">选手：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['team.team_player'].origin_id)"></img>  <div class="status-point" style=" background-color:red" /></span>
              <span v-if="scope.row.update_config.config['team.team_player'].update_type === '2'" class="status-align">选手：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['team.team_player'].origin_id)"></img>  <div class="status-point" style=" background-color:#E6A23C" /></span>
              <span v-if="scope.row.update_config.config['team.team_player'].update_type === '3'" class="status-align">选手：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['team.team_player'].origin_id)"></img>  <div class="status-point" style=" background-color:#67C23A" /></span>
            </div>
          </template>
        </el-table-column>
        <el-table-column v-if="$hasAuth('platform|partTimeJob|write')" fixed="right" label="操作">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="getEdit(scope.row.id)">编辑</el-button>
            <template v-if="scope.row.deleted == '2' ">
              <el-button type="text" size="small" style="color: coral" @click="getDel(scope.row.id)">删除</el-button>
            </template>
            <template v-if="scope.row.deleted == '1' ">
              <el-button type="text" size="small" style="color: green" @click="getReset(scope.row.id)">恢复</el-button>
            </template>
            <el-button type="text" size="small" @click="getup(scope.row)">更新设置</el-button>
          </template>
        </el-table-column>
        <el-table-column label="操作记录">
          <template slot-scope="scope">
            <span v-if="scope.row.operation">({{ scope.row.operation.count }})</span>
            <span v-if="!scope.row.operation">(0)</span>
            <el-button v-if="scope.row.operation" type="text" size="small" @click="getHistory(scope.row.operation.resource_id,scope.row.operation.resource_type )">操作记录</el-button>
            <el-button v-if="!scope.row.operation" type="text" size="small">操作记录</el-button>
          </template>
        </el-table-column>
      </el-table>

      <div class="over">
        <el-pagination
          class="pager"
          background
          layout="prev, pager, next, jumper"
          :total="total"
          :current-page="req.page"
          :page-size="req.per_page"
          @current-change="changePager"
        />
      </div>
    </el-card>
  </div>
</template>
<script>
import { teamList, teamDel } from '../../../../api/team'
import { resource_config_detail, resource_config_edit } from '@/api/data'
import { mapGetters } from 'vuex'
export default {
  name: 'List',
  data() {
    return {
      form: {},
      config_info: {
        config: {
          'team.core_data': {
            origin_id: '2',
            update_type: ''
          },
          'team.base_data': {
            origin_id: '',
            update_type: ''
          }
        },
        game: {}
      },
      team_info: {},
      dialogVisible: false,
      tableData: [],
      total: 20,
      req: {
        games: '',
        page: 1,
        per_page: 10,
        clan_name: '',
        country: '',
        team_name: '',
        id: '',
        timeArea: []
      },
      options: [],
      value: ''
    }
  },
  mounted() {
    this.finddata()
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  methods: {
    tableRowClassName({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'success-row'
      }
    },
    delLine({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'del_line'
      }
    },
    getHistory(id, type) {
      this.$router.push({ path: '/gamecenter/update/updateTemplate/operation', query: { id: id, type: type }})
    },
    onSubmit() {
      const params = {}
      params['resource_type'] = 'team'
      params['resource_id'] = this.team_info.id
      params['config'] = this.config_info
      resource_config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
        this.dialogVisible = false
        this.finddata()
      })
    },
    getup(info) {
      this.dialogVisible = true
      this.team_info = info
      const params = {}
      params['resource_type'] = 'team'
      params['resource_id'] = info.id
      resource_config_detail(params).then(req => {
        this.config_info = req.data
      })
    },
    getReset(id) {
      this.$confirm('确认恢复？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        params['status'] = 2
        teamDel(params).then(req => {
          this.finddata()
          this.$message({
            type: 'success',
            message: '恢复成功！'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    getDel(id) {
      this.$confirm('确认删除？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        params['status'] = 1
        teamDel(params).then(req => {
          this.finddata()
          this.$message({
            type: 'success',
            message: '删除成功！'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    getEdit(id) {
      this.$router.push({ path: '/gamecenter/team/teaminfo/edit', query: { id: id }})
    },
    findInfo() {
      this.req.page = 1
      this.finddata()
    },
    finddata() {
      const params = {}
      params['game_id'] = this.req.games
      params['clan_name'] = this.req.clan_name
      params['country'] = this.req.country
      params['team_name'] = this.req.team_name
      params['id'] = this.req.id
      if (this.req.timeArea) {
        params['date_begin'] = this.req.timeArea[0]
        params['date_end'] = this.req.timeArea[1]
      }
      params['page'] = this.req.page
      params['per_page'] = this.req.per_page
      teamList(params).then(req => {
        this.tableData = req.data.list
        this.total = 1 * req.data.total
        this.tableData.forEach(item => {
          var tmp = {}
          if (item.binding_info.length>0) {
            item.binding_info.forEach(info => {
              tmp[info.origin_id] = tmp[info.origin_id] || []
              tmp[info.origin_id].push(info)
            })
            item.binding_info = Object.values(tmp)
          }
        })
      })
    },
    changePager(newPage) {
      this.req.page = newPage
      this.finddata()
    },
    getjoblist() {},
    getupdate() {
      this.$router.push({ path: '/gamecenter/team/teaminfo/update' })
    },
    getteam() {
      this.$router.push({ path: '/gamecenter/team/teaminfo/add' })
    }
  }
}
</script>

<style scoped>
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
  .status-point {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .status-align {
    /*vertical-align:middle*/
  }
  .status-a {
    vertical-align:middle;
    width: 20px;height: 20px
  }
</style>
