<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>新建日志分拣</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form ref="form" :rules="rules" :model="form" label-width="140px">
        <el-row type="flex" class="row-bg" style="padding:0 20px">
          <el-col :span="8" :offset="0">
            <el-form-item label="游戏项目" prop="game">
              <el-select v-model="form.game" placeholder="请选择" style="width: 100%">
                <el-option
                  v-for="(item,index) in games"
                  :key="index"
                  :label="item.name"
                  :value="''+ item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="所属赛事" prop="tournament_id">
              <el-select
                v-model="form.tournament_id"
                filterable
                placeholder="请选择(可搜索)"
                style="width: 100%"
              >
                <el-option
                  v-for="item in gameinfo"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="所属分组">
              <el-cascader
                v-model="form.relation"
                :options="options"
                :show-all-levels="false"
                style="width: 100%"
                clearable
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" style="padding:0 20px">
          <el-col :span="16" :offset="0">
            <el-form-item label="比赛" prop="match_id">
              <el-select
                v-model="form.match_id"
                filterable
                placeholder="请选择(可搜索)"
                style="width: 100%"
              >
                <el-option
                  v-for="item in match_list"
                  :key="item.id"
                  :label="'('+item.scheduled_begin_at+') '+item.main_team_name+' VS '+item.other_team_name+' ('+item.id+')'"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="3" :offset="5">
            <el-button type="primary" size="mini" @click="dialogVisible = true">查看战队选手详情</el-button>
          </el-col>
        </el-row>
        <el-dialog
          title="内容详情"
          :visible.sync="dialogVisible"
          width="80%"
        >
          <!--          <div>-->
          <!--            <json-viewer :value="log_info" />-->
          <!--          </div>-->
          <el-card v-for="(item,index) in log_info.result" style="margin-bottom: 20px">
            <el-row>
              <el-col :span="24" :offset="0">
                <el-form-item label="数据源IP">
                  <el-input v-model="item.ip" disabled />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="12" :offset="0">
                <el-form-item label="日志截取起始时间">
                  <el-input v-model="log_info.begin_time" disabled />
                </el-form-item>
              </el-col>
              <el-col :span="12" :offset="0">
                <el-form-item label="日志截取终止时间">
                  <el-input v-model="log_info.end_time" disabled />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="12" :offset="0">
                <el-form-item label="原始日志时间">
                  <el-input v-model="item.event_time" disabled />
                </el-form-item>
              </el-col>
              <el-col :span="12" :offset="0">
                <el-form-item label="日志创建时间">
                  <el-input v-model="item.event_time" disabled />
                </el-form-item>
              </el-col>
            </el-row>
            <div>
              <el-row>
                <el-col :span="24" :offset="0">
                  <el-form-item label="战队名称">
                    <el-input v-model="Object.keys(item.teams)[0]" disabled />
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="24" :offset="0">
                  <el-form-item label="战队名称">
                    <el-input v-model="Object.keys(item.teams)[1]" disabled />
                  </el-form-item>
                </el-col>
              </el-row>
            </div>
            <el-divider />
            <el-row>
              <el-col :span="8" :offset="0">
                <el-form-item label="ELS战队ID">
                  <el-input v-model="Object.values(item.els_teams)[0][0].els_player_id" disabled />
                </el-form-item>
              </el-col>
              <el-col :span="16" :offset="0">
                <el-form-item label="ELS战队名称">
                  <el-input v-model="Object.keys(item.els_teams)[0]" disabled />
                </el-form-item>
              </el-col>
            </el-row>
            <el-table
              :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'14px',height:'40px',textAlign:'center'}"
              :cell-style="{textAlign:'center',padding:'3px'}"
              :data="Object.values(item.els_teams)[0]"
              style="width: 100%"
            >
              <el-table-column prop="player_nickname" :label="'日志选手昵称'" />
              <el-table-column prop="steam_id" :label="'日志选手steamid'" />
              <el-table-column prop="steamID64" :label="'日志选手steamid 64'" />
              <el-table-column prop="els_player_id" :label="'ELS选手ID'" />
              <el-table-column prop="els_player_nick_name" :label="'ELS选手昵称'" />
            </el-table>
            <el-divider />
            <el-row>
              <el-col :span="8" :offset="0">
                <el-form-item label="ELS战队ID">
                  <el-input v-model="Object.values(item.els_teams)[1][0].els_player_id" disabled />
                </el-form-item>
              </el-col>
              <el-col :span="16" :offset="0">
                <el-form-item label="ELS战队名称">
                  <el-input v-model="Object.keys(item.els_teams)[1]" disabled />
                </el-form-item>
              </el-col>
            </el-row>
            <el-table
              :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'14px',height:'40px',textAlign:'center'}"
              :cell-style="{textAlign:'center',padding:'3px'}"
              :data="Object.values(item.els_teams)[1]"
              style="width: 100%"
            >
              <el-table-column prop="player_nickname" :label="'日志选手昵称'" />
              <el-table-column prop="steam_id" :label="'日志选手steamid'" />
              <el-table-column prop="steamID64" :label="'日志选手steamid 64'" />
              <el-table-column prop="els_player_id" :label="'ELS选手ID'" />
              <el-table-column prop="els_player_nick_name" :label="'ELS选手昵称'" />
            </el-table>
            <el-table
              :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'14px',height:'40px',textAlign:'center'}"
              :cell-style="{textAlign:'center',padding:'3px'}"
              :data="Object.values(item.players)"
              style="width: 100%;margin-top: 30px"
            >
              <el-table-column prop="player_nickname" :label="'日志选手昵称'" />
              <el-table-column prop="steam_id" :label="'日志选手steamid'" />
              <el-table-column prop="steamID64" :label="'日志选手steamid 64'" />
              <el-table-column prop="els_player_id" :label="'ELS选手ID'" />
              <el-table-column prop="els_player_nick_name" :label="'ELS选手昵称'" />
            </el-table>
          </el-card>
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
          </span>
        </el-dialog>
        <el-card shadow="never">
          <el-row type="flex" class="row-bg">
            <el-col :span="8" :offset="0">
              <el-form-item label="游戏项目">
                <el-select v-model="core_data.game" placeholder="请选择" style="width: 100%" disabled>
                  <el-option
                    v-for="(item,index) in games"
                    :key="index"
                    :label="item.name"
                    :value="''+ item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8" :offset="0">
              <el-form-item label="比赛规则">
                <el-select v-model="core_data.game_rules" placeholder="请选择" style="width: 100%" disabled>
                  <el-option
                    v-for="(item,index) in game_rules_list"
                    :key="index"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8" :offset="0">
              <el-form-item label="比赛类型" prop="match_type">
                <el-select v-model="core_data.match_type" placeholder="请选择" style="width: 100%" disabled>
                  <el-option
                    v-for="(item,index) in game_match_type_list"
                    :key="index"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8" :offset="0">
              <el-form-item label="赛制局数" prop="number_of_games">
                <el-select v-model="core_data.number_of_games" placeholder="请选择" style="width: 100%" disabled>
                  <el-option label="1" value="1" />
                  <el-option label="2" value="2" />
                  <el-option label="3" value="3" />
                  <el-option label="4" value="4" />
                  <el-option label="5" value="5" />
                  <el-option label="6" value="6" />
                  <el-option label="7" value="7" />
                  <el-option label="8" value="8" />
                  <el-option label="9" value="9" />
                  <el-option label="10" value="10" />
                  <el-option label="11" value="11" />
                  <el-option label="12" value="12" />
                  <el-option label="13" value="13" />
                  <el-option label="14" value="14" />
                  <el-option label="15" value="15" />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8" :offset="0">
              <el-form-item label="所属赛事">
                <el-select
                  v-model="core_data.tournament_id"
                  filterable
                  placeholder="请选择(可搜索)"
                  style="width: 100%"
                  disabled
                >
                  <el-option
                    v-for="item in gameinfo"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8" :offset="0">
              <el-form-item label="所属分组">
                <el-cascader
                  v-model="core_data.relation"
                  :options="options"
                  :show-all-levels="false"
                  style="width: 100%"
                  clearable
                  disabled
                />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8" :offset="0">
              <el-form-item label="计划开始时间">
                <el-date-picker
                  v-model="core_data.scheduled_begin_at"
                  type="datetime"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  placeholder="选择日期时间"
                  style="width: 100%"
                  disabled
                />
              </el-form-item>
            </el-col>
            <el-col :span="8" :offset="0">
              <el-form-item label="原计划开始时间" prop="original_scheduled_begin_at">
                <el-date-picker
                  v-model="core_data.original_scheduled_begin_at"
                  type="datetime"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  placeholder="选择日期时间"
                  style="width: 100%"
                  disabled
                />
              </el-form-item>
            </el-col>
            <el-col :span="8" :offset="0">
              <el-form-item label="是否调整了时间表" prop="is_rescheduled">
                <el-select v-model="core_data.is_rescheduled" placeholder="请选择" style="width: 100%" disabled>
                  <el-option label="是" value="1" />
                  <el-option label="否" value="2" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg">
            <el-col :span="8" :offset="0">
              <el-form-item label="主队" prop="team_1_id">
                <el-select v-model="core_data.team_1_id" placeholder="请选择主队" style="width: 100%" disabled>
                  <el-option
                    v-for="(item,index) in get_search_teaminfo"
                    :key="index"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8" :offset="0">
              <el-form-item label="客队" prop="team_2_id">
                <el-select v-model="core_data.team_2_id" placeholder="请选择客队" style="width: 100%" disabled><el-option
                  v-for="(item,index) in get_search_teaminfo"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8" :offset="0">
              <el-form-item label="Slug" prop="slug">
                <el-input v-model="core_data.slug" disabled />
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
        <el-row type="flex" class="row-bg" style="padding:0 20px;padding-top: 22px">
          <el-col :span="8" :offset="0">
            <el-form-item label="日志类别" prop="log_type">
              <el-select v-model="form.log_type" placeholder="请选择" style="width: 100%">
                <el-option label="5E Play" value="1" />
                <el-option label="UCC" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="主队日志名称" prop="team_1_log_name">
              <el-input v-model="form.team_1_log_name" style="width: 100%" />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="客队日志名称" prop="team_2_log_name">
              <el-input v-model="form.team_2_log_name" style="width: 100%" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" style="padding:0 20px;padding-top: 22px">
          <el-col :span="8" ::offset="0">
            <el-form-item label="时区" prop="timezone">
              <el-select v-model="form.timezone" style="width: 100%">
                <el-option label="UTC" value="0" />
                <el-option label="UTC+1" value="1" />
                <el-option label="UTC+2" value="2" />
                <el-option label="UTC+3" value="3" />
                <el-option label="UTC+4" value="4" />
                <el-option label="UTC+5" value="5" />
                <el-option label="UTC+6" value="6" />
                <el-option label="UTC+7" value="7" />
                <el-option label="UTC+8" value="8" />
                <el-option label="UTC+9" value="9" />
                <el-option label="UTC+10" value="10" />
                <el-option label="UTC+11" value="11" />
                <el-option label="UTC+12" value="12" />
                <el-option label="UTC-1" value="-1" />
                <el-option label="UTC-2" value="-2" />
                <el-option label="UTC-3" value="-3" />
                <el-option label="UTC-4" value="-4" />
                <el-option label="UTC-5" value="-5" />
                <el-option label="UTC-6" value="-6" />
                <el-option label="UTC-7" value="-7" />
                <el-option label="UTC-8" value="-8" />
                <el-option label="UTC-9" value="-9" />
                <el-option label="UTC-10" value="-10" />
                <el-option label="UTC-11" value="-11" />
                <el-option label="UTC-12" value="-12" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <div style="padding-top: 15px;text-align: center">
            <el-button type="primary" @click="onSubmit('form')">确认创建</el-button>
          </div>
        </el-row>
      </el-form>
    </el-card>
  </div>
</template>
<script>
import { get_tournament, get_stage, get_group, get_match_detail, get_sort_match_list, get_sortlog_add, get_log_info } from '@/api/match'
import { tournamentTree, get_tournament_team } from '@/api/tournament'
import { get_enums } from '@/api/common'
import { mapGetters } from 'vuex'
Vue.use(JsonViewer)
import Vue from 'vue'
import JsonViewer from 'vue-json-viewer'
export default {
  name: 'Add',
  data() {
    return {
      log_info: {},
      dialogVisible: false,
      form: {
        'game': '',
        'tournament_id': '',
        match_id: '',
        relation: '',
        log_type: '',
        team_1_log_name: '',
        team_2_log_name: '',
        service_ip: '',
        sleeps: '',
        timezone: '0',
        scheduled_begin_at: ''
      },
      match_list: [],
      game_match_type_list: [],
      all_game_match_type_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      game_rules_list: [],
      all_rules_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      activeName: '0',
      updateInfo: {
        core_data: {},
        base_data: {},
        team_player_relation: {}
      },
      'core_data': {
        'game': '',
        'tournament_id': '',
        'match_rule_id': '',
        'son_tournament_id': '',
        'stage_id': '',
        'group_id': '',
        'team_1_id': '',
        'team_2_id': '',
        'game_rules': '',
        'match_type': '',
        'number_of_games': '',
        'original_scheduled_begin_at': '',
        'scheduled_begin_at': '',
        'slug': '',
        'is_rescheduled': '',
        'relation': '',
        'deleted': '',
        'cuser': '',
        'created_at': '',
        'modified_at': '',
        'deleted_at': ''
      },
      isSlug1: 0,
      isSlug2: 0,
      isSlug3: 0,
      binding_info: {
        standard_id1: '',
        standard_id2: '',
        standard_id3: ''
      },
      isInt: 1,
      options: [
        { id: '',
          value: '空',
          type: '空',
          parent_id: '空',
          label: '空'
        }
      ],
      req: {},
      get_search_teaminfo: [],
      get_group_info: [],
      get_stage_info: [],
      game_son_info: [],
      gameinfo: [],
      textarea: '',
      rules: {
        match_id: [
          { required: true, message: '请选择比赛', trigger: 'change' }
        ],
        game: [
          { required: true, message: '请选择游戏项目', trigger: 'change' }
        ],
        tournament_id: [
          { required: true, message: '请选择所属赛事', trigger: 'change' }
        ],
        log_type: [
          { required: true, message: '请选择日志类别', trigger: 'change' }
        ],
        team_1_log_name: [
          { required: true, message: '请输入主队日志名称', trigger: 'change' }
        ],
        team_2_log_name: [
          { required: true, message: '请输入客队日志名称', trigger: 'change' }
        ],
        service_ip: [
          { required: true, message: '请输入服务器IP', trigger: 'change' }
        ],
        sleeps: [
          { required: true, message: '请输入延迟时间', trigger: 'change' }
        ],
        timezone: [
          { required: true, message: '请选择时区', trigger: 'change' }
        ],
        scheduled_begin_at: [
          { required: true, message: '请选择计划开始时间', trigger: 'change' }
        ]
      }
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  watch: {
    'form.relation': {
      handler() {
        this.form.match_id = ''
        if (this.form.relation) {
          this.get_match_list()
        }
      }
    },
    'form.game': {
      handler() {
        this.form.tournament_id = ''
        this.form.relation = ''
        this.options = [
          { id: '',
            value: '空',
            type: '空',
            parent_id: '空',
            label: '空'
          }
        ]
        this.form.match_id = ''
        this.gamelist()
      }
    },
    'form.tournament_id': {
      handler() {
        this.form.match_id = ''
        this.form.relation = ''
        if (this.form.tournament_id) {
          this.game_son_list()
          if (!this.form.relation) {
            this.get_match_list()
          }
        }
      }
    },
    'form.match_id': {
      handler() {
        this.get_log_info_list()
        this.core_data = {
          'game': '',
          'tournament_id': '',
          'match_rule_id': '',
          'son_tournament_id': '',
          'stage_id': '',
          'group_id': '',
          'team_1_id': '',
          'team_2_id': '',
          'game_rules': '',
          'match_type': '',
          'number_of_games': '',
          'original_scheduled_begin_at': '',
          'scheduled_begin_at': '',
          'slug': '',
          'is_rescheduled': '',
          'relation': '',
          'deleted': '',
          'cuser': '',
          'created_at': '',
          'modified_at': '',
          'deleted_at': ''
        }
        if (this.form.match_id) {
          this.getinfo()
        }
      }
    },
    'core_data.tournament_id': {
      handler() {
        if (this.core_data.tournament_id) {
          this.get_tournament_team_list()
        }
      }
    },
    'core_data.scheduled_begin_at': {
      handler() {
        this.form.scheduled_begin_at = this.core_data.scheduled_begin_at
      }
    },
    dialogVisible() {
      if (this.dialogVisible === true) {
        this.get_log_info_list()
      }
    }
  },
  mounted() {
    this.get_game_match_type_list()
    this.get_game_rules()
  },
  methods: {
    get_log_info_list() {
      const params = {}
      params['sorting_log_id'] = this.form.match_id
      get_log_info(params).then(req => {
        this.log_info = req.data
      })
    },
    get_match_list() {
      const params = {}
      if (this.form.relation.length > 1) {
        params['group_id'] = this.form.relation[this.form.relation.length - 1]
      } else {
        params['tournament_id'] = this.form.tournament_id
      }
      get_sort_match_list(params).then(req => {
        this.match_list = req.data
      })
    },
    get_game_rules() {
      const params = {}
      params['type'] = 'game_rules'
      get_enums(params).then(req => {
        this.game_rules_list = req.data
        // this.game_rules_list['0'] = this.all_rules_list
      })
    },
    get_game_match_type_list() {
      const params = {}
      params['type'] = 'game_match_type'
      get_enums(params).then(req => {
        this.game_match_type_list = req.data
        // this.game_match_type_list['0'] = this.all_game_match_type_list
      })
    },
    get_tournament_team_list() {
      const params = {}
      params['id'] = this.core_data.tournament_id
      params['type'] = 'son_tournament'
      get_tournament_team(params).then(req => {
        var tmp = req.data
        this.get_search_teaminfo = [{ name: 'TBD', id: '-1' }]
        this.get_search_teaminfo.push.apply(this.get_search_teaminfo, tmp)
      })
    },
    getinfo() {
      const params = {}
      params['id'] = this.form.match_id
      get_match_detail(params).then(req => {
        this.core_data = req.data.core_data
        this.core_data.relation = JSON.parse(req.data.core_data.relation)
      })
    },
    game_group_list() {
      const params = {}
      params['tournament_id'] = this.form.tournament_id
      get_group(params).then(req => {
        this.get_group_info = req.data.list
      })
    },
    game_stage_list() {
      const params = {}
      params['tournament_id'] = this.form.tournament_id
      get_stage(params).then(req => {
        this.get_stage_info = req.data.list
      })
    },
    game_son_list() {
      const params = {}
      params['id'] = this.form.tournament_id
      params['type'] = 'only_group'
      tournamentTree(params).then(req => {
        if (req.data.length > 0) {
          var obj = req.data
          var m = {}
          for (var i in obj) {
            m = obj[i]
          }
          function conver(m) {
            const tmp = {
              id: m.id,
              value: m.primary_key,
              type: m.type,
              parent_id: m.parent_id,
              label: kk(m)
            }
            if (m.son) {
              tmp.children = []
              for (var i in m.son) {
                tmp.children.push(conver(m.son[i]))
              }
            }
            function kk(m) {
              if (m.type === '1') {
                return '赛事：' + m.tree_name
              }
              if (m.type === '2') {
                return '子赛事：' + m.tree_name
              }
              if (m.type === '3') {
                return '阶段：' + m.tree_name
              }
              if (m.type === '4') {
                return '分组：' + m.tree_name
              }
              if (m.type === '5') {
                return '目录：' + m.tree_name
              }
            }
            return tmp
          }
          var options = [conver(m)]
          this.options.push(options[0])
        }
      })
    },
    gamelist() {
      const params = {}
      params['game_id'] = this.form.game
      get_tournament(params).then(req => {
        this.gameinfo = req.data.list
      })
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          params['match_id'] = this.form.match_id
          params['log_type'] = this.form.log_type
          params['team_1_log_name'] = this.form.team_1_log_name
          params['team_2_log_name'] = this.form.team_2_log_name
          // params['service_ip'] = this.form.service_ip
          // params['sleeps'] = this.form.sleeps
          params['timezone'] = this.form.timezone
          // params['scheduled_begin_at'] = this.form.scheduled_begin_at
          get_sortlog_add(params).then(req => {
            this.$message({
              type: 'success',
              message: '创建成功！'
            })
            this.$router.push('/gamecenter/match/matchinfo/manageLog/list')
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
  .upDate{
    font-weight: bold;
    color:#606266;
    font-size: 14px
  }
</style>
