<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>编辑日志分拣</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form ref="form" :rules="rules" :model="form" label-width="140px">
        <el-row type="flex" class="row-bg" style="padding:0 20px">
          <el-col :span="8" :offset="0">
            <el-form-item label="游戏项目" prop="game">
              <el-select v-model="form.game" placeholder="请选择" style="width: 100%">
                <el-option
                  v-for="(item,index) in games"
                  :key="index"
                  :label="item.name"
                  :value="''+ item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="所属赛事" prop="tournament_id">
              <el-select
                v-model="form.tournament_id"
                filterable
                placeholder="请选择(可搜索)"
                style="width: 100%"
              >
                <el-option
                  v-for="item in gameinfo"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="所属分组">
              <el-cascader
                v-model="form.relation"
                :options="options"
                :show-all-levels="false"
                style="width: 100%"
                clearable
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" style="padding:0 20px">
          <el-col :span="16" :offset="0">
            <el-form-item label="比赛" prop="match_id">
              <el-select
                v-model="form.match_id"
                filterable
                placeholder="请选择(可搜索)"
                style="width: 100%"
              >
                <el-option
                  v-for="item in match_list"
                  :key="item.id"
                  :label="'('+item.scheduled_begin_at+') '+item.main_team_name+' vs '+item.other_team_name+' ('+item.id+')'"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="3" :offset="5">
            <el-button type="primary" size="mini" @click="dialogVisible = true">查看战队选手详情</el-button>
          </el-col>
        </el-row>
        <el-dialog
          title="内容详情"
          :visible.sync="dialogVisible"
          width="80%"
        >
          <!--          <div>-->
          <!--            <json-viewer :value="log_info" />-->
          <!--          </div>-->
          <el-card v-for="(item,index) in log_info.result" style="margin-bottom: 20px">
            <el-row>
              <el-col :span="24" :offset="0">
                <el-form-item label="数据源IP">
                  <el-input v-model="item.ip" disabled />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="12" :offset="0">
                <el-form-item label="日志截取起始时间">
                  <el-input v-model="log_info.begin_time" disabled />
                </el-form-item>
              </el-col>
              <el-col :span="12" :offset="0">
                <el-form-item label="日志截取终止时间">
                  <el-input v-model="log_info.end_time" disabled />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="12" :offset="0">
                <el-form-item label="原始日志时间">
                  <el-input v-model="item.event_time" disabled />
                </el-form-item>
              </el-col>
              <el-col :span="12" :offset="0">
                <el-form-item label="日志创建时间">
                  <el-input v-model="item.event_time" disabled />
                </el-form-item>
              </el-col>
            </el-row>
            <div>
              <el-row v-for="(item2,key,index) in item.teams" :key="index">
                <el-col :span="24" :offset="0">
                  <el-form-item label="战队名称">
                    <el-input v-model="key" disabled />
                  </el-form-item>
                </el-col>
              </el-row>
            </div>
            <el-divider />
            <div v-if="Object.values(item.els_teams)[0]" style="margin-top: 20px">
              <div v-for="(item1,key, index) in item.els_teams" :key="index" style="margin-top: 20px">
                <el-row>
                  <el-col :span="8" :offset="0">
                    <el-form-item label="ELS战队ID">
                      <el-input v-model="Object.values(item1)[0].team_id" disabled />
                    </el-form-item>
                  </el-col>
                  <el-col :span="16" :offset="0">
                    <el-form-item label="ELS战队名称">
                      <el-input v-model="key" disabled />
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-table
                  :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'14px',height:'40px',textAlign:'center'}"
                  :cell-style="{textAlign:'center',padding:'3px'}"
                  :data="Object.values(item1)"
                  style="width: 100%"
                >
                  <el-table-column prop="player_nickname" :label="'日志选手昵称'" />
                  <el-table-column prop="steam_id" :label="'日志选手steamid'" />
                  <el-table-column prop="steamID64" :label="'日志选手steamid 64'" />
                  <el-table-column prop="els_player_id" :label="'ELS选手ID'" />
                  <el-table-column prop="els_player_nick_name" :label="'ELS选手昵称'" />
                </el-table>
              </div>
            </div>
            <el-divider />
            <!--            <div v-if="Object.values(item.els_teams)[1]">-->
            <!--              <el-row>-->
            <!--                <el-col :span="8" :offset="0">-->
            <!--                  <el-form-item label="ELS战队ID">-->
            <!--                    <el-input v-model="Object.values(item.els_teams)[1][0].team_id" disabled />-->
            <!--                  </el-form-item>-->
            <!--                </el-col>-->
            <!--                <el-col :span="16" :offset="0">-->
            <!--                  <el-form-item label="ELS战队名称">-->
            <!--                    <el-input v-model="Object.keys(item.els_teams)[1]" disabled />-->
            <!--                  </el-form-item>-->
            <!--                </el-col>-->
            <!--              </el-row>-->
            <!--              <el-table-->
            <!--                :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'14px',height:'40px',textAlign:'center'}"-->
            <!--                :cell-style="{textAlign:'center',padding:'3px'}"-->
            <!--                :data="Object.values(item.els_teams)[1]"-->
            <!--                style="width: 100%"-->
            <!--              >-->
            <!--                <el-table-column prop="player_nickname" :label="'日志选手昵称'" />-->
            <!--                <el-table-column prop="steam_id" :label="'日志选手steamid'" />-->
            <!--                <el-table-column prop="steamID64" :label="'日志选手steamid 64'" />-->
            <!--                <el-table-column prop="els_player_id" :label="'ELS选手ID'" />-->
            <!--                <el-table-column prop="els_player_nick_name" :label="'ELS选手昵称'" />-->
            <!--              </el-table>-->
            <!--            </div>-->
            <el-table
              :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'14px',height:'40px',textAlign:'center'}"
              :cell-style="{textAlign:'center',padding:'3px'}"
              :data="Object.values(item.players)"
              style="width: 100%;margin-top: 30px"
            >
              <el-table-column prop="player_nickname" :label="'日志选手昵称'" />
              <el-table-column prop="steam_id" :label="'日志选手steamid'" />
              <el-table-column prop="steamID64" :label="'日志选手steamid 64'" />
              <el-table-column prop="els_player_id" :label="'ELS选手ID'" />
              <el-table-column prop="els_player_nick_name" :label="'ELS选手昵称'" />
            </el-table>
          </el-card>
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
          </span>
        </el-dialog>
        <el-card shadow="never">
          <el-row type="flex" class="row-bg">
            <el-col :span="8" :offset="0">
              <el-form-item label="游戏项目">
                <el-select v-model="core_data.game" placeholder="请选择" style="width: 100%" disabled>
                  <el-option
                    v-for="(item,index) in games"
                    :key="index"
                    :label="item.name"
                    :value="''+ item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8" :offset="0">
              <el-form-item label="比赛规则">
                <el-select v-model="core_data.game_rules" placeholder="请选择" style="width: 100%" disabled>
                  <el-option
                    v-for="(item,index) in game_rules_list"
                    :key="index"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8" :offset="0">
              <el-form-item label="比赛类型" prop="match_type">
                <el-select v-model="core_data.match_type" placeholder="请选择" style="width: 100%" disabled>
                  <el-option
                    v-for="(item,index) in game_match_type_list"
                    :key="index"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8" :offset="0">
              <el-form-item label="赛制局数" prop="number_of_games">
                <el-select v-model="core_data.number_of_games" placeholder="请选择" style="width: 100%" disabled>
                  <el-option label="1" value="1" />
                  <el-option label="2" value="2" />
                  <el-option label="3" value="3" />
                  <el-option label="4" value="4" />
                  <el-option label="5" value="5" />
                  <el-option label="6" value="6" />
                  <el-option label="7" value="7" />
                  <el-option label="8" value="8" />
                  <el-option label="9" value="9" />
                  <el-option label="10" value="10" />
                  <el-option label="11" value="11" />
                  <el-option label="12" value="12" />
                  <el-option label="13" value="13" />
                  <el-option label="14" value="14" />
                  <el-option label="15" value="15" />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8" :offset="0">
              <el-form-item label="所属赛事">
                <el-select
                  v-model="core_data.tournament_id"
                  filterable
                  placeholder="请选择(可搜索)"
                  style="width: 100%"
                  disabled
                >
                  <el-option
                    v-for="item in gameinfo"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8" :offset="0">
              <el-form-item label="所属分组">
                <el-cascader
                  v-model="core_data.relation"
                  :options="options"
                  :show-all-levels="false"
                  style="width: 100%"
                  clearable
                  disabled
                />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8" :offset="0">
              <el-form-item label="计划开始时间">
                <el-date-picker
                  v-model="core_data.scheduled_begin_at"
                  type="datetime"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  placeholder="选择日期时间"
                  style="width: 100%"
                  disabled
                />
              </el-form-item>
            </el-col>
            <el-col :span="8" :offset="0">
              <el-form-item label="原计划开始时间" prop="original_scheduled_begin_at">
                <el-date-picker
                  v-model="core_data.original_scheduled_begin_at"
                  type="datetime"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  placeholder="选择日期时间"
                  style="width: 100%"
                  disabled
                />
              </el-form-item>
            </el-col>
            <el-col :span="8" :offset="0">
              <el-form-item label="是否调整了时间表" prop="is_rescheduled">
                <el-select v-model="core_data.is_rescheduled" placeholder="请选择" style="width: 100%" disabled>
                  <el-option label="是" value="1" />
                  <el-option label="否" value="2" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg">
            <el-col :span="8" :offset="0">
              <el-form-item label="主队" prop="team_1_id">
                <el-select v-model="core_data.team_1_id" placeholder="请选择主队" style="width: 100%" disabled>
                  <el-option
                    v-for="(item,index) in get_search_teaminfo"
                    :key="index"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8" :offset="0">
              <el-form-item label="客队" prop="team_2_id">
                <el-select v-model="core_data.team_2_id" placeholder="请选择客队" style="width: 100%" disabled><el-option
                  v-for="(item,index) in get_search_teaminfo"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8" :offset="0">
              <el-form-item label="Slug" prop="slug">
                <el-input v-model="core_data.slug" disabled />
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
        <el-row style="margin-top: 22px;padding:0 20px;">
          <el-col :span="8" ::offset="0">
            <el-form-item label=" " prop="prefect_logo">
              <el-checkbox v-model="form.prefect_logo" @change="onInfo">信息完善标识</el-checkbox>
            </el-form-item>
          </el-col>
          <el-col :span="8" ::offset="0">
            <el-form-item label="时区" prop="timezone">
              <el-select v-model="form.timezone" style="width: 100%">
                <el-option label="UTC" value="0" />
                <el-option label="UTC+1" value="1" />
                <el-option label="UTC+2" value="2" />
                <el-option label="UTC+3" value="3" />
                <el-option label="UTC+4" value="4" />
                <el-option label="UTC+5" value="5" />
                <el-option label="UTC+6" value="6" />
                <el-option label="UTC+7" value="7" />
                <el-option label="UTC+8" value="8" />
                <el-option label="UTC+9" value="9" />
                <el-option label="UTC+10" value="10" />
                <el-option label="UTC+11" value="11" />
                <el-option label="UTC+12" value="12" />
                <el-option label="UTC-1" value="-1" />
                <el-option label="UTC-2" value="-2" />
                <el-option label="UTC-3" value="-3" />
                <el-option label="UTC-4" value="-4" />
                <el-option label="UTC-5" value="-5" />
                <el-option label="UTC-6" value="-6" />
                <el-option label="UTC-7" value="-7" />
                <el-option label="UTC-8" value="-8" />
                <el-option label="UTC-9" value="-9" />
                <el-option label="UTC-10" value="-10" />
                <el-option label="UTC-11" value="-11" />
                <el-option label="UTC-12" value="-12" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row type="flex" class="row-bg" style="padding:0 20px;">
          <el-col :span="8" :offset="0">
            <el-form-item label="日志类别" prop="log_type">
              <el-select v-model="form.log_type" placeholder="请选择" style="width: 100%">
                <el-option label="5E Play" value="1" />
                <el-option label="UCC" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="主队日志名称" prop="team_1_log_name">
              <el-input v-model="form.team_1_log_name" style="width: 100%" />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="客队日志名称" prop="team_2_log_name">
              <el-input v-model="form.team_2_log_name" style="width: 100%" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-for="(item,index) in form.service_list" :key="index" style="padding:0 20px">
          <el-col v-if="index != form.service_list.length-1" :span="8">
            <el-form-item label="服务器IP" :prop="`service_list.${index}.service_ip`" :rules="rules2.service_ip">
              <el-input v-model="item.service_ip" style="width: 100%" />
            </el-form-item>
          </el-col>
          <el-col v-if="index === form.service_list.length-1" :span="8">
            <el-form-item label="最新服务器IP" :prop="`service_list.${index}.service_ip`" :rules="rules2.service_ip">
              <el-input v-model="item.service_ip" style="width: 100%" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="IP1日志开始">
              <el-date-picker
                v-model="item.refresh_start_time"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                placeholder="选择日期时间"
                style="width: 100%"
              />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="IP1日志结束">
              <el-date-picker
                v-model="item.refresh_end_time"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                placeholder="选择日期时间"
                style="width: 100%"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row style="margin-bottom: 20px">
          <el-col :span="2" :offset="21" style="text-align: right">
            <el-button type="text" @click="onSubAdd">添加最新服务器IP</el-button>
          </el-col>
          <el-col :span="1" style="text-align: right;padding: 0 20px">
            <el-button v-if="form.service_list&&form.service_list.length >1" type="text" @click="onSubDel">删除</el-button>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <el-col :span="2" :offset="11">
            <el-button type="primary" @click="onSubmit('form')">确认编辑</el-button>
          </el-col>
          <el-col :span="2" :offset="9">
            <el-button type="primary" @click="onSubmit1('form')">重抓</el-button>
          </el-col>
        </el-row>
      </el-form>
    </el-card>
  </div>
</template>
<script>
import { get_tournament, get_stage, get_group, get_match_detail, get_sort_match_list, sortlog_info, get_sortlog_edit, get_log_info, update_prefect_logo, do_refresh } from '@/api/match'
import { tournamentTree, get_tournament_team } from '@/api/tournament'
import { get_enums } from '@/api/common'
import { mapGetters } from 'vuex'
Vue.use(JsonViewer)
import Vue from 'vue'
import JsonViewer from 'vue-json-viewer'
export default {
  name: 'Edit',
  data() {
    return {

      res: {
        prefect_logo: '',
        refresh_time: ''
      },
      log_info: {},
      dialogVisible: false,
      is_info: '',
      form: {
        prefect_logo: '',
        service_list: [
          { service_ip: '', refresh_start_time: '', refresh_end_time: '' }
        ],
        'game': '',
        'tournament_id': '',
        match_id: '',
        relation: '',
        log_type: '',
        team_1_log_name: '',
        team_2_log_name: '',
        service_ip: '',
        sleeps: '',
        timezone: '0'
      },
      match_list: [],
      game_match_type_list: [],
      all_game_match_type_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      game_rules_list: [],
      all_rules_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      activeName: '0',
      updateInfo: {
        core_data: {},
        base_data: {},
        team_player_relation: {}
      },
      'core_data': {
        'game': '',
        'tournament_id': '',
        'match_rule_id': '',
        'son_tournament_id': '',
        'stage_id': '',
        'group_id': '',
        'team_1_id': '',
        'team_2_id': '',
        'game_rules': '',
        'match_type': '',
        'number_of_games': '',
        'original_scheduled_begin_at': '',
        'scheduled_begin_at': '',
        'slug': '',
        'is_rescheduled': '',
        'relation': '',
        'deleted': '',
        'cuser': '',
        'created_at': '',
        'modified_at': '',
        'deleted_at': ''
      },
      isSlug1: 0,
      isSlug2: 0,
      isSlug3: 0,
      binding_info: {
        standard_id1: '',
        standard_id2: '',
        standard_id3: ''
      },
      isInt: 1,
      options: [
        { id: '',
          value: '空',
          type: '空',
          parent_id: '空',
          label: '空'
        }
      ],
      req: {},
      get_search_teaminfo: [],
      get_group_info: [],
      get_stage_info: [],
      game_son_info: [],
      gameinfo: [],
      textarea: '',
      rules: {
        match_id: [
          { required: true, message: '请选择比赛', trigger: 'change' }
        ],
        game: [
          { required: true, message: '请选择游戏项目', trigger: 'change' }
        ],
        tournament_id: [
          { required: true, message: '请选择所属赛事', trigger: 'change' }
        ],
        log_type: [
          { required: true, message: '请选择日志类别', trigger: 'change' }
        ],
        team_1_log_name: [
          { required: true, message: '请输入主队日志名称', trigger: 'change' }
        ],
        team_2_log_name: [
          { required: true, message: '请输入客队日志名称', trigger: 'change' }
        ],
        sleeps: [
          { required: true, message: '请输入延迟时间', trigger: 'change' }
        ],
        timezone: [
          { required: true, message: '请选择时区', trigger: 'change' }
        ],
        prefect_logo: [
          { required: true, message: '请勾选信息完善标识', trigger: 'change' }
        ]
        // scheduled_begin_at: [
        //   { required: true, message: '请选择计划开始时间', trigger: 'change' }
        // ]
      },
      rules1: {
        refresh_time: [
          { required: true, message: '请选择重刷启动时间', trigger: 'change' }
        ]

      },
      rules2: {
        service_ip: [
          { required: true, message: '请输入服务器IP', trigger: 'change' }
        ]
      }
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  watch: {
    'form.game': {
      handler() {
        if (!this.is_info) {
          this.form.match_id = ''
          this.form.tournament_id = ''
          this.form.relation = ''
          this.options = [
            { id: '',
              value: '空',
              type: '空',
              parent_id: '空',
              label: '空'
            }
          ]
        }
        this.gamelist()
      }
    },
    'form.tournament_id': {
      handler() {
        if (!this.is_info) {
          this.form.match_id = ''
          this.form.relation = ''
        }
        if (this.form.tournament_id) {
          this.game_son_list()
          if (!this.form.relation) {
            this.get_match_list()
          }
        }
      }
    },
    'form.relation': {
      handler() {
        if (!this.is_info) {
          this.form.match_id = ''
        }
        if (this.form.relation) {
          this.get_match_list()
        }
      }
    },
    'form.match_id': {
      handler() {
        if (!this.is_info) {
          this.core_data = {
            'game': '',
            'tournament_id': '',
            'match_rule_id': '',
            'son_tournament_id': '',
            'stage_id': '',
            'group_id': '',
            'team_1_id': '',
            'team_2_id': '',
            'game_rules': '',
            'match_type': '',
            'number_of_games': '',
            'original_scheduled_begin_at': '',
            'scheduled_begin_at': '',
            'slug': '',
            'is_rescheduled': '',
            'relation': '',
            'deleted': '',
            'cuser': '',
            'created_at': '',
            'modified_at': '',
            'deleted_at': ''
          }
          if (this.form.match_id) {
            this.getinfo()
          }
        } else {
          this.is_info = 0
        }
      }
    },
    'core_data.tournament_id': {
      handler() {
        if (this.core_data.tournament_id) {
          this.get_tournament_team_list()
        }
      }
    },
    dialogVisible() {
      if (this.dialogVisible === true) {
        this.get_log_info_list()
      }
    }
  },
  mounted() {
    this.is_info = 1
    this.get_game_match_type_list()
    this.get_game_rules()
    this.getinfo()
    this.get_sortlog_info()
  },
  methods: {
    onSubAdd() {
      var id = this.form.service_list.length
      var tmp = { service_ip: '', refresh_start_time: '', refresh_end_time: '' }
      this.form.service_list.splice(id + 1, 0, tmp)
    },
    onSubDel(id) {
      this.form.service_list.splice(-1, 1)
    },
    onInfo() {
      if (this.form.prefect_logo === false) {
        this.form.prefect_logo = ''
      }
      if (this.form.prefect_logo === true) {
        const params = {}
        params['match_id'] = this.$route.query.match_id
        params['prefect_logo'] = '1'
        update_prefect_logo(params).then(req => {
          this.$message({
            type: 'success',
            message: '成功！'
          })
        }).catch(() => {
          this.form.prefect_logo = ''
          this.$message({
            type: 'error',
            message: '失败！'
          })
        })
      }
    },
    onSubmit1(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          params['match_id'] = this.$route.query.match_id
          params['prefect_logo'] = '1'
          params['ip_arr'] = this.form.service_list
          do_refresh(params).then(req => {
            this.$message({
              type: 'success',
              message: '重抓成功！'
            })
          }).catch(() => {
            this.$message({
              type: 'error',
              message: '重抓失败！'
            })
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    },
    get_log_info_list() {
      const params = {}
      params['sorting_log_id'] = this.$route.query.id
      get_log_info(params).then(req => {
        this.log_info = req.data
        // this.log_info.result.forEach(item => {
        //   var tmp = Object.values(item)[0].els_teams
        //   item.tmp_playes = this.get_players(tmp)
        // })
      })
    },
    // get_players(tmp) {
    //   var tmp1 = Object.values(tmp)[0]
    //   var tmp2 = []
    //   for (var i in tmp1) {
    //     var tmp3 = tmp1[i]
    //     tmp2.push(tmp3)
    //   }
    //   console.log('tmp')
    //   console.log(tmp2)
    //   return tmp2
    // },
    get_match_list() {
      const params = {}
      if (this.form.relation && this.form.relation.length > 1) {
        params['group_id'] = this.form.relation[this.form.relation.length - 1]
      } else {
        params['tournament_id'] = this.form.tournament_id
      }
      get_sort_match_list(params).then(req => {
        this.match_list = req.data
      })
    },
    get_game_rules() {
      const params = {}
      params['type'] = 'game_rules'
      get_enums(params).then(req => {
        this.game_rules_list = req.data
        // this.game_rules_list['0'] = this.all_rules_list
      })
    },
    get_game_match_type_list() {
      const params = {}
      params['type'] = 'game_match_type'
      get_enums(params).then(req => {
        this.game_match_type_list = req.data
        // this.game_match_type_list['0'] = this.all_game_match_type_list
      })
    },
    get_tournament_team_list() {
      const params = {}
      params['id'] = this.core_data.tournament_id
      params['type'] = 'son_tournament'
      get_tournament_team(params).then(req => {
        var tmp = req.data
        this.get_search_teaminfo = [{ name: 'TBD', id: '-1' }]
        this.get_search_teaminfo.push.apply(this.get_search_teaminfo, tmp)
      })
    },
    getinfo() {
      const params = {}
      if (this.is_info) {
        params['id'] = this.$route.query.match_id
      } else {
        params['id'] = this.form.match_id
      }
      get_match_detail(params).then(req => {
        if (this.is_info) {
          this.form.game = req.data.core_data.game
          this.form.tournament_id = req.data.core_data.tournament_id
          if (req.data.core_data.relation) {
            this.form.relation = JSON.parse(req.data.core_data.relation)
          }
          this.form.match_id = this.$route.query.match_id
          this.core_data = req.data.core_data
          if (req.data.core_data.relation) {
            this.core_data.relation = JSON.parse(req.data.core_data.relation)
          }
        } else {
          this.core_data = req.data.core_data
          if (req.data.core_data.relation) {
            this.core_data.relation = JSON.parse(req.data.core_data.relation)
          }
        }
      })
    },
    get_sortlog_info() {
      const params = {}
      params['log_id'] = this.$route.query.id
      sortlog_info(params).then(req => {
        if (req.data.refresh_time) {
          this.res.refresh_time = req.data.refresh_time
        }
        if (req.data.prefect_logo == '1') {
          this.form.prefect_logo = true
        } else {
          this.form.prefect_logo = false
        }
        this.form.log_type = this.$yangJian.tmp_toString(req.data.log_type)
        this.form.team_1_log_name = req.data.team_1_log_name
        this.form.team_2_log_name = req.data.team_2_log_name
        if (req.data.service_ip) {
          this.form.service_list = JSON.parse(req.data.service_ip)
        }
        this.form.sleeps = req.data.sleeps
        this.form.timezone = '' + req.data.timezone
      })
    },
    game_group_list() {
      const params = {}
      params['tournament_id'] = this.form.tournament_id
      get_group(params).then(req => {
        this.get_group_info = req.data.list
      })
    },
    game_stage_list() {
      const params = {}
      params['tournament_id'] = this.form.tournament_id
      get_stage(params).then(req => {
        this.get_stage_info = req.data.list
      })
    },
    game_son_list() {
      const params = {}
      params['id'] = this.form.tournament_id
      params['type'] = 'only_group'
      tournamentTree(params).then(req => {
        if (req.data && req.data.length > 0) {
          var obj = req.data
          var m = {}
          for (var i in obj) {
            m = obj[i]
          }
          function conver(m) {
            const tmp = {
              id: m.id,
              value: m.primary_key,
              type: m.type,
              parent_id: m.parent_id,
              label: kk(m)
            }
            if (m.son) {
              tmp.children = []
              for (var i in m.son) {
                tmp.children.push(conver(m.son[i]))
              }
            }
            function kk(m) {
              if (m.type === '1') {
                return '赛事：' + m.tree_name
              }
              if (m.type === '2') {
                return '子赛事：' + m.tree_name
              }
              if (m.type === '3') {
                return '阶段：' + m.tree_name
              }
              if (m.type === '4') {
                return '分组：' + m.tree_name
              }
              if (m.type === '5') {
                return '目录：' + m.tree_name
              }
            }
            return tmp
          }
          var options = [conver(m)]
          this.options.push(options[0])
        }
      })
    },
    gamelist() {
      const params = {}
      params['game_id'] = this.form.game
      get_tournament(params).then(req => {
        this.gameinfo = req.data.list
      })
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          params['log_id'] = this.$route.query.id
          params['match_id'] = this.form.match_id
          params['log_type'] = this.form.log_type
          params['team_1_log_name'] = this.form.team_1_log_name
          params['team_2_log_name'] = this.form.team_2_log_name
          params['ip_arr'] = this.form.service_list
          params['sleeps'] = this.form.sleeps
          params['timezone'] = this.form.timezone
          // params['scheduled_begin_at'] = this.form.scheduled_begin_at
          get_sortlog_edit(params).then(req => {
            this.$message({
              type: 'success',
              message: '编辑成功！'
            })
            this.$router.push('/gamecenter/match/matchinfo/manageLog/list')
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
  .upDate{
    font-weight: bold;
    color:#606266;
    font-size: 14px
  }
</style>
