<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>日志分拣管理</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="req" :inline="true" label-width="100px" size="mini">
        <el-row>
          <el-col :span="6">
            <el-form-item label="游戏项目:">
              <el-select v-model="req.game_id" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in allgames"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="状态:">
              <el-select v-model="req.status" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in match_state_list"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="比赛规则:">
              <el-select v-model="req.game_rules" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in game_rules_list"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="比赛类型:">
              <el-select v-model="req.match_type" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in game_match_type_list"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="计划时间:">
              <el-date-picker
                v-model="req.timeAreaBegin"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="赛事名称:">
              <el-input v-model="req.name" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="分组名称:">
              <el-input v-model="req.group_name" style="width: 220px" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="变更时间:">
              <el-date-picker
                v-model="req.timeAreaEnd"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="参赛战队:">
              <el-input v-model="req.team_name" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="ELS ID:">
              <el-input v-model="req.id" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="4" :offset="2">
            <el-form-item>
              <el-button type="primary" @click="findInfo">搜索</el-button>
              <el-button type="primary" style="margin-left: 50px" @click="getadd">新建</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-table
        :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'14px',height:'40px',textAlign:'center'}"
        :cell-style="{textAlign:'center',padding:'3px'}"
        :data="tableData"
        :cell-class-name="delLine"
        :row-class-name="tableRowClassName"
        :style="{'width':'100%'}"
      >
        <el-table-column prop="id" :label="'ID'" />
        <el-table-column prop="match_id" :label="'ELS\n比赛ID'" />
        <el-table-column prop="logo" :label="'游戏\n项目'">
          <template slot-scope="scope">
            <img :src="scope.row.logo" style="width: 20px;height: 20px">
          </template>
        </el-table-column>
        <el-table-column prop="name" label="赛事名称" />
        <el-table-column prop="group_name" label="分组名称" />
        <el-table-column prop="game_rules" label="比赛规则">
          <!--          <template slot-scope="scope">-->
          <!--            <p>{{ scope.row.game_rules? game_rules_list[scope.row.game_rules].name : '' }}</p>-->
          <!--          </template>-->
        </el-table-column>
        <el-table-column prop="match_type" label="比赛类型">
          <!--          <template slot-scope="scope">-->
          <!--            <p>{{ scope.row.match_type? game_match_type_list[scope.row.match_type].name : '' }}</p>-->
          <!--          </template>-->
        </el-table-column>
        <el-table-column prop="number_of_games" label="赛制局数" />
        <el-table-column prop="main_logo" label="主队图标">
          <template slot-scope="scope">
            <img v-if="scope.row.main_logo" :src="scope.row.main_logo" style="width: 66px;height: 66px">
            <img v-else src="../../../../../assets/img/WechatIMG31.png" style="width: 66px;height: 66px">
          </template>
        </el-table-column>
        <el-table-column prop="main_team_name" label="主队">
          <template slot-scope="scope">
            <p>{{ scope.row.team_1_id == -1? 'TBD' : scope.row.main_team_name }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="other_logo" label="客队图标">
          <template slot-scope="scope">
            <img v-if="scope.row.other_logo" :src="scope.row.other_logo" style="width: 66px;height: 66px">
            <img v-else src="../../../../../assets/img/WechatIMG31.png" style="width: 66px;height: 66px">
          </template>
        </el-table-column>
        <el-table-column prop="other_team_name" label="客队">
          <template slot-scope="scope">
            <p>{{ scope.row.team_2_id == -1? 'TBD' : scope.row.other_team_name }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="scheduled_begin_at" :label="'计划\n开始日期'" width="100px" />
        <el-table-column prop="status" label="状态">
          <template slot-scope="scope">
            <p>{{ scope.row.status? match_state_list[scope.row.status].name : '' }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="log_type" :label="'日志类型'">
          <template slot-scope="scope">
            <p v-if="scope.row.log_type == '1'">5E Play</p>
            <p v-if="scope.row.log_type == '2'">UCC</p>
          </template>
        </el-table-column>
        <el-table-column prop="team_1_log_name" :label="'主队日志名称'" />
        <el-table-column prop="team_2_log_name" :label="'客队日志名称'" />
        <el-table-column prop="service_ip" :label="'服务器IP'" width="250px" />
        <el-table-column prop="timezone" :label="'时区'">
          <template slot-scope="scope">
            <p v-if="scope.row.timezone == '0'">UTC</p>
            <p v-if="scope.row.timezone == '1'">UTC+1</p>
            <p v-if="scope.row.timezone == '2'">UTC+2</p>
            <p v-if="scope.row.timezone == '3'">UTC+3</p>
            <p v-if="scope.row.timezone == '4'">UTC+4</p>
            <p v-if="scope.row.timezone == '5'">UTC+5</p>
            <p v-if="scope.row.timezone == '6'">UTC+6</p>
            <p v-if="scope.row.timezone == '7'">UTC+7</p>
            <p v-if="scope.row.timezone == '8'">UTC+8</p>
            <p v-if="scope.row.timezone == '9'">UTC+9</p>
            <p v-if="scope.row.timezone == '10'">UTC+10</p>
            <p v-if="scope.row.timezone == '11'">UTC+11</p>
            <p v-if="scope.row.timezone == '12'">UTC+12</p>
            <p v-if="scope.row.timezone == '-1'">UTC-1</p>
            <p v-if="scope.row.timezone == '-2'">UTC-2</p>
            <p v-if="scope.row.timezone == '-3'">UTC-3</p>
            <p v-if="scope.row.timezone == '-4'">UTC-4</p>
            <p v-if="scope.row.timezone == '-5'">UTC-5</p>
            <p v-if="scope.row.timezone == '-6'">UTC-6</p>
            <p v-if="scope.row.timezone == '-7'">UTC-7</p>
            <p v-if="scope.row.timezone == '-8'">UTC-8</p>
            <p v-if="scope.row.timezone == '-9'">UTC-9</p>
            <p v-if="scope.row.timezone == '-10'">UTC-10</p>
            <p v-if="scope.row.timezone == '-11'">UTC-11</p>
            <p v-if="scope.row.timezone == '-12'">UTC-12</p>
          </template>
        </el-table-column>
        <el-table-column prop="created_at" label="创建时间" width="100px" />
        <el-table-column prop="modified_at" label="变更时间" width="100px" />
        <el-table-column fixed="right" label="操作">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="getedit(scope.row.id,scope.row.match_id)">编辑</el-button>
            <!--            <el-button type="text" size="small" @click="getwrite(scope.row)">录入</el-button>-->
            <template v-if="scope.row.flag == 2">
              <el-button type="text" size="small" style="color: coral" @click="getDel(scope.row.id)">删除</el-button>
            </template>
            <template v-if="scope.row.flag == 1">
              <el-button type="text" size="small" style="color: green" @click="getReset(scope.row.id)">恢复</el-button>
            </template>
            <el-button type="text" size="small" @click="getInfo(scope.row.match_id)">比赛数据</el-button>
            <!--            <el-button type="text" size="small" @click="getUp(scope.row)">更新设置</el-button>-->
          </template>
        </el-table-column>
        <el-table-column prop="job_status_name" label="操作记录">
          <template slot-scope="scope">
            <span v-if="scope.row.operation">({{ scope.row.operation.count }})</span>
            <span v-if="!scope.row.operation">(0)</span>
            <el-button v-if="scope.row.operation" type="text" size="small" @click="getHistory(scope.row.operation.resource_id,scope.row.operation.resource_type )">操作记录</el-button>
            <el-button v-if="!scope.row.operation" type="text" size="small">操作记录</el-button>
          </template>
        </el-table-column>
      </el-table>

      <div class="over">
        <el-pagination
          class="pager"
          background
          layout="prev, pager, next"
          :total="total"
          :current-page="req.page"
          :page-size="req.per_page"
          @current-change="changePager"
        />
      </div>
    </el-card>
  </div>
</template>
<script>
import { get_sortlog_list, get_sortlog_delete } from '@/api/match'
import { mapGetters } from 'vuex'
import { resource_config_detail, resource_config_edit } from '@/api/data'
import { get_enums } from '@/api/common'
export default {
  name: 'List',
  data() {
    return {
      match_state_list: [],
      all_match_state_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      game_match_type_list: [],
      all_game_match_type_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      game_rules_list: [],
      all_rules_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      config_info: {
        config: {
          'match.score_data': {
            origin_id: '',
            update_type: ''
          },
          'match.update_data': {
            origin_id: '',
            update_type: ''
          }
        },
        game: {}
      },
      matchInfo: '',
      dialogVisible: false,
      total: 20,
      tableData: [],
      form: {},
      req: {
        match_type: '',
        game_rules: '',
        id: '',
        game_id: '',
        timeAreaBegin: [],
        timeAreaEnd: [],
        status: '',
        team_name: '',
        name: '',
        group_name: '',
        page: 1,
        per_page: 10
      },
      options: [],
      value: ''
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  mounted() {
    this.get_game_match_type_list()
    this.get_game_rules()
    this.get_match_state()
    this.finddata()
  },
  methods: {
    getInfo(id) {
      this.$router.push({ path: '/gamecenter/match/matchinfo/csgo_info/list', query: { id: id }})
    },
    tableRowClassName({ row, rowIndex }) {
      if (row.flag === '1') {
        return 'success-row'
      }
    },
    delLine({ row, rowIndex }) {
      if (row.flag === '1') {
        return 'del_line'
      }
    },
    get_match_state() {
      const params = {}
      params['type'] = 'match_state'
      get_enums(params).then(req => {
        this.match_state_list = req.data
        this.match_state_list['0'] = this.all_match_state_list
      })
    },
    get_game_rules() {
      const params = {}
      params['type'] = 'game_rules'
      get_enums(params).then(req => {
        this.game_rules_list = req.data
        this.game_rules_list['0'] = this.all_rules_list
      })
    },
    get_game_match_type_list() {
      const params = {}
      params['type'] = 'game_match_type'
      get_enums(params).then(req => {
        this.game_match_type_list = req.data
        this.game_match_type_list['0'] = this.all_game_match_type_list
      })
    },
    onSubmit() {
      const params = {}
      params['resource_type'] = 'match'
      params['resource_id'] = this.matchInfo.id
      params['config'] = this.config_info
      resource_config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
      })
      this.dialogVisible = false
    },
    getUp(info) {
      this.dialogVisible = true
      this.matchInfo = info
      const params = {}
      params['resource_type'] = 'match'
      params['resource_id'] = info.id
      resource_config_detail(params).then(req => {
        if (req.data.config) {
          this.config_info = req.data
        }
      })
    },
    getHistory(id, type) {
      this.$router.push({ path: '/gamecenter/update/updateTemplate/operation', query: { id: id, type: type }})
    },
    getedit(id, match_id) {
      this.$router.push({ path: '/gamecenter/match/matchinfo/manageLog/edit', query: { id: id, match_id: match_id }})
    },
    getwrite(data) {
      console.log('getwrite')
      console.log(data)
      console.log(data.game_id)

      if (data.game === '2') {
        this.$router.push({ path: '/gamecenter/match/matchinfo/write/yxinfo', query: { game_id: data.game_id, match_id: data.match_id }})
      } else {
        if (data.game === '3') {
          this.$router.push({ path: '/gamecenter/match/matchinfo/write/dtinfo', query: { game_id: data.game_id, match_id: data.match_id }})
        } else {
          this.$router.push({ path: '/gamecenter/match/matchinfo/write/info', query: { game_id: data.game_id, match_id: data.match_id }})
        }
      }
    },
    getReset(id) {
      this.$confirm('确认恢复？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['log_id'] = id
        params['flag'] = 2
        get_sortlog_delete(params).then(req => {
          this.finddata()
          this.$message({
            type: 'success',
            message: '恢复成功！'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    getDel(id) {
      this.$confirm('确认删除？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['log_id'] = id
        params['flag'] = 1
        get_sortlog_delete(params).then(req => {
          this.finddata()
          this.$message({
            type: 'success',
            message: '删除成功！'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    getadd() {
      this.$router.push({ path: '/gamecenter/match/matchinfo/manageLog/add' })
    },
    findInfo() {
      this.req.page = 1
      this.finddata()
    },
    finddata() {
      const params = {}
      params['match_type'] = this.req.match_type
      params['id'] = this.req.id
      params['game_id'] = this.req.game_id
      params['game_rules'] = this.req.game_rules
      params['group_name'] = this.req.group_name
      if (this.req.timeAreaBegin) {
        params['scheduled_begin_at'] = this.req.timeAreaBegin[0]
        params['scheduled_end_at'] = this.req.timeAreaBegin[1]
      }
      if (this.req.timeAreaEnd) {
        params['date_begin'] = this.req.timeAreaEnd[0]
        params['date_end'] = this.req.timeAreaEnd[1]
      }
      params['team_name'] = this.req.team_name
      params['name'] = this.req.name
      params['status'] = this.req.status
      params['page'] = this.req.page
      params['per_page'] = this.req.per_page
      get_sortlog_list(params).then(req => {
        this.tableData = req.data.list
        this.total = 1 * req.data.total
      })
    },
    changePager(pageId) {
      this.req.page = pageId
      this.finddata()
    }
  }
}
</script>

<style scoped>
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
</style>
