<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>数据转换详情</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="req" :inline="true" label-width="100px" size="mini">
        <el-row :gutter="20">
          <el-col :span="12">
            <el-card shadow="never">
              <p>转化前数据：</p>
              <json-viewer :value="resourceTypeList.info_rest" />
            </el-card>
          </el-col>
          <el-col :span="12">
            <el-card shadow="never">
              <p>转化后数据：</p>
              <json-viewer :value="resourceTypeList.info_format" />
            </el-card>
          </el-col>
        </el-row>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
Vue.use(JsonViewer)
import Vue from 'vue'
import JsonViewer from 'vue-json-viewer'
import { task_contrast_match } from '@/api/match'
export default {
  name: 'NormData',
  data() {
    return {
      resourceTypeList: {},
      contrast_info: '',
      req: {
        origin_type: '',
        resource_type: '',
        game_type: '',
        rel_id: ''
      }
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  mounted() {
    this.get_resource_type_info()
  },
  methods: {
    get_resource_type_info() {
      const params = {}
      params['match_id'] = this.$route.query.id
      task_contrast_match(params).then(req => {
        this.resourceTypeList = req.data
      })
    }
  }
}
</script>

<style scoped>

</style>
