<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>新建俱乐部</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form ref="form" :rules="rules" :model="form" label-width="120px">
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="名称" prop="name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="国家地区">
              <el-select v-model="form.country" filterable placeholder="请选择" style="width: 100%">
                <el-option
                  v-for="(item,index) in all"
                  :key="index"
                  :label="item.e_name + ' '+'('+item.name+')'"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="全称">
              <el-input v-model="form.full_name" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="简称">
              <el-input v-model="form.short_name" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="别名">
              <el-input v-model="form.alias" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="Slug" prop="slug">
              <el-input v-model="form.slug" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="图标" prop="image">
              <el-upload
                class="avatar-uploader"
                :action="getUploadUrl()"
                :on-success="uploads"
                :before-upload="beforeAvatarUpload"
              >
                <img v-if="form.image" style="width: 200px;height: 200px;border-radius: 0px;" :src="form.image" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon" />
              </el-upload>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="简介（英文）">
              <el-input
                v-model="form.introduction"
                type="textarea"
                :rows="4"
                maxlength="1000"
                show-word-limit
              />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="简介（中文）">
              <el-input
                v-model="form.introduction_cn"
                type="textarea"
                :rows="4"
                maxlength="1000"
                show-word-limit
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <div style="padding-top: 45px;text-align: center">
            <el-button type="primary" @click="onSubmit('form')">确认创建</el-button>
          </div>
        </el-row>
      </el-form>

    </el-card>
  </div>
</template>
<script>
import { clanAdd, get_country } from '../../../api/clan'
import { getUploadBaseApi } from '@/api/file.js'
export default {
  data() {
    return {
      all: [{ 'id': '', 'name': '空', 'e_name': 'null' }],
      country: [],
      textarea: '',
      form: {
        name: '',
        full_name: '',
        short_name: '',
        alias: '',
        slug: '',
        country: '',
        introduction: '',
        introduction_cn: '',
        image: ''
      },
      rules: {
        name: [
          { required: true, message: '请输入俱乐部名称', trigger: 'blur' }
        ],
        image: [
          { required: true, message: '请上传图标', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    'form.name': {
      handler: function() {
        this.form.slug = this.$yangJian.slug_rule(this.form.name)
      }
    }
  },
  mounted() {
    this.infoCountry()
  },
  methods: {
    beforeAvatarUpload(file) {
      console.log('file')
      console.log(file)
      const testmsg = file.type === 'image/png'
      // var testmsg = /^image\/(svg\+xml|png)$/.test(file.type)
      const isLt1M = file.size / 1024 / 1024 < 1
      if (!testmsg) {
        this.$message.error('只能上传PNG格式!')
        return false
      }
      if (!isLt1M) {
        this.$message({
          message: '上传图标大小不能超过 1MB!',
          type: 'error'
        })
        return false
      }
      return testmsg || isLt1M
    },
    infoCountry() {
      const params = {}
      get_country(params).then(req => {
        this.country = req.data
        this.all.push.apply(this.all, this.country)
      })
    },
    uploads(res, file) {
      this.form.image = res.data.url
      console.log(res)
      // console.log(file)
    },
    getUploadUrl() {
      return getUploadBaseApi()
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        console.log('valid')
        console.log(formName)
        if (valid) {
          const params = {}
          params['name'] = this.form.name
          params['full_name'] = this.form.full_name
          params['short_name'] = this.form.short_name
          params['alias'] = this.form.alias
          params['slug'] = this.form.slug
          params['country'] = this.form.country
          params['introduction'] = this.form.introduction
          params['introduction_cn'] = this.form.introduction_cn
          params['image'] = this.form.image
          clanAdd(params).then(req => {
            this.$message({
              type: 'success',
              message: '添加成功！'
            })
            this.$router.push('/gamecenter/clan/clublist')
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    },
    handleRemove(file, fileList) {
      console.log(file, fileList)
    },
    handlePreview(file) {
      console.log(file)
    }
  }
}
</script>

<style scoped>

</style>
