<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>俱乐部管理</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="req" :inline="true" label-width="100px" size="mini">
        <el-row>
          <el-col :span="6">
            <el-form-item label="游戏项目:">
              <el-select v-model="req.games" style="width:220px" placeholder="请选择">
                <el-option
                  v-for="(item,index) in allgames"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="国家地区:">
              <el-select v-model="req.country" filterable placeholder="请选择" style="width:220px">
                <el-option
                  v-for="(item,index) in allcountry"
                  :key="index"
                  :label="item.e_name + ' '+'('+item.name+')'"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="变更时间:">
              <el-date-picker
                v-model="req.timeArea"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="名称:">
              <el-input v-model="req.name" style="width:220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="ELS ID:">
              <el-input v-model="req.id" style="width:220px" type="number"/>
            </el-form-item>
          </el-col>
          <el-col :span="3" :offset="3">
            <el-form-item>
              <el-button type="primary" @click="findInfo">搜 索</el-button>
              <el-button type="primary" @click="newjob">新 建</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-table
        :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'14spx',height:'40px',textAlign:'center'}"
        :cell-style="{textAlign:'center',padding:'3px'}"
        :data="tableData"
        :cell-class-name="delLine"
        :row-class-name="tableRowClassName"
        :style="{'width':'100%'}"
      >
        <el-table-column prop="id" :label="'ELS\n俱乐部ID'" />
        <el-table-column prop="name" label="名称">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.name }}</p>
          </template>
        </el-table-column>
        <el-table-column label="图标">
          <template slot-scope="scope">
            <img :src="scope.row.image" style="width: 66px;height: 66px">
          </template>
        </el-table-column>
        <el-table-column prop="country_name" label="国家地区" />
        <el-table-column :label="'游戏\n项目'" width="160px">
          <template slot-scope="scope">
            <div v-if="scope.row.game_logo">
              <img v-for="(item,index) in scope.row.game_logo" :key="index" :src="item" style="width: 22px;height: 20px; padding-left: 2px">
            </div>
            <!--            <img v-if="scope.row.game_logo == ''" :src="games[1 * scope.row.game].logo" style="width: 42px;height: 40px; padding-left: 2px">-->
          </template>
        </el-table-column>
        <el-table-column prop="team_num" :label="'下属战队\n数量'" />
        <el-table-column prop="created_at" label="创建时间" width="100px" />
        <el-table-column prop="modified_at" label="变更时间" width="100px" />
        <el-table-column v-if="$hasAuth('platform|partTimeJob|write')" fixed="right" label="操作">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="getedit(scope.row.id)">编辑</el-button>
            <template v-if="scope.row.deleted == 2">
              <el-button type="text" size="small" style="color: coral" @click="getDel(scope.row.id)">删除</el-button>
            </template>
            <template v-if="scope.row.deleted == 1">
              <el-button type="text" size="small" style="color: green" @click="getReset(scope.row.id)">恢复</el-button>
            </template>
          </template>
        </el-table-column>
        <el-table-column prop="job_status_name" label="操作记录">
          <template slot-scope="scope">
            <span v-if="scope.row.operation">({{ scope.row.operation.count }})</span>
            <span v-if="!scope.row.operation">(0)</span>
            <el-button v-if="scope.row.operation" type="text" size="small" @click="getHistory(scope.row.operation.resource_id,scope.row.operation.resource_type )">操作记录</el-button>
            <el-button v-if="!scope.row.operation" type="text" size="small">操作记录</el-button>
          </template>
        </el-table-column>
      </el-table>

      <div class="over">
        <el-pagination
          class="pager"
          background
          layout="prev, pager, next"
          :total="total"
          :current-page="req.page"
          :page-size="req.per_page"
          @current-change="changePager"
        />
      </div>
    </el-card>
  </div>
</template>
<script>
import { clanList, clanDel } from '../../../api/clan'
import { mapGetters } from 'vuex'

export default {
  name: 'Clublist',
  data() {
    return {
      allgame: [{ 'id': '0', 'name': '全部', 'e_name': 'all' }],
      all: [{ 'id': '0', 'name': '全部', 'e_name': 'all' }],
      total: 0,
      tableData: [],
      req: {
        games: '',
        name: '',
        id: '',
        timeArea: [],
        country: '',
        page: 1,
        per_page: 10
      },
      options: [],
      value: ''
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  mounted() {
    this.finddata()
    // this.infoCountry()
    this.infoGames()
  },
  methods: {
    tableRowClassName({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'success-row'
      }
    },
    delLine({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'del_line'
      }
    },
    getHistory(id, type) {
      this.$router.push({ path: '/gamecenter/update/updateTemplate/operation', query: { id: id, type: type }})
    },
    infoGames() {
      this.allgame.push.apply(this.allgame, this.games)
    },
    getReset(id) {
      this.$confirm('确认恢复？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        params['status'] = 2
        clanDel(params).then(req => {
          this.finddata()
          this.$message({
            type: 'success',
            message: '恢复成功！'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    getDel(id) {
      this.$confirm('确认删除？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        params['status'] = 1
        clanDel(params).then(req => {
          this.finddata()
          this.$message({
            type: 'success',
            message: '删除成功！'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    // infoCountry() {
    //   this.all.push.apply(this.all, this.country)
    // },
    getedit(id) {
      this.$router.push({ path: '/gamecenter/clan/edit', query: { id: id }})
    },
    changePager(newPage) {
      this.req.page = newPage
      this.finddata()
    },
    newjob() {
      this.$router.push({ path: '/gamecenter/clan/add' })
    },
    findInfo() {
      this.req.page = 1
      this.finddata()
    },
    finddata() {
      const params = {}
      params['country'] = this.req.country
      params['game_id'] = this.req.games
      params['name'] = this.req.name
      params['id'] = this.req.id
      params['page'] = this.req.page
      params['per_page'] = this.req.per_page
      if (this.req.timeArea) {
        params['date_begin'] = this.req.timeArea[0]
        params['date_end'] = this.req.timeArea[1]
      }
      clanList(params).then(req => {
        this.tableData = req.data.list
        this.total = 1 * req.data.total
      })
    }
  }
}
</script>

<style scoped>
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
  .el-input__inner{
    width: 40px;
  }
</style>
