<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>单条数据抓取</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form ref="req" :model="req" :rules="rules" :inline="true" label-width="100px" size="mini">
        <el-row>
          <el-col :span="8">
            <el-form-item label="数据源:" prop="origin_id">
              <el-select v-model="req.origin_id" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="资源类型:" prop="resource_type">
              <el-select v-model="req.resource_type" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in resourceTypeList.resource_type"
                  :key="index"
                  :label="item.label"
                  :value="item.key"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="游戏项目:" prop="game_type">
              <el-select v-model="req.game_type" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in resourceTypeList.game_type"
                  :key="index"
                  :label="item.label"
                  :value="item.key"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8">
            <el-form-item label="数据源ID:" prop="rel_id">
              <el-input v-model="req.rel_id" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="14" style="text-align: right;">
            <el-form-item>
              <el-button :loading="loading" type="primary" @click="getData('req')">提交</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-card>

    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>Scoket抓取</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form ref="scoket_info" :model="scoket_info" :rules="scoket" :inline="true" label-width="100px" size="mini">
        <el-row>
          <el-col :span="8">
            <el-form-item label="数据源:" prop="origin_id">
              <el-select v-model="scoket_info.origin_id" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="比赛ID:" prop="match_id">
              <el-input v-model="scoket_info.match_id" style="width:220px" />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="游戏项目:" prop="game_id">
              <el-select v-model="scoket_info.game_id" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in resourceTypeList.game_type"
                  :key="index"
                  :label="item.label"
                  :value="item.key"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="22" style="text-align: right;">
            <el-form-item>
              <el-button :loading="loading" type="primary" @click="subData('scoket_info')">提交</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { refresh_stand, regrasp_socket } from '@/api/data'
import { mapGetters } from 'vuex'
import { contrast_enums } from '@/api/task'

export default {
  name: 'DataRest',
  data() {
    return {
      loading: false,
      resourceTypeList: '',
      scoket_info: {
        origin_id: '',
        game_id: '',
        match_id: ''
      },
      req: {
        origin_id: '',
        resource_type: '',
        game_type: '',
        rel_id: ''
      },
      rules: {
        origin_id: [
          { required: true, message: '请选择数据源', trigger: 'blur' }
        ],
        resource_type: [
          { required: true, message: '请选择资源类型', trigger: 'change' }
        ],
        game_type: [
          { required: true, message: '请选择游戏项目', trigger: 'change' }
        ],
        rel_id: [
          { required: true, message: '请输入数据源ID', trigger: 'change' }
        ]
      },
      scoket: {
        origin_id: [
          { required: true, message: '请选择数据源', trigger: 'blur' }
        ],
        game_id: [
          { required: true, message: '请选择游戏项目', trigger: 'change' }
        ],
        match_id: [
          { required: true, message: '请输入比赛ID', trigger: 'change' }
        ]
      }
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  mounted() {
    this.get_resource_type_info()
  },
  methods: {
    subData(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.$confirm('重抓会删除原有的Socket数据, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            this.loading = true
            const params = this.scoket_info
            regrasp_socket(params).then(req => {
              this.loading = false
              this.loading = false
              this.$message({
                type: 'success',
                message: '重抓成功！'
              })
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '已取消'
              })
            })
          }).catch((res) => {
            this.loading = false
            // this.$message({
            //   showClose: true,
            //   message: res.message,
            //   type: 'error',
            //   duration: 0
            // })
          })
        } else {
          return false
        }
      })
    },
    get_resource_type_info() {
      const params = {}
      contrast_enums(params).then(req => {
        this.resourceTypeList = req.data
      })
    },
    getData(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.loading = true
          const params = {}
          params['rel_identity_id'] = this.req.rel_id
          params['origin_id'] = this.req.origin_id
          params['game_id'] = this.req.game_type
          params['resource_type'] = this.req.resource_type
          refresh_stand(params).then(req => {
            this.loading = false
            this.$message({
              type: 'success',
              message: '重抓成功！'
            })
            this.upData()
          }).catch((res) => {
            this.loading = false
            // this.$message({
            //   showClose: true,
            //   message: res.message,
            //   type: 'error',
            //   duration: 0
            // })
          })
        } else {
          return false
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
