<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>数据检查</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="req" :inline="true" label-width="100px" size="mini">
        <el-row>
          <el-col :span="6">
            <el-form-item label="数据源:">
              <el-select v-model="req.origin_type" placeholder="请选择">
                <el-option
                  v-for="(item,index) in resourceTypeList.origin_type"
                  :key="index"
                  :label="item.label"
                  :value="item.key"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="资源类型:">
              <el-select v-model="req.resource_type" placeholder="请选择">
                <el-option
                  v-for="(item,index) in resourceTypeList.resource_type"
                  :key="index"
                  :label="item.label"
                  :value="item.key"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="游戏项目:">
              <el-select v-model="req.game_type" placeholder="请选择">
                <el-option
                  v-for="(item,index) in resourceTypeList.game_type"
                  :key="index"
                  :label="item.label"
                  :value="item.key"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="ELS ID:">
              <el-input v-model="req.rel_id" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="23" style="text-align: right;">
            <el-form-item>
              <el-button type="primary" @click="findInfo">确认</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :span="12">
            <el-card shadow="never">
              <p>内容详情(curl)：</p>
              <json-viewer :value="contrast_info.curl" />
            </el-card>
          </el-col>
          <el-col :span="12">
            <el-card shadow="never">
              <p>内容详情(stardard)：</p>
              <json-viewer :value="contrast_info.stardard" />
            </el-card>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="23" style="text-align: right;margin-top: 10px">
            <el-form-item>
              <el-button type="primary" @click="upInfo">刷新</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
Vue.use(JsonViewer)
import Vue from 'vue'
import JsonViewer from 'vue-json-viewer'
import { contrast_enums, contrast_detail, contrast_refresh } from '@/api/task'
export default {
  name: 'DataInspect',
  data() {
    return {
      resourceTypeList: {},
      contrast_info: '',
      req: {
        origin_type: '',
        resource_type: '',
        game_type: '',
        rel_id: ''
      }
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  mounted() {
    this.get_resource_type_info()
  },
  methods: {
    get_resource_type_info() {
      const params = {}
      contrast_enums(params).then(req => {
        this.resourceTypeList = req.data
      })
    },
    findInfo() {
      const params = {}
      params['origin_type'] = this.req.origin_type
      params['resource_type'] = this.req.resource_type
      params['game_type'] = this.req.game_type
      params['rel_id'] = this.req.rel_id
      contrast_detail(params).then(req => {
        this.contrast_info = req.data
      })
    },
    upInfo() {
      const params = {}
      params['origin_type'] = this.req.origin_type
      params['resource_type'] = this.req.resource_type
      params['game_type'] = this.req.game_type
      params['rel_id'] = this.req.rel_id
      contrast_refresh(params).then(req => {
        this.findInfo()
        this.$message({
          type: 'success',
          message: '更新成功！'
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
