<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>数据更新debug</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="req" :inline="true" label-width="100px" size="mini">
        <el-row>
          <el-col :span="6">
            <el-form-item label="数据源:">
              <el-select v-model="req.origin_id" placeholder="请选择">
                <el-option
                  v-for="(item,index) in resourceTypeList.origin_type"
                  :key="index"
                  :label="item.label"
                  :value="item.key"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="资源类型:">
              <el-select v-model="req.resource_type" placeholder="请选择">
                <el-option
                  v-for="(item,index) in resourceTypeList.resource_type"
                  :key="index"
                  :label="item.label"
                  :value="item.key"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <!--          <el-col :span="6">-->
          <!--            <el-form-item label="游戏项目:">-->
          <!--              <el-select v-model="req.game_type" placeholder="请选择">-->
          <!--                <el-option-->
          <!--                  v-for="(item,index) in resourceTypeList.game_type"-->
          <!--                  :key="index"-->
          <!--                  :label="item.label"-->
          <!--                  :value="item.key"-->
          <!--                />-->
          <!--              </el-select>-->
          <!--            </el-form-item>-->
          <!--          </el-col>-->
          <el-col :span="6">
            <el-form-item label="数据源绑定ID:">
              <el-input v-model="req.rel_id" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="20">
            <el-form-item label="变更内容:">
              <el-input
                v-model="req.change_info"
                type="textarea"
                :rows="30"
                placeholder="请输入内容"
                style="width: 1000px"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="20" style="text-align: right;margin-top: 10px">
            <el-form-item>
              <el-button type="primary" @click="findInfo">提交</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
Vue.use(JsonViewer)
import Vue from 'vue'
import JsonViewer from 'vue-json-viewer'
import { contrast_enums } from '@/api/task'
import { debug_add } from '@/api/data'
export default {
  name: 'DataInspect',
  data() {
    return {
      resourceTypeList: {},
      contrast_info: '',
      req: {
        origin_id: '',
        resource_type: '',
        game_type: '',
        rel_id: '',
        change_info: ''
      }
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  mounted() {
    this.get_resource_type_info()
  },
  methods: {
    get_resource_type_info() {
      const params = {}
      contrast_enums(params).then(req => {
        this.resourceTypeList = req.data
      })
    },
    findInfo() {
      const params = {}
      params['origin_type'] = this.req.origin_id
      params['resource_type'] = this.req.resource_type
      params['change_info'] = JSON.parse(this.req.change_info)
      params['standard_id'] = this.req.rel_id
      debug_add(params).then(req => {
        this.$message({
          type: 'success',
          message: '提交成功！'
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
