<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>详情</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form ref="form" :model="form" label-width="80px">
        <el-row>
          <el-col :span="20">
            <el-form-item label="ID:">
              <span>{{ form[0].id }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="4">
            <el-button type="primary" size="small" @click="getedit(scope.row.id)">编辑</el-button>
            <el-button type="primary" size="small" @click="onSubmit">返回</el-button>
          </el-col>
        </el-row>
        <el-form-item label="tag:">
          <span>{{ form[0].tag }}</span>
        </el-form-item>
        <el-form-item label="类型:">
          <span>{{ form[0].type }}</span>
        </el-form-item>
        <el-form-item label="批次:">
          <span>{{ form[0].batch_id }}</span>
        </el-form-item>
        <el-form-item label="参数:">
          <span>{{ form[0].params }}</span>
        </el-form-item>
        <el-form-item label="开始时间:">
          <span>{{ form[0].begin_time }}</span>
        </el-form-item>
        <el-form-item label="结束时间:">
          <span>{{ form[0].end_time }}</span>
        </el-form-item>
        <el-form-item label="状态:">
          <span>{{ form[0].status }}</span>
        </el-form-item>
        <el-form-item label="返回值:">
          <span>{{ form[0].response }}</span>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { task_list } from '@/api/task'
export default {
  name: 'Info',
  data() {
    return {
      form: {}
    }
  },
  mounted() {
    this.getInfo()
  },
  methods: {
    onSubmit() {
      this.$router.push('/gamecenter/task/list')
    },
    getInfo() {
      const params = {}
      params['id'] = this.$route.query.id
      task_list(params).then(req => {
        this.form = req.data.list
      })
    }
  }
}
</script>

<style scoped>

</style>
