<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>任务管理</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-table
        :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'8px',height:'40px',textAlign:'center'}"
        :cell-style="{textAlign:'center',padding:'3px'}"
        :data="tableData"
        style="width: 100%"
      >
        <el-table-column prop="id" label="ID" />
        <el-table-column prop="tag" label="tag" />
        <el-table-column prop="type" label="类型" />
        <el-table-column prop="batch_id" label="批次" />
        <el-table-column prop="begin_time" label="开始时间" />
        <el-table-column prop="params" label="操作">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="getInfo(scope.row.id)">详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="over">
        <el-pagination
          class="pager"
          background
          layout="prev, pager, next"
          :total="total"
          :current-page="req.page"
          :page-size="req.per_page"
          @current-change="changePager"
        />
      </div>
    </el-card>
  </div>

</template>

<script>
import { task_list } from '@/api/task'
export default {
  name: 'List',
  data() {
    return {
      total: 20,
      tableData: [],
      req: {
        games: '',
        name: '',
        id: '',
        timeArea: [],
        country: '',
        page: 1,
        per_page: 10
      }
    }
  },
  mounted() {
    this.finddata()
  },
  methods: {
    getInfo(id) {
      this.$router.push({ path: '/gamecenter/task/info', query: { id: id }})
    },
    changePager(newPage) {
      this.req.page = newPage
      this.finddata()
    },
    finddata() {
      const params = {}
      params['page'] = this.req.page
      params['per_page'] = this.req.per_page
      task_list(params).then(req => {
        this.tableData = req.data.list
        this.total = 1 * req.data.total
      })
    }
  }
}
</script>

<style scoped>
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
</style>
