<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>新建英雄</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-tabs type="border-card" :before-leave="(item)=>{return beforeLeave(item, 'form')}">
        <el-tab-pane label="核心内容">
          <el-form ref="form" :rules="rules" :model="form" label-width="160px">
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="名称（英文）" prop="name">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="名称（中文）">
                  <el-input v-model="form.name_cn" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="状态" prop="state">
                  <el-select v-model="form.state" placeholder="请选择" style="width: 100%">
                    <el-option label="正常" value="1" />
                    <el-option label="移除" value="2" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="官方ID" prop="external_id">
                  <el-input v-model="form.external_id" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="官方名称" prop="external_id">
                  <el-input v-model="form.external_name" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="称号（英文）" prop="title">
                  <el-input v-model="form.title" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="称号（中文）">
                  <el-input v-model="form.title_cn" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="主要角色类型(英文)">
                  <el-input v-model="form.primary_role" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="主要角色类型(中文)">
                  <el-input v-model="form.primary_role_cn" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="次要角色类型(英文)">
                  <el-input v-model="form.secondary_role" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="次要角色类型(中文)">
                  <el-input v-model="form.secondary_role_cn" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="Slug" prop="slug">
                  <el-input v-model="form.slug" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="8" :offset="0">
                <el-form-item label="头像" prop="image">
                  <el-upload
                    class="avatar-uploader"
                    :action="getUploadUrl()"
                    :on-success="upload"
                    :before-upload="beforeAvatarUpload"
                  >
                    <img v-if="form.image" style="width: 120px;height: 120px" :src="form.image" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon" />
                  </el-upload>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="头像（小）" prop="small_image">
                  <el-upload
                    class="avatar-uploader"
                    :action="getUploadUrl()"
                    :on-success="upload1"
                    :before-upload="beforeAvatarUpload"
                  >
                    <img v-if="form.small_image" style="width: 32px;height: 32px" :src="form.small_image" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon" />
                  </el-upload>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit('form')">确认创建</el-button>
              </div>
            </el-row>
          </el-form>
        </el-tab-pane>
      </el-tabs>
    </el-card>
  </div>
</template>
<script>
import { getUploadBaseApi } from '@/api/file.js'
import { heroAdd } from '@/api/metadata'
export default {
  name: 'Add',
  data() {
    const generateData = _ => {
      const data = []
      const cities = ['上海', '北京', '广州', '深圳', '南京', '西安', '成都']
      const pinyin = ['shanghai', 'beijing', 'guangzhou', 'shenzhen', 'nanjing', 'xian', 'chengdu']
      cities.forEach((city, index) => {
        data.push({
          label: city,
          key: index,
          pinyin: pinyin[index]
        })
      })
      return data
    }
    return {
      textarea: '',
      form: {
        external_id: '',
        external_name: '',
        champion_id: '',
        title: '',
        title_cn: '',
        primary_role: '',
        primary_role_cn: '',
        secondary_role: '',
        secondary_role_cn: '',
        slug: '',
        image: '',
        small_image: '',
        state: '',
        name: '',
        name_cn: '',
        logo_url: ''
      },
      data: generateData(),
      value: [],
      filterMethod(query, item) {
        return item.pinyin.indexOf(query) > -1
      },
      rules: {
        name: [
          { required: true, message: '请输入英雄名称', trigger: 'change' }
        ],
        state: [
          { required: true, message: '请选择状态', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入Slug', trigger: 'change' }
        ],
        title: [
          { required: true, message: '请输入称号', trigger: 'change' }
        ],
        image: [
          { required: true, message: '请上传头像', trigger: 'change' }
        ],
        small_image: [
          { required: true, message: '请上传头像', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    'form.name': {
      handler: function() {
        this.form.slug = this.$yangJian.slug_rule(this.form.name)
      }
    }
  },
  methods: {
    beforeAvatarUpload(file) {
      console.log('file')
      console.log(file)
      // const isPNG = file.type === 'image/png || svg'
      const testmsg = file.type === 'image/png'
      const isLt1M = file.size / 1024 / 1024 < 1
      if (!testmsg) {
        this.$message.error('只能上传PNG格式!')
        return false
      }
      if (!isLt1M) {
        this.$message({
          message: '上传图标大小不能超过 1MB!',
          type: 'error'
        })
        return false
      }
      return testmsg || isLt1M
    },
    upload(res, file) {
      this.form.image = res.data.url
      console.log(res)
      // console.log(file)
    },
    upload1(res, file) {
      this.form.small_image = res.data.url
      console.log(res)
      // console.log(file)
    },
    getUploadUrl() {
      return getUploadBaseApi()
    },
    beforeLeave(item, formName) {
      console.log('old')
      console.log(formName)
      if (item === '0') {
        return true
      } else {
        let k = true
        this.$refs[formName].validate((valid) => {
          if (valid) {
            k = true
          } else {
            this.$message.error('请填写完整必填项')
            k = false
          }
        })
        return k
      }
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          params['name'] = this.form.name
          params['name_cn'] = this.form.name_cn
          params['state'] = this.form.state
          params['external_id'] = this.form.external_id
          params['external_name'] = this.form.external_name
          params['title'] = this.form.title
          params['title_cn'] = this.form.title_cn
          params['primary_role'] = this.form.primary_role
          params['primary_role_cn'] = this.form.primary_role_cn
          params['secondary_role'] = this.form.secondary_role
          params['secondary_role_cn'] = this.form.secondary_role_cn
          params['slug'] = this.form.slug
          params['image'] = this.form.image
          params['small_image'] = this.form.small_image

          heroAdd(params).then(req => {
            this.$message({
              type: 'success',
              message: '添加成功！'
            })
            this.$router.push('/gamecenter/dataManage/heroLeague/herolmanage/list')
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
      console.log('submit!')
    }
  }
}
</script>

<style scoped>

</style>
