<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>英雄管理</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="req" :inline="true" label-width="100px" size="mini">
        <el-row>
          <el-col :span="6">
            <el-form-item label="状态:">
              <el-select v-model="req.state" placeholder="请选择" style="width: 220px">
                <el-option label="全部" value="0" />
                <el-option label="正常" value="1" />
                <el-option label="移除" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="官方 ID:">
              <el-input v-model="req.external_id" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="官方名称:">
              <el-input v-model="req.external_name" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="ELS ID:">
              <el-input v-model="req.id" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="4" :offset="2">
            <el-form-item>
              <el-button type="primary" style="padding-right: 50px;padding-left: 50px" @click="dialogVisible = true">整体更新设置</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="变更时间:">
              <el-date-picker
                v-model="req.timeArea"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="称号:">
              <el-input v-model="req.title" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="名称:">
              <el-input v-model="req.name" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="4" :offset="2">
            <el-form-item>
              <el-button type="primary" @click="findInfo">搜 索</el-button>
              <el-button type="primary" style="margin-left: 50px" @click="getadd">新 建</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-dialog
        title="整体更新设置"
        :visible.sync="dialogVisible"
        width="50%"
      >
        <span>
          <el-form ref="req" :model="req">
            <el-row type="flex" class="row-bg">
              <el-col :span="14" :offset="5">
                <h4 style="color: red; margin: 0px">本操作会修改全部英雄数据源设置，请谨慎操作！</h4>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" style="margin-top: 20px">
              <el-col :span="10" :offset="1">
                <el-form-item label="使用数据源">
                  <el-select v-model="config_info.config['lol_champion.core_data'].origin_id" placeholder="请选择">
                    <el-option
                      v-for="(item,index) in enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="10" :offset="0">
                <el-form-item label="更新方式">
                  <el-select v-model="config_info.config['lol_champion.core_data'].update_type" placeholder="请选择">
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="onAllUp">提 交</el-button>
        </span>
      </el-dialog>
      <el-dialog
        v-if="dialogVisible1"
        title="更新设置"
        :visible.sync="dialogVisible1"
        width="50%"
      >
        <div>
          <el-form>
            <el-row type="flex" class="row-bg" align="middle">
              <el-col :span="2" :offset="0">
                <img :src="heroInfo.image" style="width: 50px; height: 50px">
              </el-col>
              <el-col :span="20">
                <span>{{ heroInfo.title }}</span>
                <span>({{ heroInfo.title_cn }})&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span>{{ heroInfo.name }}</span>
                <span>({{ heroInfo.name_cn }})&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span>ELS ID:  {{ heroInfo.id }}</span>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="10" :offset="1">
                <el-form-item label="使用数据源">
                  <el-select v-model="config_info.config['lol_champion.core_data'].origin_id" placeholder="请选择">
                    <el-option
                      v-for="(item,index) in enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="10" :offset="0">
                <el-form-item label="更新方式">
                  <el-select v-model="config_info.config['lol_champion.core_data'].update_type" placeholder="请选择">
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around" />
          </el-form>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible1 = false">取 消</el-button>
          <el-button type="primary" @click="onSubmit">确认修改</el-button>
        </span>
      </el-dialog>
      <el-table
        :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'14px',height:'40px',textAlign:'center'}"
        :cell-style="{textAlign:'center',padding:'3px'}"
        :data="tableData"
        :style="{'width':'100%'}"
        :cell-class-name="delLine"
        :row-class-name="tableRowClassName"
      >
        <el-table-column prop="id" :label="'ELS\n英雄ID'" />
        <el-table-column prop="external_id" label="官方ID">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.external_id }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="external_name" label="官方名称">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.external_name }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="title" :label="'称号\n(英文)'">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.title }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="name" :label="'名称\n(英文)'">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.name }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="title_cn" :label="'称号\n(中文)'">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.title_cn }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="name_cn" :label="'名称\n(中文)'">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.name_cn }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="image" label="头像">
          <template slot-scope="scope">
            <img v-if="scope.row.image" :src="scope.row.image" style="width: 54px;height: 54px; ">
          </template>
        </el-table-column>
        <el-table-column prop="state" label="状态">
          <template slot-scope="scope">
            <template v-if="scope.row.state == '1' ">
              <span>正常</span>
            </template>
            <template v-if="scope.row.state == '2' ">
              <span>移除</span>
            </template>
          </template>
        </el-table-column>
        <el-table-column prop="created_at" label="创建时间" width="100px" />
        <el-table-column prop="modified_at" label="变更时间" width="100px" />
        <el-table-column :label="'已绑定\n数据源'" width="100px">
          <template slot-scope="scope">
            <div v-for="(item,index) in scope.row.binding_info" :key="index" >
              <el-popover
                placement="top-start"
                width="400"
                trigger="hover"
                >
                <span v-for="(item1,index1) in item" :key="index1">{{item1.standard_id}}<span v-if="item.length !== index1+1">,</span></span>
                <el-button slot="reference" type="text">
                  <div style="display: flex;align-items: center;justify-content: center">
                    <img :src="item[0].enum_origin_image" style="height: 20px;width: 20px;margin-right: 3px"><span> ({{item.length}})</span>
                  </div>
                </el-button>
              </el-popover>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="change_type" :label="'当前数据源\n/更新方式'">
          <template slot-scope="scope">
            <div v-if="scope.row.update_config.config">
              <span v-if="scope.row.update_config.config['lol_champion.core_data'].update_type === '1'" class="status-align">&nbsp;&nbsp;&nbsp;核：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['lol_champion.core_data'].origin_id)"></img>  <div class="status-point" style=" background-color:red" /></span>
              <span v-if="scope.row.update_config.config['lol_champion.core_data'].update_type === '2'" class="status-align">&nbsp;&nbsp;&nbsp;核：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['lol_champion.core_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#E6A23C" /></span>
              <span v-if="scope.row.update_config.config['lol_champion.core_data'].update_type === '3'" class="status-align">&nbsp;&nbsp;&nbsp;核：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['lol_champion.core_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#67C23A" /></span>
            </div>
          </template>
        </el-table-column>
        <el-table-column fixed="right" label="操作">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="getedit(scope.row.id)">编辑</el-button>
            <template v-if="scope.row.deleted == null">
              <el-button type="text" size="small" style="color: coral" @click="getDel(scope.row.id)">删除</el-button>
            </template>
            <template v-if="scope.row.deleted == 2">
              <el-button type="text" size="small" style="color: coral" @click="getDel(scope.row.id)">删除</el-button>
            </template>
            <template v-if="scope.row.deleted == 1">
              <el-button type="text" size="small" style="color: green" @click="getReset(scope.row.id)">恢复</el-button>
            </template>
            <el-button type="text" size="small" @click="getUp(scope.row)">更新设置</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="job_status_name" label="操作记录">
          <template slot-scope="scope">
            <span v-if="scope.row.operation">({{ scope.row.operation.count }})</span>
            <span v-if="!scope.row.operation">(0)</span>
            <el-button v-if="scope.row.operation" type="text" size="small" @click="getHistory(scope.row.operation.resource_id,scope.row.operation.resource_type )">操作记录</el-button>
            <el-button v-if="!scope.row.operation" type="text" size="small">操作记录</el-button>
          </template>
        </el-table-column>
      </el-table>

      <div class="over">
        <el-pagination
          class="pager"
          background
          layout="prev, pager, next"
          :total="total"
          :current-page="req.page"
          :page-size="req.per_page"
          @current-change="changePager"
        />
      </div>
    </el-card>
  </div>
</template>
<script>
import { get_tournament_state } from '@/api/common'
import { heroList, heroDel } from '@/api/metadata'
import { mapGetters } from 'vuex'
import { config_batch, resource_config_detail, resource_config_edit } from '@/api/data'
export default {
  name: 'List',
  data() {
    return {
      config_info: {
        config: {
          'lol_champion.core_data': {
            origin_id: '2',
            update_type: '2'
          }
        },
        game: {}
      },
      form: {},
      heroInfo: {},
      tournament_state: [],
      state: [{ 'id': '0', 'name': '全部', 'c_name': 'all' }],
      total: 20,
      tableData: [],
      req: {
        tournament_state: '',
        title: '',
        name: '',
        timeArea: [],
        state: '0',
        id: '',
        external_id: '',
        external_name: '',
        page: 1,
        per_page: 20
      },
      dialogVisible: false,
      dialogVisible1: false,
      options: [],
      value: ''
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  mounted() {
    this.infostate()
    this.finddata()
  },
  methods: {
    tableRowClassName({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'success-row'
      }
    },
    delLine({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'del_line'
      }
    },
    getHistory(id, type) {
      this.$router.push({ path: '/gamecenter/update/updateTemplate/operation', query: { id: id, type: type }})
    },
    getUp(info) {
      this.dialogVisible1 = true
      this.heroInfo = info
      const params = {}
      params['resource_type'] = 'lol_champion'
      params['resource_id'] = info.id
      resource_config_detail(params).then(req => {
        if (req.data.config) {
          this.config_info = req.data
        }
      })
    },
    onAllUp() {
      this.$confirm('是否提交?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['game_id'] = '2'
        params['resource_type'] = 'lol_champion'
        params['config'] = this.config_info.config
        config_batch(params).then(req => {
          this.$message({
            type: 'success',
            message: '修改成功！'
          })
        })
        this.dialogVisible = false
        this.finddata()
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    onSubmit() {
      const params = {}
      params['resource_type'] = 'lol_champion'
      params['resource_id'] = this.heroInfo.id
      params['config'] = this.config_info
      resource_config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
      })
      this.dialogVisible1 = false
      this.finddata()
    },
    getedit(id) {
      this.$router.push({ path: '/gamecenter/dataManage/heroLeague/herolmanage/edit', query: { id: id }})
    },
    getReset(id) {
      this.$confirm('确认恢复？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        params['deleted'] = '2'
        heroDel(params).then(req => {
          this.finddata()
          this.$message({
            type: 'success',
            message: '恢复成功！'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    getDel(id) {
      this.$confirm('确认删除？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        params['deleted'] = '1'
        heroDel(params).then(req => {
          this.finddata()
          this.$message({
            type: 'success',
            message: '删除成功！'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    infostate() {
      const params = {}
      get_tournament_state(params).then(req => {
        this.tournament_state = req.data
        this.state.push.apply(this.state, this.tournament_state)
      })
    },
    changePager(newpage) {
      this.req.page = newpage
      this.finddata()
    },
    findInfo() {
      this.req.page = 1
      this.finddata()
    },
    finddata() {
      const params = {}
      params['title'] = this.req.title
      params['name'] = this.req.name
      params['state'] = this.req.state
      params['external_id'] = this.req.external_id
      params['external_name'] = this.req.external_name
      params['id'] = this.req.id
      if (this.req.timeArea) {
        params['date_begin'] = this.req.timeArea[0]
        params['date_end'] = this.req.timeArea[1]
      }
      params['page'] = this.req.page
      params['per_page'] = this.req.per_page
      heroList(params).then(req => {
        this.tableData = req.data.list
        this.total = 1 * req.data.total
        this.tableData.forEach(item => {
          var tmp = {}
          if (item.binding_info.length>0) {
            item.binding_info.forEach(info => {
              tmp[info.origin_id] = tmp[info.origin_id] || []
              tmp[info.origin_id].push(info)
            })
            item.binding_info = Object.values(tmp)
          }
        })
      })
    },
    getadd() {
      this.$router.push({ path: '/gamecenter/dataManage/heroLeague/herolmanage/add' })
    }
  }
}
</script>

<style scoped>
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
  .status-point {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .status-align {
    /*vertical-align:middle;*/
  }
  .status-a {
    vertical-align:middle;
    width: 20px;height: 20px
  }
</style>
