<template>
  <div style="padding: 10px">
    <el-card class="margin">
      <h4>管理员信息</h4>
      <el-form ref="req" :model="req" :rules="rules" label-width="120px" style="width: 500px">
        <el-form-item label="管理员姓名： " prop="name">
          <el-input v-model="req.name" />
        </el-form-item>
        <el-form-item label="管理员电话" prop="cell_phone">
          <el-input v-model.number="req.cell_phone" />
        </el-form-item>
        <el-form-item label="管理员登录名" prop="username">
          <el-input v-model="req.username" />
        </el-form-item>
        <el-form-item label="管理员密码" prop="password">
          <el-input v-model="req.password" />
        </el-form-item>
        <el-form-item label="权限" prop="role_type">
          <el-select v-model="req.role_type" placeholder="请选择">
            <el-option label="管理员" value="2" />
            <el-option label="游客" value="3" />
          </el-select>
        </el-form-item>
      </el-form>
    </el-card>
    <el-card>
      <h4>管理范围</h4>
      <el-checkbox-group v-model="req.permission.key">
        <el-checkbox v-for="(item) in permissionLists" :key="item.id" :label="item.id">{{ item.name }}</el-checkbox>
      </el-checkbox-group>
    </el-card>
    <div class="footer">
      <el-button type="primary" style="width:120px" @click="back">返回</el-button>
      <el-button type="primary" style="width:120px" @click="submitEdit('req')">提交</el-button>
    </div>
  </div>
</template>

<script>
import { list, permession, update } from '../../../api/admin'
export default {
  name: 'Edit',
  data() {
    return {
      req: {
        password: '',
        name: '',
        username: '',
        cell_phone: '',
        role_type: '',
        permission_list: [],
        permission: {
          key: []
        }
      },
      permissionLists: [],
      rules: {
        name: [
          { required: true, message: '请输入姓名', trigger: 'change' }
        ],
        cell_phone: [
          { required: true, message: '请输入联系电话', trigger: 'blur' },
          { type: 'number', message: '电话必须为数字', trigger: 'blur' },
        ],
        username: [
          { required: true, message: '请输入登录名', trigger: 'change' }
        ],
        password: [
          { required: true, message: '请输入密码', trigger: 'change' }
        ],
        role_type: [
          { required: true, message: '请选择权限类型', trigger: 'change' }
        ]
      }
    }
  },
  mounted() {
    this.getInfo()
    this.permissionList()
  },
  methods: {
    back() {
      this.$router.push('/gamecenter/manage/index')
    },
    getInfo() {
      const id = this.$route.query.id
      if (id) {
        list().then(res => {
          console.log(res)
          this.info = res.data.list[0]
        })
      }
    },
    permissionList() {
      permession().then(res => {
        this.permissionLists = res.data
      })
    },
    submitEdit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = this.req
          params['permission_list'] = this.req.permission.key
          update(params).then(res => {
            console.log(res)
            this.$message({
              type: 'success',
              message: '添加成功！'
            })
            this.$router.push('/gamecenter/manage/index')
          })
        } else {
          return false
        }
      })

      // const id = this.$route.query.id
    }
  }
}
</script>

<style scoped>

  span{
    font-size: 10px;
  }
  .footer{
    width:100%;
    text-align: center;
    margin:40px auto;
  }
</style>

