<template>
  <div style="padding: 10px">
    <el-card class="margin">
      <h4>管理员信息</h4>
      <el-form ref="req" :model="req" :rules="rules" label-width="120px" style="width: 500px">
        <!--        <el-form-item label="管理员ID： ">-->
        <!--          <el-input v-model="req.id" />-->
        <!--        </el-form-item>-->
        <el-form-item label="管理员姓名" prop="name">
          <el-input v-model="req.name" />
        </el-form-item>
        <el-form-item label="管理员电话" prop="cell_phone">
          <el-input v-model.number="req.cell_phone" />
        </el-form-item>
        <el-form-item label="管理员登录名" prop="username">
          <el-input v-model="req.username" />
        </el-form-item>
        <el-form-item label="权限" prop="role_type">
          <el-select v-model="req.role_type" placeholder="请选择">
            <el-option label="管理员" value="2" />
            <el-option label="游客" value="3" />
          </el-select>
        </el-form-item>
      </el-form>
    </el-card>
    <el-card>
      <h4>管理范围</h4>
      <p>管理员权限范围：</p>
      <el-checkbox-group v-model="req.permission.key">
        <el-checkbox v-for="(item) in permission_list" :key="item.id" :label="item.id">{{ item.name }}</el-checkbox>
      </el-checkbox-group>

    </el-card>
    <div class="footer">
      <el-button type="primary" style="width:120px" @click="back">返回</el-button>
      <el-button type="primary" style="width:120px" @click="submitEdit('req')">提交</el-button>
    </div>
  </div>
</template>

<script>
import { list, permession, update } from '../../../api/admin'
export default {
  name: 'Edit',
  data() {
    return {
      req: {
        id: '',
        name: '',
        username: '',
        cell_phone: '',
        permission: {
          key: []
        },
        role_type: ''
      },
      permission_list: [],
      rules: {
        name: [
          { required: true, message: '请输入姓名', trigger: 'change' }
        ],
        cell_phone: [
          { required: true, message: '请输入联系电话', trigger: 'change' }
        ],
        username: [
          { required: true, message: '请输入登录名', trigger: 'change' }
        ],
        password: [
          { required: true, message: '请输入密码', trigger: 'change' }
        ],
        role_type: [
          { required: true, message: '请选择权限类型', trigger: 'change' }
        ]
      }
    }
  },
  mounted() {
    this.permissionList()
    this.getInfo()
  },
  methods: {
    back() {
      this.$router.push('/gamecenter/manage/index')
    },
    getInfo() {
      const id = this.$route.query.id
      if (id) {
        list({ id: id }).then(res => {
          console.log(res)
          const tmp = { ...res.data.list[0] }
          console.log(tmp)
          if (tmp.permission.key === undefined) {
            tmp.permission = { key: [] }
          }
          console.log(tmp)
          this.req = tmp
          this.req.cell_phone = 1 * this.req.cell_phone
          if (1 * this.req.role_type === 1) {
            this.refreshCheck()
          }
        })
      }
    },
    permissionList() {
      permession().then(res => {
        this.permission_list = res.data
        if (1 * this.req.role_type === 1) {
          this.refreshCheck()
        }
      })
    },
    refreshCheck() {
      this.req.permission.key = []
      if (this.permission_list.length > 0) {
        // 给账号账号权限赋值
        this.permission_list.forEach(item => {
          this.req.permission.key.push(item.id)
        })
      }
    },
    submitEdit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          params['id'] = this.req.id
          params['name'] = this.req.name
          params['username'] = this.req.username
          params['role_type'] = this.req.role_type
          params['cell_phone'] = this.req.cell_phone
          // const params = {
          //   permission_list: this.info.permission.key
          // }
          params['permission_list'] = this.req.permission.key
          update(params).then(res => {
            console.log(res)
            this.$router.push('/gamecenter/manage/index')
          })
        } else {
          return false
        }
      })

      // console.log(params)
    }
  }
}
</script>

<style scoped>
  .margin{
    margin-bottom:20px
  }
  .header{
    margin-top:20px
  }
  span{
    font-size: 10px;
  }
  .footer{
    width:100%;
    text-align: center;
    margin:40px auto;
  }
</style>

