<template>
  <div style="padding: 10px">
    <el-card>
      <el-form label-width="100px" size="mini">
        <el-row>
          <el-col :span="8">
            <el-form-item label="管理员姓名" prop="username">
              <el-input v-model="form.username" />
            </el-form-item>
          </el-col>

          <el-col :span="8">
            <el-form-item label="管理员登录名" prop="name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-col>

          <el-col :span="8">
            <el-form-item label="管理员电话" prop="cell_phone">
              <el-input v-model="form.cell_phone" />
            </el-form-item>
          </el-col>

          <el-col :span="8">
            <el-form-item label="创建时间" prop="areaTram">
              <el-date-picker
                v-model="form.areaTram"
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                value-format="yyyy-MM-dd"
                style="width:100%"
              />
            </el-form-item>
          </el-col>

          <el-col :span="8">
            <el-form-item label="管理员ID" prop="id">
              <el-input v-model="form.id" style="width: 100%" />
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="2">
            <el-button size="mini" type="primary" @click="submitSearch">查询</el-button>
            <el-button size="mini" @click="reset('form')">重置</el-button>
          </el-col>
        </el-row>
      </el-form>
    </el-card>
    <el-card style="margin-top: 1px">
      <el-row>
        <el-col :span="8">
          <el-button size="mini" type="primary" @click="add">新增管理员</el-button>
        </el-col>
      </el-row>
      <el-table
        :header-cell-style="{background:'#eee',color:'#000',fontSize:'14px',height:'40px',textAlign:'center'}"
        :cell-style="{textAlign:'center',padding:'3px'}"
        :data="userList"
        border
        style="width: 100%;marginTop:20px"
      >
        <el-table-column
          prop="id"
          label="管理员ID"
          width="80px"
        />
        <el-table-column
          prop="username"
          label="管理员姓名"
        />
        <el-table-column
          prop="name"
          label="管理员登录名"
        />
        <el-table-column
          prop="cell_phone"
          label="管理员电话"
        />
        <el-table-column
          prop="role_type"
          label="权限"
        >
          <template slot-scope="scope">
            <p v-if="scope.row.role_type == 2">管理员</p>
            <p v-if="scope.row.role_type == 3">游客</p>
          </template>
        </el-table-column>
        <el-table-column
          prop="created_at"
          label="创建时间"
        />
        <el-table-column
          prop="cellPhone"
          label="操作"
        >
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="getInfo(scope.row.id)">查看详情</el-button>
            <el-button type="text" size="small" @click="editList(scope.row.id)">修改管理员</el-button>
            <el-button type="text" size="small" @click="code(scope.row.id,scope.row.username)">修改密码</el-button>
            <el-button type="text" size="small" @click="aqq(scope.row.id)">删除</el-button>
            <el-dialog
              title="修改密码"
              :visible.sync="dialogVisible"
              width="35%"
            >
              <el-form ref="ruleForm" :model="ruleForm" :rules="rules" label-width="100px" class="demo-ruleForm">
                <el-form-item label="管理员ID">
                  {{ id }}
                </el-form-item>
                <el-form-item label="管理员姓名">
                  {{ name }}
                </el-form-item>
                <el-form-item label="新密码" prop="new_password">
                  <el-input v-model=" ruleForm.new_password" />
                </el-form-item>
                <el-form-item label="确认密码" prop="re_password">
                  <el-input v-model=" ruleForm.re_password" />
                </el-form-item>
                <el-form-item>
                  <el-button @click="dialogVisible = false">取 消</el-button>
                  <el-button type="primary" @click="queding('ruleForm')">确 定</el-button>
                </el-form-item>
              </el-form>
            </el-dialog>
          </template>
        </el-table-column>
      </el-table>
      <div class="over">
        <el-pagination
          background
          layout="prev, pager, next"
          :total="total"
          :current-page="page"
          :page-size="per_page"
          @current-change="changePager"
        />
      </div>
    </el-card>

  </div>
</template>

<script>
import { list, codeList, deleteds } from '../../../api/admin'
import { Message } from 'element-ui'
export default {
  name: 'Index',
  data() {
    return {
      dialogVisible: false,
      userList: [],
      permission: {},
      id: '',
      name: '',
      ruleForm: {
        new_password: '',
        re_password: ''
      },
      form: {
        areaTram: [],
        name: '',
        username: '',
        cell_phone: '',
        created_at: '',
        id: ''
      },
      rules: {
        new_password: [
          { message: '请输入新密码', trigger: 'blur' }
        ],
        re_password: [
          { message: '请再次输入新密码', trigger: 'blur' }
        ]
      },
      total: 0,
      page: 1,
      per_page: 10
    }
  },
  mounted() {
    this.getList()
  },
  methods: {
    changePager(newPage) {
      this.page = newPage
      this.getList()
    },
    aqq(id) {
      this.$confirm('确定要删除该成员吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        deleteds(params).then(res => {
          Message({
            message: '删除成功',
            type: 'success',
            duration: 2000
          })
          this.getList()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    getInfo(id) {
      this.$router.push({ path: '/gamecenter/manage/info', query: { id: id }})
    },
    editList(id) {
      this.$router.push({ path: '/gamecenter/manage/edit', query: { id: id }})
    },
    code(id, name) {
      this.dialogVisible = true
      this.id = id
      this.name = name
    },
    queding(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          params['id'] = this.id
          params['new_password'] = this.ruleForm.new_password
          codeList(params).then(res => {
            console.log(res)
            this.dialogVisible = false
            this.getList()
          })
        } else {
          return false
        }
      })
    },
    add() {
      this.$router.push('/gamecenter/manage/add')
    },
    getList() {
      const params = this.form
      params['date_begin'] = this.form.areaTram[0]
      params['date_end'] = this.form.areaTram[1]
      params['page'] = this.page
      params['per_page'] = this.per_page
      list(params).then(res => {
        console.log(res)
        this.userList = res.data.list
        this.total = Number(res.data.total)
      })
    },
    submitSearch() {
      this.page = 1
      this.getList()
    },
    reset(formName) {
      this.$refs[formName].resetFields()
      this.page = 1
      this.getList()
    }
  }

}
</script>
<style scoped>
  margin{
    margin-bottom: 20px;
  }
  .over {
    width: 100%;
    text-align: center;
    margin: 20px auto;
  }

</style>
