<template>
  <div style="padding: 10px">
    <el-card>
      <h4>管理员信息</h4>
      <el-row :gutter="20" class="margin">
        <el-col :span="6">管理员ID:{{ info.id }}</el-col>
      </el-row>
      <el-row :gutter="20" class="margin">
        <el-col :span="6">管理员姓名:{{ info.name }}</el-col>
      </el-row>
      <el-row :gutter="20" class="margin">
        <el-col :span="6">管理员电话:{{ info.cell_phone }}</el-col>
      </el-row>
      <el-row :gutter="20" class="margin">
        <el-col :span="6">管理员登录名:{{ info.username }}</el-col>
      </el-row>
    </el-card>

    <el-card>
      <h4>管理范围</h4>

      <!--<el-checkbox-group v-model="info.permission.key">-->
      <!--<el-checkbox v-for="(item,index) in permissionLists" :label="item.id">{{item.name}}</el-checkbox>-->
      <!--</el-checkbox-group>-->

      <el-row class="header">
        <el-col :span="3">管理员权限范围:</el-col>
      </el-row>
      <el-row>
        <el-col>
          <ul>
<!--            <li v-for="item in info.permission.name" :key="item.id" class="margin">{{ item }}</li>-->
            <li v-if="info.role_type == 2" class="margin">管理员</li>
            <li v-if="info.role_type == 3" class="margin">游客</li>
          </ul>
        </el-col>
      </el-row>
    </el-card>
    <div class="footer">
      <el-button type="primary" style="width:120px" @click="clone">返回</el-button>
    </div>
  </div>
</template>

<script>
import { list, permession } from '../../../api/admin'
export default {
  name: 'Info',
  data() {
    return {
      info: {}
      // permissionLists:[],
    }
  },
  mounted() {
    this.getInfo()
    this.permissionList()
  },
  methods: {
    clone() {
      this.$router.push('/gamecenter/manage/index')
    },
    getInfo() {
      const id = this.$route.query.id
      list({ id: id }).then(res => {
        console.log(res)
        this.info = res.data.list[0]
      })
    },
    permissionList() {
      permession().then(res => {
        this.permissionLists = res.data
      })
    }
  }
}
</script>

<style scoped>
  .margin {
    padding: 20px
  }

  span {
    font-size: 10px;
  }

  .footer {
    width: 100%;
    text-align: center;
    margin: 40px auto;
  }
  .footers{
    margin-top:20px;
    margin-left:50px;
  }
</style>

