<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>新建技能</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form ref="form" :rules="rules" :model="form" label-width="130px">
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="所属英雄">
              <el-select v-model="form.hero_id" placeholder="请选择" filterable style="width: 100%">
                <el-option
                  v-for="(item,index) in hero_list"
                  :key="index"
                  :label="item.title +' · '+item.name+' ('+item.title_cn+' · '+item.name_cn+')' + '('+ item.id + ')'"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="技能编码">
              <el-select v-model="form.ability_code" placeholder="请选择" style="width: 100%">
                <el-option label="空" value=""></el-option>
                <el-option label="1" value="1"></el-option>
                <el-option label="2" value="2"></el-option>
                <el-option label="3" value="3"></el-option>
                <el-option label="4" value="4"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8" :offset="0">
            <el-form-item label="名称（英文）" prop="name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="名称（中文）">
              <el-input v-model="form.name_cn" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="默认快捷键" prop="hotkey">
              <el-input v-model="form.hotkey" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8">
            <el-form-item label="官方ID:">
              <el-input v-model="form.external_id" style="width: 100%" />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="官方名称:" prop="external_name">
              <el-input v-model="form.external_name" style="width: 100%" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="Slug" prop="slug">
              <el-input v-model="form.slug" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-row type="flex" class="row-bg">
              <el-form-item label="图标" prop="image">
                <el-upload
                  class="avatar-uploader"
                  :action="getUploadUrl1()"
                  :on-success="uploads1"
                  :before-upload="beforeAvatarUpload"
                >
                  <img v-if="form.image" style="width: 50px;height: 50px" :src="form.image" class="avatar">
                  <i v-else class="el-icon-plus avatar-uploader-icon" />
                </el-upload>
              </el-form-item>
            </el-row>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="描述（英文）">
              <el-input
                v-model="form.description"
                type="textarea"
                :rows="4"
                maxlength="1000"
                show-word-limit
              />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="描述（中文）">
              <el-input
                v-model="form.description_cn"
                type="textarea"
                :rows="4"
                maxlength="1000"
                show-word-limit
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-row type="flex" class="row-bg" justify="space-around">
        <div style="padding-top: 45px;text-align: center">
          <el-button type="primary" @click="onSubmit('form')">确认创建</el-button>
        </div>
      </el-row>
    </el-card>
  </div>
</template>

<script>
import { getUploadBaseApi } from '@/api/file.js'
import { dota_ability_add, dotagetHeroList } from '@/api/metadata'
export default {
  name: 'AbilityAdd',
  data() {
    return {
      hero_list: [],
      form: {
        hero_id: '',
        ability_code: '',
        name: '',
        name_cn: '',
        hotkey: '',
        external_name: '',
        external_id: '',
        slug: '',
        image: '',
        description: '',
        description_cn: ''
      },
      rules: {
        hero_id: [
          { required: true, message: '请选择英雄', trigger: 'change' }
        ],
        name: [
          { required: true, message: '请输入名称', trigger: 'change' }
        ],
        hotkey: [
          { required: true, message: '请输入', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入', trigger: 'change' }
        ],
        image: [
          { required: true, message: '请上传头像', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    'form.name': {
      handler: function() {
        this.form.slug = this.$yangJian.slug_rule(this.form.name)
      }
    }
  },
  mounted() {
    this.heroInfo()
  },
  methods: {
    beforeAvatarUpload(file) {
      console.log('file')
      console.log(file)
      // const isPNG = file.type === 'image/png || svg'
      const testmsg = file.type === 'image/png'
      const isLt1M = file.size / 1024 / 1024 < 1
      if (!testmsg) {
        this.$message.error('只能上传PNG格式!')
        return false
      }
      if (!isLt1M) {
        this.$message({
          message: '上传图标大小不能超过 1MB!',
          type: 'error'
        })
        return false
      }
      return testmsg || isLt1M
    },
    heroInfo() {
      const params = {}
      dotagetHeroList(params).then(req => {
        this.hero_list = req.data
        var tmp = { title: '空', name: '空', title_cn: '空', name_cn: '空', id: '' }
        this.hero_list.splice(0, 1, tmp)
      })
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          params['hero_id'] = this.form.hero_id
          params['ability_code'] = this.form.ability_code
          params['name'] = this.form.name
          params['name_cn'] = this.form.name_cn
          params['hotkey'] = this.form.hotkey
          params['external_name'] = this.form.external_name
          params['external_id'] = this.form.external_id
          params['slug'] = this.form.slug
          params['image'] = this.form.image
          params['description'] = this.form.description
          params['description_cn'] = this.form.description_cn
          dota_ability_add(params).then(req => {
            this.$message({
              type: 'success',
              message: '添加成功！'
            })
            this.$router.push('/gamecenter/dataManage/dota2/ability/ability_list')
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    },
    uploads1(res, file) {
      this.form.image = res.data.url
      console.log(res)
      // console.log(file)
    },
    getUploadUrl1() {
      return getUploadBaseApi()
    }
  }
}
</script>

<style scoped>

</style>
