<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>新建赛事</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-tabs type="border-card" :before-leave="(item)=>{return beforeLeave(item, 'core_data')}">
        <el-tab-pane label="核心内容">
          <el-form ref="core_data" :rules="rules" :model="core_data" :inline="true" label-width="140px" size="mini">
            <el-row type="flex" class="row-bg">
              <el-col :span="6" :offset="0">
                <el-form-item label="名称（英文）" prop="name">
                  <el-input v-model="core_data.name" style="width: 220px" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="名称（中文）">
                  <el-input v-model="core_data.name_cn" style="width: 220px" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="游戏项目" prop="game">
                  <el-select v-model="core_data.game" placeholder="请选择" style="width: 220px">
                    <el-option
                      v-for="(item,index) in games"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="状态" prop="status">
                  <el-select v-model="core_data.status" placeholder="请选择" style="width: 220px">
                    <el-option
                      v-for="(item,index) in tournament_state"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="6" :offset="0">
                <el-form-item label="计划开始日期">
                  <el-date-picker
                    v-model="core_data.scheduled_begin_at"
                    placeholder="请选择计划开始日期"
                    type="datetime"
                    value-format="yyyy-MM-dd HH:mm:ss"
                    style="width: 220px;"
                  />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="计划结束日期">
                  <el-date-picker
                    v-model="core_data.scheduled_end_at"
                    placeholder="请选择计划结束日期"
                    type="datetime"
                    value-format="yyyy-MM-dd HH:mm:ss"
                    style="width: 220px;"
                  />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="简称（英文）">
                  <el-input v-model="core_data.short_name" style="width: 220px" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="简称（中文）">
                  <el-input v-model="core_data.short_name_cn" style="width: 220px" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row />
            <el-row type="flex" class="row-bg">
              <el-col :span="6" :offset="0">
                <el-form-item ref="upload" label="图标" prop="image">
                  <el-upload
                    class="avatar-uploader"
                    :action="getUploadUrl()"
                    :on-success="uploads"
                    :before-upload="beforeAvatarUpload"
                  >
                    <img v-if="core_data.image" style="width:200px;height: 200px" :src="core_data.image" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon" />
                  </el-upload>
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="Slug" prop="slug">
                  <el-input v-model="core_data.slug" style="width: 220px" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit('core_data')">确认创建</el-button>
              </div>
            </el-row>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="基础内容">
          <el-form :model="form" label-width="140px">
            <el-row type="flex" class="row-bg">
              <!--              <el-col :span="6" :offset="0">-->
              <!--                <el-form-item label="Steam ID">-->
              <!--                  <el-input v-model="form.steam_id" />-->
              <!--                </el-form-item>-->
              <!--              </el-col>-->
              <!--              <el-col :span="6" :offset="0">-->
              <!--                <el-form-item label="系列赛">-->
              <!--                  <el-input v-model="form.series_match" />-->
              <!--                </el-form-item>-->
              <!--              </el-col>-->
              <el-col :span="6" :offset="0">
                <el-form-item label="队伍数量">
                  <el-input v-model="base_data.number_of_teams" @keyup.native="base_data.number_of_teams = proving(base_data.number_of_teams)" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="赛事级别">
                  <el-input v-model="base_data.tier" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="赛区">
                  <el-select v-model="base_data.region" placeholder="请选择" filterable style="width: 100%">
                    <el-option
                      v-for="(item,index) in all"
                      :key="index"
                      :label="item.e_name + ' '+'('+item.name+')'"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="举办国家地区">
                  <el-select v-model="base_data.country" placeholder="请选择" filterable style="width: 100%">
                    <el-option
                      v-for="(item,index) in all"
                      :key="index"
                      :label="item.e_name + ' '+'('+item.name+')'"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="6" :offset="0">
                <el-form-item label="举办地（英文）">
                  <el-input v-model="base_data.location" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="举办地（中文）">
                  <el-input v-model="base_data.location_cn" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="主办方（英文）">
                  <el-input v-model="base_data.organizer" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="主办方（中文）">
                  <el-input v-model="base_data.organizer_cn" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="6" :offset="0">
                <el-form-item label="游戏版本">
                  <el-input v-model="base_data.version" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="奖金">
                  <el-input v-model="base_data.prize_bonus" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="积分">
                  <el-input v-model="base_data.prize_points" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="名额">
                  <el-input v-model="base_data.prize_seed" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" />
            <el-row type="flex" class="row-bg">
              <el-col :span="6" :offset="0">
                <el-form-item label="地图池">
                  <el-input
                    v-model="base_data.map_pool"
                    type="textarea"
                    :rows="3"
                    maxlength="1000"
                    show-word-limit
                  />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="赛制介绍（英文）">
                  <el-input
                    v-model="base_data.format"
                    type="textarea"
                    :rows="3"
                    maxlength="1000"
                    show-word-limit
                  />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="赛制介绍（中文）">
                  <el-input
                    v-model="base_data.format_cn"
                    type="textarea"
                    :rows="3"
                    maxlength="1000"
                    show-word-limit
                  />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="6" :offset="0">
                <el-form-item label="赛事介绍（英文）">
                  <el-input
                    v-model="base_data.introduction"
                    type="textarea"
                    :rows="3"
                    maxlength="1000"
                    show-word-limit
                  />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="赛事介绍（中文）">
                  <el-input
                    v-model="base_data.introduction_cn"
                    type="textarea"
                    :rows="3"
                    maxlength="1000"
                    show-word-limit
                  />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit('core_data')">确认创建</el-button>
              </div>
            </el-row>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="奖池分配">
          <el-form :model="form" :inline="true" label-width="50px" size="mini">
            <div v-if="!team_list.length" style="text-align: center">
              <el-button type="primary" @click="onSubAdd(0)">添加</el-button>
            </div>
            <div v-for="(item, index) in team_list" :key="index" style="padding-bottom: 15px">
              <el-row type="flex" class="row-bg">
                <el-col :span="4" :offset="1">
                  <el-form-item label="排名">
                    <el-input v-model="item.rank" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" :offset="0">
                  <el-form-item label="奖金">
                    <el-input v-model="item.price" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" :offset="0">
                  <el-form-item label="积分">
                    <el-input v-model="item.score" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" :offset="0">
                  <el-form-item label="名额">
                    <el-input v-model="item.num" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" :offset="0">
                  <el-form-item label="战队">
                    <el-select v-model="item.team_id" placeholder="请选择" filterable style="width: 100%">
                      <el-option
                        v-for="(item,index) in all_get_teams"
                        :key="index"
                        :label="item.name"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="2">
                  <el-form-item>
                    <el-button type="text" size="small" @click="onSubAdd(index)">添加</el-button>
                    <el-button type="text" size="small" @click="onSubDel(index)">删除</el-button>
                  </el-form-item>
                </el-col>
              </el-row>
            </div>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit('core_data')">确认创建</el-button>
              </div>
            </el-row>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="参赛战队">
          <el-row type="flex" class="row-bg">
            <el-col :span="4" :offset="4">
              <el-input
                v-model="input_lift"
                placeholder="请输入内容"
                prefix-icon="el-icon-search"
                style="width: 300px"
              />
            </el-col>
            <!--            <el-col :span="3" :offset="5">-->
            <!--              <el-button type="primary" size="mini">更新战队快照</el-button>-->
            <!--            </el-col>-->
            <!--            <el-col :span="2">-->
            <!--              <el-button type="primary" size="mini">查看战队快照</el-button>-->
            <!--            </el-col>-->
          </el-row>
          <el-row type="flex" class="row-bg">
            <el-col :span="18" :offset="4">
              <el-transfer
                v-model="form.tournament_team_ids"
                :titles="['战队列表', '参赛战队列表']"
                :data="data"
                @change="handleChange"
              >
                <div slot-scope="{ option }">
                  <el-avatar :size="30" :src="option.image" shape="square" style="vertical-align:middle;text-align: center;background-color: white" />
                  <span> {{ option.label }}</span>
                </div>
                <el-button slot="left-footer" class="transfer-footer" size="small" @click="upPage">上页</el-button>
                <el-button slot="left-footer" class="transfer-footer" size="small">第{{ page }}页</el-button>
                <el-button slot="left-footer" class="transfer-footer" size="small" @click="downPage">下页</el-button>
              </el-transfer>
            </el-col>
          </el-row>
          <el-row />
          <el-row type="flex" class="row-bg" justify="space-around">
            <el-col :span="6" style="padding-top: 35px">
              <el-form :model="form" label-width="100px">
                <el-form-item>
                  <el-button type="primary" @click="onSubmit('core_data')">确认创建</el-button>
                </el-form-item>
              </el-form>
            </el-col>
          </el-row>
        </el-tab-pane>
        <el-tab-pane label="参赛条件">
          <el-form :model="form" :inline="true" label-width="140px" size="mini">
            <div v-if="!team_num_list.length" style="text-align: center">
              <el-button type="primary" @click="onSubAddRelation(0)">添加</el-button>
            </div>
            <el-row v-for="(item,index) in team_num_list" :key="index" type="flex" class="row-bg">
              <!--              <el-col :span="6" :offset="0">-->
              <!--                <el-form-item label="参赛战队">-->
              <!--                  <el-input v-model="item.team_name" disabled />-->
              <!--                </el-form-item>-->
              <!--              </el-col>-->
              <el-col :span="5" :offset="0">
                <el-form-item label="战队">
                  <el-select v-model="item.team_id" placeholder="请选择" filterable style="width: 100%">
                    <el-option
                      v-for="(item,index) in all_get_teams"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="5" :offset="0">
                <el-form-item label="参赛条件(英文)">
                  <el-input v-model="item.match_condition" />
                </el-form-item>
              </el-col>
              <el-col :span="5" :offset="0">
                <el-form-item label="参赛条件(中文)">
                  <el-input v-model="item.match_condition_cn" />
                </el-form-item>
              </el-col>
              <el-col :span="5" :offset="0">
                <el-form-item label="队伍排序">
                  <el-input v-model="item.team_sort" @keyup.native="item.team_sort = proving(item.team_sort)" />
                </el-form-item>
              </el-col>
              <el-col :span="2">
                <el-form-item>
                  <el-button type="text" size="small" @click="onSubAddRelation(index)">添加</el-button>
                  <el-button type="text" size="small" @click="onSubDelRelation(index)">删除</el-button>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit('core_data')">确认创建</el-button>
              </div>
            </el-row>
          </el-form>
        </el-tab-pane>
      </el-tabs>
    </el-card>
  </div>
</template>
<script>
import { get_tournament_state, get_games } from '@/api/common'
import { getUploadBaseApi } from '@/api/file.js'
import { get_country } from '@/api/clan'
import { search_team } from '@/api/team'
import { tournamentEdit, update_team_snapshot } from '@/api/tournament'
export default {
  name: 'Add',
  data() {
    return {
      team_num_list: [],
      'core_data': {
        'id': '',
        'name': '',
        'name_cn': '',
        'game': '',
        'status': '',
        'scheduled_begin_at': '',
        'scheduled_end_at': '',
        'slug': '',
        'short_name': '',
        'short_name_cn': '',
        'son_match_sort': '',
        'image': '',
        'type': 1,
        'tree_id': '',
        'cuser': '',
        'created_at': '',
        'modified_at': '',
        'deleted_at': ''
      },
      'base_data': {
        'id': '',
        'tournament_id': '',
        'steam_id': '',
        'series_match': '',
        'number_of_teams': '',
        'tier': '',
        'country': '',
        'location': '',
        'location_cn': '',
        'match_range': '',
        'organizer': '',
        'organizer_cn': '',
        'version': '',
        'prize_bonus': '',
        'prize_points': '',
        'map_pool': '',
        'top_reward': '',
        'introduction': '',
        'introduction_cn': '',
        'format': '',
        'format_cn': '',
        'region': '',
        'prize_seed': ''
      },
      'tournament_team_relation': [],
      get_teams: [],
      all_get_teams: [{ 'id': '', 'name': '空', 'e_name': 'null' }],
      page: 1,
      per_page: 40,
      total: 20,
      input_lift: '',
      newteam: [],
      team_num: '',
      team_list: [],
      searchTeam: [],
      all: [{ 'id': '', 'name': '空', 'e_name': 'null' }],
      country: [],
      allgame: [{ 'id': '0', 'name': '全部', 'e_name': 'all' }],
      games: [],
      tournament_state: [],
      textarea: '',
      scheduled_timeArea: [],
      timeArea: [],
      original_scheduled_timeArea: [],
      form: {
        name: '',
        name_cn: '',
        game: '',
        status: '',
        is_rescheduled: '2',
        short_name: '',
        short_name_cn: '',
        image: '',
        steam_id: '',
        series_match: '',
        number_of_teams: '',
        tier: '',
        country: '',
        location: '',
        location_cn: '',
        prize_seed: '',
        region: '',
        organizer: '',
        organizer_cn: '',
        version: '',
        slug: '',
        prize_bonus: '',
        prize_points: '',
        top_reward: '',
        map_pool: '',
        format: '',
        format_cn: '',
        introduction_cn: '',
        introduction: '',
        tournament_team_ids: []
      },
      data: [],
      value: [],
      filterMethod(query, item) {
        return item.pinyin.indexOf(query) > -1
      },
      rules: {
        name: [
          { required: true, message: '请输入赛事名称', trigger: 'change' }
        ],
        game: [
          { required: true, message: '请选择游戏项目', trigger: 'change' }
        ],
        status: [
          { required: true, message: '请选择赛事状态', trigger: 'change' }
        ],
        image: [
          { required: true, message: '请上传图标', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入', trigger: 'change' }
        ],
        is_rescheduled: [
          { required: true, message: '请选择', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    input_lift() {
      this.page = 1
      this.info_search_team(this.input_lift)
    },
    page() {
      this.info_search_team(this.input_lift)
    },
    'core_data.name': {
      handler: function() {
        this.core_data.slug = this.$yangJian.slug_rule(this.core_data.name)
      }
    },
    'form.tournament_team_ids': {
      handler: function() {
        this.get_teams_list()
      }
    },
    'core_data.game': {
      handler() {
        this.info_search_team()
      }
    },
    'core_data.status': {
      handler: function() {
        if (this.core_data.status === 4) {
          this.scheduled_timeArea = ''
        }
      }
    }
  },
  mounted() {
    this.infostate()
    this.infoGames()
    this.infoCountry()
    this.info_search_team()
  },
  methods: {
    onSubAddRelation(id) {
      var tmp = { team_id: '', match_condition: '', match_condition_cn: '', team_sort: '' }
      this.team_num_list.splice(id + 1, 0, tmp)
    },
    onSubDelRelation(id) {
      for (var i = 0; i < this.team_num_list.length + 1; i++) {
        if (i === id) {
          this.team_num_list.splice(i, 1)
        }
      }
    },
    proving(data) {
      return this.$yangJian.integer_proving(data)
    },
    beforeLeave(item, formName) {
      console.log('old')
      console.log(formName)
      if (item === '0') {
        return true
      } else {
        let k = true
        this.$refs[formName].validate((valid) => {
          if (valid) {
            k = true
          } else {
            this.$message.error('请填写完整必填项')
            k = false
          }
        })
        return k
      }
    },
    get_teams_list() {
      this.get_teams = []
      this.all_get_teams = [{ 'id': '', 'name': '空', 'e_name': 'null' }]
      this.form.tournament_team_ids.forEach(id => {
        this.searchTeam.forEach(item => {
          if (id === item.id) {
            this.get_teams.push(item)
          }
        })
      })
      this.all_get_teams.push.apply(this.all_get_teams, this.get_teams)
    },
    beforeAvatarUpload(file) {
      console.log('file')
      console.log(file)
      // const isPNG = file.type === 'image/png || svg'
      const testmsg = file.type === 'image/png'
      const isLt1M = file.size / 1024 / 1024 < 1
      if (!testmsg) {
        this.$message.error('只能上传PNG格式!')
        return false
      }
      if (!isLt1M) {
        this.$message({
          message: '上传图标大小不能超过 1MB!',
          type: 'error'
        })
        return false
      }
      return testmsg || isLt1M
    },
    upPage() {
      if (this.page > 1) {
        this.page -= 1
      }
    },
    downPage() {
      if (parseInt(this.total / this.per_page) >= this.page) {
        this.page += 1
      }
    },
    onSubAdd(id) {
      var tmp = { rank: '', price: '', score: '', num: '', team_id: '' }
      this.team_list.splice(id + 1, 0, tmp)
    },
    onSubDel(id) {
      for (var i = 0; i < this.team_list.length + 1; i++) {
        if (i === id) {
          this.team_list.splice(i, 1)
        }
      }
    },
    handleChange(value, direction, movedKeys) {
      var teamid = this.form.tournament_team_ids
      var teams = this.data
      // this.newteam = []
      var n = 0
      teams.forEach(k => {
        for (var i in teamid) {
          var team = { team_id: '', name: '', match_condition: '', match_condition_cn: '', team_sort: '' }
          if (teamid[i] === k.key) {
            team['team_id'] = k.key
            team['team_name'] = k.pinyin
            team['name'] = k.label
            // n.push(team)
            for (var z in this.newteam) {
              n = 0
              if (k.key === this.newteam[z].team_id) {
                n = 1
                break
              }
            }
            if (n === 0) {
              this.newteam.push(team)
            }
          }
        }
      })
      if (teamid.length !== this.newteam.length) {
        var list = []
        for (var q in this.newteam) {
          for (var m in teamid) {
            if (this.newteam[q].team_id === teamid[m]) {
              list.push(this.newteam[q])
              break
            }
          }
        }
        this.newteam = list
      }
      // this.newteam = team
    },
    info_search_team(info) {
      const params = {}
      params['game_id'] = this.core_data.game
      params['keyword'] = info
      params['page'] = this.page
      params['per_page'] = this.per_page
      search_team(params).then(req => {
        this.searchTeam = req.data.list
        this.total = req.data.total
        const data = []
        const cities = req.data.list
        cities.forEach((city, index) => {
          data.push({
            label: city.name + ' ' + '(' + city.id + ')' + ' ' + city.country_name,
            key: city.id,
            pinyin: city.name,
            image: city.image
          })
        })
        this.form.tournament_team_ids.forEach(item => {
          this.data.forEach(info => {
            if (item === info.key) {
              var m = 0
              data.forEach(k => {
                if (item === k.key) {
                  m = 1
                }
              })
              if (m === 0) {
                data.push(info)
              }
            }
          })
        })
        this.data = data
      })
    },
    generateData() {
      const data = []
      const cities = this.searchTeam
      cities.forEach((city, index) => {
        data.push({
          label: city.team_name,
          key: city.id,
          pinyin: city.team_name
        })
      })
      return data
    },
    infoCountry() {
      const params = {}
      get_country(params).then(req => {
        this.country = req.data
        this.all.push.apply(this.all, this.country)
      })
    },
    uploads(res, file) {
      this.core_data.image = res.data.url
      this.$refs.upload.clearValidate()
      console.log(res)
      // console.log(file)
    },
    getUploadUrl() {
      return getUploadBaseApi()
    },
    infoGames() {
      const params = {}
      get_games(params).then(req => {
        this.games = req.data
        this.allgame.push.apply(this.allgame, this.games)
      })
    },
    infostate() {
      const params = {}
      get_tournament_state(params).then(req => {
        this.tournament_state = req.data
      })
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          params['type'] = 1
          params['parent_tree_id'] = 0
          var core_info = { ...this.core_data }
          core_info.type = 1
          // if (this.scheduled_timeArea) {
          //   core_info.scheduled_begin_at = this.scheduled_timeArea[0]
          //   core_info.scheduled_end_at = this.scheduled_timeArea[1]
          // } else {
          //   core_info.scheduled_begin_at = ''
          //   core_info.scheduled_end_at = ''
          // }
          params['core_data'] = core_info
          params['base_data'] = this.base_data
          params['tournament_team_relation'] = JSON.stringify(this.team_num_list)
          params['attend_team'] = JSON.stringify(this.form.tournament_team_ids)
          if (this.team_list) {
            params['tournament_price_distribute'] = JSON.stringify(this.team_list)
          }
          tournamentEdit(params).then(req => {
            const params = {}
            params['new_team_ids'] = this.form.tournament_team_ids.toString()
            params['old_team_ids'] = ''
            params['is_update'] = '2'
            params['relation_id'] = req.data.id
            params['type'] = 'tournament'
            update_team_snapshot(params).then(req => {
              this.$message({
                type: 'success',
                message: '添加成功！'
              })
              this.$router.push('/gamecenter/tournament/tournamentInfo/list')
            })
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
  .transfer-footer {
    margin-left: 23px;
    /*padding: 6px 5px;*/
  }
</style>
