<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>赛事更新设置</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-row type="flex" class="row-bg" align="middle">
        <el-col :span="2">
          <img v-if="allgames[tournamentInfo.game]" :src="allgames[tournamentInfo.game].logo" style="width: 50px; height: 50px">
        </el-col>
        <el-col :span="2">
          <img v-if="tournamentInfo" :src="tournamentInfo.image" style="width: 50px; height: 50px">
        </el-col>
        <el-col :span="18">
          <span>{{ tournamentInfo.name }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span>ELS ID:  {{ tournamentInfo.id }}</span>
        </el-col>
      </el-row>
      <el-form label-width="100px">
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item>核心内容：</el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="使用数据源">
              <el-select v-model="tournament['tournament.core_data'].origin_id" placeholder="请选择">
                <el-option
                  v-for="(item,index) in enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="更新方式">
              <el-select v-model="tournament['tournament.core_data'].update_type" placeholder="请选择">
                <el-option label="不更新" value="1" />
                <el-option label="手动" value="2" />
                <el-option label="自动" value="3" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item>基础内容：</el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="使用数据源">
              <el-select v-model="tournament['tournament.base_data'].update_type" placeholder="请选择">
                <el-option
                  v-for="(item,index) in enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="更新方式">
              <el-select v-model="tournament['tournament.base_data'].update_type" placeholder="请选择">
                <el-option label="不更新" value="1" />
                <el-option label="手动" value="2" />
                <el-option label="自动" value="3" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item>参赛战队：</el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="使用数据源">
              <el-select v-model="tournament['tournament.base_data'].update_type" placeholder="请选择">
                <el-option
                  v-for="(item,index) in enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="更新方式">
              <el-select v-model="tournament['tournament.base_data'].update_type" placeholder="请选择">
                <el-option label="不更新" value="1" />
                <el-option label="手动" value="2" />
                <el-option label="自动" value="3" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <div style="padding-top: 45px;text-align: center">
            <el-button type="primary" @click="onSubmit">确认修改</el-button>
          </div>
        </el-row>
      </el-form>
      <el-form v-if="false" ref="form" :model="form" label-width="100px">
        <el-tabs v-model="activeName" type="card">
          <el-tab-pane label="赛事" name="first" />
          <el-row type="flex" class="row-bg">
            <el-col :span="6" :offset="4">
              <p>核心内容：</p>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg">
            <el-col :span="6" :offset="4">
              <el-form-item label="使用数据源">
                <el-select v-model="form.origin_id" placeholder="请选择">
                  <el-option
                    v-for="(item,index) in enum_origin_list"
                    :key="index"
                    :label="item.desc"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6" :offset="3">
              <el-form-item label="更新方式">
                <el-select v-model="form.region" placeholder="不更新">
                  <el-option label="区域一" value="shanghai" />
                  <el-option label="区域二" value="beijing" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg">
            <el-col :span="6" :offset="4">
              <p>基础内容：</p>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg">
            <el-col :span="6" :offset="4">
              <el-form-item label="使用数据源">
                <el-select v-model="form.origin_id" placeholder="请选择">
                  <el-option
                    v-for="(item,index) in enum_origin_list"
                    :key="index"
                    :label="item.desc"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6" :offset="3">
              <el-form-item label="更新方式">
                <el-select v-model="form.region" placeholder="手动">
                  <el-option label="区域一" value="shanghai" />
                  <el-option label="区域二" value="beijing" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg">
            <el-col :span="6" :offset="4">
              <p>参赛战队：</p>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg">
            <el-col :span="6" :offset="4">
              <el-form-item label="使用数据源">
                <el-select v-model="form.origin_id" placeholder="请选择">
                  <el-option
                    v-for="(item,index) in enum_origin_list"
                    :key="index"
                    :label="item.desc"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6" :offset="3">
              <el-form-item label="更新方式">
                <el-select v-model="form.region" placeholder="自动">
                  <el-option label="区域一" value="shanghai" />
                  <el-option label="区域二" value="beijing" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
        </el-tabs>
        <el-tabs v-model="activeName" type="card">
          <el-tab-pane label="子赛事" name="first" />
          <el-row type="flex" class="row-bg">
            <el-col :span="6" :offset="4">
              <p>核心内容：</p>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg">
            <el-col :span="6" :offset="4">
              <el-form-item label="使用数据源">
                <el-select v-model="form.origin_id" placeholder="请选择">
                  <el-option
                    v-for="(item,index) in enum_origin_list"
                    :key="index"
                    :label="item.desc"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6" :offset="3">
              <el-form-item label="更新方式">
                <el-select v-model="form.region" placeholder="不更新">
                  <el-option label="区域一" value="shanghai" />
                  <el-option label="区域二" value="beijing" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg">
            <el-col :span="6" :offset="4">
              <p>基础内容：</p>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg">
            <el-col :span="6" :offset="4">
              <el-form-item label="使用数据源">
                <el-select v-model="form.origin_id" placeholder="请选择">
                  <el-option
                    v-for="(item,index) in enum_origin_list"
                    :key="index"
                    :label="item.desc"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6" :offset="3">
              <el-form-item label="更新方式">
                <el-select v-model="form.region" placeholder="手动">
                  <el-option label="区域一" value="shanghai" />
                  <el-option label="区域二" value="beijing" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg">
            <el-col :span="6" :offset="4">
              <p>参赛战队：</p>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg">
            <el-col :span="6" :offset="4">
              <el-form-item label="使用数据源">
                <el-select v-model="form.origin_id" placeholder="请选择">
                  <el-option
                    v-for="(item,index) in enum_origin_list"
                    :key="index"
                    :label="item.desc"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6" :offset="3">
              <el-form-item label="更新方式">
                <el-select v-model="form.region" placeholder="自动">
                  <el-option label="区域一" value="shanghai" />
                  <el-option label="区域二" value="beijing" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
        </el-tabs>
        <el-tabs v-model="activeName" type="card">
          <el-tab-pane label="阶段" name="first" />
          <el-row type="flex" class="row-bg">
            <el-col :span="6" :offset="4">
              <p>核心内容：</p>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg">
            <el-col :span="6" :offset="4">
              <el-form-item label="使用数据源">
                <el-select v-model="form.origin_id" placeholder="请选择">
                  <el-option
                    v-for="(item,index) in enum_origin_list"
                    :key="index"
                    :label="item.desc"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6" :offset="3">
              <el-form-item label="更新方式">
                <el-select v-model="form.region" placeholder="不更新">
                  <el-option label="区域一" value="shanghai" />
                  <el-option label="区域二" value="beijing" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
        </el-tabs>
        <el-tabs v-model="activeName" type="card">
          <el-tab-pane label="分组" name="first" />
          <el-row type="flex" class="row-bg">
            <el-col :span="6" :offset="4">
              <p>核心内容：</p>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg">
            <el-col :span="6" :offset="4">
              <el-form-item label="使用数据源">
                <el-select v-model="form.origin_id" placeholder="请选择">
                  <el-option
                    v-for="(item,index) in enum_origin_list"
                    :key="index"
                    :label="item.desc"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6" :offset="3">
              <el-form-item label="更新方式">
                <el-select v-model="form.region" placeholder="不更新">
                  <el-option label="区域一" value="shanghai" />
                  <el-option label="区域二" value="beijing" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg">
            <el-col :span="6" :offset="4">
              <p>参赛战队：</p>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg">
            <el-col :span="6" :offset="4">
              <el-form-item label="使用数据源">
                <el-select v-model="form.origin_id" placeholder="请选择">
                  <el-option
                    v-for="(item,index) in enum_origin_list"
                    :key="index"
                    :label="item.desc"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6" :offset="3">
              <el-form-item label="更新方式">
                <el-select v-model="form.region" placeholder="手动">
                  <el-option label="区域一" value="shanghai" />
                  <el-option label="区域二" value="beijing" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg" justify="space-around">
            <el-col :span="6" style="padding-top: 45px">
              <el-form-item>
                <el-button type="primary" @click="onSubmit">确认修改</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-tabs>
      </el-form>
    </el-card>
  </div>
</template>
<script>
import { tournamentInfo } from '@/api/tournament'
import { config_batch } from '@/api/data'
import { mapGetters } from 'vuex'
export default {
  data() {
    return {
      tournamentInfo: {},
      activeName: '',
      textarea: '',
      form: {},
      tournament: {
        'tournament.attend_team': {
          origin_id: '',
          update_type: ''
        },
        'tournament.base_data': {
          origin_id: '',
          update_type: ''
        },
        'tournament.core_data': {
          origin_id: '',
          update_type: ''
        }
      }
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  mounted() {
    this.getInfo()
  },
  methods: {
    onSubmit() {
      const params = {}
      params['game_id'] = this.form.games
      params['resource_type'] = 'tournament'
      params['config'] = this.tournament
      config_batch(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
      })
      this.$router.push('/gamecenter/tournament/tournamentInfo/list')
    },
    getInfo() {
      const params = {}
      params['id'] = this.$route.query.id
      tournamentInfo(params).then(req => {
        this.tournamentInfo = req.data
      })
    }
  }
}
</script>

<style scoped>

</style>
