<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>编辑赛事</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-row>
        <el-col :span="18" :offset="2">
          <el-tree
            :data="data"
            :default-expand-all="true"
            :expand-on-click-node="false"
            :indent="30"
            style="margin-top: 20px"
          >
            <span slot-scope="{ node, data }" class="custom-tree-node">
              <span>{{ node.label }}</span>
              <span>
                <el-button
                  type="text"
                  size="mini"
                  @click="() => onedit(node,data)"
                >
                  <span v-if="node.data.type =='1'">编辑</span>
                  <span v-if="node.data.type =='2'">编辑</span>
                  <span v-if="node.data.type =='3'">编辑</span>
                  <span v-if="node.data.type =='4'">编辑</span>
                  <span v-if="node.data.type =='5'">编辑</span>
                </el-button>
                <el-button
                  type="text"
                  size="mini"
                  @click="() => remove(node, data)"
                >
                  <span v-if="node.data.type == '2'">删除</span>
                  <span v-if="node.data.type == '3'">删除</span>
                  <span v-if="node.data.type == '4'">删除</span>
                  <span v-if="node.data.type == '5'">删除</span>
                  <span v-if="node.data.type == '1'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </el-button>
                <el-button
                  type="text"
                  size="mini"
                  @click="() => append(node,data)"
                >
                  <span v-if="node.data.type =='1'">添加子项</span>
                  <span v-if="node.data.type =='2'">添加子项</span>
                  <span v-if="node.data.type =='3'">添加子项</span>
                  <span v-if="node.data.type =='4'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <span v-if="node.data.type =='5'">添加子项</span>
                </el-button>
              </span>
            </span>
          </el-tree>
        </el-col>
      </el-row>
      <!--      编辑赛事-->
      <el-dialog
        title="编辑赛事"
        :visible.sync="edit"
        width="90%"
      >
        <span>
          <edit v-if="edit" :query-id="this.queryId" :treeid="this.data[0].id" @onedit1="onedit1" />
        </span>
        <span slot="footer" class="dialog-footer" />
      </el-dialog>
      <!--      编辑子赛事-->
      <el-dialog
        title="编辑子赛事"
        :visible.sync="edit1"
        width="95%"
      >
        <span>
          <add1 v-if="edit1" adds="1" :query-id="this.queryId" :treeid="this.treeid" :primarykey="this.primarykey" @onadd1="onadd1" />
        </span>
        <span slot="footer" class="dialog-footer" />
      </el-dialog>
      <!--      编辑阶段-->
      <el-dialog
        title="编辑阶段"
        :visible.sync="edit2"
        width="90%"
      >
        <span>
          <add2 v-if="edit2" adds="1" :query-id="this.queryId" :treeid="this.treeid" @onadd2="onadd2" />
        </span>
        <span slot="footer" class="dialog-footer" />
      </el-dialog>
      <!--      编辑分组-->
      <el-dialog
        title="编辑分组"
        :visible.sync="edit3"
        width="90%"
      >
        <span>
          <add3 v-if="edit3" adds="1" :query-id="this.queryId" :treeid="this.treeid" :primarykey="this.primarykey" :parent-id="this.parentId" @onadd3="onadd3" />
        </span>
        <span slot="footer" class="dialog-footer" />
      </el-dialog>
      <el-dialog
        title="编辑目录"
        :visible.sync="edit4"
        width="90%"
      >
        <span>
          <add4 v-if="edit4" adds="1" :query-id="this.queryId" :treeid="this.treeid" @onadd4="onadd4" />
        </span>
        <span slot="footer" class="dialog-footer" />
      </el-dialog>
      <!--添加子赛事-->
      <el-dialog
        title="添加子赛事"
        :visible.sync="append1"
        width="95%"
      >
        <span>
          <add1 v-if="append1" :query-id="this.queryId" :treeid="this.treeid" @onadd1="onadd1" />
        </span>
        <span slot="footer" class="dialog-footer" />
      </el-dialog>
      <!--添加阶段-->
      <el-dialog
        title="添加阶段"
        :visible.sync="append2"
        width="95%"
      >
        <span>
          <add2 v-if="append2" :query-id="this.queryId" :treeid="this.treeid" @onadd2="onadd2" />
        </span>
        <span slot="footer" class="dialog-footer" />
      </el-dialog>
      <!--添加分组-->
      <el-dialog
        title="添加分组"
        :visible.sync="append3"
        width="95%"
      >
        <span>
          <add3 v-if="append3" :query-id="this.queryId" :treeid="this.treeid" :primarykey="this.primarykey" :stage="1" @onadd3="onadd3" />
        </span>
        <span slot="footer" class="dialog-footer" />
      </el-dialog>
      <el-dialog
        title="添加目录"
        :visible.sync="append4"
        width="95%"
      >
        <span>
          <add4 v-if="append4" :query-id="this.queryId" :treeid="this.treeid" @onadd4="onadd4" />
        </span>
        <span slot="footer" class="dialog-footer" />
      </el-dialog>
      <el-dialog
        title="请选择创建类型"
        :visible.sync="onadd"
        width="30%"
      >
        <span>
          <el-radio-group v-model="radio">
            <el-radio v-if="tree_type == '1'" :label="4">目录</el-radio>
            <el-radio v-if="tree_type == '1'||tree_type == '5'" :label="1">子赛事</el-radio>
            <el-radio v-if="tree_type == '1'||tree_type == '2'||tree_type == '5'" :label="2">阶段</el-radio>
            <el-radio v-if="tree_type == '3'" :label="3">分组</el-radio>
          </el-radio-group>
        </span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="onadd = false">取 消</el-button>
          <el-button type="primary" @click="submit">确 定</el-button>
        </span>
      </el-dialog>
    </el-card>
  </div>
</template>

<script>
import add1 from '../../../comopnent/tournament/add1'
import add2 from '../../../comopnent/tournament/add2'
import add3 from '../../../comopnent/tournament/add3'
import add4 from '../../../comopnent/tournament/add4'
import edit from '../../../comopnent/tournament/edit'
import { tournamentTree, del_son_tournament, del_stage, del_group } from '@/api/tournament'
export default {
  name: 'Start',
  components: { add2, add1, add3, add4, edit },
  data() {
    return {
      parent_id: '',
      primarykey: '',
      tree_type: '',
      treeid: '',
      radio: '',
      onadd: false,
      treeinfo: [],
      queryId: '',
      childrenmessage: '',
      checkList: [],
      textarea: '',
      url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
      edit1: false,
      edit2: false,
      edit3: false,
      edit4: false,
      edit: false,
      append1: false,
      append2: false,
      append3: false,
      append4: false,
      form: [],
      datas: [],
      data: [
        {
          id: 1,
          label: '赛事',
          children: [{
            id: 2,
            label: '子赛事',
            children: [{
              id: 3,
              label: '阶段',
              children: [{
                id: 4,
                label: '分组'
              }]
            }]
          }]
        }
      ]
    }
  },
  mounted() {
    // this.getTournamentInfo()
    this.getTournamentTree()
    this.queryId = this.$route.query.id
  },
  methods: {
    getUpdata() {
      if (this.$route.query.tag_type) {
        this.edit = true
      }
    },
    getTournamentTree() {
      const params = {}
      params['id'] = this.$route.query.id
      tournamentTree(params).then(req => {
        var obj = req.data
        var m = {}
        for (var i in obj) {
          m = obj[i]
        }
        function conver(m) {
          const tmp = {
            id: m.id,
            tournamxent_id: m.tournament_id,
            type: m.type,
            parent_id: m.parent_id,
            primary_key: m.primary_key,
            label: kk(m),
            children: []
          }
          if (m.son) {
            for (var i in m.son) {
              tmp.children.push(conver(m.son[i]))
            }
          }
          function kk(m) {
            if (m.type === '1') {
              return '赛事：' + m.tree_name
            }
            if (m.type === '2') {
              return '子赛事：' + m.tree_name
            }
            if (m.type === '3') {
              return '阶段：' + m.tree_name
            }
            if (m.type === '4') {
              return '分组：' + m.tree_name
            }
            if (m.type === '5') {
              return '目录：' + m.tree_name
            }
          }
          return tmp
        }
        this.data = [conver(m)]
        // this.queryId = this.data[0].id
        this.getUpdata()
      })
    },
    onSubmit() {},
    onedit(data) {
      this.parentId = data.data.parent_id
      this.primarykey = data.data.primary_key
      this.treeid = data.data.id
      console.log(data.data)
      if (data.data.type === '1') {
        this.edit = true
      }
      if (data.data.type === '2') {
        this.edit1 = true
      }
      if (data.data.type === '3') {
        this.edit2 = true
      }
      if (data.data.type === '4') {
        this.edit3 = true
      }
      if (data.data.type === '5') {
        this.edit4 = true
      }
    },
    onedit1() {
      this.edit = false
      this.getTournamentTree()
    },
    onadd1() {
      this.append1 = false
      this.edit1 = false
      this.getTournamentTree()
    },
    onadd2() {
      this.append2 = false
      this.edit2 = false
      this.getTournamentTree()
    },
    onadd3() {
      this.append3 = false
      this.edit3 = false
      this.getTournamentTree()
    },
    onadd4() {
      this.append4 = false
      this.edit4 = false
      this.getTournamentTree()
    },
    append(data) {
      if (data.data.type !== '4') {
        this.onadd = true
        this.tree_type = data.data.type
        this.treeid = data.data.id
        this.primarykey = data.data.primary_key
        console.log(data)
        console.log(data.data.id)
      }
    },
    submit() {
      if (this.radio === 1) {
        this.append1 = true
      }
      if (this.radio === 2) {
        this.append2 = true
      }
      if (this.radio === 3) {
        this.append3 = true
      }
      if (this.radio === 4) {
        this.append4 = true
      }
      this.onadd = false
    },

    remove(node, data) {
      if (node.data.type === '2') {
        this.$confirm('此操作将永久删除该子项, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const params = {}
          params['tree_id'] = node.data.id
          del_son_tournament(params).then(req => {
            this.getTournamentTree()
            this.$message({
              type: 'success',
              message: '删除成功！'
            })
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
      }
      if (node.data.type === '3') {
        this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const params = {}
          params['tree_id'] = node.data.id
          del_stage(params).then(req => {
            this.getTournamentTree()
            this.$message({
              type: 'success',
              message: '删除成功！'
            })
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
      }
      if (node.data.type === '4') {
        this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const params = {}
          params['tree_id'] = node.data.id
          del_group(params).then(req => {
            this.getTournamentTree()
            this.$message({
              type: 'success',
              message: '删除成功！'
            })
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
      }
      if (node.data.type === '5') {
        this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const params = {}
          params['tree_id'] = node.data.id
          del_stage(params).then(req => {
            this.getTournamentTree()
            this.$message({
              type: 'success',
              message: '删除成功！'
            })
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
      }
    }
  }
}
</script>

<style scoped>
  .custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
  }
</style>
