<template>
  <div id="orgManagement" :style="{width: '90%', height: '800px'}" />
</template>

<script>
import * as echarts from 'echarts'
export default {
  name: 'Fight',
  data() {
    return {
      chartData: {
        'name': '赛事名',
        symbol: 'none',
        'children': [
          {
            'name': '战队1-1',
            'children': [
              {
                'name': '战队2-1',
                'children': [
                  {
                    'name': '战队3-1'
                  },
                  {
                    'name': '战队3-2'
                  }
                ]
              },
              {
                'name': '战队2-2',
                'children': [
                  {
                    'name': '战队3-3'
                  },
                  {
                    'name': '战队3-4'
                  }
                ]
              }
            ]
          },
          {
            'name': '战队1-2',
            'children': [
              {
                'name': '战队2-3',
                'children': [
                  {
                    'name': '战队3-5'
                  },
                  {
                    'name': '战队3-6'
                  }
                ]
              },
              {
                'name': '战队2-4',
                'children': [
                  {
                    'name': '战队3-7'
                  },
                  {
                    'name': '战队3-8'
                  }
                ]
              }
            ]
          },
          {
            'name': '战队1-3',
            'children': [
              {
                'name': '战队2-3',
                'children': [
                  {
                    'name': '战队3-5'
                  },
                  {
                    'name': '战队3-6'
                  }
                ]
              },
              {
                'name': '战队2-4',
                'children': [
                  {
                    'name': '战队3-7'
                  },
                  {
                    'name': '战队3-8'
                  }
                ]
              }
            ]
          },
          {
            'name': '战队1-4',
            'children': [
              {
                'name': '战队2-3',
                'children': [
                  {
                    'name': '战队3-5'
                  },
                  {
                    'name': '战队3-6'
                  }
                ]
              },
              {
                'name': '战队2-4',
                'children': [
                  {
                    'name': '战队3-7'
                  },
                  {
                    'name': '战队3-8'
                  }
                ]
              }
            ]
          }
        ]
      }
    }
  },
  mounted() {
    this.initChart()
  },
  methods: {
    initChart() {
      this.chart = echarts.init(document.getElementById('orgManagement'))
      this.chart.setOption({
        // tooltip: {
        //   trigger: 'item',
        //   triggerOn: 'mousemove'
        // },
        series: [
          {
            type: 'tree',
            layout: 'orthogonal',
            orient: 'RL',
            symbol: 'rect',
            symbolSize: [60, 20],
            expandAndCollapse: false,
            initialTreeDepth: -1,
            edgeShape: 'polyline',
            data: [this.chartData],

            top: '1%',
            left: '15%',
            bottom: '1%',
            right: '10%',
            label: {
              normal: {
                position: ['50%', '50%'],
                verticalAlign: 'middle',
                align: 'center',
                fontSize: 12
              }
            },

            leaves: {
              label: {
                normal: {
                  position: ['50%', '50%'],
                  verticalAlign: 'middle',
                  align: 'center'
                }
              }
            }
          }
        ]
      })
    }
  }
}
</script>

<style scoped>

</style>
