<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>赛事管理</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="req" :inline="true" label-width="100px" size="mini">
        <el-row>
          <el-col :span="6">
            <el-form-item label="游戏项目:">
              <el-select v-model="req.games" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in allgames"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="状态:">
              <el-select v-model="req.tournament_state" placeholder="请选择" style="width: 220px">
                <el-option
                  v-for="(item,index) in state"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="举办国家地区:">
              <el-select v-model="req.country" placeholder="请选择" filterable style="width: 220px">
                <el-option
                  v-for="(item,index) in allcountry"
                  :key="index"
                  :label="item.e_name + ' '+'('+item.name+')'"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="计划日期:">
              <el-date-picker
                v-model="req.timeArea"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
              <el-tooltip v-if="is_null" content="不搜索null" placement="top">
                <el-checkbox v-model="is_null" />
              </el-tooltip>
              <el-tooltip v-else content="搜索null" placement="top">
                <el-checkbox v-model="is_null" />
              </el-tooltip>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="计划开始日期:">
              <el-date-picker
                v-model="req.begin_date"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="计划结束日期:">
              <el-date-picker
                v-model="req.end_date"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="4" :offset="2">
            <el-form-item>
              <el-button type="primary" @click="getupdate">各游戏项目整体更新设置</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="变更时间:">
              <el-date-picker
                v-model="req.timeAreaEnd"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="名称:">
              <el-input v-model="req.match_name" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="ELS ID:">
              <el-input v-model="req.id" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="4" :offset="2">
            <el-form-item>
              <el-button type="primary" @click="findInfo">搜索</el-button>
              <el-button type="primary" style="margin-left: 50px" @click="getadd">新建</el-button>
            </el-form-item>
          </el-col>
          <el-dialog
            v-if="dialogVisible"
            title="比赛设置"
            :visible.sync="dialogVisible"
            width="50%"
          >
            <div>
              <el-form>
                <el-row type="flex" class="row-bg" align="middle">
                  <el-col :span="4">
                    <img :src="allgames[tournamentInfo.game].logo" style="width: 44px; height: 44px">
                    <img :src="tournamentInfo.image" style="width: 44px; height: 44px">
                  </el-col>
                  <el-col :span="20" :offset="0">
                    <span>{{ tournamentInfo.name }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span>ELS ID:  {{ tournamentInfo.id }}</span>
                  </el-col>
                </el-row>
                <!--                <el-row type="flex" class="row-bg">-->
                <!--                  <el-col :span="4" :offset="0">-->
                <!--                    <p>赛程创建：</p>-->
                <!--                  </el-col>-->
                <!--                  <el-col :span="10" :offset="0">-->
                <!--                    <el-form-item label="使用数据源">-->
                <!--                      <el-select v-model="match_config_info.config['match.create_data'].origin_id" placeholder="请选择">-->
                <!--                        <el-option-->
                <!--                          v-for="(item,index) in enum_origin_list"-->
                <!--                          :key="index"-->
                <!--                          :label="item.desc"-->
                <!--                          :value="item.id"-->
                <!--                        />-->
                <!--                      </el-select>-->
                <!--                    </el-form-item>-->
                <!--                  </el-col>-->
                <!--                  <el-col :span="10" :offset="0">-->
                <!--                    <el-form-item label="操作方式">-->
                <!--                      <el-select v-model="match_config_info.config['match.create_data'].update_type" placeholder="请选择">-->
                <!--                        <el-option label="不更新" value="1" />-->
                <!--                        <el-option label="手动" value="2" />-->
                <!--                        <el-option label="自动" value="3" />-->
                <!--                      </el-select>-->
                <!--                    </el-form-item>-->
                <!--                  </el-col>-->
                <!--                </el-row>-->
                <!--                <el-row type="flex" class="row-bg">-->
                <!--                  <el-col :span="4" :offset="0">-->
                <!--                    <p>赛程绑定：</p>-->
                <!--                  </el-col>-->
                <!--                  <el-col :span="10" :offset="10">-->
                <!--                    <el-form-item label="操作方式">-->
                <!--                      <el-select v-model="match_config_info.config['match.binding_data'].update_type" placeholder="请选择">-->
                <!--                        <el-option label="不更新" value="1" />-->
                <!--                        <el-option label="手动" value="2" />-->
                <!--                        <el-option label="自动" value="3" />-->
                <!--                      </el-select>-->
                <!--                    </el-form-item>-->
                <!--                  </el-col>-->
                <!--                </el-row>-->
                <el-row type="flex" class="row-bg">
                  <el-col :span="4" :offset="0">
                    <p>赛程更新：</p>
                  </el-col>
                  <el-col :span="10" :offset="0">
                    <el-form-item label="使用数据源">
                      <el-select v-model="match_config_info.config['match.update_data'].origin_id" placeholder="请选择">
                        <el-option
                          v-for="(item,index) in enum_origin_list"
                          :key="index"
                          :label="item.desc"
                          :value="item.id"
                        />
                      </el-select>
                    </el-form-item>
                  </el-col>
                  <el-col :span="10" :offset="0">
                    <el-form-item label="操作方式">
                      <el-select v-model="match_config_info.config['match.update_data'].update_type" placeholder="请选择">
                        <el-option label="不更新" value="1" />
                        <el-option label="手动" value="2" />
                        <el-option label="自动" value="3" />
                      </el-select>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row type="flex" class="row-bg">
                  <el-col :span="4" :offset="0">
                    <p>实时比分录入：</p>
                  </el-col>
                  <el-col :span="10" :offset="0">
                    <el-form-item label="使用数据源">
                      <el-select v-model="match_config_info.config['match.score_data'].origin_id" placeholder="请选择">
                        <el-option
                          v-for="(item,index) in enum_origin_list"
                          :key="index"
                          :label="item.desc"
                          :value="item.id"
                        />
                      </el-select>
                    </el-form-item>
                  </el-col>
                  <el-col :span="10" :offset="0">
                    <el-form-item label="操作方式">
                      <el-select v-model="match_config_info.config['match.score_data'].update_type" placeholder="请选择">
                        <el-option label="手动" value="2" />
                        <el-option label="自动" value="3" />
                      </el-select>
                    </el-form-item>
                  </el-col>
                </el-row>
              </el-form>
            </div>
            <span slot="footer" class="dialog-footer">
              <el-button @click="dialogVisible = false">取 消</el-button>
              <el-button type="primary" @click="onSubmit1(tournamentInfo.id)">确认修改</el-button>
            </span>
          </el-dialog>
        </el-row>
        <el-dialog
          v-if="dialogVisible1"
          title="更新设置"
          :visible.sync="dialogVisible1"
          width="50%"
        >
          <el-form>
            <el-row type="flex" class="row-bg" align="middle">
              <el-col :span="4">
                <img :src="allgames[tournamentInfo.game].logo" style="width: 44px; height: 44px">
                <img :src="tournamentInfo.image" style="width: 44px; height: 44px">
              </el-col>
              <el-col :span="20" :offset="0">
                <span>{{ tournamentInfo.name }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span>ELS ID:  {{ tournamentInfo.id }}</span>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="3" :offset="0">
                <el-form-item>核心内容：</el-form-item>
              </el-col>
              <el-col :span="10" :offset="1">
                <el-form-item label="使用数据源">
                  <el-select v-model="config_info.config['tournament.core_data'].origin_id" placeholder="请选择" style="width: 100%">
                    <el-option
                      v-for="(item,index) in enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="10" :offset="0">
                <el-form-item label="更新方式">
                  <el-select v-model="config_info.config['tournament.core_data'].update_type" placeholder="请选择">
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="3" :offset="0">
                <el-form-item>基础内容：</el-form-item>
              </el-col>
              <el-col :span="10" :offset="1">
                <el-form-item label="使用数据源">
                  <el-select v-model="config_info.config['tournament.base_data'].origin_id" placeholder="请选择" style="width: 100%">
                    <el-option
                      v-for="(item,index) in enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="10" :offset="0">
                <el-form-item label="更新方式">
                  <el-select v-model="config_info.config['tournament.base_data'].update_type" placeholder="请选择">
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="3" :offset="0">
                <el-form-item>参赛战队：</el-form-item>
              </el-col>
              <el-col :span="10" :offset="1">
                <el-form-item label="使用数据源">
                  <el-select v-model="config_info.config['tournament.attend_team'].origin_id" placeholder="请选择" style="width: 100%">
                    <el-option
                      v-for="(item,index) in enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="10" :offset="0">
                <el-form-item label="更新方式">
                  <el-select v-model="config_info.config['tournament.attend_team'].update_type" placeholder="请选择">
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible1 = false">取 消</el-button>
            <el-button type="primary" @click="onSubmit">确认修改</el-button>
          </span>
        </el-dialog>
      </el-form>
      <el-table
        :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'14px',height:'40px',textAlign:'center'}"
        :cell-style="{textAlign:'center',padding:'3px'}"
        :data="tableData"
        :cell-class-name="delLine"
        :row-class-name="tableRowClassName"
        :style="{'width':'100%'}"
      >
        <el-table-column prop="id" :label="'ELS\n赛事ID'" />
        <el-table-column prop="name" label="名称">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.name }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="image" label="图标">
          <template slot-scope="scope">
            <img :src="scope.row.image" style="width: 66px;height: 66px">
          </template>
        </el-table-column>
        <el-table-column prop="game_logo" :label="'游戏\n项目'">
          <template slot-scope="scope">
            <img :src="scope.row.game_logo" style="width: 20px;height: 20px">
          </template>
        </el-table-column>
        <el-table-column prop="country_name" :label="'举办\n国家地区'" />
        <el-table-column prop="location" label="举办地" />
        <el-table-column prop="scheduled_begin_at" :label="'计划开始\n日期'" width="100px" />
        <el-table-column prop="scheduled_end_at" :label="'计划结束\n日期'" width="100px" />
        <el-table-column prop="status" label="状态">
          <template slot-scope="scope">
            <span>{{ scope.row.status? state[scope.row.status].name : '' }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="created_at" label="创建时间" width="100px" />
        <el-table-column prop="modified_at" label="变更时间" width="100px" />
        <el-table-column :label="'已绑定\n数据源'" width="100px">
          <template slot-scope="scope">
            <div v-for="(item,index) in scope.row.binding_info" :key="index">
              <el-popover
                placement="top-start"
                width="400"
                trigger="hover"
              >
                <span v-for="(item1,index1) in item" :key="index1">{{ item1.standard_id }}<span v-if="item.length !== index1+1">,</span></span>
                <el-button slot="reference" type="text">
                  <div style="display: flex;align-items: center;justify-content: center">
                    <img :src="item[0].enum_origin_image" style="height: 20px;width: 20px;margin-right: 3px"><span> ({{ item.length }})</span>
                  </div>
                </el-button>
              </el-popover>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="days" :label="'数据源\n/更新方式'" width="110px">
          <template slot-scope="scope">
            <div v-if="scope.row.update_config.config">
              <span v-if="scope.row.update_config.config['tournament.core_data'].update_type === '1'" class="status-align">&nbsp;&nbsp;&nbsp;核：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['tournament.core_data'].origin_id)"></img>  <div class="status-point" style=" background-color:red" /></span>
              <span v-if="scope.row.update_config.config['tournament.core_data'].update_type === '2'" class="status-align">&nbsp;&nbsp;&nbsp;核：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['tournament.core_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#E6A23C" /></span>
              <span v-if="scope.row.update_config.config['tournament.core_data'].update_type === '3'" class="status-align">&nbsp;&nbsp;&nbsp;核：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['tournament.core_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#67C23A" /></span>
            </div>
            <div v-if="scope.row.update_config.config">
              <span v-if="scope.row.update_config.config['tournament.base_data'].update_type === '1'" class="status-align">&nbsp;&nbsp;&nbsp;基：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['tournament.base_data'].origin_id)"></img>  <div class="status-point" style=" background-color:red" /></span>
              <span v-if="scope.row.update_config.config['tournament.base_data'].update_type === '2'" class="status-align">&nbsp;&nbsp;&nbsp;基：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['tournament.base_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#E6A23C" /></span>
              <span v-if="scope.row.update_config.config['tournament.base_data'].update_type === '3'" class="status-align">&nbsp;&nbsp;&nbsp;基：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['tournament.base_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#67C23A" /></span>
            </div>
            <div v-if="scope.row.update_config.config">
              <span v-if="scope.row.update_config.config['tournament.attend_team'].update_type === '1'" class="status-align">战队：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['tournament.attend_team'].origin_id)"></img>  <div class="status-point" style=" background-color:red" /></span>
              <span v-if="scope.row.update_config.config['tournament.attend_team'].update_type === '2'" class="status-align">战队：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['tournament.attend_team'].origin_id)"></img>  <div class="status-point" style=" background-color:#E6A23C" /></span>
              <span v-if="scope.row.update_config.config['tournament.attend_team'].update_type === '3'" class="status-align">战队：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['tournament.attend_team'].origin_id)"></img>  <div class="status-point" style=" background-color:#67C23A" /></span>
            </div>
          </template>
        </el-table-column>
        <el-table-column fixed="right" label="操作">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="getEdit(scope.row.id)">编辑</el-button>
            <template v-if="scope.row.deleted == '2' ">
              <el-button type="text" size="small" style="color: coral" @click="getDel(scope.row.id)">删除</el-button>
            </template>
            <template v-if="scope.row.deleted == '1' ">
              <el-button type="text" size="small" style="color: green" @click="getReset(scope.row.id)">恢复</el-button>
            </template>
            <el-button type="text" size="small" @click="getUpTournament(scope.row)">更新设置</el-button>
            <el-button type="text" size="small" @click="getUpMatch(scope.row)">比赛设置</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="job_status_name" label="操作记录">
          <template slot-scope="scope">
            <span v-if="scope.row.operation">({{ scope.row.operation.count }})</span>
            <span v-if="!scope.row.operation">(0)</span>
            <el-button v-if="scope.row.operation" type="text" size="small" @click="getHistory(scope.row.operation.resource_id,scope.row.operation.resource_type )">操作记录</el-button>
            <el-button v-if="!scope.row.operation" type="text" size="small">操作记录</el-button>
          </template>
        </el-table-column>
      </el-table>

      <div class="over">
        <el-pagination
          class="pager"
          background
          layout="prev, pager, next, jumper"
          :total="total"
          :current-page="req.page"
          :page-size="req.per_page"
          :row-class-name="tableRowClassName"
          @current-change="changePager"
        />
      </div>
    </el-card>
  </div>
</template>
<script>
import { tournamentList, tournamentDel, match_resource_config } from '@/api/tournament'
import { get_tournament_state } from '@/api/common'
import { resource_config_detail, resource_config_edit } from '@/api/data'
import { mapGetters } from 'vuex'

export default {
  name: 'List',
  data() {
    return {
      is_null: false,
      config_info: {},
      match_config_info: {
        config: {
          'match.binding_data': {
            update_type: ''
          },
          'match.create_data': {
            origin_id: '',
            update_type: ''
          },
          'match.score_data': {
            origin_id: '',
            update_type: ''
          },
          'match.update_data': {
            origin_id: '',
            update_type: ''
          }
        }
      },
      dialogVisible: false,
      dialogVisible1: false,
      tournamentInfo: {},
      form: {},
      state: [{ 'id': '', 'name': '全部', 'c_name': 'all' }],
      tournament_state: [],
      total: 20,
      tableData: [],
      req: {
        begin_date: '',
        end_date: '',
        page: 1,
        per_page: 10,
        games: '',
        tournament_state: '',
        country: '',
        id: '',
        match_name: '',
        timeArea: [],
        timeAreaEnd: []
      },
      options: [],
      value: ''
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  mounted() {
    this.finddata()
    this.infostate()
  },
  methods: {
    onSubmit() {
      const params = {}
      params['resource_type'] = 'tournament'
      params['resource_id'] = this.tournamentInfo.id
      params['config'] = this.config_info
      resource_config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
      })
      this.dialogVisible1 = false
    },
    onSubmit1(id) {
      const params = {}
      params['tournament_id'] = id
      params['schedule_origin_id'] = this.match_config_info.config['match.update_data'].origin_id
      params['schedule_update_type'] = this.match_config_info.config['match.update_data'].update_type
      params['score_origin_id'] = this.match_config_info.config['match.score_data'].origin_id
      params['score_update_type'] = this.match_config_info.config['match.score_data'].update_type
      match_resource_config(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
        this.dialogVisible = false
        this.match_config_info = {
          config: {
            'match.binding_data': {
              update_type: ''
            },
            'match.create_data': {
              origin_id: '',
              update_type: ''
            },
            'match.score_data': {
              origin_id: '',
              update_type: ''
            },
            'match.update_data': {
              origin_id: '',
              update_type: ''
            }
          }
        }
      })
    },
    tableRowClassName({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'success-row'
      }
    },
    delLine({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'del_line'
      }
    },
    getHistory(id, type) {
      this.$router.push({ path: '/gamecenter/update/updateTemplate/operation', query: { id: id, type: type }})
    },
    getUpMatch(info) {
      this.dialogVisible = true
      this.tournamentInfo = info
      // const params = {}
      // params['resource_type'] = 'match'
      // params['resource_id'] = info.id
      // resource_config_detail(params).then(req => {
      //   if (req.data.config) {
      //     this.match_config_info = req.data
      //   }
      // })
    },
    getUpTournament(info) {
      this.dialogVisible1 = true
      this.tournamentInfo = info
      const params = {}
      params['resource_type'] = 'tournament'
      params['resource_id'] = info.id
      resource_config_detail(params).then(req => {
        if (req.data.config) {
          this.config_info = req.data
        }
      })
      // this.$router.push({ path: '/gamecenter/tournament/tournamentInfo/default_tournament', query: { id: id }})
    },
    getEdit(id) {
      this.$router.push({ path: '/gamecenter/tournament/tournamentInfo/edit', query: { id: id }})
    },
    infostate() {
      const params = {}
      get_tournament_state(params).then(req => {
        this.tournament_state = req.data
        this.state.push.apply(this.state, this.tournament_state)
      })
    },
    getReset(id) {
      this.$confirm('确认恢复？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        params['status'] = 2
        tournamentDel(params).then(req => {
          this.finddata()
          this.$message({
            type: 'success',
            message: '恢复成功！'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    getDel(id) {
      this.$confirm('确认删除？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        params['status'] = 1
        tournamentDel(params).then(req => {
          this.finddata()
          this.$message({
            type: 'success',
            message: '删除成功！'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    findInfo() {
      this.req.page = 1
      this.finddata()
    },
    finddata() {
      const params = {}
      params['is_null'] = this.is_null
      params['game_id'] = this.req.games
      params['match_name'] = this.req.match_name
      params['tournament_status'] = this.req.tournament_state
      params['mach_country'] = this.req.country
      params['id'] = this.req.id
      params['page'] = this.req.page
      params['per_page'] = this.req.per_page
      if (this.req.timeArea) {
        params['scheduled_begin_at'] = this.req.timeArea[0]
        params['scheduled_end_at'] = this.req.timeArea[1]
      }
      if (this.req.begin_date) {
        params['scheduled_begin_at_1'] = this.req.begin_date[0]
        params['scheduled_begin_at_2'] = this.req.begin_date[1]
      }
      if (this.req.end_date) {
        params['scheduled_end_at_1'] = this.req.end_date[0]
        params['scheduled_end_at_2'] = this.req.end_date[1]
      }
      if (this.req.timeAreaEnd) {
        params['date_begin'] = this.req.timeAreaEnd[0]
        params['date_end'] = this.req.timeAreaEnd[1]
      }
      tournamentList(params).then(req => {
        this.tableData = req.data.list
        this.total = 1 * req.data.total
        this.tableData.forEach(item => {
          var tmp = {}
          if (item.binding_info.length > 0) {
            item.binding_info.forEach(info => {
              tmp[info.origin_id] = tmp[info.origin_id] || []
              tmp[info.origin_id].push(info)
            })
            item.binding_info = Object.values(tmp)
          }
        })
      })
    },
    changePager(newpage) {
      this.req.page = newpage
      this.finddata()
    },
    getadd() {
      this.$router.push({ path: '/gamecenter/tournament/tournamentInfo/add' })
    },
    getupdate() {
      this.$router.push({ path: '/gamecenter/tournament/tournamentInfo/default' })
    }
  }
}
</script>

<style scoped>
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
  .status-point {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .status-a {
    vertical-align:middle;
    width: 20px;height: 20px
  }
</style>
