<template>
  <div class="app-container transfer_info">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>编辑战队快照</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-tabs v-model="activeName" type="border-card">
        <el-tab-pane label="核心内容">
          <el-form ref="team_info" :rules="rules" :model="team_info" label-width="120px">
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="名称" prop="team_name">
                  <el-input v-model="team_info.team_name" />
                </el-form-item>
              </el-col>
              <!--              <el-col :span="8" :offset="0">-->
              <!--                <el-form-item label="游戏项目" prop="game">-->
              <!--                  <el-select v-model="team_info.game" style="width: 100%" placeholder="请选择" :disabled="true">-->
              <!--                    <el-option-->
              <!--                      v-for="(item,index) in allgames"-->
              <!--                      :key="index"-->
              <!--                      :label="item.name"-->
              <!--                      :value="''+item.id"-->
              <!--                    />-->
              <!--                  </el-select>-->
              <!--                </el-form-item>-->
              <!--              </el-col>-->
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="国家地区">
                  <el-select v-model="team_info.country" filterable style="width: 100%" placeholder="请选择">
                    <el-option
                      v-for="(item,index) in all"
                      :key="index"
                      :label="item.e_name + ' '+'('+item.name+')'"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" ::offset="0">
                <el-form-item label="全称">
                  <el-input v-model="team_info.full_name" />
                </el-form-item>
              </el-col>
              <el-col :span="8" ::offset="0">
                <el-form-item label="简称">
                  <el-input v-model="team_info.short_name" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="8" :offset="0">
                <el-form-item label="世界排名">
                  <el-input v-model="team_info.world_ranking" type="number" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="Slug" prop="slug">
                  <el-input v-model="team_info.slug" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" ::offset="0">
                <el-form-item label="图标" prop="image">
                  <el-upload
                    class="avatar-uploader"
                    :action="getUploadUrl()"
                    :on-success="uploads"
                    :before-upload="beforeAvatarUpload"
                  >
                    <img v-if="team_info.image" style="width: 200px;height: 200px" :src="team_info.image" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon" />
                  </el-upload>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 15px;text-align: center">
                <el-button type="primary" @click="onSubmit('team_info')">确认修改</el-button>
              </div>
            </el-row>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="战队选手">
          <el-form :model="form" label-width="100px">
            <el-row type="flex" class="row-bg">
              <el-col :span="4" :offset="3">
                <el-input
                  v-model="input_lift"
                  placeholder="请输入内容"
                  prefix-icon="el-icon-search"
                  style="width: 300px"
                />
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="15" :offset="3">
                <el-transfer
                  v-model="player_ids"
                  :titles="['选手列表', '本战队选手列表']"
                  filter-placeholder="请输入"
                  :data="data"
                >
                  <div slot-scope="{ option }">
                    <el-avatar :size="30" :src="option.image" shape="square" style="vertical-align:middle;text-align: center;background-color: white" />
                    <span> {{ option.label }}</span>
                  </div>
                  <el-button slot="left-footer" class="transfer-footer" size="small" @click="upPage">上页</el-button>
                  <el-button slot="left-footer" class="transfer-footer" size="small">第{{ page }}页</el-button>
                  <el-button slot="left-footer" class="transfer-footer" size="small" @click="downPage">下页</el-button>
                </el-transfer>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit('team_info')">确认修改</el-button>
              </div>
            </el-row>
          </el-form>
        </el-tab-pane>
      </el-tabs>
    </el-card>
  </div>
</template>
<script>
import { teamInfo, teamEdit } from '@/api/team'
import { getUploadBaseApi } from '@/api/file.js'
// import { get_country, get_clan_list } from '@/api/clan'
import { close_bing } from '@/api/common'
import { search_player } from '@/api/player'
import { data_change_detail } from '@/api/data'
import { get_binding_info } from '@/api/binding'
import { mapGetters } from 'vuex'
import { get_clan_list } from '@/api/clan'
import { team_snapshot_detail, team_snapshot_edit, player_snapshot_add } from '@/api/tournament'
export default {
  name: 'Edit',
  data() {
    return {
      team_info: {
        team_name: '',
        country: '',
        full_name: '',
        short_name: '',
        slug: '',
        image: '',
        world_ranking: ''
      },
      binding_list: [],
      updateInfo: {
        core_data: {},
        base_data: {},
        team_player_relation: []
      },
      'core_data': {
        'name': '',
        'organization': '',
        'game': '',
        'country': '',
        'full_name': '',
        'short_name': '',
        'alias': '',
        'slug': '',
        'image': '',
        'cuser': '',
        'deleted': ''
      },
      'base_data': {
        'team_id': '',
        'steam_id': '',
        'region': '',
        'world_ranking': '',
        'ago_30': '',
        'total_earnings': '',
        'average_player_age': '',
        'history_players': '',
        'create_team_date': '',
        'close_team_date': '',
        'introduction': '',
        'introduction_cn': ''
      },
      'team_player': [],
      players: [],
      slug_stutas: 0,
      page: 1,
      per_page: 40,
      total: 30,
      getPlayer: [],
      judge_stutas: 0,
      input_lift: '',
      input_right: '',
      activeName: '0',
      update_player_add: [],
      update_player_del: ['22', '23', '27'],
      // clanlist: [],
      allClanList: [{ 'id': '', 'name': '无', 'e_name': 'all' }],
      playerinfo: [],
      game: '',
      allgame: [{ 'id': '0', 'name': '全部', 'e_name': 'all' }],
      // games: [],
      all: [{ 'id': '', 'name': '空', 'e_name': 'null' }],
      // country: [],
      tableData: [],
      multipleSelection: [],
      dialogVisible: false,
      textarea: '',
      player_ids: [],
      form: {
        data_config: {
          config: {
            'team.base_data': {
              'id': '7',
              'game_id': '3',
              'resource_type': 'team',
              'resource_id': '6',
              'tag_type': 'base_data',
              'slug': 'team.base_data',
              'origin_id': '3',
              'update_type': '3',
              'created_time': '2020-06-29 15:11:49',
              'modify_at': '2020-06-30 02:42:20'
            },
            'team.core_data': {
              'id': '8',
              'game_id': '3',
              'resource_type': 'team',
              'resource_id': '6',
              'tag_type': 'core_data',
              'slug': 'team.core_data',
              'origin_id': '3',
              'update_type': '3',
              'created_time': '2020-06-29 15:11:49',
              'modify_at': '2020-06-30 02:42:20'
            },
            'team.team_player': {
              'id': '9',
              'game_id': '3',
              'resource_type': 'team',
              'resource_id': '6',
              'tag_type': 'team_player',
              'slug': 'team.team_player',
              'origin_id': '3',
              'update_type': '3',
              'created_time': '2020-06-29 15:11:49',
              'modify_at': '2020-06-30 02:42:20'
            }
          }
        },
        slug: '',
        organization: '',
        playerinfo: [],
        name: '',
        team_name: '',
        game: '',
        country: '',
        full_name: '',
        short_name: '',
        alias: '',
        steam_id: '',
        region: '',
        world_ranking: '',
        ago_30: '',
        average_player_age: '',
        total_earnings: '',
        history_players: '',
        created_at: '',
        modified_at: '',
        introduction: '',
        introduction_cn: '',
        image: '',
        player: []
      },
      data: [],
      value: [],

      rules: {
        team_name: [
          { required: true, message: '请输入战队名称', trigger: 'change' }
        ],
        games: [
          { required: true, message: '请选择游戏项目', trigger: 'change' }
        ],
        image: [
          { required: true, message: '请上传图标', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入', trigger: 'change' }
        ]
      }
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'enum_origin_list',
      'getCountryById'
    ])
  },
  watch: {
    input_lift() {
      this.searchPlayerLift(this.input_lift)
      this.page = 1
    },
    page() {
      this.searchPlayerLift(this.input_lift)
    },
    'team_info.team_name': {
      handler: function() {
        if (this.slug_stutas === 1) {
          this.slug_stutas = 0
        } else {
          this.team_info.slug = this.$yangJian.slug_rule(this.team_info.team_name)
        }
      }
    },
    'team_info': {
      handler() {
        this.searchPlayerLift()
      }
    }
  },
  mounted() {
    this.getinfo()
    // this.infoGames()
    // this.getBindingInfo()
    // this.upInfo()
  },
  methods: {
    beforeAvatarUpload(file) {
      console.log('file')
      console.log(file)
      // const isPNG = file.type === 'image/png || svg'
      const testmsg = file.type === 'image/png'
      const isLt1M = file.size / 1024 / 1024 < 1
      if (!testmsg) {
        this.$message.error('只能上传PNG格式!')
        return false
      }
      if (!isLt1M) {
        this.$message({
          message: '上传图标大小不能超过 1MB!',
          type: 'error'
        })
        return false
      }
      return testmsg || isLt1M
    },
    upPage() {
      if (this.page > 1) {
        this.page -= 1
      }
    },
    downPage() {
      if (parseInt(this.total / this.per_page) >= this.page) {
        this.page += 1
      }
    },
    searchPlayerLift(info) {
      const params = {}
      params['game_id'] = this.team_info.game_id
      params['keyword'] = info
      params['page'] = this.page
      params['per_page'] = this.per_page
      search_player(params).then(req => {
        this.playerinfo = req.data.list
        this.total = req.data.total
        const data = []
        const cities = req.data.list
        cities.forEach((city, index) => {
          data.push({
            label: city.nick_name + ' ' + '(' + city.id + ')' + ' ' + city.country_name,
            key: city.id,
            pinyin: city.nick_name,
            image: city.image
          })
        })
        if (this.judge_stutas === 1) {
          this.players.forEach(item => {
            var n = 0
            data.forEach(k => {
              if (item.key === k.key) {
                n = 1
              }
            })
            if (n === 0) {
              data.push(item)
            }
          })
          this.judge_stutas = 0
        } else {
          this.player_ids.forEach(item => {
            this.data.forEach(info => {
              if (item === info.key) {
                var m = 0
                data.forEach(k => {
                  if (item === k.key) {
                    m = 1
                  }
                })
                if (m === 0) {
                  data.push(info)
                }
              }
            })
          })
        }
        this.data = data
      })
    },
    upInfo() {
      if (this.$route.query.tag_type) {
        this.tag_type = this.$route.query.tag_type
        this.beforeLeave()
        const params = {}
        params['id'] = this.$route.query.upId
        data_change_detail(params).then(req => {
          var infoList = req.data.change_info
          this.update(infoList, req.data.tag_type)
        })
      }
    },
    update(data, type) {
      var infos = {}
      console.log(data)
      console.log(type)
      switch (type) {
        case 'core_data':
          for (var i in data) {
            console.log(data[i])
            var k_name = data[i].key
            infos[k_name] = data[i].after
          }
          this.updateInfo.core_data = infos
          break
        case 'base_data':
          for (var k in data) {
            k_name = data[k].key
            infos[k_name] = data[k].after
          }
          this.updateInfo.base_data = infos
          break
        case 'team_player':
          for (var j in data) {
            k_name = data[j].key
            infos[k_name] = data[j].after
          }
          this.updateInfo.team_player_relation = infos
          break
      }
    },
    beforeLeave() {
      if (this.tag_type === 'core_data') {
        this.activeName = '0'
      }
      if (this.tag_type === 'base_data') {
        this.activeName = '1'
      }
      if (this.tag_type === 'team_player') {
        this.activeName = '2'
      }
    },
    getUpdate() {
      this.player_ids = []
      this.updateInfo.team_player_relation.player_id.forEach(item => {
        this.player_ids.push(item.id)
      })
      this.judge_stutas = 1
      var cities = this.updateInfo.team_player_relation.player_id
      cities.forEach((city, index) => {
        this.players.push({
          label: city.nick_name + ' ' + '(' + city.id + ')' + ' ' + this.getCountryName(city.player_country),
          key: city.id,
          pinyin: city.nick_name,
          image: city.image
        })
      })
      this.searchPlayerLift()
    },
    getCountryName(id) {
      if (id) {
        return this.getCountryById(id)
      } else {
        return ''
      }
    },
    info_clan_list() {
      const params = {}
      get_clan_list(params).then(req => {
        this.clanlist = req.data
        this.allClanList.push.apply(this.allClanList, this.clanlist)
      })
    },
    // infoGames() {
    //   const params = {}
    //   get_games(params).then(req => {
    //     this.games = req.data
    //     this.allgame.push.apply(this.allgame, this.games)
    //   })
    // },
    infoCountry() {
      this.all.push.apply(this.all, this.country)

      // const params = {}
      // get_country(params).then(req => {
      //   this.country = req.data
      // })
    },
    uploads(res, file) {
      this.team_info.image = res.data.url
    },
    getUploadUrl() {
      return getUploadBaseApi()
    },
    getinfo() {
      const params = {}
      params['team_id'] = this.$route.query.team_id
      params['resource_id'] = this.$route.query.resource_id
      params['type'] = 'tournament'
      team_snapshot_detail(params).then(req => {
        this.slug_stutas = 1
        this.team_info = req.data
        this.infoCountry()
        this.info_clan_list()
        this.form = req.data
        for (var i in req.data.players) {
          this.judge_stutas = 1
          this.player_ids.push(req.data.players[i].els_player_id)
          // this.team_player = req.data.player
        }
        const cities = req.data.players
        cities.forEach((city, index) => {
          this.players.push({
            label: city.nick_name + ' ' + '(' + city.els_player_id + ')' + ' ' + city.player_country,
            key: city.els_player_id,
            pinyin: city.nick_name,
            image: city.player_image
          })
        })
      })
      this.searchPlayerLift()
    },
    handleClose(done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done()
        })
        .catch(_ => {})
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.team_info.team_id = this.$route.query.team_id
          this.team_info.relation_id = this.$route.query.resource_id
          this.team_info.type = 'tournament'
          this.team_info.name = this.team_info.team_name
          const params = this.team_info

          team_snapshot_edit(params).then(req => {
            this.$message({
              type: 'success',
              message: '编辑成功！'
            })
          })
          const data = {}
          data['team_id'] = this.$route.query.team_id
          data['resource_id'] = this.$route.query.resource_id
          data['type'] = 'tournament'
          data['players'] = this.player_ids
          player_snapshot_add(data).then(res => {
            this.$message({
              type: 'success',
              message: '编辑成功！'
            })
            this.$router.go(-1)
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    },
    toggleSelection(rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange(val) {
      this.multipleSelection = val
    }
  }
}
</script>

<style scoped>
  .el-input__icon el-icon-date{
    border: 5px;
  }
  .el-form-item .el-input__inner{
    padding-left: 0;
  }
  .transfer-footer {
    margin-left: 23px;
    /*padding: 6px 5px;*/
  }
  .upDate{
    font-weight: bold;
    color:#606266;
    font-size: 14px
  }
</style>
