<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>战队快照</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-card v-for="(item,index) in form" :key="index" shadow="never">
        <el-row>
          <el-row>
            <el-col :span="8" :offset="8" style="padding: 2px">
              <el-card shadow="never" :body-style="{ padding: '0px', margin:'5px', }">
                <el-row>
                  <el-col :span="6" style="margin: 5px">
                    <el-image
                      style="width: 66px; height: 66px; text-align: center"
                      :src="item.image"
                    />
                  </el-col>
                  <el-col :span="13" style="font-size: small">
                    <p class="team_style">ELS ID:{{ item.els_team_id }}</p>
                    <p class="team_style">名称:{{ item.team_name }}</p>
                    <p class="team_style">国家地区:{{ item.team_country }}</p>
                    <p class="team_style">全称:{{ item.full_name }}</p>
                    <p class="team_style">简称:{{ item.short_name }}</p>
                    <p class="team_style">Slug:{{ item.slug }}</p>
                    <p class="team_style">世界排名:{{ item.world_ranking }}</p>
                  </el-col>
                  <el-col :span="1" style="font-size: small">
                    <el-button type="primary" size="mini" @click="goToEdit(item.els_team_id)">编辑</el-button>
                  </el-col>
                </el-row>
              </el-card>
            </el-col>
          </el-row>
          <div v-if="item.players">
            <el-col v-for="(items,indexs) in item.players" :key="indexs" :span="6" style="padding: 2px">
              <el-card shadow="never" :body-style="{ padding: '0px', margin:'5px', }">
                <el-row>
                  <el-col :span="4" style="margin: 5px">
                    <el-image
                      style="width: 44px; height: 44px; text-align: center"
                      :src="items.player_image"
                    />
                  </el-col>
                  <el-col :span="16" style="font-size: small">
                    <p class="team_style">ELS ID:{{ items.els_player_id }}</p>
                    <p class="team_style">昵称:{{ items.nick_name }}</p>
                    <p class="team_style">国籍:{{ items.country_name }}</p>
                    <p class="team_style">姓名(英文):{{ items.player_name }}</p>
                    <p class="team_style">姓名(中文):{{ items.player_name_cn }}</p>
                    <p class="team_style">角色位置:{{ items.role_name }}</p>
                    <p class="team_style">Slug:{{ items.player_slug }}</p>
                    <p class="team_style">状态:{{ items.status_id? stateList[items.status_id].name : '' }}</p>
                  </el-col>
                </el-row>
              </el-card>
            </el-col>
          </div>
        </el-row>
      </el-card>
    </el-card>
  </div>
</template>

<script>
import { get_state } from '@/api/common'
import { get_team_snapshot } from '@/api/tournament'
export default {
  name: 'Photo',
  data() {
    return {
      form: {},
      state: [],
      stateList: [{ 'id': '', 'e_name': 'null', 'name': '空' }],
      teamList: [
        { team: { name: '', contery: '' },
          player: [
            { name: '', contery: '' },
            { name: '', contery: '' },
            { name: '', contery: '' }
          ]
        },
        { team: { name: '', contery: '' },
          player: [
            { name: '', contery: '' },
            { name: '', contery: '' }
          ]
        }
      ]
    }
  },
  mounted() {
    this.infoState()
    this.getInfo()
  },
  methods: {
    goToEdit(team_id) {
      this.$router.push({ path: '/gamecenter/tournament/tournamentInfo/photo_edit', query: { team_id: team_id, resource_id: this.$route.query.resource_id }})
    },
    infoState() {
      const params = {}
      get_state(params).then(req => {
        this.state = req.data
        this.stateList.push.apply(this.stateList, this.state)
      })
    },
    getInfo() {
      const params = {}
      params['team_ids'] = this.$route.query.id
      params['type'] = this.$route.query.type
      params['resource_id'] = this.$route.query.resource_id
      get_team_snapshot(params).then(req => {
        this.form = req.data
      })
    }
  }
}
</script>

<style scoped>
.team_style{
  margin: 5px;
}
</style>
