<template>
  <div style="position: relative; height: 800px;">
    <div v-for="(item,index) in teams" :key="index" style="position: absolute;" :style="{top:item.y+'px',left:item.x+'px'}">
      <div style=" overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" :style="{width: teamWidth + 'px'}">
        <div style="background-color: rgb(49, 60, 85); color: rgb(190, 205, 238); display: flex; align-items: center; font-size: 12px; border: 1px solid rgb(41, 51, 73);" :style="{height: teamHeight + 'px'}">
          {{ item.schedule.left_team.tag }}
          {{ item.num }}
        </div>
        <div style="background-color: rgb(49, 60, 85); color: rgb(190, 205, 238); display: flex; align-items: center; font-size: 12px; border: 1px solid rgb(41, 51, 73);" :style="{height: teamHeight + 'px'}">
          {{ item.schedule.right_team.tag }}
        </div>
      </div>
    </div>
    <div v-for="(item,index) in teamXY" :key="index" :style="item" style="position: absolute; display: flex;">
      <div v-if="item.seat == 0 & item.y1 !== item.y2" style=" height: 100%; border-top: 1px solid rgb(46, 56, 80);" :style="{width: item.width}" />
      <div v-if="item.seat == 0 & item.y1 !== item.y2" style="width: 20px; height: 100%; border-bottom: 1px solid rgb(46, 56, 80); border-left: 1px solid rgb(46, 56, 80);" />
      <div v-if="item.seat == 0 & item.y1 === item.y2" style=" height: 100%; border-bottom: 1px solid rgb(46, 56, 80);" :style="{width: item.width}" />
      <div v-if="item.seat == 0 & item.y1 === item.y2" style="width: 20px; height: 100%; border-top: 1px solid rgb(46, 56, 80); border-left: 1px solid rgb(46, 56, 80);" />
      <div v-if="item.seat == 1 & item.y1 !== item.y2" style=" height: 100%; border-bottom: 1px solid rgb(46, 56, 80);" :style="{width: item.width}" />
      <div v-if="item.seat == 1 & item.y1 !== item.y2" style="width: 20px; height: 100%; border-top: 1px solid rgb(46, 56, 80); border-left: 1px solid rgb(46, 56, 80);" />
      <div v-if="item.seat == 1 & item.y1 === item.y2" style=" height: 100%; border-top: 1px solid rgb(46, 56, 80);" :style="{width: item.width}" />
      <div v-if="item.seat == 1 & item.y1 === item.y2" style="width: 20px; height: 100%; border-bottom: 1px solid rgb(46, 56, 80); border-left: 1px solid rgb(46, 56, 80);" />
    </div>
  </div>
</template>

<script>
import tu from '../../../dashboard/tu'
export default {
  name: 'WarMap',
  data() {
    return {
      teamWidth: 90,
      teamHeight: 24,
      tu: tu,
      teams: {},
      lines: {},
      teamXY: []
    }
  },
  mounted() {
    this.getItem()
  },
  methods: {
    getItem() {
      this.teams = this.tu.league_tier[0].league_tier_kot.schedules
      this.lines = this.tu.league_tier[0].league_tier_kot.lines
      this.lines.forEach(item => {
        const tmp = {
          left: '',
          top: '',
          width: '',
          height: '',
          seat: '',
          y1: '',
          y2: ''
        }
        tmp.y2 = this.teams[item[1][0]].y
        tmp.y1 = this.teams[item[0]].y
        tmp.seat = item[1][1]
        tmp.left = (this.teams[item[0]].x + this.teamWidth) + 'px'
        tmp.width = (this.teams[item[1][0]].x - this.teams[item[0]].x - this.teamWidth) + 'px'
        if (item[1][1] === 0) {
          if (tmp.y1 === tmp.y2) {
            if (item[1][1] === 0) {
              tmp.top = (this.teams[item[1][0]].y + 12) + 'px'
              tmp.height = Math.abs(this.teams[item[1][0]].y - this.teams[item[0]].y + 12) + 'px'
            } else {
              tmp.top = (this.teams[item[1][0]].y + 24) + 'px'
              tmp.height = 12 + 'px'
            }
          } else {
            tmp.top = (this.teams[item[0]].y + 24) + 'px'
            tmp.height = (this.teams[item[1][0]].y - this.teams[item[0]].y - 12) + 'px'
          }
        }
        if (item[1][1] === 1) {
          if (tmp.y1 === tmp.y2) {
            if (item[1][1] === 0) {
              tmp.top = (this.teams[item[1][0]].y + 12) + 'px'
              tmp.height = Math.abs(this.teams[item[1][0]].y - this.teams[item[0]].y + 12) + 'px'
            } else {
              tmp.top = (this.teams[item[1][0]].y + 24) + 'px'
              tmp.height = 12 + 'px'
            }
          } else {
            tmp.top = (this.teams[item[1][0]].y + 36) + 'px'
            tmp.height = Math.abs(this.teams[item[1][0]].y - this.teams[item[0]].y + 12) + 'px'
          }
        }
        this.teamXY.push(tmp)
      })
    }
  }
}
</script>

<style scoped>

</style>
