<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>新建武器</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form ref="form" :rules="rules" :model="form" label-width="140px">
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="名称（英文）" prop="name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="类别" prop="kind">
              <el-select v-model="form.kind" placeholder="请选择" style="width: 100%">
                <el-option label="主武器" value="1" />
                <el-option label="副武器" value="2" />
                <el-option label="刀" value="3" />
                <el-option label="投掷物" value="4" />
                <el-option label="装备" value="5" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="状态" prop="state">
              <el-select v-model="form.state" placeholder="请选择" style="width: 100%">
                <el-option label="正常" value="1" />
                <el-option label="移除" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="官方ID" prop="external_id">
              <el-input v-model="form.external_id	" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="官方名称">
              <el-input v-model="form.external_name	" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="价格">
              <el-input v-model="form.cost" @keyup.native="form.cost = proving(form.cost)" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="击杀回报" prop="kill_award">
              <el-input v-model="form.kill_award" @keyup.native="form.kill_award = proving(form.kill_award)" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="移动速度" prop="movement_speed">
              <el-input v-model="form.movement_speed" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="弹夹容量">
              <el-input v-model="form.ammunition	" @keyup.native="form.ammunition = proving(form.ammunition)" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="后备弹量" prop="capacity">
              <el-input v-model="form.capacity" @keyup.native="form.capacity = proving(form.capacity)" />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="装填时间" prop="reload_time">
              <el-input v-model="form.reload_time" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8" :offset="0">
            <el-form-item label="CT是否可用">
              <el-select v-model="form.is_ct_available" placeholder="请选择" style="width: 100%">
                <el-option label="空" value="" />
                <el-option label="可" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="T是否可用">
              <el-select v-model="form.is_t_available" placeholder="请选择" style="width: 100%">
                <el-option label="空" value="" />
                <el-option label="可" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="射击模式" prop="firing_mode">
              <el-input v-model="form.firing_mode" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8" :offset="0">
            <el-row>
              <el-form-item label="图标" prop="image">
                <el-upload
                  class="avatar-uploader"
                  :action="getUploadUrl()"
                  :on-success="uploads"
                  :before-upload="beforeAvatarUpload"
                >
                  <img v-if="form.image" style="height: 28px" :src="form.image">
                  <i v-else class="el-icon-plus avatar-uploader-icon" />
                </el-upload>
              </el-form-item>
            </el-row>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="Slug" prop="slug">
              <el-input v-model="form.slug" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <div style="padding-top: 45px;text-align: center">
            <el-button type="primary" @click="onSubmit('form')">确认创建</el-button>
          </div>
        </el-row>
      </el-form>
    </el-card>
  </div>
</template>
<script>
import { getUploadBaseApi } from '@/api/file.js'
import { csgo_weapon_edit } from '@/api/metadata'
export default {
  name: 'Add',
  data() {
    const generateData = _ => {
      const data = []
      const cities = ['上海', '北京', '广州', '深圳', '南京', '西安', '成都']
      const pinyin = ['shanghai', 'beijing', 'guangzhou', 'shenzhen', 'nanjing', 'xian', 'chengdu']
      cities.forEach((city, index) => {
        data.push({
          label: city,
          key: index,
          pinyin: pinyin[index]
        })
      })
      return data
    }
    return {
      url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
      textarea: '',
      form: {
        name: '',
        kind: '',
        state: '',
        external_name: '',
        external_id: '',
        cost: '',
        kill_award: '',
        movement_speed: '',
        ammunition: '',
        capacity: '',
        firing_mode: '',
        slug: '',
        image: '',
        data_source: '',
        reload_time: '',
        is_ct_available: '',
        is_t_available: ''
      },
      data: generateData(),
      value: [],
      filterMethod(query, item) {
        return item.pinyin.indexOf(query) > -1
      },
      rules: {
        name: [
          { required: true, message: '请输入名称', trigger: 'change' }
        ],
        state: [
          { required: true, message: '请选择状态', trigger: 'change' }
        ],
        kind: [
          { required: true, message: '请选择类型', trigger: 'change' }
        ],
        image: [
          { required: true, message: '请上传图标', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    'form.name': {
      handler: function() {
        this.form.slug = this.$yangJian.slug_rule(this.form.name)
      }
    }
  },
  methods: {
    proving(data) {
      return this.$yangJian.integer_proving(data)
    },
    beforeAvatarUpload(file) {
      console.log('file')
      console.log(file)
      // const isPNG = file.type === 'image/png || svg'
      const testmsg = file.type === 'image/png'
      const isLt1M = file.size / 1024 / 1024 < 1
      if (!testmsg) {
        this.$message.error('只能上传PNG格式!')
        return false
      }
      if (!isLt1M) {
        this.$message({
          message: '上传图标大小不能超过 1MB!',
          type: 'error'
        })
        return false
      }
      return testmsg || isLt1M
    },
    uploads(res, file) {
      this.form.image = res.data.url
      console.log(res)
      // console.log(file)
    },
    getUploadUrl() {
      return getUploadBaseApi()
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          params['name'] = this.form.name
          params['kind'] = this.form.kind
          params['state'] = this.form.state
          params['external_name'] = this.form.external_name
          params['external_id'] = this.form.external_id
          params['cost'] = this.form.cost
          params['kill_award'] = this.form.kill_award
          params['movement_speed'] = this.form.movement_speed
          params['ammunition'] = this.form.ammunition
          params['capacity'] = this.form.capacity
          params['firing_mode'] = this.form.firing_mode
          params['slug'] = this.form.slug
          params['image'] = this.form.image
          params['data_source'] = this.form.data_source
          params['reload_time'] = this.form.reload_time
          params['is_ct_available'] = this.form.is_ct_available
          params['is_t_available'] = this.form.is_t_available
          csgo_weapon_edit(params).then(req => {
            this.$message({
              type: 'success',
              message: '添加成功！'
            })
            this.$router.push('/gamecenter/dataManage/csgo/weapon/list')
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
