<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>编辑武器</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form ref="form" :rules="rules" :model="form" label-width="140px">
        <el-row type="flex" class="row-bg">
          <el-col :span="8" ::offset="0">
            <el-form-item label="数据源">
              <el-select v-model="data_config.config['csgo_weapon.core_data'].origin_id" style="width: 100%" disabled>
                <el-option
                  v-for="(item,index) in $store.getters.enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" ::offset="0">
            <el-form-item label="更新方式">
              <el-select v-model="data_config.config['csgo_weapon.core_data'].update_type" style="width: 100%" disabled>
                <el-option label="不更新" value="1" />
                <el-option label="手动" value="2" />
                <el-option label="自动" value="3" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="名称（英文）" prop="name">
              <el-input v-model="form.name" />
              <div v-if="updateInfo.core_data.name || updateInfo.core_data.name == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.name?updateInfo.core_data.name:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.name = updateInfo.core_data.name">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="类别" prop="kind">
              <el-select v-model="form.kind" placeholder="请选择" style="width: 100%">
                <el-option label="主武器" value="1" />
                <el-option label="副武器" value="2" />
                <el-option label="刀" value="3" />
                <el-option label="投掷物" value="4" />
                <el-option label="装备" value="5" />
              </el-select>
              <div v-if="updateInfo.core_data.kind || updateInfo.core_data.kind == ''">
                <span class="upDate">变更为：<span style="color: red">
                  <span v-if="updateInfo.core_data.kind == '1'">主武器</span>
                  <span v-if="updateInfo.core_data.kind == '2'">副武器</span>
                  <span v-if="updateInfo.core_data.kind == '3'">刀</span>
                  <span v-if="updateInfo.core_data.kind == '4'">投掷物</span>
                  <span v-if="updateInfo.core_data.kind == '5'">装备</span>
                </span></span>
                <el-button type="primary" size="mini" plain @click="form.kind = updateInfo.core_data.kind">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="状态" prop="state">
              <el-select v-model="form.state" placeholder="请选择" style="width: 100%">
                <el-option label="正常" value="1" />
                <el-option label="移除" value="2" />
              </el-select>
              <div v-if="updateInfo.core_data.state || updateInfo.core_data.state == ''">
                <span class="upDate">变更为：<span style="color: red">
                  <span v-if="updateInfo.core_data.state == '1'">正常</span>
                  <span v-if="updateInfo.core_data.state == '2'">移除</span>
                </span></span>
                <el-button type="primary" size="mini" plain @click="form.state = updateInfo.core_data.state">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="官方ID" prop="external_id">
              <el-input v-model="form.external_id	" />
              <div v-if="updateInfo.core_data.external_id || updateInfo.core_data.external_id == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.external_id?updateInfo.core_data.external_id:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.external_id = updateInfo.core_data.external_id">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="官方名称">
              <el-input v-model="form.external_name	" />
              <div v-if="updateInfo.core_data.external_name || updateInfo.core_data.external_name == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.external_name?updateInfo.core_data.external_name:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.external_name = updateInfo.core_data.external_name">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col v-if="updateInfo.core_data.deleted" :span="8" :offset="0">
            <el-form-item label="是否删除">
              <el-select v-model="form.deleted" style="width: 100%" disabled>
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
              <div v-if="updateInfo.core_data.deleted || updateInfo.core_data.deleted == ''">
                <span class="upDate">变更为：<span style="color: red">
                  <span v-if="updateInfo.core_data.deleted == '1'">是</span>
                  <span v-if="updateInfo.core_data.deleted == '2'">否</span>
                </span></span>
                <el-button type="primary" size="mini" plain @click="form.deleted = updateInfo.core_data.deleted">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="价格">
              <el-input v-model="form.cost" />
              <div v-if="updateInfo.core_data.cost || updateInfo.core_data.cost == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.cost?updateInfo.core_data.cost:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.cost = updateInfo.core_data.cost">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="击杀回报">
              <el-input v-model="form.kill_award" />
              <div v-if="updateInfo.core_data.kill_award || updateInfo.core_data.kill_award == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.kill_award?updateInfo.core_data.kill_award:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.kill_award = updateInfo.core_data.kill_award">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="移动速度">
              <el-input v-model="form.movement_speed" />
              <div v-if="updateInfo.core_data.movement_speed || updateInfo.core_data.movement_speed == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.movement_speed?updateInfo.core_data.movement_speed:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.movement_speed = updateInfo.core_data.movement_speed">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="弹夹容量">
              <el-input v-model="form.ammunition" />
              <div v-if="updateInfo.core_data.ammunition || updateInfo.core_data.ammunition == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.ammunition?updateInfo.core_data.ammunition:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.ammunition = updateInfo.core_data.ammunition">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="后备弹量">
              <el-input v-model="form.capacity" />
              <div v-if="updateInfo.core_data.capacity || updateInfo.core_data.capacity == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.capacity?updateInfo.core_data.capacity:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.capacity = updateInfo.core_data.capacity">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="装填时间">
              <el-input v-model="form.reload_time" />
              <div v-if="updateInfo.core_data.reload_time || updateInfo.core_data.reload_time == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.reload_time?updateInfo.core_data.reload_time:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.reload_time = updateInfo.core_data.reload_time">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8" :offset="0">
            <el-form-item label="CT是否可用">
              <el-select v-model="form.is_ct_available" placeholder="请选择" style="width: 100%">
                <el-option label="空" value="" />
                <el-option label="可" value="1" />
                <el-option label="否" value="2" />
              </el-select>
              <div v-if="updateInfo.core_data.is_ct_available || updateInfo.core_data.is_ct_available == ''">
                <span class="upDate">变更为：<span style="color: red">
                  <span v-if="updateInfo.core_data.is_ct_available == ''">空</span>
                  <span v-if="updateInfo.core_data.is_ct_available == '1'">可</span>
                  <span v-if="updateInfo.core_data.is_ct_available == '2'">否</span>
                </span></span>
                <el-button type="primary" size="mini" plain @click="form.is_ct_available = updateInfo.core_data.is_ct_available">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="T是否可用">
              <el-select v-model="form.is_t_available	" placeholder="请选择" style="width: 100%">
                <el-option label="空" value="" />
                <el-option label="可" value="1" />
                <el-option label="否" value="2" />
              </el-select>
              <div v-if="updateInfo.core_data.is_t_available || updateInfo.core_data.is_t_available == ''">
                <span class="upDate">变更为：<span style="color: red">
                  <span v-if="updateInfo.core_data.is_t_available == ''">空</span>
                  <span v-if="updateInfo.core_data.is_t_available == '1'">可</span>
                  <span v-if="updateInfo.core_data.is_t_available == '2'">否</span>
                </span></span>
                <el-button type="primary" size="mini" plain @click="form.is_t_available = updateInfo.core_data.is_t_available">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="射击模式">
              <el-input v-model="form.firing_mode" />
              <div v-if="updateInfo.core_data.firing_mode || updateInfo.core_data.firing_mode == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.firing_mode?updateInfo.core_data.firing_mode:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.firing_mode = updateInfo.core_data.firing_mode">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8" :offset="0">
            <el-row>
              <el-form-item label="图标" prop="image">
                <el-upload
                  class="avatar-uploader"
                  :action="getUploadUrl()"
                  :on-success="uploads"
                  :before-upload="beforeAvatarUpload"
                >
                  <img v-if="form.image" style="height: 28px" :src="form.image">
                  <i v-else class="el-icon-plus avatar-uploader-icon" />
                </el-upload>
                <div v-if="updateInfo.core_data.image||updateInfo.core_data.image == ''">
                  <p class="upDate">变更为:</p>
                  <div style="color: red;">
                    <img v-if="updateInfo.core_data.image" style="width: 50px;height: 50px" :src="updateInfo.core_data.image">
                    <p v-if="updateInfo.core_data.image == ''">空</p>
                    <span><el-button type="primary" size="mini" plain @click="form.image = updateInfo.core_data.image">应用</el-button></span>
                  </div>
                </div>
              </el-form-item>
            </el-row>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="Slug" prop="slug">
              <el-input v-model="form.slug" />
              <div v-if="updateInfo.core_data.slug || updateInfo.core_data.slug == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.slug?updateInfo.core_data.slug:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.slug = updateInfo.core_data.slug">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <div style="padding-top: 45px;text-align: center">
            <el-button type="primary" @click="onSubmit('form')">确认修改</el-button>
          </div>
        </el-row>
        <div type="flex" class="row-bg" style="padding-top: 20px">
          <el-col v-for="(item,index) in binding_list" :key="index" :span="8">
            <el-col :span="20" ::offset="0">
              <el-form-item :label="item.desc">
                <el-input v-model="item.standard_id" disabled />
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form>
                <el-form-item style="text-align: right">
                  <el-button type="text" @click="unbundle(item.id)">解绑</el-button>
                </el-form-item>
              </el-form>
            </el-col>
          </el-col>
        </div>
      </el-form>
    </el-card>
  </div>
</template>
<script>
import { getUploadBaseApi } from '@/api/file.js'
import { csgo_weapon_info, csgo_weapon_edit } from '@/api/metadata'
import { get_binding_info } from '@/api/binding'
import { close_bing } from '@/api/common'
import { data_change_detail } from '@/api/data'
export default {
  name: 'Add',
  data() {
    const generateData = _ => {
      const data = []
      const cities = ['上海', '北京', '广州', '深圳', '南京', '西安', '成都']
      const pinyin = ['shanghai', 'beijing', 'guangzhou', 'shenzhen', 'nanjing', 'xian', 'chengdu']
      cities.forEach((city, index) => {
        data.push({
          label: city,
          key: index,
          pinyin: pinyin[index]
        })
      })
      return data
    }
    return {
      updateInfo: {
        core_data: {},
        base_data: {}
      },
      binding_list: [],
      slug_stutas: 0,
      url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
      textarea: '',
      form: {
        deleted: '',
        name: '',
        kind: '',
        state: '',
        external_name: '',
        external_id: '',
        cost: '',
        kill_award: '',
        movement_speed: '',
        ammunition: '',
        capacity: '',
        firing_mode: '',
        slug: '',
        image: '',
        data_source: '',
        reload_time: '',
        is_ct_available: '',
        is_t_available: ''
      },
      data: generateData(),
      value: [],
      filterMethod(query, item) {
        return item.pinyin.indexOf(query) > -1
      },
      data_config: {
        config: {
          'csgo_weapon.base_data': {
            'id': '',
            'game_id': '',
            'resource_type': '',
            'resource_id': '',
            'tag_type': 'base_data',
            'slug': 'team.base_data',
            'origin_id': '',
            'update_type': ''
          },
          'csgo_weapon.core_data': {
            'id': '',
            'game_id': '',
            'resource_type': 'team',
            'resource_id': '',
            'tag_type': 'core_data',
            'slug': 'team.core_data',
            'origin_id': '',
            'update_type': ''
          },
          'csgo_weapon.team_player': {
            'id': '',
            'game_id': '',
            'resource_type': 'team',
            'resource_id': '',
            'tag_type': 'team_player',
            'slug': 'team.team_player',
            'origin_id': '',
            'update_type': ''
          }
        }
      },
      rules: {
        name: [
          { required: true, message: '请输入名称', trigger: 'change' }
        ],
        state: [
          { required: true, message: '请选择状态', trigger: 'change' }
        ],
        kind: [
          { required: true, message: '请选择类型', trigger: 'change' }
        ],
        image: [
          { required: true, message: '请上传图标', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    'form.name': {
      handler: function() {
        if (this.slug_stutas === 1) {
          this.slug_stutas = 0
        } else {
          this.form.slug = this.$yangJian.slug_rule(this.form.name)
        }
      }
    }
  },
  mounted() {
    if (this.$route.query.upId) {
      setTimeout(() => {
        this.getinfo()
        this.getBindingInfo()
        this.upInfo()
      }, 500)
    } else {
      this.getinfo()
      this.getBindingInfo()
      this.upInfo()
    }
  },
  methods: {
    upInfo() {
      if (this.$route.query.tag_type) {
        this.tag_type = this.$route.query.tag_type
        const params = {}
        params['id'] = this.$route.query.upId
        data_change_detail(params).then(req => {
          var infoList = req.data.change_info
          this.update(infoList, req.data.tag_type)
        })
      }
    },
    update(data, type) {
      var infos = {}
      switch (type) {
        case 'core_data':
          for (var i in data) {
            var k_name = data[i].key
            infos[k_name] = data[i].after
          }
          this.updateInfo.core_data = infos
          if (infos.state) {
            this.updateInfo.core_data.state = this.$yangJian.tmp_toString(infos.state)
          }
          if (infos.deleted) {
            this.updateInfo.core_data.deleted = this.$yangJian.tmp_toString(infos.deleted)
          }
          break
        case 'base_data':
          for (var k in data) {
            k_name = data[k].key
            infos[k_name] = data[k].after
          }
          this.updateInfo.base_data = infos
          break
      }
    },
    getBindingInfo() {
      const params = {}
      params['master_id'] = this.$route.query.id
      params['type'] = 'csgo_weapon'
      get_binding_info(params).then(req => {
        this.binding_list = req.data
      })
    },
    unbundle(id) {
      if (id) {
        this.$confirm('确认解绑？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const params = {}
          params['standard_id'] = id
          params['type'] = 'csgo_weapon'
          close_bing(params).then(req => {
            this.$message({
              type: 'success',
              message: '解绑成功！'
            })
            this.getBindingInfo()
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          })
        })
      } else {
        this.$message({
          type: 'info',
          message: '没有绑定关系'
        })
      }
    },
    beforeAvatarUpload(file) {
      console.log('file')
      console.log(file)
      // const isPNG = file.type === 'image/png || svg'
      const testmsg = file.type === 'image/png'
      const isLt1M = file.size / 1024 / 1024 < 1
      if (!testmsg) {
        this.$message.error('只能上传PNG格式!')
        return false
      }
      if (!isLt1M) {
        this.$message({
          message: '上传图标大小不能超过 1MB!',
          type: 'error'
        })
        return false
      }
      return testmsg || isLt1M
    },
    getinfo() {
      const params = {}
      params['id'] = this.$route.query.id
      csgo_weapon_info(params).then(req => {
        this.slug_stutas = 1
        this.form = req.data
        if (req.data.data_config.config) {
          this.data_config = req.data.data_config
        }
        this.form.kind = this.$shaoXia.tmp_toString(req.data.kind)
        this.form.state = this.$shaoXia.tmp_toString(req.data.state)
        this.form.deleted = this.$shaoXia.tmp_toString(req.data.deleted)
        this.form.is_t_available = this.$shaoXia.tmp_toString(req.data.is_t_available)
        this.form.is_ct_available = this.$shaoXia.tmp_toString(req.data.is_ct_available)
        this.form.slug = this.$yangJian.slug_rule(req.data.slug)
      })
    },
    uploads(res, file) {
      this.form.image = res.data.url
      console.log(res)
      // console.log(file)
    },
    getUploadUrl() {
      return getUploadBaseApi()
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          if (this.$route.query.upId) {
            params['todo_id'] = this.$route.query.upId
          }
          params['id'] = this.$route.query.id
          params['name'] = this.form.name
          params['kind'] = this.form.kind
          params['state'] = this.form.state
          params['external_name'] = this.form.external_name
          params['external_id'] = this.form.external_id
          params['cost'] = this.form.cost
          params['kill_award'] = this.form.kill_award
          params['movement_speed'] = this.form.movement_speed
          params['ammunition'] = this.form.ammunition
          params['capacity'] = this.form.capacity
          params['firing_mode'] = this.form.firing_mode
          params['slug'] = this.form.slug
          params['image'] = this.form.image
          params['data_source'] = this.form.data_source
          params['reload_time'] = this.form.reload_time
          params['is_ct_available'] = this.form.is_ct_available
          params['is_t_available'] = this.form.is_t_available
          if (this.updateInfo.core_data.deleted && this.updateInfo.core_data.deleted === this.form.deleted) {
            params['deleted'] = this.form.deleted
            params['deleted_at'] = this.updateInfo.core_data.deleted_at
          }
          csgo_weapon_edit(params).then(req => {
            this.$message({
              type: 'success',
              message: '编辑成功！'
            })
            if (this.$route.query.upId) {
              this.$router.push('/gamecenter/update/updateinfo/list')
            } else {
              this.$router.push('/gamecenter/dataManage/csgo/weapon/list')
            }
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
