<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>相似绑定</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="form" :inline="true" label-width="100px" size="mini">
        <el-row>
          <el-col :span="1">
            <img v-if="allgames" :src="allgames[this.form.base.game_id].logo" style="width: 44px; height: 44px">
          </el-col>
          <el-col :span="6">
            <el-form-item label="数据源">
              <el-input v-if="enum_origin_list" v-model="enum_origin_list[this.form.base.origin_id].desc" :disabled="true" />
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-card>
              <el-row>
                <el-col :span="10" style="margin-top: 30px; margin-right: 30px">
                  <el-image
                    style="width: 150px; height: 100px; padding-left: 50px"
                    :src="form.base.image"
                  />
                </el-col>
                <el-col :span="12">
                  <p>数据源道具ID: {{ form.base.rel_identity_id }}</p>
                  <p>官方ID: {{ form.base.external_id }}</p>
                  <p>官方名称: {{ form.base.external_name }}</p>
                  <p>名称(英文): {{ form.base.name }}</p>
                  <p>名称(中文): {{ form.base.name_cn }}</p>
                </el-col>
              </el-row>
            </el-card>
          </el-col>
          <el-col :span="6" align="center">
            <el-form-item>
              <el-button type="primary" size="mini" @click="getAdd()">新增</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-divider />
        <el-row>
          <el-col v-for="(item,index) in form.binding_expect_info" :key="index" :span="8">
            <el-card>
              <el-row>
                <el-col :span="10" style="margin-top: 10px; margin-right: 10px">
                  <el-image
                    style="width: 100px; height: 100px; padding-left: 0px"
                    :src="item.image"
                  />
                </el-col>
                <el-col :span="13">
                  <p>ELS ID: {{ item.id? item.id : '' }}</p>
                  <p>官方ID: {{ item.external_id? item.external_id : '' }}</p>
                  <p>官方名称: {{ item.external_name? item.external_name:'' }}</p>
                  <p>名称(英文): {{ item.name? item.name : '' }}</p>
                  <p>名称(中文): {{ item.name_cn?item.name_cn:'' }}</p>
                </el-col>
              </el-row>
              <el-row style="text-align: center;margin-top: 20px">
                <el-form-item>
                  <el-button type="primary" @click="getBind(item.id)">绑定</el-button>
                </el-form-item>
              </el-row>
            </el-card>
          </el-col>
        </el-row>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { binding_metadata_detail, binding_metadata_binding, binding_metadata_add } from '@/api/binding'
import { mapGetters } from 'vuex'
export default {
  name: 'Batchadd',
  data() {
    return {
      playerInfo: [],
      url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
      form: {
        base: {
          player_country: '',
          real_name: ''
        }
      },
      tupian: [
        { url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg', name: 'wang' },
        { url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg', name: 'wang1' },
        { url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg', name: 'wang2' },
        { url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg', name: 'wang3' },
        { url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg', name: 'wang4' },
        { url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg', name: 'wang5' }
      ],
      teamsame: [
        { id: '123', name: 'keyd1', state: '中国1', names: 'name1' },
        { id: '1234', name: 'keyd2', state: '中国2', names: 'name2' },
        { id: '1235', name: 'keyd3', state: '中国3', names: 'name3' }
      ]
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list',
      'getCountryById'
    ])
  },
  mounted() {
    this.getInfo()
  },
  methods: {
    getAdd() {
      const params = {}
      params['standard_id'] = this.$route.query.id
      params['metadata_type'] = 'lol_item'
      binding_metadata_add(params).then(req => {
        this.$message({
          type: 'success',
          message: '添加成功！'
        })
        this.$router.push('/gamecenter/dataManage/heroLeague/prop/banding')
      })
    },
    getInfo() {
      const params = {}
      params['id'] = this.$route.query.id
      params['metadata_type'] = 'lol_item'
      binding_metadata_detail(params).then(req => {
        this.form = req.data
      })
    },
    getBind(id) {
      const params = {}
      params['standard_id'] = this.$route.query.id
      params['master_id'] = id
      params['metadata_type'] = 'lol_item'
      binding_metadata_binding(params).then(req => {
        this.$message({
          type: 'success',
          message: '绑定成功！'
        })
        this.$router.push('/gamecenter/dataManage/heroLeague/prop/banding')
      })
    }
  }
}
</script>

<style scoped>

</style>
