<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>编辑道具</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form ref="form" :rules="rules" :model="form" label-width="140px">
        <el-row type="flex" class="row-bg">
          <el-col :span="8" ::offset="0">
            <el-form-item label="数据源">
              <el-select v-model="data_config.config['lol_item.core_data'].origin_id" style="width: 100%" disabled>
                <el-option
                  v-for="(item,index) in $store.getters.enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" ::offset="0">
            <el-form-item label="更新方式">
              <el-select v-model="data_config.config['lol_item.core_data'].update_type" style="width: 100%" disabled>
                <el-option label="不更新" value="1" />
                <el-option label="手动" value="2" />
                <el-option label="自动" value="3" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="名称（英文）" prop="name">
              <el-input v-model="form.name" />
              <div v-if="updateInfo.core_data.name || updateInfo.core_data.name == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.name?updateInfo.core_data.name:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.name = updateInfo.core_data.name">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="名称（中文）">
              <el-input v-model="form.name_cn" />
              <div v-if="updateInfo.core_data.name_cn || updateInfo.core_data.name_cn == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.name_cn?updateInfo.core_data.name_cn:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.name_cn = updateInfo.core_data.name_cn">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="状态" prop="state">
              <el-select v-model="form.state" placeholder="请选择" style="width: 100%">
                <el-option label="正常" value="1" />
                <el-option label="移除" value="2" />
              </el-select>
              <div v-if="updateInfo.core_data.state || updateInfo.core_data.state == ''">
                <span class="upDate">变更为：<span style="color: red">
                  <span v-if="updateInfo.core_data.state == '1'">正常</span>
                  <span v-if="updateInfo.core_data.state == '2'">移除</span>
                </span></span>
                <el-button type="primary" size="mini" plain @click="form.state = updateInfo.core_data.state">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8" :offset="0">
            <el-form-item label="官方ID">
              <el-input v-model="form.external_id" />
              <div v-if="updateInfo.core_data.external_id || updateInfo.core_data.external_id == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.external_id?updateInfo.core_data.external_id:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.external_id = updateInfo.core_data.external_id">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="官方名称:">
              <el-input v-model="form.external_name" style="width: 100%" />
              <div v-if="updateInfo.core_data.external_name || updateInfo.core_data.external_name == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.external_name?updateInfo.core_data.external_name:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.external_name = updateInfo.core_data.external_name">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="总费用">
              <el-input v-model="form.total_cost" @keyup.native="form.total_cost = proving(form.total_cost)" />
              <div v-if="updateInfo.core_data.total_cost || updateInfo.core_data.total_cost == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.total_cost?updateInfo.core_data.total_cost:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.total_cost = updateInfo.core_data.total_cost">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="是否是饰品">
              <el-select v-model="form.is_trinket" placeholder="请选择" style="width: 100%">
                <el-option label="空" value="" />
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
              <div v-if="updateInfo.core_data.is_trinket || updateInfo.core_data.is_trinket == ''">
                <span class="upDate">变更为：<span style="color: red">
                  <span v-if="updateInfo.core_data.is_trinket == ''">空</span>
                  <span v-if="updateInfo.core_data.is_trinket == 1">是</span>
                  <span v-if="updateInfo.core_data.is_trinket == 2">否</span>
                </span></span>
                <el-button type="primary" size="mini" plain @click="form.is_trinket = ''+updateInfo.core_data.is_trinket">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="是否可直接购买">
              <el-select v-model="form.is_purchasable" placeholder="请选择" style="width: 100%">
                <el-option label="空" value="" />
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
              <div v-if="updateInfo.core_data.is_purchasable || updateInfo.core_data.is_purchasable == ''">
                <span class="upDate">变更为：<span style="color: red">
                  <span v-if="updateInfo.core_data.is_purchasable == ''">空</span>
                  <span v-if="updateInfo.core_data.is_purchasable == 1">是</span>
                  <span v-if="updateInfo.core_data.is_purchasable == 2">否</span>
                </span></span>
                <el-button type="primary" size="mini" plain @click="form.is_purchasable = ''+updateInfo.core_data.is_purchasable">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="Slug" prop="slug">
              <el-input v-model="form.slug" />
              <div v-if="updateInfo.core_data.slug || updateInfo.core_data.slug == ''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.slug?updateInfo.core_data.slug:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.slug = updateInfo.core_data.slug">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" />
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="图标" prop="image">
              <el-upload
                class="avatar-uploader"
                :action="getUploadUrl()"
                :on-success="uploads"
                :before-upload="beforeAvatarUpload"
              >
                <img v-if="form.image" style="width: 50px;height: 50px" :src="form.image" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon" />
              </el-upload>
              <div v-if="updateInfo.core_data.image||updateInfo.core_data.image == ''">
                <p class="upDate">变更为:</p>
                <div style="color: red;">
                  <img v-if="updateInfo.core_data.image" style="width: 50px;height: 50px" :src="updateInfo.core_data.image">
                  <p v-if="updateInfo.core_data.image == ''">空</p>
                  <span><el-button type="primary" size="mini" plain @click="form.image = updateInfo.core_data.image">应用</el-button></span>
                </div>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="描述（英文）">
              <el-input
                v-model="form.description"
                type="textarea"
                :rows="4"
                maxlength="1000"
                show-word-limit
              />
              <div v-if="updateInfo.core_data.description||updateInfo.core_data.description==''">
                <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.description?updateInfo.core_data.description:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.description = updateInfo.core_data.description">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="描述（中文）">
              <el-input
                v-model="form.description_cn"
                type="textarea"
                :rows="4"
                maxlength="1000"
                show-word-limit
              />
              <div v-if="updateInfo.core_data.description_cn||updateInfo.core_data.description_cn==''">
                <span class="upDate">变更为：<span style="color: red;">{{ updateInfo.core_data.description_cn?updateInfo.core_data.description_cn:'空' }}</span></span>
                <el-button type="primary" size="mini" plain @click="form.description_cn = updateInfo.core_data.description_cn">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <cl-row>
          <el-col v-if="updateInfo.core_data.deleted" :span="8" :offset="0">
            <el-form-item label="是否删除">
              <el-select v-model="form.deleted" style="width: 100%" disabled>
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
              <div v-if="updateInfo.core_data.deleted || updateInfo.core_data.deleted == ''">
                <span class="upDate">变更为：<span style="color: red">
                  <span v-if="updateInfo.core_data.deleted == '1'">是</span>
                  <span v-if="updateInfo.core_data.deleted == '2'">否</span>
                </span></span>
                <el-button type="primary" size="mini" plain @click="form.deleted = updateInfo.core_data.deleted">应用</el-button>
              </div>
            </el-form-item>
          </el-col>
        </cl-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <div style="padding-top: 45px;text-align: center">
            <el-button type="primary" @click="onSubmit('form')">确认修改</el-button>
          </div>
        </el-row>
        <div type="flex" class="row-bg" style="padding-top: 20px">
          <el-col v-for="(item,index) in binding_list" :key="index" :span="8">
            <el-col :span="20" ::offset="0">
              <el-form-item :label="item.desc">
                <el-input v-model="item.standard_id" disabled />
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form>
                <el-form-item style="text-align: right">
                  <el-button type="text" @click="unbundle(item.id)">解绑</el-button>
                </el-form-item>
              </el-form>
            </el-col>
          </el-col>
        </div>
      </el-form>
    </el-card>
  </div>
</template>
<script>
import { getUploadBaseApi } from '@/api/file.js'
import { lol_prop_info, lol_add_prop } from '@/api/metadata'
import { get_binding_info } from '@/api/binding'
import { close_bing } from '@/api/common'
import { data_change_detail } from '@/api/data'
export default {
  name: 'Edit',
  data() {
    const generateData = _ => {
      const data = []
      const cities = ['上海', '北京', '广州', '深圳', '南京', '西安', '成都']
      const pinyin = ['shanghai', 'beijing', 'guangzhou', 'shenzhen', 'nanjing', 'xian', 'chengdu']
      cities.forEach((city, index) => {
        data.push({
          label: city,
          key: index,
          pinyin: pinyin[index]
        })
      })
      return data
    }
    return {
      updateInfo: {
        core_data: {},
        base_data: {}
      },
      binding_list: [],
      slug_stutas: 0,
      url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
      textarea: '',
      form: {
        deleted: '',
        name: '',
        name_cn: '',
        state: '',
        external_id: '',
        external_name: '',
        total_cost: '',
        is_trinket: '',
        is_purchasable: '',
        slug: '',
        description: '',
        description_cn: '',
        image: ''
      },
      data: generateData(),
      value: [],
      filterMethod(query, item) {
        return item.pinyin.indexOf(query) > -1
      },
      data_config: {
        config: {
          'lol_item.base_data': {
            'id': '',
            'game_id': '',
            'resource_type': '',
            'resource_id': '',
            'tag_type': 'base_data',
            'slug': 'team.base_data',
            'origin_id': '',
            'update_type': ''
          },
          'lol_item.core_data': {
            'id': '',
            'game_id': '',
            'resource_type': 'team',
            'resource_id': '',
            'tag_type': 'core_data',
            'slug': 'team.core_data',
            'origin_id': '',
            'update_type': ''
          },
          'lol_item.team_player': {
            'id': '',
            'game_id': '',
            'resource_type': 'team',
            'resource_id': '',
            'tag_type': 'team_player',
            'slug': 'team.team_player',
            'origin_id': '',
            'update_type': ''
          }
        }
      },
      rules: {
        name: [
          { required: true, message: '请输入道具名称', trigger: 'change' }
        ],
        state: [
          { required: true, message: '请选择状态', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入slug', trigger: 'change' }
        ],
        image: [
          { required: true, message: '请上传图标', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    'form.name': {
      handler: function() {
        if (this.slug_stutas === 1) {
          this.slug_stutas = 0
        } else {
          this.form.slug = this.$yangJian.slug_rule(this.form.name)
        }
      }
    }
  },
  mounted() {
    if (this.$route.query.upId) {
      setTimeout(() => {
        this.infoList()
        this.getBindingInfo()
        this.upInfo()
      }, 500)
    } else {
      this.infoList()
      this.getBindingInfo()
      this.upInfo()
    }
  },
  methods: {
    proving(data) {
      return this.$yangJian.integer_proving(data)
    },
    getBindingInfo() {
      const params = {}
      params['master_id'] = this.$route.query.id
      params['type'] = 'lol_item'
      get_binding_info(params).then(req => {
        this.binding_list = req.data
      })
    },
    upInfo() {
      if (this.$route.query.tag_type) {
        this.tag_type = this.$route.query.tag_type
        const params = {}
        params['id'] = this.$route.query.upId
        data_change_detail(params).then(req => {
          var infoList = req.data.change_info
          this.update(infoList, req.data.tag_type)
        })
      }
    },
    update(data, type) {
      var infos = {}
      switch (type) {
        case 'core_data':
          for (var i in data) {
            var k_name = data[i].key
            infos[k_name] = data[i].after
          }
          this.updateInfo.core_data = infos
          if (infos.state) {
            this.updateInfo.core_data.state = this.$yangJian.tmp_toString(infos.state)
          }
          if (infos.deleted) {
            this.updateInfo.core_data.deleted = this.$yangJian.tmp_toString(infos.deleted)
          }
          break
        case 'base_data':
          for (var k in data) {
            k_name = data[k].key
            infos[k_name] = data[k].after
          }
          this.updateInfo.base_data = infos
          break
      }
    },
    unbundle(id) {
      if (id) {
        this.$confirm('确认解绑？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const params = {}
          params['standard_id'] = id
          params['type'] = 'lol_item'
          close_bing(params).then(req => {
            this.$message({
              type: 'success',
              message: '解绑成功！'
            })
            this.getBindingInfo()
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          })
        })
      } else {
        this.$message({
          type: 'info',
          message: '没有绑定关系'
        })
      }
    },
    beforeAvatarUpload(file) {
      console.log('file')
      console.log(file)
      // const isPNG = file.type === 'image/png || svg'
      const testmsg = file.type === 'image/png'
      const isLt1M = file.size / 1024 / 1024 < 1
      if (!testmsg) {
        this.$message.error('只能上传PNG格式!')
        return false
      }
      if (!isLt1M) {
        this.$message({
          message: '上传图标大小不能超过 1MB!',
          type: 'error'
        })
        return false
      }
      return testmsg || isLt1M
    },
    infoList() {
      const parans = {}
      parans['id'] = this.$route.query.id
      lol_prop_info(parans).then(req => {
        this.slug_stutas = 1
        this.form = req.data.prop
        this.form.is_purchasable = this.$shaoXia.tmp_toString(req.data.prop.is_purchasable)
        this.form.is_trinket = this.$shaoXia.tmp_toString(req.data.prop.is_trinket)
        this.form.state = this.$shaoXia.tmp_toString(req.data.prop.state)
        this.form.slug = this.$yangJian.slug_rule(req.data.prop.slug)
        if (req.data.prop.deleted) {
          this.form.deleted = this.$yangJian.tmp_toString(req.data.prop.deleted)
        }
        if (req.data.data_config.config) {
          this.data_config = req.data.data_config
        }
      })
    },
    uploads(res, file) {
      this.form.image = res.data.url
      console.log(res)
      // console.log(file)
    },
    getUploadUrl() {
      return getUploadBaseApi()
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          if (this.$route.query.upId) {
            params['todo_id'] = this.$route.query.upId
          }
          params['id'] = this.$route.query.id
          params['name'] = this.form.name
          params['state'] = this.form.state
          params['name_cn'] = this.form.name_cn
          params['external_id'] = this.form.external_id
          params['external_name'] = this.form.external_name
          params['total_cost'] = this.form.total_cost
          params['is_trinket'] = this.form.is_trinket
          params['is_purchasable'] = this.form.is_purchasable
          params['slug'] = this.form.slug
          params['description'] = this.form.description
          params['description_cn'] = this.form.description_cn
          params['image'] = this.form.image
          if (this.updateInfo.core_data.deleted && this.updateInfo.core_data.deleted === this.form.deleted) {
            params['deleted'] = this.form.deleted
            params['deleted_at'] = this.updateInfo.core_data.deleted_at
          }
          lol_add_prop(params).then(req => {
            this.$message({
              type: 'success',
              message: '编辑成功！'
            })
            if (this.$route.query.upId) {
              this.$router.push('/gamecenter/update/updateinfo/list')
            } else {
              this.$router.push('/gamecenter/dataManage/heroLeague/prop/list')
            }
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
  .upDate{
    font-weight: bold;
    color:#606266;
    font-size: 14px
  }
</style>
