<template>
  <div class="app-container transfer_info">
    <el-card>
      <div
        slot="header"
        v-loading="loading"
        class="clearfix"
        element-loading-text="拼命抓取中"
        element-loading-spinner="el-icon-loading"
        element-loading-background="rgba(0, 0, 0, 0.1)"
      >
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>查看详情</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row>
          <el-col :offset="23">
            <el-button type="primary" size="small" style="text-align: right" @click="subRest">重置</el-button>
          </el-col>
        </el-row>
        <el-row :gutter="5" style="padding: 0;margin-top: 20px">
          <el-col :span="8">
            <el-card shadow="never">
              <p style="text-align: center">正式表</p>
              <el-divider />
              <p>内容详情：</p>
              <json-viewer :value="official_chart" />
            </el-card>
            <!--            <div style="text-align: center;margin-top: 20px">-->
            <!--              <el-button type="primary" size="small" @click="getInfo(scope.row.id)">刷新</el-button>-->
            <!--            </div>-->
          </el-col>
          <el-col :span="8">
            <el-card shadow="never">
              <p style="text-align: center">标准表</p>
              <el-divider />
              <p>内容详情：</p>
              <json-viewer :value="stardard_chart" />
            </el-card>
            <!--            <div style="text-align: center;margin-top: 20px">-->
            <!--              <el-button type="primary" size="small" @click="getInfo(scope.row.id)">刷新</el-button>-->
            <!--            </div>-->
          </el-col>
          <el-col :span="8">
            <el-card shadow="never">
              <p style="text-align: center">原始表</p>
              <el-divider />
              <p>内容详情：</p>
              <json-viewer :value="original_chart" />
            </el-card>
          </el-col>
        </el-row>
        <el-row>
          <div style="text-align: center;margin-top: 20px">
            <el-button type="primary" size="small" style="margin-right: 20px" @click="upData">刷新</el-button>
            <el-button type="primary" size="small" style="margin-right: 20px" @click="getData">重抓</el-button>
          </div>
        </el-row>
      </div>
    </el-card>
  </div>
</template>

<script>
Vue.use(JsonViewer)
import Vue from 'vue'
import JsonViewer from 'vue-json-viewer'
import { refresh_stand } from '@/api/data'
import { contrast_master_data } from '@/api/task'
import { rese_stand } from '@/api/binding'
export default {
  name: 'BindingInfo',
  data() {
    return {
      loading: false,
      official_chart: '',
      stardard_chart: '',
      original_chart: ''
    }
  },
  mounted() {
    this.upData()
  },
  methods: {
    subRest() {
      this.loading = true
      const params = {}
      params['rel_identity_id'] = this.$route.query.rel_identity_id
      params['origin_id'] = this.$route.query.origin_id
      params['game_id'] = this.$route.query.game_id
      params['resource_type'] = this.$route.query.resource_type
      rese_stand(params).then(req => {
        this.loading = false
        this.$message({
          type: 'success',
          message: '重置成功！'
        })
        this.upData()
      }).catch((res) => {
        this.loading = false
        this.$message({
          showClose: true,
          message: res.message,
          type: 'error',
          duration: 0
        })
      })
    },
    upData() {
      const params = {}
      params['rel_id'] = this.$route.query.rel_identity_id
      params['origin_id'] = this.$route.query.origin_id
      params['game_id'] = this.$route.query.game_id
      params['resource_type'] = this.$route.query.resource_type
      contrast_master_data(params).then(req => {
        this.official_chart = req.data.master
        this.stardard_chart = req.data.stardard
        this.original_chart = req.data.curl
        this.$message({
          type: 'success',
          message: '刷新成功！'
        })
      })
    },
    getData() {
      this.loading = true
      const params = {}
      params['rel_identity_id'] = this.$route.query.rel_identity_id
      params['origin_id'] = this.$route.query.origin_id
      params['game_id'] = this.$route.query.game_id
      params['resource_type'] = this.$route.query.resource_type
      refresh_stand(params).then(req => {
        this.loading = false
        this.$message({
          type: 'success',
          message: '重抓成功！'
        })
        this.upData()
      }).catch((res) => {
        this.loading = false
        this.$message({
          showClose: true,
          message: res.message,
          type: 'error',
          duration: 0
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
