<template>
  <div id="widget-panel">
    <div class="widget-classify">
      <ul class="classify-wrap">
        <li
          v-for="(item, index) in widgetClassifyList"
          :key="index"
          class="classify-item"
          :class="{ 'active-classify-item' : activeWidgetClassify === index}"
          @click="clickClassify(index)"
        >
          <i :class="item.icon" class="iconfont" />
          <p>{{ item.name }}</p>
        </li>
      </ul>
    </div>
    <div class="widget-wrap">
      <text-list-wrap v-if="widgetClassifyList[0].show" :style="getStyle(0)" />
      <shape-list-wrap v-if="widgetClassifyList[1].show" :style="getStyle(1)" />
      <img-list-wrap v-if="widgetClassifyList[2].show" :style="getStyle(2)" />
    </div>
  </div>
</template>

<script>
// 组件面板
const NAME = 'widget-panel'
import wImage from 'COMMON/pageDesign/widgets/wImage/wImage'
import {
  mapGetters,
  mapActions
} from 'vuex'
export default {
  name: NAME,
  data() {
    return {
      widgetClassifyList: [
        {
          name: '文本',
          icon: 'icon-text',
          show: false
        },
        {
          name: '形状',
          icon: 'icon-shape',
          show: false
        },
        {
          name: '图片',
          icon: 'icon-pic',
          show: false
        },
        // {
        //   name: '素材',
        //   icon: 'icon-material',
        //   show: false
        // },
        {
          name: '二维码',
          icon: 'icon-shape',
          show: false
        }
      ],
      activeWidgetClassify: -1
    }
  },
  watch: {
    activeWidgetClassify(index) {
      if (index >= 0 && index < this.widgetClassifyList.length) {
        this.widgetClassifyList[index].show = true
      }
    }
  },
  mounted() {
    this.activeWidgetClassify = 0
  },
  methods: {
    ...mapActions([
      'addWidget'
    ]),
    clickClassify(index) {
      if(index===3){
        this.addQrCode()
      }
      this.activeWidgetClassify = index
    },
    getStyle(index) {
      return {
        display: (this.activeWidgetClassify === index ? '' : 'none')
      }
    },
    addQrCode() {
      const setting = JSON.parse(JSON.stringify(wImage.setting))
      setting.width = 100
      setting.height = 100
      setting.imgUrl = "http://localhost:9998/v1/poster/qr/show?host=www.qinglong.dev.comingtrue.cn&code=154940"
      this.addWidget(setting)
    },
  }
}
</script>

<style scoped lang="stylus" src="STYLUS/main.styl"></style><style lang="stylus" scoped>
@import '~STYLUS/page-design.styl'
#widget-panel
  position: relative
  width: 360px
  height: 100%
  display: flex
  flex-direction: row
  font-weight: bold
  color: $color-white
  .widget-classify
    width: 60px
    height: 100%
    text-align: center
    background-color: $color-dark-gray
    .classify-wrap
      width: 100%
      .classify-item
        width: 100%
        height: 60px
        font-size: 12px
        cursor: pointer
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        p
          margin-top: 5px
        &:hover
          color: $color-main
      .active-classify-item
        background-color: $color-light-gray
        color: $color-main
  .widget-wrap
    flex: 1
    height: 100%
    background-color: $color-light-gray

</style>
