<template>
  <div class="app-container">
    <el-card>
      <!--      <div slot="header" class="clearfix">-->
      <!--        <el-breadcrumb separator-class="el-icon-arrow-right">-->
      <!--          <el-breadcrumb-item>比赛录入</el-breadcrumb-item>-->
      <!--        </el-breadcrumb>-->
      <!--      </div>-->
      <el-form ref="req" :model="req" label-width="140px">
        <el-row>
          <el-col :offset="0" style="height: 20px">
            <h5>比赛基本信息</h5>
          </el-col>
        </el-row>
        <el-divider />
        <el-row>
          <el-col :span="10" :offset="1" class="higths">
            <el-form-item label="游戏项目">
              <el-select v-model="req.game" :disabled="true" style="width: 100%">
                <el-option
                  v-for="(item,index) in allgame"
                  :key="index"
                  :label="item.e_name + ' '+'('+item.name+')'"
                  :value="''+ item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="10" :offset="1" class="higths">
            <el-form-item label="比赛规则">
              <el-select v-model="req.game_rules" :disabled="true" style="width: 100%">
                <el-option
                  v-for="(item,index) in game_rules_list"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="10" :offset="1" class="higths">
            <el-form-item label="所属赛事">
              <el-select
                v-model="req.tournament_id"
                filterable
                :disabled="true"
                style="width: 100%"
              >
                <el-option
                  v-for="item in gameinfo"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="10" :offset="1" class="higths">
            <el-form-item label="比赛类型">
              <el-select v-model="req.match_type" :disabled="true" style="width: 100%">
                <el-option
                  v-for="(item,index) in game_match_type_list"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="10" :offset="1" class="higths">
            <el-form-item label="分组名称">
              <el-cascader
                v-model="req.relation"
                :options="options"
                :show-all-levels="false"
                style="width: 100%"
                :disabled="true"
              />
              <!--              <el-select v-model="req.group" :disabled="true" style="width: 100%">-->
              <!--                <el-option-->
              <!--                  v-for="item in get_group_info"-->
              <!--                  :key="item.id"-->
              <!--                  :label="item.group_name"-->
              <!--                  :value="item.id"-->
              <!--                />-->
              <!--              </el-select>-->
            </el-form-item>
          </el-col>
          <el-col :span="10" :offset="1" class="higths">
            <el-form-item label="赛制局数">
              <el-select v-model="req.number_of_games" :disabled="true" style="width: 100%">
                <el-option
                  v-for="item in game_son_info"
                  :key="item.id"
                  :label="item.match_name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="10" :offset="1" class="higths">
            <el-form-item label="计划开始时间">
              <el-date-picker
                v-model="req.scheduled_begin_at"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                :disabled="true"
                style="width: 100%"
              />
            </el-form-item>
          </el-col>
          <el-col :span="10" :offset="1" class="higths">
            <el-form-item label="原计划开始时间">
              <el-date-picker
                v-model="req.original_scheduled_begin_at"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                :disabled="true"
                style="width: 100%"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="10" :offset="1" class="higths">
            <el-form-item label="是否调整了时间表">
              <el-select v-model="req.is_rescheduled" :disabled="true" style="width: 100%">
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="10" :offset="1" class="higths">
            <el-form-item label="Slug">
              <el-select v-model="req.slug" :disabled="true" style="width: 100%"><el-option
                v-for="item in get_search_teaminfo"
                :key="item.id"
                :label="item.slug"
                :value="item.id"
              />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="10" :offset="1">
            <el-form-item label="主队">
              <el-select v-model="req.team_1_id" :disabled="true" style="width: 100%">
                <el-option
                  v-for="item in get_search_teaminfo"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="10" :offset="1" class="higths">
            <el-form-item label="客队">
              <el-select v-model="req.team_2_id" :disabled="true" style="width: 100%"><el-option
                v-for="item in get_search_teaminfo"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-form ref="req" :model="in_req" label-width="140px">
        <el-row>
          <el-col :offset="0" style="height: 20px">
            <h5>更新方式</h5>
          </el-col>
        </el-row>
        <el-divider />
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="使用数据源">
              <el-select v-model="config_info.config['match.score_data'].origin_id" placeholder="请选择">
                <el-option
                  v-for="(item,index) in enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="操作方式">
              <el-select v-model="config_info.config['match.score_data'].update_type" placeholder="请选择">
                <el-option label="手动" value="2" />
                <el-option label="自动" value="3" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="2">
            <el-button type="primary" size="small" @click="upWay">保存</el-button>
          </el-col>
        </el-row>
        <el-row>
          <el-col :offset="0" style="height: 20px">
            <h5>数据重抓</h5>
          </el-col>
        </el-row>
        <el-divider />
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="使用数据源">
              <el-select v-model="refresh.auto_origin_id" placeholder="请选择">
                <el-option
                  v-for="(item,index) in enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="方式">
              <el-select v-model="refresh.auto_add_type">
                <el-option label="restapi" value="restapi" />
                <el-option label="socket" value="socket" />
              </el-select>
              <el-select v-if="refresh.auto_add_type == 'socket'" v-model="refresh.auto_add_sub_type">
                <el-option
                  v-for="(item,index) in auto_req.auto_add_sub_type_list"
                  :key="index"
                  :label="item"
                  :value="item"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="2">
            <el-button type="primary" size="small" @click="upRefresh($route.query.match_id,'')">重抓</el-button>
            <el-button type="primary" size="small" @click="upRefresh($route.query.match_id, 'xiufu')" plain>修复</el-button>
          </el-col>
        </el-row>
        <el-row>
          <el-col :offset="0" style="height: 20px">
            <h5>实时比分自动录入</h5>
          </el-col>
        </el-row>
        <el-divider />
        <el-form ref="dataRank" :rules="rules" :model="dataRank" label-width="140px">
          <el-row>
            <el-col :span="8" :offset="0">
              <el-form-item label="数据速度级别" prop="data_level">
                <el-select v-model="dataRank.data_level">
                  <el-option label="log" value="log" />
                  <el-option label="api" value="api" />
                  <el-option label="cv" value="cv" />
                  <el-option label="unsupported" value="unsupported" />
                  <el-option label="manual" value="manual" />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8" :offset="0">
              <el-form-item label="数据速度优势" prop="data_speed">
                <el-input v-model="dataRank.data_speed" placeholder="请输入正整数" style="width: 167px" @keyup.native="dataRank.data_speed = $yangJian.integer_proving(dataRank.data_speed)" />
              </el-form-item>
            </el-col>
            <el-col :span="2">
              <el-button type="primary" size="small" @click="subDataRank('dataRank')">保存</el-button>
            </el-col>
          </el-row>
        </el-form>
        <el-row style="text-align: center;">
          <el-col :span="6" :offset="0" style="text-align: left">
            <el-form-item label="自动录入方式">
              <el-select v-model="auto_req.auto_add_type">
                <el-option label="restapi" value="restapi" />
                <el-option label="socket" value="socket" />
              </el-select>
              <el-select v-if="auto_req.auto_add_type == 'socket'" v-model="auto_req.auto_add_sub_type">
                <el-option
                  v-for="(item,index) in auto_req.auto_add_sub_type_list"
                  :key="index"
                  :label="item"
                  :value="item"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="2">
            <el-button type="primary" size="small" @click="onOutoWay">保存</el-button>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-button type="success" size="small" @click="onOuto">启动</el-button>
            <el-button type="warning" size="small" @click="offOuto">关闭</el-button>
            <el-button type="primary" size="small" @click="check_data($route.query.match_id)">查看</el-button>
            <el-dropdown size="small" type="primary" @command="handleClick">
              <el-button type="primary" size="small">
                国内版数据详情<i class="el-icon-arrow-down el-icon--right" />
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="1">webSocket(内部)</el-dropdown-item>
                <el-dropdown-item command="2">webSocket(专业)</el-dropdown-item>
                <el-dropdown-item command="3">webSocket(普通)</el-dropdown-item>
                <el-dropdown-item command="4">webSocket(免费)</el-dropdown-item>
                <el-dropdown-item command="5">restApi(内部)</el-dropdown-item>
                <el-dropdown-item command="6">restApi(专业)</el-dropdown-item>
                <el-dropdown-item command="7">restApi(普通)</el-dropdown-item>
                <el-dropdown-item command="8">restApi(免费)</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
            <el-dropdown size="small" type="primary" @command="handleClick1">
              <el-button type="primary" size="small">
                海外版数据详情<i class="el-icon-arrow-down el-icon--right" />
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="1">webSocket(内部)</el-dropdown-item>
                <el-dropdown-item command="2">webSocket(专业)</el-dropdown-item>
                <el-dropdown-item command="3">webSocket(普通)</el-dropdown-item>
                <el-dropdown-item command="4">webSocket(免费)</el-dropdown-item>
                <el-dropdown-item command="5">restApi(内部)</el-dropdown-item>
                <el-dropdown-item command="6">restApi(专业)</el-dropdown-item>
                <el-dropdown-item command="7">restApi(普通)</el-dropdown-item>
                <el-dropdown-item command="8">restApi(免费)</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
            <!--            <el-switch-->
            <!--              style="margin-left: 5px"-->
            <!--              v-model="Singapore_is"-->
            <!--              active-text="新加坡"-->
            <!--              inactive-text="香港">-->
            <!--            </el-switch>-->
          </el-col>
          <el-col :span="2" :offset="0">
            <el-form-item label="自动录入状态" />
          </el-col>
          <el-col :span="4">
            <el-form-item>
              <el-checkbox v-model="manual_status" @click="onOuto1">页面自动刷新</el-checkbox>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :offset="18" style="height: 50px">
            <p v-if="this.auto_req.auto_status == 1" :disabled="true" style="color: red; font-size: 20px">
              自动录入中
              <transition name="fade">
                <span v-if="this.value%2 == 0">.....</span>
              </transition>
            </p>
          </el-col>
        </el-row>
        <el-row>
          <el-col :offset="0" style="height: 20px">
            <h5>地图BP</h5>
          </el-col>
        </el-row>
        <el-divider />
        <el-form :inline="true" label-width="100px" size="mini">
          <div v-for="(item, index) in teamBP" :key="index" style="padding-bottom: 0px">
            <el-row type="flex" class="row-bg">
              <el-col :span="3" :offset="1">
                <el-form-item label="操作排序">
                  <span>{{ index + 1 }}</span>
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="战队">
                  <el-select v-model="item.team" clearable placeholder="请选择" style="width: 220px">
                    <el-option
                      v-for="(item,index) in get_search_teaminfo"
                      :key="index"
                      :label="item.name"
                      :value="''+ item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="操作类型">
                  <el-select v-model="item.type" clearable placeholder="请选择" style="width: 220px">
                    <el-option label="Ban" value="1" />
                    <el-option label="Pick" value="2" />
                    <el-option label="Left over" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="地图名称">
                  <el-select v-model="item.map" clearable filterable placeholder="请选择" style="width: 220px">
                    <el-option
                      v-for="(item,index) in dota_map_list"
                      :key="index"
                      :label="item.name+' ('+item.name_cn +')'"
                      :value="''+ item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="2">
                <el-form-item>
                  <el-button type="text" size="small" @click="onSubAdd(index)">添加</el-button>
                  <el-button type="text" size="small" @click="onSubDel(index)">删除</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
          <el-row>
            <p style="text-align: center">
              <el-button type="primary" plain @click="save1">保存</el-button>
            </p>
          </el-row>
        </el-form>
        <el-row>
          <el-col :offset="0" style="height: 20px">
            <h5>比赛地图</h5>
          </el-col>
        </el-row>
        <el-divider />
        <el-form :inline="true" label-width="100px" size="mini">
          <div v-for="(item, index) in matchBP" :key="index" style="padding-bottom: 0px">
            <el-row type="flex" class="row-bg">
              <el-col :span="3" :offset="1">
                <el-form-item label="地图排序">
                  <span>{{ index + 1 }}</span>
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="地图名称">
                  <el-select v-model="item.map" clearable filterable placeholder="请选择" style="width: 220px">
                    <el-option
                      v-for="(item,index) in dota_map_list"
                      :key="index"
                      :label="item.name+' ('+item.name_cn +')'"
                      :value="''+ item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="2">
                <el-form-item>
                  <el-button type="text" size="small" @click="onSubAdd1(index)">添加</el-button>
                  <el-button type="text" size="small" @click="onSubDel1(index)">删除</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </el-form>
        <el-row>
          <p style="text-align: center">
            <el-button type="primary" plain @click="save2">保存</el-button>
          </p>
        </el-row>
        <el-row>
          <el-col :offset="0" style="height: 20px">
            <h5>比赛数据</h5>
          </el-col>
        </el-row>
        <el-divider />
        <el-row>
          <el-col :span="10" :offset="1" class="higths">
            <el-form-item label="实际开始时间">
              <el-date-picker
                v-model="match_data.begin_at"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 100%"
              />
            </el-form-item>
          </el-col>
          <el-col :span="10" :offset="1" class="higths">
            <el-form-item label="实际结束时间">
              <el-date-picker
                v-model="match_data.end_at"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 100%"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="10" :offset="1">
            <el-form-item label="比赛状态">
              <el-select v-model="match_data.status" placeholder="请选择" style="width: 100%">
                <el-option
                  v-for="(item,index) in match_state_list"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="10" :offset="1">
            <el-row>
              <el-col :span="12">
                <el-form-item label="视频管理">
                  <el-button type="primary" size="small" @click="getvideo($route.query.match_id)">视频直播源</el-button>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="实时数据">
                  <el-button type="primary" size="small" @click="dialogVisible = true">实时数据接口</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-col>
        </el-row>
        <el-dialog
          title="实时数据接口详情"
          :visible.sync="dialogVisible"
          width="80%"
        >
          <div>
            <el-row>
              <el-col :span="12">
                <el-form-item label="是否提供实时数据:">
                  <el-input v-model="req.tournament_name" style="width:100%" disabled />
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="端口开放是时间:">
                  <el-date-picker
                    v-model="in_req.begin_at"
                    type="datetime"
                    value-format="yyyy-MM-dd HH:mm:ss"
                    style="width: 100%"
                    disabled
                  />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :offset="0" style="height: 15px">
                <p>frames端口</p>
              </el-col>
            </el-row>
            <el-divider />
            <el-row>
              <el-col :span="12">
                <el-form-item label="比赛计划开始时间:">
                  <el-date-picker
                    v-model="in_req.begin_at"
                    type="datetime"
                    value-format="yyyy-MM-dd HH:mm:ss"
                    style="width: 100%"
                    disabled
                  />
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="比赛实际开始时间:">
                  <el-date-picker
                    v-model="in_req.begin_at"
                    type="datetime"
                    value-format="yyyy-MM-dd HH:mm:ss"
                    style="width: 100%"
                    disabled
                  />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="12">
                <el-form-item label="最后一次活跃:">
                  <el-input v-model="req.tournament_name" style="width:100%" disabled />
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="端口开放状态:">
                  <el-input v-model="req.tournament_name" style="width:100%" disabled />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="12">
                <el-form-item label="实时数据类型:">
                  <el-input v-model="req.tournament_name" style="width:100%" disabled />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="URL:">
                  <el-input v-model="req.tournament_name" style="width:100%" disabled />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :offset="0" style="height: 15px">
                <p>events端口</p>
              </el-col>
            </el-row>
            <el-divider />
            <el-row>
              <el-col :span="12">
                <el-form-item label="比赛计划开始时间:">
                  <el-date-picker
                    v-model="in_req.begin_at"
                    type="datetime"
                    value-format="yyyy-MM-dd HH:mm:ss"
                    style="width: 100%"
                    disabled
                  />
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="比赛实际开始时间:">
                  <el-date-picker
                    v-model="in_req.begin_at"
                    type="datetime"
                    value-format="yyyy-MM-dd HH:mm:ss"
                    style="width: 100%"
                    disabled
                  />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="12">
                <el-form-item label="最后一次活跃:">
                  <el-input v-model="req.tournament_name" style="width:100%" disabled />
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="端口开放状态:">
                  <el-input v-model="req.tournament_name" style="width:100%" disabled />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="12">
                <el-form-item label="实时数据类型:">
                  <el-input v-model="req.tournament_name" style="width:100%" disabled />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="URL:">
                  <el-input v-model="req.tournament_name" style="width:100%" disabled />
                </el-form-item>
              </el-col>
            </el-row>
          </div>
          <span slot="footer" class="dialog-footer">
            <el-button type="primary" @click="dialogVisible = false">关 闭</el-button>
          </span>
        </el-dialog>
        <el-row>
          <el-col :span="4" :offset="4" style="text-align: center">
            <el-row>
              <el-row v-for="(item,index) in get_search_teaminfo" :key="index">
                <img v-if="item.id == req.team_1_id" :src="item.image" style="width: 80px;height: 80px">
              </el-row>
            </el-row>
            <el-row>
              <el-select v-model="req.team_1_id" :disabled="true" style="width: 100%">
                <el-option
                  v-for="item in get_search_teaminfo"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-row>
            <el-row>
              <el-input v-model="match_data.team_1_score" placeholder="主队比分" />
            </el-row>
          </el-col>
          <el-col :span="4" :offset="2" style="text-align: center">
            <el-row>
              <p style=" font-size: 45px; color: red">VS</p>
            </el-row>
          </el-col>
          <el-col :span="4" :offset="2" style="text-align: center">
            <el-row>
              <el-row v-for="(item,index) in get_search_teaminfo" :key="index">
                <img v-if="item.id == req.team_2_id" :src="item.image" style="width: 80px;height: 80px">
              </el-row>
            </el-row>
            <el-row>
              <el-select v-model="req.team_2_id" :disabled="true" style="width: 100%"><el-option
                v-for="item in get_search_teaminfo"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
              </el-select>
            </el-row>
            <el-row>
              <el-input v-model="match_data.team_2_score" placeholder="客队比分" />
            </el-row>
          </el-col>
        </el-row>
        <el-row style="padding-top: 10px">
          <el-col :span="2" :offset="3">
            <el-form-item label="获胜方" />
          </el-col>
          <el-col :span="4" :offset="1" style="padding-top: 15px; text-align: center">
            <el-radio v-model="match_data.winner" label="1" @change="match_data.is_draw = '2'">获胜</el-radio>
          </el-col>
          <el-col :span="4" :offset="0" style="padding-top: 15px; text-align: center">
            <el-radio v-model="match_data.is_draw" label="1" @change="match_data.winner = '0'">平局</el-radio>
          </el-col>
          <el-col :span="4" style="padding-top: 15px; text-align: center">
            <el-radio v-model="match_data.winner" label="2" @change="match_data.is_draw = '2'">获胜</el-radio>
          </el-col>
          <el-col :span="2" :offset="0">
            <el-button type="primary" size="small" @click="resteinfo">重置</el-button>
          </el-col>
        </el-row>
        <!--        <el-row>-->
        <!--          <el-col :span="13" :offset="1" style="padding-top: 0px; text-align: center">-->
        <!--            <el-radio v-model="match_data.is_forfeit" label="1">弃权</el-radio>-->
        <!--          </el-col>-->
        <!--          <el-col :span="4" style="padding-top: 0px; text-align: center">-->
        <!--            <el-radio v-model="match_data.is_forfeit" label="2">弃权</el-radio>-->
        <!--          </el-col>-->
        <!--        </el-row>-->
        <el-row style="padding-top: 30px">
          <el-col :span="6" :offset="1">
            <el-form-item label="默认领先战队">
              <el-select v-model="match_data.default_advantage" placeholder="请选择">
                <el-option label="空" value="" />
                <el-option :label="team_1_name" value="1" />
                <el-option :label="team_2_name" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="1">
            <el-form-item label="是否弃权">
              <el-select v-model="match_data.is_forfeit" placeholder="请选择">
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="2">
            <el-form-item label="是否有对局详情数据">
              <el-select v-model="match_data.is_battle_detailed" placeholder="请选择">
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <p style="text-align: center">
            <el-button type="primary" plain @click="save3">保存</el-button>
          </p>
        </el-row>
        <el-row>
          <el-col :offset="0" style="height: 20px">
            <h5>对局数据</h5>
          </el-col>
        </el-row>
        <el-divider />
        <el-row>
          <div style="margin-bottom: 20px;">
            <el-button
              size="small"
              @click="getBattleAdd(editableTabsValue)"
            >添加单局</el-button>
          </div>
          <el-tabs v-model="editableTabsValue" type="card" closable @tab-remove="removeTab">
            <el-tab-pane
              v-for="(item,index) in editableTabs"
              :key="index"
              :label="battleName(item,item.form.base.order)"
              :name="''+index"
            >
              <dota2Battle v-model="item.form" @fromChild="getChild" />
            </el-tab-pane>
          </el-tabs>
        </el-row>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { get_enums, get_games } from '@/api/common'
import { teamList } from '@/api/team'
import dota2Battle from '../../../../comopnent/tournament/dota2Battle'
import { get_tournament_team, tournamentTree } from '@/api/tournament'
import { Dota_map_data } from '@/api/metadata'
import { mapGetters } from 'vuex'
import {
  get_tournament,
  get_stage,
  get_group,
  get_search_team,
  get_realtime_detail,
  get_realtime_set,
  get_battle_list,
  get_battle_add,
  get_battle_del,
  get_match_detail, get_refresh_match,
  data_speed
} from '@/api/match'
import { resource_config_edit } from '@/api/data'
export default {
  name: 'Dota2',
  components: { dota2Battle },
  data() {
    return {
      Singapore_is: true,
      dataRank: {
        data_level: 'unsupported',
        data_speed: 0
      },
      refresh: {
        auto_add_sub_type: '',
        auto_origin_id: '2',
        auto_add_type: 'restapi'
      },
      config_info: {
        config: {
          'match.score_data': {
            origin_id: '',
            update_type: ''
          },
          'match.update_data': {
            origin_id: '',
            update_type: ''
          }
        },
        game: {}
      },
      state: false,
      manual_status: false,
      dota_map_list: {},
      get_search_teaminfo_battle: '',
      match_state_list: [],
      all_match_state_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      game_match_type_list: [],
      all_game_match_type_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      game_rules_list: [],
      all_rules_list: { 'id': '', 'name': '全部', 'e_name': 'all' },
      battle_list: {},
      dialogVisible: false,
      options: [
        { id: '',
          value: '空',
          type: '空',
          parent_id: '空',
          label: '空'
        }
      ],
      teamBP: [{ team: '', type: '', map: '' }],
      matchBP: [{ map: '1' }],
      timer: '',
      timer1: '',
      team_1_name: '',
      team_2_name: '',
      value: 1,
      heroinfo: [],
      begin: 0,
      team_list: [],
      allgame: [{ 'id': '0', 'name': '全部', 'e_name': 'all' }],
      games: [],
      get_search_teaminfo: [{ name: 'TBD', id: '-1' }],
      get_group_info: [],
      get_stage_info: [],
      game_son_info: [],
      gameinfo: [],
      queryid: '',
      info: 1,
      battleinfo: [],
      battle: [
        { id: 0, status_type: '', confrontation_begin_date: '' }
      ],
      yxlist: [
        { ban: '', pick: '' },
        { ban: '', pick: '' },
        { ban: '', pick: '' },
        { ban: '', pick: '' }
      ],
      input: '',
      radio: '0',
      editableTabsValue: '1',
      editableTabs: [],
      tabIndex: 0,
      url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
      checked: true,
      main_team_id: '',
      other_team_id: '',
      req: {
        game: '',
        tournament_id: '',
        son_tournament_id: '',
        stage_id: '',
        relation: [],
        group_id: ''
      },
      auto_req: {
        auto_add_sub_type: '',
        auto_origin_id: '',
        auto_status: '',
        auto_add_type: ''
      },
      match_data: {
        begin_at: '',
        end_at: '',
        team_1_score: '',
        team_2_score: '',
        is_forfeit: '2',
        is_draw: '2',
        winner: '0',
        lead_team: '',
        is_battle_detailed: '2',
        default_advantage: '',
        status: ''
      },
      in_req: {
        is_image_text: 0,
        data_source_id: '',
        auto_input_status: 2,
        main_team_grade: '',
        out_team_grade: '',
        video_id: '',
        status: ''
      },
      rules: {
        data_level: [
          { required: true, message: '请选择数据速度级别', trigger: 'blur' }
        ],
        data_speed: [
          { required: true, message: '请输入正整数', trigger: 'change' }
        ]
      }
    }
  },
  computed: {
    ...mapGetters([
      // 'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  watch: {
    'auto_req.auto_status': {
      handler() {
        // this.save()
      }
    },
    'req.game': {
      handler() {
        this.gamelist()
      }
    },
    'req.tournament_id': {
      handler() {
        this.game_son_list()
      }
    }
  },
  mounted() {
    this.get_dota_map_data()
    this.get_match_state()
    this.get_game_match_type_list()
    this.get_game_rules()
    // this.infolist()
    this.infoGames()
    this.getinfo()
    this.teaminfo()
    this.timer = setInterval(this.get, 1000)
    this.timer1 = setInterval(this.outoInfo, 5000)
    this.get_realtime_info()
  },
  beforeDestroy() {
    clearInterval(this.timer)
    clearInterval(this.timer1)
  },
  methods: {
    subDataRank(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          params['match_id'] = this.$route.query.match_id
          params['data_level'] = this.dataRank.data_level
          params['data_speed'] = this.dataRank.data_speed
          data_speed(params).then(res => {
            this.$message({
              type: 'success',
              message: '保存成功！'
            })
          })
        } else {
          return false
        }
      })
    },
    getChild() {
      this.$router.go(0)
    },
    battleName(info, id) {
      if (info.form.base.deleted === '1') {
        return (<span style='font-size:14px;cursor:pointer;color:red'> {'Battle' + id}</span>)
      } else {
        return (<span style='font-size:14px;cursor:pointer;'> {'Battle' + id}</span>)
      }
    },
    onOutoWay() {
      var tmp = { auto_add_type: '' }
      tmp.auto_add_type = this.auto_req.auto_add_type
      if (this.auto_req.auto_add_type == 'socket') {
        tmp.auto_add_sub_type = this.auto_req.auto_add_sub_type
      }
      const params = {}
      params['match_id'] = this.$route.query.match_id
      params['data_type'] = 'auto'
      params['data'] = tmp
      get_realtime_set(params).then(req => {
        this.$message({
          type: 'success',
          message: '保存成功！'
        })
      })
    },
    upWay() {
      const params = {}
      params['resource_type'] = 'match'
      params['resource_id'] = this.$route.query.match_id
      params['config'] = this.config_info
      resource_config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '保存成功！'
        })
      })
    },
    upRefresh(id,operate_type) {
      const params = {}
      params['match_id'] = id
      params['game_type'] = 'dota'
      params['origin_id'] = this.refresh.auto_origin_id
      params['refresh_type'] = this.refresh.auto_add_type
      params['auto_add_sub_type'] = this.refresh.auto_add_sub_type
      params['operate_type'] = operate_type
      get_refresh_match(params).then(req => {
        if (operate_type) {
          this.$message({
            type: 'success',
            message: '修复成功！'
          })
        } else {
          this.$message({
            type: 'success',
            message: '重抓成功！'
          })
        }
      })
    },
    get_dota_map_data() {
      const params = {}
      Dota_map_data(params).then(req => {
        this.dota_map_list = req.data
      })
    },
    // 比赛状态
    get_match_state() {
      const params = {}
      params['type'] = 'match_state'
      get_enums(params).then(req => {
        this.match_state_list = req.data
        // this.match_state_list['0'] = this.all_match_state_list
      })
    },
    // 规则
    get_game_rules() {
      const params = {}
      params['type'] = 'game_rules'
      get_enums(params).then(req => {
        this.game_rules_list = req.data
        this.game_rules_list['0'] = this.all_rules_list
      })
    },
    // 比赛类型
    get_game_match_type_list() {
      const params = {}
      params['type'] = 'game_match_type'
      get_enums(params).then(req => {
        this.game_match_type_list = req.data
        this.game_match_type_list['0'] = this.all_game_match_type_list
      })
    },
    handleClick(command) {
      if (command === '1' || command === '2' || command === '3' || command === '4') {
        this.$router.push({ path: '/gamecenter/match/matchinfo/write/dota2Websocket', query: { id: this.$route.query.match_id, type: command }})
      }
      if (command === '5' || command === '6' || command === '7' || command === '8') {
        this.$router.push({ path: '/gamecenter/match/matchinfo/write/dota2RestApi', query: { id: this.$route.query.match_id, type: command }})
      }
    },
    handleClick1(command) {
      if (command === '1' || command === '2' || command === '3' || command === '4') {
        this.$router.push({ path: '/gamecenter/match/matchinfo/write/dota2Websocket', query: { id: this.$route.query.match_id, type: command, foreign_id: 1 }})
      }
      if (command === '5' || command === '6' || command === '7' || command === '8') {
        this.$router.push({ path: '/gamecenter/match/matchinfo/write/dota2RestApi', query: { id: this.$route.query.match_id, type: command, foreign_id: 1 }})
      }
    },
    check_data(id) {
      this.$router.push({ path: '/gamecenter/match/matchinfo/manageLog/normData', query: { id: id }})
    },
    resteinfo() {
      this.match_data.is_draw = '2'
      this.match_data.winner = '0'
      // this.match_data.is_forfeit = '0'
    },
    outoInfo() {
      // if (this.auto_req.auto_status == '1') {
      //   this.get_realtime_info()
      //   this.getBattleList()
      // }
      if (this.manual_status) {
        this.state = true
        this.get_realtime_info()
        this.getBattleList()
        this.$message({
          type: 'success',
          message: '刷新成功！'
        })
      } else if (this.state) {
        this.get_realtime_info()
        this.getBattleList()
        this.state = false
      }
    },
    onOuto1() {
      // this.manual_status = true
      if (this.manual_status === false) {
        this.get_realtime_info()
        this.getBattleList()
      }
    },
    onOuto() {
      this.auto_req.auto_status = 1
      var tmp = { auto_status: '1' }
      const params = {}
      params['match_id'] = this.$route.query.match_id
      params['data_type'] = 'auto'
      params['data'] = tmp
      get_realtime_set(params).then(req => {
        this.$message({
          type: 'success',
          message: '启动成功！'
        })
      }).catch(() => {
        this.auto_req.auto_status = 2
      })
    },
    offOuto() {
      this.auto_req.auto_status = 2
      var tmp = { auto_status: '2' }
      const params = {}
      params['match_id'] = this.$route.query.match_id
      params['data_type'] = 'auto'
      params['data'] = tmp
      get_realtime_set(params).then(req => {
        this.$message({
          type: 'success',
          message: '关闭成功！'
        })
      })
    },
    getBattleAdd() {
      var order = ''
      var num = ''
      if (this.editableTabs.length) {
        try {
          this.editableTabs.forEach((item, index) => {
            if (item.form.base.order == 1 + index) {
              order = 1 + this.editableTabs.length
            } else {
              num = 1 + index
              throw new Error('end')
            }
          })
        } catch (e) {
          console.log(e)
          if (e.message === 'end') {
            order = num
          }
        }
      } else {
        order = 1
      }
      const params = {}
      params['match_id'] = this.$route.query.match_id
      params['game_type'] = 'dota'
      params['order'] = order
      get_battle_add(params).then(req => {
        this.getBattleList()
      })
    },
    removeTab(targetName) {
      const index = Number(targetName)
      console.log('我删除了' + index)
      this.$confirm('是否确认删除?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['battle_id'] = this.editableTabs[index].form.base.id
        params['game_type'] = 'dota'
        get_battle_del(params).then(req => {
          this.getChild()
          this.getBattleList()
          this.$message({
            type: 'success',
            message: '删除成功!'
          })
        })
        // this.editableTabs.splice(index, 1)
        // this.editableTabsValue = '' + (this.editableTabs.length - 1)
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    getBattleList() {
      const params = {}
      params['match_id'] = this.$route.query.match_id
      params['game_type'] = 'dota'
      get_battle_list(params).then(req => {
        this.editableTabs = []
        this.battle_list = req.data
        this.battle_list.forEach(item => {
          var form = { form: '' }
          form.form = item
          form.form.team_1_id = this.req.team_1_id
          form.form.team_1_name = this.team_1_name
          form.form.team_2_id = this.req.team_2_id
          form.form.team_2_name = this.team_2_name
          form.form.auto_status = this.manual_status
          form.form.get_search_teaminfo = this.get_search_teaminfo
          if (!form.form.base.map) {
            form.form.base.map = ''
          }
          console.log(form)
          this.editableTabs.push(form)
          this.editableTabsValue = '' + (this.editableTabs.length - 1)
          // this.editableTabsValue = this.$shaoXia.tmp_toString(this.editableTabs.length - 1)
        })
      })
    },
    get_realtime_info() {
      const params = {}
      params['match_id'] = this.$route.query.match_id
      get_realtime_detail(params).then(req => {
        if (req.data.detail.data_level) {
          this.dataRank.data_level = req.data.detail.data_level
        }
        if (req.data.detail.data_speed) {
          this.dataRank.data_speed = req.data.detail.data_speed
        }
        if (req.data.map) {
          this.matchBP = req.data.map
        }
        if (req.data.ban_pick) {
          this.teamBP = req.data.ban_pick
        }
        if (req.data.auto) {
          this.auto_req = req.data.auto
        }
        if (req.data.detail.status) {
          // this.match_data = req.data.detail
          this.match_data.is_battle_detailed = this.$shaoXia.tmp_toString(req.data.detail.is_battle_detailed)
          this.match_data.status = this.$shaoXia.tmp_toString(req.data.detail.status)
          this.match_data.is_draw = this.$shaoXia.tmp_toString(req.data.detail.is_draw)
          this.match_data.winner = this.$shaoXia.tmp_toString(req.data.detail.winner)
          this.match_data.is_forfeit = this.$shaoXia.tmp_toString(req.data.detail.is_forfeit)
          this.match_data.default_advantage = this.$shaoXia.tmp_toString(req.data.detail.default_advantage)
          this.match_data.begin_at = req.data.detail.begin_at
          this.match_data.end_at = req.data.detail.end_at
          this.match_data.team_1_score = req.data.detail.team_1_score
          this.match_data.team_2_score = req.data.detail.team_2_score
        }
      })
    },

    save1() {
      const params = {}
      params['match_id'] = this.$route.query.match_id
      params['data_type'] = 'ban_pick'
      params['data'] = this.teamBP
      get_realtime_set(params).then(req => {
        this.$message({
          type: 'success',
          message: '保存成功！'
        })
      })
    },
    save2() {
      const params = {}
      params['match_id'] = this.$route.query.match_id
      params['data_type'] = 'map'
      params['data'] = this.matchBP
      get_realtime_set(params).then(req => {
        this.$message({
          type: 'success',
          message: '保存成功！'
        })
      })
    },
    save3() {
      const params = {}
      params['data_type'] = 'detail'
      params['match_id'] = this.$route.query.match_id
      params['data'] = this.match_data
      get_realtime_set(params).then(req => {
        this.$message({
          type: 'success',
          message: '保存成功！'
        })
      })
    },
    onSubAdd(id) {
      var tmp = { team: '', type: '', map: '' }
      this.teamBP.splice(id + 1, 0, tmp)
    },
    onSubDel(id) {
      for (var i = 0; i < this.teamBP.length - 1; i++) {
        if (i === id) {
          this.teamBP.splice(i, 1)
        }
      }
    },
    onSubAdd1(id) {
      var tmp = { map: '1' }
      this.matchBP.splice(id + 1, 0, tmp)
    },
    onSubDel1(id) {
      for (var i = 0; i < this.matchBP.length - 1; i++) {
        if (i === id) {
          this.matchBP.splice(i, 1)
        }
      }
    },
    get() {
      this.value = this.value + 1
    },
    teaminfo() {
      const params = {}
      teamList(params).then(req => {
        this.team_list = req.data.list
      })
    },
    infoGames() {
      const params = {}
      get_games(params).then(req => {
        this.games = req.data
        this.allgame.push.apply(this.allgame, this.games)
      })
    },
    getinfo() {
      const params = {}
      // params['id'] = this.$route.query.id
      params['id'] = this.$route.query.match_id
      get_match_detail(params).then(req => {
        this.req = req.data.core_data
        this.config_info = req.data.data_config
        if (req.data.core_data.relation) {
          this.req.relation = JSON.parse(req.data.core_data.relation)
        }
        this.get_search_team_list()
        // this.req.game = 1 * req.data[0].game
      })
    },
    get_search_team_list() {
      if (Array.isArray(this.req.relation) && this.req.relation.length > 1) {
        const params = {}
        params['group_id'] = this.req.relation[this.req.relation.length - 1]
        get_search_team(params).then(req => {
          this.get_search_teaminfo_battle = req.data.list
          var tmp1 = req.data.list
          var tmp = []
          tmp1.forEach(item => {
            if (item.id === this.req.team_1_id) {
              tmp.push(item)
            }
            if (item.id === this.req.team_2_id) {
              tmp.push(item)
            }
          })
          this.get_search_teaminfo = [{ name: 'TBD', id: '-1' }]
          if (tmp) {
            this.get_search_teaminfo.push.apply(this.get_search_teaminfo, tmp)
          }
          this.team_1_info()
          this.getBattleList()
        })
      } else {
        const params = {}
        params['id'] = this.req.tournament_id
        params['type'] = 'son_tournament'
        get_tournament_team(params).then(req => {
          // this.tournament_team_list = req.data
          this.get_search_teaminfo_battle = req.data
          var tmp1 = req.data
          var tmp = []
          tmp1.forEach(item => {
            if (item.id === this.req.team_1_id) {
              tmp.push(item)
            }
            if (item.id === this.req.team_2_id) {
              tmp.push(item)
            }
          })
          this.get_search_teaminfo = [{ name: 'TBD', id: '-1' }]
          this.get_search_teaminfo.push.apply(this.get_search_teaminfo, tmp)
          this.team_1_info()
          this.getBattleList()
        })
      }
    },
    team_1_info() {
      this.get_search_teaminfo.forEach(item => {
        if (item.id === this.req.team_1_id) {
          this.team_1_name = item.name
        }
        if (item.id === this.req.team_2_id) {
          this.team_2_name = item.name
        }
      })
    },
    game_group_list() {
      const params = {}
      params['tournament_id'] = this.req.tournament_id
      get_group(params).then(req => {
        this.get_group_info = req.data.list
      })
    },
    game_stage_list() {
      const params = {}
      params['tournament_id'] = this.req.tournament_id
      get_stage(params).then(req => {
        this.get_stage_info = req.data.list
      })
    },
    game_son_list() {
      const params = {}
      params['id'] = this.req.tournament_id
      params['type'] = 'only_group'
      tournamentTree(params).then(req => {
        var obj = req.data
        var m = {}
        for (var i in obj) {
          m = obj[i]
        }
        function conver(m) {
          const tmp = {
            id: m.id,
            value: m.primary_key,
            type: m.type,
            parent_id: m.parent_id,
            label: kk(m)
          }
          if (m.son) {
            tmp.children = []
            for (var i in m.son) {
              tmp.children.push(conver(m.son[i]))
            }
          }
          function kk(m) {
            if (m.type === '1') {
              return '赛事：' + m.tree_name
            }
            if (m.type === '2') {
              return '子赛事：' + m.tree_name
            }
            if (m.type === '3') {
              return '阶段：' + m.tree_name
            }
            if (m.type === '4') {
              return '分组：' + m.tree_name
            }
            if (m.type === '5') {
              return '目录：' + m.tree_name
            }
          }
          return tmp
        }
        var options = [conver(m)]
        this.options.push(options[0])
      })
    },
    gamelist() {
      const params = {}
      params['game_id'] = this.req.game
      get_tournament(params).then(req => {
        this.gameinfo = req.data.list
      })
    },
    // infolist() {
    //   this.queryid = this.$route.query.match_id
    //   const params = {}
    //   params['match_id'] = this.$route.query.match_id
    //   get_input_info(params).then(req => {
    //     if (req.data.input_info || req.data.battle_info.length > 0) {
    //       this.in_req = req.data.input_info
    //       if (req.data.input_info.is_image_text === '1') {
    //         this.in_req.is_image_text = true
    //       } else {
    //         this.in_req.is_image_text = false
    //       }
    //       this.info = 2
    //       this.battle = req.data.battle_info
    //       for (var i in this.battle) {
    //         var p = {
    //           form: ''
    //         }
    //         p.form = this.battle[i]
    //         this.editableTabs.push(p)
    //         this.editableTabsValue = '' + (this.editableTabs.length - 1)
    //       }
    //     }
    //   })
    // },
    getvideo(match_id) {
      this.$router.push({ path: '/gamecenter/match/matchinfo/write/video', query: { match_id: match_id, team_1_name: this.team_1_name, team_2_name: this.team_2_name }})
    },
    addTab(targetName) {
      this.editableTabs.push({
        form: {
          team_1_id: this.req.team_1_id,
          team_2_id: this.req.team_2_id,
          get_search_teaminfo: this.get_search_teaminfo,
          match_id: this.$route.query.match_id,
          match_data: {
            map: '',
            begin_at: '',
            end_at: '',
            match_status: '',
            main_team_grade: '',
            out_team_grade: '',
            is_forfeit: '',
            is_draw: '',
            lead_team: '',
            is_battle_detailed: ''
          },
          ban_pick: {
            team: '',
            type: '',
            heor: ''
          },
          play_first_kill_info: {
            is_authority: '',
            camp: '',
            five_kills: '',
            ten_kills: '',
            first_blood_tower: '',
            first_canyon_pioneer: '',
            first_element_loong: '',
            first_ancient_loong: '',
            fitst_baron: '',
            fitst_crystal: ''
          },
          play_much_kill_info: {
            kill: '',
            economics: '',
            experience: '',
            destroy_stupa: '',
            destroy_crystal: '',
            destroy_pioneer: '',
            destroy_baron: '',
            destroy_loong: [],
            match_duration: ''
          },
          type: 1,
          id: '',
          status_type: '',
          confrontation_begin_date: '',
          camp: '',
          five_kills: '',
          ten_kills: '',
          first_small_dragons: '',
          first_big_dragons: '',
          first_crystal: '',

          push_tower: '',
          small_dragons: '',
          baron: '',
          crystal: '',
          match_duration: '',
          match_begin_date: '',
          destroy_near_barrack: '',
          destroy_far_barrack: '',
          other_destroy_far_barrack: '',
          other_destroy_near_barrack: '',
          other_economics: '',
          other_kill: '',
          other_push_tower: '',
          other_small_dragons: '',
          other_baron: '',
          other_crystal: '',
          ban: ['', '', '', '', '', '', '', '', '', ''],
          pick: ['', '', '', '', '', '', '', '', '', '']
        }
      })
      this.editableTabsValue = '' + (this.editableTabs.length - 1)
    },

    restdata() {
      this.form = {
        type: 1,
        status_type: '',
        confrontation_begin_date: '',
        camp: '',
        five_kills: '',
        ten_kills: '',
        first_blood_tower: '',
        first_canyon_pioneer: '',
        first_small_dragons: '',
        first_big_dragons: '',
        first_crystal: '',
        kill: '',
        economics: '',
        push_tower: '',
        small_dragons: '',
        baron: '',
        crystal: '',
        match_duration: '',
        match_begin_date: '',
        experience: '',
        destroy_near_barrack: '',
        destroy_far_barrack: '',
        other_destroy_far_barrack: '',
        other_destroy_near_barrack: '',
        other_economics: '',
        other_kill: '',
        other_push_tower: '',
        other_small_dragons: '',
        other_baron: '',
        other_crystal: ''
      }
    }
  }
}
</script>

<style scoped>
  .higths {
    height: 35px;
  }
  .background-colors {
    background-color: #e7ecf4;
    width: 90%
  }
  .widths {
    width: 90%;
  }
</style>
