<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>更新设置</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form ref="form" :model="form" label-width="100px">
        <el-row type="flex" class="row-bg">
          <el-col :span="6" :offset="0">
            <el-form-item label="游戏项目">
              <el-input v-model="form.name" :disabled="true" />
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="赛事名称">
              <el-input v-model="form.name" :disabled="true" />
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="参赛战队">
              <el-input v-model="form.name" :disabled="true" />
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="ESLID">
              <el-input v-model="form.name" :disabled="true" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="6" :offset="4">
            <p>赛程更新：</p>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="6" :offset="4">
            <el-form-item label="使用数据源">
              <el-select v-model="form.region" placeholder="ELS">
                <el-option label="区域一" value="shanghai" />
                <el-option label="区域二" value="beijing" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="3">
            <el-form-item label="操作方式">
              <el-select v-model="form.region" placeholder="自动">
                <el-option label="区域一" value="shanghai" />
                <el-option label="区域二" value="beijing" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="6" :offset="4">
            <p>实时比分录入：</p>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="6" :offset="4">
            <el-form-item label="使用数据源">
              <el-select v-model="form.region" placeholder="飞鲸">
                <el-option label="区域一" value="shanghai" />
                <el-option label="区域二" value="beijing" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="3">
            <el-form-item label="操作方式">
              <el-select v-model="form.region" placeholder="自动">
                <el-option label="区域一" value="shanghai" />
                <el-option label="区域二" value="beijing" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <el-col :span="6" style="padding-top: 45px">
            <el-form-item>
              <el-button type="primary" @click="onSubmit">确认修改</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>

    </el-card>
  </div>
</template>
<script>
export default {
  name: 'Update',
  data() {
    return {
      textarea: '',
      form: {}
    }
  },
  methods: {
    onSubmit() {}
  }
}
</script>

<style scoped>

</style>
