<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>手动添加</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form ref="form" :rules="rules" :model="form" label-width="100px">
        <el-row type="flex" align="top">
          <el-col :span="5" :offset="0">
            <el-form-item label="主播名称" prop="streamer">
              <el-input v-model="form.streamer" />
            </el-form-item>
          </el-col>
          <el-col :span="6" :offset="0">
            <el-form-item label="直播平台" prop="platform_name">
              <el-select v-model="form.platform_name" filterable allow-create placeholder="请选择">
                <el-option
                  v-for="item in options"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id+','+item.name"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="5" :offset="0">
            <el-form-item label="国家地区">
              <el-select v-model="form.country" clearable filterable placeholder="请选择">
                <el-option
                  v-for="(item,index) in country"
                  :key="index"
                  :label="item.e_name + ' '+'('+item.name+')'"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="4" :offset="0">
            <el-form-item label="观看人数">
              <el-input v-model="form.viewers" type="number" />
            </el-form-item>
          </el-col>
          <el-col :span="1" :offset="0">
            <el-form-item>
              <el-checkbox v-model="form.is_official" style="width: 50%">官方直播源</el-checkbox>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="11" :offset="0">
            <el-form-item label="标题" prop="title">
              <el-input v-model="form.title" />
            </el-form-item>
          </el-col>
          <el-col :span="12" :offset="0">
            <el-form-item label="直播间地址" prop="live_url">
              <el-input v-model="form.live_url" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="15" :offset="0">
            <el-form-item label="嵌入代码" prop="live_embed_url">
              <el-input v-model="form.live_embed_url" />
            </el-form-item>
          </el-col>
          <el-col :span="4" :offset="1">
            <el-button type="primary" size="small" @click="onSubmit('form')">确认添加</el-button>
          </el-col>
        </el-row>

        <el-row>
          <el-col :offset="0">
            <el-form-item label="已添加视频源" />
            <el-divider />
          </el-col>
        </el-row>
        <el-table
          :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'8px',height:'40px',textAlign:'center'}"
          :cell-style="{textAlign:'center',padding:'3px'}"
          :data="tableData"
          style="width: 100%"
        >
          <el-table-column prop="streamer" label="主播名称" />
          <el-table-column prop="platform_name" label="直播平台" />
          <el-table-column prop="title" label="标题" />
          <el-table-column prop="country" label="国家地区">
            <template slot-scope="scope">
              <p>{{ $store.getters.getCountryById(scope.row.country) }}</p>
            </template>
          </el-table-column>
          <el-table-column prop="viewers" label="观看人数" />
          <el-table-column prop="is_official" label="官方直播源">
            <template slot-scope="scope">
              <p v-if="scope.row.is_official === '1'">是</p>
              <p v-if="scope.row.is_official === '2'">否</p>
            </template>
          </el-table-column>
          <el-table-column prop="live_embed_url" label="嵌入代码" width="300px" />
          <el-table-column prop="origin_name" label="来源" />
          <el-table-column v-if="$hasAuth('platform|partTimeJob|write')" label="操作">
            <template slot-scope="scope">
              <el-button type="text" size="small" @click="getEdit(scope.row.id)">编辑</el-button>
              <el-button type="text" size="small" @click="getDel(scope.row.id)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="over">
          <el-pagination
            class="pager"
            background
            layout="prev, pager, next"
            :total="total"
            :current-page="page"
            :page-size="per_page"
            @current-change="changePager"
          />
        </div>
        <el-dialog
          title="编辑"
          :visible.sync="dialogVisible"
          width="80%"
        >
          <el-form ref="req" :rules="rules1" :model="req" label-width="100px">
            <el-row type="flex" align="top">
              <el-col :span="5" :offset="0">
                <el-form-item label="主播名称" prop="streamer">
                  <el-input v-model="req.streamer" />
                </el-form-item>
              </el-col>
              <el-col :span="6" :offset="0">
                <el-form-item label="直播平台" prop="platform_name">
                  <el-select v-model="req.platform_name" filterable allow-create placeholder="请选择">
                    <el-option
                      v-for="item in options"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id+','+item.name"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="5" :offset="0">
                <el-form-item label="国家地区">
                  <el-select v-model="req.country" clearable filterable placeholder="请选择">
                    <el-option
                      v-for="(item,index) in country"
                      :key="index"
                      :label="item.e_name + ' '+'('+item.name+')'"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="4" :offset="0">
                <el-form-item label="观看人数">
                  <el-input v-model="req.viewers" type="number" />
                </el-form-item>
              </el-col>
              <el-col :span="1" :offset="0">
                <el-form-item>
                  <el-checkbox v-model="req.is_official" style="width: 50%">官方直播源</el-checkbox>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="11" :offset="0">
                <el-form-item label="标题" prop="title">
                  <el-input v-model="req.title" />
                </el-form-item>
              </el-col>
              <el-col :span="12" :offset="0">
                <el-form-item label="直播间地址" prop="live_url">
                  <el-input v-model="req.live_url" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="15" :offset="0">
                <el-form-item label="嵌入代码" prop="live_embed_url">
                  <el-input v-model="req.live_embed_url" />
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="onEidt('req')">确认修改</el-button>
          </span>
        </el-dialog>
        <el-row>
          <el-col :offset="0">
            <el-form-item label="可添加视频源" />
          </el-col>
        </el-row>
        <el-row class="el-row">
          <el-col v-for="(item,index) in videolist" :key="index" :span="6" style="padding-bottom: 10px">
            <el-card shadow="never" style="height: 100%;position:relative;">
              <div style="height: 100%">
                <el-row>
                  <el-col style="margin-top: 0px; margin-right: 30px">
                    <el-image
                      v-if="item.preview"
                      style="width: 100%; height: 200px;"
                      :src="item.preview"
                    />
                  </el-col>
                </el-row>
                <p>主播名称: {{ item.streamer }}</p>
                <p>直播平台: {{ item.platform_name }}</p>
                <div>标题:<span v-html="item.title" /></div>
                <p><el-link :href="item.live_url" target="_blank" :underline="false" style="font-size: 16px">直播间地址: {{ item.live_url }}</el-link></p>
                <p>国家地区: {{ item.country }}</p>
                <p>观看人数: {{ item.viewers }}</p>
                <p>来源: {{ item.origin_name }}</p>
                <p style="padding-bottom: 30px">最后更新时间: {{ item.modified_time }}</p>
                <div style="width: 45%;text-align: center;">
                  <el-button v-if="item.is_add=== false" type="primary" size="medium" style="width: 50%;position:absolute;bottom:0;text-align: center;" @click="onSubmit1(item)">添加</el-button>
                  <el-button v-if="item.is_add=== true" type="info" size="medium" style="width: 50%;position:absolute;bottom:0;text-align: center;" disabled>已添加</el-button>
                </div>
              </div>
            </el-card>
          </el-col>
        </el-row>
        <div class="over">
          <el-pagination
            class="pager"
            background
            layout="prev, pager, next"
            :total="total1"
            :current-page="page1"
            :page-size="per_page1"
            @current-change="changePager1"
          />
        </div>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { get_stream_edit, get_stream_list, live_stream_list, get_stream_del, get_stream_detail, live_stream_add, platform_list } from '@/api/match'
export default {
  name: 'Video',
  data() {
    return {
      total: 20,
      page: 1,
      per_page: 10,
      total1: 16,
      page1: 1,
      per_page1: 16,
      id: '',
      dialogVisible: false,
      options: [{
        value: 'Huya',
        label: 'Huya'
      }, {
        value: 'Huomao',
        label: 'Huomao'
      }, {
        value: 'Twitch',
        label: 'Twitch'
      }],
      value: [],
      tableData: [],
      url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
      form: {
        streamer: '',
        platform_name: '',
        country: '',
        viewers: '',
        title: '',
        live_url: '',
        is_official: false,
        live_embed_url: ''
      },
      req: {
        streamer: '',
        platform_name: '',
        country: '',
        viewers: '',
        title: '',
        live_url: '',
        is_official: false,
        live_embed_url: ''
      },
      videolist: [
      ],
      rules: {
        streamer: [
          { required: true, message: '请输入主播名称', trigger: 'blur' }
        ],
        platform_name: [
          { required: true, message: '请选择直播平台', trigger: 'change' }
        ],
        title: [
          { required: true, message: '请输入标题', trigger: 'change' }
        ],
        live_embed_url: [
          { required: true, message: '请输入嵌入代码', trigger: 'change' }
          // {pattern: /^http/g, message: '请输入正确格式'}
        ],
        live_url: [
          { required: true, message: '请输入直播间地址', trigger: 'change' }
          // {pattern: /^http/g, message: '请输入正确格式'}
        ]
      },
      rules1: {
        streamer: [
          { required: true, message: '请输入主播名称', trigger: 'blur' }
        ],
        platform_name: [
          { required: true, message: '请选择直播平台', trigger: 'change' }
        ],
        title: [
          { required: true, message: '请输入标题', trigger: 'change' }
        ],
        live_embed_url: [
          { required: true, message: '请输入嵌入代码', trigger: 'change' }
        ],
        live_url: [
          { required: true, message: '请输入直播间地址', trigger: 'change' }
        ]
      }
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  mounted() {
    this.get_platform_list()
    this.get_stream_info()
    this.get_live_stream_info()
  },
  methods: {
    get_platform_list() {
      const params = {}
      platform_list(params).then(req => {
        this.options = req.data
      })
    },
    onEidt(formName) {
      this.$refs[formName].validate((valid) => {
        var platform = this.req.platform_name.split(',')
        console.log('valid')
        console.log(formName)
        if (valid) {
          const params = {}
          params['id'] = this.id
          params['match_id'] = this.$route.query.match_id
          params['streamer'] = this.req.streamer
          params['platform_id'] = platform[0]
          params['platform_name'] = platform[1]
          params['country'] = this.req.country
          params['viewers'] = this.req.viewers
          params['title'] = this.req.title
          params['live_url'] = this.req.live_url
          params['live_embed_url'] = this.req.live_embed_url
          if (this.req.is_official) {
            params['is_official'] = '1'
          } else {
            params['is_official'] = '2'
          }
          get_stream_edit(params).then(req => {
            this.$message({
              type: 'success',
              message: '编辑成功！'
            })
            this.dialogVisible = false
            this.get_stream_info()
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    },
    getDel(id) {
      this.$confirm('确认删除？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        get_stream_del(params).then(req => {
          this.$message({
            type: 'success',
            message: '删除成功！'
          })
          this.get_stream_info()
          this.get_live_stream_info()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    get_live_stream_info() {
      const params = {}
      params['match_id'] = this.$route.query.match_id
      params['page'] = this.page1
      params['per_page'] = this.per_page1
      live_stream_list(params).then(req => {
        this.videolist = req.data.list
        var list = []
        var team1 = this.$route.query.team_1_name
        var team2 = this.$route.query.team_2_name
        this.videolist.forEach(item => {
          var info = this.$yangJian.string_html(item.title, team1)
          var info1 = this.$yangJian.string_html(info, team2)
          item.title = info1
          list.push(item)
        })
        console.log('list')
        console.log(list)
        this.videolist = list
        this.total1 = 1 * req.data.total
      })
    },
    changePager(pageId) {
      this.page = pageId
      this.get_stream_info()
    },
    changePager1(pageId) {
      this.page1 = pageId
      this.get_live_stream_info()
    },
    get_stream_info() {
      const params = {}
      params['matchId'] = this.$route.query.match_id
      params['page'] = this.page
      params['per_page'] = this.per_page
      get_stream_list(params).then(req => {
        this.tableData = req.data.list
        this.total = 1 * req.data.total
      })
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          var platform = this.form.platform_name.split(',')
          console.log(platform)
          const params = {}
          params['match_id'] = this.$route.query.match_id
          params['streamer'] = this.form.streamer
          params['platform_id'] = platform[0]
          params['platform_name'] = platform[1]
          params['country'] = this.form.country
          params['viewers'] = this.form.viewers
          params['title'] = this.form.title
          params['live_url'] = this.form.live_url
          params['live_embed_url'] = this.form.live_embed_url
          if (this.form.is_official) {
            params['is_official'] = '1'
          } else {
            params['is_official'] = '2'
          }
          get_stream_edit(params).then(req => {
            this.$message({
              type: 'success',
              message: '添加成功！'
            })
            this.$refs[formName].resetFields()
            this.form = {
              country: '',
              viewers: '',
              live_url: '',
              is_official: false
            }
            this.get_stream_info()
            this.get_live_stream_info()
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    },
    onSubmit1(info) {
      console.log('info')
      console.log(info)
      const params = {}
      params['match_id'] = this.$route.query.match_id
      params['video_id'] = info.video_id
      // params['streamer'] = info.streamer
      // params['platform_name'] = info.platform_name
      // params['country'] = info.country
      // params['viewers'] = info.viewers
      // params['title'] = info.title
      // params['live_url'] = info.live_url
      // params['live_embed_url'] = info.live_embed_url
      // if (info.official_stream_url) {
      //   params['is_official'] = '1'
      // } else {
      //   params['is_official'] = '0'
      // }
      live_stream_add(params).then(req => {
        this.$message({
          type: 'success',
          message: '添加成功！'
        })
        this.get_stream_info()
        this.get_live_stream_info()
      })
    },
    getEdit(id) {
      this.id = id
      const params = {}
      params['id'] = id
      get_stream_detail(params).then(req => {
        this.req = req.data.list
        this.req.platform_name = this.req.platform_id + ',' + this.req.platform_name
        if (req.data.list.is_official === '1') {
          this.req.is_official = true
        } else {
          this.req.is_official = false
        }
        this.dialogVisible = true
      })
    }
    // searchBlur(e) {
    //   console.log('e')
    //   console.log(e)
    //   console.log(e.target.form)
    //   this.form.platform_name = e.target.value
    // }
  }
}
</script>

<style scoped>
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
  .el-row {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .el-card__body {
    height: 100%;
    padding-bottom: 40px;
  }
</style>
