<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>新建选手</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-tabs type="border-card" :before-leave="(item)=>{return beforeLeave(item, 'form.core_data')}">
        <el-tab-pane label="核心内容">
          <el-form ref="form.core_data" :rules="rules" :model="form.core_data" label-width="140px">
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="昵称" prop="nick_name">
                  <el-input v-model="form.core_data.nick_name" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="游戏项目" prop="game_id">
                  <el-select v-model="form.core_data.game_id" style="width: 100%" filterable placeholder="请选择" @change="getinfo">
                    <el-option
                      v-for="(item,index) in games"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>

              <el-col :span="8" :offset="0">
                <el-form-item label="国籍">
                  <el-select v-model="form.core_data.player_country" style="width: 100%;" filterable placeholder="请选择">
                    <el-option
                      v-for="(item,index) in all"
                      :key="index"
                      :label="item.e_name + ' '+'('+item.name+')'"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="姓名（英文）">
                  <el-input v-model="form.core_data.name" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="姓名（中文）">
                  <el-input v-model="form.core_data.name_cn" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="角色位置">
                  <el-select v-model="form.core_data.role" style="width: 100%" placeholder="请选择">
                    <el-option
                      v-for="(item,index) in allRoleList"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="Steam ID">
                  <el-input v-model="form.core_data.steam_id" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="Slug" prop="slug">
                  <el-input v-model="form.core_data.slug" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="8" :offset="0">
                <el-form-item label="头像" prop="image">
                  <el-upload
                    class="avatar-uploader yang"
                    :action="getUploadUrl()"
                    :on-success="uploads"
                    :before-upload="beforeAvatarUpload"
                  >
                    <img v-if="form.core_data.image" style="height: 160px" :src="form.core_data.image">
                    <i v-else class="el-icon-plus avatar-uploader-icon" />
                  </el-upload>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit('form.core_data')">确认创建</el-button>
              </div>
            </el-row>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="基础内容">
          <el-form :model="form" label-width="110px">
            <el-row type="flex" class="row-bg">
              <!--              <el-col :span="6" :offset="1">-->
              <!--                <el-form-item label="Steam ID">-->
              <!--                  <el-input v-model="form.base_data.steam_id" />-->
              <!--                </el-form-item>-->
              <!--              </el-col>-->
              <el-col :span="8" :offset="0">
                <el-form-item label="生日">
                  <el-date-picker
                    v-model="form.base_data.birthday"
                    type="date"
                    placeholder="选择日期"
                    style="width: 100%"
                    value-format="yyyy-MM-dd"
                  />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="简介（英文）">
                  <el-input
                    v-model="form.base_data.introduction"
                    type="textarea"
                    :rows="4"
                    maxlength="1000"
                    show-word-limit
                  />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="简介（中文）">
                  <el-input
                    v-model="form.base_data.introduction_cn"
                    type="textarea"
                    :rows="4"
                    maxlength="1000"
                    show-word-limit
                  />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit('form.core_data')">确认创建</el-button>
              </div>
            </el-row>
          </el-form>
        </el-tab-pane>
      </el-tabs>
    </el-card>
  </div>
</template>
<script>
import { playerAdd } from '@/api/player'
import { get_games, get_position, get_state } from '@/api/common'
import { getUploadBaseApi } from '@/api/file.js'
import { get_country } from '@/api/clan'

export default {
  name: 'Add',
  data() {
    const generateData = _ => {
      const data = []
      const cities = ['上海', '北京', '广州', '深圳', '南京', '西安', '成都']
      const pinyin = ['shanghai', 'beijing', 'guangzhou', 'shenzhen', 'nanjing', 'xian', 'chengdu']
      cities.forEach((city, index) => {
        data.push({
          label: city,
          key: index,
          pinyin: pinyin[index]
        })
      })
      return data
    }
    return {
      team_config: [{ 'postion': 5, 'status': 8 }],
      state: [],
      roleList: '',
      allRoleList: [{ 'id': '', 'c_name': 'null', 'name': '空' }],
      position: [],
      all: [{ 'id': '', 'name': '空', 'e_name': 'null' }],
      allgame: [{ 'id': '0', 'name': '全部', 'e_name': 'all' }],
      country: [],
      games: [],
      textarea: '',
      form: {
        base_data: {
          steam_id: '',
          birthday: '',
          introduction_cn: '',
          introduction: ''
        },
        core_data: {
          nick_name: '',
          game_id: '',
          steam_id: '',
          role: '',
          player_country: '',
          name: '',
          name_cn: '',
          slug: '',
          image: ''
        }
      },
      data: generateData(),
      value: [],
      filterMethod(query, item) {
        return item.pinyin.indexOf(query) > -1
      },
      rules: {
        nick_name: [
          { required: true, message: '请输入选手昵称', trigger: 'change' }
        ],
        game_id: [
          { required: true, message: '请选择游戏项目', trigger: 'change' }
        ],
        image: [
          { required: true, message: '请上传头像', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    'form.core_data.nick_name': {
      handler: function() {
        this.form.core_data.slug = this.$yangJian.slug_rule(this.form.core_data.nick_name)
      }
    }
  },
  mounted() {
    this.infoGames()
    this.infoCountry()
    this.infoPosition()
    this.infoState()
  },
  methods: {
    beforeAvatarUpload(file) {
      console.log('file')
      console.log(file)
      // const isPNG = file.type === 'image/png || svg'
      const testmsg = file.type === 'image/png'
      const isLt1M = file.size / 1024 / 1024 < 1
      if (!testmsg) {
        this.$message.error('只能上传PNG格式!')
        return false
      }
      if (!isLt1M) {
        this.$message({
          message: '上传图标大小不能超过 1MB!',
          type: 'error'
        })
        return false
      }
      return testmsg || isLt1M
    },
    beforeLeave(item, formName) {
      console.log('old')
      console.log(formName)
      if (item === '0') {
        return true
      } else {
        let k = true
        this.$refs[formName].validate((valid) => {
          if (valid) {
            k = true
          } else {
            this.$message.error('请填写完整必填项')
            k = false
          }
        })
        return k
      }
    },
    infoState() {
      const params = {}
      get_state(params).then(req => {
        this.state = req.data
      })
    },
    getinfo() {
      this.allRoleList = [{ 'id': '', 'c_name': 'null', 'name': '空' }]
      this.form.core_data.role = ''
      for (var i = 0; i < 50; i++) {
        if (1 * this.form.core_data.game_id === i) {
          this.roleList = this.position[i]
          this.allRoleList.push.apply(this.allRoleList, this.roleList)
          break
        }
      }
      // this.position = [{ name: '不存在', c_name: 'none' }]
    },
    infoPosition() {
      const params = {}
      get_position(params).then(req => {
        this.position = req.data
      })
    },
    infoCountry() {
      const params = {}
      get_country(params).then(req => {
        this.country = req.data
        this.all.push.apply(this.all, this.country)
      })
    },
    uploads(res, file) {
      this.form.core_data.image = res.data.url
      console.log(res)
      // console.log(file)
    },
    getUploadUrl() {
      return getUploadBaseApi()
    },
    infoGames() {
      const params = {}
      get_games(params).then(req => {
        this.games = req.data
        this.allgame.push.apply(this.allgame, this.games)
      })
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          params['core_data'] = this.form.core_data
          params['base_data'] = this.form.base_data
          playerAdd(params).then(req => {
            this.$message({
              type: 'success',
              message: '添加成功！'
            })
            this.$router.push('/gamecenter/player/playerinfo/list')
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    }
  }
}
</script>
<style>
  .yang.avatar-uploader .el-upload{
    height: 160px ;
  }
</style>

<style scoped>

</style>
