<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>编辑选手</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-tabs v-model="activeName" type="border-card">
        <el-tab-pane label="核心内容">
          <el-form ref="form.core_data" :rules="rules" :model="form.core_data" label-width="130px">
            <el-row type="flex" class="row-bg">
              <el-col :span="8" ::offset="0">
                <el-form-item label="数据源">
                  <el-select v-model="form.data_config.config['player.core_data'].origin_id" style="width: 100%" disabled>
                    <el-option
                      v-for="(item,index) in $store.getters.enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" ::offset="0">
                <el-form-item label="更新方式">
                  <el-select v-model="form.data_config.config['player.core_data'].update_type" style="width: 100%" disabled>
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="昵称" prop="nick_name">
                  <el-input v-model="form.core_data.nick_name" />
                  <div v-if="updateInfo.core_data.nick_name || updateInfo.core_data.nick_name == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.nick_name?updateInfo.core_data.nick_name:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.core_data.nick_name = updateInfo.core_data.nick_name">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="游戏项目" prop="game_id">
                  <el-select v-model="form.core_data.game_id" placeholder="请选择" style="width: 100%" :disabled="true" @change="getinfo">
                    <el-option
                      v-for="(item,index) in allgame"
                      :key="index"
                      :label="item.name"
                      :value="''+item.id"
                    />
                  </el-select>
                  <div v-if="updateInfo.game_id">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.game_id }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.core_data.game_id = updateInfo.game_id">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="国籍">
                  <el-select v-model="form.core_data.player_country" filterable placeholder="请选择" style="width: 100%">
                    <el-option
                      v-for="(item,index) in all"
                      :key="index"
                      :label="item.e_name + ' '+'('+item.name+')'"
                      :value="item.id"
                    />
                  </el-select>
                  <div v-if="updateInfo.core_data.player_country || updateInfo.core_data.player_country== ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.player_country?$store.getters.getCountryById('' + updateInfo.core_data.player_country):'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.core_data.player_country = '' + updateInfo.core_data.player_country">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="姓名（英文）">
                  <el-input v-model="form.core_data.name" />
                  <div v-if="updateInfo.core_data.name || updateInfo.core_data.name == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.name?updateInfo.core_data.name: '空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.core_data.name = updateInfo.core_data.name">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="姓名（中文）">
                  <el-input v-model="form.core_data.name_cn" />
                  <div v-if="updateInfo.core_data.name_cn||updateInfo.core_data.name_cn == ''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.name_cn?updateInfo.core_data.name_cn:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.core_data.name_cn = updateInfo.core_data.name_cn">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="角色位置">
                  <el-select v-model="form.core_data.role" style="width: 100%" placeholder="请选择">
                    <el-option
                      v-for="(item,index) in allRoleList"
                      :key="index"
                      :label="item.name"
                      :value="''+item.id"
                    />
                  </el-select>
                  <div v-if="updateInfo.core_data.role||updateInfo.core_data.role==''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.role?allRoleList['' + updateInfo.core_data.role].name:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.core_data.role = updateInfo.core_data.role">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="Steam ID">
                  <el-input v-model="form.core_data.steam_id" />
                  <div v-if="updateInfo.core_data.steam_id||updateInfo.core_data.steam_id==''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.steam_id?updateInfo.core_data.steam_id:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.core_data.steam_id = updateInfo.core_data.steam_id">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="Slug" prop="slug">
                  <el-input v-model="form.core_data.slug" />
                  <div v-if="updateInfo.core_data.slug||updateInfo.core_data.slug==''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.core_data.slug?updateInfo.core_data.slug:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.core_data.slug = updateInfo.core_data.slug">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col v-if="updateInfo.core_data.deleted" :span="8" :offset="0">
                <el-form-item label="是否删除">
                  <el-select v-model="form.core_data.deleted" style="width: 100%" disabled>
                    <el-option label="是" value="1" />
                    <el-option label="否" value="2" />
                  </el-select>
                  <div v-if="updateInfo.core_data.deleted || updateInfo.core_data.deleted == ''">
                    <span class="upDate">变更为：<span style="color: red">
                      <span v-if="updateInfo.core_data.deleted == '1'">是</span>
                      <span v-if="updateInfo.core_data.deleted == '2'">否</span>
                    </span></span>
                    <el-button type="primary" size="mini" plain @click="form.core_data.deleted = updateInfo.core_data.deleted">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="8" :offset="0">
                <el-form-item label="头像" prop="image">
                  <el-upload
                    class="avatar-uploader yang"
                    :action="getUploadUrl()"
                    :on-success="uploads"
                    :before-upload="beforeAvatarUpload"
                  >
                    <img v-if="form.core_data.image" style="height: 160px" :src="form.core_data.image">
                    <i v-else class="el-icon-plus avatar-uploader-icon" />
                  </el-upload>
                </el-form-item>
              </el-col>
              <el-col v-if="updateInfo.core_data.image||updateInfo.core_data.image == ''" :span="8" :offset="0">
                <el-form-item label="变更为：" class="upDate">
                  <div style="color: red;">
                    <img v-if="updateInfo.core_data.image" style="height: 160px" :src="updateInfo.core_data.image">
                    <p v-if="updateInfo.core_data.image == ''">空</p>
                    <span><el-button type="primary" size="mini" plain @click="form.core_data.image = updateInfo.core_data.image">应用</el-button></span>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div style="padding-top: 15px;text-align: center">
                <el-button type="primary" @click="onSubmit('form.core_data')">确认修改</el-button>
              </div>
            </el-row>
            <div type="flex" class="row-bg" style="padding-top: 20px">
              <el-col v-for="(item,index) in binding_list" :key="index" :span="8">
                <el-col :span="20" ::offset="0">
                  <el-form-item :label="item.desc">
                    <el-input v-model="item.standard_id" disabled />
                  </el-form-item>
                </el-col>
                <el-col :span="4">
                  <el-form>
                    <el-form-item style="text-align: right">
                      <el-button type="text" @click="unbundle(item.id)">解绑</el-button>
                    </el-form-item>
                  </el-form>
                </el-col>
              </el-col>
            </div>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="基础内容">
          <el-form :model="form" label-width="130px">
            <el-row type="flex" class="row-bg">
              <el-col :span="8" ::offset="0">
                <el-form-item label="数据源">
                  <el-select v-model="form.data_config.config['player.base_data'].origin_id" style="width: 100%" disabled>
                    <el-option
                      v-for="(item,index) in $store.getters.enum_origin_list"
                      :key="index"
                      :label="item.desc"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" ::offset="0">
                <el-form-item label="更新方式">
                  <el-select v-model="form.data_config.config['player.base_data'].update_type" style="width: 100%" disabled>
                    <el-option label="不更新" value="1" />
                    <el-option label="手动" value="2" />
                    <el-option label="自动" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <!--              <el-col :span="8" :offset="1">-->
              <!--                <el-form-item label="Steam ID">-->
              <!--                  <el-input v-model="form.base_data.steam_id" />-->
              <!--                  <div v-if="updateInfo.steam_id">-->
              <!--                    <span>变更为：<span style="color: red">{{ updateInfo.steam_id }}</span></span>-->
              <!--                    <el-button type="primary" size="mini" plain @click="form.base_data.steam_id = updateInfo.steam_id">应用</el-button>-->
              <!--                  </div>-->
              <!--                </el-form-item>-->
              <!--              </el-col>-->
              <el-col :span="8" :offset="0">
                <el-form-item label="生日">
                  <el-date-picker
                    v-model="form.base_data.birthday"
                    type="date"
                    placeholder="选择日期"
                    style="width: 100%"
                    value-format="yyyy-MM-dd"
                  />
                  <div v-if="updateInfo.base_data.birthday||updateInfo.base_data.birthday==''||updateInfo.base_data.birthday== null">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.birthday?updateInfo.base_data.birthday:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.base_data.birthday = updateInfo.base_data.birthday">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row v-for="(item,index) in form.team_player_relation" :key="index" type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="所属战队">
                  <el-input v-model="item.name" :disabled="true" />
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="状态">
                  <el-select v-model="item.status_id" placeholder="请选择" style="width: 100%">
                    <el-option
                      v-for="(item,index) in stateList"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    />
                  </el-select>
                  <!--                  <div v-if="updateInfo.birthday">-->
                  <!--                    <span>变更为：<span style="color: red">{{ updateInfo.birthday }}</span></span>-->
                  <!--                    <el-button type="primary" size="mini" plain @click="form.base_data.birthday = updateInfo.birthday">应用</el-button>-->
                  <!--                  </div>-->
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-col :span="8" :offset="0">
                <el-form-item label="简介（英文）">
                  <el-input
                    v-model="form.base_data.introduction"
                    type="textarea"
                    :rows="4"
                    maxlength="1000"
                    show-word-limit
                  />
                  <div v-if="updateInfo.base_data.introduction||updateInfo.base_data.introduction==''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.introduction?updateInfo.base_data.introduction:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.base_data.introduction = updateInfo.base_data.introduction">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="8" :offset="0">
                <el-form-item label="简介（中文）">
                  <el-input
                    v-model="form.base_data.introduction_cn"
                    type="textarea"
                    :rows="4"
                    maxlength="1000"
                    show-word-limit
                  />
                  <div v-if="updateInfo.base_data.introduction_cn||updateInfo.base_data.introduction_cn==''">
                    <span class="upDate">变更为：<span style="color: red">{{ updateInfo.base_data.introduction_cn?updateInfo.base_data.introduction_cn:'空' }}</span></span>
                    <el-button type="primary" size="mini" plain @click="form.base_data.introduction_cn = updateInfo.base_data.introduction_cn">应用</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <div :span="6" style="padding-top: 45px;text-align: center">
                <el-button type="primary" @click="onSubmit('form.core_data')">确认修改</el-button>
              </div>
            </el-row>
          </el-form>
        </el-tab-pane>
      </el-tabs>
      <el-dialog
        title="转移战斗"
        :visible.sync="dialogVisible"
        width="60%"
        :before-close="handleClose"
      >
        <div>
          <el-table
            ref="multipleTable"
            :data="tableData"
            tooltip-effect="dark"
            style="width: 100%"
            @selection-change="handleSelectionChange"
          >
            <el-table-column
              type="selection"
              width="80"
            />
            <el-table-column
              label="队伍1"
              width="120"
            >
              <template slot-scope="scope">{{ scope.row.date }}</template>
            </el-table-column>
            <el-table-column
              prop="name"
              label="队伍2"
              width="120"
            />
            <el-table-column
              prop="address"
              label="赛事"
              show-overflow-tooltip
            />
            <el-table-column
              prop="address"
              label="比分"
              width="80"
            />
          </el-table>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-form :model="form" label-width="100px">
            <el-row>
              <el-col :span="8">
                <el-form-item label="战队ID">
                  <el-input v-model="form.name" />
                </el-form-item>
              </el-col>
              <el-col :span="13">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
              </el-col>
            </el-row>
          </el-form>
        </span>
      </el-dialog>
    </el-card>
  </div>
</template>
<script>
import { get_country } from '@/api/clan'
import { mapGetters } from 'vuex'
import { getUploadBaseApi } from '@/api/file.js'
import { playerInfo, playerAdd } from '@/api/player'
import { get_position, get_state, close_bing, get_games } from '@/api/common'
import { data_change_detail } from '@/api/data'
import { get_binding_info } from '@/api/binding'
export default {
  name: 'Edit',
  data() {
    const generateData = _ => {
      const data = []
      const cities = ['上海', '北京', '广州', '深圳', '南京', '西安', '成都']
      const pinyin = ['shanghai', 'beijing', 'guangzhou', 'shenzhen', 'nanjing', 'xian', 'chengdu']
      cities.forEach((city, index) => {
        data.push({
          label: city,
          key: index,
          pinyin: pinyin[index]
        })
      })
      return data
    }
    return {
      binding_list: [],
      slug_stutas: '',
      activeName: '0',
      updateInfo: {
        core_data: {},
        base_data: {},
        team_player_relation: {}
      },
      state: [],
      stateList: [{ 'id': '', 'e_name': 'null', 'name': '空' }],
      position: [],
      roleList: [],
      allRoleList: [{ 'id': '', 'c_name': 'null', 'name': '空' }],
      teaminfo: [{ 'id': '0' }, { 'id': '0' }],
      allgame: [{ 'id': '0', 'name': '全部', 'e_name': 'all' }],
      all: [{ 'id': '', 'name': '空', 'e_name': 'null' }],
      tableData: [],
      multipleSelection: [],
      dialogVisible: false,
      textarea: '',
      game: '',
      form: {
        base_data: {
          steam_id: '',
          birthday: '',
          introduction_cn: '',
          introduction: ''
        },
        core_data: {
          slug: '',
          role: '',
          nick_name: '',
          game_id: '',
          player_country: '',
          name: '',
          name_cn: '',
          image: ''
        },
        team_player_relation: {},
        data_config: {
          config: {
            'player.base_data': {
              'id': '',
              'game_id': '',
              'resource_type': '',
              'resource_id': '',
              'tag_type': 'base_data',
              'slug': 'team.base_data',
              'origin_id': '',
              'update_type': ''
            },
            'player.core_data': {
              'id': '',
              'game_id': '',
              'resource_type': 'team',
              'resource_id': '',
              'tag_type': 'core_data',
              'slug': 'team.core_data',
              'origin_id': '',
              'update_type': ''
            },
            'player.team_player': {
              'id': '',
              'game_id': '',
              'resource_type': 'team',
              'resource_id': '',
              'tag_type': 'team_player',
              'slug': 'team.team_player',
              'origin_id': '',
              'update_type': ''
            }
          }
        }
      },
      data: generateData(),
      value: [],
      filterMethod(query, item) {
        return item.pinyin.indexOf(query) > -1
      },
      rules: {
        nick_name: [
          { required: true, message: '请输入选手昵称', trigger: 'change' }
        ],
        game_id: [
          { required: true, message: '请选择游戏项目', trigger: 'change' }
        ],
        image: [
          { required: true, message: '请上传头像', trigger: 'change' }
        ],
        slug: [
          { required: true, message: '请输入', trigger: 'change' }
        ]
      }
    }
  },
  watch: {
    'form.core_data.nick_name': {
      handler: function() {
        if (this.slug_stutas === 1) {
          this.slug_stutas = 0
        } else {
          this.form.core_data.slug = this.$yangJian.slug_rule(this.form.core_data.nick_name)
        }
      }
    }
  },
  computed: {
    ...mapGetters([
      // 'games',
      // 'country',
      'enum_origin_list'
    ])
  },
  mounted() {
    if (this.$route.query.upId) {
      setTimeout(() => {
        this.getplayerInfo()
        this.infoCountry()
        this.infoGames()
        this.infoState()
        this.getBindingInfo()
        this.infoPosition()
        this.upInfo()
      }, 500)
    } else {
      this.getplayerInfo()
      this.infoCountry()
      this.infoGames()
      this.infoState()
      this.getBindingInfo()
      this.infoPosition()
      this.upInfo()
    }
  },
  methods: {
    unbundle(id) {
      if (id) {
        this.$confirm('确认解绑？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const params = {}
          params['standard_id'] = id
          params['type'] = 'player'
          close_bing(params).then(req => {
            this.$message({
              type: 'success',
              message: '解绑成功！'
            })
            this.getBindingInfo()
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          })
        })
      } else {
        this.$message({
          type: 'info',
          message: '没有绑定关系'
        })
      }
    },
    getBindingInfo() {
      const params = {}
      params['master_id'] = this.$route.query.id
      params['type'] = 'player'
      get_binding_info(params).then(req => {
        this.binding_list = req.data
      })
    },
    beforeAvatarUpload(file) {
      console.log('file')
      console.log(file)
      // const isPNG = file.type === 'image/png || svg'
      const testmsg = file.type === 'image/png'
      const isLt1M = file.size / 1024 / 1024 < 1
      if (!testmsg) {
        this.$message.error('只能上传PNG格式!')
        return false
      }
      if (!isLt1M) {
        this.$message({
          message: '上传图标大小不能超过 1MB!',
          type: 'error'
        })
        return false
      }
      return testmsg || isLt1M
    },
    upInfo() {
      if (this.$route.query.tag_type) {
        this.tag_type = this.$route.query.tag_type
        this.beforeLeave()
        const params = {}
        params['id'] = this.$route.query.upId
        data_change_detail(params).then(req => {
          var infoList = req.data.change_info
          this.update(infoList, req.data.tag_type)
        })
      }
    },
    update(data, type) {
      var infos = {}
      switch (type) {
        case 'core_data':
          for (var i in data) {
            var k_name = data[i].key
            infos[k_name] = data[i].after
          }
          this.updateInfo.core_data = infos
          break
        case 'base_data':
          for (var k in data) {
            k_name = data[k].key
            infos[k_name] = data[k].after
          }
          this.updateInfo.base_data = infos
          break
      }
    },
    beforeLeave() {
      if (this.tag_type === 'core_data') {
        this.activeName = '0'
      }
      if (this.tag_type === 'base_data') {
        this.activeName = '1'
      }
    },
    infoState() {
      const params = {}
      get_state(params).then(req => {
        this.state = req.data
        this.stateList.push.apply(this.stateList, this.state)
      })
    },
    getinfo() {
      for (var i = 0; i < 50; i++) {
        if (1 * this.form.core_data.game_id === i) {
          this.roleList = this.position[i]
          this.allRoleList.push.apply(this.allRoleList, this.roleList)
          break
        }
      }
      // this.position = [{ name: '不存在', c_name: 'none' }]
    },
    infoPosition() {
      const params = {}
      get_position(params).then(req => {
        this.position = req.data
        this.getinfo()
      })
    },
    infoGames() {
      // this.allgame.push.apply(this.allgame, this.games)
      const params = {}
      get_games(params).then(req => {
        this.games = req.data
        this.allgame.push.apply(this.allgame, this.games)
      })
    },
    getplayerInfo() {
      const params = {}
      params['id'] = this.$route.query.id
      playerInfo(params).then(req => {
        this.form.data_config = req.data.data_config
        this.form.core_data = req.data.core_data
        this.slug_stutas = 1
        this.getinfo()
        if (req.data.team_player_relation) {
          this.form.team_player_relation = req.data.team_player_relation
          for (var i in this.form.team_player_relation) {
            if (!this.form.team_player_relation[i].status_id) {
              this.form.team_player_relation[i].status_id = ''
            } else {
              this.form.team_player_relation[i].status_id = 1 * this.form.team_player_relation[i].status_id
            }
          }
        }
        if (req.data.base_data) {
          this.form.base_data = req.data.base_data
        }
        this.game = 1 * req.data.game_id
        if (!req.data.core_data.player_country) {
          this.form.core_data.player_country = ''
        } else {
          this.form.core_data.player_country = req.data.core_data.player_country
        }
        if (!req.data.core_data.role) {
          this.form.core_data.role = ''
        } else {
          this.form.core_data.role = req.data.core_data.role
        }
        if (this.form.core_data.slug) {
          this.form.core_data.slug = this.$yangJian.slug_rule(req.data.core_data.slug)
        }
      })
    },
    uploads(res, file) {
      this.form.core_data.image = res.data.url
      console.log(res)
      // console.log(file)
    },
    getUploadUrl() {
      return getUploadBaseApi()
    },
    infoCountry() {
      // this.all.push.apply(this.all, this.country)
      const params = {}
      get_country(params).then(req => {
        this.country = req.data
        this.all.push.apply(this.all, this.country)
      })
    },
    handleClose(done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done()
        })
        .catch(_ => {})
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {}
          if (this.$route.query.upId) {
            params['todo_id'] = this.$route.query.upId
          }
          var base_info = { ...this.form.base_data }
          params['player_id'] = this.$route.query.id
          params['core_data'] = this.form.core_data
          params['base_data'] = base_info
          params['team_player_relation'] = this.form.team_player_relation
          playerAdd(params).then(req => {
            this.$message({
              type: 'success',
              message: '修改成功！'
            })
            if (this.$route.query.upId) {
              this.$router.push('/gamecenter/update/updateinfo/list')
            } else {
              this.$router.push('/gamecenter/player/playerinfo/list')
            }
          })
        } else {
          this.$message.error('请填写完整必填项')
          return false
        }
      })
    },
    toggleSelection(rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange(val) {
      this.multipleSelection = val
    }
  }
}
</script>

<style>
  .yang.avatar-uploader .el-upload{
    height: 160px ;
  }
</style>

<style scoped>
.upDate{
  font-weight: bold;
  color:#606266;
  font-size: 14px
}

</style>
