<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>选手管理</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form :data="req" :inline="true" label-width="100px" size="mini">
        <el-row type="flex" class="row-bg">
          <el-col :span="6">
            <el-form-item label="游戏项目:">
              <el-select v-model="req.games" style="width: 220px" placeholder="请选择">
                <el-option
                  v-for="(item,index) in allgames"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="国籍:">
              <el-select v-model="req.player_country" filterable style="width: 220px" placeholder="请选择">
                <el-option
                  v-for="(item,index) in allcountry"
                  :key="index"
                  :label="item.e_name + ' '+'('+item.name+')'"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="Steam ID:">
              <el-input v-model="req.steam_id" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="ELS选手ID:">
              <el-input v-model="req.id" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="4" :offset="8">
            <el-form-item>
              <el-button type="primary" @click="getupdate">各游戏项目整体更新设置</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="变更时间:">
              <el-date-picker
                v-model="req.timeArea"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="战队名称:">
              <el-input v-model="req.name" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="选手昵称:">
              <el-input v-model="req.nick_name" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="4" :offset="2">
            <el-form-item>
              <el-button type="primary" @click="findInfo">搜索</el-button>
              <el-button type="primary" style="margin-left: 50px" @click="getadd">新建</el-button>
            </el-form-item>
          </el-col>
        </el-row>
        <el-dialog
          v-if="dialogVisible"
          title="更新设置"
          :visible.sync="dialogVisible"
          width="50%"
        >
          <div>
            <el-form>
              <el-row type="flex" class="row-bg" align="middle">
                <el-col :span="2">
                  <img :src="allgames[playerInfo.game_id].logo" style="width: 44px; height: 44px">
                </el-col>
                <el-col :span="3" :offset="0">
                  <img :src="playerInfo.image" style="width: 44px; height: 44px">
                </el-col>
                <el-col :span="18">
                  <span>{{ playerInfo.nick_name }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <span>ELS ID:&nbsp;&nbsp;{{ playerInfo.id }}</span>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="3" :offset="0">
                  <el-form-item>核心内容：</el-form-item>
                </el-col>
                <el-col :span="10" :offset="1">
                  <el-form-item label="使用数据源">
                    <el-select v-model="config_info.config['player.core_data'].origin_id" placeholder="请选择" style="width: 100%">
                      <el-option
                        v-for="(item,index) in enum_origin_list"
                        :key="index"
                        :label="item.desc"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="10" :offset="0">
                  <el-form-item label="更新方式">
                    <el-select v-model="config_info.config['player.core_data'].update_type" placeholder="请选择">
                      <el-option label="不更新" value="1" />
                      <el-option label="手动" value="2" />
                      <el-option label="自动" value="3" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg">
                <el-col :span="3" :offset="0">
                  <el-form-item>基础内容：</el-form-item>
                </el-col>
                <el-col :span="10" :offset="1">
                  <el-form-item label="使用数据源">
                    <el-select v-model="config_info.config['player.base_data'].origin_id" placeholder="请选择" style="width: 100%">
                      <el-option
                        v-for="(item,index) in enum_origin_list"
                        :key="index"
                        :label="item.desc"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="10" :offset="0">
                  <el-form-item label="更新方式">
                    <el-select v-model="config_info.config['player.base_data'].update_type" placeholder="请选择">
                      <el-option label="不更新" value="1" />
                      <el-option label="手动" value="2" />
                      <el-option label="自动" value="3" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row type="flex" class="row-bg" justify="space-around" />
            </el-form>
          </div>
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="onSubmit">确认修改</el-button>
          </span>
        </el-dialog>
      </el-form>
      <el-table
        :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'14px',height:'40px',textAlign:'center'}"
        :cell-style="{textAlign:'center',padding:'3px'}"
        :data="tableData"
        :cell-class-name="delLine"
        :row-class-name="tableRowClassName"
        style="width: 100%;white-space: pre-wrap"
      >
        <el-table-column prop="id" :label="'ELS\n选手ID'" />
        <el-table-column prop="nick_name" label="昵称">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.nick_name }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="id" label="头像">
          <template slot-scope="scope">
            <img :src="scope.row.image" style="height: 66px">
          </template>
        </el-table-column>
        <el-table-column prop="game_id" :label="'游戏\n项目'">
          <template slot-scope="scope">
            <img :src="scope.row.game_logo" style="width: 20px;height: 20px">
          </template>
        </el-table-column>
        <el-table-column prop="player_country" label="国籍" />
        <el-table-column prop="team_id" label="战队ID">
          <template v-if="scope.row.team_info" slot-scope="scope">
            <p v-for="(item,index) in scope.row.team_info" :key="index">{{ item.team_id }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="name" label="战队名称" width="130px">
          <template v-if="scope.row.team_info" slot-scope="scope">
            <p v-for="(item,index) in scope.row.team_info" :key="index">{{ item.name }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="steam_id" label="Steam ID">
          <template slot-scope="scope">
            <p style="white-space: pre-wrap;">{{ scope.row.steam_id }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="created_at" label="创建时间" width="100px" />
        <el-table-column prop="modified_at" label="变更时间" width="100px" />
        <el-table-column :label="'已绑定\n数据源'" width="100px">
          <template slot-scope="scope">
            <div v-for="(item,index) in scope.row.binding_info" :key="index">
              <el-popover
                placement="top-start"
                width="400"
                trigger="hover"
              >
                <span v-for="(item1,index1) in item" :key="index1">{{ item1.standard_id }}<span v-if="item.length !== index1+1">,</span></span>
                <el-button slot="reference" type="text">
                  <div style="display: flex;align-items: center;justify-content: center">
                    <img :src="item[0].enum_origin_image" style="height: 20px;width: 20px;margin-right: 3px"><span> ({{ item.length }})</span>
                  </div>
                </el-button>
              </el-popover>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="days" :label="'数据源\n/更新方式'">
          <template slot-scope="scope">
            <div v-if="scope.row.update_config.config">
              <span v-if="scope.row.update_config.config['player.core_data'].update_type === '1'" class="status-align">&nbsp;&nbsp;&nbsp;核：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['player.core_data'].origin_id)"></img>  <div class="status-point" style=" background-color:red" /></span>
              <span v-if="scope.row.update_config.config['player.core_data'].update_type === '2'" class="status-align">&nbsp;&nbsp;&nbsp;核：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['player.core_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#E6A23C" /></span>
              <span v-if="scope.row.update_config.config['player.core_data'].update_type === '3'" class="status-align">&nbsp;&nbsp;&nbsp;核：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['player.core_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#67C23A" /></span>
            </div>
            <div v-if="scope.row.update_config.config">
              <span v-if="scope.row.update_config.config['player.base_data'].update_type === '1'" class="status-align">&nbsp;&nbsp;&nbsp;基：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['player.base_data'].origin_id)"></img>  <div class="status-point" style=" background-color:red" /></span>
              <span v-if="scope.row.update_config.config['player.base_data'].update_type === '2'" class="status-align">&nbsp;&nbsp;&nbsp;基：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['player.base_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#E6A23C" /></span>
              <span v-if="scope.row.update_config.config['player.base_data'].update_type === '3'" class="status-align">&nbsp;&nbsp;&nbsp;基：<img class="status-a" :src="$store.getters.originImage(scope.row.update_config.config['player.base_data'].origin_id)"></img>  <div class="status-point" style=" background-color:#67C23A" /></span>
            </div>
          </template>
        </el-table-column>
        <el-table-column fixed="right" label="操作">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="getEdit(scope.row.id)">编辑</el-button>
            <template v-if="scope.row.deleted == 2">
              <el-button type="text" size="small" style="color: coral" @click="getDel(scope.row.id)">删除</el-button>
            </template>
            <template v-if="scope.row.deleted == 1">
              <el-button type="text" size="small" style="color: green" @click="getReset(scope.row.id)">恢复</el-button>
            </template>
            <el-button type="text" size="small" @click="getUp(scope.row)">更新设置</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="job_status_name" label="操作记录">
          <template slot-scope="scope">
            <span v-if="scope.row.operation">({{ scope.row.operation.count }})</span>
            <span v-if="!scope.row.operation">(0)</span>
            <el-button v-if="scope.row.operation" type="text" size="small" @click="getHistory(scope.row.operation.resource_id,scope.row.operation.resource_type )">操作记录</el-button>
            <el-button v-if="!scope.row.operation" type="text" size="small">操作记录</el-button>
          </template>
        </el-table-column>
      </el-table>

      <div class="over">
        <el-pagination
          class="pager"
          background
          layout="prev, pager, next, jumper"
          :total="total"
          :current-page="req.page"
          :page-size="req.per_page"
          @current-change="changePager"
        />
      </div>
    </el-card>
  </div>
</template>
<script>
import { playerList, playerDel } from '@/api/player'
import { mapGetters } from 'vuex'
import { resource_config_detail, resource_config_edit } from '@/api/data'
export default {
  name: 'List',
  data() {
    return {
      config_info: {
        config: {
          'player.base_data': {
            origin_id: '',
            update_type: ''
          },
          'player.core_data': {
            origin_id: '',
            update_type: ''
          }
        },
        game: {}
      },
      playerInfo: {
        player_id: '',
        core_data: {
          game_id: '',
          nick_name: ''
        }
      },
      form: {},
      dialogVisible: false,
      total: 20,
      tableData: [],
      historyList: [],
      history: {
        total: 20,
        page: 1,
        per_page: 10
      },
      req: {
        page: 1,
        per_page: 10,
        games: '',
        player_country: '',
        nick_name: '',
        team_name: '',
        name: '',
        id: '',
        steam_id: '',
        timeArea: []
      },
      options: [],
      value: ''
    }
  },
  computed: {
    ...mapGetters([
      'enum_origin_list',
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist'
    ])
  },
  mounted() {
    this.finddata()
    // this.infoGames()
    // this.infoCountry()
  },
  methods: {
    tableRowClassName({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'success-row'
      }
    },
    delLine({ row, rowIndex }) {
      if (row.deleted === '1') {
        return 'del_line'
      }
    },
    onSubmit() {
      const params = {}
      params['resource_type'] = 'player'
      params['resource_id'] = this.playerInfo.id
      params['config'] = this.config_info
      resource_config_edit(params).then(req => {
        this.$message({
          type: 'success',
          message: '修改成功！'
        })
      })
      this.dialogVisible = false
      this.finddata()
    },
    getUp(info) {
      this.dialogVisible = true
      this.playerInfo = info
      const params = {}
      params['resource_type'] = 'player'
      params['resource_id'] = info.id
      resource_config_detail(params).then(req => {
        this.config_info = req.data
      })
    },
    getHistory(id, type) {
      this.$router.push({ path: '/gamecenter/update/updateTemplate/operation', query: { id: id, type: type }})
    },
    getReset(id) {
      this.$confirm('确认恢复？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        params['status'] = 2
        playerDel(params).then(req => {
          this.finddata()
          this.$message({
            type: 'success',
            message: '恢复成功！'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    getDel(id) {
      this.$confirm('确认删除？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['id'] = id
        params['status'] = 1
        playerDel(params).then(req => {
          this.finddata()
          this.$message({
            type: 'success',
            message: '删除成功！'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    getEdit(id) {
      this.$router.push({ path: '/gamecenter/player/playerinfo/edit', query: { id: id }})
    },
    findInfo() {
      this.req.page = 1
      this.finddata()
    },
    finddata() {
      const params = {}
      params['game_id'] = this.req.games
      params['player_country'] = this.req.player_country
      params['name'] = this.req.name
      params['nick_name'] = this.req.nick_name
      params['team_name'] = this.req.team_name
      params['id'] = this.req.id
      params['steam_id'] = this.req.steam_id
      params['page'] = this.req.page
      params['per_page'] = this.req.per_page
      if (this.req.timeArea) {
        params['date_begin'] = this.req.timeArea[0]
        params['date_end'] = this.req.timeArea[1]
      }
      playerList(params).then(req => {
        this.tableData = req.data.list
        this.total = 1 * req.data.total
        this.tableData.forEach(item => {
          var tmp = {}
          if (item.binding_info.length > 0) {
            item.binding_info.forEach(info => {
              tmp[info.origin_id] = tmp[info.origin_id] || []
              tmp[info.origin_id].push(info)
            })
            item.binding_info = Object.values(tmp)
          }
        })
      })
    },
    changePager(newPage) {
      this.req.page = newPage
      this.finddata()
    },
    getupdate() {
      this.$router.push({ path: '/gamecenter/player/playerinfo/update' })
    },
    getadd() {
      this.$router.push({ path: '/gamecenter/player/playerinfo/add' })
    }
  }
}
</script>

<style scoped>
  .over{
    width:100%;
    text-align: center;
    margin:20px auto;
  }
  .status-point {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .status-align {
    /*vertical-align:middle;*/
  }
  .status-a {
    vertical-align:middle;
    width: 20px;height: 20px
  }
</style>
