<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>各游戏项目整体更新设置</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <el-form ref="form" :model="form" label-width="100px">
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item label="游戏项目">
              <el-select v-model="form.games" placeholder="请选择">
                <el-option
                  v-for="(item,index) in games"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="16" :offset="0">
            <h4 style="color: red; margin: 0px">本操作会修改此游戏下全部选手的数据源设置，请谨慎操作!</h4>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item>核心内容：</el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="使用数据源">
              <el-select v-model="player['player.core_data'].origin_id" placeholder="请选择">
                <el-option
                  v-for="(item,index) in enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="更新方式">
              <el-select v-model="player['player.core_data'].update_type" placeholder="请选择">
                <el-option label="不更新" value="1" />
                <el-option label="手动" value="2" />
                <el-option label="自动" value="3" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item>基础内容：</el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="使用数据源">
              <el-select v-model="player['player.base_data'].origin_id" placeholder="请选择">
                <el-option
                  v-for="(item,index) in enum_origin_list"
                  :key="index"
                  :label="item.desc"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item label="更新方式">
              <el-select v-model="player['player.base_data'].update_type" placeholder="请选择">
                <el-option label="不更新" value="1" />
                <el-option label="手动" value="2" />
                <el-option label="自动" value="3" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <div style="padding-top: 45px;text-align: center">
            <el-button type="primary" @click="onSubmit">确认修改</el-button>
          </div>
        </el-row>
      </el-form>

    </el-card>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { config_batch } from '@/api/data'
export default {
  name: 'Update',
  data() {
    return {
      textarea: '',
      form: {
        games: 1
      },
      player: {
        'player.base_data': {
          origin_id: '3',
          update_type: '2'
        },
        'player.core_data': {
          origin_id: '3',
          update_type: '2'
        }
      }
    }
  },
  computed: {
    ...mapGetters([
      'games',
      'allgames',
      'country',
      'allcountry',
      'clanlist',
      'enum_origin_list'
    ])
  },
  methods: {
    onSubmit() {
      this.$confirm('是否提交?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {}
        params['game_id'] = this.form.games
        params['resource_type'] = 'player'
        params['config'] = this.player
        config_batch(params).then(req => {
          this.$message({
            type: 'success',
            message: '修改成功！'
          })
        })
        this.$router.push('/gamecenter/player/playerinfo/list')
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
