<template>
  <div class="login-container">
    <!--    <div style="height: 250px" />-->
    <div class="middle">
      <div class="login_form_container">
        <el-row>
          <el-col :span="8" :offset="4" style="text-align: center">
            <img src="../../../images/allwinscore/白.png" width="80%" height="80%" style="margin-top: 50px;" alt="">
<!--            <p style="color: white;font-size: 30px;margin: 10px 0px">Allwin Score</p>-->
            <p style="color: white;font-size: 25px;">电竞数据管理系统</p>
          </el-col>
          <el-col :span="7" :offset="1">
            <div>
              <p style="font-size: 18px; margin-bottom: 10px;color: white">欢迎登录</p>
              <!--            <span v-if="!showSelection" style="color: #666; font-size: 12px;">开票平台！</span>-->
              <!--            <el-select v-if="showSelection" v-model="platformKey" placeholder="请选择" @change="setPlatformKeyBySelect">-->
              <!--              <el-option-->
              <!--                v-for="item in platformSelection"-->
              <!--                :key="item.value"-->
              <!--                :label="item.label"-->
              <!--                :value="item.value"-->
              <!--              />-->
              <!--            </el-select>-->
            </div>
            <el-form ref="loginForm" :model="loginForm" :rules="loginRules" class="login-form" autocomplete="on" label-position="left">
              <el-form-item prop="username">
                <span class="svg-container"> <svg-icon icon-class="user" /></span>
                <span class="label-show"> 用户名：</span>
                <el-input
                  ref="username"
                  v-model="loginForm.username"
                  placeholder="请输入用户名"
                  name="username"
                  type="text"
                  tabindex="1"
                  autocomplete="on"
                  style="background-color:transparent !important;border:0;"
                />
              </el-form-item>

              <el-tooltip v-model="capsTooltip" content="Caps lock is On" placement="right" manual>
                <el-form-item prop="password">
                  <span class="svg-container">
                    <svg-icon icon-class="password" />
                  </span>
                  <span class="label-show">
                    密码：
                  </span>
                  <el-input
                    :key="passwordType"
                    ref="password"
                    v-model="loginForm.password"
                    :type="passwordType"
                    placeholder="请输入密码"
                    name="password"
                    tabindex="2"
                    autocomplete="on"
                    @keyup.native="checkCapslock"
                    @blur="capsTooltip = false"
                    @keyup.enter.native="handleLogin"
                  />
                  <span class="show-pwd" @click="showPwd">
                    <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
                  </span>
                </el-form-item>
              </el-tooltip>

              <el-button :loading="loading" type="primary" style="width:100%;margin-bottom:30px;" @click.native.prevent="handleLogin">登录</el-button>

              <div>
                <!--              <span style="color: #999999;">还没有账号请先</span><a style="color: #3481f8" @click="turnToRegister">注册</a>-->
              </div>
            </el-form>
          </el-col>
        </el-row>
      </div>
    </div>
    <el-dialog title="Or connect with" :visible.sync="showDialog">
      Can not be simulated on local, so please combine you own business simulation! ! !
      <br>
      <br>
      <br>
      <social-sign />
    </el-dialog>
  </div>
</template>

<script>
import { validUsername } from '@/utils/validate'
import SocialSign from './components/SocialSignin'

export default {
  name: 'Login',
  components: { SocialSign },
  data() {
    const validateUsername = (rule, value, callback) => {
      if (!validUsername(value)) {
        callback(new Error('请输入用户名'))
      } else {
        callback()
      }
    }
    const validatePassword = (rule, value, callback) => {
      if (value.length < 6) {
        callback(new Error('请输入密码'))
      } else {
        callback()
      }
    }
    const platformMap = {
      'platform': '管理平台',
      'employee': '兼职平台',
      'company': '企业平台',
      'invoiceAgency': '开票平台'
    }
    const platformSelection = [
      { 'label': '个人', 'value': 'employee' },
      { 'label': '企业', 'value': 'company' },
      { 'label': '开票人员', 'value': 'invoiceAgency' },
      { 'label': '管理平台', 'value': 'platform' }
    ]
    return {
      loginForm: {
        username: '',
        password: ''
      },
      loginRules: {
        username: [{ required: true, trigger: 'blur', validator: validateUsername }],
        password: [{ required: true, trigger: 'blur', validator: validatePassword }]
      },
      passwordType: 'password',
      capsTooltip: false,
      loading: false,
      showDialog: false,
      redirect: undefined,
      otherQuery: {},
      showSelection: false,
      platformKey: 'employee',
      platformMap: platformMap,
      platformSelection: platformSelection
    }
  },
  watch: {
    $route: {
      handler: function(route) {
        const query = route.query
        if (query) {
          this.redirect = query.redirect
          this.otherQuery = this.getOtherQuery(query)
        }
      },
      immediate: true
    }
  },
  created() {
    // window.addEventListener('storage', this.afterQRScan)
  },
  mounted() {
    // 调试模式，端选择
    const domain = window.location.host
    if (domain) {
      this.showSelection = true
    }

    this.setPlatformKeyByDomain(domain)

    if (this.loginForm.username === '') {
      this.$refs.username.focus()
    } else if (this.loginForm.password === '') {
      this.$refs.password.focus()
    }
  },
  destroyed() {
    // window.removeEventListener('storage', this.afterQRScan)
  },
  methods: {
    turnToRegister() {
      this.$router.push('/homepage/registerPerfect')
    },
    // 获取端
    setPlatformKeyByDomain(domain) {
      // 判断域名
      console.log(domain)
      // 获取storage
      const platformKey = localStorage.getItem('qionglong_platfrom_key')
      if (platformKey && (!!this.platformMap[platformKey])) {
        this.platformKey = platformKey
      }
    },
    setPlatformKeyBySelect(platformKey) {
      console.log(platformKey)
      if (platformKey && (!!this.platformMap[platformKey])) {
        localStorage.setItem('qionglong_platfrom_key', platformKey)
        this.platformKey = platformKey
      }
    },
    checkCapslock({ shiftKey, key } = {}) {
      if (key && key.length === 1) {
        if (shiftKey && (key >= 'a' && key <= 'z') || !shiftKey && (key >= 'A' && key <= 'Z')) {
          this.capsTooltip = true
        } else {
          this.capsTooltip = false
        }
      }
      if (key === 'CapsLock' && this.capsTooltip === true) {
        this.capsTooltip = false
      }
    },
    showPwd() {
      if (this.passwordType === 'password') {
        this.passwordType = ''
      } else {
        this.passwordType = 'password'
      }
      this.$nextTick(() => {
        this.$refs.password.focus()
      })
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== 'redirect') {
          acc[cur] = query[cur]
        }
        return acc
      }, {})
    },
    handleLogin() {
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('user/login', this.loginForm)
            .then(() => {
              // 跳转到首页，防止切换的时候404
              this.$router.push({ path: '/', query: this.otherQuery })
              this.loading = false
            })
            .catch(() => {
              this.loading = false
            })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>
<style scope>
  /*//写自己的样式*/
  .login-container .el-input input {
    border-radius: 0px;
    background: none;
    border:none;
    outline: none;
    width: 100%;
  }
  .outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
</style>
<style lang="scss">
  /* 修复input 背景不协调 和光标变色 */
  /* Detail see https://github.com/PanJiaChen/vue-element-admin/pull/927 */

  $bg:#283443;
  $light_gray:#fff;
  $cursor: #fff;

  .login_form_container {
    /*padding-top: 160px;*/
    background-color: #0D295E;
    height: 280px;
    margin: auto auto;
    font-size:12px;
  }
  /* reset element-ui css */
  .login-container {
    .el-input {
      display: inline-block;
      height: 45px;
      width: 50%;
        input {
            border-style:none;
            width:160px;
            padding-left: 0;
        }
    }

    .el-form-item {
      border-bottom: 1px solid #999999;
      /*background: rgba(0, 0, 0, 0.1);*/
      /*border-radius: 5px;*/
      /*color: #454545;*/
    }
  }
</style>

<style lang="scss" scoped>
  $bg:#2d3a4b;
  $dark_gray:#889aa4;
  $light_gray:#eee;

  .login-container {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    min-height: 100%;
    width: 100%;
    background-image: url('../../assets/img/WechatIMG32.png');
    overflow: hidden;
    background-repeat: no-repeat;   //不重复
    background-size: 100% 100%;
    .login-form {
      position: relative;
      max-width: 300px;
      overflow: hidden;
    }

    .tips {
      font-size: 14px;
      color: #fff;
      margin-bottom: 10px;

      span {
        &:first-of-type {
          margin-right: 16px;
        }
      }
    }

    .svg-container {
      padding: 6px 5px 6px 0px;
      color: #3481f8;
      vertical-align: middle;
      width: 25px;
      display: inline-block;
    }

    .label-show{
      color:#999999;
      width: 60px;
    }
    .title-container {
      position: relative;

      .title {
        font-size: 26px;
        color: $light_gray;
        margin: 0px auto 40px auto;
        text-align: center;
        font-weight: bold;
      }
    }

    .show-pwd {
      position: absolute;
      right: 10px;
      top: 7px;
      font-size: 16px;
      color: $dark_gray;
      cursor: pointer;
      user-select: none;
    }

    .thirdparty-button {
      position: absolute;
      right: 0;
      bottom: 6px;
    }

    @media only screen and (max-width: 470px) {
      .thirdparty-button {
        display: none;
      }
    }
    .outer {
      display: table;
      position: absolute;
      height: 100%;
      width: 100%;
    }
    .middle {
      display: table-cell;
      vertical-align: middle;
    }
  }

</style>
